[2019-12-30 01:48] taliove opened #2243 "When markdown exports PDF, the directory cannot be redirected"
## Environment

Joplin version: 1.0.175
Platform: Windows
OS specifcs: Windows 10

## Steps To Reproduce

1. Open markdown note
2. Export to a PDF file
3. check the exported file, you can't jump to the specified location if you click on the item in the directory

## Other problems:
- The style of exporting PDF cannot be specified
- When exporting, the screen will jump to the bright white style, an

[2019-12-30 01:55] laurent22 commented on #2243
English language is preferred here, or else include screenshots that show the problem.

[2019-12-30 01:59] taliove commented on #2243
I'm sorry, but my English is just so-so.
I'll try Google translate.

[2019-12-30 03:33] D4nte opened #2244 "Mac OS - Emoji scramble"
## Environment

Joplin version:
[code]
Platform: macOS Mojave 10.14.6

## Steps To Reproduce

1. Create new note
2. Enter "foo"
3. Move cursor to the left of "foo": `|foo`
3. Press control+command+space to enter emoji
4. Select ✅ emoji: `✅foo`

Expected: cursor works as usual.
Actual: The cursor has issues. `|` represents the cursor:
- When moving the cursor to the right, at most it goes to here:

[2019-12-30 12:30] glowinthedark commented on #2232
@tessus: ok, that's a reasonable workaround; but there is still a defect here: clicking the notebook name in the `📙In:` icon (on the toolbar) _does_ highlight the notebook, but it _**does not scroll it into view**_ when you have  more notebooks that can fit in the sidebar viewport.

[2019-12-30 15:08] bronson commented on #1396
@etho201, explaining my thumbs-down: OneNote's forcing everything into a three-level hierarchy is why I'm getting off it. Not only is it a big waste of space, it takes an unreasonable amount of time to force my note taking to fit this arbitrary structure. After using OneNote, I'm going to avoid note taking apps that force the user to create no-op sections/pages just to write something. Also, havin

[2019-12-30 15:18] laurent22 commented on #1396
For general discussion about Joplin design please use the forum. I've now added a spec to this issue to narrow down the scope a bit, in case someone wants to have a go at it as a "good first issue".

[2019-12-30 18:55] gerroon opened #2246 "Appimage cant be run due to permissions"
Hi

The Joplin-1.0.177.AppImage version seems to be having some issue with permissions. Since this is not a proper app it is not possible fix the permission prior to launching and running with `sudo` also gives `Running as root without --no-sandbox is not supported. See https://crbug.com/638180`

I am running it on Debian bullseye/sid

[code]

[2019-12-30 19:03] rahul1bh commented on #2160
Issue is also exactly same in iPhone 11 Pro.

[2019-12-30 21:39] kimini81 commented on #485
I can only agree with the previous speakers. I scan almost all documents with a Fujitsu Scansnap ix500 and it would be absolutely awesome if you could search these PDFs in Joplin.

[2019-12-30 22:13] #767 closed

[2019-12-31 09:07] atoav commented on #2219
Okay found a solution.

What I did was to use _my own_ username and password, while in fact I should have created a _device password_ for Joplin and used that one instead. That means I had to go to `Settings → Personal: Security → Devices & Sessions` and create a new App name and password there for Joplin.

Once I used this newly generated password from within Joplin it worked.

This is a bit of a

[2019-12-31 09:07] #2219 closed

[2019-12-31 10:34] #1210 closed

[2019-12-31 10:34] #1351 closed

[2019-12-31 15:52] umbellipher opened #2249 "v177 does not sync over WebDAV on W10"
Windows 10.
I have checked the WebDav connection for integrity in 177, and it passes.
But 177 does not pick up changes synced to the cloud via my Android instance.
I tried reverting to 176, but 177 has changed the profile system, so that does not seem possible.
Can you advise, please?

[2019-12-31 16:08] christianlupus commented on #387
@laurent22 Could you please reopen this issue as it is not solved according to my knowledge. Thank you.

[2019-12-31 18:07] Hillside502 commented on #15
think you mean free as in freedom

[2019-12-31 19:45] tessus commented on #2219
Aha, 2FA and tokens....

[2019-12-31 22:07] gerroon opened #2252 "{"error":"Internal Server Error: Cannot read property 'childNodes' of undefined"} when clipping a certain page"
Hi,

For some reason this page throws the error below when clipping using the Firefox addon. I tried this both on Linux and Windows with the same issue.  However I do not get this issue with other pages from the same domain.

his error happens only when clipping "complete page" , the other clipping options do not cause any issues.

https://docs.blender.org/api/blender2.8/bpy.types.Operator.html

[2019-12-31 22:56] devonzuegel commented on #1396
Good call @laurent22! Also I'm excited for this feature.

Suggestion: It might be useful to close this and create a separate issue to minimize confusion for anyone who might take this task. `Good first issue`s are meant to be as un-intimidating as possible, and seeing a long nuanced conversation attached to a task has the opposite effect.

[2019-12-31 23:42] devonzuegel commented on #1944
You're referring to this infobox right? I'd love to have this info more visible! Good idea.

![image](https://user-images.githubusercontent.com/6979755/71636381-bcaef100-2c0d-11ea-8938-b79985ce89ba.png)

There isn't a ton of info in there, so maybe instead of taking up an entire vertical panel, it could be something that takes a little less space. Perhaps something like the footers in text editors

[2020-01-01 09:44] DarylSun opened #2253 "White bars in menu in W10 High Contrast theme"
## Environment

Joplin version: Desktop 1.0.177
Platform: Windows 10
OS Specifics: Version 1909

## Steps to Reproduce
1. Activate a High-Contrast theme.
2. Open Joplin.

Expected behavior: Application menu bar is completely black.
Actual behavior: Application menu bar have white bars.
![image](https://user-images.githubusercontent.com/46442682/71639963-40ea8e00-2c79-11ea-8704-98097519ff42.png)

#

[2020-01-01 09:49] Enzime commented on #1168
This can be achieved on Joplin using the HTML5 `details` tag, just like on GitHub with its Markdown:

[code]

<details><summary>Click me</summary>

`inline Markdown code`
</details>

[2020-01-01 09:49] archont00 commented on #468
@IpeTek: How do you get your voice memos to NC? My way, however sub par:

- Use built in Voice recorder (Samsung in my case) + rename manually.
- Setup FolderSync app to one-way sync of Voice Recordings to my NC via WebDav and removing from local recordings folder. (Once a day schedule.)
- Search via file name in a dedicated NC folder (via NC Android App or any other interface).

Having the abilit

[2020-01-01 10:11] subi54 commented on #1168
Yes, but you can't use markdown between those tags. Plus, collapsible sections are supposed to be far more intuitive than HTML's details tag.

[2020-01-01 10:16] Enzime commented on #1168
You can use Markdown between those tags, check my previous example. However I do agree that using the `details` tag would just be a workaround at best, and something that integrated better would be best.

[2020-01-01 11:04] subi54 commented on #1168
@Enzime, it does work. Thanks for the tip. I must be doing something wrong before for it to not work. Tell me, if you do # headings, do they show up in toc?

P.S. I think it was because of not leaving any line between the html tags and markdown.

[2020-01-01 12:16] mic704b opened #2254 "Desktop: Export note to PDF sometimes exports wrong note"
## Environment
Joplin version: 176 desktop
Platform: Linux
OS specifcs: Ubuntu 18.04

## Steps To Reproduce
1. Create two notes A and B
2. Select note A in the note list
3. Right-click on note B and select `Export to PDF`

Expected: Note B is exported to PDF file
Observed: Note A is exported to PDF file

[2020-01-01 18:10] taw00 opened #2256 "1.0.177 and 1.0.178: git repo not found error when building"
I'm building the app. I see this. It doesn't say much that I understand, but ...
[code]

[2020-01-02 01:04] #1376 closed

[2020-01-02 01:08] ioogithub opened #2257 "Joplin stuck in a loop trying to decrypt resources"
## Problem
I have installed a fresh installation of Joplin on my Android phone. It is now stuck in a loop trying to decode resources and failing.

## Environment
Joplin version: 10.0.312
Platform:
OS specifcs: Android 9.0

## Steps To Reproduce
1. Install Joplin apk
2. Configure sync
3. Start sync.

## Describe what you expected to happen:
I expect Joplin will continue to download and decrypt reso

[2020-01-02 03:04] #887 closed

[2020-01-02 07:33] jlgarnier commented on #2166
Hi Laurent,

I'm still waiting for an answer to my previous message: "Got an answer from Microsoft asking for a **screenshot of the error message**. Can you please capture one and send it by PM? Or maybe **give an email address** so I can put you in CC of my return to MS..."

Microsoft now wants to close the case and I asked them to wait a bit, as I'm (officially ;-)) on holidays, but I'm afraid w

[2020-01-02 09:30] jacksonjzu opened #2258 "Joplin 1.0.177 won't display evernote exported notes"
## Environment

Joplin version: 1.0.177
Platform: Windows, Mac
OS specifcs:

## Steps To Reproduce

1. Import an evernote note
2. Click on the imported note
3. The preview area won't be refreshed just stuck at the previous note.
4. Clicking other non-imported notes works fine.

## Describe what you expected to happen:
Joplin should display the imported notes.

## Logfile

[2020-01-02 13:03] #1623 closed

[2020-01-02 16:07] taw00 commented on #2256
The application successfully builds, but when run, it looks like this (see image: all white, just a window frame really). I don't know if the issue initially reported with this bug and the failure to run (see image) are related. Note: the appimage you guys built seems to work fine. Both the appimage and my build, when run from the commandline, show the same minor errors, so I don't know what is go

[2020-01-02 19:19] tatoosh commented on #876
this woud be a killer feature. all other notes app still can release this.
or is there a workaround?

[2020-01-02 21:58] steveardis commented on #359
I was able to do this by selecting multiple notes and then dragging them over on top of the tag name on the sidebar.

[2020-01-03 02:10] ioogithub commented on #2257
I have more information to share on this issue.

I believe it is actually two bugs:

Bug 1: "DecryptionWorker: error for: xxxxxxxx (resources)", "Error: json decode: this isn't json!

Bug 2: DecryptionWorker: xxxxxxx decryption has failed more than 2 times - skipping it"

Bug 1 causes Bug 2 and the error message reported by Bug 2 is erroneous as it doesn't actually skip it, it sends Joplin into a

[2020-01-03 03:16] ioogithub commented on #2185
Yes, I have had this issue however it is highly inconsistent. Sometimes it will work as expected, other times it will redraw the window in a completely random place. I haven't reported it yet because I can't reliable reproduce it but I have seen it on Windows and Linux for several months.

[2020-01-03 03:40] ioogithub commented on #1546
Yes, I too can confirm this behavior is still happening on 1.0.174 and it drives me crazy. Joplin keeps scrolling with every new line until it has scrolled right off the screen. It really disrupts the workflow, I have actually started using a regular text editor outside of Joplin and pasting the work into Joplin in blocks. This way I can still get the benefit of backing up and securing the data bu

[2020-01-03 07:43] i-need-to-tell-you-something commented on #1546
@ioogithub Instead of copy-pasting the text, can't you just use the external editor option? You can point to the path of the executable you wish to use in <kbd>Options</kbd> > <kbd>General</kbd> > <kbd>Text Editor Command</kbd>. The default hotkey to use it then when a note is selected is <kbd>CTRL</kbd>+<kbd>E</kbd>.

[2020-01-03 09:13] christianlupus commented on #359
This seems to work. I was not aware of this UI "trick" to **add** tags.

However, you cannot batch-remove them. I tried removing the note when in the tag filter (clicking left on the tag name) but this removed the note completely.

[2020-01-03 10:55] pihentagy opened #2259 "Import hidden directories"
## Environment

Joplin version: 1.0.175 (prod, linux)
Platform: Linux
OS specifcs: Linux Mint 19.3

## Steps To Reproduce

1. File :arrow_right:  Import :arrow_right: MD - Markdown (Directory)
2. Hidden directories (like `.git` are incuded)

Hidden directories should be excluded by default or at least asked to be included or not.

[2020-01-03 11:00] pihentagy opened #2260 "Import should skip empty directories"
## Environment

Joplin version: 1.0.175 (prod, linux)
Platform: Linux
OS specifcs: Linux Mint 19.3

## Steps To Reproduce

0. A directory tree with some directories having zero markdown files
1. File :arrow_right:  Import :arrow_right: MD - Markdown (Directory)

Empty directories (directories without any "real" [^1] content) should be excluded by default or at least asked to be included or not.

[

[2020-01-03 12:27] rnbergren commented on #582
please leave open.  Would love someone to try this

[2020-01-03 16:59] Trilarion opened #2261 "PROPFIND : Unknown error 2 (500): (Code 500) with WebDAV synchronization"
Cannot synchronize with WebDAV from my webspace provider (udmedia.de). It gives an error with Joplin. The displayed error message after a few seconds waiting time is: PROPFIND .lock/: Unknown error 2 (500).

From Edge for example access seems to work. Folders ".sync", ".resource", ".lock" are created.

## Environment

Joplin version: 1.0.175
Platform: Windows
OS specifcs: 10

## Steps To Reproduce

[2020-01-03 18:07] #1838 closed

[2020-01-03 22:36] tessus commented on #2261
This is a user question. Please use the forum.

It looks like you have authorization issues with your provider. Is 2FA enabled? In that case, you usually have to create a token on the server and use that instead of the password.
Either way, error 500 is an internal server error. Thus talk to the server admin.

This is not a bug in Joplin.

[2020-01-03 22:36] #2261 closed

[2020-01-03 23:15] Trilarion commented on #2261
Are you sure, that it's not a bug in Joplin? As I wrote, using the very same WebDAV URL and user name as well as password I can access the WebDAV space just fine with a browser like Edge or the Windows explorer at exactly the same time? From my perspective the only thing that doesn't work is Joplin currently.

I'm happy to post at the forum, just wanted to check that it's really not a bug.

[2020-01-03 23:22] tessus commented on #2261
Let's put it that way. 97% of these error messages turn out to be the user's fault. Or the provider's.
We like to use the gh issue tracker to track real/reproducible bugs, so if we find out it is one, we can re-open this or create a new one.

e.g. we have test cases for webdav. They pass.
I use Nextcloud - which uses webdav - and it works. I have an Apache webdav endpoint for testing. It works. I

[2020-01-03 23:30] Trilarion commented on #2261
Okay, will use the forum.

[2020-01-04 03:49] ThomasChaffey opened #2263 "Cannot find module 'lib/JoplinServerApi.js'"
Get this module not found error (lib/JoplinServerApi.js) with a new installation of the latest version on a freshly updated Arch Linux machine.

(Unable to launch the desktop app either).

## Environment

Joplin version: 1.0.175-2 (Arch Linux AUR package: https://aur.archlinux.org/packages/joplin/)
Platform: Arch Linux
OS specifics: Just ran a system update

## Steps To Reproduce

1. run `joplin`

[2020-01-04 04:56] tessus commented on #2263
@ThomasChaffey we do not provide AUR packages. Please talk to the maintainer.

[2020-01-04 04:56] #2263 closed

[2020-01-04 07:38] #1735 closed

[2020-01-04 07:38] #1734 closed

[2020-01-04 07:38] #1737 closed

[2020-01-04 07:38] #518 closed

[2020-01-04 18:20] laurent22 commented on #2263
@tessus, I didn't try the latest version of the CLI tool, but are we sure it's actually working? I seem to remember someone else filed a similar bug?

[2020-01-04 18:59] icopp opened #2265 "File system sync doesn't include resources"
## Environment

Joplin version: 1.0.176
Platform: macOS
OS specifics: 10.15.2

## Steps To Reproduce

1. Set file system sync and point it at a path that you sync yourself via other means (rsync, iCloud Documents, etc)
2. Do the same on a different computer using the synced folder
3. See that none of the attached resources are included in the sync

**Describe what you expected to happen:**

Attach

[2020-01-04 21:08] tessus commented on #2263
@laurent22 I'm running the latest CLI (available from npm) on Linux and macOS. Both work.

I also tried git master and it runs as well w/o issues. I think `npm i` was not run properly when building the AUR package. Or a wrong node version was used.

[2020-01-05 10:50] gombosg opened #2266 "Enhancement: cycling layouts backwards with right-click (instead of setting sequence?)"
Coming from #1900, what do you think about the behavior to cycle selected layouts backwards when right-clicking the layout button? (plus a shortcut like ctrl+shift+l)

This feature could optionally also make layout button sequences unnecessary since the user could reach any layout from any other (or we can have both options) with a single click or keyboard shortcut.

Advantage: as a user I can rea

[2020-01-05 11:12] laurent22 opened #2267 "Clipped page has duplicate images"
https://discourse.joplinapp.org/t/bug-in-web-clipper/4996

https://makeanddocrew.com/free-crochet-hexagon-sweater-pattern-part-1/

[2020-01-05 12:18] laurent22 opened #2268 "Add support for notebook icons"
### Application

- Desktop
- Mobile

### Description

We would like to support notebook icons in the sidebar, as is done for example in Bear. See screenshot below:

![image](https://user-images.githubusercontent.com/48426607/55658635-32874880-57b3-11e9-97fd-387b0b7654e8.png)

### Specification

- Add a new `icon` property to the `Folder` object - it will be a string that will take any of the [Fork

[2020-01-05 12:18] laurent22 commented on #1396
Good point @devonzuegel - I've moved the issue there: https://github.com/laurent22/joplin/issues/2268

[2020-01-05 12:20] laurent22 commented on #1396
@inimitablemind, although there are good ideas in this issue, it became more of a general discussion about Joplin's design. If additional self-contained issues can be extracted from these ideas, please go ahead and create new issues, or you may also move the discussion to the forum. In the meantime I will close this one.

[2020-01-05 12:20] #1396 closed

[2020-01-05 12:23] laurent22 commented on #1944
Hmm, I don't know. I've created this info box so that we can move all kind of info there and make it easily editable. If we move it to the status bar, we'll be restricted in how much info we can have and it's also trickier to make it editable. That doesn't mean we shouldn't have a status bar (and clicking on its items could open the info box), but I think that's two different issues.

[2020-01-05 12:28] laurent22 commented on #2256
As mentioned in BUILD.md, did you try this?

[2020-01-05 16:05] gombosg commented on #2266
@laurent22 please switch this to enhancement...

[2020-01-05 16:13] i-need-to-tell-you-something commented on #275
I see that the previously mentioned [electron-spell-check-provider](https://www.npmjs.com/package/electron-spell-check-provider#usage) only support en-US (for now).

I wanted to throw another idea in the air while not knowing much about the topic. [Enchant](https://en.wikipedia.org/wiki/Enchant_%28software%29) looks like something potentially usable. The things that caught my eye were user customi

[2020-01-05 16:58] devonzuegel commented on #1944
Oh, that makes sense. I like the idea of keeping it where it is and _also_ displaying the information in a smaller format in the status bar!

[2020-01-05 17:34] Kingxiao opened #2269 "I failed to reinstall the app,the terminal always says "failed to parse joplin""
**Enviroment**:
OS:Archlinux
Joplin version:v1.0.177

**Bug Details**:
when I run the command:
`yay -S joplin`
the terminal always reported me that:
`failed to parse joplin: Line 30: key "pkgbase" can not occur after pkgbase or pkgname: pkgbase = joplin
`
I've tried to follow the [tips ](https://aur.archlinux.org/packages/joplin/?O=0&PP=10),edit the ".SRCINFO"  file:
`
yay -G joplin
cd joplin
nvim

[2020-01-05 18:05] laurent22 commented on #2269
We don't support yay

[2020-01-05 18:05] #2269 closed

[2020-01-05 18:09] laurent22 opened #2270 "check syncthing issue"
Try to replicate file overwrite bug in Android

https://discourse.joplinapp.org/t/item-cannot-be-null-error/3001

[2020-01-05 18:11] laurent22 commented on #2265
Can't replicate. Please use the forum for support

[2020-01-05 18:11] #2265 closed

[2020-01-05 18:13] laurent22 commented on #2260
The tool expects a clean dir hierarchy so you would need to remove the empty dirs if you don't want them to be imported.

[2020-01-05 18:13] #2260 closed

[2020-01-05 18:14] laurent22 commented on #2258
Imported as HTML or as Markdown?

[2020-01-05 18:15] laurent22 commented on #2253
I think this is an Electron issue.

[2020-01-05 20:27] eodeluga opened #2271 "Turn off note recording geo location default option"
I believe this impacts security, is not essential, and any user that wants it should know how to turn it on, so therefore I would suggest this option not be enabled by default. Thanks.

[2020-01-06 00:10] laurent22 commented on #2271
To discuss issues please use the forum

[2020-01-06 00:10] #2271 closed

[2020-01-06 01:42] laurent22 opened #2273 "Clipped note appears to be broken"
https://discourse.joplinapp.org/t/cant-tell-if-sync-is-complete/5012/2

[2020-01-06 02:53] Iorest opened #2275 "Error: Invalid property format: Stick Bi:"
Maybe There is some error，how can I fix my files

[2020-01-06 05:53] jacksonjzu commented on #2258
Imported as HTML, the notes have something like <en-note> at the beginning tag

[2020-01-06 14:42] laurent22 commented on #2275
Not enough info to help and please use the forum for support.

[2020-01-06 14:42] #2275 closed

[2020-01-06 18:29] Trilarion commented on #2261
I contacted my webspace service. It was able to reproduce and solve the problem. It now works. Thanks for taking the time and answering to this report here.

[2020-01-06 18:43] taw00 commented on #2256
I'll take a look. Holidays. Just meant I took a preliminary stab at it. I'll let you know.
-todd

[2020-01-06 19:01] taw00 commented on #2256
The console error says that loader.js is not there, which is unsurprising since there is a git failure in the build process. I will try to dig into why that git repo is not resolving.

[2020-01-06 19:26] taw00 commented on #2256
Maybe more info is helpful. This happens within the `npm install` after the `cd ElectronClient/app` ...
[code]

[2020-01-06 21:23] #469 closed

[2020-01-06 21:25] tessus commented on #2261
Can you please let us know what the fix was? This might help others with the same error in the future. This is the reason why this should have been done on the forum. Now nobody knows about it and nobody knows what the problem was....

[2020-01-07 09:17] manuelm commented on #2261
Our WebDAV service was unable to generate an ETag-Header for a directory and returned an HTTP 500 instead. ETags for files were working fine though.

[2020-01-07 10:28] maxadamo opened #2276 "Could not authenticate using NextCloud"
## Environment

Joplin version: 1.0.175 (Linux)
Platform: either Linux and Android
OS specifcs: either Linux and Android

## Steps To Reproduce

1. I used my owncloud URL: `https://<MYUSER>.owncube.com` and it worked from one laptop. I came to the office to configure the second laptop and it threw the error:
**PROPFIND : Unknown error 2 (405) : Code 405**
2. I tried from Android and I got the same

[2020-01-07 10:34] laurent22 commented on #2276
It's a server config error. 405 means PROPFIND method is not allowed, so it needs to be allowed.

[2020-01-07 10:34] #2276 closed

[2020-01-07 10:54] maxadamo commented on #2276
this evening I'll try again from home (in the laptop where it worked yesterday).
I got this nextcloud account yesterday, and I am not understanding what could have changed over night.
The only thing that I understand now, is that the WebDav url is using a GET, while the other doesn't.

[2020-01-07 10:55] maxadamo commented on #2276
on the other side, I assume this method is used by the NextCloud client as well, but that one is working.

[2020-01-07 13:13] wisp3rwind opened #2277 "Incorrect alignment of content nested below checkboxes"
When nesting some content below a checkbox, (e.g. a a list or a longer descriptive text or a quote, cf. the screenshot below), I would expect them to be aligned with the first letter of the checkbox item (the `b` and `c` in the screenshot). Currently, Joplin renders them aligned with the checkbox itself such that the nesting cannot be discerned from the rendered output.
The expected output would b

[2020-01-07 13:17] wisp3rwind opened #2278 "Checkboxes with empty labels render raw markdown"
Pretty minor, but I think it would be preferable to render a checkbox with no text following it in the example shown in the screenshot instead of showing the raw `- [ ]`.

## Environment

Joplin version: 1.0.175
Platform: Linux
OS specifcs: Arch

## Steps To Reproduce
(see screenshot)
![Screenshot_2020-01-07_14-00-56](https://user-images.githubusercontent.com/17089248/71897903-34be6f00-3158-11ea-8

[2020-01-07 21:16] axq commented on #2278
This happens for Windows as well.  Also agree it's very minor, I can't come up with real use cases for an unlabeled box.
Joplin version: 1.0.175
Win 10 Pro 1903

[2020-01-07 23:26] ThomasChaffey commented on #2263
Can confirm that it works fine when installed with npm directly.  Apologies for not checking this before filing the bug.

[2020-01-08 05:33] jayhill commented on #2166
I am seeing this error every time as well, also on Win 10 with Joplin 1.0.175, except for the most part my note changes seem to be synchronizing successfully. _Something_ isn't working, but it isn't a total failure to connect and upload/download changes.

[2020-01-08 06:52] jlgarnier commented on #2166
Agreed. Unfortunately, the sync doesn't go through on desktop terminals: notes updates or notebook creation do not display out of the desktop used to perform them and I always use desktop to edit. However, updates are correctly displayed by the Android app, which is supposed to pull data from the same OneDrive source...

[2020-01-08 07:37] eagleonfire commented on #2166
So I spent some time looking into my use case and it appears as though my notes adds/changes are going up to OneDrive from Joplin 1.0.175 from every one of my devices (Android phone/tablet, Mac, and two Win 10 PCs), but the add/changes do not come down to the Win 10 configuration that has Windows 10 Home to OneDrive at version 1903 and OS build 18362.535. That is my machine that gives the "Last er

[2020-01-08 09:40] laurent22 opened #2279 "Handle Thai language in search engine"
The search engine uses FTS, which works only with alphabetical languages. Non-alphabetical ones, like Japanese, Korean, etc. are detected and handled in a special way - in this case we don't use FTS but do a simple plain text search (called "basic search" in Joplin).

We need to add the Thai language to that list of special cases. For that, have a look at `SearchEngine::search` to see how the swit

[2020-01-08 09:59] jlgarnier commented on #2166
This is great diagnosing! Looks like I also fell into this trap, as my OS/OneDrive config is the same... Is there any logfile we could throw to Microsoft for debugging this? I've opened a ticket with their customer support for this case.

[2020-01-08 10:04] laurent22 commented on #2166
Anyone has a packet inspection tool like Wireshark? It would be useful to see what request exactly is giving this error message, then we could provide this along with the error messages I've extracted [above](https://github.com/laurent22/joplin/issues/2166#issuecomment-566969841) to Microsoft.

They want a screenshot but they should know it's an API so all we can provide is a screenshot of the err

[2020-01-08 11:00] jlgarnier commented on #2166
Yes Laurent, I'll try to install Wireshark and catch the exact transaction data exchange. I'll let you know later of the outcome and will add your comments before sending it back to Microsoft...

[2020-01-08 11:50] laurent22 commented on #2278
The definition of a checkbox is quite strict: it's `- [ ] ` followed by at least one character, otherwise it's not considered a checkbox.

[2020-01-08 11:50] #2278 closed

[2020-01-08 12:43] wisp3rwind commented on #2278
Well, it can occur when writing a note and being interrupted midway. I found it rather unintuitive that the checkbox did not render. If however the markdown spec is explicit about this, it's clearly the correct behaviour, though.

[2020-01-08 14:39] laurent22 opened #2280 "Add more info to the "Unknown profile version" dialog box"
It should include:

- App version number
- Profile version that the client expects
- Profile version of database.sqlite

Also add profile version to About box in desktop client.

[2020-01-08 15:40] matcharles commented on #2246
Are there any update on this? I am getting the same problem on Kali (being root on default account).

When I use the `--no-sandbox` option, I will get a `Unknown flag:--no-sandbox`

I am using v1.0.177 appimage running Kali on 4.19.28 in vmware

v1.0.175 does work properly.

[2020-01-08 18:09] improvethings opened #2282 "Notebooks not in sync across devices"
I have two Macbook Pros with High Sierra and Joplin 10.0.175. They're both using the same Nextcloud folder to sync with, but each version of joplin has different files. For example, I have a Notebook called "journal" where I journal each date, and the note is the day.
I just wiped ~/.config/joplin-desktop, opened joplin, logged into the nextcloud joplin folder, and it did sync many of the files, b

[2020-01-08 18:30] tessus commented on #2261
@manuelm thanks!

[2020-01-08 18:33] joelcarlton commented on #2213
I don't have any code for this. I created this issue as a bug but maybe it should be a feature request. Importing Evernote as MD has broken to many notes for me; html seems to be the only way to preserve the original contents. I would think the CLI import should mirror the application.

[2020-01-08 19:47] maxadamo commented on #2276
@laurent22 I found out, that in order to use NextCloud I still need to suffix the URL with: `/remote.php/webdav/`.
I thought it was guessing the suffix, and the first time it did! Anyway... there is more.

As you can see from the screenshot below, I also need to add `/Applicazioni/Joplin` (yeah, that's the Italian for `Applications`) otherwise it starts syncing all the MD files in the root directo

[2020-01-08 20:05] laurent22 commented on #2276
This is all documented in the readme.

[2020-01-08 20:05] #2267 closed

[2020-01-08 20:05] #1816 closed

[2020-01-08 20:05] #2252 closed

[2020-01-08 20:05] #2270 closed

[2020-01-08 23:29] tessus commented on #2261
https://discourse.joplinapp.org/t/propfind-unknown-error-2-500-code-500-with-webdav-synchronization/5081?u=tessus

[2020-01-09 02:17] ABonner commented on #2244
Seems to only happen with certain emoji/unicode characters.

😀foo  is fine

[2020-01-09 08:33] #1950 closed

[2020-01-09 08:59] kir4h commented on #498
Adding also my vote, being able to indent directly without the `Home`/`End` overhead would come really handy.

And in the meantime: Thank you so much for Joplin!

[2020-01-09 12:30] laurent22 commented on #2282
For support requests, please try the forum, but I think it will be hard to help without more info.

[2020-01-09 12:30] #2282 closed

[2020-01-09 12:31] laurent22 commented on #2243
This should be fixed in coming versions.

[2020-01-09 12:31] #2243 closed

[2020-01-09 13:20] cbop-dev commented on #1168
While using `<details><summary>` tags is a work-around (and what I currently use), it is not ideal since it clutters the markdown with HTML, is not automatic, and does not easily allow one to make the heading itself clickable on a single line.  To make this latter possible, I've found this further workaround with `details/summary` tags. In `userstyle.css`, add the following CSS code:

    summary

[2020-01-09 14:26] jlgarnier commented on #2166
Installed Wireshark but it seems the tool doesn't allow to capture network traffic from a specific application. I'm investigating other tools and will let you know...

[2020-01-09 20:39] tessus commented on #2280
I'd like to add a `Copy` button to the About dialog box to copy all necessary info to the clipboard. Maybe people stop pasting screenshots of the About box then ;-)
What do you think? Or no button, and we copy the info automatically to the clipboard  when opening the About dialog.

[2020-01-09 22:52] laurent22 commented on #1095
Closed in favour of #279 279

[2020-01-09 22:52] #1095 closed

[2020-01-10 01:10] D4nte commented on #2244
It looks like emojis that are 4 bytes are fine but the issue only appears with 3 bytes emojis: https://apps.timwhitlock.info/emoji/tables/unicode

[2020-01-10 02:24] ABonner commented on #2244
Appears to be an upstream bug in React-Ace, which is used for that editor panel.

Can be reproduced in the online demo http://securingsincity.github.io/react-ace/

[2020-01-10 02:28] ABonner commented on #2244
Which I guess is a React Wrapper around "Ace" which is a vanilla Javascript editor, with the same issue as well.

https://ace.c9.io/

[2020-01-10 03:09] khoazero123 opened #2283 "Web clipper: load extension error: Cannot access a chrome:// URL"
`Could not load content scripts Error: tabsExecuteScript: Cannot load {"file":"/content_scripts/JSDOMParser.js"}: Cannot access a chrome:// URL`

## Environment

Joplin version: master branch
Platform: Chrome - Linux
OS specifcs: Chrome Version 79.0.3945.88 (Official Build) (64-bit)

## Steps To Reproduce

1. Access: chrome://extensions/
2. Enable Develop mode
3. cd Clipper/joplin-webclipper/popup

[2020-01-10 03:18] khoazero123 commented on #2283
I'm sorry, maybe I click extension icon on the Tab chrome://extensions/

[2020-01-10 03:18] #2283 closed

[2020-01-10 05:22] AshleyYakeley opened #2284 "Put internal and external links in different CSS classes"
I want to be able to distinguish internal and external links by color, rather than by icon. Right now I can easily remove the icon in my userstyle.css:
[code]
However, there's no way in CSS to distinguish between internal and external `a` elements. I want to make them two different shades of blue.

**Feature request:** add classes to the `a` elements that distinguish internal and external links.

[2020-01-10 07:32] AshleyYakeley commented on #2284
OK, I discovered that I can use the CSS selector `a[data-resource-id]` to distinguish them. So I guess this isn't necessary.

[2020-01-10 07:32] #2284 closed

[2020-01-10 11:13] alfredopalhares commented on #2263
Hello, maintainer of the AUR package here, this issue should be fixed in the latest release of the package.
Next time please report the bug [here](https://github.com/alfredopalhares/joplin-pkgbuild/issues)

[2020-01-10 15:54] gitoss opened #2286 "Add a scrollbar in note editor and viewer"
Due to the lack of (draggable) scoll bars, extensive swiping is necessary to to navigate though longer documents.

1. In Edit mode, there is no scroll bar at all

2. In View mode, the is a scroll bar when swiping, but it just indicates the position in the document and is not draggable

Please implement a working right-side, permanent scrollbar like in Android apps like QuickEdit.  The scrollbar sh

[2020-01-10 16:07] gitoss opened #2287 "View starts at top, Edit at bottom [Android]"
The View mode starts at the top of the document, but when switching to Edit the cursor is at the bottom.

This might be an convenient idea, but every other text editing app I've ever encountered starts at the top or - like Word - at the last cursor position from a previous session.

What's worse, combined with #2286 it takes ages to get to the top of the document.

=> the Edit cursor position shou

[2020-01-10 17:01] davidpoza commented on #1209
I'm also suffering this problem. My device is a xiaomi a1, android 9. I hope React Native fixes it soon.

[2020-01-10 18:20] karlredman commented on #1167
Hi, I'm new to Joplin and just converted 10 years of notes I've managed in a complicated setup involving  Vimwki (markdown format files), a build system, a personal git repository, and Hugo (for web deployment). I'm an avid Vim user for all my editing.

With that said, relative to the topic, one of the most useful plugins for vim markdown editing is the [iamcco/markdown-preview.nvim: markdown prev

[2020-01-10 19:13] laurent22 commented on #1167
Implemented in coming version

[2020-01-10 19:13] #1167 closed

[2020-01-10 21:50] Neurogami commented on #2287
What makes more annoying is that it's the opposite of how the desktop version behaves, where editing starts at the top.

[2020-01-11 09:13] gitoss commented on #2287
I just discovered the 'features' forum there already is a thread about it, sorry, my bad:

https://discourse.joplinapp.org/t/start-editing-at-the-top-in-mobile-app-feature-suggestion/1594

... so feel free to close this bug if this is the wrong way to track this.

[2020-01-11 09:18] gitoss commented on #2286
I just discovered the features forum, and there already is a partial thread about this:

https://discourse.joplinapp.org/t/scroll-while-editing-note-on-mobile-android-app/4587

... feel free to close this bug if this is the wrong way to track this.

[2020-01-11 10:55] pasmon79 opened #2291 "Subnotebook on Iphone"

[2020-01-11 12:02] axq commented on #2287
There was even work done on a pull request already:  https://github.com/laurent22/joplin/pull/2025
It's on hold for now, but the problem is real, and I'm really looking forward to a resolution.

[2020-01-11 13:25] #2291 closed

[2020-01-12 03:16] mic704b commented on #2221
I think Joplin uses the [ACE](https://github.com/ajaxorg/ace) editor.  I tried it on their live demo and it didn't clear the line either, so raising an issue on that project might help.

[2020-01-12 14:37] jtagcat opened #2293 "Keyboard shortcut for Attach"
Joplin version: 1.0.174

I have seen `Ctrl`+`Shift`+`A` used for attaching files.
_Make Joplin mouseless!_

[2020-01-12 17:13] nkalvi opened #2294 "Firefox Web Clipper 1.0.19 truncates content with multiple code segments"
Firefox web clipper extension seems to truncate selected content when the selection contains code segments - it omits remaining content after the first code segment.

## Environment

Joplin version: Joplin 1.0.175 (prod, darwin)
Joplin Firefox Web Clipper version: 1.0.19
Platform: macOS
OS specifcs: 10.15.2

## Steps To Reproduce

1. Open https://developer.mozilla.org/en-US/docs/Web/JavaScript/Gui

[2020-01-12 21:01] dbogdanov commented on #915
Font size for note titles is independend

Haven't tried that, but this does not address font size for note titles as I understand.

This is still an issue. The titles can be at least made bold. It looks weird that the H1 headers in a note body are huge compared to the note title.

[2020-01-13 02:00] dbogdanov opened #2296 "Right-click to assign a note to a notebook"
Add a new option to assign a notebook for a note or multiple notes with a right-click.

Currently, the right-click leads to a popup menu which already contains "Add or remove tags". New option "Move to a notebook" would be very useful.

Like "Add or remove tags", it would open a dialog where the user can select the notebook from a dropdown list with typeahed.

The problem with a current way to ass

[2020-01-13 07:11] sciurius commented on #1656
Can someone disable that stupid stale bot?

[2020-01-13 07:38] tessus commented on #1656
@sciurius not really. As you can see nothing has happened for 90 days. So either someone works on it or this issue will be closed. We can also mark it so that the stalebot won't touch it.
Either way, the stalebot stays. This project is getting to big to handle the issues manually.

[2020-01-13 07:51] mic704b commented on #1399
+1

The most important is to display the tags. Being able to edit them would be a bonus.

[2020-01-13 09:00] sciurius commented on #1656
While this is a reasonable assumption for bugs (certain kinds of bugs -- the ones that are waiting for additional input or resources), I think it doesn't really apply to feature requests. These can sit for longer periods of time in open state until someone takes a shot at them.
Closing a feature request means it gets lost.

[2020-01-13 09:05] tessus commented on #1656
@sciurius I partly agree. But if nobody picked it up in 90 days, noone will pick it up later. That's why a feature request should be discussed on the forum first. Only accepted FR should be added to gh.

However, I believe this one is an accepted one, so it won't be closed by the stalebot.

[2020-01-13 09:12] tomasz1986 opened #2297 "Start minimised in tray does not work in Joplin Portable in Windows"
I believe that this may the same problem as described in https://github.com/laurent22/joplin/issues/2077.

In one word, enabling the "Start application minimised in the tray icon" option in Joplin settings does nothing when using the portable version in Windows.

I have tested both with my normal Joplin Portable installation, and also with a completely clean installation. There is no difference be

[2020-01-13 09:19] sciurius commented on #1656
Thanks!

[2020-01-13 13:21] lowne commented on #2244
😢 https://github.com/ajaxorg/ace/issues/4142 FWIW

[2020-01-13 16:49] m-angelov opened #2298 "Strange Alt-button behaviour"
I'm using two keyboard layouts and I switch between them with Alt+Shift. When I switch between layouts when editing a note, the editor gets stuck in the "Alt" mode - the first letter of the options in the menu get underlined. So I either have to press the Alt button again, or to click in the editing field to return the focus to the editor.

While trying to write this explanation better, I've found

[2020-01-13 18:56] pandrija commented on #498
+1
Joplin is great! This is my single gripe with it.
I'm sure that anyone using list indenting feels this.

[2020-01-13 21:30] taw00 commented on #2256
@laurent22
Did you change something where a git call is now being used somewhere buried in the scripts? I ran across something similar with my riot builds and it has something to do with js.sdk being new and versionings not lining up and a git call made mid-process and in certain circumstances everything fails because the repo acted upon ends up not being a git repo.

I am articulating that poorly

[2020-01-13 21:44] laurent22 commented on #2256
In compile-package-info.js we have some code that gets the current commit, but it's been there for a long time. There's a try/catch block to make sure that if the git commands fail, they don't prevent the app to build, so not sure what is happening.

[2020-01-13 21:55] taw00 commented on #2256
Okay. Thanks. I haven't had a solid block of time to really dig into it yet. I'll let you know if I find anything.

[2020-01-13 23:30] laurent22 commented on #2256
Ok let me know. If needed I can make a few tweaks to accommodate building from tar.

[2020-01-14 04:17] tessus commented on #2296
Not a bad idea. Please open a topic on the forum to discuss the feature.

[2020-01-14 04:20] tessus commented on #2293
Please open a topic on the forum to discuss the feature.

[2020-01-14 04:20] #2293 closed

[2020-01-14 08:27] doubletops opened #2299 "[android cleint bug] Cann't connect to webdav server!"
## Environment

Joplin version:1.0.312
Platform:android
OS specifcs:android 9

## Steps To Reproduce

1.Configuration--> Synchronization-->WebDAV
2.input my WEBDAV URL
3."CHECK SYNCHRONIZATION CONFIGURATION"

"Net work request filed"
But PC was no problem

## Logfile

[2020-01-14 11:14] DrAxelbauer opened #2300 "Android App does not show content of note"
I have installed Joplin and synced my notes via Nextcloud with my Android device. All the notes are synced and decrypted on the device. Problem is, that the content of the notes is not shown when I open them on my Android Device. I only see the name of the note and an error:
"Can't find variable: imageRegex"

If i edit the note on the android device the text is shown in markup. So the content of t

[2020-01-14 11:27] laurent22 commented on #2300
This is fixed and will be in the next release.

[2020-01-14 11:27] #2300 closed

[2020-01-14 11:29] DrAxelbauer commented on #2300
perfect! When will it be out?

[2020-01-14 12:38] dbogdanov commented on #2296
Done: https://discourse.joplinapp.org/t/right-click-to-assign-a-note-to-a-notebook/5183

[2020-01-14 14:23] bedwardly-down commented on #2286
@gitoss on iOS, I haven't noticed a major scrolling issue. My main issue is all iOS keyboards I've used hide the bottom text, making it difficult to type beyond a certain point without using an external keyboard [(here)](https://discourse.joplinapp.org/t/ios-keyboard-covering-bottom-line-while-android-version-doesnt-have-this-issue/5167/2).

Do you also have a problem with the keyboard always bein

[2020-01-14 14:26] axq commented on #2286
Related to https://github.com/laurent22/joplin/issues/1992

[2020-01-14 16:33] laurent22 opened #2301 "Remove file system sync option on iOS"
It doesn't work but appears in the list of sync target.

[2020-01-14 20:43] bedwardly-down commented on #1437
@diver-down I can confirm that this is still a big issue with 13.3 on all iOS keyboards. One fix I implemented despite being a pain when I'm out and about for work and want to take a quick note: carry my bluetooth keyboard around and type with it when I have downtime at work.

[2020-01-14 21:33] diver-down commented on #1437
Same on my end — still an issue on iPad Pro (10.5”), iPhone (5S, 6S, and XR).

## Two workarounds I’ve found:

1) Use a bluetooth keyboard
2) Insert a single character (./-/etc) and several line-returns above, and then go back to typing. This created the white-space needed. Problem with this: entering a note to edit positions the cursor at the last character (normal and expected, so thanks!) which

[2020-01-14 21:40] bedwardly-down commented on #1437
Glad I'm not the only one with a bluetooth keyboard for their phone. I may have to implement your second method, though. Thanks

[2020-01-15 08:51] bforland commented on #1343
I would like to reopen this. I read through the arguments against wrapping, but I really disagree. I'm not sure exactly how everyone uses this app, but I use it for note taking and keeping track of progress with projects that I have that often require coping large bits of code or errors into a note in order to document them. I used to use Quiver, and other app but macOS exclusive before I found Jo

[2020-01-15 12:24] Paragon1970 commented on #262
+1 This would be very usefull in the desktop enviroments.
All notes works great in the Android app.

[2020-01-15 17:13] andradei opened #2303 "MacOS top bar icon is invisible"
The icon on the top bar of MacOS is invisible in light mode (you might have to click on it once for it to disappear).

## Environment

Joplin version: Joplin 1.0.175 (prod, darwin)
Platform: MacOS
OS specifcs: 10.15.2 (Catalina)

## Steps To Reproduce

1. Start machine :D
2. Start Joplin and (don't) see the icon at the top. But if you click there it suddenly appears (and turn invisible again when

[2020-01-15 18:14] dissolved commented on #275
Thank you @laurent22 for validating the need, and explaining why it isn't there yet.

[2020-01-15 21:33] tessus commented on #1343
It is still open. But please note that this issue is only for printing.

[2020-01-16 06:17] tessus commented on #2303
Hmm, this makes no sense. The icon on macOS looks like this no matter of dark or light mode:

<img width="21" alt="image" src="https://user-images.githubusercontent.com/223439/72498663-e6673b00-37fd-11ea-86ba-f01d39c4600d.png">

[2020-01-16 07:45] laurent22 commented on #2303
I can't replicate this either but I don't have Catalina. For me it's black in light mode and white in dark mode. The icon is a template so the OS should change its colour automatically based on the theme.

[2020-01-16 12:43] wsw70 opened #2305 "Synchronization with Nextcloud not possible when using F2A"
## Environment

Joplin version: 1.0.312
Platform: Android 9 (likely to be the same everywhere)

## Steps To Reproduce

1. Set up 2FA authentication on Nextcloud (TOTP for instance)
2. Try to synchronize from Joplin

Describe what you expected to happen:

Several possibilities:
- either being prompted for a TOTP and set up some kind of long-lived auth token
- or have the ability to use an applicati

[2020-01-16 12:44] laurent22 commented on #2305
As far as I know you can already do that.

[2020-01-16 16:33] wsw70 commented on #2305
Ah, for some reason the first per-app password I tried would not go though.

**Everything works fine** - I confirm that F2A on Nextcloud + application-specific password work for Joplin synchronization. Thanks!

[2020-01-16 16:33] #2305 closed

[2020-01-16 16:48] andradei commented on #2303
I had a suspicion it might be a Catalina problem. If I find more hints I'll post them here.

[2020-01-16 16:50] andradei commented on #2303
Well... If I switch to Dark Theme it show up, then when I switch back to Light Theme is starts working. The issue seems to be only on Catalina. I'm closing this as there's nothing wrong with the app.

[2020-01-16 16:50] #2303 closed

[2020-01-16 22:54] nshtg opened #2306 "Attachment download behaviour "always" not working with E2E"
## Environment

Joplin version:1.0.312
Platform: Android 10
Joplin is E2E enabled with the folder being synced locally using Syncthing; Joplin sync is set to "File System"

## Steps To Reproduce

1. Set "Attachment download behaviour" to "Always" with E2E encryption enabled
2. Add a new resource to a note on a different machine
3. Sync
4. Note gets synced & decrypted, attachment does not.

## Fix

[2020-01-16 23:44] tessus commented on #932
I think this is still relevant. Not sure why the `essential-reviewed` was removed.

[2020-01-17 03:12] garywu520 opened #2307 "TOTP dynamic code authentication or secondary spare code authentication"
It is recommended that joplin data be synchronized to nextcloud. In addition to the account password, add TOTP dynamic code authentication or secondary backup code authentication, thanks

[2020-01-17 11:16] chumariesco commented on #262
Indeed, I was looking for this function right now in the desktop (linux) version. It would be very much appreciated!

Thanks for all the efforts teams! <33 Joplin

[2020-01-17 15:28] dbogdanov opened #2308 "Ctrl-F search in a note always changes it to a dual-pane edit/view layout"
Ctrl-F for search in a note always changes its layout to dual-pane edit/view.

This can be annoying. For example when reading a note in view mode and willing to search for some text, I do not necessarily want to see markdown at all. Currently one has to press Ctrl-L to restore view layout every time after searching in a note.

## Environment

Joplin version: 1.0.175
Platform: Linux, macOS

## Step

[2020-01-17 18:31] evgeny-elkin opened #2309 "Cyrillic letters shows using non-monospace font in the editor"
Then typing a text using russian letters, you get a wrong font and wrong cursor position.

![Screenshot from 2020-01-17 23-10-09](https://user-images.githubusercontent.com/60013368/72636597-2d316e00-3981-11ea-81fa-5a72ce687008.png)

## Environment

Joplin version: 1.0.177
Platform: Manjaro Linux Gnome 3.34.2
OS specifcs:

## Steps To Reproduce

1. Install Joplin on Manjaro Gnome.
2. Try to type in

[2020-01-17 19:34] tessus commented on #2296
@dbogdanov the feature request was accepted. Now we only have to find someone to implement it...

[2020-01-17 19:34] #2307 closed

[2020-01-17 19:36] tessus commented on #2308
I can't reproduce this on macOS. The shortcut on macOS is `Cmd+F`.

[2020-01-17 20:07] mgrandi opened #2310 "Android crash when attaching photo"
so i noticed that attaching photos seems to crash joplin now, i don't have a way of getting a debug log but i did click 'submit feedback' with this github issue number in the feedback, maybe you can find the full report in wherever those get sent?

I have screenshots of the stack trace though:

![Screenshot_20200117-130458](https://user-images.githubusercontent.com/802786/72642942-c6816580-392a-11

[2020-01-17 20:18] mgrandi commented on #1232
also, was this fixed or split off into a new bug ticket? i feel like if you attach anything as a file it should not touch it

https://github.com/laurent22/joplin/issues/1232#issuecomment-491422675

[2020-01-17 21:52] AddictArts commented on #2297
Cannot reproduce on Windows 10 with the latest 1.0.177.

Be sure you choose File->Exit or go to the tray and right click select exit, my apologies if you had done this. Hope this helps.

[2020-01-17 21:58] AddictArts commented on #2298
Joplin version: 1.0.177 AppImage on Windows doesn't exhibit this bug.

[2020-01-17 22:54] dbogdanov commented on #2308
I've double-checked and in my case, I have this issue on macOS too.

[2020-01-17 23:32] tessus commented on #2308
Ah, ok. My bad. I misread the issue. Yes, I can see the same behavior.

However, this might have been intended. @laurent22 will have to decide, if this is a bug.

[2020-01-17 23:41] tessus commented on #2310
I can't reproduce this. I'm using the same Joplin version and also Android 10.

How big is the image?

[2020-01-18 00:58] AddictArts commented on #2308
If it is a bug, I'd be happy to supply a pull request for NoteText.jsx to fix it. I was able to reproduce on Windows 10. Thanks

[2020-01-18 01:00] dbogdanov commented on #2308
If it has been intended, perhaps this behavior may be configurable.

[2020-01-18 02:23] tessus commented on #753
I think a git storage provider is not going to happen. Please be aware that Joplin is a react-native app. Git would require us to add key support to Joplin, which could be tricky. (Tricky, because of react-native.)
Besides that, how would one handle merge conflicts? Joplin is not a git client, nor does it have a diff engine included.

I understand that git sounds great as a storage provider, but t

[2020-01-18 03:05] tomasz1986 commented on #2297
I have indeed done that, but now I have also tested it in two other systems - one with Windows 7 ThinPC (x86) and one with Windows 10 Enterprise 2019 LTSC (x64) - and the program does start minimised there, so I think that something may be going on with this specific Windows installation.

I will close, as I am not feeling like doing a full-fledge investigation, and the system is scheduled to be u

[2020-01-18 03:05] #2297 closed

[2020-01-18 04:03] mgrandi commented on #2310
the image is a screenshot so it should just be like <500 kb

i don't know much about android development, could this be caused by the photo gallery app i'm using to pick the image?

[2020-01-18 04:06] mgrandi commented on #2310
ok yeah, i used "photos" (the google app) instead of the other app i was using and that seems to work, i guess this is a bug report for the other gallery app i'm using o.o

i'll close this!

[2020-01-18 04:06] #2310 closed

[2020-01-18 13:18] timmb opened #2312 "Cursor blink rate ignores system settings on MacOS"
MacOS provides two global preferences to control the blink rate of the cursor when editing text:

- NSTextInsertionPointBlinkPeriodOn
- NSTextInsertionPointBlinkPeriodOff

It's particularly important for people like me who find it nearly impossible to focus while there is animation on the screen. On my system I have the On period set to 999999ms and the Off set to 0ms.

## Environment

Joplin vers

[2020-01-18 13:24] timmb commented on #2312
This [issue](https://github.com/electron/electron/issues/10668) and [commit](https://github.com/electron/electron/pull/20020) in Electron may be relevant.

[2020-01-18 13:30] #2254 closed

[2020-01-18 14:07] qijianjun commented on #2299
Same here.
I issued an acme ssl cert for the domain `myip.xip.io`, with the url+username+password, it performs well on Windows client, but got "network request failed" error on Android client.

[2020-01-18 15:55] rpld commented on #51
As the difficult part would be implementing drag-and-drop, I'd like to suggest a simple alternative that addresses some of the use cases.

Suggestion: Add a "priority" numeric field to each note. For example, 1 to 10. Allow sorting by Priority. When editing a note, pressing on the priority box can bring up a nice slider to pick the new number, or just text entry for starters.

This addition would

[2020-01-18 17:59] gombosg commented on #2266
Closing this due to lack of feedback. Let me know if you see potential in this later and I can help in implementing.

[2020-01-18 17:59] #2266 closed

[2020-01-18 20:51] tessus commented on #2312
We switched to Electron 7 lately, but only in the pre-release. It will be available in the next release.

[2020-01-18 21:42] dbogdanov opened #2315 "Undo does not work in note titles"
It is impossible to undo changes in note titles. The undo behavior on CMD + Z  should be the same as in the note body. This is a copy of #969 which was auto-closed due to inactivity.

The missing undo is further aggravated by the fact that the note search field and note title fields are located very close to each other and they look similar, so it is easy to mistaken one for another (related to #9

[2020-01-18 23:10] Perkolator commented on #1731
Still relevant.

[2020-01-19 01:06] tessus commented on #1731
@Perkolator it might be still relevant, but it still hasn't been accepted as a feature (this means Laurent won't implement it), and nobody has picked it up for 3 months. So what is your expectation? That we keep this open forever? Unless you are going to submit a PR, you will write a `still relevant` every 90 days without any outcome.

[2020-01-19 02:20] LinuxOnTheDesktop opened #2316 "Android: no file picker for using the sync option in 'filesystem' mode"
## Environment

Joplin version: well, there seems to be no 'about' menu . . but: 'last updated 8 December 2019'.
Platform: Android
OS specifcs: Lollipop.

## Steps To Reproduce

1. Hamburger menu -> Configuration -> Syncronisation -> Target: file system,
2. The, 'Directory to synchronise with'  field opens no file picker.

Describe what you expected to happen:

There should be a file picker, espec

[2020-01-19 04:29] rcrx commented on #2257
Having this problem, too, across several devices and many resources.

[2020-01-19 04:56] rcrx commented on #2257
Also, this:
![Screenshot from 2020-01-18 21-50-21](https://user-images.githubusercontent.com/29853107/72675105-cd989880-3a3c-11ea-9b9c-d28102fc4bc4.png)

[2020-01-19 06:20] tessus opened #2317 "single method to retrieve version number"
There should be a single method to retrieve version number on all platforms.

The method could be added to `shim.js`, then version number would be retrieved from
- from package-info on desktop
- package.json on CLI
- version package on RN

[2020-01-19 06:22] tessus commented on #2316
This is not a bug, but a feature request. Please open a topic in the forum to discuss this further.

[2020-01-19 06:22] #2316 closed

[2020-01-19 11:19] mic704b commented on #2315
FWIW I tried with desktop on Linux using Ctrl-Z and couldn't reproduce the problem. It worked even when I changed focus and returned. Perhaps platform specific.

[2020-01-19 11:33] mic704b commented on #2185
Can't reproduce on Linux, and haven't noticed it.

@jlgarnier does it happen consistently?

[2020-01-19 13:33] jlgarnier commented on #2185
Wouldn't say "consistently" ;-) but it happens regularly and I can't pin it down to any action (move the window, minimize or whatsoever)...

[2020-01-19 15:47] laurent22 commented on #2273
Couldn't replicate https://discourse.joplinapp.org/t/cant-tell-if-sync-is-complete/5012/6?u=laurent

[2020-01-19 15:47] #2273 closed

[2020-01-19 16:21] laurent22 commented on #2186
Tried to create 100 notebooks with 10,000 notes but couldn't replicate any slow down, so looks good for now.

[2020-01-19 16:21] #2186 closed

[2020-01-19 16:30] LinuxOnTheDesktop commented on #2316
It is known, and perhaps even fully intended, that there is no file picker? Goodness! I would join the forum, only, because of this and other problems, I am abandoning Joplin,

[2020-01-19 18:43] dbogdanov commented on #2315
I've checked this and indeed no issue on Linux, only macOS

[2020-01-19 20:15] laurent22 commented on #2316
File system sync is available but has always been an advanced feature (initially I didn't want to make it available, it was just for testing), and it's possible it will stop working some day as Google locks down Android more and more.

For these reasons, this is a relatively bare feature, and it's unlikely we'll invest time on improving the UX.

[2020-01-20 05:30] tessus commented on #1728
Still waiting for architectural input.

[2020-01-20 08:36] zhliang119 commented on #2299
the same problem with you

[2020-01-20 12:29] Perkolator commented on #1731
@tessus I really don't understand why you (Joplin repo, staff) are so keen on closing everything down fast with the IMHO idiotic stale bot. What harm does it to keep issues open? If you want to close issues, much better would be if you'd do it yourself after reviewing the issue and deciding its faith (for example: "not happening ever, closed", "maybe in the future" label, etc.). It's quite a big d

[2020-01-20 12:42] Perkolator commented on #1731
Further suggestion: make a "todo" list (on forum? Like Bitwarden has?) where it lists all feature requests as single posts in a sub-forum(?), and where people could converse about the features, and perhaps allow users to vote on them? It would give developers info about what users would want to see in Joplin.. it also would be a kind of a quasi-roadmap for the project.

[2020-01-20 18:05] virtadpt commented on #753
Maybe this would be a good place to start?
https://github.com/isomorphic-git/isomorphic-git

[2020-01-20 19:19] akosma opened #2319 "Wrong Linux filename breaks update script"
## Environment

Joplin version: 1.0.178
Platform: Linux
OS specifcs:

## Steps To Reproduce

1. Run the Linux update script
`wget -O - https://raw.githubusercontent.com/laurent22/joplin/master/Joplin_install_and_update.sh | bash`
2. The script fails with "ERROR 404: Not Found."

The reason is that the AppImage file of the latest release does not contain the `x86_64` part in the filename: compare t

[2020-01-20 20:32] Jairjua commented on #2319
in the same file there are a problem with print function: it removes initial spaces making print wrong texts.

[2020-01-20 22:40] mic704b opened #2322 "Empty pdf when exported using main menu"
As raised in the [forum](https://discourse.joplinapp.org/t/joplin-version-1-0-178/5276/3) by @merlinuwe

## Environment
Joplin version: v1.0.178
Platform: Windows 10 + Linux
OS specifcs:

## Steps To Reproduce
1. Export note from the menu File > Export > PDF

Expected result: pdf contains note
Observed result: pdf is empty

[2020-01-20 22:41] mic704b commented on #2322
Console error message:
[code]

[2020-01-20 23:04] dpoulton-github opened #2324 "Exporting a Note to PDF Does Not Apply userstyle.css"
As raised in the [forum](https://discourse.joplinapp.org/t/joplin-version-1-0-178/5276/6)

## Environment

Joplin version: 1.0.178
Platform: Windows 10 (1909) x64
Platform: Linux (Mint 19.3) x64

## Steps To Reproduce

1. Place a custom `userstyle.css` with specific settings for print output into the relevant **joplin-desktop** folder.
2. Select a note.
3. Right-click the note and export as PDF (u

[2020-01-20 23:09] mic704b commented on #2324
Thanks @dpoulton-github  -- can you supply a minimal example of print css that fails?

[2020-01-20 23:16] Perkolator opened #2325 "Note History shows error messages"
## Environment

Joplin version: 1.0.178
Platform: Windows
OS specifics: Windows 8.1(.1)

## Steps To Reproduce

1. Open any note that has note revisions.
2. Go to note history (Note properties->Previous versions of this note)

= Latest revision is shown, but also "undefined" text on top of the note text.

3. Select any other revision from the drop-down box.

= That revision is shown, but also 1 ne

[2020-01-20 23:17] vertigo220 commented on #296
Commenting to keep the issue open. Seems silly to auto-close a fairly highly upvoted issue just because it hasn't been commented on in a while. Anyways, I agree this is a must-have feature for this type of app, and as for how to sort pinned items, just make it an option so the user can choose whether to place most recently pinned items at the beginning or end of all pinned items or even to ask eve

[2020-01-20 23:27] dpoulton-github commented on #2324
This is an extract from my userstyle.css

[code]

[2020-01-20 23:32] vertigo220 opened #2326 "Feature Request: Sort/Reorder notes and notebooks manually"
In the Android app, I'd like to be able to sort, preferably by drag-and-drop, the notes and notebooks.

[2020-01-20 23:36] vertigo220 opened #2327 "Pressing back while showing sort order popup exits app"
## Environment

Joplin version: 1.0.312
Platform: Android
OS specifcs: 8.0.0

## Steps To Reproduce

1. Open notebook and tap sort order icon in top-right corner
2. Press back key

Describe what you expected to happen:

Sort order window should close, but instead it backs out of the app.

## Logfile

[2020-01-20 23:40] mic704b commented on #2324
1.0.178 -- confirmed broken
1.0.177 -- confirmed broken
1.0.176 -- not tested
1.0.175 -- confirmed working

on Ubuntu Linux

[2020-01-20 23:46] mic704b commented on #2322
Issue #2324 appears to have already existed in 1.0.177 so is probably not related to this bug.

[2020-01-20 23:51] jmcastagnetto opened #2328 "Updating to 1.0.178 on Linux using the script fails"
According to the documentation, using:

[code]

should upgrade an existing install of Joplin, but with today's release, it fails.

## Environment

Joplin version: (wanted) latest
Platform: Ubuntu Linux 18.04 LTS
OS specifcs: Ubuntu Linux 18.04 LTS

## Steps To Reproduce

1. Run: wget -O - https://raw.githubusercontent.com/laurent22/joplin/master/Joplin_install_and_update.sh | bash
2. Get a 404 err

[2020-01-20 23:58] jmcastagnetto commented on #2328
Workaround:

[code]

Remove the string "-x86.64" in line 69
https://github.com/laurent22/joplin/blob/953aa5d0b5d53723402659f98b54c43cc1c8c4d0/Joplin_install_and_update.sh#L69

Run:

$ bash Joplin_install_and_update.sh

$ ~/.joplin/Joplin.AppImage

[2020-01-21 00:05] tessus commented on #2326
Feuture request -> forum please.

Also, there's a issue already open on this topic.

[2020-01-21 00:05] #2326 closed

[2020-01-21 00:36] dpoulton-github commented on #2328
@jmcastagnetto

For your information there appears to be a previous issue submitted re this and it looks like it has been actioned.

https://github.com/laurent22/joplin/issues/2319#issue-552469998

[2020-01-21 00:42] vertigo220 commented on #2326
I wasn't sure, since the contributing guidelines say to use the forum but the website says to use GitHub for requests. Also, the only open issue I could find was for desktop.

[2020-01-21 02:00] tessus commented on #2326
We use the tracker only for reproducible bugs and accepted feature requests.
The forum is a better place to discuss and bring up new ideas, since more people are reading the forum and others might even improve upon your idea.

Can you please point me to the text on the web site, so that I can change it accordingly?

[2020-01-21 03:38] vertigo220 commented on #2326
"Community" section of the main page says the following:

For general discussion about Joplin, user support, software development questions, and **to discuss new features**, go to the Joplin Forum. It is possible to login with your GitHub account.

For bug reports and **feature requests**, go to the GitHub Issue Tracker.

This makes it sound like the intention is to propose new features on GitHub

[2020-01-21 09:50] Poldi1977 commented on #2246
Since version 1.0.178 I also get the error on my Debian system. Version 1.0.175 runs without errors.

[2020-01-21 11:48] mic704b commented on #2317
Is this [react-native-version](https://www.npmjs.com/package/react-native-version) ?

[2020-01-21 11:53] Perkolator opened #2330 "Pasted tab character is rendered as 8 characters long in codeblock"
## Environment

Joplin version: 1.0.178
Platform: Windows
OS specifics: Windows 8.1(.1)

## Steps To Reproduce

1. Paste text that has tab character(s), from some other editor to a codeblock in Joplin.

= Joplin rendered view shows 1 tab char as 8 characters long in the codeblock.

## Describe what you expected to happen:

The rendered view should show a tab char exactly the same length (but do no

[2020-01-21 12:45] jmcastagnetto commented on #2328
Same issue as #2319, as mentioned by @dpoulton-github.
Closing this issue.

[2020-01-21 12:45] #2328 closed

[2020-01-21 13:08] tessus commented on #2317
@mic704b no, it's [react-native-version-info](https://www.npmjs.com/package/react-native-version-info) and we are already using it.

[2020-01-21 13:48] JunkyardCat opened #2331 "Importing JEX file appends (X) on notebooks with same name"
when importing a JEX file that has multiple notebook and subnotebook with same name. Joplin seems to append (n) at the end of the name. (where n increases in number.)

example
Notebook structure before Importing
ToDo
-->Cook
Market
-->ToDo
Science
-->ToDo

After importing the above joplin files to  new PC
ToDo
-->Cook
Market
-->ToDo (1)
Science
-->ToDo (2)

## Environment

Joplin version: 1.0.178

[2020-01-21 14:13] axq commented on #2327
Reproduces on Android 9 as well.

[2020-01-21 15:30] weddi-eddy commented on #2246
I just ran backwards from the latest version of the app images and I can confirm that version 1.0.176 is the last version that runs without issue on Debian Testing.  177 and 178 both fail to run with the above mentioned issues and behaviour.

[2020-01-21 15:41] timmb commented on #2312
Unfortunately this issue has not been resolved in v1.0.178, which includes #2314.

[2020-01-21 17:01] joshjavier commented on #2319
The fix https://github.com/doc75/joplin/commit/815766373c305a32c7b51012c28fa1453116d1bf is not yet merged to the master branch, so I tried the workaround as mentioned in https://github.com/laurent22/joplin/issues/2328#issuecomment-576464341. Works without any issues.

[2020-01-21 17:21] dpoulton-github opened #2332 "Linux Appimage does not ask for integration with OS"
As reported in the forum for:
[1.0.178](https://discourse.joplinapp.org/t/joplin-version-1-0-178/5276/15) and
[1.0.177](https://discourse.joplinapp.org/t/the-new-appimage-joplin-1-0-177-appimage-installation-issues/4966)

Rasied at the request of @laurent22 and on behalf of another without a GitHub account.

# Environment

Version: Joplin v1.0.178
Version: Joplin v1.0.177
OS: Linux

# Steps to rep

[2020-01-21 18:04] RenatoXSR commented on #2166
I was having the same issues (sync error with OneDrive, due to its API throwing the same html error reply in the json error body, just like OP).

What fixed the issue for me was deleting a .png resource which had more than 4MB, as suggested in [this forum discussion](https://discourse.joplinapp.org/t/onedrive-sync-error-in-desktop-app/1738/12).

I also recreated an empty file with the same name, i

[2020-01-21 18:12] jayhill commented on #2166
Nice find, Renato.

That discussion indicates that there is no plan to support the large file upload API for OneDrive. If I got that working and submitted a PR, is there a product rationale that would block it from being incorporated?

I would certainly benefit from being able to synchronize larger attachments via OneDrive.

[2020-01-21 20:38] taw00 commented on #2256
FYI @laurent22 1.0.178 also failing. Same way.
I also tried just making the tarball into a git repo with `git init` and all that did was trigger a "wrong HEAD version" error (wording is not exact).

[2020-01-21 21:41] henrikje opened #2334 "Images with "international" filenames are not extracted on Markdown import"
I just tried the new import-images-in-markdown feature (#2262) and it mostly worked as I hoped! (Thanks!) However, while some images were imported and their targets were replaced, other image tags were left unprocessed. Those were links with (in my case) Swedish characters such as `å`, `ä` and `ö`.

Example of a link that was successfully imported:

[code]

Example of a link that was NOT imported:

[2020-01-21 21:59] bedwardly-down commented on #2332
I'm not sure how to fix the issue, but I did find out what changed between both AppImages. When running v1.0.175 from the command line, it throws an interesting error on Artix Linux:

![Dialog-AppImage-Joplin-175](https://user-images.githubusercontent.com/59133880/72846140-9822c380-3c65-11ea-98cf-849762911a59.png)

Artix Linux is an off shoot of Arch Linux that has some slightly different packages

[2020-01-21 22:13] bedwardly-down commented on #2332
Patching the AppRun script using this patch (basically, diffs.txt from the previous post, but reversed) fixed the issue on my end.

[diffs2.txt](https://github.com/laurent22/joplin/files/4093971/diffs2.txt)

### Steps to Reproduce

1. Download, chmod +x Joplin-1.0.178.AppImage, and execute with the `--appimage-extract` argument.
2. `cd squashfs-root`
3. `patch -p1 AppRun diffs2.txt`
4. Execute `./

[2020-01-21 23:17] laurent22 commented on #1493
Perhaps some hope? https://github.com/facebook/react-native/issues/20119#issuecomment-576917362

[2020-01-21 23:22] laurent22 commented on #2334
I'm not sure this is actually a bug because the URL should be url-encoded and I don't think it is in your example.

If you write it as `![Some text](photos/image-with-%C3%A5%C3%A4%C3%B6.jpg)` does it work?

@BartBucknill, what do you think about it?

[2020-01-22 00:18] jmesmon opened #2335 "e2ee instructions don't allow creation of a single master key with MacOS+iOS"
## Environment

| Joplin version | 10.0.40 | 1.0.178
| Platform | iOS | macOS |

## Steps To Reproduce

1. With e2ee disabled on both devices (but both connected to sync), start enabling e2ee on macOS by executing instructions 1,2,3, and 4 from https://joplinapp.org/e2ee/
2. Begin instruction 5: syncronize on the iOS device
3. Note that you are not prompted to enter a master key password
4. In the

[2020-01-22 00:46] rkraken opened #2336 "Linux install script fails due to change in the AppImage name"
The Linux install script Joplin_install_and_update.sh fails on the latest version due to change in the AppImage name.  The x86_64 suffix is no longer part of the name.

[2020-01-22 01:29] yuichi8 commented on #2309
The square letter (space?) appear when start typing Japanese.

![スクリーンショット 2020-01-22 9 49 57](https://user-images.githubusercontent.com/10018337/72857469-07012a80-3d01-11ea-90ae-21372404048f.png)

Joplin 1.0.178 (prod, darwin)
Revision: 953aa5d (HEAD)

[2020-01-22 07:06] gnaldi62 opened #2339 "The KaTeX \tag function doesn't work anymore"
After the upgrade to version 1.0.178, the \tag function did stop working and layout is broken.

## Environment

Joplin version: 1.0.178
Platform: Windows
OS specifcs: Windows10 desktop

## Steps To Reproduce

1. In a document simply add one of the following:
$\tag{1}$
$$\tag{2}$$
$$
\tag{3}
$$

2. The tag is not formatted even once the document is exported to pdf or whatever other format.

Describ

[2020-01-22 07:08] foxmask commented on #1493
Because of that, I do not use Joplin for months. I had to move on markor/syncthing :(

[2020-01-22 08:42] CalebJohn commented on #2336
duplicate of #2319

[2020-01-22 09:27] laurent22 commented on #1493
yes it seems to affect some people more than other, maybe depending on the device or note.

[2020-01-22 09:29] laurent22 commented on #1493
Apparently the text input component [was completely rewritten](https://github.com/facebook/react-native/issues/20119?email_source=notifications&email_token=AAJZ3UC6TOREJ6WEKCNYZDTQ7AAJHA5CNFSM4FJBJNFKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEJSVPEA#issuecomment-577066896) using React hooks so that might be good news for us. Hopefully someone can confirm this.

[2020-01-22 10:19] dcervenkov commented on #1023
This is still a problem, dear stale bot.

[2020-01-22 10:29] laurent22 commented on #1023
Some ideas there for a solution: https://github.com/laurent22/joplin/pull/1931

[2020-01-22 10:59] jlgarnier commented on #2166
Nice catch indeed! I've checked the files stored on OneDrive and found a pdf file which weighs 3.95Mb. It's close to the 4Mb limit, so there probably some overhead which crosses the limit and crashes the app. Too bad the large files API is not supported as I can't really name it a "large file"...

In the meantime, I'll switch to Dropbox which seems to not suffer the same issue.

Thanks a lot for t

[2020-01-22 11:59] henrikbarium commented on #2334
Reading the CommonMark specification (if that is what Joplin is adhering to), it says images have the same syntax as links, and for links it says:

Personally I don't find it completely clarifies the situation, but it doesn't explicitly require url encoding at least. 🙃

[2020-01-22 14:13] dpoulton-github commented on #2324
@mic704b
Thanks for confirming.
As a contributor would it be possible for you to label this as a "bug"?
Wouldn't want this issue to get missed.

[2020-01-22 14:20] kornava opened #2342 "Snap package"
Hello,
How about a snap package for Joplin
I think they have a good support for electron based desktop apps
https://snapcraft.io/docs/electron-apps
AppImage is really painful, even with the provided shell script its always better to have an automated solution for updates

How about an apt repository for debian users?

[2020-01-22 14:43] tc-tommo opened #2343 "KaTex Macro Persistence (\gdef function) no longer working as expected after 1.0.177"
KaTex macros using \gdef function don't seem to be interpreted correctly anymore.
Here's an example in 1.0.178
![image](https://user-images.githubusercontent.com/59585282/72900728-530f9780-3d20-11ea-8f59-f659d7bbf107.png)
This also appears to be true for 1.0.177.

Same example in 1.0.176 works as expected:
![image](https://user-images.githubusercontent.com/59585282/72901691-18a6fa00-3d22-11ea-8792

[2020-01-22 14:51] bedwardly-down opened #2344 "Abbreviation Plugin Showing Blank On Multiple Platforms"
## Environment

Joplin version: 1.0.178 (Desktop), 10.0.40 (iOS), 1.0.312 (Android)
Platform: Linux, iOS, Android
OS specifcs: Artix Linux (kernel: 5.4.12-artix1-1), iPhone XR, Samsung Galaxy S9+

## Steps To Reproduce

1. Enable `Abbreviation syntax plugin` on all 3 platforms
2. Copied and Pasted the example Abbr code from the [Markdown Plugins Guide](https://github.com/laurent22/joplin/blob/mast

[2020-01-22 15:37] danypoup opened #2345 "Rowspan doesnt work in tables with multi-markdown plugin v4.0.0"
## Environment

Joplin version: 1.0.178
Platform: Linux
OS specifcs: CentOS 7.7.1908

## Steps To Reproduce

1. Enable multi-markdown plugin through "Tools/Options/Modules"
2. Create  a new note and add a table like this one :
Type | Info |||
---|---|---|---
**Server** |
^^ | **Node**  | master | slave
^^ | **Name** | server1 | server2
3. On preview tab, you should check that cells with "^^" are r

[2020-01-22 15:43] laurent22 commented on #2336
Fixed

[2020-01-22 15:43] #2336 closed

[2020-01-22 15:44] #2342 closed

[2020-01-22 15:44] laurent22 commented on #2342
Please use the forum

[2020-01-22 16:02] Peppeo commented on #2336
![Screenshot from 2020-01-22 22-59-35](https://user-images.githubusercontent.com/53419266/72910473-7b9f8d80-3d30-11ea-9129-f1beee1758e5.png)

Mmmm, this doesn't seem completely fixed yet?

[2020-01-22 16:48] laurent22 commented on #2344
Did you check the Abbr documentation? This work for me:

[code]

[2020-01-22 16:48] #2344 closed

[2020-01-22 17:16] #2339 closed

[2020-01-22 17:16] #2343 closed

[2020-01-22 17:16] #2345 closed

[2020-01-22 17:21] bedwardly-down commented on #2344
I did just check it. It is still broken on my end on all 3 platforms.

[2020-01-22 17:33] laurent22 commented on #2325
Fixed in b6e0df57eb0dadbd889e6f164fab1494052b5c42

[2020-01-22 17:33] #2325 closed

[2020-01-22 18:14] vsimkus commented on #2246
I can confirm the issue on Debian Bullseye (Testing).
The issue is coming from the electron app being packaged with AppImage (https://github.com/electron/electron/issues/17972), since the `chrome-sandbox` permissions cannot be preserved in an AppImage.

A temporary workaround is to set `sudo sysctl kernel.unprivileged_userns_clone=1`, which is _not_ recommended. Read more about this [here](https:/

[2020-01-22 20:04] BartBucknill commented on #2334
@laurent22 @henrikje Made a fix https://github.com/laurent22/joplin/pull/2346
This bug occurs because the results of `extractImageUrls` come back URL encoded; I just added a decode of the parsed link before using.

[2020-01-22 20:15] BartBucknill commented on #2334
Oh dear, looks like the fix works on mac but not linux, so the pipeline isn't passing https://travis-ci.org/laurent22/joplin/jobs/640608501?utm_medium=notification&utm_source=github_status

Won't be able to look into this right now, it'll have to wait a bit longer.
Anyone have any tips on fixing this for linux also?

[2020-01-22 21:16] tessus commented on #2319
fixed in 1a1a1d3841b22e6a71e37c2113d458ffee0d251a

[2020-01-22 21:16] #2319 closed

[2020-01-22 21:19] tessus commented on #2326
Thanks for the info. I will change it when I get to it.

[2020-01-22 21:28] tessus commented on #2324
@laurent22 this was tested a while back. Is it possible that this has anything to do with the new renderer?

[2020-01-22 21:43] laurent22 commented on #2324
Yes, this or the Electron update

[2020-01-22 22:03] deciacco commented on #2324
For what it's worth...

Not working for me either. v1.0.178 (prod, win32) Windows 10.

PDF does not have expected page breaks.

This is my note:
[code]

This is my userstyle.css:

[code]

[2020-01-22 23:28] Peppeo commented on #2336
Works, thanks!

[2020-01-23 02:13] razlupercio commented on #2324
fwiwi

the pdf export function neither works on OSx 10.15.2 (Catalina) my Joplin version is 1.0.178

[2020-01-23 03:25] Dzordzu opened #2348 "[FEATURE REQUEST] Git based notes"
## Git based notes

Hi. It's not uncommon to handle notes in git repos. It would be great to see this kind of feature (sync with repo) i n the future.

### Proposed features

* Sync with git repo (repo as storage)
* Automatic commit and push
* Simple git import (pure md import, initially we can skip images etc.)
* Auth via ssh key/username+password

### P.S

If you accept the idea, I will be able

[2020-01-23 03:34] #2348 closed

[2020-01-23 06:44] ricciotto-in-nebbia opened #2349 "Empty space between letters and cursor"
1. Opened the site: https://habr.com/ru/news/t/485112/ (any page is possible)
2. Copy text (cmd + C)
3. Inserted into a new note (cmd + V)

The essence of the error: visually there is some distance between the text and the cursor.
Something like this: "Text text...............|" (dots is empty space).
But if you click "backspace" the last character will be deleted.
I tried to make plain text and p

[2020-01-23 09:17] seisenreich opened #2350 "Joplin 1.0.178 window invisible in MacOS X Catalina 10.15.2 (19C57)"
I've got a problem using Joplin since it prompted to me there is a new version of Joplin and I installed it.
It will open, but be invisible. It's not even shown by the "show all open windows" feature of macOS.
When I try to install an older version of Joplin, as e.g. the current latest brew cask version 1.0.174, I get the message prompt "Unknown profile version. [...]" when I try to run Joplin. Fu

[2020-01-23 10:19] ricciotto-in-nebbia opened #2351 "Share notes: Unsopportes WebDAV format"
![image](https://user-images.githubusercontent.com/28513073/72975580-1dcb7e00-3de2-11ea-9388-4bcef35881f8.png)

![image](https://user-images.githubusercontent.com/28513073/72975627-30de4e00-3de2-11ea-9880-8895de0e8321.png)

Windows 10 Pro x64

[2020-01-23 10:21] #2351 closed

[2020-01-23 10:22] laurent22 commented on #2351
Please use the forum for support (also try what's written in the dialog box before asking for support)

[2020-01-23 15:49] antoniopaolini opened #2352 "Bad Table rendering with multitable"
The table rendering is broken.
I upgraded from Joplin 1.0.175 to 1.0.178.

In my previous version (1.0.175) the multitable plugin allow to span cell over row, like this:
![controllo-capture_001_23012020_163329](https://user-images.githubusercontent.com/60228211/72998461-2762df00-3dfe-11ea-9f1b-3f260944be52.png)

In the 1.0.178 version the rendering is completely different, as in the next picture:

[2020-01-23 15:53] laurent22 commented on #2352
Duplicate of #2345

[2020-01-23 15:53] #2352 closed

[2020-01-23 17:31] dpoulton-github commented on #2349
Not a dev just a user...
Have you set a non-monospace editor font on your Mac?

[2020-01-23 18:49] mic704b commented on #2324
@razlupercio see #2322

[2020-01-23 21:02] gerroon commented on #2246
Run the AppImage with --appimage-extract then fix the permission

However as of now appimage packaging is broken for Debian based distros since messing with distro permissions should not even be considered to run an app.

[2020-01-23 21:17] tessus commented on #2324
@mic704b #2322 fixes empty pdf files when exporting. This issue is about export not honoring the `userstyle.css`.

[2020-01-23 21:26] tessus commented on #2350
https://discourse.joplinapp.org/t/installing-joplin-1-0-174-on-macos-catalina-results-in-no-visible-window/4425

https://discourse.joplinapp.org/t/cant-open-joplin-after-latest-update/4680

[2020-01-23 22:44] qvantvm opened #2354 "Joplin 1.0.178 on macOS Catalina 10.15.2 not syncing with OneDrive"
Joplin 1.0.178 stopped syncing with OneDrive on Catalina 10.15.2: clicking the "synchronize" button has apparently no effect.

Rollback to version 1.0.167 is correctly working.

## Environment
Joplin version: 1.0.178
Platform: macOS
OS specifcs: 10.15.2

## Steps To Reproduce
1. Upgrade from 1.0.164 to 1.0.178
2. Test OneDrive synchronization
3. Joplin asks to open a link on the web browser (SAFAR

[2020-01-23 22:44] seisenreich commented on #2350
Thank you very much for linking these cases for me. I could not find them by myself.
I will definitely try to find a tiny pixel window to drag it bigger tomorrow.

[2020-01-23 22:55] #2349 closed

[2020-01-24 08:04] taw00 commented on #2256
Same error, even when building from a downloaded version of the repo that includes the git info.
I am running out of ideas.

[2020-01-24 08:10] seisenreich commented on #2350
@tessus it worked!
I could not find the window visually, but after clicking "Open Joplin" I could use my Magnet window manager shortcut for fullscreen and the Joplin window came up.

If I had known the window is actually there, even if I can't see it, I would've tried this one out earlier 😄 .

Thank you very much for your support!
Finally I can continue to work with my favourite cross-plattform no

[2020-01-24 08:10] #2350 closed

[2020-01-24 08:48] taw00 commented on #2256
Okay. I got it to build. But only by cloning the repository — `git clone https://github.com/laurent22/joplin.git --branch=v1.0.178 joplin-1.0.178` — And that is broken. Cuz, the repo tarred up is over 100MB. And it's messy for other reasons. I am not sure how to get by this. Open to suggestions. Otherwise, the build fails.

[2020-01-24 11:46] earliestearl opened #2356 "Joplin 1.0.177 / 1.0.178 not starting"
## Environment
Joplin version: 1.0.786
Platform: Linux
OS specifcs: MX Linux 19

## Steps To Reproduce

1. Download latest Joplin AppImage
2. Try to execute AppImage

Joplin does not open. When using Joplin 1.0.176, everything works as expected.

## Logfile
Sorry, I am not sure how to collection log files using the AppImage.

[2020-01-24 11:50] earliestearl commented on #2356
Maybe a duplicate of https://github.com/laurent22/joplin/issues/2246
Sorry, haven't seen that before...

[2020-01-24 12:55] ArjenB96 opened #2357 "Slow rendering of KaTeX on W10"
When working on my note (linked below) I notice a signifcant increase in render time when I increase the amount of KaTeX, even though I do not find it to be that much. Even after typing single letters and pausing slightly, the editor freezes for ~0.5-1 seconds to render the entire file and this disturbs my work flow.

I do not experience the issue as much on my laptop running macOS Mojave. Hiding

[2020-01-24 13:01] ArjenB96 commented on #2357
Log does not show anything interesting.
Furthermore, It seems that restarting the application seems to bring the render time back to acceptable levels. Not sure why?

[2020-01-24 13:52] ArjenB96 commented on #2357
On start-up, Joplin uses about 175-200 MB of RAM. After working for 15-30 minutes on a single note file, it rises to 500 MB. It is at this point that the renderer becomes a bit choppy.
Even though my RAM usage is at 30% and I have 16GB of RAM available, the renderer still lags at that point.

[2020-01-24 13:57] laurent22 commented on #2357
Katex code blocks are cached, so maybe the cache is malfunctioning and adding data without deleting old one.

[2020-01-24 14:05] ArjenB96 commented on #2357
There are quite some instances where I use inline code blocks. Especially in the part I wrote the last hour  a significant amount of inline code blocks were written, but not a lot of text.

[2020-01-24 15:29] taw00 commented on #2256
I'm going to experiment. And if need be, I will artificially do something with that block of code:
[code]

I'm no javascript expert, but I suspect I can figure out how to plug in expected values if push comes to shove.

[2020-01-24 17:33] da2x opened #2359 "Stops responding when editing a large note on Android"
## Environment

Joplin version: 1.0.312
Platform: Android
OS specifcs: 10, Samsung S10e

## Steps To Reproduce

1. Create a new note and *quickly* type a 4000+ character note in one go

The app stops responding and text input no longer appears on screen. If you the problemt and continue typing, eventually the on-screen keyboard will also stop giving visual indications as to what letters you press.

[2020-01-24 18:08] virtadpt commented on #2359
I see this quite often, also.

[2020-01-24 20:24] carlbordum commented on #1023
I am experiencing this too. It appears to me as if the Linux Desktop client hangs while syncing. It uses no network while syncing for long periods of time until you click somewhere in the GUI.

[2020-01-24 20:57] #2322 closed

[2020-01-24 21:00] #2356 closed

[2020-01-24 21:16] taw00 commented on #2256
This is all a red herring. Something is wrong with 1.0.177. I don't know what it is, but it was disguised by this error in the build. And the console pulls up the same error as displayed in the build.

1.0.177 displays a white screen and that is it. 1.0.178 though it errors in the build (and it is labeled "fatal" which is scary), it is fully functional after the build. Or at least it seems to be.

[2020-01-24 21:16] #2256 closed

[2020-01-24 21:18] ulucs commented on #2357
I have been having the same issue and resorted to reinstalling the previous version as a workaround.

[2020-01-24 21:42] Brn9hrd7 opened #2360 "Keymap.json doesn't get loaded(Terminal application)"
I've tried changing the key bindings by downloading a keymap.json file from a dotfile repo I found, but it doesn't seem to get loaded at all.
This is the content of ~/.config/joplin/keymap.json
[code]
## Environment

Joplin version: 1.0.178-1
Platform: Linux, terminal
OS specifcs: Arch Linux, I've installed Joplin through the AUR

## Steps To Reproduce

1. Create a keymap.json file
2. Launch jopli

[2020-01-24 21:47] #2324 closed

[2020-01-24 21:51] laurent22 commented on #2357
I'm not seeing any slow down actually. Can someone post *one* example Markdown that definitely shows the problem?

[2020-01-24 22:41] tessus commented on #2350
Glad it worked.

The forum is a good place to searrch for problems/issues or to discuss Joplin in general.

[2020-01-24 23:12] laurent22 commented on #2256
There was two problems: first the git command was printing directly to stdout, and then we were printing the error message too, thus the messy output.

The error is fatal for git indeed, as there's no .git directory, but not for us since it's not critical information.

So I've tweaked the script to fix these issues, so it will now build more cleanly when no .git directory is present.

[2020-01-24 23:53] TylerBrock opened #2362 "Logging out of Dropbox in Desktop App"
Hi folks, I'm logged into a dropbox account that ran out of space so I made a new account that has plenty but I cannot figure out how to log out of the Dropbox account I originally logged into inside of Joplin.

Is there a trick to doing so?

[2020-01-25 00:00] mgrandi opened #2363 "Clicking "yes" on update window doesn't open download link"
I noticed when trying to download the latest joplin update (1.0.179) after i restarted my computer, is that the download link when you click "yes" on the auto update window doesn't actually open the download link

## Environment

Joplin version: 1.0.178
Platform: win32
OS specifcs: windows 10
browser: firefox 72.0.2 (64-bit)

## Steps To Reproduce

1. make sure browser is open
2. open joplin, or i

[2020-01-25 00:16] tessus commented on #2362
Please use the forum for questions. Also please make sure you have a backup (export -> JEX) before you do anything. If the sync target is empty all your local notes will be removed.

[2020-01-25 00:16] #2362 closed

[2020-01-25 03:05] bedwardly-down commented on #2360
I would first definitely try to uninstall the AUR version, backup your Joplin config folders (.joplin and .joplin-desktop), and then download and run the latest AppImage from the [releases page](https://github.com/laurent22/joplin/releases) or, if you want the CLI version, build it from source.

If you go the AppImage route, make sure you have `fuse2` installed or the app won't start. If you build

[2020-01-25 03:16] bedwardly-down commented on #2363
It would still be a good idea to have a logfile, even if it doesn't seem relevant. There maybe something the devs know that you don't about what the logs say that could be affecting you.

Also, do you have an antivirus / firewall installed that could be blocking Joplin from working? Have you tried launching Joplin from Powershell / Cmd Prompt so that you can get an idea of what's happening when yo

[2020-01-25 03:25] bedwardly-down commented on #2359
@da2x I have a series of questions for you and things for you to try:

1. When was the last time you restarted your phone?
2. When was the last time you went to Settings->System Updates->Download and install to see if there are new updates for your phone from Samsung?
3. When was the last time you went to Settings->Device Care->Memory and ran Clean Now (to stop background apps you're not using tha

[2020-01-25 03:28] bedwardly-down commented on #2335
On your iOS device, have you uninstalled Joplin and then reinstalled it so that you've cleared all configs? Also, do you only have one Master Key under encryption settings on your Mac? You definitely are on the right track setting your Master Key on your Mac.

[2020-01-25 03:36] deciacco commented on #2324
works!! thank you! really appreciate it!

[2020-01-25 05:07] bedwardly-down commented on #2268
I'm trying to work some on this and added a new method only to have the linter throw an error when I tried committing the addition to my branch. How do I get around that?

[2020-01-25 05:26] lbo34 commented on #2357
Hi. I am also on 1.0.178 (the app update pops for 1.0.179 but does not download it), but on OS X.
I am experiencing the same problem. The math equations are re-written every time I type something (even if it is not an equation). This happens on several documents, but I believe I did not experience this behaviour before... I am dropping an example...
[Notes de Cours Machine Learning II_ Deep Learni

[2020-01-25 07:52] bedwardly-down commented on #2268
This doesn't do anything fancy or really useful yet, but I've got a start so far on this.
![2020-01-25-014928_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/73118114-35efea00-3f15-11ea-8be1-81aff7491850.png)
![2020-01-25-014944_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/73118115-3be5cb00-3f15-11ea-998a-316b46ae8376.png)

[2020-01-25 08:15] plibither8 commented on #2268
Hey @laurent22 and @bedwardly-down, I'd like to help out on this issue. Is there a discussion thread regarding this on Discourse?

[2020-01-25 08:37] plibither8 commented on #51
Even if manual re-ordering via drag-and-drop is not supported, I think it's essential that optional sorting of notes in a notebook should be allowed. What I mean by that is: the user is supplied with a few default sort methods such as _alphabetical_, _last modified_, _date created_ etc.

An simple implementation which I can quickly think of is a dropdown field with the sort methods.

[2020-01-25 08:51] lando-cal commented on #51
I really tried to love Joplin, I promise!
But the lack of functionality here just wasn't worth the benefits of a preferred not taking syntax for me.  I went back to an alternative product that supports my Nextcloud sources, and I've been happy enough with it that I didn't recall the struggle until I got an email notifying me of your post..

There's a heavy argument to be made, that implenting this

[2020-01-25 09:22] gitoss commented on #2286
Thanks, I've seen #1992, but I don't understand why "Can't be fixed as of now" results in the ticket being closed.

I hope @laurent22 tracks this problem and upcoming framework versions make a fix possible - Joplin is absolutely terific, but nearly broken scrolling in conjunction with static cursor positioning in view->edit mode make it nearly unusablle for longer documents right now. Having said

[2020-01-25 09:29] blub4747 opened #2364 "dedicated folder in Nextcloud"
Hi community,

I wanted to know if it possible create dedicated folder on a nextcloud instance and to tell the Joplin client to use this dedicated folder. Instead of dumping everything into the folder.
Thank you and regards,
blub4747

👉 Please follow one of these issue templates:
- https://github.com/laurent22/joplin/issues/new/choose

⚠️
The GitHub issue tracker is for **bugs** and **security iss

[2020-01-25 10:47] laurent22 commented on #2268
@plibither8, no, only the spec above but if you need more info feel free to ask here.

@bedwardly-down, thanks but please check the spec carefully - I do not want to clutter context menus with items like "Set icon", that's why I've put it under "Properties".

[2020-01-25 10:57] laurent22 commented on #2286
It's related to #1992 because if scrolling could accelerate it would be easier to get to the bottom of a document, but that part can't be implemented by us. We need to wait for it to be done in React Native.

I've converted this issue to a "good first issue" to give it more attention (note that I've also tweaked a bit your text and title as a result).

[2020-01-25 11:47] CaptainNick commented on #2296
@laurent22 I would like to work on this issue.

[2020-01-25 13:08] ArjenB96 commented on #2357
I can confirm Ibo34's issue.
Currently trying this on OSX 10.14.5 and I have the same issue.
Here is a screen capture of the issue:
![Joplin slow rendering of KaTeX elements](https://gfycat.com/jitterycloudygangesdolphin)

[2020-01-25 14:10] bedwardly-down commented on #2268
@plibither8 it doesn't look like it, but if you want to assist with what I've done so far, I'd gladly take it as long as you know how to use git and are willing to stay pretty consistent with how the devs have already written the code.

These steps apply to anyone regardless of proficiency that want to help out so that everything stays consistent:

1. Fork my joplin fork
2. `git clone <insert the

[2020-01-25 14:12] ArjenB96 commented on #2359
Might be related to #2357.

[2020-01-25 14:13] bedwardly-down commented on #2268
@laurent22 I definitely did check that out and should have been clear, but I'm trying to get the setIcon functionality set up first and then move on to the Properties part of the spec. I'm honestly having trouble getting multiple promptOptions to show when switching Rename to Properties. The options are just overriding each other with the last option being the only one showing.

[2020-01-25 14:48] lbo34 commented on #2357
I also notice some latex commands stopped working... Like \mathbb{} and some others. Used o work very well.

[2020-01-25 14:50] dpoulton-github commented on #2363
Joplin version: 1.0.178
Platform: Windows 10 x64 (1909)

Same here. Had to go to the Joplin web-site to download the package.

[2020-01-25 14:53] dpoulton-github commented on #2364
See the forum:
https://discourse.joplinapp.org/t/nextcloud-notes-folder/5200

[2020-01-25 14:57] dpoulton-github commented on #2335
The password you create at step 2 is the password you enter at step 5.

[2020-01-25 15:31] dpoulton-github opened #2365 "Joplin will not start minimised if quit when maximised"
## Platform

Version: Joplin v1.0.179
Version: Joplin v1.0.178
OS: Windows 10 x64 (1909)
OS: Linux Mint x64 (19.03)

Version: Joplin v1.0.175
OS: Windows 10 x64 (1909)
OS: Linux not tested

## Steps to reproduce

1. Open Joplin.
2. In Joplin settings (**Tools** > **Options** > **Application**) tick the box "Start application minimised in the tray icon".
3. **Apply** > **Back** / **OK**
3. **Maximi

[2020-01-25 15:32] ssnellings commented on #2363
Joplin version: 1.0.178
Platform: Windows 7 x64

Same issue with it not working through the app. When I go to the joplinapp.org website manually the windows link points to the following link so I didn't download it since it's the version I'm currently on:
https://github.com/laurent22/joplin/releases/download/v1.0.178/Joplin-Setup-1.0.178.exe

I can see 1.0.179 in the releases section of github, it

[2020-01-25 15:55] laurent22 commented on #2296
That's great @CaptainNick! I've assigned the issue to you and if you need some help let us know.

[2020-01-25 17:12] lbo34 commented on #2357
This is bad... I tried to downgrade to 1.0.177 and I am not sure what went wrong but I cannot open the app anymore. It says it is opened but the main windows does not appear. I can access the menu but nothing happens. Only "about Joplin" seems to work and opens a window on the bottom left of the screen... I tried to reinstall 1.0.177, 1.0.178... Nothing seems to work.

[2020-01-25 17:23] evilSwanson commented on #2332
This problem is still present in v1.0.179

[2020-01-25 18:13] nunesgh commented on #2342
Why was this issue marked as invalid? It is similar to #738, just regarding another way to distribute software for Linux users.

Also, I would prefer a snap package rather than a flatpack one, since it is natively supported by Ubuntu and its derivative distributions.

[2020-01-25 18:56] plibither8 commented on #2268
Thanks @bedwardly-down. I've got sufficient experience with Git so I'm pretty sure I'll be able to handle that aspect of the issue - thanks for the instructions! :)

I'll hopefully start work on this tomorrow.

[2020-01-25 19:13] bedwardly-down commented on #2268
@plibither8 you're quite welcome. My instructions definitely weren't for anyone in particular, just me laying out how I want people to go about helping me. :D

[2020-01-25 19:30] hrk commented on #1983
FWIW I just stumbled here after updating Joplin (I'm not using my mac as much as I did in the past) and using the workaround explained in https://github.com/laurent22/joplin/issues/1983#issuecomment-542170276 I was able to successfully open Joplin 1.0.179 on macOS 10.15.2

When opening Preferences -> Security & Privacy -> General, in the lower half of the screen I had the message (translating to E

[2020-01-25 20:40] Brn9hrd7 commented on #2360
When running `build.sh` I didn't get any output at all(not sure if this is expected).
When trying to run run.sh afterwards I got this error:
[code]

[2020-01-25 20:58] tessus commented on #2296
@CaptainNick please make sure that you also include a live search field in the popup, otherwise it will be very hard to scroll through a myriad of folders. Imagine 100-200 nested folders. Scrolling would be a mess and time consuming matter.

[2020-01-25 21:08] bedwardly-down commented on #2268
@plibither8 I have a NotebookPropertiesDialog class started in ElectronClient/app/gui. I'm not 100% sure how to implement everything yet but am going to mainly doing everything there with some code added where needed to get the app to register the new additions. MainScreen looks like the main area for just that.

[2020-01-25 21:38] #2364 closed

[2020-01-25 21:44] tessus commented on #2360
@Brn9hrd7 Did you run `npm install` in the `CliClient` directory?

Also, `run.sh` invokes `build.sh`, so running `build.sh` by itself is not necessary.

[2020-01-25 21:51] Brn9hrd7 commented on #2360
@tessus
Yes I did, I just followed the instructions [here](https://github.com/laurent22/joplin/blob/master/BUILD.md#building-the-tools) (only the Building the tools & Building the terminal application part)

[2020-01-25 22:10] tessus commented on #2360
Just ran through it and I didn't get the error. Maybe @laurent22 has an idea.

Although build issues should be discussed on the forum. Now the build issue distracts from the original issue you've posted.

[2020-01-25 22:16] kornava commented on #738
How about a snap package for Joplin
I think they have a good support for electron based desktop apps
https://snapcraft.io/docs/electron-apps
AppImage is really painful, even with the provided shell script its always better to have an automated solution for updates

And how about an apt repository for debian users?

[2020-01-25 22:17] bedwardly-down commented on #2360
Sorry for asking him about that. AUR (it's like Ubuntus PPA) on Arch has a tendency to break things so i wanted to make sure it wasn't that.

[2020-01-25 22:19] PopeRigby commented on #738
I would recommend against Snaps. Their backend and main repository is proprietary.

[2020-01-25 23:07] bedwardly-down commented on #2268
@laurent22 i would live to be assigned this issue. I don't have a massive amount of experience with nodejs or reactjs but I'm great at learning on the fly and have quite a bit of experience with Java and a small handful of other languages.

[2020-01-25 23:53] laurent22 commented on #2357
@lbo34

As this is a different issue, could you open a new issue with a complete  markdown example, and what rendering you expect?

[2020-01-26 00:00] laurent22 commented on #2296
@tessus, it's already in the spec

[2020-01-26 00:02] laurent22 commented on #2268
That's done @bedwardly-down 👍

[2020-01-26 00:43] tessus commented on #2296
@laurent22 ahh, the last time I read the first comment that part was not there. This suggestion came only later in the forum.

[2020-01-26 07:26] mgrandi commented on #2363
here are all of my logs, i moved all my old logs to a new folder, set the flags.txt to have --logLevel debug and then started the app, and clicked 'yes' on the update request

[log.txt](https://github.com/laurent22/joplin/files/4113216/log.txt)
[log-autoupdater.txt](https://github.com/laurent22/joplin/files/4113217/log-autoupdater.txt)
[log-clipper.txt](https://github.com/laurent22/joplin/files/41

[2020-01-26 07:28] mgrandi commented on #2363
here are my logs, i edited flags.txt to have --logLevel debug and then moved my old logs to a different folder, then restarted joplin, and clicked 'yes' to to the auto update prompt

[log-clipper.txt](https://github.com/laurent22/joplin/files/4113222/log-clipper.txt)
[log.txt](https://github.com/laurent22/joplin/files/4113225/log.txt)
[log-autoupdater.txt](https://github.com/laurent22/joplin/files

[2020-01-26 09:43] gitoss commented on #2287
I've commented in the other/original ticket.

My 2ct is that an option "start edit at top/bottom" should be a quick and easy fix @laurent22 that could be removed once an automatic "start at current view position" can be implemented.

This temp fix would make Joplin/mobile usable with longer documents for everyone until cursor and scrolling apis are extended. I faintly remember waiting forever for

[2020-01-26 12:10] mic704b opened #2370 "Desktop: Joplin crash when changing menu"
## Environment
Joplin version: Desktop v179
Platform: Linux
OS specifcs: Ubuntu 18.04

## Steps To Reproduce
1. Start Joplin
2. Click `View` menu
3. Quickly click `Tools` menu

Expected result: `Tools` menu is shown
Observed result: Segment fault

It doesn't happen 100% of the time, but will happen within one to three attempts. It can happen between any menus, not just `View` and `Tools`

[2020-01-26 12:40] mic704b opened #2371 "Desktop: Joplin hangs when selecting tag"
## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifcs: Ubuntu 18.04

## Steps To Reproduce
1. Start with default profile
2. Add tag `aaa` to the first note
3. Select second and third note (multi-note selection)
4. Select tag `aaa`

Expected result: Note list updates to show first note.
Observed result: Entire Joplin window renders white.

[2020-01-26 12:57] mic704b commented on #2371
Probably occurs on all platforms.

[2020-01-26 13:12] laurent22 commented on #2370
We don't have a special handler when menu are shown so that would be an Electron crash. Maybe post the seg fault dump to their issue tracker, in case they can do something about it.

[2020-01-26 13:12] #2370 closed

[2020-01-26 13:13] laurent22 commented on #2371
Does the console show any error? https://joplinapp.org/debugging

[2020-01-26 13:41] bedwardly-down commented on #2332
It looks like this is an issue that may need to be sent upstream to the AppImage devs. I thought it was something that was specific to this project and something the devs here changed but it doesn't look it.

[2020-01-26 14:54] Babber opened #2373 "Last keystroke gets undone at random times"
Joplin 1.0.178 on x64 Win10 Pro with syncing via Dropbox

On a few occasions, I have noticed that a few seconds after the last keystroke, the editor undoes that action, that is it removes the last character or undoes the last delete. This happens quite rarely and at random, unpredictable times. It certainly looks like a bug to me but I am not sure (yet) how to reproduce it. Because of the latency,

[2020-01-26 17:46] #2371 closed

[2020-01-26 17:52] bedwardly-down commented on #2360
@Brn9hrd7 i just had a thought. What window manager / dedktop environment are you currently using? Could it be possible that the keymapping settings there could be overriding your Keymap.json file's mappings? Ironically, i just ran into that issue on my iPhone with how my text replacement settings were being overridden by another one of my apps

[2020-01-26 17:54] bedwardly-down commented on #2373
This doesn't happen on my desktop but definitely happens on my iPhone at random times, especially when creating a new note while its syncing

[2020-01-26 18:05] Runo-saduwa commented on #2085
Can this issue be assigned to me or is it solved?

[2020-01-26 18:55] lbo34 commented on #2357
Sure... it is just these two things seems to have appeared at the same time. I'll open a new issue.

[2020-01-26 19:10] lbo34 opened #2374 "Incorrect KaTeX rendering"
As a follow up of: https://github.com/laurent22/joplin/issues/2357

Some KaTex command like '\mathbb{}' or '\mathcal{}' used to work correctly and are now rendered incorrectly. I attached a pdf exported in the past with the correct rendering and a pdf with the current rendering.

The "E" corresponds to KaTeX command '\mathbb{E}' and the D: '\mathcal{D}'

[KaTeX rendering problem - Old and Good ren

[2020-01-26 19:21] mic704b commented on #2371
Yes, it happens because the `selectedNoteIds` are not found in the updated `NotesList`:
[code]

The full console error is:
[code]

[2020-01-26 19:47] WraithGlade opened #2375 "Joplin 1.01.316 Android Samsung S9+: Joplin randomly opens a calendar popup when clicking in text, lags constantly, the cursor jumps around randomly constantly, edits are applied to the wrong parts of the text constantly, etc."
I just started trying to migrate away from EverNote yesterday, because I've been very tired of how extraordinarily buggy and unreliable it has been for years despite how simple it should be (I only store plain text). I was trying Joplin, and initially it seemed like maybe a good system for my notes and at first I didn't see bugs, but today it is becoming clear that the program is actually extremel

[2020-01-26 19:54] Runo-saduwa commented on #2279
please can you assign this issue to me?, but permit me to ask questions if i am stuck because i am trying to give my first open source contribution. is this issue a Desktop issue because i am more comfortable with the desktop technologies

[2020-01-26 21:12] bedwardly-down commented on #2375
Ok, first of all, I completely understand your frustrations. I have a Samsung Galaxy S9+ and luckily, Joplin hasn't exhibited most of these problems, but of course, my Galaxy is my work phone and my secondary phone. I primarily run Joplin on Artix Linux and my iPhone XR with it being a backup on my Galaxy in case my iPhone messes up and also because I put some of my work related information in my

[2020-01-26 21:18] bedwardly-down commented on #2301
By the way, this also shows up on my Samsung Galaxy S9+, so it's definitely not an iOS specific bug.

[2020-01-26 21:37] bedwardly-down commented on #2363
@mgrandi This issue appears on Artix Linux, too, with nothing showing in the terminal or in my logs about it, either. It's not just a Windows issue.

[2020-01-26 21:37] Brn9hrd7 commented on #2360
I'm using bspwm(with sxhkd), but I just tried different WM's and DE's as well(Openbox, Xfce, Qtile), and I'm experiencing this issue on all of them.

[2020-01-26 22:35] Brn9hrd7 commented on #2360
Figured it out, and it was entirely my fault :D Sry for wasting your time.
A few weeks ago I decided to try out the CLI version(was using the Electron app), but then I saw that all my notes are apparently stored in ~/.config/joplin-desktop while the CLI only loads ~/.config/joplin
So I've put this line in my zshrc
`
alias joplin="joplin --profile ~/.config/joplin-desktop"
`
so all my notes get loa

[2020-01-26 22:35] #2360 closed

[2020-01-26 23:46] bedwardly-down opened #2377 "checkForUpdates.js bug in code causing #2363"
## Environment

Joplin version: v1.0.178
Platform: Linux 64
OS specifcs: Artix Linux

## Steps To Reproduce

1. Open Joplin v1.0.178.Appimage
2. Select Help->Check For updates.
3. Click yes or no and nothing happens with no console or log output.

Describe what you expected to happen:

Open release page to allow the user to save the new release to their system.

## Logfile

There are no relevant l

[2020-01-27 00:02] laurent22 commented on #2377
See https://github.com/laurent22/joplin/releases/tag/v1.0.179

[2020-01-27 00:02] #2377 closed

[2020-01-27 00:08] laurent22 commented on #2375
Guys you don't have to write a Tolstoy novel for each bug report. Please keep it concise and actionable, or else noone will be able to work on it.

[2020-01-27 00:08] bedwardly-down commented on #2377
This is definitely where having more user friendly bug foxes would come in handy.

[2020-01-27 00:13] laurent22 commented on #2374
Hmm yes that's not right. I wonder if it's because the Katex fonts aren't being loaded properly.

[2020-01-27 00:18] bedwardly-down commented on #2363
Looks like this bug's been fixed in v1.0.179. The update message box fix in its [changelog](https://github.com/laurent22/joplin/releases/tag/v1.0.179) is just this

[2020-01-27 00:22] bedwardly-down commented on #2375
Sorry. 😅

[2020-01-27 01:36] tessus commented on #2317
added via #2355

[2020-01-27 01:36] #2317 closed

[2020-01-27 01:39] tessus commented on #2360
@Brn9hrd7 just that you know. If you symlink the profile dir, never, ever run both clients at the same time. Otherwise, data corruption, unexplained state changes in the app, ....

[2020-01-27 02:07] tessus commented on #2363
yep, fixed via 5c54b8310897694078b0a5e6dd929246aa7e71de

[2020-01-27 02:07] #2363 closed

[2020-01-27 02:55] bedwardly-down commented on #2268
@laurent22 what's your policy on progress updates for assignments? I didn't see anything about that in the Contributing Code section of the docs.

[2020-01-27 03:00] WraithGlade commented on #2375
Well, Joplin looked like a good alternative initially, especially on desktop (e.g. with the nice partial Vim mode support, among other things), but I just can't keep tolerating these kinds of very buggy apps for what should be very basic foolproof bookkeeping and organization tasks.

**I've officially uninstalled the app and disconnected it from my Dropbox.**

It was also constantly spamming Dropb

[2020-01-27 05:26] bedwardly-down commented on #2375
@WraithGlade, if you know how to code, you could of course do what @laurent22 did and just start writing your own app to solve your issues. That's how this project started. Best of luck.

Can we get this issue closed please since it's no longer really useful?

[2020-01-27 06:03] heyizhang opened #2378 "Can't share Notes: Unsupported WebDAV URL format"
I use the latest version of Joplin. It's configured to use WebDAV well because I can see  it works well from the WebDAV I use, which is jianguoyun.  So I cannot understand  why report "Unsupported WebDAV URL format", Or this feature can only work with nextcloud?

## Environment
Joplin version: 1.0.179
Platform: macOS
OS specifcs: 10.15.2

## Steps To Reproduce

1. find a note, right click, and sha

[2020-01-27 07:24] BWPanda opened #2379 "ASCII art rendering issue"
The 'Joplin' ASCII logo in the Linux installer doesn't render properly and therefore isn't readable.

## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifics: Mint 19.3 Cinnamon

## Steps To Reproduce

1. Enter `wget -O - https://raw.githubusercontent.com/laurent22/joplin/master/Joplin_install_and_update.sh | bash` into Terminal (as per https://joplinapp.org/#desktop-applications) & p

[2020-01-27 07:25] BWPanda commented on #2379
Here's a screenshot in case more useful...
![image](https://user-images.githubusercontent.com/2385329/73156595-f24cda00-40e6-11ea-8cd1-879814237aae.png)

[2020-01-27 07:27] mic704b commented on #359
@laurent22 would you be open to a PR (desktop) for `add or remove tags` to multiple notes?

With the spec being:

When multiple notes are selected and `add or remove tags` is actioned
- the common tags are presented,
- changes are applied to each selected note

When one note is selected and `add or remove tags` is actioned:
- behaviour is unchanged from current

[2020-01-27 07:52] ulfyyang opened #2380 "suggest to add catalogue on article right"
add a catalogue on article right, for long article can jump by click catalogue easily.

like that:

<img width="990" alt="图片" src="https://user-images.githubusercontent.com/31947736/73157783-188d6c80-411d-11ea-88a6-61f100d844d1.png">

[2020-01-27 08:42] #2379 closed

[2020-01-27 09:09] laurent22 commented on #2268
No policy as of yet

[2020-01-27 09:19] #2375 closed

[2020-01-27 09:24] bedwardly-down commented on #2268
Thanks for getting back to me. I can't sleep, so I'm working on the task as we speak.

[2020-01-27 09:35] laurent22 commented on #359
@mic704b, yes that makes sense, I would accept a PR with this spec.

[2020-01-27 09:39] laurent22 commented on #1493
Seems it's been confirmed - https://github.com/facebook/react-native/issues/20119#issuecomment-578650379 Now it's "only" a matter of upgrading to the latest version of React Native.

[2020-01-27 09:49] foxmask commented on #1493
that's smell good

[2020-01-27 12:30] Brn9hrd7 commented on #2360
Thanks for the info @tessus , I think I'll probably switch back to the regular profile in the future though.

[2020-01-27 14:03] derikb opened #2381 "Prompted to update, no update to be found"
In Mac OS 10.14.6 and Joplin 1.0.178, I've been prompted at consistent periods over the past few days to update to 1.0.179 but clicking "Yes" produces no results, and 1.0.179 doesn't seem to exist on the website so I can manually download.

I guess some step went missing or wrong in the last release process?

## Environment

Joplin version: 1.0.178
Platform: macOS
OS specifcs: 10.14.6

## Steps To

[2020-01-27 14:19] dpoulton-github commented on #2381
According to a closed issue on this matter this was fixed for v1.0.179
https://github.com/laurent22/joplin/issues/2363
https://github.com/laurent22/joplin/releases/tag/v1.0.179

v1.0.179 available directly from:
https://github.com/laurent22/joplin/releases

[2020-01-27 14:53] jcbwd opened #2382 "Changes from MacOS not syncing to iOS"
Host Computer:
MacBook Pro 2017, 13", running MacOS 10.15.2, and Joplin 1.0.178

Phone:
iPhone SE, 32GB, running iOS 13.3 and Joplin 10.0.43.

Steps to reproduce:
1. Create a library in Joplin for MacOS
2. Enable e2ee
3. Sync library via Dropbox
4. Install Joplin for iOS
5. Turn attachment downloading to "Automatic"
6. Sync library via Dropbox
7. Input master key to decrypt library
8. Decrypt libr

[2020-01-27 16:06] bedwardly-down commented on #2268
Update: This isn't functional beyond the NotebookPropertiesDialog box showing up, but I have cracked how commands are linked to action so far.

![2020-01-27-100250_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/73191200-b9afff00-40ec-11ea-8864-e5fa84c3e115.png)
![2020-01-27-100402_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/73191210-bd438600-40ec-11ea-9

[2020-01-27 16:49] laurent22 opened #2383 "Add a "Copy code" button on code blocks"
When a code block is displayed, add a "Copy" button in the top-right hand corner. Clicking on it should copy the code to the clipboard. That button should only be displayed when the user moves the mouse over the code block.

## Platforms

- Desktop
- Mobile

* * *

![image](https://user-images.githubusercontent.com/1285584/73194694-812c1780-4124-11ea-989c-64dbb9d3b6ab.png)

[2020-01-27 17:02] laurent22 commented on #2279
Ok that's done @Runo-saduwa. This change is on code shared by desktop, mobile and cli but you only need to test on one platform, so just desktop is fine.

[2020-01-27 17:24] derikb commented on #2381
Sorry! Missed that one. Closing.

[2020-01-27 17:24] #2381 closed

[2020-01-27 19:27] andradei opened #2384 "iOS Set Alarm doesn't show Date/Time widget"
When setting an alarm on a to-do or note, A window shows up at the bottom, but it is mostly blank and the date/time sliders/widgets are invisible.

## Environment

Joplin version: 10.0.43
Platform: iPhone 6S
OS specifcs: iOS 13.3

## Steps To Reproduce

1. Select a to-do or note
2. Touch the three-dot icon on the top-right corner
3. Touch "Set alarm"
4. Touch the "Select date" field or the Calenda

[2020-01-27 20:05] BartBucknill commented on #2334
@laurent22 Based on reading a few Q/A on stackoveflow (such as [this one](https://apple.stackexchange.com/questions/265696/how-can-i-avoid-data-mangling-in-filenames-when-copying-files-between-linux-and)), I think it's possible that the test I added when making a fix for this issue is failing in the linux pipeline because of an encoding applied to the filename when it was saved on my macOS machine

[2020-01-27 20:24] dudeinthemirror opened #2385 "Upgrade to 1.0.179 doesn't work MacOS Mojave"
I have version 1.0.178 running on my MacOS (Mojave) laptop.
When trying to upgrade to 1.0.179 the download does not get triggered when
clicking the `Yes` button (see attached GIF)

## Environment

Joplin version:1.0.178
Platform: MacOS
OS specifcs: version 10.14.6 (Mojave), MacBook Pro (15", 2017), 16GB RAM

## Steps To Reproduce

1. Open Joplin
2. It prompts to upgrade from 1.0.178 to 1.0.179
3.

[2020-01-27 20:33] ulucs commented on #2357
Did you have any success reproducing the issue?

I also found a new workaround: disabling and then reenabling KaTeX seems to work for a while

[2020-01-27 20:42] laurent22 commented on #2357
@ulucs, this workaround is to fix what issue?

[2020-01-27 20:45] ArjenB96 commented on #2357
@laurent22 The lag, as it clears the RAM usage.
If I switch continuously between two medium-sized notes with KaTeX in both of them, I notice the lag showing up after a while. I have not timed it, but it might be somewhere in the range of 10-20 minutes.

[2020-01-27 20:55] ulucs commented on #2357
Yeah, it is about the lag. I also noticed the issue is also present in version 1.0.177

[2020-01-27 20:57] tessus commented on #2385
fixed in 1.0.179. commit 5c54b8310897694078b0a5e6dd929246aa7e71de

Please check the issues BEFORE opening a bug report. There have been 3 topics in the forum and 2 issues on gh. It's very irritating to explain this several times.

[2020-01-27 20:57] #2385 closed

[2020-01-27 21:13] laurent22 commented on #2357
@ArjenB96, if you could post an example of note that shows this memory leak it might help. The more sample notes we have the better.

[2020-01-27 21:22] dudeinthemirror commented on #2385
sorry @tessus, I apologize for this. I searched through open issues only.

[2020-01-27 21:28] laurent22 commented on #2334
Yes that's reasonable, it's often hard to get filenames to work well cross-platform, so we could disable the test for Linux for instance.

What I'm more concerned about is that `extractImageUrls()` gives encoded URLs, while I think they should be decoded. Internally, any kind of data should be in decoded form (unless explicitly noted), and it's on app boundaries that we should encode/decode. So no

[2020-01-27 21:28] ArjenB96 commented on #2357
[lag_files.zip](https://github.com/laurent22/joplin/files/4119422/lag_files.zip)

I hope I did it right, I tried to export two notes in .jex file.
The result after 10 minutes of switching notes (while writing the summary file listed) is very significant. The resulting lag carries on when trying to edit any note.

[2020-01-27 22:58] tessus commented on #2385
@dudeinthemirror no worries. all good. Just had to vent a little. Nothing personal. I know that this can happen.

[2020-01-28 00:15] Runo-saduwa commented on #2383
Please i will love to try to implement this, can this issue be assigned to me?, and if theres anyone more familier with the codebase, i will love to work together

[2020-01-28 01:08] dbogdanov opened #2389 "No way to search from inside a note on Android"
There is no way to search for text in a note from inside the note view on Android. Desktop versions of Joplin provide this functionality, but not on Android. There are previous issues describing this problem that were automatically closed (see #382).

As I understand, b189814 adds an ability to highlight the text within notes, so one can search from the main note search menu, but this is useless a

[2020-01-28 04:17] lbo34 commented on #2357
true @ulucs. it seems to help a bit.

[2020-01-28 04:55] bedwardly-down commented on #2383
@Runo-saduwa, I'm currently working on my own assignment here involving changes in the user interface and whatnot. I spent all night digging through a large chunk of the rendering and electron code and am getting fairly familiar with it, especially after the devs here started separating some of the dialog code. One very cool thing about the code here: most of the functions and class names are sens

[2020-01-28 08:03] onocrotal opened #2391 "Starting from 1.0.177 version the AppImage does not start in Debian Buster"
When I try to execute the application I get the following error:
[6873:0128/085551.920553:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_Joplin8BvBnr/chrome-sandbox is owned by root and has mode 4755.
Trace/breakpoint trap

[2020-01-28 10:15] shubhamvaidya604 commented on #2391
+1

[2020-01-28 14:27] danifischer opened #2392 "Desktop and command line versions cannot be used in parallel after update of Desktop version"
Homebrew versions for Joplin Desktop and Joplin command line are different:
- Desktop: 1.0.179
- Command line: 1.0.150

Due to this the same data sources cannot be used for both.

[code]

[code]

## Environment

Joplin version: 1.0.179 & 1.0.150
Platform: MacOS
OS specifcs: Catalina 10.15.2

## Steps To Reproduce

1. Install both versions
2. Set a symlink to have the same data source for both vers

[2020-01-28 14:39] laurent22 commented on #2383
@Runo-saduwa, at this point we only assign up to one issue per person.

[2020-01-28 14:55] laurent22 commented on #2392
It fact it should not. We explicitly don't support this use case, as it can lead to loss of data or corrupted profiles.

Having the same data on desktop and cli is supported via synchronisation.

[2020-01-28 14:55] #2392 closed

[2020-01-28 15:17] amitsin6h commented on #2170
@laurent22 I am waiting for your reply so that we can close this issue

[2020-01-28 15:20] Runo-saduwa commented on #2383
alright, thank

[2020-01-28 16:09] bedwardly-down commented on #2391
Have you tried running Joplin as root? I wouldn't recommend that for daily usage but that error definitely shows that for some reason, the chromium backend that's part of Electron isn't being given access for your current user.

[2020-01-28 16:21] bedwardly-down commented on #2383
@laurent22 that is very reasonable. Thank you

[2020-01-28 16:40] bedwardly-down commented on #2382
This does seem like a timestamp issue. What is your time showing on both your phone and mac? Also, when you open the note in Joplin on your Mac, could you click on this [icon](https://fontawesome.com/v4.7.0/icon/info-circle) (Note Properties information) on your top toolbar and get the current Updated time from that section?

[2020-01-28 17:56] jcbwd commented on #2382
Absolutely!

As of right now, both devices are showing 12:40pm, EST. The timestamp on one of my new notes that isn't syncing says 12:39pm.

I did some digging, and found that Dropbox had incorrectly assigned me to GMT (+0hrs), when I should have been in EST (-5hrs). This meant that the modified times of my files in Dropbox showed in the future. I verified this with the note in question (even thoug

[2020-01-28 18:29] bedwardly-down commented on #2382
I'm not sure beyond that, but resetting Joplin on each platform by reinstalling and resetting sync settings might solve the issue. Make sure whichever platform is correct is fully synced with Dropbox first

[2020-01-28 18:39] seonwoolee opened #2394 "Sync Test Works, but Sync Fails with 403 Forbidden"
## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifics: Arch Linux

## Steps To Reproduce

1. Set up Nextcloud and use it's WebDav
2. Enter Nextcloud synchronization target URL in the synchronization settings
3. Enable encryption within Joplin (unsure if this is relevant)
4. Click "check synchronization configuration" and get back a "Success! Synchronization configuration appears to

[2020-01-28 19:07] spacekitty76 opened #2395 "Joplin won't update"
## Environment

Joplin version: 1.0.178
Platform: Windows 10
OS specifcs:

## Steps To Reproduce

1. Click Help > Check for Updates
2. Joplin finds the update available
3. Click yes to download

When I click yes nothing happens.  It doesn't start a download or give me any other notifications.  Just nothing happens.

Describe what you expected to happen:  Expected the download/update to start.

##

[2020-01-28 19:24] fear-the-beaver opened #2396 "MacOS: UI is missing on fresh install"
## Environment

Joplin version: Joplin 1.0.179 (prod, darwin)
Platform: macOS
OS specifics: Catalina 10.15.1 (19B88)

## Steps To Reproduce

1. Fresh install Joplin.
2. Open the app.

**Describe what you expected to happen:**

1. App starts.

**Actual results:**

1. App start as 1 pixel size (i.e., invisible).

**Workaround:**

1. Using Spectacle, expand the app with a hot keys combo.

or

2. Pay

[2020-01-28 19:44] dpoulton-github commented on #2395
For info, according to a closed issue on this matter this was fixed for v1.0.179.
See:
https://github.com/laurent22/joplin/issues/2363 ,and
https://github.com/laurent22/joplin/releases/tag/v1.0.179

If you don't already have it v1.0.179 is available directly from:
https://github.com/laurent22/joplin/releases

[2020-01-28 19:52] Vitorvlv opened #2397 "View goes up whenever something new is added"
Here is a short video showing the error, is easier this way: https://streamable.com/gzd82#

But basically whenever I write anything on the text box, the view goes up.

This is quite a long note, and it wasn't happening when I started. So it might have something to do with how long the note is. I also used some chemical notations in it $\ce{}$, which always slow performance down for me.

Restarting

[2020-01-28 20:17] mic704b commented on #2397
Nice video demo.

Same issue as #1546?

[2020-01-28 20:39] Vitorvlv commented on #2397
It has better wording than my issue, for sure. But yeah, I think that's it, I'll close this one.

[2020-01-28 20:39] #2397 closed

[2020-01-28 20:41] Vitorvlv commented on #1546
Hey, just wanted to say that this issue is still alive and well.

Here is a short video showing it: https://streamable.com/gzd82#

I'm on Joplin 1.0.179. This is a very long note, is has chemical notation in it and a few images. Restarting Joplin seems to make the issue go away, at least for the moment.

[2020-01-28 21:46] Runo-saduwa commented on #2279
Please i dont understand what you mean by `SearchEngine::search`
where can i find this?

[2020-01-28 21:52] #2395 closed

[2020-01-28 21:59] Runo-saduwa commented on #2279
@laurent22 , sorry for bothering you, but i'm a bit lost, i need some guide on how to implement this.

[2020-01-28 22:00] tessus commented on #2391
We switched to Electron 7. Apparently that was not a problem with Electron 4 or the builder which creates the image. Unfortunately there is nothing we can do in Joplin.

So how do you run other Electron apps on Debian buster? This is not Joplin specific.

- @bedwardly-down already referenced the Electron issue.
- Please use the forum for further discussions: https://discourse.joplinapp.org/t/unabl

[2020-01-28 22:00] #2391 closed

[2020-01-28 22:02] tessus commented on #2380
Feature requests **must be opened and discussed on the [forum](https://discourse.joplinapp.org/c/features)**. After they have been accepted, they can be added to the GitHub tracker.

Please check that your request has not already been posted on the forum or the [Github Issue Tracker](https://github.com/laurent22/joplin/issues?utf8=%E2%9C%93&q=is%3Aissue). If it has, **up-voting the issue or topic*

[2020-01-28 22:02] #2380 closed

[2020-01-28 22:05] tessus commented on #2394
Have you checked the forum?

e.g. https://discourse.joplinapp.org/t/sync-issue-with-nextcloud-unknown-error-2-403/718?u=tessus

[2020-01-28 22:10] tessus commented on #2396
see #2350

[2020-01-28 22:44] fear-the-beaver commented on #2396
I saw this before opening that one. The reason why I've logged that bug is because forums mention workarounds and the github issue got closed without code fix.

[2020-01-28 22:55] mic704b commented on #2397
Thanks @Vitorviv -- in that case, make sure to add your info to that issue.

[2020-01-28 23:35] bedwardly-down commented on #2354
Have you upgraded to [v1.0.179](https://github.com/laurent22/joplin/releases/tag/v1.0.179) that just released the other day? Its changelog doesn't show any fixes related to what you're referring to directly but it still wouldn't hurt to upgrade to it. If you have concerns, feel free to post them on the forums (after searching to make sure someone else hasn't started a post about it already). ☺️

[2020-01-29 06:09] amitsin6h commented on #2389
I would like to work on this @CalebJohn @dbogdanov can you assign me

[2020-01-29 06:22] bedwardly-down commented on #2268
I have hit a roadblock that I'm not quite sure how to get around just yet. I used the new NotePropertiesDialog class as a base for my NotebookPropertiesDialog class, altering parts of it to apply to what is relevant to Notebooks only. I also found that much of the code was a bit hacked together when I first built it, so I rebuilt the entire class from the ground up to attempt to solve some bugs I

[2020-01-29 07:32] bedwardly-down opened #2399 "Font Ligatures Rendering Offset in Editor But Not Rendering At All In Preview"
## Environment

Joplin version: 1.0.179
Platform: Linux 64
OS specifcs: Artix Linux

## Steps To Reproduce

1. Download and install the [FiraCode Nerd Fonts](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/FiraCode)
2. Set Joplin's font to FiraCode (as shown in example below)
![2020-01-29-011901_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/73336105-9002ef00

[2020-01-29 09:52] amitsin6h commented on #2389
I am working on this issue :man_technologist:

[2020-01-29 12:17] eagleofnorth opened #2401 "Syntax highlighting broken on mobile clients"
Syntax highlighting does not work anymore in mobile clients:

## iOS 12.4.4 - Joplin 10.0.43 :
Light theme: Syntax highlighting works.
Dark theme: Syntax highlighting is broken.

## Android 12 - Joplin 1.0.316 :
Syntax highlighting broken in both light theme and dark theme.

[2020-01-29 12:50] #2279 closed

[2020-01-29 12:51] laurent22 commented on #2279
@Runo-saduwa, I missed that it had already been implemented in this pull request so it's done already: https://github.com/laurent22/joplin/pull/2387 If you'd like I can assign another one to you, just let me know which one.

[2020-01-29 12:54] laurent22 commented on #2170
Thanks for looking into it @amitsin6h. Please go ahead and create a pull request with the wrapping fix, but don't change font size as that should be discussed more in depth, possibly as part of a redesign of the app.

[2020-01-29 14:47] dpoulton-github commented on #2399
Could this be because the two panes use different font settings? One set in Joplin (editor) and one set in `userstyle.css` (preview)?

[2020-01-29 15:03] seonwoolee commented on #2394
Yes, I have. Neither that issue, nor other issues that I searched for, solve my issue

[2020-01-29 15:13] dpoulton-github commented on #2399
As a test I added the FiraCode font to a `userstyle.css` for the element **code** and typing `==>` gave this:
![2020-01-29 15_08_19-Window](https://user-images.githubusercontent.com/60117449/73368854-9bdbc900-42a9-11ea-8e4d-af0a76e55d82.png)

[2020-01-29 18:03] bedwardly-down commented on #2399
@dpoulton-github that could definitely be the case. I would think that the options would have the ability to set fonts for both afterall.

[2020-01-29 19:00] dpoulton-github commented on #2399
Just for info the I tested the above on Win10 however I have now tried a Linux (Mint) machine and in both cases I have not found a problem with the ligature being offset in either the editor or the render / viewer pane. BTW, brilliant find, this font is really good when paired with Joplin. It's quite amazing that just a font can add such functionality.

[2020-01-29 19:24] bedwardly-down commented on #2399
The offset issue could very well be my non standard desktop and window manager. It could also be drivers or a plethora of other things. Thanks for testing all this out. I hope this will benefit others quite a bit

[2020-01-29 20:03] dpoulton-github commented on #2399
At this stage possibly not a "bug" issue?

[2020-01-29 20:12] bedwardly-down commented on #2399
I'm closing this issue. In case others are curious about this, @dpoulton-github , I'd love to see you share your findings on the forum. They would definitely useful to more visual types.

[2020-01-29 20:12] #2399 closed

[2020-01-29 21:45] dpoulton-github commented on #2399
https://discourse.joplinapp.org/t/interesting-font-for-code/5513

[2020-01-29 22:42] D4nte opened #2405 "Last error: Error: On file cc0e6915b30947edb5698361e8baf592.md: Item cannot be null"
I added a bunch of new notebooks on my desktop.
It synchronise to my phone via syncthing. Then I started to notice the same error on both devices when synchronising.

I am not able to see these new notebooks on my phone despite the folder (on filesystem) being full synchronised.

## Environment
### Desktop
Joplin version: 1.0.178 (prod, darwin)
Client ID: d0cffdc90adb49d0a7e9fcd2d1f7fc79
Sync Vers

[2020-01-29 22:51] D4nte commented on #2405
Once I remove the file the problem is fixed.
Is it possible to manually decrypt a file so I can check the content and see what in the content created the issue?

[2020-01-29 22:57] mic704b commented on #2405
FYI  https://discourse.joplinapp.org/t/item-cannot-be-null-error/3001

[2020-01-29 23:00] qvantvm commented on #2354
I haven't upgraded yet to the new version mainly because to solve the issue I had to downgrade to a previous version, but I will certainly do that.

Regarding the master key I am not using encryption so I guess I do not have/need a master key.
In the future I will update the entire log.

Thanks.

[2020-01-29 23:20] Runo-saduwa commented on #2279
Ok, Please assign this to me, thanks(#2383)[https://github.com/laurent22/joplin/issues/2383]

[2020-01-29 23:27] tessus commented on #2405
Yep, should be fixed in 1.0.179. Please try the new release and open a new issue should you still run into the same problem.

[2020-01-29 23:27] #2405 closed

[2020-01-29 23:35] Runo-saduwa commented on #2383
@laurent22 , i'm trying to give this a shot so if i understand you corretly, this is going to be implemented in this repo (joplin-renderer)[https://github.com/laurent22/joplin-renderer)]

[2020-01-30 00:03] D4nte commented on #2405
Is it possible the retrieve the content of the corrupted file? I upgraded to 1.0.179 on the desktop and the error still occurs on this file.

[2020-01-30 00:39] tessus commented on #2405
@D4nte first make sure you have a backup of your note. I think the following might help:
Edit the metadata by deleting the line

[code]

Make sure when you save the text file that there's no line ending at the last line.

[2020-01-30 01:27] ethan42411 opened #2406 "Cannot synchronization on onedrive"
I have two PC that was installed Joplin and  logged-in with the same onedrive account to synchronization. But when I upgrade Joplin from 1.0.175 to 1.0.178 or 1.0.179, all notes was not to be sync and display this error on my second PC when I press synchronization.

[2020-01-30 03:58] taw00 opened #2407 "Canceling print will put the UI in a locked up state without an obvious resolution (Linux only)"
UPDATED description.

Joplin 1.0.179
OS: Fedora 31, Gnome 3.34

1. Open Joplin
1. Go to print something with CTRL-P
1. Cancel it.
1. Observe notification window that opens, but can't be removed excepted with the escape key which is perhaps non-obvious. Joplin is unusable until this action is taken.
1. Closing Joplin does not remove the notification window and Joplin cannot be restarted in a useful

[2020-01-30 04:11] taw00 commented on #2407
log.txt had no error. Nor did any other log files. But I was able to produce this. I hope it helps.
![Screenshot from 2020-01-29 23-05-00](https://user-images.githubusercontent.com/6908872/73419303-9e134700-42ec-11ea-8c88-c6277aea10ab.png)

[2020-01-30 04:17] D4nte commented on #2405
Thanks,
For some reason, it is not possible to recover. I tried manythings including copy-pasting a valid note and just copying the the `id` and `encryption_cipher_text` from the corrupted text, and I always get the following error:

[code]

Despite the `type:_ 1` being in (with no line ending, as I copied a full valid file).

Can't the serialisation be a bit less brittle to help recover from corr

[2020-01-30 06:23] mic704b commented on #2405
I know nothing about this.

But the last lines of your file are:

[code]

Have you tried after just removing all those duplicate lines?

[code]

[2020-01-30 06:53] tessus commented on #2405
@mic704b thx, I missed 2 of the duplicates!

[2020-01-30 07:07] tessus commented on #2407
Hmm, this might be a Linux issue. It's also strange how the message looks like.

However, when cancelling, there should not be an error message at all. So there are actually 2 issues:

- error message after cancelling
- error message can't be dismissed (Linux)

With git master on macOS it looks like this:

<img width="531" alt="image" src="https://user-images.githubusercontent.com/223439/73427445-

[2020-01-30 08:49] mic704b commented on #2407
It works on Ubuntu 18.04, though I do get the warning dialog without any button, which I clear by Escape key.

[2020-01-30 08:56] mic704b commented on #1014
Please assign.

BTW what is the purpose of inserting the new line at the start?

Should it not just convert to list item(s) in place, and only insert a new line if the selection starts in the middle of a line?

[2020-01-30 09:34] laurent22 commented on #2405
Also I don't know if you copied `type:_ 1` from your file but it should be `type_: 1`. And no, de-serialisation won't be less "brittle" and try to guess the content of broken files - that's how you end up silently corrupting user data.

[2020-01-30 11:49] laurent22 opened #2409 "Add Back button when navigating between notes"
There is already a button to go back to the previous note when clicking on a note link:

![image](https://user-images.githubusercontent.com/1285584/73447249-385ba500-4356-11ea-92d4-3e06a70503ec.png)

We'd like this behaviour when navigating between notes too, so for example, if I open "note 1", then "note 2", clicking on the Back button will go back to "note 1". If there is no note to go back to,

[2020-01-30 12:38] mic704b commented on #2407
error message after cancelling
    error message can't be dismissed (Linux)

The PR resolves the first issue.

The inability to dismiss a dialog box (@taw00) and a dialog box without OK button (me) are perhaps separate issues.

[2020-01-30 13:32] dbogdanov opened #2411 "Markdown rendering issues with headers"
The markdown headers are often rendered incorrectly: sometime they work properly, but they often fail to be recognized and it becomes very annoying. See an example on the screenshot.

![Screen Shot 2020-01-30 at 14 25 53](https://user-images.githubusercontent.com/409668/73453637-c17dd680-436c-11ea-9a12-85b67256f61a.png)

I could not narrow down in which exact conditions this happens. It feels pret

[2020-01-30 14:11] shubhan-shu opened #2412 "Weird gaps in notes on Android"
Notes on Android show weird gaps after some words. Please see the attached screenshot, the gaps have been denoted by yellow marks.

![IMG_20200130_193144](https://user-images.githubusercontent.com/60474261/73456634-3d414880-4398-11ea-9662-0e231a83b6d1.jpg)

P.S.- You guys are doing an amazing job. I have just started using Joplin and I love it. This is my first GitHub post, I don't know anything a

[2020-01-30 14:24] shubhan-shu commented on #2359
I am experiencing the same problem. Whenever the keyboard starts to lag after working in Joplin for some time I clear the data of the keyboard I am using(Gboard) from the Settings. This fixes the issue. A workaround for the problem is to use NeutriNote app on Android to write notes in markdown and then share it to Joplin or copy-paste the markdown code.

[2020-01-30 14:35] laurent22 commented on #2411
Can't replicate with what you posted, but isn't it just an issue with non-breaking spaces being accidentally inserted?

[2020-01-30 14:37] dbogdanov commented on #2411
The spaces in H1, H2 and H3 in this example are exactly the same.

[2020-01-30 14:37] laurent22 commented on #2412
Non-breaking spaces? If you could export the note as JEX and attach it here, I can check.

[2020-01-30 14:38] laurent22 commented on #2411
Can you export a note that shows the problem as JEX and attach it here?

[2020-01-30 14:42] shubhan-shu commented on #2412
I can't share JEX, I'm on mobile only. Here is the markdown code:
[code]

[2020-01-30 14:46] laurent22 commented on #2412
I can't replicate.

[2020-01-30 15:05] shubhan-shu commented on #2412
I copy-pasted the markdown in a few other markdown editors/viewers, still same problem. Appears to be an issue with my phone. I am using Xiaomi Redmi Note 5 Pro.

[2020-01-30 16:11] bedwardly-down commented on #2412
@shubhan-shu are you using the MiUI launcher (the one that comes as its default UI)? If so, iirc, there may be a font option in its settings menu that could fix the issue. I used to collect import phones and I still have that exact on my shelf. It still works just on my WiFi only since it doesn't have a sim.

[2020-01-30 16:54] shubhan-shu commented on #2412
I tried changing font in my phone (there is an option in the 'Themes' app in Xiaomi), it does change the font in Joplin app **while editing** a note but not **while viewing** it.

In the 'configuration' section of the Joplin Android app there is an option to change 'Editor Font' but it only applies to the font while editing a note. Perhaps the 'Viewing Font' is different from monospace and it can'

[2020-01-30 16:59] bedwardly-down commented on #2412
@laurent22 does the mobile version also have the viewer font only changeable through a css file like desktop version?

[2020-01-30 17:04] bedwardly-down commented on #2412
@shubhan-shu i may have a solution. Go into Joplin Configuration, scroll down to Appearance, and you'll see a Font option below Theme. Change that to monospaced. Then save it.

You may need to restart the app but how's that?

[2020-01-30 17:09] bedwardly-down commented on #2412
@shubhan-shu that may be the case. I just saw the line about that and was responding the same. If you join the discord (link on the main joplin page), when i get home from work for lunch, i can test some things out. My username on there is the same

[2020-01-30 17:13] shubhan-shu commented on #2412
@bedwardly-down Thanks for trying to help me. But this is not a problem with Joplin app. The same problem persists in other markdown editors/viewes too (changing phone's font changes font while editing md but not while viewing it). It is likely a problem with the way my Xiaomi phone handles fonts. I will, perhaps, have to live it for a while.

[2020-01-30 17:21] tessus commented on #2409
Hmm, what's the history limit? After having Joplin open for a few days, the back history will be in the hundreds/thousands.

[2020-01-30 17:37] akinet commented on #1117
Me too

[2020-01-30 18:04] bedwardly-down commented on #2412
I was meaning, because i have that phone, i can troubleshoot some things to see if i can figure it out

[2020-01-30 18:21] shubhan-shu commented on #2412
@bedwardly-down I don't have a discord. I'll contact you later there.

#To recreate recreate the situation you can.

1. Install Joplin on Xiaomi Redmi Note 5 Pro.

2. copy-paste the markdown code I shared earlier in this thread.

[2020-01-30 18:52] bedwardly-down commented on #2412
@shubhan-shu If you can close this issue since it's not a Joplin one, thanks. ☺️

[2020-01-30 18:57] #2412 closed

[2020-01-30 19:48] bedwardly-down commented on #2378
Check this [post](https://discourse.joplinapp.org/t/sharing-notes-or-notebooks/67/4)  out on the forums. It's still live (despite being started two years ago) and looks like it's Nextcloud only for the time being

[2020-01-30 19:59] mic704b commented on #2407
Upon investigating in the code, this is intentional. So this part is not a bug.

[2020-01-30 20:08] mic704b commented on #2409
Would you also want a "forward" button?

[2020-01-30 20:41] tessus commented on #2407
This can't be. Otherwise there wouldn't be a button on macOS. Alao, please note the differences.
On macOS the dialog is bound to the main app window. On Linux it just pops up in the middle of the screen? Something is off.

[2020-01-30 20:45] tessus commented on #2409
It depends. I just think that the specs need an overhaul. As mentioned in my previous comment, there are a few items that are not clear. e.g. we can't just let the history keep growing ad infinitum....

[2020-01-30 20:56] mic704b commented on #2407
The Joplin error message is defined without specifying buttons.  The Electron doc says:

but doesn't specify what will happen on other platforms.

If I explicitly add an `OK` button to the Joplin error message, then I get one (on Linux).

Perhaps we should do this? Or do we leave it up to the Electron default behaviours on the different platforms?

[2020-01-30 21:00] tessus commented on #2407
I think we should add an `OK` button to `bridge.js` for `showErrorMessageBox`. But this is @laurent22's decision to make.

[2020-01-30 21:24] eh8 opened #2415 "Certain KaTeX does not render in exported PDF"
![image](https://user-images.githubusercontent.com/22990581/73491248-2db40680-437c-11ea-9795-24db76da55dd.png)

![image](https://user-images.githubusercontent.com/22990581/73491266-37d60500-437c-11ea-813b-1386c4d27e55.png)

## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifcs: Arch

## Steps To Reproduce

1. Use notation like `\R, \N, \Z`
2. Export PDF and observe such symbols disap

[2020-01-30 21:41] narFnarF opened #2416 "The update popup doesn't trigger the download when clicking YES."
When Joplin detects a new version and offer to download the update, clicking the Yes button doesn't start the download like it used to. Pressing the Yes button is equivalent of clicking the No button.

I first noticed this issue when updating from 1.0.177 to 178. I also got the issue when updating from 178 to 179.

I use Joplin on Mac and Windows and they both have the issue.

## Environment

Jopl

[2020-01-30 21:42] laurent22 commented on #2416
Thank you, this is fixed in 179

[2020-01-30 21:42] #2416 closed

[2020-01-30 21:58] Moltkex opened #2417 "[550:0130/173824.874877:FATAL:setuid_sandbox_host.cc(157)]"
I'm getting the following error when trying to start Joplin-1.0.179.appimage
`/Joplin-1.0.179.appimage
[2822:0130/175257.386341:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /tmp/.mount_Joplin2ogWiD/chrome-sandbox is owned by root and has mode 4755.
`trap'

[2020-01-30 22:44] laurent22 commented on #2383
Yes indeed. Hmm now that the renderer is in a different repo it's not very easy to with with actually.

I'll see if I can think of something to make it easier, maybe by moving it back to this repo.

[2020-01-30 23:36] tessus commented on #2417
Duplicate of #2246

[2020-01-30 23:36] #2417 closed

[2020-01-30 23:38] bedwardly-down commented on #2246
@tessus anyway this could possibly be marked as an upstream bug since it seems to be a Debian specific issue not related to Joplin?

[2020-01-30 23:40] tessus commented on #2246
We switched to Electron 7. Apparently that was not a problem with Electron 4 or the builder which creates the image. Unfortunately there is nothing we can do in Joplin.

So how do you run other sandboxed Electron apps on Debian buster? This is not Joplin specific.

[2020-01-30 23:41] bedwardly-down commented on #2384
Can verify this issue on iPhone XR running iOS 13.3.

![777BDEAA-694C-4204-915F-4864FE9BDE34](https://user-images.githubusercontent.com/59133880/73500213-b4baac00-4387-11ea-82df-aeb4d627934a.png)

[2020-01-30 23:42] gerroon commented on #2246
I use Trilium and Riot as well and those do not seem to have any issues of such. Riot had it for a minute but they resolved it back then, not sure how they did it.

[2020-01-30 23:47] tessus commented on #2246
They probably set the kernel parameter before starting the app or removed the sandbox. Either way, this is not a Joplin specific issue. Set the kernel paramter properly and all is good.

Please ask debian why the heck they think that running a sandboxed app as a non-root user is a bad thing? Or any distro really, which uses this idiotic default.

Maybe Laurent has an idea how to solve this in Jopl

[2020-01-30 23:54] gerroon commented on #2246
I doubt that a package would be allowed modify kernel parameters at will like that, but it is a curious case for sure.

[2020-01-30 23:59] bedwardly-down commented on #2389
The big issue i see here is that @laurent22 would need to approve this change and the default Android has that built in. Just go into edit mode and double tap or hold tap on the screen to pull up a menu that should say something about finding on the page (might have scroll through it depending on phone). Other than that, this could be a convenience feature.

[2020-01-31 00:01] D4nte commented on #2405
Thank you all 3 of you.

Yes, I did noticed the dupe lines and removed as per @mic704b's suggestion but still get `Missing required property: type_: id cc...` error.

Yes indeed @laurent22 it was a typo.

I think this is my issue.

When I `cat` the corrupted file it shows:

[code]

I assume the `%` (It's black font on white background, my terminal is configured  white font on black background) is

[2020-01-31 00:03] tessus commented on #2246
You are right of course. Not sure why I thought it could. Maybe I mixed it up with an ENV var and a different issue. Let's see, if Laurent can come up with something.

Btw, here's also a discussion going on: https://discourse.joplinapp.org/t/the-new-appimage-joplin-1-0-177-appimage-installation-issues/4966?u=tessus

[2020-01-31 00:08] bedwardly-down commented on #2389
I stand corrected. That doesn't apply to Joplin so may be on a per app thing.

[2020-01-31 00:17] gerroon commented on #2246
I think it is something to do with .appimage packaging Becasue those apps I mentioned are provided as .deb packages.

[2020-01-31 00:17] tessus commented on #2405
Most editors are configured to add an EOL at EOF because a line without EOL is not a proper line according to POSIX.
However, Joplin requires the last line to be without an EOL otherwise the import will fail.

There's no `truncate` on macOS, but you can use the following to remove the last EOL at EOF:
(make a backup of the file though)

[code]

[2020-01-31 00:18] tessus commented on #2246
IMO the script or tool or whatever created the AppImage has to be fixed.

[2020-01-31 00:27] eh8 commented on #2415
I added

1. `KaTeX_AMS-Regular.ttf`
2. `KaTeX_AMS-Regular.woff`
3. `KaTeX_AMS-Regular.woff2`

to `usr/share/joplin/resources/app/gui/note-viewer/pluginAssets/katex/fonts/` but this did not solve the issue. However, now I have proper AMS-rendered symbols :)

**Workaround:** Disable all `userstyle.css` code

[2020-01-31 00:38] D4nte commented on #2405
@tessus I was just going here to mention exactly that.

`truncate` can be installed on mac: `brew install truncate`

Then modify the file and run `truncate -s -1 <file>` and that's how I did it.

Thanks!

ps: I guess it would be good to ahve valid POSIX files generated by Joplin.

[2020-01-31 01:22] heyizhang commented on #2378
Thank you！I‘ll try Nextcloud.

[2020-01-31 01:22] #2378 closed

[2020-01-31 01:53] bedwardly-down commented on #2332
@dpoulton-github you think this is an Appimage / Electron-builder upstream bug?

[2020-01-31 02:12] taw00 commented on #2407
Oh, geez. I was able to dismiss it with the ESC key as well. GAH! I'm an idiot.
Still... that shouldn't be the behavior. :)

[2020-01-31 02:56] eh8 commented on #2374
The problem is that KaTeX is defaulting to a normal symbol since it could not locate a AMSMATH font file.

This can be solved by adding `KaTeX_AMS-Regular.ttf`, `KaTeX_AMS-Regular.woff`, and `KaTeX_AMS-Regular.woff2` to the katex plugin's font directory.

This should correct the appearance of these problematic characters in markdown, but I am not able to find out why I cannot see these in a export

[2020-01-31 03:38] diogogomes commented on #2246
Not idiotic default because is more secure and after all is Chromium/Electron upstream related and not Linux specific:

https://chromium.googlesource.com/chromium/src/+/master/docs/design/sandbox.md

[2020-01-31 03:51] bedwardly-down commented on #2246
@tessus and @diogogomes , according to the [official builder documentation](https://www.electron.build/configuration/linux), debian packages can be built from the same script as AppImages. Idk if it matters if the build system is debian or not.

[2020-01-31 03:59] diogogomes commented on #2246
I don't work with electron but do you think that this can help?

https://www.electronjs.org/docs/api/sandbox-option

[2020-01-31 05:08] mic704b commented on #293
WIP

[2020-01-31 05:29] bedwardly-down commented on #2246
That honestly doesn't look valuable at all to what is happening here. That just explains how to enable and disable the sandbox and the pros and cons for just that

[2020-01-31 05:38] bedwardly-down commented on #2409
@tessus, I think that if there was a forward and backward button, the history limit should only exist during a session and then be cleared once the user is done and has exited the app. That's how buffers work in Vim. Of course, maybe add the option to save a possible note group that opens automatically if the user needs to frequently edit specific notes.

Just spitballing ideas here. I hope these

[2020-01-31 05:46] diogogomes commented on #2246
Okay. I thought that the issue was how to enable the sandbox and it seems not fixed yet in the electron builder for appimages, only for snap and deb packages.

I hope you can find a solution.

[2020-01-31 07:58] nielsk commented on #2384
I have this problem as well. iPhone XR, iOS 13.3.1

[2020-01-31 08:11] vsimkus commented on #2246
In many cases they run it with the `--no-sandbox` cmd argument, which you could add to the Joplin exec script in `AppRun`. With Joplin this allows the electron app to start, but then Joplin tries to parse the command-line arguments too and throws `Unknown flag:--no-sandbox`. So this is fixable on the Joplin side.

I think for the most part, running the electron app without the electron sandbox as

[2020-01-31 08:12] poordionis commented on #2406
I confirm this bug. I don't receive any errors. The synchronisation button from bottom left or from menu or synchronisation keys don't work.

[2020-01-31 08:16] nielsk opened #2419 "Sync on iOS does not sync everything"
I created notebooks and notes on the desktop and mobile. The notebooks that I created on the mobile device appear in the Electron- and in the Terminal-app. But the notebooks  I created on the desktop do not appear in the mobile app.
Notes that I do in the notebooks created in the mobile app, sync either way (if created on desktop they turn app everywhere etc).
Only notebooks make a problem
I sync

[2020-01-31 08:38] pcause opened #2420 "Installed new version and now it doesn't cync with my existing encrypted onedrive"
I installed on Windows and when I started, as opposed to previous updates, I had nothing from my existing joplin installation.  I went to try to sync but it said encrypted.  I entered my key and nothing.

HELP

[2020-01-31 09:02] laurent22 commented on #2409
That would indeed make sense and would probably be expected by users.

[2020-01-31 09:02] laurent22 commented on #2409
The history should indeed be in memory and not persisted to disk.

[2020-01-31 09:15] bedwardly-down commented on #2409
Would this fully replace the current implementation when going between linked notes to include when the user opens multiple notes in a row or be an extension of that?

[2020-01-31 10:01] bensoibj commented on #2409
Good idea! Not only a button, but additionally shortcuts would be nice, like ALT+left and ALT+right.

See also feature request #716

[2020-01-31 10:35] laurent22 commented on #2409
For shortcuts, let's keep that for a separate issue as this one is a "good first issue" so it needs to be kept relatively simple.

[2020-01-31 10:37] laurent22 commented on #2409
Yes, I would thought that was implied? Like there wouldn't be two back buttons - one for the linked note handling, and one for regular navigation, it's just one back button, which handles both behaviours. If the description needs to be clarified please let me know what should be changed.

[2020-01-31 10:46] bedwardly-down commented on #2268
Quite a bit of code reworking on my part. What do you think so far, @laurent22?

![2020-01-31-044517_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/73533502-a189f980-43e4-11ea-8be2-54af7fa91eb2.png)

[2020-01-31 16:01] lbo34 commented on #2374
Ok.. but it used to work well...

[2020-01-31 16:06] eh8 commented on #2374
For sure, this is not a full solution and it does not solve the issue of the exporting pdf.

[2020-01-31 18:21] Moltkex commented on #2417
@tessus marking duplicate doesn't say anything since the app doesn't work. I was reporting that the issue is still there and it hasn't been solved.

[2020-01-31 19:14] gerroon commented on #877
@ markwdickson

which leads to fragmented note taking, and our notes are spread over many apps. I feel like Joplin can handle stuff like this no problem.

[2020-01-31 19:46] amitsin6h commented on #2389
Mentors please review my PR #2423  and let me know if it requires any changes.
@tessus  @CalebJohn @laurent22

[2020-01-31 22:15] Runo-saduwa commented on #2383
Well, ive pulled the latest changes, i've been staring at the code for an hour now and i dont know where to start from, Lol............... can you kindly guide me through where to start from

[2020-01-31 22:19] jcbwd commented on #2382
I fixed the timezone in Dropbox, backed up my notes, wiped Joplin completely from both devices, as well as my Dropbox account, and started over:
-Updated Joplin for MacOS to 179.
-Imported the notes into Joplin for MacOS.
-Synced to Dropbox.
-Synced to iOS. So far no problems.
-Turned on Encryption on MacOS.
-Synced MacOS.
-Synced iOS.
-Input Encryption Password for iOS.
-The problem is now repeat

[2020-01-31 23:18] tessus commented on #2409
This is exactly my point. I start the app and it runs until a new update is available. Thus usually a few weeks. So if you created a history worth a few weeks it would be a total overkill and memory hog. This is why I mentioned a limit on the history. Pick a number or a timeframe and use a FIFO queue.

When it comes to persistence I think this is debatable. I really hate it when I restart the app

[2020-01-31 23:20] tessus commented on #2417
@Moltkex that's why the other issue is still open. I don't get your point. Do you want hundreds of issues open that all describe the same issue?

[2020-01-31 23:49] #2420 closed

[2020-01-31 23:51] tessus commented on #2419
This is not a reproducible bug. You ignored the template. For problems please use the forum.

Also, seriously, how is anyone supposed to help with no log files and no steps to reproduce? Anyway, check the forum. There are several suxh posts

[2020-01-31 23:51] #2419 closed

[2020-02-01 04:28] IllyaYalovyy opened #2424 "Android application crashes after ~10 seconds."
Android application crashes after ~10 seconds. I can see that it failed to decrypt 2 files and failed to download one. I use Dropbox for synchronization.

## Environment
Device: HUAWEI P30 Pro
Model: VOG-L29
CPU: Huawei Kirin 980
Kernel: 4.14.116
Android version: 10
Joplin version: 1.0.316

## Steps To Reproduce

1. Start application
2. CRASH! BOOM! BAM!

Describe what you expected to happen:
I ex

[2020-02-01 05:28] TheCedarPrince opened #2425 "External Editor Unable to Access Watched File from Joplin CLI"
## Environment

Joplin version: joplin 1.0.153 (prod)
Platform: Linux, CLI
OS specifcs: Fedora 30 x86_64

## Steps To Reproduce

1. Open Joplin database via CLI interface
2. Execute `:config editor vim`
3. Edit any note directly that was in database (success)
4. Close Note
5. Execute `:config editor code`
6. Choose to open any note for editing in vscode
7. Note does not open up but shows empty, ne

[2020-02-01 05:45] JunkyardCat commented on #2331
any updates on this?

[2020-02-01 13:44] bedwardly-down commented on #2383
@Runo-saduwa it looks like NoteRevisionViewer.jsx under ElectronClient/app/gui would be a good place to start. A lot of the editor rendering code is there. Then follow it where it takes you. The way each part of the app is linked is very sensible and logical.

[2020-02-01 13:54] bedwardly-down commented on #2424
@IllyaYalovyy how big are the files you're trying to decrypt?

[2020-02-01 14:00] bedwardly-down commented on #2382
That might be the case. I wish my mac hadn't kicked it because i would love to test this out to see what's what. Now, if you search around the issue tracker here, it seems like quite a few users are having issues with iOS 13.3 and OSX Catalina. Even I have had some minor issues here and there with my iPhone. Either way, the fact that quite a few people are having issues with the platforms means th

[2020-02-01 14:05] bedwardly-down commented on #2425
I've had a similar issue except from the Desktop Linux version. I did find that using vim doesn't open all the time. It seems that joplin doesn't close out vim properly leading to the swap files not being deleted properly. The swap files are basically scratch copies created when you edit a file in case of a system or app crash.

[2020-02-01 15:19] mavensecurity commented on #2384
Here’s a screenshot on an iPhone showing the time and date selector for “set alarm “feature being blank. You can still scroll through the phantom dates and if you’re lucky you’ll get the date you want, you just can’t see what you’re doing.
![54097327-891D-4702-A835-423836D34620](https://user-images.githubusercontent.com/8443691/73594415-5d7a2000-44dc-11ea-89d2-24e68ec30ae2.png)

[2020-02-01 19:17] TheCedarPrince commented on #2425
Right - I do understand that is what is happening but what is strange upon further investigation just now is that anytime I open a file, it creates a new markdown file in `~/.config/tmp/` and does not overwrite the current selected note in any way. Moreover, it seems to save any changes to this note in `tmp/`.

I think you are on to something with the swap files or watched files - it just does not

[2020-02-01 20:03] IllyaYalovyy commented on #2424
@bedwardly-down All I can see "Resource: HASH", so I'm not sure what file failed to decrypt. The largest file I have is 48MB, the largest file I have recently added is 1MB. Please advise how I can get more detail on failed files.

[2020-02-01 20:08] IllyaYalovyy commented on #2424
@bedwardly-down It was actually easy to identify the files failed to decrypt. These are PNG files 84kB and 119kB. There is also one file that it struggle to fetch. I have no idea which one though.

[2020-02-01 20:20] IllyaYalovyy commented on #2424
Few more things I discovered.
1. One of the failed to decrypt files is not even used in any note. (deleted some time ago)
2. I switched download attachments from autocratical to manual - as a result the app doesn't crash anymore. (not a long term solution, but now I at least can use it until you fix the root cause.)

[2020-02-02 00:02] bedwardly-down commented on #2424
There's a major Android bug that prohibits syncing any files above 10 mb that the devs are trying to work through. It causes most Android phones to crash; most likely culprit is either a kernel or memory limitation, impo

[2020-02-02 00:29] bedwardly-down commented on #2425
@laurent22 or @tessus, you two think the vim part of this i brought up could be a separate bug or related?

Also, @TheCedarPrince, I'm still learning how the app's code works, so I'm not sure what exactly is happening from an internal standpoint, but it would still make perfect sense. If it's the same bug between CLIClient and ElectronClient (desktop version) that means that the bug is most likely

[2020-02-02 03:57] TheCedarPrince commented on #2425
It does almost feel like there are two bugs here - one related to files not being watched and another with vim... Curiouser and curiouser.

[2020-02-02 05:39] bedwardly-down commented on #2425
One could be a symptom of the other, too.

[2020-02-02 10:52] ssvaluev commented on #932
Of course this is still relevant. I tried Joplin for the first time yesterday and today I faced this problem.
And also probably you could find out how it work in my previous PIM - [MyTerta](https://webhamster.ru/site/page/index/articles/projectcode/138) ([GitHub](https://github.com/xintrea/mytetra_dev)). It is open-source, but written on C++. Sorry, I am only learn how to code and can't help with

[2020-02-02 13:53] Barafu opened #2429 "Editing happens not at a cursor position"
## Environment

Joplin version: 1.0.179 (prod,linux)
Platform: Linux
OS specifcs: Arch Linux, AUR package

## Steps To Reproduce

1. I started typing my first note. After a few paragraphs, it broke.

OK. So the problem is - I started to type my first note, and it worked for a few paragraphs. But then, after some Alt-Tabing to-and-fro, the editing started happen not at the cursor position, but a ra

[2020-02-02 13:54] Moltkex commented on #2417
@tessus Ah, sorry. Yes, you're right. No I don't. Sorry for the trouble and thanks for your time. By the way and I know it's not directly related but at the same time it is, I just experienced this same behaviour with another electron appimage.

[2020-02-02 13:58] Barafu commented on #2429
Oh, I got is, the problem was editor font with ligatures. I've hit the problem as soon as I typed a ligature. I have changed font to non-ligature, and no more problems.

[2020-02-02 13:58] #2429 closed

[2020-02-02 20:37] Cybernemo opened #2430 "Unknown table: setting"
Hello,
I tried to install Joplin using:
`yay -S joplin`
Everything installed correctly but when I launch Joplin I got the following error:
![Screenshot_2020-02-02_21-33-27](https://user-images.githubusercontent.com/5555651/73614939-3159be80-4604-11ea-9869-3b087a239208.png)

I tried to install it using the aur package and older version same result.

Any idea?
# **Step to reproduce**

1. Install Jop

[2020-02-02 20:47] laurent22 commented on #2430
We don't release a yay package

[2020-02-02 20:47] #2430 closed

[2020-02-03 00:59] dbogdanov commented on #2411
Here is [the example from above](https://www.dropbox.com/s/22neatptph4aaix/test_headers.jex?dl=0).

[2020-02-03 01:26] loganwedwards commented on #2384
I can confirm on iOS that this is when the OS dark mode is on.

[2020-02-03 05:49] hexclover commented on #2365
I can confirm this.

In addition, when I replaced the relevant `if` statement in `apps.js` with the following (please note that the `bridge().window().show()` line had been commented out) and started the application again:

[code]

The main window *still* popped up and I got `Hidden` on console.

[2020-02-03 06:03] Cybernemo commented on #2430
I have the same problem with the aur package and AppImage.

[2020-02-03 06:23] loganwedwards commented on #2384
I have experienced the same issue on other projects (using `react-native-datepicker`) and am happy to supply a bug fix, but am out of town for the week

[2020-02-03 09:40] avarf opened #2433 "Add support for Bibtex"
Hi, thanks for the software.

I was searching for an alternative for LaTex and I found you. The only thing is as I found out you are not supporting Bibtex (I couldn't find anything related to supporting Bibtex).

I suggest and request that you add Bibtex support to your software and I am sure you will become a strong alternative for LaTex since you have a good tool and Markdown is much simpler to

[2020-02-03 09:50] laurent22 commented on #2433
Joplin supports Katex (not Latex) and there's no plan to support Latex or Latex extensions.

[2020-02-03 09:50] #2433 closed

[2020-02-03 10:26] silverark commented on #51
Priority sounds like a separate feature/option for sorting, which would still be useful but which could be as an alternative sorting method.

Another quick fix, rather than the drag and drop would be options in the Right click menu for "Move Up" and "Move Down" so custom order is selected. You could then have shortcut keys to move the item up and down using Ctrl + Up or Ctrl and Down. That would w

[2020-02-03 14:07] bedwardly-down commented on #1023
Lately, this bug has been cropping up across all three of my platforms: Linux, iOS, and Android. The Webdav provider I'm using is pCloud.

[2020-02-03 15:59] pioruns opened #2435 "Doesn't work in Debian Stable (Buster)"
Currently doesn't work in Debian Stable (Buster), AMD64, crashes out completely without showing window or anything.

Error when running from the console:
$ ./Joplin-1.0.179.AppImage
[26226:0203/155418.747935:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborting now. You need to make sure that /t

[2020-02-03 18:58] xearonet commented on #1117
+1

[2020-02-03 21:16] tessus commented on #2435
Duplicate of #2246

[2020-02-03 21:16] #2435 closed

[2020-02-03 21:40] #2280 closed

[2020-02-03 23:13] bronson commented on #1983
Another workaround  is to right-click Joplin and select "Open". This gives you a dialog that lets you open the app anyway. Quick & easy... if you know it.

(to anyone says this is a weird UI to get around a questionable feature... agreed!)

[2020-02-04 00:04] tessus commented on #2411
@dbogdanov I don't know what you did, but the first 2 lines do not have a space between the `#` and the text. It's the following character: https://unicode-table.com/en/00A0/  (No-Break Space)

[2020-02-04 00:04] #2411 closed

[2020-02-04 09:45] christianlupus opened #2437 "Request: Upload of image as raw file not possible"
I need to add a high-resolution image to a note that must be kept at high resolution (screenshot of 3 monitors next to each other -> approx 6000px width). When adding the image as it is #1232, #1035, and similar hits.
I thought I could add the image as an appendix (without preview, perfectly fine). However, this is not possible: the image gets detected and added as an image (with rescaling).

So,

[2020-02-04 09:53] bedwardly-down commented on #2437
Since this is not actually a **bug** per se, have you thought about posting it on the[ forums](https://discourse.joplinapp.org/)? After doing a quick search, I'm surprised that this isn't actually a feature request others have made on there but instead just a bug report here. I think others there could further help you flesh out your idea.

I do know that a huge part of why the images are compress

[2020-02-04 10:34] christianlupus commented on #2437
Crossposting just for reference: https://discourse.joplinapp.org/t/allow-to-add-an-image-as-a-raw-attachment/5629

[2020-02-04 10:59] laurent22 commented on #1035
Duplicate of #1232

[2020-02-04 10:59] #1035 closed

[2020-02-04 11:00] laurent22 commented on #2437
This would be a duplicate of #1232

[2020-02-04 11:00] #2437 closed

[2020-02-04 11:53] tornadoyi opened #2438 "Too slow to use"
I download latest version of Joplin. It is too slow to use. When I press any button on the keyboard, The reaction that I can see on the editor layout cost few seconds. I test the latest version on Mac and windows, then I got same problems. My Joplin version on Mac  as below.

Joplin for Desktop

Copyright © 2016-2019 Laurent Cozic
Joplin 1.0.179 (prod, darwin)

Client ID: c79f1bf956ba455d8b82b940f

[2020-02-04 12:48] pioruns commented on #2246
I stumbled upon exactly the same Electron/Debian problem with other software.
https://github.com/Nexusoft/NexusInterface/issues/56

Can someone have a look? This could be fixed in the Electron as I understand.

[2020-02-04 12:55] dbogdanov commented on #2411
My bad. Thanks a lot for finding this out!

I thinks this happened without me realizing because, on a Spanish layout, to type `#` one need to press `alt-3`, so if you type the following space faster then releasing `alt` it will be treated as `alt-space` too. I did not know that's a shortcut for a No-Break Space on Mac 😈

[2020-02-04 13:40] rohit645 commented on #2286
@laurent22 Can I work on this issue?

[2020-02-04 13:45] lord-aerion commented on #15
So what about Parse Server as an alternative?

[2020-02-04 14:49] bedwardly-down commented on #2268
https://github.com/laurent22/joplin/pull/2427

[2020-02-04 14:50] bedwardly-down commented on #2268
https://github.com/laurent22/joplin/pull/2427

[2020-02-04 17:05] Cybernemo opened #2439 "Unknown table: setting"
I tried to install Joplin using the aur package and the AppImage.

Everything installed correctly but when I launch Joplin I got the following error:
![Screenshot_2020-02-02_21-33-27](https://user-images.githubusercontent.com/5555651/73614939-3159be80-4604-11ea-9869-3b087a239208.png)

I tried to install older version same result.

Any idea?
# **Step to reproduce**

1. Install Joplin using aur pack

[2020-02-04 17:07] laurent22 commented on #2439
We don't release an AUR package.

[2020-02-04 17:07] #2439 closed

[2020-02-04 17:17] markus-seidl opened #2440 "Nextcloud 18 sync fails with large files"
## Environment

Joplin version: 1.0.179
Platform: macOS
OS specifcs: 11.15
Nextcloud: 18.0.0.10

PHP in Nextcloud has been supplemented with:

[code]

Nextcloud-Web has the following extension

[code]

## Steps To Reproduce

1. Setup a new sync to nextcloud with an attachment larger than 100M (149M in my case)
2. Sync fails with an error that the file couldn't be uploaded.

Unfortunately I don't h

[2020-02-04 17:39] Cybernemo opened #2441 "Unknown table: setting"
I tried to install Joplin using every possible method.

Everything installed correctly but when I launch Joplin I got the following error:
![Screenshot_2020-02-02_21-33-27](https://user-images.githubusercontent.com/5555651/73614939-3159be80-4604-11ea-9869-3b087a239208.png)

I tried to install older version same result.

Any idea?
# **Step to reproduce**

1. Install Joplin
2. Launch Joplin

# **Env

[2020-02-04 17:41] laurent22 commented on #2441
Did you try the AppImage?

[2020-02-04 17:41] #2441 closed

[2020-02-04 17:44] laurent22 commented on #2441
You should be using the forum for support requests, you might actually get more help over there. It seems your profile is broken, so try to delete ~/.config/joplin-desktop and start the AppImage again.

[2020-02-04 18:23] virtadpt commented on #2440
Could that be due to the underlying PHP install having too low a maximum filesize in php.ini?

[2020-02-04 18:54] fab4x commented on #2384
I'm having the same problem as well on an iPhone 11, iOS 13.3.1

[2020-02-04 18:55] markus-seidl commented on #2440
PHP in Nextcloud has been supplemented with:

[code]

Also: Works fine with the official nextcloud sync client

[2020-02-04 19:30] amitsin6h commented on #2170
@laurent22 please review my PR and also help me in resolving the conflict https://github.com/laurent22/joplin/pull/2442

[2020-02-04 19:30] tessus commented on #2411
You are welcome.

[2020-02-04 21:44] jdrobertso commented on #160
I would like to give this a try, unless someone else is working on it.

I don't think Countable is going to be the best choice here, because the React-Ace library doesn't make it easy to find just the text, since it's split up into multiple elements. However, I think I could add a couple of functions to the NoteText object to create a dialog that contains a count of words, characters, and characte

[2020-02-04 22:10] IzzySoft commented on #15
Is it F/L OSS? With an OSI-approved license? And "privacy-first"?

[2020-02-04 23:17] laurent22 commented on #2407
Yes I agree, there should be an OK button by default. I can only assume that this is a bug in Electron that it's missing.

[2020-02-05 02:35] rayrrr commented on #160
@jdrobertso go for it!

[2020-02-05 02:46] jdrobertso commented on #160
I am not sure the best icon to use here, @laurent22 do you have any input? The one I added is on the far right.

![image](https://user-images.githubusercontent.com/3140223/73806503-47e05100-478f-11ea-89b7-61be416af441.png)

I am not sure about the 'Paragraphs' section, it gets a bit weird with list items. But it is again another design decision that I'm not sure of. I could use your help here as w

[2020-02-05 08:19] wawacorp commented on #2406
I have this bug too. Sync button via onedrive does not work. Both on my Fedora machine as well on android.

[2020-02-05 10:26] laurent22 opened #2445 "Implement locale based sorting for notebooks"
When a notebook is sorted by title, special chars like the German “ä”, “ö”, “ü” are placed at the very end of the list e.g.

They should be handled like normal char e.g. ä => a while sorting notebooks:

[2020-02-05 10:37] #915 closed

[2020-02-05 10:45] #1861 closed

[2020-02-05 11:16] mic704b commented on #2407
Great! The bug might be platform specific. In any case, the pending PR includes a work around for it, so it will work on all platforms regardless.

[2020-02-05 11:26] #2365 closed

[2020-02-05 12:08] rplCloud commented on #2445
@laurent22 I saw you labeled this issue with "desktop".

I'm facing this problem on my Mac, but also on my iPhone (iOS 13.3.1, Joplin 10.0.43). I'm running both operating systems in English.

[2020-02-05 12:09] laurent22 commented on #2445
If it's fixed for desktop, it will be fixed for mobile as the code is shared.

[2020-02-05 15:20] Perkolator commented on #2445
Wrong. The sorting should be [language specific](https://en.wikipedia.org/wiki/Alphabetical_order#Language-specific_conventions).

For example:

[2020-02-05 15:25] Perkolator commented on #2445
Should it then be checked from the operating system what keyboard language the user has selected?

[2020-02-05 16:07] lord-aerion commented on #15
Yes, it's F/L OSS:
- https://parseplatform.org/
- https://github.com/parse-community/parse-server/wiki

It's released under a BSD licence, which is OSI approved.
- https://github.com/parse-community/parse-server/blob/master/LICENSE

I don't know anything about it being "privacy-first", but that's certainly not something that can be said about Firebase.

[2020-02-05 16:25] laurent22 commented on #2445
Well it should be sorted according to the locale obviously. I didn't mean to hard code a specific order just for German or whatever language.

[2020-02-05 17:19] rheo-chiti commented on #2445
Can I work on this issue? @laurent22

[2020-02-05 17:20] laurent22 commented on #2445
Yes sure, please go ahead.

[2020-02-05 17:34] rheo-chiti commented on #2445
![image](https://user-images.githubusercontent.com/43493203/73866914-ae3aa180-486b-11ea-9d83-a0b900a19751.png)
I am not facing this issue on mobile
My device is Realme 1 ,Android version 9

[2020-02-05 17:51] rplCloud commented on #2445
Of course @Perkolator is right, it should be a solution that works for all languages, not just German.

I would prefer if the settings could be used to control how sorting is done. Using the keyboard as a reference is bad for those who change language frequently.

[2020-02-05 17:54] rplCloud commented on #2445
Unfortunately, I can't see the last message from @rheo-chiti here which I got by email...

I think @rheo-chiti has the same problem as me. But he reversed the sorting. "wasser" is in the alphabet before "zweifel"...

[2020-02-05 17:55] timmb commented on #2312
Anyone looking to stop the cursor blinking in the short term can add this to the userstyles.css ('Custom stylesheet for Joplin-wide app styles' in the Appearance tab of preferences):

[code]

[2020-02-05 18:00] amitsin6h commented on #2170
@laurent22 please review the updated PR https://github.com/laurent22/joplin/pull/2447

[2020-02-05 18:04] laurent22 commented on #2170
@amitsin6h, I got three notifications to ask me to review this PR (2 from your comments, and 1 from review request). You don't need to send even one because I already get one when you create the PR, so please just don't send any notification. Your PR will be reviewed eventually when those involved have time.

[2020-02-05 18:12] amitsin6h commented on #2170
sorry for this will make sure I don't do such things again

On Wed, Feb 5, 2020 at 11:34 PM Laurent Cozic <notifications@github.com>
wrote:

[2020-02-05 18:15] coderrsid commented on #2296
Hey @laurent22. I would like to fix this issue. Is @CaptainNick is working on it?

[2020-02-05 18:18] laurent22 commented on #2296
@CaptainNick, are you still working on it, or can I assign it to @coderrsid?

[2020-02-05 18:35] CaptainNick commented on #2296
@laurent22 yes I'm working on this. I'm getting hold of the codebase. Can you please allow 2 more days?

[2020-02-05 19:54] the42 opened #2448 "Feature - provide smart notebooks"
Some users in the past reported a functionality I got to love after some time in other personal knowledge management systems / GTD like Emacs org-mode or OneNote: Diaries, which help to keep track about todo items in different notebooks.

The following collects suggestions made in the past which all petered out due to lack of interest for implementation or unresponsive reporters:

#166  - Feature

[2020-02-05 20:09] #1909 closed

[2020-02-05 21:24] #359 closed

[2020-02-05 21:38] #1014 closed

[2020-02-05 21:40] laurent22 commented on #2296
@CaptainNick, sure we can wait, no problem.

[2020-02-05 21:42] tessus commented on #2312
@timmb great workaround. maybe you want to post this in https://discourse.joplinapp.org/t/share-your-css/1730/16

I'm sure others would love this. I doubt that many people read issues on gh. Most people don't search before they open a new one, let alone just read issues for fun.

Since we have upgraded Electron and it still does not work, maybe it's also a problem with the editor. Or the problem w

[2020-02-05 21:50] #2407 closed

[2020-02-05 22:15] #2330 closed

[2020-02-05 22:55] IzzySoft commented on #15
ROFL… no, certainly not. Remains the question of whether the license of the library is compatible with that of the project then (I'm no specialist in that, but some do clash – AFAIR e.g. Apache-2 and GPL-2; no idea on MIT vs BSD). And "privacy first" means e.g. "opt-in", not "opt-out".

[2020-02-05 23:06] tessus commented on #2448
Feature requests must be posted and discussed on the forum first. The gh tracker is for bugs only (and accepted feature requests).

I'm not sure why people ignore this all the time. I think we've been clear about this in the template, on the web site and in CONTRIBUTING.md.

[2020-02-06 00:00] tiroring09 opened #2449 "Unable to export each note to MD format proplerly in Window10 Joplin 1.0.179"
# Unable to export each note to MD format proplerly in Window10 Joplin 1.0.179
## Environment

Joplin version: 1.0.179
Platform: Window10
OS specifcs: Window10

## Steps To Reproduce
Hi, here is one big fan of Joplin. Recently I've just bumped into a tiny problem and that's what brought me here. As you know, there are two options in exporting notes into .md format; (1) export entire notebook, (2)

[2020-02-06 01:28] jaklan opened #2451 "[Dropbox] Ignore TLS errors & Custom TLS certificates options needed"
## Environment

Joplin version: 1.0.179
Platform: macOS
OS specifcs: macOS Mojave 10.14.6

## Steps To Reproduce

1. Run affected VPN (e.g. corporate VPN).
2. Try to sync notes.

Describe what you expected to happen:

In a nutshell - for some e.g. corporate network configurations it's not possible to connect to given hosts without specifying additional certs or just ignoring TLS errors. Workaround

[2020-02-06 02:10] z49x2vmq opened #2452 "Gnome3 .desktop file problem"
After installing 1.0.179, Joplin is not shown in gnome's application list.

The Joplin icon is back when I remove version string, "1.0.179.940", from "appimagekit-joplin.desktop" file.

## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifcs: Fedora 31

## Steps To Reproduce

1. Install or upgrade Joplin as guided in joplinapp.org

Describe what you expected to happen:
Joplin applicati

[2020-02-06 02:52] jaklan commented on #2451
Actually these settings are unrelated to chosen sync target - they work for all types (e.g. when ignoring TLS errors via WevDAV Advanced Settings, it also works for Dropbox), so the bug is only about not displaying these options in Dropbox/OneNote Advanced Settings.

[2020-02-06 02:55] nezartarbin commented on #2452
This may be related, but I built the same version from source. However, executing the `.AppImage` file does nothing.

Here is a relevant discussion:
https://discourse.joplinapp.org/t/appimage-from-current-master-not-running-on-linux/5667

[2020-02-06 02:56] CaptainNick commented on #2296
@laurent22 Looks like I might need more time. Kindly assign this issue to @coderrsid . I'll take up different issue later. Thank you. :)

[2020-02-06 03:41] rheo-chiti commented on #2445
I searched for various methods to sort special character strings and got this `Intl.Collator` as a good inbuilt function to sort based on locales language.
`notes.sort(new Intl.Collator(locale).compare);`
Here locale will be language selected by user in configuration settings.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Collator

[2020-02-06 04:25] tiroring09 commented on #2449
Here's jex file requested. Appreciate for reply :)
 tiroring09.jex
<https://drive.google.com/file/d/1YbBtDquTpbUv1-JQByVpuA46_ayGq38A/view?usp=drive_web>

2020년 2월 6일 (목) 오전 9:15, Laurent Cozic <notifications@github.com>님이 작성:

[2020-02-06 06:16] mugoro commented on #2406
@wawacorp you should have some settings problem. This bug affects only PC software version (and maybe Linux). On my Android everything works fine.

[2020-02-06 06:56] rplCloud commented on #2445
That sounds reasonable to me. I use `array.sort(key=locale.strxfrm)` in Python to sort lists with special characters (<https://docs.python.org/3/library/locale.html>).

If the value can be read out by an application, the language setting of the system could be used as default.

[2020-02-06 09:31] laurent22 commented on #2451
Isn't it a misconfigured VPN though? Sounds like it's MITM the connection and adding self-signed certificates, which the app should indeed reject.

[2020-02-06 09:36] laurent22 commented on #2296
Ok thanks for letting me know. @coderrsid, feel free to go ahead and work on it then.

[2020-02-06 09:37] laurent22 commented on #2449
I don't have access to this file. Please could you attach it directly to the GitHub issue (I think that should work)?

[2020-02-06 10:18] tiroring09 commented on #2449
it is said that github doesn't support this file type unfortunately.
![image](https://user-images.githubusercontent.com/54842445/73927480-d6320f80-4914-11ea-8f67-a88a6943f12b.png)

Could you please try access the upper link again? I've changed permission option.
Or link below.
https://www.dropbox.com/s/lqh9j8yyt5errky/tiroring09.jex?dl=0

Hope it will work. Thanks.

[2020-02-06 10:23] laurent22 commented on #2449
Thanks, I got it now.

[2020-02-06 10:49] tiroring09 commented on #2449
[Plus] I tested the same experiment on my roommates laptop as well, the whole new & fresh environment(window10/ Joplin 1.0.179/ new notebook). and the result was the same.

(I feel like penpaling with K-pop star, or being spider man sitting next to stark on his van! whoe)

[2020-02-06 10:54] timmb commented on #2312
Thanks @tessus - I've posted the CSS workaround.

There does actually appear to be an option in ACE editor to stop the cursor from blinking - see [here](https://github.com/ajaxorg/ace/issues/3306). However, it doesn't appear to be an option to set the rate of the blink which is what most OSes seem to define so I can understand if it doesn't make sense for Joplin to set this value in ACE by testing

[2020-02-06 11:58] ambidexi opened #2454 "Window cannot be restored from minimized"
Opening Joplin the window doesn't appear. Minimizing and restoring the window on the taskbar does not make it reappear. Trying to make maximize to full screen / left side of screen etc. does not help either (Windows key + up / left).

Cannot reproduce but happened multiple times.

Tried downgrading to compatible versions (178, 177), did not resolve the issue.

## Environment

Joplin version: v1.0.

[2020-02-06 12:04] mic704b commented on #2452
FYI that discussion is more about the current development version which is having a few build issues.

This discussion might be more relevant to 1.0.179:
https://discourse.joplinapp.org/t/unable-to-start-1-0-179-on-linux/5373

[2020-02-06 13:31] jaklan commented on #2451
Well, I’m not a network specialist, I can just assume there's something weird in a corporate network configurafion.  I've just internally requested to add Dropbox API to the whitelist of domains, but anyway - as for now it's enough to ignore errors / add folder with missing additional certs, which was possible via WebDAV Advanced Settings, but not Dropbox Adv. Settings. Looking at CLI you can see

[2020-02-06 13:44] Perkolator commented on #2445
Hmm. Are you sure that would work as expected? For example, I have "English (United States)" as the system language but "Finnish" as the keyboard layout/input method.

[2020-02-06 13:57] rheo-chiti commented on #2445
Should we sort on the basis of language selected by user in configuration settings?
@Perkolator

[2020-02-06 15:01] Perkolator commented on #2445
I have selected "English US" (or UK, both seem to be same, sort wise) from Joplin settings. I created the following notes and the sorting for my language (..., X, Y, Z, Å, Ä, Ö) isn't exactly correct:

[2020-02-06 15:12] Perkolator commented on #2445
Forgot to add: personally I'm not troubled that much of that little sorting error (for my language), at least the special characters are sorted in the end of the alphabets. I just put that example here for being precise about this.. in case somebody wants to fix this sorting thing correctly for all. :)

[2020-02-06 16:16] laurent22 commented on #2246
For information, there's a script that can be used to fix this: https://github.com/electron-userland/electron-builder/issues/4495#issuecomment-580864274 Although it would need to be done as part of the build process.

[2020-02-06 16:27] bedwardly-down commented on #2452
I don't know if this will solve your issue or not, but I created an unofficial patch that can't be currently merged into the main code due to it directly altering the AppImage and whatnot outside of being built from source. Just replace the version name with v1.0.179 in the instructions and you should be good to go.

https://github.com/laurent22/joplin/issues/2332#issuecomment-576909405

[2020-02-06 18:08] tirrip opened #2455 "MD files not being generated when using export fuction, single files or bulk number of. (Mac Desktop.)"
When using the export function on one note present in Joplin, to "MD - Markdown Format", it creates "_resources" folder (I chose my Documents folder) with no MD file present. The same occurs when using the export function on several (more than one) number of notes. A "_resources" folder is created, with no files present inside. When trying the newly created "_resources" folder, it creates a "_reso

[2020-02-06 18:35] bedwardly-down commented on #2455
This bug is present on Windows 10 and is probably a duplicate: #2449

[2020-02-06 18:39] bedwardly-down commented on #2449
This bug is showing up on Linux too and is matching the issue linked above.

[2020-02-06 19:24] dandee commented on #2396
it's been locked but the issue hasn't been resolved.