[2020-03-01 21:13] Cognipacity opened #2629 "[Feature Request] Add synchronization target sync.com"
Adding sync.com as a synchronization target - like Dropbox, OneDrive, et al., would be a very worthwhile enhancement to Joplin.

[2020-03-01 23:33] laurent22 opened #2631 "Document or auto detect dependencies when building app"
Building the app requires a few external tools such as CocoaPods on macOS, rsync on Linux and macOS and windows-build-tools on Windows.

That should either be documented, or perhaps there's a way to auto-detect these dependencies when building the app and report it to the user.

[2020-03-02 00:44] tessus commented on #2625
This works as designed.

- `File -> Export -> xxx` exports all data
- `right click on notebook and export` exports the notebook
- `right click on note and export` exports the note

This is highly logical and intuitive.

[2020-03-02 00:44] #2625 closed

[2020-03-02 00:45] #2629 closed

[2020-03-02 00:45] #2448 closed

[2020-03-02 00:53] bedwardly-down commented on #2518
On a side note, are any of you students that are planning on participating in #gsoc-2020? If so, feel free to speak up and post an introduction on the forum. I've just been made a mentor so I'll definitely be willing to vouch for any of you that have been actively helping me here; just need this for official purposes and whatnot.

[2020-03-02 02:13] bedwardly-down commented on #2518
Updates on my end:

The next bad commit was [537bd0a159a041fad72d257d755205cef77582e1](https://github.com/torvalds/linux/commit/537bd0a159a041fad72d257d755205cef77582e1). In simple terms, it was a group of commits that all dealt with how the terminal functions when there's no UI or Desktop enabled. Basically, the terminal when booting up before the pretty stuff appears.

[2020-03-02 02:41] wushifu32 opened #2633 "sqfs_traverse_open error"
## Environment

Joplin version:  1.0.179
Platform: lenovo-T440
OS specifics: ubuntu18.04

## Steps to reproduce

1. Download the AppImage package
2. Use the `Joplin_install_and_update.sh` to extract the AppImage
3. Can't use joplin from Gnome
4. Run the Joplin.AppImage in terminal, it turned out as the following:
[code]
(I have installed the FUSE following this [wiki](https://github.com/AppImage/A

[2020-03-02 04:28] mhimanshu712 commented on #2631
I am on it!

[2020-03-02 05:58] bedwardly-down commented on #2611
This isn't actually a bug but a design choice. What's happening is the back button is taking you back to the Preview Mode which shows what the note will look like after processing the markdown and whatnot.

[2020-03-02 06:15] bedwardly-down commented on #2605
I wonder if adding a font directory to where Joplin stores it config files and then reading the fonts from there would be a compromise that would work better long term? That's a pretty standard way of handling it for many other apps. Then Joplin would just read the fonts in that directory and give those as an option.

[2020-03-02 06:48] Liuhaai commented on #1546
Hey, @tessus . I am debugging this issue. This issue might be caused by scroll events listener.
If several lines are written into a long text, the onScroll event will be triggered. Then the editor window will be reset according to the current scroll position. However, editor window position isn't calculated accurately because of the precision of float in Javascript. Idealy, the longer the text is,

[2020-03-02 08:52] wedvjin commented on #2611
Shall we question this design choice? There is a save button just next to back button, which can be used for the exact same purpose. And it is reasonable to expect the back button to take you to the previous screen, not back in terms of application state.

[2020-03-02 12:37] mic704b commented on #1718
@Perkolator what are you basing these requirements on?

[2020-03-02 13:05] tessus commented on #1546
@Liuhaai I always had the feeling that it had something to do with cursor position handler somehow. I'm not familiar with this part of the code at all. Maybe @mic704b or @laurent22 can help you out here.

[2020-03-02 13:12] coderrsid commented on #2614
I guess it's not a bug , it's a note, user can leave the number for future addition to the list, that all depends on user. What do you suggest @tessus ?

[2020-03-02 13:23] Perkolator commented on #1718
What specifically? You can write a differentiating opinion how this could/should be implemented.

[2020-03-02 14:00] mic704b commented on #1718
Yes, I was going to ;)  But I was wondering if your suggestions were based on an another editor?  I just wanted to understand the context.

My concern was overriding the standard paste function.

I was thinking perhaps use `Ctrl-K` like here on GitHub but a bit more helpful.  I was going to suggest `Ctrl-K` behaviours, depending on whether text is selected and whether there is a URL in the clipboa

[2020-03-02 14:19] Perkolator commented on #1718
I'm not a fan of that `Ctrl-K` idea. Harder to use button combination. And your suggestion doesn't automatically fetch the title/description of the URL like the issue opener wished. Also the `Ctrl-K` shortcut is already tied to the "insert hyperlink" popup window.

But your post makes me slightly revise my suggestion:

With normal `Ctrl-V` / paste operation:

No text is selected and a URL is in th

[2020-03-02 14:24] tessus commented on #1718
At one point we discussed a `Paste special` idea. e.g. for tables and/or csv. This could also be used for links. We haven't implemented this yet, but it could be useful.

e.g. `Cmd+Shift+V` or something would invoke the special paste. If the clipboard contains only a link, do the whatever-you-want-with-URLs-and-title-or-whatnot.

[2020-03-02 14:38] tessus commented on #2633
Please move usaer questions to the forum.

[2020-03-02 14:38] #2633 closed

[2020-03-02 14:38] tessus commented on #2614
This is really a matter of opinion. I've found the current behavior a bit annoying. But that's just me.

If I wanted to add a new item, I would just position the cursor at the end of the last item and hit enter.

[2020-03-02 15:01] bedwardly-down commented on #2611
That's honestly the kind of thinking i personally enjoy. I'm not the one who makes these choices and there is the possibility that that's tied to the Ace Editor and not Joplin exclusively. Either way, are you a member of the Joplin forums? There are multiple topics open where we'd gladly have your thoughts.

[2020-03-02 16:28] dpoulton-github opened #2637 "Mermaid (pre-release) - Vertical flowchart cut off in viewer"
- Joplin 1.0.187 (Portable) Pre-Release
- Windows 10 Pro x64 (Virtual Machine)

As discussed on the Joplin forum.

## Steps to Reproduce

Create a series of vertical flowcharts using Mermaid (See markdown below). Ensure one does not have a "node" or a "text label" in the left arm. If a vertical flowchart does not have a “node” or “label” on a left-hand flow, the left of the chart disappears off th

[2020-03-02 16:30] dpoulton-github opened #2638 "Mermaid (pre-release) - Pie chart not scaling correctly"
- Joplin 1.0.187 (Portable) Pre-Release
- Windows 10 Pro x64 (Virtual Machine)

As discussed on the Joplin forum.

## Steps to Reproduce

If a user has edit and viewer panes open and creates a Mermaid pie chart, the pie chart key does not fit in the viewer pane.

![mermaid-pie-just-created](https://user-images.githubusercontent.com/60117449/75696175-0f0a9d80-5ca3-11ea-9da3-bcdead93ac24.png)

Then

[2020-03-02 16:45] laurent22 commented on #2631
Could you describe first what's your plan of action please?

[2020-03-02 17:44] PackElend commented on #2614
me too, I like it slim

[2020-03-02 17:59] Rishgod commented on #2614
@laurent22 what do you think about this, should I go ahead trying to fix this?

[2020-03-02 19:37] bedwardly-down commented on #2518
@dimyself anyway you could link this up top or add it to original post? It seems to be the most solid way I've found to test this issue?

[2020-03-02 19:39] bedwardly-down commented on #2607
Open a terminal. Could you paste what `uname -a` says here for me?

[2020-03-02 19:42] bedwardly-down commented on #2603
I have a redmi 5 plus at home i should be able to quickly test this on when i get home for lunch. What model do you have?

[2020-03-02 19:52] bedwardly-down commented on #2511
Is there any way you could test using `\` before each accented character? That might solve the issue.

[2020-03-02 20:15] mic704b commented on #1718
I thought that was a separate issue #1731

Oh I didn't realise that.

Sounds good on first read.  For the first scenario, I would like it as you say, but with the `title from the url` text left selected at the end of the operation.

[2020-03-02 20:16] mic704b commented on #1718
That could work too.

[2020-03-02 20:43] bedwardly-down commented on #2607
@laurent22, I'm almost certain this is a duplicate of #2518 . Fedora 31 just released a new mainline kernel in their repos and I believe it's one of the problem ones. There's already been a report from that distro about just this.

[2020-03-02 21:05] laurent22 opened #2639 "Improve resource list screen"
1. There should be a warning at the top of the page saying: "This is an advanced tool to show the attachments that are links to your notes. Please be careful when deleting one of them as they cannot be restored afterwards."

2. When clicking "Delete", add a confirmation dialog saying: "Delete attachment "%s""?

3. There should be a vertical scroll bar on this screen

4. Style should match that of

[2020-03-02 21:08] laurent22 commented on #2639
@talkdirty, there are a few issues with the resource list as listed above, and in case you're interested in looking into it. Otherwise I've tagged it as a good first issue so perhaps someone else will take it.

[2020-03-02 21:31] Perkolator commented on #1718
That is primarily about the "insert hyperlink" popup window, it had an additional bonus, "enhanced" suggestion like what this issue primarily is about.

Here's a quote from the first post of **this** issue:

* * *

That is a good idea. `Ctrl+Shift+V` is a rather easy key combination and normal paste would be left intact, which means IMO that Joplin wouldn't need a new settings option at all.

[2020-03-02 21:37] Runo-saduwa commented on #2631
@laurent22 this issue looks quite interesting, it wouldn’t be much of a heavy duty to add this information to the documentation for me, because I’m already working on the new build_troubleshooting.md file that you proposed in a PR some days ago.

But the other part is what I don’t quite get, when you say “auto-detect the dependencies when building the app”, do you mean that there should be a messa

[2020-03-02 21:51] mic704b commented on #1718
OK so this is about key command, and the other is about the popup window. I think I get it now!

IMO automatically formatting links when pasting into a note with a dedicated key combination is great.  Retrieving info from the URL site should be optional (setting) defaulting to off.

[2020-03-02 22:01] Perkolator commented on #1718
That's fine with me. :)

[2020-03-02 22:02] initinfosec commented on #2246
to this end, I've compiled the app as a .deb after building from source, changing the permissions of chrome-sandbox to the expected ownership of root:root and a chmod of 4755.

Once done, I was able to package to deb, install with <code>sudo dpkg -i joplin.deb</code>, and confirmed it works like a charm. [N.B. - anyone who tries this please do not use the install script - i'm still working on it.]

[2020-03-02 22:08] bedwardly-down commented on #2246
@initinfosec I've already attempted to pass this by him and the Joplin team is not officially supporting any Linux app type outside of AppImage. There's just too many variations and not enough resources available to handle them all. If you decide to use a debian version, don't expect any major bug support due to this fact.

[2020-03-02 22:13] initinfosec commented on #2246
understood, thanks for the info.

[2020-03-02 22:15] laurent22 commented on #2246
I mean we can't release a .deb ourselves as I'm afraid it would be difficult to maintain and I don't know much about this format (I've tried once to create one for a different app, and my mind was blown at the complexity of the format, especially compared to how user-friendly Homebrew is for example).

But I guess if we had an expert on board who knows this format well and can maintain it, it coul

[2020-03-02 22:20] laurent22 commented on #2631
For auto-detection, it's more like checking if, for example, rsync is installed, CocoaPod is installed, etc. and warn the user if they are not.

[2020-03-02 22:22] tessus commented on #2246
.deb only works for Debian based systems. Thus we can't replace the AppImage with .deb or .rpm.

AppImage is the closest we can get to a universal format. A binary tarball would also be possible, but it doesn't take care of icons and integration with the DE.

[2020-03-02 22:23] bedwardly-down commented on #2246
@laurent22 I completely agree with @tessus here.

[2020-03-02 22:41] bedwardly-down commented on #2603
I can't reproduce this bug. Is that nextcloud server a home one or through a service? And, in my url, i have no need for a port number but instead have ssh going through my firewall and ports 80 and 443 open on a Digital Ocean server since they are required by nextcloud to function properly.

Have you tried without that port number or tried to open that port in your firewall so your phone has acce

[2020-03-02 23:10] laurent22 opened #2640 "Internal anchors no longer working"
Not working:

[code]

Goto End is rendered to plain text, no link.
With version 1.0.179 no problem.

Also affects note links to headers using the format:

`[test](:/d7d6c9c9e6444b5e8336eebb633477d9#target2)`

[2020-03-02 23:35] gerroon commented on #2246
AppImage is the closest we can get to a universal format except that it is not universal as of now given that it is  broken on Debian based systems when it comes to Electron apps.

[2020-03-03 00:11] CharlieTango92 commented on #2246
If I was willing to build Debian ports from each of your major releases, do I need to clear anything with you? I completely understand you're not wanting to fragment the ecosystem. I'm also not a developer myself, and understand that this port would not be officially supported from your perspective.

Either way, appreciate your response. Have a great one and thanks for the awesome app.

[2020-03-03 00:20] CharlieTango92 commented on #2246
That was my finding as well. https://github.com/AppImage/AppImageKit/wiki/Similar-projects#comparison - you could use a flatpack potentially, but that has its own downsides, and the fact that an appimg works for just about everything else makes me still think it is the best solution.

[2020-03-03 00:24] initinfosec commented on #2246
If I was willing to build Debian ports from each of your major releases, do I need to clear anything with you? I completely understand you're not wanting to fragment the ecosystem. I'm also not a developer myself, and understand that this port would not be officially supported from your perspective.

Either way, appreciate your response. Have a great one and thanks for the awesome app.

[2020-03-03 00:28] initinfosec commented on #2246
That was my thinking as well. AppImage works well as a best effort with most distros. The fact that this particular issue is specific to Debian variants and election makes me think that the appImage format is still likely the best candidate.

https://github.com/AppImage/AppImageKit/wiki/Similar-projects#comparison

[2020-03-03 00:47] gerroon commented on #2246
There are many apps that ditributes .appimage along with debs I do get why it is implied that it is one or the other here.

[2020-03-03 02:16] rabeehrz commented on #2639
@talkdirty Will you be looking into this? If not, I would love to work on this.

[2020-03-03 02:23] weleoka commented on #2246
The fact is that AppImages can run on debian just fine. The issue is the sandbox.

I think many users of Joplin would be OK with passing the flag `--no-sandbox` to run the application, the problem is that that does not work with the current AppImage build of Joplin! As an example the AppImage for Signal Desktop is easily run with `--no-sandbox`

[2020-03-03 02:28] weddi-eddy commented on #2246
Yeah. Normal user here who has Debian, Windows and Android. The --no-sandbox or  .deb options work for me. I would really jist want a way to run it without an older version.

Perhaps the .deb is a temporary solution until appimage or Debian fix something?

Unofficial isn't bad. Think binaries from OpenSSL.

[2020-03-03 02:48] zhangcheng142 commented on #2603
I think the problem maybe url parse with port.  The server is build at home under Gateway,  the DNAT rule is work well.
I have tested it using Joplin windows client and iOS app，that's ok.
Our ISP blocked port 80, 443... , cheng142.f3322.net is an dynamic DNS.
I have add an test accout for you, you can try with my server.
Account name: test
Password: for_test
My Andorid phone:
![phone](https://user

[2020-03-03 03:11] bedwardly-down commented on #2603
Sorry, i didn't test that url. I tested on my own nextcloud server, but I'll be home from work shortly. My Redmi 5 is just a remnant of my old import phone collection, so I'll test that test account when i get home.

[2020-03-03 03:13] initinfosec commented on #2246
I would absolutely love to be a part of building a .deb variant, first unofficially, but if the need/usage found momentum, perhaps if/as @laurent22 saw fit later on.

What's the SOP for getting involved in the unofficial distro-specific builds - you mentioned Joplin had a 'section' for that - is that a separate branch?

[2020-03-03 03:27] bedwardly-down commented on #2246
Not a separate branch but i also don't know how Debian handles unofficial packages and user repositories. The unofficial build linked in the docs on the main website is from the Arch User Repository, and the official Arch Dev Team are pretty strict about who can contribute packages there despite the repository not being officially supported or maintained by them. They pretty much just act as gatek

[2020-03-03 03:35] initinfosec commented on #2246
understood, I just wanted to check if I needed to do anything from the Joplin side to get @laurent22 's "blessing" even though it's not an official build. If there are no wishes from him or the team in that regard, I'll go ahead and start pursuing that path.

[2020-03-03 03:51] bedwardly-down commented on #2246
To be fair, i haven't been around here very long and am not always sure what's going on behind the scenes. This is also mainly Laurent's project and I'm primarily here attempting to help in whatever ways i can. I think it's the most any of us can do while this project grows.

[2020-03-03 03:52] initinfosec commented on #2246
understood thanks - i'll wait to see what he says as I don't want to step on toes. Thanks.

<apologies for the sidetrack from issue>

[2020-03-03 03:53] bedwardly-down commented on #2246
Also, this is not the final build, just a pre-release build to iron out bugs for the next official one since this one has a pretty hefty amount of additions added

[2020-03-03 04:27] bedwardly-down commented on #2518
I'm on what is possibly my last bisect test. What I'm finding in my tests is almost every bad commit was made early on in 5.5 development. What that means is even if we submitted a bug report upstream to the kernel, they most likely won't fix the issue since these are deep in the code. Also, the vast majority of the ones I'm finding are also major commits that make massive changes, so reverting th

[2020-03-03 04:31] mhimanshu712 commented on #2631
We can have a preinstall script, to check for dependency and warn the user if, they are not installed.
@laurent22

[2020-03-03 04:41] bedwardly-down commented on #2518
This right here is definitely the bad commit: https://github.com/torvalds/linux/commit/05bd375b6bdede3748023e130990c9b6214fd46a . It's also a massive merge that has come up twice in a row, so time to dig further into it. I'm testing from between the first commit in it to the last one, so this will hopefully be my final test. Thanks for your patience guys and even if this bug is already getting fix

[2020-03-03 04:43] taw00 opened #2641 "build issue? husky issuing a git error"
Joplin 1.0.187
RPM build on Fedora 31
Using joplin source tarball

Husky is trying to do something with git. But the source archive is not a git repository, so an error is generated. The source build continues and the binary functions, but I don't know if this leads to some corner-case instability or not.

From within the build:
[code]

[2020-03-03 05:00] taw00 commented on #2607
@laurent22 -- Yes. The next time I have significant time at using Joplin, I will do so. Just haven't had the opportunity and felt I should get the issue filed.

@bedwardly-down -- I have updated the original description with the kernel info you requested.

[2020-03-03 05:48] mhimanshu712 commented on #2631
Or we can display a message before npm install using preinstall script that if the install fails then run some other script say "xyz.js", in xyz.js we will detect the OS, and install the appropriate build tools, for that OS.
This will be very easy to implement.

[2020-03-03 06:18] tessus commented on #2246
Yes, the pre-release does and thus it will also be in the next release.

[2020-03-03 06:21] tessus commented on #2246
@initinfosec no worries. You can go ahead, but please note that we'll send people your way, when they have an issue wiith .deb. ;-)

Here's the repo and maintainer for the rpm packages: https://github.com/taw00/joplin-rpm

[2020-03-03 06:27] RedDocMD commented on #2639
I am interested in applying for GSoC 2020. Can I work on this as a first issue?

[2020-03-03 08:45] nemesis5 opened #2643 "Foldable sections and hidden elements not working any more"
# Environment

Joplin version: v1.0.187
Platform: Linux
OS specifics: Manjaro Linux, latest updates

The issue does not occur with v1.0.179, so it is new in v1.0.187.

## Steps to reproduce

I will describe two maybe different issues here, because I think they are coming from the same issue in the Joplin code base.

I use Joplin in dark mode (normally with nord theme). This is necessary to see the

[2020-03-03 08:59] laurent22 commented on #2246
If the .deb is stable enough and updated often enough, we could link it from the web page like the Arch Linux one. @initinfosec, how would it be installed?

[2020-03-03 09:16] initinfosec commented on #2246
dpkg would be the initial install route until/unless it gets included in a repository for apt.

Appreciate it, looking forward to trying to help out.

[2020-03-03 09:38] talkdirty commented on #2639
Go for it @rabeehrz !

[2020-03-03 09:39] rabeehrz commented on #2639
Thank you! I'm working on it.

[2020-03-03 09:44] tessus commented on #2643
It seems that `<div>` sections in general do not work anymore.

[2020-03-03 10:13] t0mmy44-h commented on #1728
I'm interested in helping out with this issue in whatever way I can - feature parity is a linchpin that's kind of holding back Joplin from being a daily-use application for me. This issue specifically is a pain point for me as a heavy terminal user.

I have some broader questions about the architecture / responsibility split between the various clients though, that I think could provide a good bas

[2020-03-03 10:36] laurent22 commented on #2641
Should be fine as Husky is used only on pre-commit hook.

[2020-03-03 10:54] RedDocMD commented on #2643
@laurent22 @PackElend Can I work on this issue?

[2020-03-03 10:57] marco3mt opened #2644 "Mozilla Firefox Extension not available"
It seems that the Mozilla Firefox extension is not available. There is no mention to that issue until now. Was it removed by the Mozilla Foundation ? If so, would it be possible to download the extension directly from another website?

![image](https://user-images.githubusercontent.com/61736804/75769129-f2e12c00-5d88-11ea-9a88-963fccdcd109.png)

[2020-03-03 10:59] laurent22 commented on #2643
This sounds like an issue with custom CSS and not something we explicitly support, or am I missing something? For info JavaScript event handler have been disabled in the latest version so maybe it's affecting this.

[2020-03-03 11:00] laurent22 commented on #2644
They took it down again. In the meantime we recommend using Chrome.

[2020-03-03 11:01] tessus commented on #2643
Maybe the second part has to do with custom css. But the first part is simple html that doesn't work anymore.

[2020-03-03 11:07] RedDocMD commented on #2643
Has the markdown engine been changed recently?

[2020-03-03 11:18] laurent22 commented on #2643
We also don't explicitly support HTML (we just pass it to the iframe but don't do anything special with it), so not sure there's something to fix here.

@RedDocMD, if you can find a fix and it's not too complicated, I guess we could merge the PR though.

[2020-03-03 11:19] RedDocMD commented on #2643
I believe that the html generated by the Markdown renderer can be manipulated with JS to fix this.

[2020-03-03 11:22] laurent22 commented on #2643
That's where it would be too complicated. We don't do any special processing for HTML, it's outside the scope of this project. We basically pass it as is to the browser and normally it renders fine.

But maybe we don't need to do anything complicated in this case. The first step would be to find what's causing the bug, and if it's something straightforward maybe we can fix it.

[2020-03-03 11:27] RedDocMD commented on #2643
Actually, if we directly pass that HTML in CodePen, it works. It also works in Chrome as far as I can tell. So it should work for the desktop app at least (which uses the Chromium engine).

[2020-03-03 12:41] sciurius opened #2645 "Embedding javascript"
Assume we have the following content somewhere in a note:

    <script>alert("Foo")</script>

The Android client (1.0.312) dutyfully displays the alert.
The Linux desktop (1.0.187) seems to ignore this.

I'm not sure what would be the correct/desired/intended behaviour.

[2020-03-03 12:53] sciurius opened #2646 "Supressing checkboxes"
Assume we have the following content somewhere in a note:

[code]

The Android client (1.0.312) suppresses all the unchecked checkbox lines.
![Screenshot_20200303-135210_Joplin](https://user-images.githubusercontent.com/1118804/75777480-59008b80-5d56-11ea-91c8-9161abe37bf4.jpg)

The Linux desktop (1.0.187) does not show the unchecked checkbox lines, but some additional vertical space is added.
![s

[2020-03-03 13:23] crti commented on #15
Thanks @alexanderadam & @IzzySoft - I appreciate the clarification here. @lord-aerion I would be open to include other repo's if I very much need (regularly updated) at least one App from there; on some device I have Guardian Project (secure apps) and microG F-Droid repos active.
Since I do not know Joplin yet, as long as F-Droid does not provide it, I'm reluctant to make me dependable on it. ;-)

[2020-03-03 13:59] bedwardly-down commented on #2644
If you're like me and want extra privacy features built in, the extension also works on the Brave browser. It has built in ad block support and https tunneling for all websites.

[2020-03-03 14:05] bedwardly-down commented on #2607
Kernel 5.5 and 5.6 are causing freezing issues like you described for a large chunk of Linux users and about 3 days ago a Fedora 31 user reported the same issue. I'm currently tracking down the broken kernel commits that are causing the problem while others are trying to figure out the issue from the code end since this seems like one of those weird edge case bugs that i haven't found any major GH

[2020-03-03 16:16] laurent22 commented on #2646
The HTML structure might have changed, so you might need to update your CSS. There's unfortunately not guarantee that the HTML will remain stable from one version to the next. In general userstyle.css is "use at your own risk" (or better, don't use it, but that's up to the user).

[2020-03-03 16:16] #2646 closed

[2020-03-03 16:17] laurent22 commented on #2645
The bug is that it works in Android, so I'll disable it.

[2020-03-03 16:21] RedDocMD commented on #2643
@laurent22, the foldable section issue is **not** a bug but just how `markdown-it` works based on the `CommonMarkdown` specification. Taking an excerpt from the latest `CommonMarkdown`  specification([link to it](https://spec.commonmark.org/0.29/#html-blocks)):
![image](https://user-images.githubusercontent.com/54888685/75795740-bf0e0280-5d98-11ea-9c70-d93df6dad753.png)
Therefore the correct markd

[2020-03-03 16:23] bedwardly-down commented on #2631
Is there anyway to check if the required programs are available in the common directories they usually would be installed in or check if the binaries are usable (like run a brief rsync test using the system's installed version; if it fails, stop and ask the user to check if they have it installed with their current package manager)? There are so many package managers and possible install directori

[2020-03-03 16:27] laurent22 commented on #2631
@bedwardly-down, you can run `type rsync` and that will tell you if it's installed or not. For windows-build-tools that might be more complicated, but perhaps a `type node` followed by some node-specific command that tells if a package is installed globally or not.

[2020-03-03 16:31] bedwardly-down commented on #2631
What I'm referring to is having that be in the preinstall script above. If you're going to check to see if it's installed and working and if not, you'll want to have them auto installed, that won't work unless you either account for all package managers or have the user manually install the required ones.

[2020-03-03 16:33] bedwardly-down commented on #2631
That'd be a very good way to check it. If it's not installed, ask the user to make sure it's installed

[2020-03-03 16:34] edrich49 opened #2647 "Links appear to be prefixed with working directory"
## Environment

Joplin version: 1.0.187 (prod, linux)
Platform: Linux
OS specifics: Debian

## Steps to reproduce

1. View the "Welcome to Joplin!" note in the "Welcome! (Desktop)" notebook.
2. In the viewer pane, click a link such as "Markdown syntax".
3.

## Describe what you expected to happen

I expected the link to be navigated to, as exhibited by the tooltip -- "https://joplinapp.org/markdow

[2020-03-03 16:35] RedDocMD commented on #2643
@laurent22 The second problem is also related to the `CommonMarkdown` specification. In particuklar `<span>` elements are no longer recognized as HTML. Taking it from their site:

![image](https://user-images.githubusercontent.com/54888685/75797374-14e3aa00-5d9b-11ea-82c5-33740c1a62e8.png)

[2020-03-03 16:36] RedDocMD commented on #2643
Therefore I propose that this **bug be closed** because it is not really a bug but a limitation of the Markdown syntax.

[2020-03-03 16:48] bedwardly-down commented on #2647
If you can remove the log text above and just upload the log.txt file, that should be enough. It's under your `joplin-desktop` directory.

[2020-03-03 16:53] RedDocMD commented on #2640
@laurent22 This is again an issue with the new `CommonMarkdown` syntax. Please see the comments I made in  [Issue #2643](https://github.com/laurent22/joplin/issues/2643#issuecomment-594044131)

[2020-03-03 16:57] edrich49 commented on #2647
Apologies. Hope this is now satisfactory.

[2020-03-03 17:46] rabeehrz commented on #2647
I couldn't reproduce this issue on Joplin 1.0.187 desktop.

[2020-03-03 17:47] bedwardly-down commented on #2518
Also, that merge deals with this: https://cor3ntin.github.io/posts/iouring/

That fits what's happening with this issue and is very new to the kernel. That's exciting to me because this could be important. Ha

[2020-03-03 17:54] cayenne17 commented on #2511
Hello, I just tested adding an "\" before each accent and I have the same mistake.
![Screenshot_20200303-184843](https://user-images.githubusercontent.com/47927025/75804405-2ec3c380-5d80-11ea-859d-23aea5333ab5.png)

[2020-03-03 17:59] Runo-saduwa commented on #2631
@laurent22 that’s the exact approach I’m using, `type rsync` Will return the version of rsync installed, as well as `pod —version` For cocoaPods. The only problem is with `windows-build-tools`, it doesn’t have a specific command to check if it’s installed but I’ll come up with a hack.

[2020-03-03 18:22] tessus commented on #2643
@RedDocMD you just disproved your own statement.

According to above excerpt of the specifications, `<div class="xxx">` is still supported, but it no longer works in Joplin.

So both items in this issue are perfectly valid.

[2020-03-03 18:26] tessus commented on #2643
So either Joplin follows the Markdown specs or it does not. If we ignore this issue, it's the latterr.
It's as simple as that.

[2020-03-03 18:35] RedDocMD commented on #2643
@tessus
No, it is the blank lines that are disallowed.
If you look at the examples given in the spec, it says that there are **two** HTML blocks instead of one. The point is that if you remove the blank lines it works fine. That is a limitation of Markdown not Joplin.

[2020-03-03 18:39] tessus commented on #2643
I'm talking about:

[code]

This is perfectly valid, unless I missed anything in the specs.

[2020-03-03 18:42] RedDocMD commented on #2643
If you remove the blank lines it still works.
The blank lines are disallowed

[2020-03-03 18:52] RedDocMD commented on #2643
The blank lines after the <div> and before </div>, that is

[2020-03-03 18:53] RedDocMD commented on #2643
The blank line after the `<div>` specificaly

[2020-03-03 19:13] bedwardly-down commented on #2511
Why'd you choose using quotation marks? My suggestion in many apps forces string parsers to read characters as they are.

[2020-03-03 19:24] cayenne17 commented on #2511
I hadn't checked the display

[2020-03-03 19:39] sciurius commented on #2645
Good!

[2020-03-03 20:11] bedwardly-down commented on #2511
Thanks. For testing that. We'll need to wait until someone that knows more about this comes here and checks it. I can't currently help beyond this.

[2020-03-03 20:11] tessus commented on #2643
Ok, I've now read almost the entire commonmark spec.

**You are correct.**

I didn't know that it was different to Gruber's, but even that didn't throw me off.
It was rather the fact that Joplin allowed things that were not supposed to work, but did.

Unfortunately this new behavior makes certain things impossible. It won't be possible to change the styling for a single note by defining a `div`. S

[2020-03-03 20:11] #2643 closed

[2020-03-03 20:25] tangodev commented on #2591
I tried to recreate this in a VM by taking clips from URLs that I was 99% sure were in the batch when the error happened. I used simple clip, full page and full page HTML on them.

The error didn't appear. I did however change the version of my browser in the meantime to this:
`Version 1.4.95 Chromium: 80.0.3987.122 (Official Build) (64-bit)`

[2020-03-03 20:32] tessus commented on #2645
We should note this in the documentation. According to the specs, `<script>` is allowed.
In fact we should disclose all differences to the CommonMark specs, if there were any.

(I have recently brushed up my commonmark spec knowledge. ;-))

[2020-03-03 20:44] NicolasNewman commented on #2644
Could someone fill me in on why they took it down? I only just installed Joplin while looking for a cross-platform Onenote alternative. In the meantime, is it possible to install from source?

[2020-03-03 20:50] bedwardly-down commented on #2644
@NicolasNewman https://discourse.joplinapp.org/t/firefox-web-clipper-not-in-add-ons-store/5809/11

[2020-03-03 20:56] IzzySoft commented on #15
@crti Joplin is regularly updated in my repo (normally within 24h of the APK being attached to a new release here). Unless @laurent22 starts adding "other trackers", it will stay this way.

My repo currently provides 450+ apps, so you might well find other candidates for your usage. I encourage you checking their web page first (like [this one for Joplin](https://apt.izzysoft.de/fdroid/index/apk/n

[2020-03-03 21:11] laurent22 commented on #2644
They require that we upload a special tarball with the extension, from which they can build it (they refuse the build it the normal way using git clone, etc.). However, somehow I've uploaded an empty zip file so they took the extension down. Not sure if really I've uploaded an empty file (the file I have is not empty) or if it's their upload handler that's buggy but anyway I'll try again.

[2020-03-03 21:28] bedwardly-down commented on #2647
I can't reproduce this either. @rabeehrz, what Linux distro are you using? I'm on Artix Linux.

What browser are you using, @edrich49? Maybe it's tied to that specific one and that build version for Debian?

[2020-03-03 22:48] taw00 opened #2651 "HTML within the markdown no longer renders"
1.0.187
Fedora 31
My own build ( https://github.com/taw00/joplin-rpm )
`<div>` tag no longer functions and leaves a `<` behind in rendering.
`<span>` doesn't work (but leaves nothing behind.
`<b>` etc doesn't work.
Oddly, `<br />` _does_ work still.

I'm sorta hoping this is a general problem and not just a problem with my build. I haven't had functional bugs specific to my builds in the past and

[2020-03-03 23:00] taw00 commented on #2641
Okay. Closing for now until something suggests I should re-open it.

[2020-03-03 23:00] #2641 closed

[2020-03-03 23:02] PRASHANT1104 commented on #2445
@coderrsid are you working on it ?

[2020-03-03 23:12] PRASHANT1104 commented on #1189
closely related to this so posting here, pressing cmd-f does not take me to search and rather gives an error in console . I am not sure , whether this is intended ? Is it a bug ?

[2020-03-03 23:21] tessus commented on #1189
@PRASHANT1104 you have to be more specific. What is the error message?

[2020-03-03 23:30] PRASHANT1104 commented on #1189
@tessus .Uncaught Error: HACK: Overriding Ace Editor shortcut: Ctrl+F

[2020-03-03 23:34] tessus commented on #1189
No bug. `HACK: Overriding Ace Editor shortcut: Ctrl+F`

The Ace editor has it's own shortcuts. To make them available to the app, there's this hack.

[2020-03-03 23:37] tessus commented on #2651
Yep, this is not a bug. see also #2643

[2020-03-03 23:37] #2651 closed

[2020-03-03 23:42] laurent22 opened #2652 "Fix title auto-update"

[2020-03-03 23:50] tessus commented on #1728
It's not the coding I need help with, although you are more than welcome to take it .

As mentioned a few times in this issue, we need architectural input from Laurent. But I think he's rather busy, so I'm not sure when we can expect this info.

[2020-03-04 00:54] #2640 closed

[2020-03-04 00:56] laurent22 commented on #2643
You were indeed correct that there was an issue with HTML rendering in the latest version, but it was a problem with Markdown compliance. Instead I've recently added a filter to sanitize HTML and it was incorrectly closing certain tags after filtering, which resulted in broken HTML. This should be fixed in cb2df32d914f20de694b6c9742d541b5bef9ca25

[2020-03-04 00:58] laurent22 commented on #2646
Sorry I've spoken too quickly and there was indeed a bug with HTML rendering in the latest version. Normally this commit should fix it cb2df32 and it will be part of the next release.

[2020-03-04 01:02] laurent22 commented on #2645
@tessus, I'm definitely not as familiar was you are with the CommonMark spec. Besides the `<script>` tag, are there any other differences? I suppose the way we now strip off all the event handlers is a difference too.

[2020-03-04 01:13] #2652 closed

[2020-03-04 01:20] laurent22 commented on #2637
This appears to be a bug in Mermaid - the line is not just off screen, it's simply not drawn at all. Perhaps something to report to them.

[2020-03-04 01:20] #2637 closed

[2020-03-04 01:25] tessus commented on #2645
@laurent22 I'm not sure. I hoped you could tell me that, since you might have deactivated something else. So basically anything that was disabled should be mentioned.

I only read most of the specs today because of the other issue that turned out not the be an issue after all....

[2020-03-04 01:31] tessus commented on #2640
Hmm. `<a href="#internal-link2">Goto Internal Link 2</a>` does not even render a link. Even after the commit above.

[2020-03-04 01:32] tessus commented on #2640
Sorry, forgot to run `npm run build`.

[2020-03-04 01:55] #2638 closed

[2020-03-04 02:35] taw00 commented on #2643
Thank you @laurent22 for addressing the sanitation issue.

As for this larger issue, `<span>` no longer being valid is really, really inconvenient. Alas.

[2020-03-04 02:42] tessus commented on #2637
FYI: Not fixed in Mermaid 8.4.8.

[2020-03-04 02:55] tessus commented on #2637
see mermaid-js/mermaid/issues/1293

[2020-03-04 03:11] mhimanshu712 commented on #2631
`windows-build-tools` installs two packages, one of them is `python` which is installed in the, `C:\Users\darkpunk\.windows-build-tools\python27`, it's also added to the systems `PATH` variable. So we can simply run _python -v_ to test.
The other package is Visual Studio Build Tools, which gets installed at `C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools` but has no entry in the `P

[2020-03-04 03:15] marco3mt commented on #2644
Feature request:

- Create a way to install the Mozilla Extension directly from GitHub.

It would be useful if Mozilla bans the extension again in the future.

As an example,  this project on GitHub offers the add-on directly:
https://github.com/subhra74/xdm

file:///home/m/Desktop/screenshot1.png
file:///home/m/Desktop/screenshot2.png

[2020-03-04 03:18] mhimanshu712 commented on #2647
Couldn't reproduce in Ubuntu.

[2020-03-04 03:23] marco3mt commented on #2644
As the images were not loaded in my previous post I would like to explain it better:
The developer of "Xtreme Download Manager" offers in the software menu the opportunity to add extensions from Chrome and Mozilla.

If a user chooses Mozilla, then the user can select either to download the add-on from Mozilla Foundation or from Github.

[2020-03-04 03:45] bedwardly-down commented on #2603
I tested this and I'm not completely sure how to reproduce this at all

[2020-03-04 04:59] taw00 commented on #2651
For folks stumbling upon this issue. The larger problem I was reporting is indeed not a bug. But that pesky little `<` left behind in the rendering is indeed a bug. I'm not going to change the labeling of this issue for something that was mentioned in passing, but you can find the resolution to that problem within the comments of the issue that tessus linked-to above.

[2020-03-04 05:43] Runo-saduwa commented on #2631
i don’t think checking for python is enough to judge if `windows-build-tools` Is installed because some users already had Python installed for other purposes before they installed `windows-build-tools`, I think
We should instead check if `windows-build-tools` Is installed globally

[2020-03-04 06:25] zhangcheng142 commented on #2603
[Screenrecorder-2020-03-04-14-19-49-236.zip](https://github.com/laurent22/joplin/files/4285452/Screenrecorder-2020-03-04-14-19-49-236.zip)
Attachment is a screenrecord video, please check it.
Thanks.

[2020-03-04 07:12] letian304 commented on #2578
I faced a similar error， My temporary solution is maximize the window，or other ways to change the window size。

[2020-03-04 07:28] PRASHANT1104 commented on #1189
@tessus .I seem to be missing something here . I looked into the code and saw this error is ought to throw when F,t,p,q,l,,g,k are pressed with Cmd and Ctrl . I also looked into the Ace keyboard shortcut , cmd-f is mapped to find . So , why are these keys marked as cancelled keys in the code ? Isnt cmd-f supposed to search/find ?

[2020-03-04 07:33] PRASHANT1104 commented on #2601
['F', 'T', 'P', 'Q', 'L', ',', 'G', 'K']  + CMD/CTRL.
These keys are marked as cancelled keys in the code. This is done to override their expected behaviour . I am still not sure why .

[2020-03-04 08:04] sciurius commented on #2646
I tried git 880134ce804a4b555463c6a7b5409f41aa914366 (that includes this) but the rendering is still affected.

[2020-03-04 08:07] PRASHANT1104 commented on #2618
@Rishgod are you working on it ? If not , I would like to work on it.

[2020-03-04 08:08] tessus commented on #1189
Yes, i's mapped to the find in Ace Editor. We use `Cmd+F` or `Ctrl+F` to make a local search, which is not done in the editor, but in the preview pane. Thus it has to be overriden.
The problem is that the Ace Editor does not allow to re-map or unmap keys, therefore the hack. I think there's an explanation in the code.

[2020-03-04 09:07] PRASHANT1104 opened #2654 "[Feature Request] Option to have a visual note"
Hi all ! Why don't we have visual note option , where we can draw something and save it ? I think it'd be cool idea to have it . If it is desired , i would love to get started on it.

[2020-03-04 09:46] laurent22 commented on #2643
This is fixed too. The issue was with inline elements which were incorrectly converted from `<span>hello</span>` to `<span></span>hello`. So the next release should fix this. It doesn't happen within DIV because block elements were processed differently.

[2020-03-04 09:56] laurent22 commented on #2631
To check if a package is installed globally: https://www.npmjs.com/package/is-installed-globally

Keep in mind that this check should be done on Windows only.

[2020-03-04 09:57] laurent22 commented on #2646
Could you check the HTML with the dev tools? Where does the new lines come from?

[2020-03-04 10:04] laurent22 commented on #2646
These blank spaces seem to be a different issue. The md-checkbox class has a margin, which you would need to remove with your CSS.

<img width="824" alt="image" src="https://user-images.githubusercontent.com/1285584/75867979-527a1e80-5dff-11ea-9bac-e3f8fc8730ab.png">

Don't think that was changed recently, but even then it doesn't seem to be a bug.

[2020-03-04 10:08] glowinthedark opened #2655 "Missing Next/Previous navigation buttons"
There is no way to jump to the previous/next note in the history stack. In fact there is no history stack to begin with, at least not in the current UI.

Filing this as a bug since I see it as a failure to identify the core functionality for a note taking app. Go to previous/next is a higher priority use case than, for example, note versioning and revision tracking which most people would probably

[2020-03-04 10:11] laurent22 opened #2656 "Notes appear and disappear when creating new notes with Cmd+N"
![](https://aws1.discourse-cdn.com/standard14/uploads/cozic/original/2X/4/4c880c840a35f96f1bd64744f62dd2da0e8f8ab6.gif)

https://discourse.joplinapp.org/t/please-help-test-the-new-desktop-pre-release/6445/48?u=laurent

[2020-03-04 10:40] edrich49 commented on #2647
Apologies. Hope this is now satisfactory.

[2020-03-04 10:43] edrich49 commented on #2647
@bedwardly-down, I'm using the Firefox browser, version 68.5.0esr (64-bit) running under Debian Linux.

[2020-03-04 10:53] PackElend commented on #2590
for the record, high level discussion here
https://discourse.joplinapp.org/t/high-level-discussion-on-plug-in-architecture-template-library/6554

[2020-03-04 11:00] PackElend commented on #1731
they use https://meta.discourse.org/t/discourse-voting/40121, this could quite helpful but that should aligned with other efforts going in this direction like [Joplin Features Evaluation toward a Roadmap for an Outstanding Note-taking App](https://discourse.joplinapp.org/t/joplin-features-evaluation-toward-a-roadmap-for-an-outstanding-note-taking-app/5240)

but this different discussion what is co

[2020-03-04 12:13] laurent22 commented on #2655
Not a bug, and there's a PR for it.

[2020-03-04 12:13] #2655 closed

[2020-03-04 12:14] laurent22 commented on #2654
Is that a bug though?

[2020-03-04 12:14] #2654 closed

[2020-03-04 12:43] sciurius commented on #2646
Rendering was ok up to previous release (1.0.179, January 24) so it is a recession due to a recent change.

[2020-03-04 12:46] bedwardly-down commented on #2518
I have good news:

1. I can officially verify with 100% certainty that this specific commit is the culprit behind this entire fiasco: https://github.com/torvalds/linux/commit/339ddb53d373baee6e7946aec17c739c4924d6d9 . It was suggested earlier here and on reddit, but I had to find out on my own through testing to make sure.

2. Node-sqlite3 module just added official Electron 8 support in its maste

[2020-03-04 12:51] laurent22 commented on #2644
As I thought, the ZIP file I've uploaded last time was fine, but it's their upload system that's broken (I end up on a blank page after the upload). So not only they require a source code in a very specific format; they take down the app if we don't provide it; and when we do provide it, their upload doesn't work, so they take it down anyway.

At this point I'm really thinking of dropping support

[2020-03-04 12:54] lnicola commented on #2518
That's awesome work :-). Do you have a link to the for the Electron 8.0.3 and .4 discussion?

[2020-03-04 12:57] bedwardly-down commented on #2518
I'm trying to find it but am having issues. I'm almost certain I found it through my original reddit post, but could be terribly wrong there.

[2020-03-04 12:58] lnicola commented on #2518
Ah, so you mean https://github.com/electron/electron/issues/21415.

[2020-03-04 13:04] bedwardly-down commented on #2518
@lnicola It's not the exact bug but this is the one where another dev upgraded to fix their own similar issues: https://github.com/vladimiry/ElectronMail/issues/253

[2020-03-04 13:15] Runo-saduwa commented on #2631
Yeah, thanks I’m on it

[2020-03-04 13:32] Hardik0307 commented on #2656
@laurent22, I'm looking at this and working on this.
May I go ahead with this issue#2656?

[2020-03-04 13:34] bedwardly-down commented on #2518
So, now, where do we go from here, guys? Any more updates on your ends?

[2020-03-04 15:09] rabeehrz commented on #2656
Also happens on File->New Note.

[2020-03-04 15:34] att14 commented on #1189
What about the other keys mentioned in #2601?

[2020-03-04 15:37] laurent22 commented on #1189
Can someone still replicate this bug or should we close the issue? Many things have changed since so it's possible the bug is gone.

[2020-03-04 16:10] monkeydump commented on #375
Just another voice here wishing for hierarchical tags & the prospect of GTD paradise!

[2020-03-04 16:37] #2656 closed

[2020-03-04 17:26] tessus commented on #2643
Please also have a look at the follwing [comment](https://discourse.joplinapp.org/t/toggle-headings-numbering/6490/15?u=tessus), which is quite interesting.

[2020-03-04 17:31] laurent22 commented on #2591
@tangodev, are you still able to replicate this issue? If so, please could you try with the latest version: https://github.com/laurent22/joplin/releases/tag/v1.0.189

It won't fix the issue unfortunately, but it will give more info in the error message, in particular it will tell you the item ID. Then if you could do the following that would be great:

- Export all your data to RAW (Joplin Export

[2020-03-04 17:42] tessus commented on #2644
This is something that needs to be properly addressed. Maybe a Joplin user is a lawyer and can work a pro bono case.... ;-)

[2020-03-04 18:08] wismie commented on #485
Hello, I'm just discovering Joplin and it really looks like the Evernote replacement I am looking for. But I use EN extensively to store pdf files and searching the PDF content is THE feature that I can find only in EN at the moment. Having it in Joplin would definitely convince me to do the switch. Thanks!

[2020-03-04 18:27] taw00 commented on #2643
Maybe someone needs to reach out the commonmark people. They are listed and the various forums/chats are on the https://commonmark.org/ page. Clarification as to what is intended would be good. Maybe they have a buggy implementation of the spec. ? Maybe ?

[2020-03-04 18:34] bedwardly-down commented on #2644
Bwahaha. I personally know a lawyer but they can only work in Texas and this bug needs to able to be proven harmful to Laurent's family. Haha

[2020-03-04 18:35] tessus commented on #2644
@bedwardly-down I guess that's the wrong lawyer then ;-)

[2020-03-04 18:38] krc opened #2658 "Joplin updater opens over fullscreen windows / games"
I had previously opened Joplin, but the window was closed, so it was just in the system tray. I was playing Overwatch in fullscreen mode when Joplin decided to try and update.

Normally I would expect a program in the system tray to just change the icon there to indicate there was an update available, or perhaps at most do that and make a noise.

However Joplin popped up a full window, and in the

[2020-03-04 18:42] #1977 closed

[2020-03-04 18:46] bedwardly-down commented on #2644
Something like 10 years ago, there was a plugin made that allowed using Chrome plugins in Firefox but I'm almost certain that, after reading the troubles you're having here and other sources, Mozilla wasn't having any of that and made sure that project could no longer work. It was how i was able to add specific plugins to Opera when it was heavily based on Firefox's code before switching to Chromi

[2020-03-04 19:05] wazabees opened #2659 "Tags with spaces will collapse to 2 lines"
## Environment

Joplin version: 1.0.187 (pre-release)
Platform: Windows 10
OS specifics: Version 1909

## Steps to reproduce

1. Make some tags with spaces
2. Decrease the Joplin application window width

![Joplin_lrR3UyhevX](https://user-images.githubusercontent.com/14857141/75913476-4ddf5580-5e53-11ea-904e-715280390130.png)

## Describe what you expected to happen
Either that the tag boxes grew

[2020-03-04 19:13] mhimanshu712 commented on #2631
@laurent22 We have a problem here with `npm list -g`.
These two packages(which are being installed by `windows-build-tools`, are very common, what if they haven't been installed by npm but by some other installer.

[2020-03-04 19:32] CollinChaffin opened #2660 "Templates no longer working"
## Environment

Joplin version: 1.0.189
Platform: Windows
OS specifics:

## Steps to reproduce

1. Create either note or todo from previously working template
2. Blank non-template note/todo created instead
3.

## Describe what you expected to happen

As of last build and today's build (1.0.189) Windows, existing templates that worked in prior builds now are not applied and instead only a blank no

[2020-03-04 19:42] #2660 closed

[2020-03-04 19:44] laurent22 commented on #2659
For Good First Issue: tag names should not be allowed to wrap. If there are too many tags, we let them go off-screen for now.

[2020-03-04 20:19] AndreasPantle commented on #1232
Why did you close this issue? I have the same problem here. It would be great if there is an option to activate "Reduce attachements" or even not...

[2020-03-04 20:27] tessus commented on #1232
It's not closed.

[2020-03-04 22:44] PRASHANT1104 commented on #2659
@laurent22 Can you assign this to me ? I would like to work on it .

[2020-03-05 00:33] bedwardly-down commented on #2518
It also looks like this kernel commit issue has been addressed and a fix will eventually be coming to a future kernel release. The last message was under a week ago, so here's to hoping that the fix comes soon so those that need 5.5 for their systems can use Joplin without interruption.

https://lore.kernel.org/netdev/d4d188512ea84f243310dd9464922a82@suse.de/

[2020-03-05 00:39] bedwardly-down commented on #2658
I'm sorry this happened. I'm not on Windows or have Windows on any of my hardware, so I can't reproduce this, but I can definitely see this being a big problem. Joplin is a work in progress that is always needing improvements and whatnot. Do you have any suggestions on how to make this less obtrusive for you that others may be able to relate to?

[2020-03-05 00:47] Khorsan commented on #753
@tessus In my point of view, git would be just used as a storage provider *addon* (the storage would be local). Joplin doesn't need to do diffs, i think. Diff is a git feature and you could do that on any cloud host (Github, GitLab, etc).

[2020-03-05 02:00] vernvandamn commented on #2604
I don’t know if you're looking for confirmation from another user but I do see the same issue on my phone.
![PNG image](https://user-images.githubusercontent.com/8076221/75940487-32784880-5e5b-11ea-9667-812e44d87547.png)

[2020-03-05 03:18] bedwardly-down commented on #2160
Joplin on my new iPhone 11 isn't freezing but having random slow downs causing input delay. I've also noticed that syncing and other actions seem to slow down with it.

[2020-03-05 04:48] taw00 opened #2662 "1.0.189 -- HTML sanitizer code still seems broken"
Fedora 31 build (my own)
The console had no relevant errors, nor does log.txt

The sanitation code is still not quite ready for primetime.
![Screenshot from 2020-03-04 23-37-07](https://user-images.githubusercontent.com/6908872/75948729-31064a80-5e72-11ea-8190-0524ba1a6c1c.png)

[2020-03-05 05:09] bedwardly-down commented on #2518
I just tested out 5.5.7. The issue is still there. I'm going to attempt to try it with Electron 8 and the latest Node-SQLite Master

[2020-03-05 05:16] bedwardly-down commented on #2518
Definitely not fixed there. Grrr

[2020-03-05 06:31] Rishgod commented on #2605
Hey, @daukadolt just let me know if you need any help or if you want to abandon the PR okay? :)

[2020-03-05 07:01] Rishgod opened #2663 "DESKTOP: Paste does not work for images"
## Description
Paste function for Images do not work the way it should me (both Right click-> paste and Ctrl+V) when pasting images to Joplin editor.

## Actual behaviour
![paste-bug](https://user-images.githubusercontent.com/54576074/75954987-f8e72200-5eda-11ea-83cd-ddb0a475cb02.gif)
## Expected Behaviour
![paste-expected-behaviour](https://user-images.githubusercontent.com/54576074/75955845-ad35

[2020-03-05 07:17] nemesis5 commented on #2643
@laurent22 I tried the same test with Joplin V1.0.189, where your fix should be in, but there changed exactly nothing on the original bug behavior:
![Joplin-189](https://user-images.githubusercontent.com/10476509/75957107-9893b880-5eb9-11ea-8100-37d9a78332a9.gif)

Shouldn't we reopen that bug? As far as I understood, you just fixed some missbehavior with `<span>` tag handling, but also the span ta

[2020-03-05 07:56] duarteocarmo commented on #2604
@laurent22 should I upload new icons?

[2020-03-05 08:16] deadpool1999 commented on #2639
Hello I am a open source programming aspirer , am I qualified for any contributions , if yes please do advice me anything.

[2020-03-05 08:21] RedDocMD commented on #2643
@nemesis5, have you read the comments above? If you do, you will see that it says that the problem lies in the Markdown spec and not Joplin itself.

[2020-03-05 08:26] 0815horsti commented on #932
Plus 1 on that and easy very to reproduce.

I started one week ago, added some notes, played with markdown and everything is fine.
Then I deleted the "Welcome"-notebook on windows and the three images remain in the ressouce folder (plus a fourth one which was added by me).

[2020-03-05 09:00] letian304 opened #2664 "label <s>and <u> don't works in Windows 10"
label `<s>`and `<u> `don't works in Windows 10, but works very well in android.
## Environment

Joplin version: 1.0.189
Platform: windows 10

[2020-03-05 09:12] laurent22 commented on #2663
Thanks for looking into it @Rishgod, it's indeed a bug that would need to be fixed. If you can look at it that would be great.

[2020-03-05 09:14] laurent22 commented on #932
I just had this idea that the client should keep in cache a list of resources it has created and it has synced. Then if a resource is not associated with any note, and it is in this list, and has never been synced, we know it can be deleted. That would take care of this specific edge case, at least for newly created resources.

[2020-03-05 09:19] haeringer commented on #1493
Happy to see there's a fix in sight, because I'm hardly able to use the app on my Mi A2/Android 10 device right now. Would close issue #1209 too.

[2020-03-05 09:29] laurent22 opened #2665 "Support automatic dark/light theme switching according to OS settings"
Joplin should honour the dark/light theme settings of the operating system.

Add the following settings to config screen:

- Auto Detect Theme (`theme.autodetect`): a checkbox
- Prefered Dark Theme (`theme.preferedDarkTheme`): dropdown with all the themes
- Prefered Light Theme (`theme.preferedLightTheme`): dropdown with all the themes

So you need three new setting values: `theme.autodetect`, `th

[2020-03-05 09:36] Rishgod commented on #2665
I'm working on it!

[2020-03-05 09:38] 0815horsti commented on #932
I had the same idea/concept in mind: Some kind of "clean-up" menu entry which lists all unused ressources and the user can manually decide wether to delete or to keep the files. The sync would then clean up the directory in the cloud.

[2020-03-05 09:44] Runo-saduwa commented on #2659
I’ll also look into this

[2020-03-05 09:49] Rishgod commented on #2664
Hey @letian304 , I checked, I don't have a problem using `<s>` or the `<u>` tag

<img width="839" alt="Annotation 2020-03-05 151731" src="https://user-images.githubusercontent.com/54576074/75969220-9e5abf80-5ef4-11ea-8e52-878826cbb5d1.png">

[2020-03-05 10:09] laurent22 opened #2666 "The syntax <u>Some words</u> does not work in version 1.0.189. No underline."

[2020-03-05 10:09] daukadolt commented on #2605
Last few days were very busy, but I'm finally more or less free. If you have any ideas or suggestions, I could possibly use some

[2020-03-05 10:35] bedwardly-down commented on #2663
There's also another three other things that happen (at least on mobile):
1. pasting any images with text in them, Joplin turns the text part into a text entry in your note instead of pasting the image (could be OCR related)
2. attaching images using the `Attach image` function doesn't place the image at the cursor but at the bottom of the not
 3. when multiple images are attached at one time, the

[2020-03-05 10:35] letian304 commented on #2666
`<s>Some words</s> `<s>Some words</s> does not work too.

[2020-03-05 10:42] laurent22 commented on #2663
It's been looked at by several people and so far no good fix for this. When there's text and image at the same time, it's hard to guess what should be pasted (there are several discussions about this here and the forum).

Perhaps add a bug about this? I guess they should be sorted in alphabetical order? I found that this issue is not really Joplin specific. Whenever I import multiple files in any

[2020-03-05 11:00] nemesis5 commented on #2643
## Foldable sections not working

@RedDocMD , yes, I have read all the comments and I understood, that the empty lines are producing the issue with the folding sections. I have the following issue with the folding section stuff:

The code from your comment
[code]
generates a foldable section, yes, but the content is not rendered as markdown. If you e.g. use
[code]
there is no checkbox list, as you

[2020-03-05 11:26] bedwardly-down commented on #2663
Heading to work but will try to do here in a bit. Thanks

[2020-03-05 11:29] laurent22 opened #2667 "Some HTML is being removed from rendered view"
In pre-release 189:

https://discourse.joplinapp.org/t/please-help-test-the-new-desktop-pre-release/6445/68?u=laurent

[2020-03-05 13:35] RedDocMD commented on #2643
@nemesis5, of course, it is not rendered as Markdown within the`<details>` tag. According to the current `CommonMarkdown` spec, all text within the start and end tag is not processed as Markdown at all, but is rather left as is.
When you add a blank line after the `<summary>` tag, that is treated as an end tag according to rule 6. Thereafter, it is processed as markdown (and you see the checkbox),

[2020-03-05 13:46] laurent22 commented on #2644
I had uploaded the source on Firefox Send but they claim the link "doesn't work". Could anyone check the link below and see if you can download it please?

https://send.firefox.com/download/9e89b02e915f3d78/#aiNyT23KOhHDtcdCZt3RBg

[2020-03-05 15:13] bedwardly-down opened #2669 "Mobile: Attaching Images / Files doesn't place them at cursor but bottom of Note"
## Environment

Joplin version: 10.0.43 / 1.0.316
Platform: iOS Android
OS specifics: iOS 13.3.1, Android 9

## Steps to reproduce

1. Place cursor anywhere in note
2. Tap hamburger buttons on top right
3. Tap Attach
4. Tap any selection from menu

## Describe what you expected to happen
Attachments be placed at cursor but instead always placed at bottom.

## Logfile

[2020-03-05 15:26] digdug999 commented on #2518
On Arch 5.5.7-1 here.  I noted this today under the synchronize button on joplin-desktop (unsure if this is related to the sync freeze we have all been experiencing or not):
[code]
Sync Status report doesn't indicate any error:
[code]

[2020-03-05 16:04] bedwardly-down commented on #2518
Welcome, @digdug999. The core kernel commit that's causing this issue deals with reading and writing data at indeterminate times. I think it'd probably be safe to assume that some data corruption could occur if this bug interrupts writing changes to notes, but I could be totally wrong. I'm not fully versed in the technical side of all of this. Haven't had any reports yet that say that this issue h

[2020-03-05 16:37] delotis commented on #2644
The link works perfectly for me. I've downloaded your file (213 KB) containing the directory Clipper-source (783.5 KB) dated 2.3.20.

[2020-03-05 18:04] virtadpt commented on #932
What do you have Note History (Preferences -> Note History) set to?

[2020-03-05 20:30] deadpool1999 commented on #2663
Copying an image from a web browser (chrome ) and then doing the above mentioned operations{ctrl+v} gives the desired result!!
It's some security issue with chrome i guess, like for a div element with contentEditable="true" everything works fine as long as the copy paste happens b/w similar environments.
(So copying from chrome and pasting the image in my note works fine, but the same isn't true f

[2020-03-05 20:33] tessus commented on #2644
Works for me too.

218262 bytes

[code]

[2020-03-05 20:41] Dave-van-der-Meer commented on #2621
I have the same issue. The GUI application does not work while the terminal version does work.

[2020-03-05 21:01] Dave-van-der-Meer opened #2670 "Fatal error: unknown table: settings"
## Issue

I installed the application for the first time. I tried both, the AUR version as well as the AppImage. I am able to start the terminal version, but the GUI version does not start.

![Screenshot from 2020-03-05 21-48-39](https://user-images.githubusercontent.com/47270949/76024469-7e92be00-5f2b-11ea-9e29-9316623c2f7c.png)

## Environment

Joplin version: 1.0.179-1
Platform: GNU/Linux Manja

[2020-03-05 21:01] tessus commented on #753
Ok, then, please explain the process to me, because I really don't know how this could work in any other way than starting a new project.

git follows a distributed approach, which means you always require a local copy, so if you really wanted to use git, you'd have to use a local copy and a remote. The remote requires authentication, which I've already explained is hard to implemenent due to the

[2020-03-05 21:12] bedwardly-down commented on #2670
For starters, do you need the 5.5 kernel for hardware reasons or can you get away with using the 5.4 lts kernel? Check out #2518 for more info.

Have you deleted your `$HOME/.config/joplin-desktop` directory to reset your settings?

The error you're getting seems to be saying that your database wasn't formed correctly when you first started.

I'd also highly recommend against using any AURs for th

[2020-03-05 21:19] Rishgod commented on #2663
@deadpool1999  thanks for pointing it out, I look into the same.

[2020-03-05 21:27] Dave-van-der-Meer commented on #2670
I had some severe issues with the 5.4 kernel which caused me to move to the new kernel.

I did not delete the said directory.

I tried the AUR version as the AppImage also had this problem.

Would you recommend to uninstall the AUR version, delete the directory and try with the distro independent installer instead?

[2020-03-05 21:57] bedwardly-down commented on #2670
Fair point. You might be stuck with 5.5 then and have to wait until a recent fix for the issue gets merged into the main branch which means it may still be a bit.

@mic704b sorry about that. I'll let you have this one.

@Dave-van-der-Meer, he's one of the main devs here

[2020-03-05 22:27] yasithmilinda commented on #2663
Hello everyone, would you mind if I take on this issue?

[2020-03-05 23:40] Dave-van-der-Meer commented on #2670
Thanks for the hint

It occurs every time I start the application. Even after a reboot.

I don't know what you mean...
I installed the following:
[code]
I used trizen as AUR helper.
Then there is another package:
[code]

[2020-03-05 23:50] mic704b commented on #2670
@Dave-van-der-Meer

Sorry, I wasn't clear.  Your installation has a corrupt profile for some reason. After installing, you should have a completely initialised database ready to go, but yours is corrupted.  What I wanted you to do was save your database and log files so we could have a close look for clues what happened.

So before doing anything, please zip up that directory and put it aside.

Th

[2020-03-05 23:54] laurent22 commented on #2670
Several users have reported this issue, and it's not clear why it's happening. It seems several of them (maybe all of them) were using the AUR package so maybe that package is doing something wrong.

Perhaps if someone having this issue could send us their database, it might help making sense of it.

[2020-03-05 23:56] tessus commented on #2666
This is a duplicate of #2664

[2020-03-06 00:11] laurent22 commented on #2659
I think we could put a small double-arrow at the end of the tag bar, then when the user clicks on it, they see the complete list (which can be scrollable). This is relatively standard, at least that's how the bookmark bar works in Firefox and Chrome.

[2020-03-06 00:33] bedwardly-down commented on #2670
AUR builds often have multiple versions released due to it being pretty much a place where once you're allowed the ability to upload packages (which is pretty hard), there's really no maintenance required for packages to stay there, so, often, you get broken or unstable packages. I was asking if you had installed any that had Joplin in the name but were not the one maintained by the original uploa

[2020-03-06 00:54] #2667 closed

[2020-03-06 00:55] laurent22 commented on #2667
Yes there are a few duplicate issues about this. I'm going to close them.

[2020-03-06 00:56] laurent22 commented on #2666
Fixed in 71d1e6eb82117b5b3c2d541eb358007ea31d0fc9

[2020-03-06 00:56] #2666 closed

[2020-03-06 00:56] laurent22 commented on #2664
Fixed in 71d1e6eb82117b5b3c2d541eb358007ea31d0fc9

[2020-03-06 00:56] #2664 closed

[2020-03-06 00:56] laurent22 commented on #2662
Fixed in 71d1e6eb82117b5b3c2d541eb358007ea31d0fc9

[2020-03-06 00:56] #2662 closed

[2020-03-06 00:59] tessus commented on #2670
We should create a list of maintainers for the different packages. If people don't use npm for cli, the AppImage on Linux and the officials builds for macOS and Windows, we'll send a canned reply with the list...
As unfortunate as it is, we can't support a myriad of packages. Some maintainers even bundle cli and desktop app into one package.

[2020-03-06 01:21] coderrsid commented on #2669
I'll work on this issue.

[2020-03-06 01:51] Tycholiz opened #2671 "different DropBox storage locations for GUI app and Terminal app"
Can't say for certain how this issue came to be, but when I open joplin from the terminal, it seems I am accessing a different database. I have attempted to go into the SQLite database and change all sync.7 rows of the Terminal app to match the ones listed in the GUI, but no luck.

How can I ensure that both Terminal version and GUI version are accessing the same database?

[2020-03-06 01:54] marco3mt commented on #2644
Laurent, the link didn't work for me on 2 android browsers (DuckDuckgo and Vivaldi) but it works fine on Vivaldi Desktop (Linux).

Duckduckgo on mobile says that the file was sent with end-to-end encryption and the link expired.
Vivaldi on mobile said just that the link expired.

In conclusion, Mozilla's system doesn't work very well. At this point I just uninstalled Mozilla and switched to Vivald

[2020-03-06 02:18] tessus commented on #2671
⚠🚨⛔ The issue tracker is not for questions. ⛔🚨⚠

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek.

## Questions and Help

Please read the [documentation](https://joplinapp.org/) and [FAQ](https://joplinapp.org/faq/) first.

### https://discourse.joplinapp.org/

If you have still questions related to Jop

[2020-03-06 02:18] #2671 closed

[2020-03-06 04:06] metorm opened #2674 "The v1.0.179/193 windows desktop app handles Chinese quote signal “” incorrectly."
## Environment

Joplin version: v1.0.179/193
Platform: Windows
OS specifics: Windows 10 x64

## Steps to reproduce

1.  Open the desktop app
2. New or go to any note
3. Type some content containing Chinese characters and Chinese quote signal “”, eg `我说：“Joplin是个很不错的APP啊。”`
4. You will find that the text cursor is not at the correct position. Perhaps the text cursor thinks the Chinese quote signal

[2020-03-06 07:15] nemesis5 commented on #2643
@laurent22 Your latest prerelease V1.0.189 fixed both issues (I think your official work ticket for that topic was  #2567. Thank you.

[2020-03-06 07:36] sciurius commented on #2646
In 1.0.190, hiding the checkboxes seems to not work at all anymore.
I'd suggest re-opening this issue.

[2020-03-06 08:28] Khorsan commented on #753
If you perform a commit each time you save, I can't see when would be a
conflict. Maybe if one doesn't have Network connection in both devices.. I
have to give this a bit more thought

A quinta, 5/03/2020, 21:01, Helmut K. C. Tessarek <notifications@github.com>
escreveu:

[2020-03-06 09:49] 0815horsti commented on #932
@virtadpt: It is set to 7 days ...

[2020-03-06 10:28] bedwardly-down commented on #2518
Bug is still in 5.5.8 . Just seemed to take longer to hit this time. Bug fix still not in changelog

[2020-03-06 10:37] tangodev commented on #2591
Hello @laurent22
got it:
[code]
I've found the note and I'll PM you.

[2020-03-06 12:01] CollinChaffin commented on #2660
Thanks @laurent22 for fixing so quickly!

[2020-03-06 13:50] jyuvaraj03 commented on #2502
I think the behavior you have described is intended.
<hr>

If the note has to be reloaded in Joplin desktop every time a change is caused by the API, then it would mean that there has to be a reload function that is called repeatedly which I think is costly in terms of processing. The case you have described is IMO an edge case and I (at least personally) as a user wouldn't mind reloading that sin

[2020-03-06 14:09] stefan2904 commented on #2502
I think reloading whenever there was an update via API would be enough. Since the API server is part of the (desktop) client, I assume it is possible that the editor view receives a notification.

My script is adding lines to notes in the background, so I am not aware when this happened, which means manual reloading is not an option.

Exactly, so there is no way to resolve this apart from automati

[2020-03-06 14:33] Rishgod commented on #2663
hey @yasithmilinda I' almost done with this, mind taking some other issue :)

[2020-03-06 14:51] Dave-van-der-Meer commented on #2670
I first installed the AUR package.

I copied all the config files and added them to this post.

I uninstalled the AUR version, I deleted the config files and I installed the AppImage and the GUI version works now. However, the CLI version can't be found as it seems. Also, the GUI version can't be opened through the terminal.

[code]

As the GUI tool works, thanks a lot.

Maybe it would be smart to

[2020-03-06 15:06] laurent22 commented on #2670
Are you able to replicate the error you had above with these databases? Because they are valid ones so they wouldn't show that "unknown table" error.

[2020-03-06 15:44] Dave-van-der-Meer commented on #2670
Yes, I can replicate the issue. The problem lies within the ~/.config/joplin-desktop directory.

What I did war replacing the entire directory with the old one from the AUR installation and the same issue shows up. When I replace the ~/.config/Joplin folder only, it still works.

I also see that the working directory does not contain a file called "database.sqlite-journal". I don't know if this is

[2020-03-06 16:23] mginco commented on #2518
I'm not sure if this is relevant or not, or if it has already been mentioned, but I found that clicking the Firefox Joplin Web Clipper released the freeze and would finish the synchronization as initially intended. Everything would then work as normal until Joplin tries to sync again (by either the timer in settings, or by manually clicking). And then again, clicking the Firefox extension would se

[2020-03-06 16:39] bedwardly-down commented on #2518
@mginco, when you say Firefox Web Clipper, are you meaning the extension? If you are, see here: https://github.com/laurent22/joplin/issues/2644

[2020-03-06 16:45] coderrsid commented on #2669
Hey @bedwardly-down, so if i attach any image from any of the three method, the image will be inserted in a newline from before the cursor and the remaining text after cursor will be appended after the image in a newline. Is that what you expect?

[2020-03-06 16:47] bedwardly-down commented on #2518
So this doesn't get lost when others come to report bugs here, @dimyself, can you either quote it in the original post or add a link to the forum clone I made of it [here](https://discourse.joplinapp.org/t/joplin-freezing-on-linux-distros-running-kernel-5-5-bug-update/6558)? Thanks

[2020-03-06 16:49] bedwardly-down commented on #2669
That's what should happen but it always inserts the attachments on the bottom line.

[2020-03-06 16:53] bedwardly-down commented on #2670
This is due to Joplin's AppImage not containing the CLI. To install it, run this in your terminal and you should be good to go:

[code]

[2020-03-06 17:01] bedwardly-down commented on #2670
I also stand corrected. The AUR linked on the main page is from [this repository](https://wiki.archlinux.org/index.php/Unofficial_user_repositories#chaotic-aur), so it's not the official AUR version that was used here but from a different source altogether.

[2020-03-06 17:22] IanEdington commented on #1983
This is a major blocker for many users since they will download, see they can't open, and delete.

This app is awesome! Is it only for developers and superusers?

[2020-03-06 17:47] laurent22 commented on #1983
I would gladly accept a pull request for Catalina support. I can't do it myself as I don't plan to ever switch to Catalina since it means I'll lose Photoshop CS6.

[2020-03-06 17:52] PRASHANT1104 commented on #2659
@laurent22 did that PR close the issue ?

[2020-03-06 17:58] tessus commented on #2659
As soon as it is merged it will close this issue.

[2020-03-06 18:02] hrk commented on #1983
I'm running Catalina, but I doubt I have the knowledge of what to do.

[2020-03-06 18:26] tessus commented on #2659
maybe a new `good first issue` presents itself.... ;-)

[2020-03-06 18:26] PRASHANT1104 commented on #2654
@laurent22 My bad , It got labelled as bug . Anyways , i tried implementing a part of it . What should i do when the window size is changed , scrollbar or change the image size as well ?

[2020-03-06 19:22] Rishgod commented on #2654
Just a side note, issues are strictly for bugs and enhancements.
For any feature request go to [discourse forums](https://discourse.joplinapp.org/latest)

[2020-03-06 19:26] anjulalk commented on #2665
Hey, are you working on the mobile app or desktop? I'd like to implement this on the desktop application.

[2020-03-06 19:26] mic704b commented on #2670
@Dave-van-der-Meer please be aware that database files contain everything including notes,  So unless this is a clean new install, then your notes might be in the sql file.

If this is a concern, then delete the files from your post, and we can help you check the contents yourself before reposting.

[2020-03-06 21:01] krc commented on #2658
I don't know much about windows programming myself, nor electron programming, but I think something with this might be good https://www.electronjs.org/docs/tutorial/notifications

Possibly a non-modal (i.e. you aren't forced to interact with it) pop-up window could be ok if Joplin has a window open already (not just running in the tray), or better yet, only if the window already has focus.

Even t

[2020-03-06 22:20] Dave-van-der-Meer commented on #2670
I am aware of this but my notes do not require privacy as they do not contain any personal information. These were some lecture notes of minor importance.

Thanks,  I managed to install the CLI version with this.

Is there anything else I could to help you? Otherwise I would recommend to close this issue.

Thanks a lot for your kind support. I wish you good luck with your projects.

[2020-03-06 22:22] #2591 closed

[2020-03-06 22:23] laurent22 commented on #2645
Fixed in 71d1e6eb82117b5b3c2d541eb358007ea31d0fc9

[2020-03-06 22:23] #2645 closed

[2020-03-06 22:37] sciurius opened #2676 "Supressing checkboxes (issue #2646 cont'd)"
See issue #2646 for history.

1.0.189: Rendering was ok up to previous release (1.0.179, January 24) so it is a regression due to a recent change.

1.0.190: hiding the checkboxes seems to not work at all anymore.

1.0.191 fixed the 1.0.190 problem, so now we're at 1.0.189 behaviour again. Still a regression since 1.0.179.

[2020-03-06 22:50] #2560 closed

[2020-03-06 22:57] Rishgod commented on #2665
Hey @anjulalk , I am working on the desktop first almost done with solving this issue, and I don't want to scrap my work now 😕 , can you please work on some other issue thanks!
**_You are more than welcome to work on this if I'm unable to solve this_**(I let you know about that in a day or two)

[2020-03-06 22:58] #2467 closed

[2020-03-06 23:24] #2659 closed

[2020-03-06 23:27] #2608 closed

[2020-03-06 23:31] laurent22 commented on #2591
@tangodev, could you try the latest release to see if it fixes your issue? https://github.com/laurent22/joplin/releases/tag/v1.0.192

[2020-03-06 23:33] laurent22 commented on #2676
How about v192?

[2020-03-07 00:00] yasithmilinda commented on #2663
Hey @Rishgod, no problem! :) I'll look into other issues, thanks!

[2020-03-07 01:24] coderrsid commented on #2669
That's fine. I've identified where and why the problem is,  i am working on this.

[2020-03-07 01:26] letian304 opened #2677 "Mermaid item was so big on andriod 1.0.319"
When  I tried 1.0.319 on  Android， The Mermaid item was so big 。
Joplin version: 3.0.319
Platform: android
![image](https://user-images.githubusercontent.com/50763102/76133832-248e1780-6055-11ea-8952-f6affb11b9d5.png)

[2020-03-07 08:33] sciurius commented on #2676
Still the same.

[2020-03-07 08:54] sciurius commented on #2676
Can you reproduce it using the small sample I started issue #2646 with?
I do not have additional userchrome/userstyle css.

[2020-03-07 11:00] laurent22 commented on #2676
As mentioned before you need to update your CSS to take into account the checkbox margin. In general the HTML structure of the app might change from one version to the next, so usercss needs to be updated from time to time.

[2020-03-07 11:00] #2676 closed

[2020-03-07 11:50] u200915986 commented on #1117
+1

[2020-03-07 14:18] zhaoxiangyu commented on #2603
I encountered the same problem.
   My phone is Mix2s
   app version:1.0.316
   OS:MIUI 11.0.1 based on Android 10

The nextcloud server is work well with Mac & iOS client.

![151583590671_ pic](https://user-images.githubusercontent.com/5743071/76145122-84baa300-60c1-11ea-8d01-fd8ed42007f4.jpg)

[2020-03-07 15:04] sciurius commented on #2676
If the same document suddenly starts rendering differently on Android and desktop (without userstyle css) then I think it is an regression.

[2020-03-07 16:31] aaronxn commented on #1718
I personally love the logic mentioned above, and the SHIFT+CTRL+V idea. If this feature workes really well and users love it, it can always be incorporated into a 'smart paste' hybrid as default CTRL+V behavior (with a settings toggle) later on.

[2020-03-07 16:36] tegkhanna commented on #2658
Can anyone familiar with the repo lead me to files where I should be looking regarding this bug?

[2020-03-07 16:46] bedwardly-down commented on #2603
I couldn't reproduce it possibly because my phone is an unlocked international model. There have been other issues reported with Xiaomi phones, so it may be Miui specific bugs that aren't directly related to Joplin

[2020-03-07 17:05] mhimanshu712 commented on #2631
Have read my last comment @laurent22

[2020-03-07 17:12] Chhekur commented on #2618
@laurent22 I have fixed this issue and made a PR : https://github.com/laurent22/joplin/pull/2680

[2020-03-07 17:29] tangodev commented on #2591
@laurent22 it works!

[code]
:D thank you!

[2020-03-07 17:56] Chhekur commented on #2605
Is anybody currently working on this ?
if not then could I work on this one ?

@Rishgod @daukadolt

[2020-03-07 18:00] Rishgod commented on #2605
you should ask @daukadolt I'm not working on it.

[2020-03-07 20:23] eagleonfire commented on #2166
I think I have solved my problem which was giving me the "Last error: SyntaxError: OneDriveApi::exec: Cannot parse JSON error: <title>Runtime Error</title> <style> body {font-family:"Verdana"

This is what I did. I decided to create a new Windows User on the machine where I was having the problem and install Joplin into that User. This meant no change in the OS Level, OneDrive, etc.  just a differ

[2020-03-07 20:37] Rolograaf commented on #2639
As a suggestion, it would be nice if resources that are an image, besides the name of the image a little thumbnail would be displayed?

[2020-03-07 20:59] Rishgod commented on #2663
After doing a lot of research and trying everything it is **not possible to Implement this feature**

<img width="373" alt="B3" src="https://user-images.githubusercontent.com/54576074/76152271-9ca31e80-60e3-11ea-892b-fa3a703d76d6.png">

When I was trying to fix this, I was really surprised to find out that `clipboardImageCheck` is always true, irrespective of the fact that the clipboard has an ima

[2020-03-07 21:37] bedwardly-down commented on #2663
@Rishgod, i found [this](https://code-examples.net/en/q/5dd891) Any way this could be used to basically take the clipboard, convert it to base64 in react (since electron doesn't support it but there may be a way to access the clipboard that way, still), and then rebuild the image from that data into a format than be displayed in app?

[2020-03-07 22:24] tessus commented on #2644
A great alternative for Firefox users is Waterfox. It comes without all the telemetry and does not require signed add-ons.

[2020-03-07 22:56] tessus commented on #2644
For those of you whose browser can use the `Install Add-on From File...` option:

[joplin-web-clipper-fox-1.0.22.zip](https://github.com/laurent22/joplin/files/4302598/joplin-web-clipper-fox-1.0.22.zip)

[2020-03-08 01:46] laurent22 opened #2681 "Clear provisional flag as soon as note is modified"
Currently does it when saved, but would be best to do it as early as possible.

[2020-03-08 01:56] taw00 opened #2682 "export to JEX doesn't exit "Please wait..." screen (intermittent issue)"
1.0.192 on Fedora 31 (my builds).

I exported to .jex. It did it usual black screen with the message that it was being saved. But there it remained. _It doesn't do this every time._ Issue #1970 looks similar.

Screenshot attached.
debug file attached (though I see nothing useful in it).
I ran it from the command line and I see this (but that looks like just noise, right?):
[code]

![Screenshot fro

[2020-03-08 05:45] jerrybuks commented on #2681
I'm working on it

[2020-03-08 06:35] anjulalk commented on #2682
I'd like to take a look at this. The error is background noise indeed. I get it when opening the app menu. So I don't think its related to this. (It's something to do with GPU acceleration in Chromium?)

I'll give an update soon.

[2020-03-08 07:17] deadpool1999 commented on #2663
Yes , electron js uses node and chromium , so this issue can't be solved. This issue also exists with the word online and also the docs online version (when opened in chrome) but it is not the same if opened in Firefox ! Trying to read the clipboard content also shows 0 items in it. So can't also use some other api to upload the image somewhere and then fetch it in chrome!

[2020-03-08 08:04] laurent22 commented on #2682
Indeed it doesn't need to be fixed.

[2020-03-08 08:05] laurent22 commented on #2682
From the log you provided, it seems the operation was complete? It has the "Export result" message, which shows up once the export is complete.

[2020-03-08 08:12] jerrybuks commented on #2681
could you please add a photo(or any guide to reproduce this issue), as I'm unable to reproduce it from end

[2020-03-08 08:19] laurent22 opened #2683 "Search in note body using GotoAnything"
Currently GotoAnything allows searching within note titles, notebook titles and tags.

We want to add this feature: When pressing the `/` key, followed by a query, GotoAnything should search within the note body.

All code should be in GotoAnything.jsx

Forum thread: https://discourse.joplinapp.org/t/what-shortcut-for-gotoanything-to-search-in-note-body/2148

[2020-03-08 08:23] chamathabeysinghe commented on #2683
Hello! I am a new contributor. I will work on this issue.

[2020-03-08 08:31] mic704b commented on #483
Updated/clarified response:

When the user deletes a folder that has child notes in trash, a dialog box appears advising them those notes will also be deleted, and asking if they wish to continue.

This can never happen

The note is restored and both notes will exist in the folder.  This is the same as if you create two notes with the same name yourself.

Each note in trash shows from which folder

[2020-03-08 08:52] laurent22 opened #2684 "Remove usage of deprecated UIWebView"
More info on what needs to be checked after switching to WebKit: https://github.com/react-native-community/react-native-webview/issues/312

In particular these two bugs need to be checked:

Bug 1: https://github.com/react-native-community/react-native-webview/issues/312#issuecomment-501988732

Bug 2: https://github.com/react-native-community/react-native-webview/issues/312#issuecomment-503754654

[2020-03-08 09:18] mic704b commented on #483
This would be a good feature though I propose a first iteration that only supports notes is still a useful feature.  Support for folders in trash would be a enhancement in a future iteration.

[2020-03-08 09:44] roman-r-m opened #2685 "Quick actions are not working on Android"
I'm using the latest available version 1.0.320 on Honor 9 OS version 9.

If Joplin is not running in background then using quick action (regardless whether it's new note or new todo) brings up notes list. If the app was running then instead I get a blank screen with only back button.
![Screenshot_20200308_094047_net cozic joplin](https://user-images.githubusercontent.com/995612/76160313-0261cb80-6

[2020-03-08 10:12] Perkolator commented on #483
Am I understanding this right, an example scenario:

1) User deletes a note from "A" folder.

    -> Note goes to/is seen in trash folder.

2) User deletes the "A" folder.

    -> A dialog is presented to the user. If the user clicks "ok/continue", then folder "A" is deleted completely, can't be seen in trash folder? Also the note that was earlier deleted to the trash folder is deleted completely,

[2020-03-08 10:13] mic704b commented on #483
Through design, the trash tag is not presented to the user when editing tags. Further, the tag delete method does not allow deleting the trash tag.

However it could still happen through a bug, and if it happened the design is still robust. The app will  alert the user to restart if the tag is missing and it will automatically recreate the tag on next start up. The user cannot create an alternativ

[2020-03-08 10:34] xplosionmind opened #2687 "Scrolling error and persistent scrollbar in app"
Joplin version: [v1.0.193](https://github.com/laurent22/joplin/releases/tag/v1.0.193)
Platform: MacOS Catalina 10.15.3

#### Bug description

When I’m scrolling down in a note, even if it’s short and it completely fits in the page, I have a white blank margin coming up from below. As you can see in [this screen recording](https://youtu.be/KSkzE-eEO1k), even when not scrolling, there’s also a persi

[2020-03-08 10:43] mic704b commented on #483
Support for folders in trash would be a good feature though I propose a first iteration that only supports notes is still a useful feature. Support for folders in trash would be a enhancement in a future iteration.

Until then, when the user initiates deletion of a folder, they will be informed that this means permanent deletion and so will not be surprised the notes do not appear in trash.

The u

[2020-03-08 10:53] laurent22 opened #2688 "Add option to "Retry all" when multiple items failed decrypting"
When an item cannot be decrypted, it appears on the synchronisation page, and there's a "Retry" link next to it to tell the decryption worker to process the item again.

If there's more than 1 item, there should be a "Retry all" button to send all the items for decryption in one go. That button should be at the top of the list.

[2020-03-08 11:14] Perkolator commented on #483
I have never seen such implementation of a trash folder in any software. Things put in trash folder should be ONLY deleted when a user deletes them FROM the trash folder (or **optionally**, if user has selected some automatic trash emptying schedule). That's the whole point of the trash folder!

Also you put too much faith in end users to understand what they are actually doing (user confirmation

[2020-03-08 11:21] laurent22 commented on #483
Any reason why it needs to be that way? If the note is already in the trash, couldn't you leave it there (not need to permanently delete it), and just add the remaining notes (which weren't already in the trash) to the trash?

[2020-03-08 11:24] mic704b commented on #483
I accept your point. I agree we should avoid an unorthodox solution that is not completely intuitive.

[2020-03-08 11:30] repman commented on #2471
https://github.com/laurent22/joplin/issues/2587
I see that the update 1.0.193 has been released , but it also does not solve the problem. Did you manage to understand and find the bug?

How do I change the font to Monaco?

[2020-03-08 11:32] mic704b commented on #483
The note retains the `parent_id` of its folder so we know where to return it.  If the folder is removed then the note is an orphan.

Storage of the complete folder structure is a challenge at this point.

Would an acceptable alternative in this case be to move the notes to trash (as orphans) and then restore them to an alternative folder if/when they are restored?

It is not ideal, but perhaps it

[2020-03-08 11:32] laurent22 commented on #2471
Settings -> Appearance, then set the font family to "Monaco". Also makes sure this font is installed in your system.

This bug is because Ace Editor only supports monospace font so we cannot fix it ourselves.

[2020-03-08 11:32] #2471 closed

[2020-03-08 11:43] Perkolator commented on #483
Are there big hurdles to overcome this? Would the same hurdles exist later when improving the trash feature to include folder support? If the answer to the latter is yes, wouldn't it make more sense to implement the whole feature now? Especially IF the the first implementation which doesn't include folders needs to be changed later on when folder support is implemented.

Just my 2c's. Sometimes it

[2020-03-08 11:45] laurent22 commented on #483
Under your current approach, that would work I think. We only need to care about the parent_id when restoring the note. If the notebook no longer exists, we can restore to an automatically created folder, a bit like it's done when restoring revisions.

While your approach works well overall, it might indeed be tricky to support deleting notebooks later on. In particular, notebooks can't have tags

[2020-03-08 11:50] laurent22 opened #2689 "Make menu bar black with dark themes"
When using a dark theme, the menu bar stays white:

![image](https://user-images.githubusercontent.com/1285584/76162173-e2d39e80-6132-11ea-9092-5c90d5cb7ebd.png)

Instead the app should check the current theme and if it's a dark one, the menu bar should be made black (assuming Electron supports this).

[2020-03-08 12:28] memophen opened #2690 "Zooming out deforms table borders in v1.0.193"
## Environment
Joplin version: 1.0.193
Platform: macOS
OS specifics: 10.14.6 Mojave

## Steps to reproduce
### Content of the note
[code]
### Expected
Thicker borders always win from thinner ones. In this case: all 2px border should prevail.

### Rendering at normal size (Cmd-Zero) or zoomed in (Cmd-Plus)
![image](https://user-images.githubusercontent.com/4470470/76162593-7317e080-613f-11ea-8309-f

[2020-03-08 12:50] RedDocMD commented on #2689
@laurent22 I would like to work on this issue. Please assign it to me.

[2020-03-08 12:52] RedDocMD commented on #2689
By the way, Electron does not directly support a dark theme. Rather, we must make the menu bar from scratch and change its colour

[2020-03-08 13:03] luckydays opened #2691 "Font size has drastically decreased in v1.0.193"
Please see the screenshot below:

![image](https://user-images.githubusercontent.com/10942891/76163334-701fee80-6145-11ea-8c11-3e4234ce422e.png)

The same relates to the left sidebar with the notebooks and tags.
It's as it was "zoomed-out"

[2020-03-08 13:06] laurent22 commented on #2690
The following HTML also doesn't do what you expect in Chrome:

[code]

So that should be reported to the Chrome project.

[2020-03-08 13:06] #2690 closed

[2020-03-08 13:07] laurent22 commented on #2691
Can you try to reset the zoom, in View menu?

[2020-03-08 13:12] luckydays commented on #2691
Thanks for the tip @laurent22 (never used this feature before :slightly_smiling_face: ).

OK, I've zoomed in a couple of times. The font size looks better indeed, however, the vertical space between the lines seems to be bigger than it was in the previous version of the app. But maybe it's a part of this latest update?

And trying "Actual Size" in the View menu - got back that decreased font size.

[2020-03-08 13:30] Phieldar opened #2692 "HTML not working in v1.0.193"
In previous version, HTML tag such as imbedded video (from Youtube) were working, now it isn't. I tried in Windows.

<iframe width="560" height="315" src="xyz" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## Environment

Joplin version: v1.0.193
Platform: Windows
OS specifics: Windows 10

## Steps to reproduce

1. Add so

[2020-03-08 13:41] ani4aniket commented on #2684
@laurent22 I want to work on this. Is it ok to use wkwebview instead?

[2020-03-08 13:42] jovandeginste opened #2693 "Synchronization often hangs, blocking parts of the desktop GUI"
## Environment

Joplin version: 1.0.179 - 1.0.193
Platform: Linux
OS specifics: Fedora 31

## Steps to reproduce

1. Start Joplin desktop (with existing configuration)
2. Wait for initialization to complete
3. Do a manual sync: first time usually succeeds
4. Optionally do some changes to a note
5. Do another manual sync (hit the button or Ctrl+s): often, the second time already fails
6. Repeat 4+5

[2020-03-08 13:52] jovandeginste commented on #2693
There could very well be something wrong with my configuration, but for the life of me, I can't find it...

I tried strace'ing all joplin processes while reproducing, but can't reproduce then. The sync operation takes noticeably longer then, so maybe it's a timing issue?

[2020-03-08 13:58] jovandeginste commented on #2693
Also very relevant, it has not always been like this (sinds v.179); I upgraded to that version on 2020-01-27, and have certainly used Joplin after this for a good while without issue. Only in the last week or so, this problem started manifesting itself.

[2020-03-08 14:07] jovandeginste commented on #2693
Most importantly: thank you for this very nice project! I think it partially fixed my life...

[2020-03-08 14:18] jovandeginste commented on #2693
I just did more checking, and this is most probably a duplicate of #2518, so I'll assume that to be the case and close this issue.

[2020-03-08 14:18] #2693 closed

[2020-03-08 14:28] jovandeginste commented on #2693
For the sake of completeness, I was using this on:
[code]

I rebooted my device to kernel 5.5+ at: 2020/03/04

[code]

This may very well be when this issue started manifesting for me.

[2020-03-08 14:28] zhaoxiangyu commented on #2603
“android-v1.0.319-rc1” has been released.
It works on my Mix2s~
Good Luck

[2020-03-08 14:35] jovandeginste commented on #2518
Fedora user here piping in: I started seeing the same problem after rebooting to kernel 5.5+

[2020-03-08 14:36] laurent22 commented on #2684
Yes the alternative would be wkwebview. Please make sure you read the linked thread (in particular my posts since they are relevant to Joplin) and check that everything works as expected. It's possible that they fixed the bugs I mentioned there since then.

[2020-03-08 14:38] laurent22 commented on #2684
@ani4aniket, I've added the two bugs that need to be checked.

[2020-03-08 14:45] jovandeginste commented on #2518
And for good measure, just rebooted to the (still installed) 5.4, and the problem was not reproducible

[2020-03-08 14:47] laurent22 opened #2694 "Fix gap on top of mobile app"
It doesn't seem to always happen. Maybe just with dark theme?

The screenshot below is from Android.

![image](https://user-images.githubusercontent.com/1285584/76165042-a6f90300-614b-11ea-90f6-558e89cbb900.png)

[2020-03-08 14:47] DarylSun commented on #2644
I've been wondering why the Joplin extension hadn't updated yet. Now I know why. Mozilla, what the heck???

To add my two cents, I hope you don't drop support for Firefox. I don't like Google Chrome, and I'm personally not sure about using the Firefox forks.

Maybe you can do something like what F.B. Purity and New XKit does, and just offer the Firefox extension straight from the website or GitHub

[2020-03-08 14:50] laurent22 commented on #2644
I've resubmitted it again so let's see what they say. Their feedback lately makes no sense at all. They can't build from source, even though I've tested before sending the ZIP and it works. They can't download the ZIP file even though everybody here can, etc.

[2020-03-08 15:39] DeadManIV commented on #2694
Yeah that's the UI issue I mentioned in my thread here: https://discourse.joplinapp.org/t/android-app-constant-crashes-after-sync-setup/6633/6

For me, the bar is always there. Light or dark theme. It's just white in the light theme, then half white (as in your screenshot) in the dark theme. But yeah the bar is always there. It wasn't in version 316, but every version after 316 had this issue. So

[2020-03-08 15:57] Perkolator commented on #1817
This is fixed now, most likely by the #2141.

[2020-03-08 15:57] #1817 closed

[2020-03-08 16:00] Perkolator commented on #1818
While the "sister issue" #1817 was fixed by #2141, this issue is still not fixed.

[2020-03-08 16:06] DeadManIV opened #2695 "OLED dark theme on Android app using dark theme colour for note content instead of OLED dark theme colour (see screenshot)."
OLED dark theme on Android app using dark theme colour for note content instead of OLED dark theme colour (see screenshot).
![WhatsApp Image 2020-03-08 at 16 01 45](https://user-images.githubusercontent.com/9134591/76166474-ba5d9b80-6156-11ea-872f-794a916f6a0f.jpeg)
![WhatsApp Image 2020-03-08 at 16 01 45(2)](https://user-images.githubusercontent.com/9134591/76166476-bb8ec880-6156-11ea-9ef5-00f0db

[2020-03-08 16:09] DeadManIV commented on #2695
The gap/bar at the top is a separate issue:
https://github.com/laurent22/joplin/issues/2694

[2020-03-08 16:57] liyang85 commented on #2674
I have the same problem.

For Chinese characters, Joplin has other issues, such as wrap a sentence at SPACE, which is a wrong place. Below is a screenshot:

![image](https://user-images.githubusercontent.com/20695423/76167312-a9397c80-61a0-11ea-818a-630df691ae40.png)

[2020-03-08 17:17] RedDocMD commented on #2692
I believe you problem is same as the following [issue](https://github.com/laurent22/joplin/issues/2643#issuecomment-595168606)

[2020-03-08 17:27] MuizU opened #2696 "Cannot exit from New Note / New to-do when nothing is typed"
When the new note or new to-do is clicked and the  there is no way to exit that view.

## Environment

Joplin version: 1.0.179-1
Platform: Linux
OS specifics: EndeavourOS

## Steps to reproduce

1. Open Joplin.
2. Click new note / new to-do.
3. click escape.

## Expected Behavior
   There should be a close button to exit the new note section or it should close on escape

[2020-03-08 18:02] laurent22 commented on #2696
The note is temporary. If you don't want to create it, just select something else and it will go away.

[2020-03-08 18:02] #2696 closed

[2020-03-08 18:03] laurent22 commented on #2694
@DeadManIV, it doesn't happen on my device. What is the screen resolution on your device?

[2020-03-08 18:06] laurent22 commented on #2694
Does your device has a notch by any chance? There's some new logic to add a gap if the device has a notch, but obviously it shouldn't do that. Or perhaps the logic to detect notch is faulty.

[2020-03-08 18:20] DeadManIV commented on #2694
I believe my resolution is 1080p. But yeah it does have a notch. That might indeed be the cause of the issue.
I have a OnePlus 6.

[2020-03-08 18:29] ev-w commented on #2694
![207834E6-5BD2-4ED1-831F-FA4EEBD41BC1](https://user-images.githubusercontent.com/9102534/76168770-b161cf80-6140-11ea-98ba-a4ae027e260c.png)

Same issue here on iPhone 11 Pro Max

[2020-03-08 18:38] JefferyT51 commented on #2694
Ditto here on the iPhone X.  iOS 13.3.1.  Happens in "Dark" and "OLED" Dark themes.

![Joplin-iOS-DarkMode-Bugged-1](https://user-images.githubusercontent.com/37882530/76168961-bbcc9b00-6139-11ea-9cf9-54cb0b7684dc.JPG)
![Joplin-iOS-DarkMode-Bugged-3](https://user-images.githubusercontent.com/37882530/76168962-bc653180-6139-11ea-9da5-10463bca425a.jpg)
![Joplin-iOS-DarkMode-Bugged-2](https://user-im

[2020-03-08 18:46] DeadManIV commented on #2694
@JefferyT51 @ev-w Do you guys have this issue within notes as well? Using the new OLED dark mode theme? If that's available on iOS. Version 1.0.320
https://github.com/laurent22/joplin/issues/2695

[2020-03-08 18:59] ev-w commented on #2694
@DeadManIV yes, the images @JefferyT51 posted above mirror my experience; the white part moves to the left side in a note view

[2020-03-08 19:10] jerrybuks commented on #2681
@laurent22, please

[2020-03-08 20:22] pcause opened #2698 "note added from mobile shows up as encrypted in linux desktop"
I have version 1.0.320 on my mobile (android) and added a note.  Just updated linux desktop to 1.0.193 and after opening and sync the new note from mobile shows up as encrypted on the linux desktop.  Never happened before on previous releases.  I then created a note from linux and it synced to mobile.  created a mobile note again and synced to linux.

I then deleted the test notes I created and sy

[2020-03-08 20:40] DeadManIV commented on #2694
Ah no,  I meant the issue I linked. Sorry for the confusion. This issue: https://github.com/laurent22/joplin/issues/2695

[2020-03-08 20:58] memophen commented on #2690
It's even worse: same misbehavior in Firefox and Safari. Surprisingly only IE 11 and the pre-chromium-based Edge version stay on track at all zoom levels.

Instead of fighting a loosed battle, it seems better to avoid overlapping of borderlines. That will make the CSS more complicated, but I think it's doable. I will publish about it when I've found time to sort this out.

Anyway, it's a far from

[2020-03-08 21:49] tessus commented on #2644
@DarylSun how do you even use an unsigned version with Firefox? Also, the extension is availalable one comment abvove yours.

[2020-03-08 22:17] DeadManIV commented on #2644
Apparently you have to install certain versions of Firefox to install unsigned add-ons:
https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct
at the bottom:

What are my options if I want to use an unsigned add-on? (advanced users)

Firefox Extended Support Release (ESR), Firefox Developer Edition and Nightly versions of Firefox will allow you to override the set

[2020-03-08 22:54] tessus commented on #2644
@DeadManIV thanks, I know that, but @DarylSun mentioned he uses Firefox and does not like other forks either and referenced 2 github projects that provide extensions.

So I want to know how he installs an unsigned extension, especially since he's using the normal Firefox edition.

[2020-03-08 22:58] DeadManIV commented on #2644
Ahhh right. Sorry, I misunderstood. That is a good question,  I would like to know the answer as well @DarylSun

[2020-03-09 00:09] taw00 commented on #2682
I will continue to experiment. I don't know if it is relevant, but the `.jex` file was already in existence (I write over the same one most of the time. I should have checked the timestamp. I will do a bit more troubleshooting and see if I can determine that it is indeed saving. I really don't want to do a full restore to see if that file is valid though. Is there another way to see if it is a val

[2020-03-09 00:13] DeadManIV commented on #2695
I noticed that the issue only occurs in the view mode,  not the edit mode.
![Screenshot_20200309-001226](https://user-images.githubusercontent.com/9134591/76173834-dc790d00-619a-11ea-9971-46d9fe4b1941.jpg)

[2020-03-09 02:21] JACK-THINK opened #2699 "Where is the "Global Zoom Percentage" in settings?"
## Environment

Joplin version: 1.0.193
Platform: Windows
OS specifics: Windows 10 LSTC 2018 17763.1075

## Describe what you expected to happen

Where is the "Global Zoom Percentage" in settings?

![bandicam 2020-03-09 10-26-46-163](https://user-images.githubusercontent.com/21015855/76177922-8cc53080-61f0-11ea-96ba-451b930fe433.jpg)

Plus, I think it's better to separate the settings from the dat

[2020-03-09 02:33] fhfuih commented on #2688
Hi! I am a newcomer and I would like to try solving this issue. However, I don't know how to trigger a decryption failure. I just tried disconnected from the internet but it just says `Completed: <time here>` with no `fetch items x/x`

[2020-03-09 03:01] metorm commented on #2674
Update 2020-3-9 11:00:20

The recent update v1.0.193 didn't fix the issue. The problem still exists.

[2020-03-09 03:10] metorm commented on #2674
Update 2：

Not only the `“` sign, but also the "℃" sign is also incorrectly handled in a similar way. I think we may need to maintain a list ...

[2020-03-09 03:10] DarylSun commented on #2644
@tessus @DeadManIV That's correct, I can't install unsigned extensions to the normal Firefox edition. The above ZIP file gets blocked completely when I attempt to install it.

I don't currently use the two extensions I mentioned, but I did in the past. When I tested them recently, I can still install them: they throw out warnings, but I'm able to ignore them and continue with the installation. I'm

[2020-03-09 03:42] metorm commented on #2674
Update 3:

Using the open-source font [`等距更纱黑体 SC`](https://github.com/be5invis/Sarasa-Gothic) temporarily solves the problem. It's [reported](https://threader.app/thread/1221674697219178505) that the font may cause other rendering problems in Joplin, but my test shows that it's ok for now.

I think it's not a perfect solution, but we can live with it temporarily.

[2020-03-09 05:00] uavana commented on #2694
also got a gap on Android Version with notch

[2020-03-09 05:19] fhfuih commented on #2688
So I just probably done writing the codes without seeing how it's gonna be like... And I would like to know if there is only one "retry all" button for all the sections, or many button for each section? (I assume the former choice is better.) And should we care about adding new fields to the localization template?

[2020-03-09 05:50] tessus commented on #2644
@DarylSun xpi is the same as zip and the `Install Add-on From File...` only shows files with the zip and xpi extension as active.
Installing the zip works perfectly fine in Waterfox, Firefox Developers Edition and Firefox Unbranded Edition.

[2020-03-09 06:12] tessus commented on #2699
⚠🚨⛔ The issue tracker is not for questions. ⛔🚨⚠

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek.

## Questions and Help

Please read the [documentation](https://joplinapp.org/) and [FAQ](https://joplinapp.org/faq/) first.

### https://discourse.joplinapp.org/

If you have still questions related to Jop

[2020-03-09 06:12] #2699 closed

[2020-03-09 06:14] tessus commented on #2682
@taw00

Yep, it's a tar.

[2020-03-09 07:00] DarylSun commented on #2644
@tessus Well, then... I have no idea why the above ZIP file doesn't install in the normal Firefox edition, but F.B. Purity and New XKit do. Sorry.

[2020-03-09 07:14] tessus commented on #2644
@DarylSun because they took the signed xpi files from the Add-on store and put it on github.

[2020-03-09 07:23] alexdevero commented on #2698
I have the same issue on desktop Win and iOS app.

When I create note on desktop and sync Joplin, the app appears in iOS app as encrypted. I already have +100 notes on mobile that are encrypted.

Joplin desktop: 1.0.193 (Win)
Joplin iOS: 10.0.45

[2020-03-09 07:54] DarylSun commented on #2644
@tessus Oh... but F.B. Purity hasn't been on the add-on store since... 2015, I think? How is it getting signed, then?
https://www.fbpurity.com/news/important-note-for-firefox-users-of-fb-purity/

Also, I have `xpinstall.signatures.required` set to true, so it can't be that preference that allows me to install F.B. Purity. Though I'm thinking of toggling that to install the Joplin ZIP file. Would t

[2020-03-09 07:58] liyang85 commented on #2674
@metorm As you can see the 2nd screenshot in my previous post, I'm using `等距更纱黑体 SC (aka Sarasa Gothic)` in Joplin for macOS.

At first, the reason for selecting this font is to get a correctly aligned Markdown table when the table has Chinese characters.

Fortunately, I never see the L-SEP symbol when I use Chinese Input Method.

But after seeing your latest post in this issue, I can tell you the

[2020-03-09 08:17] hpfmn commented on #2518
Just to let you know - problem exists with Joplin 1.0.193 and kernel 5.5.8

[2020-03-09 08:19] hpfmn commented on #2518
@bedwardly-down electron 8.1.0 is released. Do you know if the bug is fixed there? Than I could give building 1.0.193 with electron 8.1.0 a try.

[2020-03-09 08:24] zhangcheng142 commented on #2603
android-v1.0.319-rc1 is ok, so close this issuse

[2020-03-09 08:24] #2603 closed

[2020-03-09 08:29] foxmask commented on #2694
same as @uavana

[2020-03-09 08:49] axq commented on #2698
I had a similar issue after updating on Android to 1.0.320.  Created a new note, that wouldn't decrypt on Windows desktop, until I updated to 1.0.193 for Windows.  My guess is that it's due to the introduction of CCM encryption in the latest releases.

Are you on the latest releases for each platform?  Has CCM been added to iOS yet?

[2020-03-09 08:54] axq commented on #2694
No notch no gap for me on Android.

[2020-03-09 09:04] JACK-THINK commented on #2699
@tessus

I'm so sure this is a bug, not support request.

The "Global Zoom Percentage" in settings just disappeared in version 1.0.193.

The "Global Zoom Percentage" in settings exists in version 1.0.179.

[2020-03-09 09:14] tessus commented on #2699
It's not a bug. It's been removed.

[2020-03-09 09:47] metorm commented on #2674
Well, at lease `……` is used less frequently than `“”` ……

[This post](https://genneko.github.io/playing-with-bsd/application/howto-use-joplin-on-freebsd) claimed that the problem can be solved by custom CSS. I haven't tested his method yet.

Another temporary solution is to use a third-party editor.

Anyway, the perfect solution is always to fix it inside Joplin.

[2020-03-09 10:11] bedwardly-down commented on #2518
@jovandeginste and @hpfmn thanks for the updates guys. It'll be easy to test that out and all testing is welcome.

[2020-03-09 10:13] alexdevero commented on #2698
@axq I don't think so. I've been encountering issues with encryption for the last 5-6 days. Since I always download the latest version right when it is released, the bug could to be introduced in one of the last ~3 version.

[2020-03-09 10:28] bedwardly-down commented on #2518
Bug is still showing in Electron 8.1.0. What are you all showing?

[2020-03-09 11:17] liyang85 commented on #2674
Hi @metorm , thank you for the information.

I'm sorry but custom CSS and specific fonts are not my taste, I like an out-of-box app. If an app need to be hacked to do something which it should do, I think the app doesn't fit my needs.

For CJK characters, as you talked, there are many excellent Markdown editors can handle them perfectly, and Joplin supports external editors. Even the built-in Reac

[2020-03-09 11:31] mic704b commented on #483
That sounds brilliant.  It would work the same as for notes.  We may not even need a separate tags table, perhaps they share a single 'note_tags' table (or rather 'item_tags'). I'll investigate the trade offs.

[2020-03-09 13:11] laurent22 opened #2700 "Prevent toolbar buttons from wrapping"
Toolbar buttons wrap but they shouldn't:

![image](https://user-images.githubusercontent.com/1285584/76215734-43341000-6207-11ea-930b-864505268ca5.png)

We'd need to make sure they don't wrap, and that the media queries still work so it shows only the buttons below a certain width.

[2020-03-09 13:49] Ridbowt commented on #2644
How do I know when a new version of Web Clipper for Firefox (joplin-web-clipper-fox-n.n.nn.zip) is released and which link can I download it from? Only in this thread?

[2020-03-09 13:52] anjulalk commented on #2700
I'd like to work on this. Hiding or showing button labels is decided by the following media query in `Header.jsx` file:
[code]

If width is less than `550 * this.props.zoomFactor` labels are not displayed. So increasing this value should do the trick, right?

[2020-03-09 14:08] laurent22 commented on #2700
We only need to prevent the label from wrapping. But at the same time we need to check, after having disabled wrapping, that the existing media queries still work, maybe they still do.

[2020-03-09 14:09] laurent22 commented on #2698
If you have the latest version of mobile and desktop, you can go in the Synchronsiation Status screen, and click "Retry" for each item that could not be decrypted.

[2020-03-09 14:11] alexdevero commented on #2698
Hope this will be helpful, screen from iOS app:
![IMG_4623](https://user-images.githubusercontent.com/4237724/76220499-e3923080-6217-11ea-8cd7-bb144cf67aac.PNG)

Note: I didn't change my master encryption key for the last year. For some reason, the app started showing this message few days ago.

[2020-03-09 14:14] laurent22 commented on #2698
A few things:
- The latest iOS version with CCM mode support has not been released yet (waiting for Apple)
- If you're still having issues decrypting items, please check the sync status screen to see if you can retry decryption
- Post your log if it still doesn't work

[2020-03-09 14:16] laurent22 commented on #2698
My bad, the iOS is actually released now. So if it doesn't please post your log.

[2020-03-09 14:31] daukadolt commented on #2605
@Chhekur I'm working on the issue, it's just that I'm kinda slow 😅

[2020-03-09 14:39] alexdevero commented on #2698
I tried to export debug log, but it does nothing - button is grayed out but nothing happens. How long does it take to export the log?

[2020-03-09 14:41] laurent22 opened #2701 "Remove "Export debug report" button in iOS"
This button is enabled in the Config screen, however it does nothing in iOS, so it should be removed.

[2020-03-09 14:42] laurent22 commented on #2698
This button doesn't work in iOS (and should be removed). If you could take a screenshot of the relevant lines (errors related to encryption) in the log that could help.

[2020-03-09 14:48] alexdevero commented on #2698
Here is the screenshot:
![IMG_4626](https://user-images.githubusercontent.com/4237724/76225885-679ae700-621d-11ea-85da-e9c22ef94d27.PNG)

[2020-03-09 14:50] laurent22 commented on #2698
Those are network errors, not encryption errors. Did you try actually setting the master key password?

[2020-03-09 14:52] alexdevero commented on #2698
Yes, twice. I set the password in 2018 and didn't change it since then. I've been using the same pass for almost two years and it worked, until few days ago. I also didn't reinstall the app, desktop or mobile.

[2020-03-09 14:53] jerrybuks commented on #2701
I would love to work on this

[2020-03-09 15:00] hpfmn commented on #2518
Same here

[2020-03-09 15:05] xplosionmind commented on #2687
I'm gonna add two images below to add some context to the [screen recording](https://youtu.be/KSkzE-eEO1k)

<img width="1440" alt="graphical bug in Joplin on Mac" src="https://user-images.githubusercontent.com/42862428/76227461-a03bc000-621f-11ea-8edf-b79767d9f0d2.png">

<img width="1440" alt="graphical bug in Joplin on Mac" src="https://user-images.githubusercontent.com/42862428/76227575-cfeac800

[2020-03-09 15:19] JonathanPlasse opened #2702 "Viewer scroll when adding text under a mermaid graph"
## Environment

Joplin version: 1.93
Platform: Linux
OS specifics: Ubuntu 18.04

## Steps to reproduce

![](https://s5.gifyu.com/images/animation7ea7d02215eec4d1.gif)

1. Create a note with this content.
[code]

2. Scroll a bit down, just enough to hide a part of the mermaid graph.
3. Add text under the mermaid code.

The bigger the mermaid graph, the bigger the scrolling is.

[2020-03-09 16:48] bedwardly-down opened #2703 "Desktop: Deleting Notebook Slower Than Selecting All Notes and Hitting Delete"
## Environment

Joplin version: all versions past v1.0.179 (don't know about previous versions)
Platform: Linux
OS specifics: Artix Linux 64 bit

## Steps to reproduce

1. Create a new notebook (any name will do)
2. Create 4 different notes
3. Duplicate these notes as many times as you can (i did over 1000 in my test)
4. Select 1st note
5. Hold Shift and select last note
6. Hit Delete key or Click

[2020-03-09 17:13] Rahulm2310 commented on #2701
@jerrybuks I am already done with this brother.I request you to choose some other issue.

[2020-03-09 19:02] anjulalk commented on #2700
I've prevented the labels from wrapping and made the break point `800*zoomFactor` which works fine in default zoom level, but with other different zoom levels it doesn't work well (see below recordings) It seems like hard-coding this value is not a good choice.
![Peek 2020-03-10 00-30](https://user-images.githubusercontent.com/26695184/76247971-6e018100-6266-11ea-8c5e-16f84450481e.gif)

Any sugges

[2020-03-09 19:05] laurent22 commented on #2700
You could maybe use `setting.windowContentZoomFactor` to set the min width dynamically?

[2020-03-09 19:11] laurent22 commented on #2703
Indeed I see that for "select all" it's calling `batchDelete` which deletes everything in one SQL command, while when deleting folders it's deleting notes one by one (and every time the UI has to update). I guess that should be an easy fix so I'm marking it as "good first issue".

[2020-03-09 19:20] laurent22 commented on #2698
If it says it's decrypting on startup, but it's not actually doing anything, there should be some info in the log, not necessarily an error. Could you look through it and see if there's anything about encryption?

[2020-03-09 19:23] laurent22 commented on #2692
iframes, script and object tags have been disabled for security reasons. If the goal is to insert a YouTube video, I think the solution would be to create a markdown-it plugin for it.

[2020-03-09 19:23] #2692 closed

[2020-03-09 19:28] laurent22 opened #2706 "Create a Markdown-it plugin to support embedded videos"
Videos would be embedded like so:

    [My YouTube video](https://www.youtube.com/watch?v=StTqXEQ2l-Y)

So it is valid Markdown that works as a simple link by default.

However, when the plugin is enabled, it would parse the Markdown links in the page and, when it is a video, display a video player. For now, we only need to support YouTube, but the code should be generic enough to add more video p

[2020-03-09 19:28] laurent22 commented on #2692
Feature request: https://github.com/laurent22/joplin/issues/2706

[2020-03-09 19:30] hubitor opened #2707 "Error: Unsupported WebDAV URL format"
I wanted to try the synchronisation over NextCloud for the first time but it didn't work. I've uninstalled Joplin, removed all config folders and reinstalled. Now I'm trying again following the instructions from the Welcome notebook as well as:
[https://joplinapp.org/faq/#nextcloud-sync-is-not-working](https://joplinapp.org/faq/#nextcloud-sync-is-not-working)
[https://github.com/laurent22/joplin/i

[2020-03-09 20:14] jerrybuks commented on #2701
okay

[2020-03-09 20:22] jerrybuks commented on #2706
@laurent22 I want to work on this, but it seems to be a plugin that already does this, [here](npmjs.com/package/markdown-it-video) is it okay to just integrate it into the codebase?

[2020-03-09 21:02] laurent22 commented on #2706
I saw it but it's not good because it unecessarily introduces non standard markup. Perhaps it can be used as a starting point to generate the html markup.

[2020-03-09 21:36] Dave-van-der-Meer commented on #2670
So just to recap the staps to make it work when installing the AUR package:

Delete the configuration files (maybe make a backup first):

[code]

Remove the AUR application (assuming using yay package manager):

[code]

Install the AppImage:

[code]

Install the CLI version of Joplin:
[code]

If someone has still issues, I recommend asking the friendly team for help.

[2020-03-09 21:36] #2670 closed

[2020-03-09 21:37] jerrybuks commented on #2706
okay, so you basically want the same functionality replicated, but should generate standard markup(semantic HTML)?

[2020-03-09 21:58] tangodev opened #2709 "A note in “CONFLICTS” keeps appearing and disappearing when editing"
When having conflicted notes and editing the one in CONFLICTS folder, it starts to disappear and reappear.

## Environment

Joplin version: 1.0.193.1388 Appimage
Platform: Linux
OS specifics: Ubuntu 18.04 LTS (KDE Neon) 64-bit

## Steps to reproduce

1. Create a conflict
2. Wait for the CONFLICT folder to appear
3. Start editing the note in the CONFLICT folder
4. The note vanished from view

When

[2020-03-09 22:01] laurent22 commented on #2706
No I mean the input Markdown should be standard. The output HTML I don't mind so much as long as it's reasonably clean.

Their Markdown looks like this:

    @[youtube](dQw4w9WgXcQ)

But that's not good as it's not standard and, if the plugin is not enabled, it won't work at all. So our Markdown should look like this:

    [youtube](https://www.youtube.com/watch?v=dQw4w9WgXcQ)

which is standard.

[2020-03-09 22:18] jerrybuks commented on #2706
okay, I will give this a try

[2020-03-09 22:22] tessus commented on #2644
@Ridbowt we are trying to get it back in the store, but our reviewer is a tool. So if we are not able to get it back, we'll drop support for firefox and make the unsigned extension available somewhere. But please not that you can't install any unsigned extension in the Standard Edition of Firefox.

[2020-03-09 22:25] tessus commented on #2644
@DarylSun I'll try this once again. There is no way, whatsoever, to install unsigned extension in Firefox (Standard Edition). You can change the setting, but it won't help. All hail the stupidity of Mozilla.

[2020-03-09 22:40] ethan42411 commented on #2694
Same issue on iPhone XR.
![A6646B35-FCB0-4086-98C7-8AE19BBC0ECE](https://user-images.githubusercontent.com/5001259/76263483-f51c1c80-6299-11ea-9dd5-6199e8cfe583.png)

[2020-03-09 23:09] laurent22 opened #2710 "WYSIWYG to-do list"
This post is to keep track of what's left to do for the WYSIWYG editor. Related to #176

- [ ] Add back support for external editing
- [ ] Allow creating code blocks for Katex, Mermaid, Fountain, and for actual source code.
- [ ] Allow creating checkboxes
- [ ] Improve handling of non-standard Markdown plugins
- [ ] Add "Insert date time" button
- [ ] Add Tag button
- [ ] Display tags below title

[2020-03-09 23:22] #2710 closed

[2020-03-09 23:34] laurent22 commented on #2707
This is not a bug, please use the forum for support.

[2020-03-09 23:34] #2707 closed

[2020-03-09 23:44] #2694 closed

[2020-03-09 23:48] laurent22 commented on #2691
Hmm, not sure, we changed the toolbar button font size, but it was a while ago. Your screenshot seems about right. Maybe the default font size should be increased but that's something to be discussed on the forum.

[2020-03-09 23:48] #2691 closed

[2020-03-10 01:38] AlexandreBrown commented on #1493
Same issue also occurs on desktop.
When typing relatively small notes in 1 go, (~1700 characters with maths markdown expressions), the app becomes very slow and there is a big delay when typing (I have to wait a 200ms-1000ms before each char)

I suspect this is related to this memory leak issue because when I kill the app and restart it it fixes the issue.

OS: Ubuntu 20.04
CPU: i7 6700k
RAM: 32GB

[2020-03-10 04:15] coderrsid commented on #2694
Hey @laurent22, why you closed this issue? I was thinking of working on it.

[2020-03-10 04:39] amandamcg commented on #2604
I noticed this also plus on Mac I also noticed that the app icon is larger than normal and doesn't have all the sizes in the .icns file.

If someone can point me to the original icon file, I can provide the assets in all the various sizes.

[2020-03-10 05:37] tessus commented on #2702
might be related to #1546

[2020-03-10 05:42] tessus commented on #2663
@PackElend we have an `upstream` label. Does your `external` mean the same?

[2020-03-10 06:07] tessus commented on #2688
I'm not very familiar with the decryption worker code that Laurent will have to answer your questions.

[2020-03-10 06:08] amandamcg commented on #2604
In digging in further, I was able to find the icons in the assets folder. I am not able to build / test the iOS and Mac apps, so I don't feel confident creating a pull request, but I used the same naming convention that was already in use to create the following:

## iOS icons
- Changed to be square instead of roundrect, which was getting cut off
- I also noticed was that "29x3.png" is currently 9

[2020-03-10 07:11] alexdevero commented on #2698
There is only message about `DecriptionWorker` being started and then completing decryption.

[2020-03-10 07:18] alexdevero commented on #2698
I think the problem may not be specifically in the encryption/decryption process, or missing master keys. I noticed that even though there were +100 encrypted notes in the mobile app (iOS), there were also encrypted notes that matched the notes in desktop app (Windows). Put simply, it looks like those encrypted notes were duplicates of the notes that were encrypted.

Or, another option, there was

[2020-03-10 07:25] jovandeginste commented on #2518
@bedwardly-down what exactly can I do to help? I have no idea how to "build" this project...

[2020-03-10 07:44] duarteocarmo commented on #2604
@amandamcg  nice find, thanks for the update. Same here, also not able to build source here.

The maintainer has marked this as high priority so it hopefully should be solved soon!

[2020-03-10 08:29] laurent22 commented on #2694
@coderrsid, this is my fix https://github.com/laurent22/joplin/commit/b367955e566f10ab6c29c63419845520de022084, but I'm not sure it's correct at all, so if you can find a better solution and especially test on a device with a notch, it would still be worth it

[2020-03-10 09:55] m-angelov commented on #2518
Kernel 5.5.7-arch1-1, Joplin master branch (1.0.193) - bug is still present.

@bedwardly-down I was intrigued by @mginco's mention of the web clipper and tried it out. I'm not using it, so the service was not enabled in my Joplin. What I did:

- Trigger the bug and leave it spinning on "Syncing..."
- Go to Options -> Web Clipper and enable the service
- Return to the main screen and see that the s

[2020-03-10 12:57] ishantgupta777 opened #2715 "Sidebar not closing if map id is not present"
The sidebar has an option that says view on the map and if there is an error it just stays there and shows an error on the main screen, where the error is not properly visible. So if we get an error, the sidebar should close, this is really important in terms of user experience.

## Environment

Joplin version: 1.0.320
Platform: windows
OS specifics: No

## Steps to reproduce

1. Click on add a no

[2020-03-10 13:15] prathima-b commented on #2703
@laurent22 @bedwardly-down I would like to work on this issue please assign it to me.
Thank you.

[2020-03-10 13:21] raghavg27 commented on #2665
did anyone got this done?

[2020-03-10 13:31] varian93 opened #2716 "Export: Internal Links Not Maintained"
When exporting notes to Markdown internal links are broken if both the source & destination notes are not exported together (the internal link will point to "../undefined"). If both notes are exported at the same time then the link will be maintained.

When exporting notes to HTML internal links are always broken. They point to the name of the of the original source HTML file with a "#" appended t

[2020-03-10 13:37] PackElend commented on #2663
it properly means the same; i refer to code outside the Joplin universe, so basically 3rd party dependencies

I renamed the label to allow better filtering on externals.

[2020-03-10 13:41] pcause opened #2717 "The items can't be synecd header message doesn't clear"
Release 1.0.193 on Linux

I changed my account password on onedrive.  I have the yellow header saying some items can't be synced.  click on the link to view and then clicked the retry for each item and they synced.  back to main screen and the yellow bar is still there.  run a sync and all ok but yellow bar remains

[2020-03-10 14:08] raghavg27 commented on #2383
Anyone working on this?

[2020-03-10 14:19] coderrsid commented on #2703
I am working on fixing this issue. ASAP.

[2020-03-10 15:23] michkern commented on #2533
I can reproduce the same problem, issue occurred when switched to https with a self-signed certificate, on Windows the sync works perfectly when 'Ignore TLS certificate errors' is on. This option seems to be missing in the iOS app.

iOS: 13.3.1
Joplin iOS app version: 10.0.45
Joplin Windows 10 version: 1.0.193

<img width="375" alt="2020-03-10 09-47-52-1" src="https://user-images.githubusercontent

[2020-03-10 16:36] squidrpi commented on #1029
Issue still hasn't been resolved.

[2020-03-10 16:59] laurent22 commented on #2715
Thanks for investigating this. If you could create a pull request for it that would be great.

[2020-03-10 17:10] ishantgupta777 commented on #2715
Sure, I will do it asap. Thanks.

[2020-03-11 02:05] ishantgupta777 opened #2721 "No option for select all in notes"
In any notebook, while selecting notes, let just I have so many notes in a notebook and I want to delete most of them, for that, there is no option of select all in the navbar. It's necessary for users if they want to edit or delete most of the notes except few, so they need to select all features.

![Screenshot_1583891971](https://user-images.githubusercontent.com/27751740/76374908-7b079880-636a-

[2020-03-11 02:26] ishantgupta777 opened #2722 "Note is present even after removing title and body"
If I make a note and save it. And if I come back and delete the title of the note and its body also and save it. There is literally nothing in that note remained. So it should be automatically deleted. But it's not happening. An empty untitled note is getting saved.

## Environment

Joplin version: 1.0.320
Platform: Mobile
OS specifics:  No
![untitled](https://user-images.githubusercontent.com/277

[2020-03-11 03:18] sinkuu commented on #2674
I suspect this is Ace editor's problem that it does not handle [East Asian Width](https://www.unicode.org/reports/tr11/) correctly. (https://github.com/ajaxorg/ace/issues/4208)

My manual workaround is patching Ace's [`isFullWidth` function](https://github.com/ajaxorg/ace/blob/c6aa009c9fd12822222b36a81387d91c60c6e8d2/lib/ace/edit_session.js#L2416-L2451) to cover EAW ambiguous width characters: htt

[2020-03-11 05:56] nardyn commented on #2698
Had the same problem from MacOsX to Linux client, so it's not a mobile problem. Just wrote 3 notes on 1.0.193 on MacOsX and read it on older version on Manjaro, still at 1.0.173.
Than i've upgraded the linux version to 1.0.193 but nothing, still encrypted. In my case i've just resolved deleting that 3 notes and wroting it again from MacOsX and all went to normal, but of course that's something wro

[2020-03-11 08:06] Rahulm2310 commented on #2722
@ishantgupta777  i don't think that's a bug.That's the way it should be..

[2020-03-11 08:14] ishantgupta777 commented on #2722
@Rahulm2310 I know it's debatable that it's a bug or feature.  But if you see in most applications like this,  if you delete title and body, the note will get deleted. For ex: gTasks. And also this is also bad for user experience, some users have a habit of just clearing tasks and going back,  they never delete it,  for them, there will be a alot of empty notes, which are just useless. There shoul

[2020-03-11 08:35] Rahulm2310 commented on #2689
@laurent22 I don’t know if we can change the menu bar color without changing the system UI theme, but we can create a frameless window and build our own menu in our app’s HTML.

[2020-03-11 08:52] sinkuu commented on #2722
That's not always true. Joplin has [note history feature](https://discourse.joplinapp.org/t/note-history-feature-now-in-joplin/2469), which means you can possibly restore the previous state even from an empty note.

[2020-03-11 09:11] ishantgupta777 commented on #2722
@sinkuu oh okay okay,  I didn't know that. Thanks for the info.

[2020-03-11 09:11] #2722 closed

[2020-03-11 09:28] laurent22 commented on #2689
If it means building our own menu, then we'll leave it as it is.

[2020-03-11 09:32] laurent22 commented on #2721
How do other apps allow selecting all items? Do you have some examples?

[2020-03-11 09:39] Rahulm2310 commented on #2689
Okay

[2020-03-11 09:46] Rishgod commented on #2721
I believe you press on the note for a second it gets selected and then your drag your finger down to the bottom to select all or tap on the notes you want to delete

[2020-03-11 09:56] ishantgupta777 commented on #2721
Mostly there is a button with tick icon on navbar,  by clicking that we can select all the items.

[2020-03-11 09:57] ishantgupta777 commented on #2721
Dragging can work, but it's more complicated for users than just clicking a button. But can also work.

[2020-03-11 10:24] Rahulm2310 commented on #2677
@letian304 can you please describe what needs to be done here

[2020-03-11 10:38] pihentagy commented on #1458
An _own_ full server could be used (for privacy reasons).

But there is a public server, as @danger89 explained.

So my suggestion is (as seen in other markdown editors) to make plantuml rendering an opt-in feature, defaulting to use the public renderer, but having an option to specify a custom server.

Both `puml` and `plantuml` are common language markers, so why not support both?

[2020-03-11 10:57] liyang85 commented on #2674
@sinkuu Would you like to share the steps of your manual patch? Thanks.

I have searched in the macOS app directory by using the `find` and `grep` commands, but I didn't find a function called `isFullWidth` or the same file `edit_session.js` from the ACE project which contains the function.

Then I have searched in the Joplin repository by using Sourcegraph, but I didn't find that file or function

[2020-03-11 11:45] rabeehrz commented on #2639
Yeah, but how would that work with other types of resources?

[2020-03-11 12:01] Rishgod commented on #2665
I'm working on it @raghavg27

[2020-03-11 12:51] rahul5720 commented on #2703
As you have said. I have found the code responsible for deleting folders and indeed it's deleting notes one by one instead of calling batch delete. I would like to fix this error.

[2020-03-11 13:06] ishantgupta777 opened #2725 "Proper extension for all files"
All the files in the ReactNative folder which are React components are also in the js file extension. This messes up with extension like Prettier and changes the code if anyone using Prettier or similar extension didn't change the extension. Even without that, giving .jsx extension is better for the overall React environment. So @laurent22  should I change the file extensions for react components

[2020-03-11 13:25] rahul5720 commented on #2703
I was making changes to the file but when after saving i started the app using "npm start" the changes got reverted. What to do about that?

[2020-03-11 13:26] jiangwei618 opened #2726 "The application window is white for Uncaught Error"
build branch master；last commit b367955e566f10ab6c29c63419845520de022084;

Uncaught Error: Cannot find module './MdToHtml/rules/fence'
Require stack:
- C:\Users\Administrator\AppData\Local\Programs\Joplin\resources\app.asar\lib\joplin-renderer\MdToHtml.js
- C:\Users\Administrator\AppData\Local\Programs\Joplin\resources\app.asar\lib\joplin-renderer\MarkupToHtml.js
- C:\Users\Administrator\AppData\L

[2020-03-11 14:20] #2616 closed

[2020-03-11 14:21] sinkuu commented on #2674
@liyang85
Ace's source code is not contained in this repository.

OK, I've made a patch file. Download [brace+0.11.1.patch](https://gist.githubusercontent.com/sinkuu/021ca0d9f6878dc6165ccf6d784075c4/raw/c385e6d07f165a374675ecca6a2492f55cdc1859/brace+0.11.1.patch) and put it into [`joplin/patches`](https://github.com/laurent22/joplin/tree/master/patches) directory. Then [build Electron Client](http

[2020-03-11 14:30] #498 closed

[2020-03-11 15:09] laurent22 commented on #2726
You built from source?

[2020-03-11 15:33] bedwardly-down commented on #2703
@Rahul-Shaikh what specific file are you changing? There are certain files that are deleted and recreated during the build process and you may be working with one of those.

[2020-03-11 15:35] Flnch commented on #2698
I had the same issue: Mobile (Android) at 1.0.320 and Linux desktop at 1.0.179. New and edited notes from the mobile device were shown as "encrypted" on desktop. After updating the desktop to 1.0.193, they were still shown as "encrypted".

My solution: After upgrading the desktop client to the most recent version, I made duplicates of the affected notes on the mobile device. After syncing, the dup

[2020-03-11 15:38] Rahul-Shaikh commented on #2703
I was changing the Folder.js file. In that file in the delete function the noteIds are taken and being deleted by the use of a for loop. Changing that to a batchDelete function with the Ids will probably fix the problem i suppose.

[2020-03-11 15:39] liyang85 commented on #2674
@sinkuu Thank you for your patient. I'm sorry but I don't want to build or compile Joplin on my computer. The reason I have talked in my previous post that I like an out-of-box app. Hope you can understand.

On the other hand, I think the development of Joplin is very active, if you can submit a pull request to this project, there are a lot of users will be benefited. Thanks again.

[2020-03-11 15:45] bedwardly-down commented on #2703
I'm assuming `ElectronClient/lib/Folder.js`, right?

[2020-03-11 15:46] tessus commented on #2644
It’s back!

https://addons.mozilla.org/addon/joplin-web-clipper/

[2020-03-11 15:46] #2644 closed

[2020-03-11 15:49] naviji commented on #932
I just imported my Evernote notes into Joplin on Windows. There was a lot of useless notes, so I deleted most of them. I made sure the sync was complete.

Then when I synced from the Joplin client in my ubuntu installation, it was extremely slow. When I checked the resources folder, I saw that all the images from the deleted notes were also getting downloaded.

[2020-03-11 15:54] sinkuu commented on #2674
This workaround will break the editor for non-CJK environment:( This is really a makeshift and I don't want to add this thing to any project. I'm sorry.

Applications should not have assumptions based on codepoints about how characters are rendered in browser. The right and sane way is to revive https://github.com/ajaxorg/ace/pull/2002. Or replace Ace with CodeMirror or Monaco...

[2020-03-11 16:20] ishantgupta777 opened #2727 "Screen is white and empty after deleting last notebook"
Platform: Mobile
OS specifics: No

## Steps to reproduce

1.  Create some notebooks.
2. Delete all the notebooks.
3.  After deleting the last notebook, you will be redirected to this white screen.

![Screenshot_1583943374](https://user-images.githubusercontent.com/27751740/76439382-54854400-63e2-11ea-8cb0-24fa13f849bc.png)

## Describe what you expected to happen

It should be redirected to all no

[2020-03-11 16:40] RedDocMD commented on #2726
Running `npm install` in the project root fixes this

[2020-03-11 16:40] liyang85 commented on #2674
OK, got it.

As the leader @laurent22 of the Joplin project said on 5 Dec 2019 (https://github.com/laurent22/joplin/issues/275#issuecomment-561868840):

We all hope the day comes very soon.

[2020-03-11 17:07] Liuhaai commented on #1546
Sorry for the late feedback. The scroll event might be triggered by some text input in the editor. I fixed this issue by a workaround. The editor position will not change when the user edit in the editor. That is, there are some changes on the content length.

[2020-03-11 17:14] tessus commented on #1546
@Liuhaai if your change fixes this problem, please submit a PR.

[2020-03-11 17:17] tessus commented on #2725
The js files are generated from the jsx files and only local (they are in gitignore).

- No, do not change the Joplin source tree.
- Don't use the gh tracker for dev questions - the forum has a `Development` category.
- fix your editor / prettier behavior

[2020-03-11 17:17] #2725 closed

[2020-03-11 17:19] virtadpt commented on #2722
If you want to really delete a note, right-click (or control-click) on it in the notes list, then select "delete."

[2020-03-11 17:20] tessus commented on #2726
Reading CONTRIBUTING.md helps. Maybe next time yo

[2020-03-11 17:20] #2726 closed

[2020-03-11 17:29] RedDocMD commented on #2716
Can you provide an example file because I don't seem to be able to reproduce this error.

[2020-03-11 17:52] Liuhaai commented on #2702
I am working on solving scroll issue in the editor. Is this acceptable?
<img src="https://s5.gifyu.com/images/scroll_gif.gif">

[2020-03-11 17:58] tessus commented on #2702
@Liuhaai I thought your change was to fix #1546. If they are related, this will fix this one too. Don't worry about this one right now.

[2020-03-11 17:58] RedDocMD commented on #2703
@laurent22, @bedwardly-down I think this should fix this issue

[2020-03-11 18:03] RedDocMD commented on #2726
Sorry?

[2020-03-11 18:14] tessus commented on #2726
My comment was posted by accident. I thought it was too mean and decided not to post it, but apparently I hit a key combination that posted it anyway.

I am sorry.

[2020-03-11 18:37] RedDocMD commented on #2726
Oh no, it's okay. I was wondering if I was doing something wrong.....

[2020-03-11 18:40] varian93 commented on #2716
Certainly.

I created a notebook named "Example". I exported it in JEX format.

It contains 2 notes. "I Like a Little Magic in My Life" & "~My Music". The former contains a link to the later.

I also exported both notes individually as Markdown, so that you can see the "../undefined". If I were to have exported them simultaneously the link would have been maintained.

All 3 files were archived in

[2020-03-11 19:05] Rahul-Shaikh commented on #2703
yes that is the file. Understood so changes had to be done there.

[2020-03-11 19:07] Rahul-Shaikh commented on #2703
This is the exact thing i had done in the ElectronClient but due to build always reverting.

[2020-03-11 19:15] hrqmonteiro opened #2732 "App closes when i hit Configuration button"
Hi, i was using the app on LineageOS for a while, but since the next update, i simply am not being able to open configurations, when i hit it, app simply closes.

I tried reinstalling, cleaning cache and storage, and even downloading an older version doesn't help with it.

[2020-03-11 19:25] Rahul-Shaikh commented on #2706
Do you mean to install the plugin then open the plugin's source code where the link destination is parsed and then only keep the code with accepts the standard format?

[2020-03-11 19:26] tessus commented on #2732
You either use the template or you can ignore it and we close the issue.

[2020-03-11 19:26] #2732 closed

[2020-03-11 19:27] hrqmonteiro commented on #2732
Fucking moron

[2020-03-11 19:34] laurent22 commented on #2706
I'm not sure what you mean. You're free to start from that existing plugin if you want. But to be honest the bulk of the work will be in detecting and parsing the YouTube URL and this is not in the existing plugin. Maybe start from scratch with a new plugin, and copy/paste the parts of the other plugin that might be useful (in particular the part to render the YouTube HTML code).

[2020-03-11 19:35] DeadManIV commented on #2721
This is an example of how it could work. Long press to select multiple notes, then a button at the top to select all. Or something like that.
![Select all example](https://user-images.githubusercontent.com/9134591/76456726-5e517c00-63cf-11ea-8e9b-fb2610f39262.gif)

[2020-03-11 19:42] hrqmonteiro opened #2733 "App crashes when i hit Configuration button"
Joplin 1.0.319-rc1 (either 32 or 64 bit, it happens the same way)
Platform: Android
OS: LineageOS 16
Device: Moto G6 Play

Steps:

1 - Install app brand new (uninstalled, cleaned cache and storage)
2 - Open
3 - Hit configuration button
4 - App crashes and closes

What i expected to happen: not close, so
i can config it..

Ok, now i followed the template, can anyone help me?
It was ok till last wee

[2020-03-11 19:46] tessus commented on #2733
The latest version is 1.0.320: https://github.com/laurent22/joplin-android/releases/latest

Can you please try 1.0.320.

[2020-03-11 19:47] tessus commented on #2733
Were any of the LineageOS components updated since last week?

[2020-03-11 19:51] hrqmonteiro commented on #2733
@tessus no, and i'm using a stable version, i don't think lineage16 is getting changes since they are focusing on 17 which is android 10
Im happy with my stable Lineage with Android Pie so i'm not changing a bit neither have an update.

I'm downloading the 1.0.320 and i'll see.

I was using 319 since it was the ono on the readme.md and on Aurora Store.

[2020-03-11 19:53] tessus commented on #2733
Crash issues are always more complex to debug. A low level debug log might be the only way to find out what's going on.
Should 320 not fix your issue, please have a look at:
https://joplinapp.org/debugging/#creating-a-low-level-bug-report-on-android

This report will hopefully tell us why and where in the code it crashes.

[2020-03-11 19:54] hrqmonteiro commented on #2733
@tessus i install and same thing happened

I'll take a look on the link

[2020-03-11 19:56] ishantgupta777 commented on #2721
Yeah exactly, this is what I am trying to implement.

[2020-03-11 20:03] hrqmonteiro commented on #2733
@tessus how do i send it since its a zip file

[2020-03-11 20:08] hrqmonteiro commented on #2733
here https://workupload.com/file/ahVTdYVw

[2020-03-11 20:19] tessus commented on #2733
You can attach it here.

![image](https://user-images.githubusercontent.com/223439/76460310-2426b100-63b4-11ea-80ce-47f2b7187b61.png)

[2020-03-11 20:23] hrqmonteiro commented on #2733
Im not on pc, sorry, not on home

and mobile data is very slow

[2020-03-11 20:46] Liuhaai commented on #2242
Hi, tailiove. Is this problem you describe?
<img src="https://s5.gifyu.com/images/sync_gif.gif">

[2020-03-11 21:43] PackElend commented on #2513
just stumbles over this here, so what you need is function to reindex don't you?

[2020-03-11 21:46] PackElend commented on #2502
but it should check if the version, Joplin opened is the latest stored in the database. If not a warning or diff compare should come up, shouldn't it=

[2020-03-11 21:51] PackElend commented on #2454
still valid?

[2020-03-11 23:53] Rishgod opened #2736 "DESKTOP: If the text is preceeded by white spaces after converting it into bold text, the text is not selected properly."
# Actual Behavior
![selection-bug](https://user-images.githubusercontent.com/54576074/76474357-6c2fed00-6421-11ea-88bf-58cd1f8ab7fd.gif)

# Desired Behavior
![selection-fix](https://user-images.githubusercontent.com/54576074/76474359-6df9b080-6421-11ea-9751-15d9edb67fef.gif)

[2020-03-11 23:54] Rishgod commented on #2736
@PackElend @bedwardly-down thought?

[2020-03-12 00:34] bedwardly-down commented on #2736
On this, I’m not sure. How exactly does this get reproduced? I’m a bit confused about what’s happening

[2020-03-12 00:54] Rishgod commented on #2736
## Steps to Reproduce

-  write something on Joplin surrounded by white spaces like '   Joplin     '

-  Select the entire text '   Joplin     '  (including the white spaces) and press any of bold/italic/Code button

-  Ideally, the only selected text should be the one in between the markdown rule but due to the offset created by the white spaces that's, not the case, LOOK at the difference betwee

[2020-03-12 00:56] bedwardly-down commented on #2736
@Rishgod, look at the new `toggleWrapSelection` function in `ElectronClient/gui/NoteText.jsx`. Does this only happen with Bold or does it occur with Italic too? I did a quick search of the code and found the `commandTextBold` function called that one and looks like it could add spaces when called. I could be wrong there, though.

[2020-03-12 01:06] Rishgod commented on #2736
this will happen with bold, italics, and code block, I believe this is more of a subjective bug because I seriously think the way it highlights the text right now is really ugly, the fix to this is really simple.

[2020-03-12 01:19] tessus commented on #2736
There was a PR not too long ago that had to do with this.

[2020-03-12 01:32] bedwardly-down commented on #2736
I believe it added the function i alluded to. It was merged like a week at the most ago, i think

[2020-03-12 01:36] tessus commented on #2736
Yep, actually that code was written by @Rishgod

https://github.com/laurent22/joplin/pull/2582

[2020-03-12 01:36] tessus commented on #2736
So this is a follow-up PR to #2582

[2020-03-12 01:37] Rishgod commented on #2736
Yes, @bedwardly-down, I looked into the function you mentioned, it's for toggling text bold/italics, this is nothing to do with that, it's just about how the text is selected when you press the bold button, look at gif 1 and gif 2, there is no effect on the right-hand side markdown parser, this only changes how the text is selected in the editor after pressing the button

[2020-03-12 01:38] bedwardly-down commented on #2736
Yup. That’s the one.

[2020-03-12 01:38] Rishgod commented on #2736
Yes, I believe it is

[2020-03-12 01:41] bedwardly-down commented on #2736
I’m not a programmer here, so i figured it might not have been the right location. You asked, so I attempted. Ha.

I don’t know if @PackElend is any better at the code side of things but I’m trying to stay back a bit on this part of the project and focus more on helping in other ways like directing to bugs and the more people related stuff. ;)

[2020-03-12 02:16] tessus commented on #2736
@Rishgod I'm not sure, if you saw my mention in https://github.com/laurent22/joplin/pull/2624#issuecomment-597261183. I believe you were looking for issues at one point.

[2020-03-12 02:35] Rishgod commented on #2736
Oh yes thanks for pointing it out, I look into the same!

[2020-03-12 02:59] tessus commented on #2383
If there's no PR open, say you'll work on it and create a PR when ready.

We had so many people who said they'll work on something, but then nothing happened.
So, if you take an issue, please keep us apprised of the status.

[2020-03-12 03:06] Rishgod commented on #2383
hey @tessus I would like to do this issue with the help of clipboardJS library, I will submit you the PR today

[2020-03-12 09:42] laurent22 commented on #2736
That would be a good change I think, the selection should indeed be updated to wrap the text like in your second gif.

[2020-03-12 10:03] laurent22 commented on #2733
Stacktrace:

[code]

Not sure what the issue is and why it seems to happen only on your phone. Basically it's the slider component we are using which tries to set a colour on a sub-component, but it fails because that sub-component doesn't exist.

I'm not familiar with LineageOS - is it possible it's missing some UI components that would be expected in a "standard" Android system?

[2020-03-12 10:12] laurent22 commented on #2733
Reported upstream: https://github.com/react-native-community/react-native-slider/issues/161

[2020-03-12 10:14] hrqmonteiro commented on #2733
@laurent22 any workaround?

[2020-03-12 10:45] letian304 commented on #2677
When I use mermaid,The graph was very very big in android. and always out of the screen.
I want the make the graph smaller,  like rendered in windows.
![image](https://user-images.githubusercontent.com/50763102/76513737-b2249980-6491-11ea-9581-fba2d8578435.png)

![image](https://user-images.githubusercontent.com/50763102/76513457-4b9f7b80-6491-11ea-8755-3c1d11fec8a0.png)

[2020-03-12 10:50] ishantgupta777 opened #2738 "Save and discard dialog has no affect"
Platform: Mobile
OS specifics: No

## Steps to reproduce

1.  Make a new note or edit a note.
2.  Click back arrow key before it gets saved automatically.
3. You will get a dialog that has options of saving and discarding, but clicking discard doesn't discard changes.

## Describe what you expected to happen

I expected either shouldn't have discard options or it should discard changes after I cli

[2020-03-12 10:53] laurent22 commented on #2738
The dialog should be removed and the note saved automatically instead.

This dialog was from it was necessary to manually save the notes, but now it's done automatically.

[2020-03-12 11:01] ishantgupta777 commented on #2738
Okay so I will remove it and add a PR.

[2020-03-12 11:06] michkern commented on #2533
I have found out that in my case it is not a bug, just inexperience - I solved it by issuing my own certificate, made nextcloud use it and then make my iOS trust the certificate and CA. If  there is interest I can post the process.

[2020-03-12 11:18] ishantgupta777 commented on #2715
@PackElend  can you please add gsoc2020 label in this PR.

[2020-03-12 12:31] PackElend commented on #2736
same here I don't find the time necessary to pursue to understand the code

[2020-03-12 12:50] Medi223 commented on #2687
Joplin version: v1.0.193
Platform: Windows 10 1909 18363.693
Hi, I also have a scrolling related bug, but haven't been able to reproduce it. I was switching between Word and Joplin on dual-monitors, but Joplin suddenly started flashing black and white whenever I scrolled before completely going white. It also wouldn't close via the hiddon icon area, and took Task Manager several tries before it co

[2020-03-12 13:14] xplosionmind commented on #2687
@Medi223 it seems to me like an unrelated issue, the thing about Joplin flashing and going white (especially immediately after opening the app) happens occasionally to me, but it goes away alone after a while.

[2020-03-12 13:15] xplosionmind commented on #2687
Btw, I further investigated the issue by opening the app in debug mode, it doesn't seem like an HTML issue: the resolution of the screen in the `<div>` tag is right.

[2020-03-12 13:32] bedwardly-down commented on #2518
Webclipper is backup on Firefox. 5.5.9 also just dropped with the fix not being implemented yet. Grrr

[2020-03-12 13:46] lnicola commented on #2518
@bedwardly-down https://patchwork.kernel.org/patch/11382655/ still shows as "NEW", so it's going to take a while for this to be fixed.

[2020-03-12 14:19] Rishgod commented on #2736
No worries @PackElend

[2020-03-12 14:41] aaronxn opened #2741 "Desktop: No way to scroll notebook list when organizing notes"
Joplin for Desktop, Version 1.0.193 (prod, linux)

When the notebook list is longer than the window and you grab a notebook with the mouse to drag it into a notebook that is not visible (too far down the list), there is no obvious way to scroll down the notebook list without dropping your selected content. In other words, you can't organize your notebooks unless they are visible, because you can't

[2020-03-12 14:52] blackwolf08 opened #2742 "Mobile - Swipe to delete Todos/Notes On Note Screen"
## Environment

OS specifics: React Native

## Steps to reproduce

1. Current Build

## Describe what you expected to happen
It would be a good UX practice to incorporate Swiple To Delete items

## Logfile

[2020-03-12 14:53] coderrsid commented on #2706
@laurent22  I read the conversation in the @Rishgod 's PR. Can i still work on this issue?

[2020-03-12 15:35] hpfmn commented on #2518
did you try this patch? I'm currently building a kernel to try it out :)

[2020-03-12 15:37] bedwardly-down commented on #2518
@lnicola thanks. That’s definitely what I expected. The kernel maintainers take months or even years to implement some of these fixes.

I haven’t yet. I just got notified during work and have been running on a reverted kernel so far, but can’t wait to hear your results.

[2020-03-12 16:20] #2741 closed

[2020-03-12 16:22] aaronxn commented on #2741
I don't know why it didn't work for me. Now it does. I'll try to replicate the bug, and if I do I'll reopen this issue.

[2020-03-12 17:38] laurent22 commented on #2733
Could you try this version? https://github.com/laurent22/joplin-android/releases/download/android-v1.0.321/joplin-v1.0.321.apk

[2020-03-12 17:42] michkern commented on #2533
I have posted my process on the [forums](https://discourse.joplinapp.org/t/nextcloud-webdav-sync-not-working-in-ios-works-in-windows/6788). If @jubeormk1 had the same problem, perhaps the issue can be closed.

[2020-03-12 18:31] Hardik500 commented on #2688
I would like to work on this issue if it's still open.

[2020-03-12 18:35] Hardik500 commented on #2639
I would like to work on this issue if it's still open.

[2020-03-12 18:37] anihm136 commented on #1399
If this hasn't been resolved yet, I'd like to try it. I'm a first time contributor to Joplin. Would this be simple enough for me to start with?

[2020-03-12 19:52] bedwardly-down commented on #2682
I don’t remember this being closed by me but it could have been a fluke or something I didn’t put together properly (I don’t remember), but i had a similar problem with importing here: https://github.com/laurent22/joplin/issues/2481

Any of that similar to what’s happening here, @taw00 ?

[2020-03-12 20:29] hrqmonteiro commented on #2733
@laurent22 yes, i'll try soon as i get home

[2020-03-12 21:07] Aaryan-kapur commented on #876
Can I start working on this for my GSOC 2020 application!

[2020-03-12 22:06] hrqmonteiro commented on #2733
@laurent22 it worked! thanks yall

[2020-03-12 22:06] #2733 closed

[2020-03-13 01:58] #2149 closed

[2020-03-13 03:33] jiangwei618 commented on #2726
@tessus sorry for this problem;
The network is so slow make something wrong in node_modules. I have tried times.
 I built from source for supping plantuml.

[2020-03-13 04:44] CalebJohn commented on #876
Of course, fair warning this is a fairly difficult feature so you may not make any large progress before the application deadline.

[2020-03-13 07:17] serenitatis commented on #2694
I have same issue on my Xiaomi Mi 9.

[2020-03-13 08:13] mic704b commented on #1399
The tags list has already been added to the app, but the tags are not editable.  Implementing the feature should be simple enough, but there is no clear agreed spec on how it should work.

So feel free to have a go, just be prepared for the chance the solution is not accepted.  You could try discussing it first on the forum.

[2020-03-13 11:14] cselti opened #2745 "Android sharing doesn't work (other app --> Joplin)"
## Environment

Joplin version: 1.0.320 (released on 8th of March in Play Store)
Platform: Android
OS specifics: 10 Q, MIUI 11

## Steps to reproduce

1. open an app with share feature (Brave browser, gReader RSS, Simplenote, etc)
2. choose the Joplin from the possible app list
3. Joplin doesn't create a note, just shows the content of the actual notebook/

## Describe what you expected to happen

[2020-03-13 12:32] ishantgupta777 commented on #2745
This is one of the ideas for GSoC-2020.  You can go through the list of ideas and suggest your new ideas in the Joplin forum ( https://discourse.joplinapp.org/ ).
https://joplinapp.org/gsoc2020/ideas.html#4-sharing-on-mobile

[2020-03-13 13:12] tigos2 opened #2746 "Small font size in the left panel of linux appimage."
Since v. 1.0189 (all be good), font in the left panel and subpanel, where is "All notes" and subnotes - is very small. Change theme in Settings not been effect.

## Environment
Joplin version: 1.0.193 (prod,linux)
Platform: Linux Unknown 5.5.8-200.fc31.x86_64 #1 SMP Thu Mar 5 21:28:03 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
OS specifics: Fedora 32 (KDE Spin)

## Steps to reproduce

1.
2.
3.

## De

[2020-03-13 15:43] mdscarrott commented on #485
Searching for the save thing and have the same use case. Lots of docs scanned to Evernote with OCR and need to be able to search them. This is preventing me from switching at present but I will keep an eye on progress. Otherwise looks great.

[2020-03-13 15:52] cselti commented on #2745
it's not a feature request, it's simply a bug. This worked in the previous version.

[2020-03-13 16:27] ishantgupta777 commented on #2745
Thanks for the info, I thought you are talking about that feature. I will look at your topic in the forum.  And also this bug.

[2020-03-13 17:27] Aaryan-kapur commented on #876
@CalebJohn  thank you so much for the opportunity!
could you please assign me!

[2020-03-13 17:47] ambidexi commented on #2454
Same as #2476
The window can be restored as it is just 0 size. Config corruption still occurs occasionally.

[2020-03-13 17:58] bedwardly-down commented on #2745
One thing about this bug is that sharing is currently indefinitely broken on mobile devices. The only functional react native library for this feature has currently been abandoned by its maintainer and no one has stepped up to fix its current issues or updated it to work properly with new react versions.

If anyone here is willing to take the mantle as its maintainer, have at it.

[2020-03-13 18:18] laurent22 commented on #2528
@superfreeman1989, can you replicate this with the latest version 1.0.193?

If it still happens, could you please provide the HTML file that is generated? Also maybe the PDF file but that's harder to inspect.

[2020-03-13 18:24] ishantgupta777 commented on #2745
I would like to help, can you please tell the name of library and help me with the procedures.

[2020-03-13 18:26] laurent22 commented on #2677
Please could any of you post the Mermaid code to replicate this issue?

[2020-03-13 18:27] laurent22 commented on #2677
And does it still happen with the latest Android version?

[2020-03-13 18:34] bedwardly-down commented on #2745
https://discourse.joplinapp.org/t/android-share-and-send-functionality/1898

The share functionality was removed from Joplin but this thread should help you get an idea

[2020-03-13 18:44] #941 closed

[2020-03-13 18:47] ishantgupta777 commented on #2745
I looked at the library and the author. Let me see if I'll be able to help and contribute to it. Thankds for help.

[2020-03-13 18:48] #2631 closed

[2020-03-13 19:03] dpoulton-github commented on #2746
Possibly not a bug. I have found that on laptops with a higher dpi the default interface text size can look a bit small.

Therefore you can use **View** > **Zoom In** or `CTRL` + `=` to increase the font sizes. If you go too far, `CTRL` + `-` reduces it, `CTRL` + `0` sets it back to default.

If you have already set a larger editor font size in settings to compensate you may have to drop it back d

[2020-03-13 19:36] PackElend commented on #2454
any change to save this on cloud storage or other place where versioning is active, so we may see what change caused the corruption

[2020-03-13 19:55] #2701 closed

[2020-03-13 19:58] #2715 closed

[2020-03-13 21:04] bedwardly-down commented on #2745
One thing about it: if it’s fully abandoned and the author is no longer available to transfer permissions of the repo to you, you’ll need to fork it and possibly register the library under a new name on npmjs.org (the main database for all node libraries currently available). I don’t know the steps for doing just that and you’d most likely have to do quite a bit of considerable work and have an ac

[2020-03-13 22:41] #2721 closed

[2020-03-13 22:48] ambidexi commented on #2454
I use Win10 Pro and Docker Desktop. If you can suggest Win settings or docker image that can version a folder rigorously, I will try to reproduce the error.
Also I was still on 1.0.179, now upgrading.

[2020-03-13 23:35] superfreeman1989 commented on #2528
Working properly now

[2020-03-13 23:35] #2528 closed

[2020-03-13 23:36] superfreeman1989 commented on #2709
I keep getting conflicts generated on ios

[2020-03-14 00:59] tessus commented on #2745
This is not a bug. The feature was removed to do the upstream package not working with the react-native version we had to upgrade to.

This will come back eventually.

[2020-03-14 00:59] #2745 closed

[2020-03-14 01:18] JoshDesmond opened #2750 "Tag creation does not support case preservation (Case preservation is supported for imported tags, however)."
Note: This issue has been discussed before, but I believe the discussion was left incomplete. References to past discussions are included

## Issue:
Tags in Joplin are case insensitive, and I am **not** suggesting that be changed. However, support for [case preservation](https://en.wikipedia.org/wiki/Case_preservation) is inconsistent. When tags are imported, case preservation is supported; and th

[2020-03-14 02:52] deftdawg commented on #176
I just found Joplin today and downloaded 1.0.93, was thinking this would be perfect if it had wyswig like vnote... 10 hours later this preview drops, and it's very nice and quite usable.

Here are some adds for your todo-list:

- [ ] Code Blocks - Toolbar button for creating code blocks
- [ ] Code Blocks - Drop down for changing code block syntax (a drop down with all supported syntaxes when the b

[2020-03-14 03:01] dpoulton-github commented on #176
Joplin 1.0.194 Portable (prod, win32)
Revision: 92bee549 (master)
Windows 10 Pro x64 (VM)

Posting here as requested rather than the forum.

This is what I have found after a quick test. I understand that some features have still to be implemented and they may be the reason some of the below was found.

- Does not display existing picture resources, just a "broken image link" icon (works in standa

[2020-03-14 04:53] #1784 closed

[2020-03-14 07:31] Rahulm2310 opened #2751 "The touchable opacity effect should not overflow the add button, new todo & new note buttons"
## Environment

Joplin version: 1.0.322
Platform: Mobile
OS specifics: No

![20200314_125757](https://user-images.githubusercontent.com/54268438/76677383-b23caa80-65f3-11ea-8f09-5b87ad5b0813.gif)

## Describe what you expected to happen
The touchable opacity effect must not have the square overflow on the add, new todo,new note buttons.

I would love to work on this issue.

[2020-03-14 09:09] amitsin6h commented on #2685
Let me check what is causing the issue

[2020-03-14 10:01] #2703 closed

[2020-03-14 10:04] laurent22 commented on #176
It should handle resources. How does your link look like?

That's strange, I've just tried adding a picture and it works fine. Maybe it's the Windows path that's not supported properly yet.

Otherwise, I've added these issues to the list.

[2020-03-14 10:08] xplosionmind opened #2753 "Wrong calendar display in desktop version"
OS: MacOS 10.15.3
App Version: v1.0.194

### BUG DESCRIPTION

When the calendar is opened to select an alarm date and time, this is what I see:

<img width="658" alt="Screenshot" src="https://user-images.githubusercontent.com/42862428/76679816-c7114200-65e3-11ea-9fe8-356fe65245ec.png">

This is happening since I upgraded to version v1.0.189

### IMPROVEMENT

Since I'm here, may I suggest a little

[2020-03-14 10:10] tm50 opened #2754 "youtube's iframe"
Two versions ago, youtube's iframe worked well, now it doesn't
Desktop version

[2020-03-14 10:10] cselti commented on #2745
I hope that will be solved somehow in the future (library update and/or GSoC).
I choose the app downgrade to 1.0.316 version from an alternative play store.
Thanks for your help and quick reply!

[2020-03-14 10:36] b-a0 opened #2755 "Mac minimise keyboard shortcut does not work"
On a Mac there is a keyboard shortcut to minimise a window into the dock. By default the keyboard shortcut is <kbd>⌘</kbd><kbd>M</kbd> and it refers to the menu option `Window -> Minimise`.
Unfortunately this menu option and keyboard shortcut are not available in Joplin and I cannot minimise the window via a keyboard shortcut, only via the the yellow button in the titlebar.

## Environment

Joplin

[2020-03-14 11:02] kimyle opened #2756 "Lose part of notes when sync with Webdav"
## Environment

Joplin version: 1.0.179
Platform: Max OS
OS specifics: Catalina Version 10.15.3

## Steps to reproduce

1. Install Joplin and import ENEX file, there's 369 notes on local.
2. Enabled encryption and input password.
3. Set up sync options(Webdav) and start to sync, it's ok in the beginning.
4. After several hours of sync, I see only 218 notes are left on local. See below Sync status.

[2020-03-14 11:59] PackElend commented on #2454
than let's wait if situation improves

[2020-03-14 12:28] dpoulton-github commented on #176
Apologies for the graphics heavy post...

Joplin 1.0.194 Portable (prod, win32)
Revision: 92bee549 (master)
Windows 10 Pro x64 (VirtualBox VM)

Default new "install". Default notes are the only notes. No customisations. No non-default plugins activated.

In split view picture resource link is OK and picture displays

![1 standard](https://user-images.githubusercontent.com/60117449/76681791-b9ad850

[2020-03-14 16:58] RedDocMD commented on #2754
It doesn't because it has been disabled because of security reasons

[2020-03-14 17:04] RedDocMD commented on #2753
This seems to be a Mac OS X specific problem. On Linux it is:
![image](https://user-images.githubusercontent.com/54888685/76686764-d58f4600-6643-11ea-8b22-a739ce913fd0.png)

[2020-03-14 17:04] RedDocMD commented on #2753
@tessus, can you please confirm?

[2020-03-14 17:20] charlesdaniels opened #2758 "Enabling Encryption Wedges iOS App beyond Usability"
## Environment

Joplin version: 10.0.45
Platform: iOS
OS specifics: iOS 13.3.1 build 17D50 on iPhone SE, model MLMF2LL/A

## Steps to reproduce

This one is tricky, since it may be related to my specific collection of notes / phone combination. I was also not able to re-produce on an up to date iPad Pro 10.5in.

Here is what I did:

1. Enable E2EE on the desktop app as per the instructions
2. Wait

[2020-03-14 17:33] amitsin6h opened #2759 "Mobile: Add note count based on tags on Tags screen"
It will be a great user experience practice to show total notes counts based on tags.

![image](https://user-images.githubusercontent.com/12906090/76687118-e8574a00-6646-11ea-90e9-d0b9f29f028d.png)

## Environment
Joplin version: 1.0.320
Platform: Mobile
OS specifics: No

## Describe what you expected to happen
I expect to show all the notes counts to the right side of the tags so that it can give

[2020-03-14 17:37] amitsin6h commented on #2759
laurent22 let me know your thoughts on this. So, that I can start to work

[2020-03-14 18:05] xplosionmind commented on #2753
@RedDocMD if you watch closely on both sides of your calendar there's a less noticeable difference in your bezels, too. Maybe it could be a display or resolution thing

[2020-03-14 18:15] Rolograaf commented on #2753
![calendarUI_joplin](https://user-images.githubusercontent.com/6130902/76687835-f8abfc80-6627-11ea-9ac2-9799f7b6d592.png)
For your information the UI in Windows 10. However Joplin has never asked me for permission to show me alarms in Windows and it does not work for me.

[2020-03-14 18:23] tessus commented on #2745
I couldn't agree more. It's a key feature that we all want.

But Joplin uses 2 major frameworks: React-native and Electron. Sometimes we keep them stable for as long as possible. e.g. we still used Electron 4, when Electron 7 was out.
But there come a point where we have to upgrade these frameworks.

Unfortunately Facebook does not care about backwards compatibility. So the last react-native upgra

[2020-03-14 19:08] bedwardly-down commented on #2745
I think it’s less about not caring and more about being in a rapidly expanding and changing market with multiple external factors all affecting how much support Facebook and other companies like it can offer to older versions.

Either way, if somebody who’s much smarter than i can either get an alternative going or get the original project working, that would definitely be beneficial to everyone,

[2020-03-14 19:24] tessus commented on #2755
This is not a bug. It's not been implemented. You can use `Cmd+H` or `Cmd+W`.

Please open feature requests on the forum.

[2020-03-14 19:24] #2755 closed

[2020-03-14 19:25] tessus commented on #2754
Yes, this is correct. iframes have been disabled.

However, there's a plugin in development that will allow to add youtube videos to notes. No ETA yet.

[2020-03-14 19:25] #2754 closed

[2020-03-14 19:32] tessus commented on #2753
Yep, something is off. I don't know what though.

[2020-03-14 19:39] tessus commented on #2759
Hmm, I can't say anything about it, because we haven't even established a good note count yet.

IMO it would be better to fix the current count algorithm. See #2006 especially https://github.com/laurent22/joplin/pull/2006#issuecomment-552319524

Also, please do not open gh issues for ideas. We have the forum for that.

[2020-03-14 19:39] #2759 closed

[2020-03-14 21:12] cselti commented on #2745
I understand the problem - the used 3rd library has not been maintained for 2 years and it isn't compatible with the newer react-native version...

Thanks for the information, and I'm really appreciate your efforts of Joplin development. Joplin is such an application that I'm looking for couple years ago :smiley:

[2020-03-14 21:49] johodh commented on #2698
I have the same issue on Linux desktop 1.0.179 and Android 1.0.322. Syncing over Nextcloud. All notes created on mobile appears "encrypted" and is unreadable on desktop (the only right-click option is delete). Notes created on desktop shows as expected on mobile.

- Followed the encryption tutorial
- Sync status -> retry: results in failed items just re-appearing in list
- @Flnch:s workaround does

[2020-03-14 22:33] dpoulton-github commented on #2750
In addition to the stated previous GitHub issues something very similar has also previously been raised on the Joplin forum:

https://discourse.joplinapp.org/t/tags-lower-case-only/4220

[2020-03-14 23:48] szakeetm commented on #2130
This issue is still open. You can't take a photo with the iOs app, which would be extremely important (scanning documents, etc).

[2020-03-15 00:25] tessus commented on #1343
I can't reproduce this anymore. This seems to be fixed.

[2020-03-15 00:25] #1343 closed

[2020-03-15 01:14] amandamcg commented on #176
Joplin 1.0.194 (prod, darwin)
Revision: 92bee54 (master)
Mac 10.14.16

This is awesome! Thanks for working on it. Couple things I saw
### Checklists
- While you can interact with checklists (checking and unchecking), there doesn't seem to be a way to insert checklist items. The only way I could insert was to copy a list of 2 or more and the 2nd one on would be a checklist. Also, entering a line ab

[2020-03-15 01:30] ruivieira opened #2760 "Extra block for inline LaTeX in preview after opening with WYSIWYG editor"
## Environment

Joplin version: 1.0.194 (prod, darwin)
Platform: macOS
OS specifics: 10.15.3

## Steps to reproduce

1. Open an existing note with inline LaTeX in the WYSIWYG editor and then switch back to split layout.

## Describe what you expected to happen

When switching back the split layout, I expected to see an inline equation only as in previous versions. Instead I see an extra block as i

[2020-03-15 02:07] sairajsawant commented on #375
I am interested to work on this during GSOC 2020!

[2020-03-15 02:54] pranavmodx commented on #2689
@laurent22, Please correct me if I am wrong, but I think we can easily create a custom menu bar with the help of this [package](https://www.npmjs.com/package/custom-electron-titlebar).
There is also an example tutorial on it [here](https://ourcodeworld.com/articles/read/938/how-to-create-a-custom-titlebar-inspired-on-visual-studio-code-title-bar-in-electron-framework).

Keeping all other styling i

[2020-03-15 05:57] pranavmodx commented on #2639
Please assign it someone to avoid multiple people working on the same issue. If it is open, I could take this up.

[2020-03-15 08:03] laurent22 commented on #2639
Done

[2020-03-15 08:13] rabeehrz commented on #2639
@laurent22 Urmm, I was still working on this.

[2020-03-15 08:17] laurent22 commented on #2639
Is there someone already working on this though? Please let me know.

[2020-03-15 08:17] rabeehrz commented on #2639
Yeah. I was working on this. 😅

[2020-03-15 08:19] rhysday opened #2761 "After a few seconds Joplin Desktop locks up"
After a few seconds Joplin Desktop locks up, nothing shows when clicking on Notebooks.
Notes will no longer display. Happens after about 10 - 40 seconds of opening Joplin Desktop. This has been happening for a few weeks now. It's literally unusable.

## Environment

Joplin version: 1.0.193
Platform: Linux Manjaro
OS specifics: XFCE4 Desktop Environment

## Steps to reproduce

1. Open Joplin Deskto

[2020-03-15 08:43] laurent22 commented on #2639
Ok I've re-assigned it to you. It's actually a big task so we can also split it if you prefer.

[2020-03-15 08:57] laurent22 opened #2762 "When the editor is in Viewer mode, enable "Open in external editor" menu item"
This item was recently disabled in a pull request, but it should always be enabled in all views.

Forum thread: https://discourse.joplinapp.org/t/external-editor-shortcut-available-in-any-layout-view-mode/6958?u=laurent

[2020-03-15 09:39] rabeehrz commented on #2639
Yeah it is kind of big, that’s why it is taking me some time. But I’ll get it done.

[2020-03-15 09:49] #2700 closed

[2020-03-15 10:13] Hardik500 commented on #2762
I would like to work on this issue.

[2020-03-15 10:13] Rahulm2310 commented on #2762
@laurent22 can you please describe the version of the desktop app.It seem to be working in 1.0.194

[2020-03-15 10:13] #2695 closed

[2020-03-15 10:18] laurent22 commented on #2762
Yes actually because the implementation was so sloppy it sometimes works, sometimes doesn't. For example if you go to the setting, then back to the notes, "Edit in External Editor" is enabled. If you toggle between notes however it is disabled.

For now, let's just make it enabled all the time. It's the item "Edit in External Editor" below:

<img width="732" alt="image" src="https://user-images.gi

[2020-03-15 10:19] #2618 closed

[2020-03-15 11:52] jubeormk1 commented on #2533
My scenario is **exactly the same** if it works for you I am quite confident that with the detailed instructions you add in the forum I should be able to follow that workaround.

Since it is reasonable that a non valid certificate should not be used unless the user knows what is doing maybe is reasonable not add the option Ignore TLS certificate errors. Said so it would be good to have the same op

[2020-03-15 11:52] #2533 closed

[2020-03-15 11:55] #2286 closed

[2020-03-15 12:57] 3sne commented on #2762
@Rahulm2310 Hey there. Bear with me as I am new here :smile:
Since we want `edit:commandStartExternalEditing` to be enabled all the time, should we remove it as a target candidate during `updateMenuItemStates` by removing it as iterable in the for loop, or add it a special condition to set it to `true` on every update event (as you have done)? Wouldn't Approach 1 be cleaner?
@laurent22 What are yo

[2020-03-15 12:58] subaru22b commented on #176
Joplin 1.0.194 Portable (prod, win32)
Revision: 92bee54 (master)
Windows 10 Pro x64

I noticed directory paths and typed markdown add extra backslash (\)

This is from WYSIWYG editor -> Markdown Editor

Directory Paths
C:\ ->  C:\  -- ok
C:\directory -> C:\\directory
C:\directory\file -> C:\\director\\file

Typed Markdown
**joplin** -> \*\*joplin\*\*
*Italic* -> \*Italic\*
# heading1 -> \# heading

[2020-03-15 13:11] pranavmodx commented on #2110
@laurent22 I made the changes. But while committing I'm getting lint error 'Mixed spaces and tabs'. I tried all I could but can't get it resolved. Any idea/suggestions?

[2020-03-15 13:58] kowalskidev commented on #2753
It seems like problem is in "node_modules/react-datetime/css/react-datetime.css". in the class `rdtPrcker` where I changed from `width:40px` to `width:auto` by doing so date picker dialogue adjust its width on any resolution screen. This bug is in **react-datetime** module.

[2020-03-15 13:59] HOLTVENE commented on #2753
There's a less noticeable difference in your bezels, too. Maybe it could be a display or resolution thing,,

[2020-03-15 15:29] anihm136 opened #2766 "Tests fail for master"
Joplin version: 1.0.194
Platform: Linux
OS specifics: Ubuntu 19.10

## Steps to reproduce

1. Clone the Joplin repository
2. Run `npm install`, then `npm run build`
3. Change directory to `CliClient`
4. Run `npm run test`

## Describe what you expected to happen
All tests should pass. I've been having issues passing tests on my fork all morning, so I decided to try it on a fresh clone. 3 of the te

[2020-03-15 15:44] deftdawg commented on #176
- [ ] Table: Column alignment is not retained when files are edited

The following example is a table with columns having centre alignment, it is rendered correctly by the WYSIWYG layout, however if any part of the document changes, the alignment is scrubbed when the document is saved, changing all table columns to left-aligned.

[code]

[2020-03-15 17:25] kowalskidev commented on #2185
same in windows 10. Unable to reproduce. I just checked its working fine!

[2020-03-15 17:41] Rahulm2310 commented on #2762
I don't think brother that completely removing "commandstartexternalediting" from the for loop is better.This is just a temporary fix for the issue so removing something doesn't seem to a good approach to me.Rest all depends on @laurent22 .

[2020-03-15 17:48] Rahulm2310 commented on #2762
@Hardik500 I think you didn't saw that I already linked a PR to fix this issue.This is not the right way of contributing to a open source org.

[2020-03-15 17:57] anihm136 commented on #2762
@Rahulm2310 I was working on it and made a PR, noticed that it was already resolved by your PR afterwards. Now I'm just trying to find out why the tests are failing. No hard feelings?

[2020-03-15 17:59] ishriom53tyagi opened #2768 "OK button Overlapped with Calendar"
## Environment

Joplin version: 1.0.194
Platform: Linux

## Steps to reproduce

1. Go to any notebook
2. click on the alarm icon
3. click on the input field
![Screenshot from 2020-03-16 11-08-52](https://user-images.githubusercontent.com/36675100/76707322-22dae880-6714-11ea-98eb-fb8465211ea7.png)

## Describe what you expected to happen
Ok button should be clearly visible

![Screenshot from 2020-0

[2020-03-15 18:02] Rahulm2310 commented on #2762
Not at all. Just that you should declare when you pickup a issue to work on

[2020-03-15 18:48] Rahulm2310 opened #2770 "Mobile: On the "All Notes" Page, when a note is moved to another notebook, it gets removed from "All Notes" page."
## Environment

Joplin version: 1.0.322
Platform: Mobile

![20200316_000833](https://user-images.githubusercontent.com/54268438/76708256-769d0000-671b-11ea-9d2d-d3e5c4ed1103.gif)

## Steps to reproduce

1. Select a note on the All Notes page.
2. Move it to another notebook.
3. It gets removed from the All Notes page.

## Describe what you expected to happen
The moved note should not remove from th

[2020-03-15 19:53] Rahulm2310 opened #2771 "Mobile: Length of the note title should have a limit."
## Environment

Joplin version: 1.0.322
Platform: Mobile

![Screenshot_2020-03-16-01-16-37](https://user-images.githubusercontent.com/54268438/76709435-b2889300-6724-11ea-8f3d-2117af1f1fdc.png)

![Screenshot_2020-03-16-01-24-09](https://user-images.githubusercontent.com/54268438/76709468-f4b1d480-6724-11ea-9548-7581d63a116d.png)

## Describe what you expected to happen
There should be a limit to t

[2020-03-15 21:11] Perkolator commented on #2197
I'd hate to see this get closed by a bot that only makes a decision based on timeframe.

[2020-03-16 01:17] laurent22 opened #2773 "Save passwords to system keychain"
The current version of Joplin saves the sync passwords to the database. Normally, this is secure as long as the system itself is secure.

However for improved security, the passwords should be saved to the system keychain. This can be done in a cross platform way using https://github.com/atom/node-keytar

The difficulty will be too read and write these passwords in a transparent way from the Setti

[2020-03-16 01:20] Rishgod commented on #2773
Seems like a nice improvement!

[2020-03-16 02:37] mic704b commented on #2770
I think this is resolved on an old PR that was merged recently.

[2020-03-16 02:41] mic704b commented on #2770
Does the problem still exist on the latest master?

[2020-03-16 02:44] mic704b commented on #2766
Please update to latest master and try again.

[2020-03-16 02:46] mic704b commented on #2761
Are there logs in the profile directory?  Eg in '~/.config/joplin-desktop'

[2020-03-16 03:32] darkdebo commented on #1085
Can I get chance to work on it...

[2020-03-16 03:37] Hardik500 commented on #2762
@Rahulm2310 if you noticed I already commented before you, since I am new to this it took me a time to understand what to do. And in between you created a pull request which I didn't notice until I created a pull request.

[2020-03-16 06:22] sinkuu commented on #2771
That would prevent editing notes with long titles synced from Desktop app. What about using ellipsises on the lists?

[2020-03-16 06:26] Rahulm2310 commented on #2770
Yeah it does

[2020-03-16 07:41] msbentley commented on #2059
From my side this would still be a welcome addition to Joplin!

[2020-03-16 07:52] anihm136 commented on #2766
Fixed by latest commit. Thanks!

[2020-03-16 07:52] #2766 closed

[2020-03-16 09:03] kowalskidev commented on #2665
@Rishgod  are you still working on it? would you mind if I work on this issue.

[2020-03-16 10:21] hetanthakkar1 commented on #1818
@tessus  @CalebJohn  can i work on this issue.i see no contributors so i can start right!?

[2020-03-16 10:25] hetanthakkar1 commented on #2684
@laurent22 can i work on this issue? any updates from @ani4aniket  are you working?

[2020-03-16 10:31] hetanthakkar1 commented on #2681
@jerrybuks are you currently working on it whats the status i also want to work

[2020-03-16 10:32] hetanthakkar1 commented on #2409
@na are u working on this currently?

[2020-03-16 10:51] laurent22 commented on #2771
Yes I don't think we'll implement this. It should be done at the backend level, but doing so indeed is very complex as soon as sync is involved. Also it means we should truncate all existing note titles to 60 characters, thus losing user data.

[2020-03-16 10:51] #2771 closed

[2020-03-16 11:54] jerrybuks commented on #2681
No, I'm not

On Mon, Mar 16, 2020 at 11:31 AM hetanthakkar1 <notifications@github.com>
wrote:

[2020-03-16 11:56] Rahulm2310 commented on #2771
Yeah, you are right.My bad

[2020-03-16 12:29] hahagood opened #2778 "cli joplin in vim: message shown as below:"
## Environment

Joplin version: 1.0.179
Platform: cli joplin in terminator of linux
OS specifics: Arch linux

## Steps to reproduce

1. :mknote
2. write something
3. :exit

 Display interface crashes, confusing error message. the message shown as below

Enclosed Exception:
jar:file:~/Jts/jars/jts4launch-979_1583871962000.dat!/trader/common/images/gfis_blue_w47_h16.svg:
The attribute "fill" represe

[2020-03-16 13:09] rabeehrz commented on #2639
The PR for this might be delayed a bit, as I’m in the middle of drafting my proposal.

[2020-03-16 15:20] wwoods opened #2779 "White screen on Arch Linux -- cannot use Joplin"
The old issue was locked (#769), but I also cannot run Joplin on Arch Linux.  The application only shows as a white screen.  Interestingly, maximizing the window renders a single frame, and then it stops updating.  Making the window normal size also renders a single frame.  I can edit options and whatnot this way.  So, the application is running, but it is not usable.

[2020-03-16 15:21] anihm136 commented on #296
I'd like to try this.
My initial thoughts are - add a 'pinned' attribute to the note, and while sorting the note list, process the pinned notes first. This can then be toggled by an option in the note context menu.
Please share your thoughts on this.

[2020-03-16 16:06] anihm136 commented on #2308
If I'm not mistaken, this is done because the matches are highlighted only in the view pane, so searching in editor-only mode would be futile. However, if this is the case, "search in note" could be enabled in view-only mode also without changing the layout.

[2020-03-16 17:32] CalebJohn commented on #1818
@hetanthakkar1  Of course go ahead, no need to get permission.

[2020-03-16 17:44] Nitrodist commented on #1983
IMO, this is a critical feature for Mac OS users.

I'm a developer and I just knew I'd have to go and do this myself in the 'Security & Privacy' panel in System Preferences program, so I'm not the average user for this program certainly. The average user isn't going to have any idea of what to do at first and it'll be hard for them to just 'know' to google the problem and then read through github

[2020-03-16 17:50] anihm136 opened #2780 "Inconsistent local search behavior"
When the layout is set to Viewer-only, "search in note" option (and keyboard shortcut) is disabled in the menu. However, if the search is initiated in a different layout and then switch to Viewer-only mode, local search is still open and works as expected (highlights matches in viewer, able to navigate through matches etc).

This is probably related to #2308

What is the expected behavior here? If

[2020-03-16 18:17] Rakleed opened #2781 "On iOS, the status bar is not displayed correctly when the dark theme is on"
## Environment

Joplin version: 10.0.45
Platform: iOS
OS specifics: 13.3.1

## Steps to reproduce

1. Enable Dark theme and Save
2. Open main screen

## Describe what you expected to happen

On iOS, the status bar is correctly displayed when the dark theme is on.

## Logfile

<details>
<summary>Screenshot</summary>

![IMG_0731](https://user-images.githubusercontent.com/19418601/76788157-6e9c9900-6

[2020-03-16 18:38] tessus commented on #2781
Fix is already in master. Will be available in the next release.

[2020-03-16 21:55] sttrebo opened #2783 "intermittent failure on sync - webdav"
when Joplin syncs thru the normal (auto) every 5 minutes, I get this error:

`2020-03-16 14:43:12: "Req 14:42:48: MKCOL https://webdav.pcloud.com/Apps_Data/Joplin_Data/.sync/ {"headers":{"Authorization":"********","If-None-Match":"JoplinIgnore-58279","User-Agent":"Joplin/1.0"},"timeout":120000,"maxRetry":0}"
2020-03-16 14:43:12: "Res 14:42:48: <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<ht

[2020-03-17 04:33] deftdawg commented on #176
- [ ] Strikethrough is missing from formatting options (text surrounded with `~~` on each side) ~~example~~

[2020-03-17 06:56] prakhar28 commented on #2669
Is the issue still open?

[2020-03-17 07:15] ani4aniket commented on #2684
@hetanthakkar1 feel free to take this up.

[2020-03-17 07:38] Rakleed opened #2787 "In iOS, the Joplin icon has black edges"
## Environment

Joplin version: 10.0.45
Platform: iOS
OS specifics: 13.3.1

## Steps to reproduce

1. Download Joplin
2. Go to the Home screen, where the Joplin icon appeared

## Describe what you expected to happen

In iOS, the Joplin icon at the edges is completely filled with blue.

## Logfile

<details>
<summary>Screenshot</summary>

![B89A2C8E-03D2-4839-89CC-D7C333DBA1E5](https://user-images.

[2020-03-17 08:50] luxintra commented on #2761
Maybe something to do with my sync folder on pCloud?

2020-03-17 18:45:20: "Profile directory: /home/me/.config/joplin-desktop"
2020-03-17 18:45:20: "Trying to load 1 master keys..."
2020-03-17 18:45:20: "Loaded master keys: 1"
2020-03-17 18:45:20: "ResourceFetcher: Auto-add resources: Mode: always"
2020-03-17 18:45:20: "ResourceFetcher: Auto-added resources: 0"
2020-03-17 18:45:20: "Refreshing no

[2020-03-17 09:51] m-angelov commented on #2761
It's very possible that you're hit with issue #2518 .
Which kernel are you using?

[2020-03-17 10:12] Rahulm2310 commented on #2787
@Rakleed this issue has been previously reported -> #2604

[2020-03-17 10:28] Rahulm2310 commented on #2308
Why don't we simply change the layout as soon as search input becomes empty ?

[2020-03-17 10:55] laurent22 commented on #2780
Again something that was disabled but shouldn't have been. Could you check if it works if you revert this commit? 0be982c798222282ab88cf6383ad2d4a56961ad6 If you could test and it works please create a pull request with it.

[2020-03-17 12:20] ALWISH007 commented on #2768
I guess the issue here is resolved.

[2020-03-17 12:21] anihm136 commented on #2780
Just to be clear, is it expected that the display mode changes to split when "search in note" is triggered from viewer-only mode?
If so, reverting the commit solves that problem