[2020-04-13 14:27] Nixellion opened #3045 "Installer removing custom tray icon on each update"
Whenever installing a new Joplin update installer removes current Joplin icon even if it was moved to Tray. Meaning after each update I have to move the icon down to the tray and delete it from the desktop.

Makes updating a bit more annoying than it should be.

[2020-04-13 14:33] jyuvaraj03 opened #3046 "API: PUT method doesn't support all properties that POST method supports for notes"
Some of the [properties of POST method for notes](https://joplinapp.org/api/#properties) (such as body_html, image_data_url, crop_rect, etc) do not work with PUT method.

For example:
[code]
The first command creates a new note with POST method. This method uses the `body_html` property and the note body is properly formatted and saved.

The second command attempts to update the body using the `bo

[2020-04-13 15:00] pcause opened #3047 "blockquote without language is highlighting first word"
I have some plain text.  I put 3 back ticks in the from and end.

[code]

As you can see, Github and others treat this as plaintext if no language is specified.  However, in Joplin 1.2.200 if I don't specify a language in splitview the first word of each line is highlighted.  If I put

as the blockquote then things are treated as just text.  The same issue happens when I use the new WYSIWYG editor

[2020-04-13 15:17] daukadolt commented on #2605
I've had this picture in my mind, please correct me if I'm wrong.
<img width="1136" alt="Screen Shot 2020-04-13 at 21 06 17" src="https://user-images.githubusercontent.com/26189247/79131743-ed84f180-7dca-11ea-9e7b-efd16b1af811.png">

1. Selection button in the "Appearence" tab of the Configuration page.

<img width="1092" alt="Screen Shot 2020-04-13 at 21 06 24" src="https://user-images.githubuser

[2020-04-13 15:20] armaccloud commented on #2968
Thank you @laurent22  I am searching where I can find the logfiles.
Where are they written to?

[2020-04-13 15:21] laurent22 commented on #2968
It should be in `~/.config/joplin-desktop`

[2020-04-13 15:30] armaccloud commented on #2968
Thank you, I already got an error within the console. These were the steps.
Layout = split view, add image
Switch layout to wysiwyg, add text
Switch back to split view, get the error

`
/tmp/.mount_JoplinxLJG56/resources/app.asar/gui/editors/TinyMCE.js:534 loadDocumentAssets: files to load (6) ["css/fork-awesome.min.css", "gui/note-viewer/pluginAssets/highlight.js/atom-one-light.css", "pluginAsset

[2020-04-13 15:36] armaccloud commented on #2968
When I look in the database log, it shows me the following (using a picture, because Github changes the paths somehow)

![image](https://user-images.githubusercontent.com/9272078/79134027-52315380-7dad-11ea-957b-9d22bc2cacdb.png)

[2020-04-13 15:39] armaccloud commented on #2968
And these are from the same time in the log.txt

2020-04-13 17:23:55: "Scheduling sync operation...", "30000"
2020-04-13 17:24:02: "Scheduling sync operation...", "30000"
2020-04-13 17:24:03: "Scheduling sync operation...", "30000"
2020-04-13 17:24:05: "SearchEngine: Updating FTS table..."
2020-04-13 17:24:06: "SearchEngine: Updated FTS table in 105ms. Inserted: 1. Deleted: 0"
2020-04-13 17:24:08:

[2020-04-13 16:25] thomascrisan opened #3048 "Missing Carriage Returns / Line feeds on Layout in Windows"
Starting with version 1.99 on Windows, the layout screen is not displaying carriage returns / line feeds correctly.  It ignores single CR LFs, recognizes double ones, and ignores more than two in a row.

To reproduce, create a new note and try formatting the note with carriage returns.

Screen captures attached.
![2020-04-13_12-11-53](https://user-images.githubusercontent.com/26765643/79137796-619

[2020-04-13 17:06] laurent22 commented on #3039
yes this is fine

[2020-04-13 17:06] #3039 closed

[2020-04-13 17:08] laurent22 commented on #3042
Closed as duplicate

[2020-04-13 17:08] #3042 closed

[2020-04-13 17:09] laurent22 commented on #3043
Closed as duplicate

[2020-04-13 17:09] #3043 closed

[2020-04-13 17:11] laurent22 commented on #3044
Hmm, I don't know, this is a newly created file so it should have the current time as timestamp. Personally I don't like when apps mixes internal dates and file dates, so you end up with files created in 2006 even though you've created them today. If you want to preserve complete note metadata, there's always the RAW format.

[2020-04-13 17:11] #3044 closed

[2020-04-13 17:13] laurent22 commented on #3046
We won't be adding this at this point, as it doesn't appear anybody needs this feature. Also it's possible to achieve this with other means.

[2020-04-13 17:13] #3046 closed

[2020-04-13 17:15] laurent22 commented on #3047
Closed as duplicate

[2020-04-13 17:15] #3047 closed

[2020-04-13 17:16] laurent22 commented on #3048
Do you have "soft break" on in the Plugin options by any chance?

[2020-04-13 18:05] thomascrisan commented on #3048
Yes, turning that off corrected the problem.

[2020-04-13 18:11] #3048 closed

[2020-04-13 18:26] thomascrisan commented on #3048
Apologies for reporting this behavior.  I did not realize the behavior of soft breaks plugin is to not only recognize two spaces as a line break but to also ignore hard breaks.

[2020-04-13 19:03] laurent22 commented on #3048
Yes it reflows the text when soft break is on, perhaps that should be mentioned in the doc.

[2020-04-13 22:04] gerroon commented on #2246
This is how Signal handles it seems

https://github.com/signalapp/Signal-Desktop/commit/1ca0d821078286d5953cf0d598e6b97710f816ef

[2020-04-13 22:35] mic704b commented on #483
Yes, it would be significant effort either way.

I like the idea of your suggestion.  The challenge though is in the range of scenarios. Eg If you delete a single file, how do you represent it in trash?  If you delete a folder, it would move to trash with its contents.  But what about files that were previously deleted from that folder? What if you delete a file, then move its source folder? Witho

[2020-04-13 23:15] Perkolator commented on #483
I don't know the details under the Joplin hood. But quickly thinking about this, if the folder structure is attached to the note, there shouldn't be a problem, right?

Full folder structure and the note in the folder it was deleted from.

All would be shown in the folder structure they were deleted from, before or after a full folder delete, it doesn't matter. Full folder structure in all cases.

[2020-04-13 23:23] #3001 closed

[2020-04-13 23:35] #3033 closed

[2020-04-14 06:01] bedwardly-down commented on #2440
What database backend does your server use? Also, do you have full control over your server? Have you checked to make sure ports are opened correctly?

I just did a quick look at [saber.io](https://saber.io) and didn’t find anything of value to me for this.

[2020-04-14 07:56] riversHYD opened #3050 "bug in multiple words search in Chinese"
## Environment

Joplin version: 1.0.200
Platform: windows
OS specifics: windows 1909

## Steps to reproduce

1. new two notes “你好 再见” and "你好"
2. press F6
3. enter “你好” and find the two notes
4. enter "你好 再见" and still find the two notes, i.e., the multiple words search in Chinese doesn't work.

## Describe what you expected to happen
In step 4, the note "你好" will be removed and the note "你好 再见" w

[2020-04-14 08:09] kowalskidev commented on #2939
To discuss this issue I've created a topic on discourse: https://discourse.joplinapp.org/t/android-joplin-keeps-stopping-while-using-editor-mode/7905

[2020-04-14 08:09] foxmask opened #3051 "French translation "move to notebook""
## Environment

Joplin version: 1.0.200
Platform: linux
OS specifics: debian

## Steps to reproduce

1. select several notes

## Describe what you expected to happen

1. see french labels on the button is in english and when licking on it the popup is also in english

[2020-04-14 08:20] foxmask opened #3052 ""move to notebook" list not sorted in alphabetic order"
## Environment

Joplin version: 1.0.200
Platform: linux
OS specifics: debian

## Steps to reproduce

1.  when moving note to another notebook the popup list is not sorted in alpha order

[2020-04-14 08:26] foxmask opened #3053 "Note rendered is false"
## Environment

Joplin version: 1.0.200
Platform: linux
OS specifics: debian

## Steps to reproduce

1.  select several notes
2. move them to another notebook
3. then you now see the content of the note that was above the one you moved but the rendering of the note is the last one you moved.

I screencasted that behavior https://send.firefox.com/download/c6511b07094956e8/#-AJJAGgdpcl3GIAapwUG6g

[2020-04-14 08:34] Rahulm2310 commented on #3040
@aakashsinghbais  Did this happened with the previous versions also ?

[2020-04-14 09:03] laurent22 commented on #3051
Yes, this and other strings need to be translated.

[2020-04-14 09:03] #3051 closed

[2020-04-14 09:55] kowalskidev commented on #1656
I'm working on it

[2020-04-14 10:00] jyuvaraj03 commented on #2110
I would like to work on this issue. I looked at the closed PR #2613. The way it was implemented in that PR, the changed layout configuration only works when the app is restarted. But, as a user, I would expect the layout to change the moment after I change the layout factor.

If the change has to happen the instant after the layout config is changed, I assume `AppGui.buildUi()` should be called so

[2020-04-14 10:05] aakashsinghbais commented on #3040
@Rahulm2310 I am not sure, will have to check.

[2020-04-14 10:09] coderrsid commented on #3052
Hey @foxmask, thanks for reporting. I just checked again for the error you specified, but i don't see any. You can see in the below GIF it is rendering properly according to the notebooks listed in sidebar.

![Screen-Recording-2020-04-14-at-3](https://user-images.githubusercontent.com/35633575/79212954-02629300-7e66-11ea-943e-6c3252970304.gif)

Can you provide any screenshot or GIF for the problem

[2020-04-14 10:12] foxmask commented on #3052
@coderrsid you can see a screencast I made here https://github.com/laurent22/joplin/issues/3053 when I move note ; you can see "Tech" before "Projet" before "Maison" it looks like sorted in the other side.

[2020-04-14 10:17] coderrsid commented on #3052
Thanks for telling but that link is expired and can i ask why we have two different issues for a similar problem?
![image](https://user-images.githubusercontent.com/35633575/79213513-f1665180-7e66-11ea-8a15-975de77487a3.png)

[2020-04-14 10:19] foxmask commented on #3052
because it's 2 issues ...

[2020-04-14 10:20] coderrsid commented on #3052
![image](https://user-images.githubusercontent.com/35633575/79213859-86694a80-7e67-11ea-8806-7f94e44bb9f4.png)

Although i see there is a sorting issue in here. I'll just fix this ASAP.

[2020-04-14 10:20] foxmask commented on #3052
https://send.firefox.com/download/33e37cab4250e811/#A1PBqx5T9u5cgRh9EUgWyg

[2020-04-14 10:20] foxmask commented on #3053
update the link that will expire in 7days https://send.firefox.com/download/33e37cab4250e811/#A1PBqx5T9u5cgRh9EUgWyg

[2020-04-14 10:22] coderrsid commented on #3052
Great. Now i can see the issue. Thanks for reporting. 😄

[2020-04-14 10:24] coderrsid commented on #3053
Although you can use this link [video-to-gif]( https://www.onlineconverter.com/video-to-gif) and can paste the GIF directly here in the comment box and that will stay for a long time 😄

[2020-04-14 11:20] #2799 closed

[2020-04-14 11:24] coderrsid commented on #3053
i'm not able to understand this.

[2020-04-14 11:57] foxmask commented on #3053
watch the video you will understand

[2020-04-14 13:28] anjulalk opened #3054 "Desktop: Disable syntax highlighting inside Katex code"
When using `<` inside Katex, the editor falsely recognize it as a HTML tag and messes up syntax highlighting. See below:

![image](https://user-images.githubusercontent.com/26695184/79230113-c0dfe100-7e81-11ea-8c90-5d8b2d2d3590.png)

Use following snippet for reproducing:
[code]

## Environment

Joplin version: 1.0.200
Platform: Linux
OS specifics: Ubuntu 19.10 (5.3.0-46-generic)

## Steps to repr

[2020-04-14 13:36] laurent22 commented on #3053
@coderrsid, the problem is that at the end there's a note selected in the list, but the note being displayed is not the one that's selected.

[2020-04-14 13:39] foxmask commented on #3053
at least, instead of selecting the one that we move, the selected note could be one of the current notebook.?

[2020-04-14 14:31] rabeehrz commented on #2605
I was thinking of implementing a dialog with a simple drop-down, like the note properties.

But Laurent had said we need to have a proper dialog framework in place before he accepts any more PR related to it. That's why I've waited on this. I do plan to work on this.

[2020-04-14 15:27] rabeehrz commented on #2853
#2781
Saw this after linking the PR.

[2020-04-14 15:40] qcu commented on #2981
To close this out for anyone else finding this issue, with [cli-v1.0.163](https://joplinapp.org/changelog_cli/#cli-v1-0-163-https-github-com-laurent22-joplin-releases-tag-cli-v1-0-163-2020-04-10t18-31-50z) or later run `joplin e2ee --retry-failed-items decrypt` from the command line.

    $ joplin e2ee --retry-failed-items decrypt
    Starting decryption... Please wait as it may take several minut

[2020-04-14 15:52] kaushalyap opened #3056 "Use quilljs for WYSIWYG editor"
It seems that [WYSIWYG editor feature](https://github.com/laurent22/joplin/issues/176) is not using [Quill](https://github.com/quilljs/quill)

Please use Quill to

- speed up the development (no need to reinvent the wheel)
- improve reliability of the editor (Quill is matured library)

[2020-04-14 16:05] daukadolt commented on #2605
could you help me out with my problems above? If you want, I won't proceed any further with the feature request, but I'd like to learn how to integrate my custom React components.

[2020-04-14 16:13] rabeehrz commented on #2605
If you take a look at the folder gui inside ElectronClient, You can see a lot of .jsx files. Most of them (if not all) are custom components. Let us take ToolbarButton.jsx for example. It takes in some parameters and ultimately generates an anchor tag `<a>`. Then we just export it and use <ToolbarButton> else where. This is somewhat basic.

I think it would really help if you create a Topic in the

[2020-04-14 16:55] tensojka opened #3057 "Encryption specification does not detail the "new" encryption method"
I updated Joplin on Linux today (176 to 200). It suggested I re-encrypt my data:

What is the new encryption method? What was the old method? Should I be worried?

This _should be_ detailed in the [encryption specification](https://joplinapp.org/spec/) or in [about End-To-End Encryption](https://joplinapp.org/e2ee/).

I found the commit 03146ed85f4f6ddb04984cf2559f8ac25c191235 , but it does not de

[2020-04-14 17:18] #2968 closed

[2020-04-14 17:23] deftdawg commented on #176
Progress has been amazing so far!   The tables editing ui is particularly nice 😄

Here's some stuff I found as of Joplin 1.0.200 (prod, darwin) Revision: 142976f (master):

- [ ] Table: Creating a table doesn't render an editable header row though when the document is saved an empty header row is prepended.
- [ ] Table: May wish to show an optional confirmation dialog when deleting a table, row or

[2020-04-14 18:04] virtadpt commented on #3040
It did.

[2020-04-14 18:13] kowalskidev commented on #1656
I was looking for good libraries to create good modal dialogs and found this package: https://github.com/trendmicro-frontend/react-modal
which I think this package is a good candidate for creating password prompt dialog and also package has good design and features

@laurent22  Should I add this package to create prompt dialog ? Or you can suggest a better way to achieve the same.

[2020-04-14 19:12] #2853 closed

[2020-04-14 19:12] #3056 closed

[2020-04-14 19:14] laurent22 commented on #3054
That's probably tricky to fix as it seems to be a bug in Ace Editor itself, but if you have some ideas feel free to give it a try.

[2020-04-14 19:15] laurent22 commented on #3057
It was detailed there https://www.patreon.com/posts/joplin-informal-35719724 and also posted on the forum, but otherwise it's true that the in-app message is quite generic, as it's meant for any type of encryption upgrade.

[2020-04-14 19:15] #3057 closed

[2020-04-14 19:44] kowalskidev commented on #3053
Link expired! can you please try to upload video on google drive OR as @coderrsid said you can use  video-to-gif

[2020-04-14 19:47] tessus commented on #3054
Yep, the Ace editor has a few bugs in that regard. It also highlights italics in the middle of a word (`text_not-italics_text`), which is definitely one of the most annoying bugs ever.

[2020-04-14 19:49] Rishgod commented on #3054
Can't you just escape that letter, to prevent its default behaviour or am I missing something? 🤔

![image](https://user-images.githubusercontent.com/54576074/79267610-1682b080-7eb7-11ea-9b41-0115fb54eba7.png)

[2020-04-14 20:01] #2213 closed

[2020-04-14 20:43] jeremyfreedman opened #3058 "Katex not rendering in PDF export"
## Description
When exporting documents to PDF with Katex present, the Katex portions appear as whitespace.
As an example, the below images are the same note, the first being a screenshot from the Joplin application and the second from my PDF renderer (I tried multiple):
![image](https://user-images.githubusercontent.com/2095570/79271479-dcd98780-7e6d-11ea-9346-98b7b7fe3d5d.png)
![image](https://u

[2020-04-14 21:32] #2781 closed

[2020-04-14 21:37] anjulalk commented on #3054
@Rishgod I guess you can do that. You can also add spaces near the `<` and it will also work. But the regular user won't know about that since it's not really standard in Katex.

If we can process Katex code like how comments are parsed in the Ace editor, we can maybe get the desired result? Katex blocks start with `$$` and end with `$$`. So if anything between can be considered as a comment (like

[2020-04-14 21:52] Rishgod commented on #3054
Don't get me wrong you definitely can do that, but this looks too much of a work for something which could just be solved by adding a white-space.

![image](https://user-images.githubusercontent.com/54576074/79277914-5c944000-7ec8-11ea-8245-8beae44a2012.png)

[2020-04-14 21:58] laurent22 commented on #3054
The problem is that `$$` as a fence is not standard Markdown so Ace Editor highlights the block as if it was just any other text.

At some point Devon added custom rules to override syntax highlighting there https://github.com/laurent22/joplin/blob/c5c379f38a4a302be5a4659461d2f3d9be027461/ElectronClient/gui/NoteText.jsx#L58 so maybe it's possible to do something similar to handle Katex blocks.

[2020-04-14 22:06] anjulalk commented on #3054
It looks pretty straight forward. I'll give this one a go.
https://cloud9-sdk.readme.io/docs/highlighting-rules is a good reference if anyone else wants to try.

[2020-04-14 22:31] laurent22 commented on #2939
@devonzuegel, just to let you know this is why I haven't made an announcement for the new text editor yet, but it's available on Android and iOS. I'll wait till this bug is fixed, hopefully it's just a matter of upgrading React Native.

[2020-04-14 22:38] laurent22 commented on #3058
Please provide a full note that can be used to replicate the bug.

[2020-04-14 22:51] tessus commented on #3058
I can't reproduce this, but I'm on macOS. Here's a test file:

[code]

However, for some reason the matrix looks like this in the PDF:

<img width="128" alt="image" src="https://user-images.githubusercontent.com/223439/79281468-c5f06080-7e80-11ea-9b94-4ba62a1ee5de.png">

while in Joplin it looks perfectly fine:

<img width="91" alt="image" src="https://user-images.githubusercontent.com/223439/7928

[2020-04-14 22:58] #3058 closed

[2020-04-14 23:02] tessus commented on #3052
@coderrsid btw, the cursor looks really weird in the dialog:

![mtnb](https://user-images.githubusercontent.com/223439/79282073-42377380-7e82-11ea-952a-f6b96b3317cb.gif)

Maybe, because it doesn't blink. It only starts blinking when you pick a folder.

[2020-04-14 23:19] jeremyfreedman commented on #3058
Github wouldn't take an .md file, I had to rename to .txt. I included the Joplin-produced PDF as well, which is missing Katex rendering.

[Test Katex.md](https://github.com/laurent22/joplin/files/4478253/Test.Katex.txt)
[ENGRD 2300 - Test Katex.pdf](https://github.com/laurent22/joplin/files/4478256/ENGRD.2300.-.Test.Katex.pdf)

[2020-04-14 23:34] laurent22 opened #3059 "Certain important warnings should be displayed in sync status screen"
In particular

A yellow notification box should be displayed in this case and the message added to the status screen.

More info https://discourse.joplinapp.org/t/issue-syncing-tags-some-notes-folders-between-mac-and-ios/7607/4?u=laurent

[2020-04-14 23:46] Rishgod commented on #3059
I'll look into it

[2020-04-15 00:09] rsramkis opened #3060 "After enabling encryption on Linux desktop the syncronization fails with "Error: The maximum request length supported is 4mb"
When enabling encryption on a Linux Manjaro 19 desktop I am getting the following error when trying  to sync to ONEDRIVE.

"Error: The maximum request length supported is 4mb"

I did see this error on in the FAQ, but I don't believe I have any attachments of this size.

**To Troubleshoot:**

(1) I disabled encryption and confirned the syncronization would complete.

(2) Enable Encryption with a ne

[2020-04-15 03:26] kaushalyap commented on #3056
@laurent22 May I ask why do not you use Quill?

[2020-04-15 06:44] foxmask commented on #3053
![joplin-move-bug](https://user-images.githubusercontent.com/208212/79306305-451f7c00-7ef5-11ea-953a-1d4dbf5c17ae.gif)

[2020-04-15 08:35] laurent22 commented on #3060
This is a limit of OneDrive

[2020-04-15 08:35] #3060 closed

[2020-04-15 10:21] coderrsid commented on #3053
So as much as i can understand this.. you're saying that for example whenever you move some notes from notebook `B` to a notebook `A`, it should open that notebook `A` instead of showing remaining notes from notebook `B`, right?

[2020-04-15 10:26] foxmask commented on #3053
Joplin does the right thing by selecting the remaining note from the notebook B.
The issue is to render THAT note properly instead of rendering the note I moved to nootebook A.
What do you think ?

[2020-04-15 10:30] coderrsid commented on #3052
Thanks @tessus . I'll look into this too.

[2020-04-15 10:52] laurent22 commented on #3056
There are dozens of editors. If you think Quill is good, the best is to integrate it to Joplin, provide a proof of concept, and show how it is better than other editors.

Otherwise we can all say editor x or y is better, they all have nice looking demos, but that means nothing if you don't look at how it can be integrated, what API they provide, what's user support like, how well maintained it is,

[2020-04-15 13:08] coderrsid commented on #3053
Ohh sure sure. Huh.. it took time to understand.. sorry. Now i know the issue perfectly. I'll start working on this right away.

[2020-04-15 13:10] foxmask commented on #3053
no problem :) take your time

[2020-04-15 13:40] fear-the-beaver commented on #2396
I've recently updated Joplin to:

`Joplin 1.0.200 (prod, darwin)
Client ID: 3468ebd5b3a6457fb6e7bd01427d3719
Sync Version: 1
Profile Version: 28
Revision: 142976f (master)`

Mac OS version:
`10.15.3 (19D76)`

After the restart the app screen appeared normally.

[2020-04-15 13:40] #2396 closed

[2020-04-15 13:55] Rakleed commented on #2570
The problem is still not resolved.

[2020-04-15 13:56] rabeehrz commented on #2570
I'll give it a shot.

[2020-04-15 13:57] Perkolator commented on #1642
Still relevant.

[2020-04-15 14:13] dbogdanov commented on #2389
Not stale.

[2020-04-15 14:23] luriomer commented on #310
For me it still happens:

[2020-04-15 14:38] laurent22 commented on #3059
Please make sure to look at the method `renderNotification()` in MainScreen.jsx as this should be implemented in a similar way. I think the difficulty will be how to bubble up this particular log message to the UI, without creating a hard dependency between the synchronizer and the UI.

[2020-04-15 14:39] sunjam commented on #468
Open please.

[2020-04-15 14:40] da2x commented on #2359
It’s still a problem with the most recent version.

[2020-04-15 14:42] ruben-mar commented on #2460
The issue persisted for version 1.0.179. It is not happening with version 1.0.193.

[2020-04-15 14:43] domoenergytics commented on #716
I'm still waiting for these features...

[2020-04-15 15:13] Rishgod commented on #3059
Alright, sir, thank you for the additional info, I'll keep that in mind and get this done!

[2020-04-15 15:43] kowalskidev commented on #3036
Is your issue is same as I reported here: https://discourse.joplinapp.org/t/android-joplin-keeps-stopping-while-using-editor-mode/7905 ? If so this bug is already reported here: https://github.com/laurent22/joplin/issues/2939

[2020-04-15 15:52] nomatica commented on #468
I am still interested in this feature. Ideally there might be a quick add  in the joplin app, that would allow me to choose a way to capture something quickly in both web and app.
1) Text 2) audio 3) video 4) other???

[2020-04-15 15:54] #1168 closed

[2020-04-15 15:55] nshtg commented on #2306
This issue is still existing.

[2020-04-15 16:06] shartf commented on #2354
No improvement as of Joplin 1.0.200 - OneDrive sync is still not functional.

[2020-04-15 16:38] dbogdanov commented on #2315
Not stale

[2020-04-15 16:40] IllyaYalovyy commented on #2424
Thank you for asking. This issue made the application completely unusable for me. I like the application and I don't see a good alternative at the moment. So I decided to give up on encryption.

Most likely the problem still exist, I experiences the same crash behavior on multiple smart phones and tablets.

[2020-04-15 17:33] coderrsid commented on #2595
@laurent22 is this still an issue?

[2020-04-15 17:33] roman-r-m commented on #3036
Not quite as it does not crash in my case but I suspect the underlying issue might be the same or closely related.

[2020-04-15 17:36] XTerminatorGR commented on #2595
@coderrsid Unfortunately yes....

[2020-04-15 17:48] archont00 commented on #732
The layout have changed in the meantime:
- The Preview does not have the option to modify text formatting anymore.
- The WYSIWYG editor works as expected.
Closing the issue as invalid now.

[2020-04-15 17:48] #732 closed

[2020-04-15 17:52] coderrsid commented on #2595
Ohh.. i'll look what i can do.

[2020-04-15 17:59] deftdawg commented on #2287
Still an issue

[2020-04-15 18:05] virtadpt commented on #2359
The problem seems to be in an upstream JS library.  There's a thread on the forums about it.

tl;dr - Android is a no-go until that gets fixed.

[2020-04-15 18:59] Babber commented on #2373
Apparently, it happens elsewhere too: https://github.com/laurent22/joplin/issues/310#issuecomment-614070792 I think, this is a separate issue, but it would probably manifest less frequently, if #310 was solved. Nevertheless, I still think, that this is a bug, and it shouldn't happen however frequently we save and sync.

[2020-04-15 19:09] bravosierramike commented on #2853
Why is this "dark theme bug" closed? Will this be fixed in the next version (using now 10.0.47)?

[2020-04-15 19:28] kowalskidev commented on #3036
here you specifically mentioned ` SwiftKey autocomplete` I think this issue might be related to your keyboard features because I unable to reproduce this bug in my phone (I'm using default Google Keyboard though) can you please try to reproduce this bug using your system default keyboard?

[2020-04-15 19:51] roman-r-m commented on #3036
I could but what's the point? Even if this was fixed the editor is still completely broken on Android (I refer to the other issues where it crashes the app with ArrayIndexOutOfBounds or something like that).

[2020-04-15 20:38] Neurogami commented on #2287
I'm not seeing this anymore.   Can't find anyplace in the app to know what version I'm using, but I assume it's the latest.

[2020-04-16 00:02] walkie commented on #2960
I think there is some confusion in this issue thread.

The original report by @Tycholiz is that *after* going to a file via "goto anything", the *note* is not in focus. This seems to actually be independent of the editing mode, and I see the same issue on Linux.

The issue reported by @3ter is that the goto search bar is not in focus after hitting `ctrl+g` in some situations.

[2020-04-16 00:36] walkie opened #3066 "Focus on note body after "Goto Anything" or "Toggle editor layout""
## Rationale

I'd like to use Joplin while using the mouse as little as possible. The current focus behavior makes this difficult.

## For Ctrl-G (Goto Anything)

### Expected / Desired

If I'm in an "editing" layout already, here's what I'd like:

1. `ctrl-g` + type note name + `enter`
2. Start editing the note

### Currently

1. `ctrl-g` + type note name + `enter`
2. Use mouse to click in note b

[2020-04-16 03:27] qijianjun commented on #2299
Hi, the problem stays unresolved until the latest version.

[2020-04-16 03:29] deftdawg commented on #2287
@Neurogami scroll to the bottom of the configuration screen to find the Android app version.  1.0327 is the lastest I have released Apr 10.

Click edit on any document longer than the screen, it will open the document for editing at the top of the document however as soon as you tap into the edit text box to bring up the keyboard you get scrolled all the way to the bottom.

[2020-04-16 03:37] Neurogami commented on #2287
version 1.0.327
databse v28
fts enabled : 1

And you're right.  I had clicked on the edit button, and the view stays at the top, but I hadn't actually wanted to edit anything.  I see now that when I tap again to edit at the top I suddenly get super-scrolled to the bottom.  : (

Thanks for getting me to recheck this.

Bug still exists.

[2020-04-16 05:49] rabeehrz commented on #2098
Couldn't replicate this on Joplin 10.0.47, on iPhone 8 running iOS 13.3
It might be fixed.

[2020-04-16 07:43] laurent22 commented on #3066
Note that you can always press Ctrl+Shift+N or +B to focus the note title or body.

[2020-04-16 09:54] axq opened #3067 "Rendered URL link truncated"
Joplin truncates a URL in the link in the rendered view.

URL:
https://ourworldindata.org/grapher/covid-deaths-days-since-per-million?zoomToSelection=true&time=9..&country=FRA+DEU+ITA+ESP+GBR+USA+CAN

Rendered link goes to:
https://ourworldindata.org/grapher/covid-deaths-days-since-per-million?zoomToSelection=true&time=9

I believe this is a regression in Joplin 1.0.200 (prod, win32), or 1.0.199 w

[2020-04-16 11:19] coderrsid commented on #3053
I tried it on my OS. It's not an issue i see. In my case, the note which is rendered is the note which is left but not the one which i moved.
**OS: macOS**

### Joplin Version
![image](https://user-images.githubusercontent.com/35633575/79449741-67062500-8001-11ea-9003-5b3d35741fff.png)

### Here you see i have 4 notes and after moving the remaining notes to another notebook, the note which is rend

[2020-04-16 11:28] coderrsid commented on #3052
@foxmask Can you add the GIF here too please. Unfortunately, the last one is removed again. 😄

[2020-04-16 11:31] coderrsid commented on #3052
And one more thing i want to ask is that the order of notebooks shown in your sidebar is perfectly right, the way it should be?

[2020-04-16 11:34] foxmask commented on #3052
yes the order in the right sidebar is the right one.

here is the gif
![joplin-move-bug](https://user-images.githubusercontent.com/208212/79451535-fc47f000-7fe6-11ea-9d91-c6298ef6590b.gif)

[2020-04-16 11:36] foxmask commented on #3053
so it looks like to be linux related, is n't it ?

[2020-04-16 11:41] coderrsid commented on #3053
Maybe, laurent can you provide any insight?

[2020-04-16 11:42] coderrsid commented on #3052
Thanks! I'll see what i can do.

[2020-04-16 12:05] NadineNB opened #3068 "Android tablet: encryption password "save" button doesn't work"
## Environment

Joplin version: 1.0.327
Platform: Andoid
OS specifics: Android 4.4.2

## Steps to reproduce

1. Follow steps 1-5 here: https://joplinapp.org/e2ee/

## Describe what you expected to happen

I managed to successfully synchronize my Dropbox account with the Android app on my smartphone (Android version 5.0.1) , but on my tablet (Android 4.4.2), I cannot get the encryption password sav

[2020-04-16 12:08] Rahulm2310 commented on #3067
I will look on it.

[2020-04-16 12:17] foxmask commented on #3053
1.0.201 seems to have fixed that behavior
I don't have the issue at all now

[2020-04-16 13:27] coderrsid commented on #3053
Great to hear that.

[2020-04-16 13:27] coderrsid commented on #3053
@laurent22 you can close this issue.

[2020-04-16 13:28] denevin opened #3070 "Joplin Icon Unpinned From Taskbar On Upgrade"
Joplin Windows 10 taskbar icon is unpinned each time the application is upgraded to latest version.

This becomes cumbersome for frequent user of application as often it's simple to forget to pin it back to taskbar and having to look for the program in system tray.

## Environment

Joplin version: 1.0.200
Platform: Windows 10
OS specifics: None

## Steps to reproduce
1. Install older version of Jo

[2020-04-16 13:34] Rishgod commented on #3067
This looks like a `markdown-it` problem, I tried to paste the link in their demo site and it did not render too, although in `showdownJS` it renders properly  @laurent22 any thoughts?

![image](https://user-images.githubusercontent.com/54576074/79462162-c883bf00-8014-11ea-991e-7cb9da401e42.png)

![image](https://user-images.githubusercontent.com/54576074/79462417-139dd200-8015-11ea-8390-8ee6449166

[2020-04-16 14:12] kowalskidev commented on #3010
I'm working on it

[2020-04-16 15:57] Rahulm2310 commented on #2920
Yeah, I also feel it would be better if user could browse the file path

[2020-04-16 17:07] Rahulm2310 commented on #2595
@coderrsid I am already working on it, so could you please look on some other issue

[2020-04-16 17:12] armaccloud commented on #2968
@laurent22 Great work Laurent, thanks!

[2020-04-16 17:16] Rahulm2310 commented on #3040
@aakashsinghbais  can't replicate. If possible, please provide a GIF.

[2020-04-16 17:41] laurent22 commented on #3067
Sounds like a bug in markdown-it, since "." is a valid URL character. Maybe report this on their repo?

[2020-04-16 17:45] coderrsid commented on #2595
Although @Rahulm2310  i'll suggest you to discuss the feature on the Discourse forum as it will increase the understanding of the feature for you and the community better.

[2020-04-16 17:50] Rahulm2310 commented on #3067
I think @Rishgod has already reported it on their repo

[2020-04-16 20:13] walkie commented on #3066
Good to know, thanks! I still think it would be nice to change the default focus behavior, but this definitely eases my immediate problem.

[2020-04-16 21:08] superfreeman1989 opened #3071 "Intrusive update prompt"
Update prompt is too intrusive. Kicks me out of full screen applications like in the middle of a meeting or gaming. Suggest using windows native notification.

[2020-04-16 21:10] superfreeman1989 commented on #2524
Still relevant.

[2020-04-16 21:29] #3071 closed

[2020-04-16 22:01] laurent22 commented on #3067
@Rishgod, thanks for reporting it over there, but please could you also post the URL? With the screenshots they can't test anything, but the url would be a lot more useful.

[2020-04-16 22:03] laurent22 commented on #3053
Hmm ok, I don't know what was changed in that version related to this. If it happens again please let me know.

[2020-04-16 22:03] #3053 closed

[2020-04-16 22:35] #2798 closed

[2020-04-16 22:45] Tycholiz commented on #2960
@walkie yes good point. I actually did this thread a disservice by including the "turn on vim" step in the reproduce steps. I didn't intend to imply that it was part of the bug, more of the steps I took to encounter the bug.

[2020-04-16 22:55] SkyWheel opened #3072 "[Feature Request] Option to change Editor/View to View/Editor layout"
Hi folks,
Is it possible to toggle Editor/View layout to View/Editor layout?
Currently only 3 modes available:
- Editor Only
- View only
- Editor(left)/View(right)
It would be really nice to have 4th option:
- View(left)/Editor(right) layout
Thanks.

[2020-04-17 00:29] blueorignal opened #3073 "Joplin fails to remember window state on Ubuntu Linux when application is closed"
When Joplin is initially launched, it opens up with a non-maximized window that is half-way up the screen. If Joplin is then manually maximized, or the window is resized, everything works as expected. When Joplin is closed and re-opened, it fails to remember the prior state of the main window and opens with the original window setting on each launch.

## Environment

Joplin version: Joplin 1.0.119

[2020-04-17 02:48] codyburleson opened #3074 "Export to PDF does not work while in WYSIWYG Editor (TinyMCE: unsupported Joplin command)"
## Environment

Joplin version: 1.0.21
Platform: Windows 10 Pro
OS specifics: 64bit

## Steps to reproduce

1. Click the Layout button until you are in the pure WYSIWYG editor with a good amount of content within it.
2. Select File > Export > PDF File. Nothing happens.
3. Now go to the Editor/Viewer split view and you can export to PDF just fine.

## Describe what you expected to happen

I expect

[2020-04-17 03:24] bedwardly-down commented on #2939
![EED14E68-834D-4A02-8188-CDA75E867270](https://user-images.githubusercontent.com/59133880/79528821-a304ae80-8030-11ea-85ac-1cffcbba2d99.jpeg)

Here’s my log from it crashing on my Android phone but it happens while editing a note with multiple images and for some reason, a third of the screen is just a black bar that can be typed into.

[2020-04-17 05:02] Rahulm2310 commented on #3073
@blueorignal I think this issue is already reported here #2185

[2020-04-17 05:34] laurent22 commented on #3074
All unsupported commands are a known issue, they'll be supported at some point

[2020-04-17 05:34] #3074 closed

[2020-04-17 06:39] kowalskidev commented on #2939
We are not sure yet! But now as you are saying it's not happening in your iPhone looks like it's working fine in iOS.  As Laurent said this issue is related react-native hopefully upgrading react-native version would solve this issue.

[2020-04-17 06:56] rabeehrz commented on #3072
It seems like a really good addition, but some discussion needs to be done on the forums before opening up an issue here. There are multiple [topics](https://discourse.joplinapp.org/t/feature-request-a-split-view-option-to-switch-sides-around/5259) on the forums asking for the same.

[2020-04-17 07:01] rabeehrz commented on #3066
I'll look into this.

[2020-04-17 07:18] dttsou commented on #3041
I have this issue as well, using MIUI 10 eu 8.7.12, on a Xiaomi MiMix2s. I wanted to roll back to the latest version that didn't have this issue, and found that joplin-android version 1.0.324.apk works, but **1.0.325**.apk and newer stops working and shows a blank editing screen.

[2020-04-17 09:48] tanhao8 commented on #2684
大家好，由于UIWebView已过时，我无法将自己的应用提交到应用商店。请问有解决方案吗？

[2020-04-17 09:49] tanhao8 commented on #2684
Hello, I can't submit my app to the store because uiwebview is out of date. Is there a solution?

[2020-04-17 09:50] tanhao8 opened #3076 "Hello, I can't submit my app to the store because uiwebview is out of date. Is there a solution?"
Hello, I can't submit my app to the store because uiwebview is out of date. Is there a solution?

[2020-04-17 10:37] tanhao8 commented on #3076
Help me，thank you

[2020-04-17 10:57] #3076 closed

[2020-04-17 11:30] Rishgod commented on #3067
Noted.

[2020-04-17 12:05] axq commented on #3067
For reference, reported under https://github.com/markdown-it/markdown-it/issues/661

[2020-04-17 12:20] pwinckles commented on #2518
As a new, now-ex, linux Joplin user, I no longer have a dog in this race, but here's my feedback for what it's worth.

This was a surreal ticket to read. Here's my breakdown.

Problem: Joplin sporadically freezes when running on linux Kernel 5.5.

Potential causes:

1. There's a bug in the kernel that is breaking Joplin/Electron/Node.
1. There's a bug in Electron/Node that was exposed by a kernel

[2020-04-17 12:23] vladimiry commented on #2518
This is what was happening with Dart dev tools stuff. I was not yet able to find the similar big placed in Node's issue tracker.

[2020-04-17 13:08] #3040 closed

[2020-04-17 13:09] aakashsinghbais commented on #3040
Even I can't replicate it now!

[2020-04-17 14:30] nshtg commented on #2518
This issue affects kernel 5.6 aswell.

[2020-04-17 15:09] hexclover opened #3078 "Math font in exported PDF is different from that in the preview"
Starting from as late as Joplin 1.0.199, the math font in exported PDF is no longer KaTeX-Main. Version 1.0.193 is fine.

On my system the font becomes Tinos, and if I remove Tinos I get Liberation Serif.

![tinos](https://user-images.githubusercontent.com/47456195/79583198-5fc54100-80ff-11ea-9ece-9f0c2c659556.png)

## Environment

Joplin version: 1.0.201
Platform: Linux
OS specifics: Arch Linux

[2020-04-17 15:27] bedwardly-down commented on #2518
@pwinckles, very interesting and well thought out proposition. I can definitely see that, but also think it could be that the underlying issues with Electron and Dart could have been designed that way to compensate for the Linux kernel’s own problematic code.

The changed code was deliberately done as such with the simple reason being that the previous implementation was unnecessary. For some reas

[2020-04-17 15:48] codyburleson commented on #3074
Cool. It's not a problem at all, of course (simple enough to print from where we know it works); was just letting you know; just in case. Thanks!

[2020-04-17 17:16] Datamance opened #3080 "CLI: External markdown links not showing properly in preview"
Version: joplin 1.0.163 (prod)
System: Darwin myhost.local 19.4.0 Darwin Kernel Version 19.4.0: Wed Mar  4 22:28:40 PST 2020; root:xnu-6153.101.6~15/RELEASE_X86_64 x86_64
OS: Mac OS X Catalina

Here's the markdown:
![image](https://user-images.githubusercontent.com/8699411/79595775-7347bc00-80ad-11ea-99dd-eb4ba6baa77c.png)

And here's the link that shows up in preview:

![image](https://user-image

[2020-04-17 21:35] nr458h commented on #15
pst go away Mr Stale.
@laurent22 probably we could tag this if this is still a desirable feature ;)

[2020-04-17 22:55] tessus commented on #3078
I've noticed something similar a while back and wanted to open an issue for it. You beat me to it.

The following:

[code]

results in the following PDF ([Katex - Export to PDF.pdf](https://github.com/laurent22/joplin/files/4495585/Katex.-.Export.to.PDF.pdf)):

<img width="252" alt="image" src="https://user-images.githubusercontent.com/223439/79282710-dc4beb80-7e83-11ea-81a0-770669c3a4fc.png">

Ma

[2020-04-17 23:05] laurent22 commented on #3080
It's a feature - the link is shortened to take less space.

[2020-04-17 23:05] #3080 closed

[2020-04-17 23:25] laurent22 commented on #3010
Yes this dir can be skipped as we only need profile related data. Unfortunately config and app state is a bit mixed up in the profile directory.

[2020-04-18 00:30] tessus commented on #1728
@laurent22 as soon as I have your input on

- https://github.com/laurent22/joplin/issues/1728#issuecomment-543017735
- https://github.com/laurent22/joplin/issues/1728#issuecomment-543084316

I can start working on it.

[2020-04-18 00:44] cayenne17 commented on #2511
Hello, the problem is still present even with the latest version (1.0.327)

[2020-04-18 01:36] Namdrib commented on #3041
To add to this, it isn't 37 lines speficially for me - it seems to vary by content. For example having lines with just numbers and no checkbox gets me to 27, with the 28th causing the text to appear invisble

If I go into landscape mode, the editor text appears, but in light theme. Once I rotate back into portrait the text disappears again

This is with version 1.0.327 on a Samsung galaxy s7 runni

[2020-04-18 03:56] igoryen commented on #3041
I am experiencing this bug when I try to add a 25th line on my Android phone.
1. I make 24 lines (numbers 1-24 on each line).
2. A click on Enter to make line 25 makes all the text disappear.
However it seems that the font color becomes transparent or the same as the background, because the cursor can still be placed on those lines, but the text seems to be invisible.
**My specs:**
**Phone model**

[2020-04-18 05:36] kowalskidev commented on #3010
Alright then! I'll come up with PR soon.

[2020-04-18 06:41] ddtuan99 commented on #3078
I have same issue on Joplin 1.0.201 (Debian 10).

[2020-04-18 07:19] JunkyardCat commented on #2331
hi is anyone working on this?

[2020-04-18 07:22] Rishgod commented on #2331
@JunkyardCat it does not look like it, but I'll take a look and see what I can do :)

[2020-04-18 07:46] 38569459 commented on #3068
I workaround it by pressing ok button in the keyboard, then click save. If it not work, try several times.

[2020-04-18 08:44] coderrsid commented on #3072
Although like how will it be useful anyway. As much as i know it's like a standard way of rendering anything to it's right-side.

[2020-04-18 08:45] kowalskidev commented on #3078
I'm working on it

[2020-04-18 08:45] coderrsid commented on #3070
Does this happen only with joplin or all apps ?

[2020-04-18 09:10] 38569459 opened #3083 "Can't edit stylesheet"
I can't edit stylesheet to change UI text size.

## Environment

Joplin version: 1.0.201
Platform: Linux
OS specifics: i3wm

## Steps to reproduce

1. Ctrl+Comma
2. Click Appearance tab
3. Click Show Advanced Settings
4. Click Edit

## Describe what you expected to happen

Can edit stylesheet

## Logfile

[2020-04-18 09:14] coderrsid commented on #3052
@laurent22  Will it be right if i change the way how `Folder.allAsTree( )` returns the folders tree in a sorted way instead of just rendering parent and children together but also sort them or instead i should just make them sort for the `moveToNotebook` . I believe it will be helpful in future use cases.

[2020-04-18 10:59] bimac commented on #2890
I seem to have the same issue with my iPhone.

Sync status on both Linux and Windows Clients:

On iOS:

[2020-04-18 11:09] coderrsid commented on #3052
@tessus In my case, the cursor is working as expected. Although if it is an issue, it should be in all the dialog boxes using `inputType: 'dropdown'` . Can you check the cursor in the dialog box of `Create note from Template` or `Create to-do from template` or `Insert Template`
![Screen-Recording-2020-04-18-at-4 (2)](https://user-images.githubusercontent.com/35633575/79636062-ad3ebe00-8192-11ea-9f

[2020-04-18 11:18] coderrsid commented on #3083
Where does it open the `userstyle.css` file after clicking `Edit`? In a browser?  Because in my case (macOS), it opens the file in Safari web-browser.

[2020-04-18 11:19] Perkolator commented on #1731
Stale bot more aggressive now? (45 days) I still don't understand why open issues are aggressively closed down here. Like I wrote in somewhere, I bet that developers who are seeking to contribute are not going to check closed issues.

[2020-04-18 11:25] PackElend commented on #1731
@Perkolator  stale does not mean closed :wink:

[2020-04-18 11:28] edrich49 commented on #2647
I still have this problem. Any more ideas, anyone, please?

[2020-04-18 11:42] laurent22 commented on #1731
We can label issues as "backlog" or "high" and they won't be closed. The rational is that 45 days is enough to decide whether we'd like to do something about issues or not. If no-one labels it within 45 days and there's no activity it means it's not important enough to keep it open, or we don't have the resources to deal with it.

If it is really important it will come up again anyway (someone wil

[2020-04-18 12:38] digitalillusions commented on #1168
Just commenting because I stumbled on this feature request and it doesn't seem to be implemented. Also the bot appears to have closed the issue.

[2020-04-18 13:56] Perkolator commented on #1731
I got a BSOD (haven't seen those in many many years) as I was writing a reply, lost a bit of text.

The picture I have got tells quite the opposite. Several times 45 days (or even more) hasn't been enough for anybody to react, and the issues have been perfectly valid. Also I personally have the experience that labels are used scarcely.

That's perfectly fine and 100% understandable. But, if that's

[2020-04-18 13:58] NadineNB commented on #3068
I followed your instructions and unfortunately, it still doesn't work. I turned on the keyboard sound and pressing on "save" never generates any sound. Not sure what to do next, maybe the app is just not compatible with Android Kitkat?

[2020-04-18 14:10] PackElend commented on #1731
no worries your message came across clearly and I can understand your frustration.

From my personal experience, I would say there is a lot more talking in the forum and an open but stall issue can be get easily lost as there are fewer resources available at GH.
What I could image ease the situation that it is raised in the forum and here that an issue is about to become stale and should be answer

[2020-04-18 14:29] Perkolator commented on #1731
That also, like the scenario where an issue is closed (and perhaps then even locked) and then subsequently somebody has to open new issue about the thing, creates just more work. What would happen if none of the issues here in GH would be automatically closed? Would that create more work for any party? Or perhaps if the close bot would be extended to e.g. 365 days? Are there lots of issues that ar

[2020-04-18 18:55] tessus commented on #3052
How is this done by the web clipper? I believe the function returns a sorted result set. Either way, something like a boolean argument with a default is a good option `(sort = true)`. On the other hand, why would someone ever want a not sorted result?
But maybe people would like the same order they set in `Sort notebooks by`. This is certainly an architectural question and this is something only L

[2020-04-18 19:30] coderrsid commented on #3052
That's why i asked laurent if i can change it to always return a sorted array by title. 😄

Yeah that would be something he can answer for sure.

that's a great idea, we can add a function which returns the order of the notebooks in the same option set in `Sort notebooks by`

Although it shouldn't have any problem as the dialog is a part of a simple dropdown which is similarly used in the other com

[2020-04-18 20:01] billybobfrank commented on #15
Would very much like to see this app on Fdroid.

[2020-04-18 20:01] coderrsid commented on #3052
@PackElend @bedwardly-down
what do you think about this?

[2020-04-18 20:12] att14 commented on #2601
This is still an issue.

[2020-04-18 20:16] bedwardly-down commented on #3052
This is honestly less us and more the dev team. Tessus and Laurent didn’t respond to that post directly, so I’d take that as them probably being indifferent to it. With everything going on, it might be better to take a step back here also and just patiently wait for more feedback or ask on the forums.

[2020-04-18 20:21] coderrsid commented on #3052
Sure. As you say sir.

[2020-04-18 20:27] tessus commented on #3052
@coderrsid

Not really much to it. right-click a note and click `Move to notebook`. The cursor does not blink.

[2020-04-18 20:32] tessus commented on #3083
It will open the css file in the app that is associated with css files in the OS.

[2020-04-18 20:35] coderrsid commented on #3083
As tessus said, @38569459 you can change the default application set to open stylesheets in your OS to a text-editor and it will work perfectly fine.

[2020-04-18 20:39] tessus commented on #3083
This works as designed. Closing. For discussions, please use the forum.

[2020-04-18 20:39] #3083 closed

[2020-04-19 04:27] rahul1bh commented on #2160
Not fixed yet.

On Sat, 18 Apr 2020 at 11:17 PM, stale[bot] wrote:

Hey there, it looks like there has been no activity on this issue recently. Has
the issue been fixed, or does it still require the community's attention? This
issue may be closed if no further activity occurs. You may comment on the issue
and I will leave it open. Thank you for your contributions.

—
You are receiving this because

[2020-04-19 06:09] blueorignal commented on #3073
Thank you and please accept my apologies for the double post. I did search before posting, but did not find the #2185. I will add my update to the appropriate thread.

[2020-04-19 06:09] #3073 closed

[2020-04-19 06:11] blueorignal commented on #2185
I am currently seeing this consistently (every time I open Joplin) with current Joplin (1.0.199) on Ubuntu Linux 18.04 LTS. It only started (for me) with the most recent update of Joplin (1.0.199). I am running the official AppImage of Joplin. All in all a very minor issue.

[2020-04-19 08:31] kowalskidev commented on #3078
When we export a note `InteropService()` render a note in html file in temp directory then using that HTML file PDF get exported, Now I figured out that when `InteropService()` render a note it requires a `katex.css` which is already exported by plugin and `katex.css` requires the fonts included in `fonts` directory which is not exported by plugin so we need to export the fonts also along with `ka

[2020-04-19 08:46] kowalskidev commented on #956
I would like to work on it.
@laurent22  it would be great if you can provide a detailed specs for the implementation so I can work accordingly.

[2020-04-19 09:47] Yobel16 commented on #1546
I have the same issue. Joplin keeps on scrolling up whenever I stop typing in the editor and this only happens when I include the mermaid syntax in one of my notes.

[2020-04-19 10:47] roman-r-m commented on #2424
This seems to be the same issue as reported here: https://github.com/laurent22/joplin/issues/2943
In both cases Joplin is syncing with Dropbox and has encryption enabled.

I tried to reproduce this but have not been successfull so far. If I attach a large file Android just refuses to sync it (the other issue mentiones a 50 mb file). Smaller files are synced fine.

I'll try again but in the meantim

[2020-04-19 11:49] rikvanderkemp opened #3088 "Fatal Error: Unknown table: settings"
I have setup Joplin on my desktop and it worked for a few times. Now I have restarted my system and it comes up with

[code]

When I move ~/.config/joplin-desktop  to a temporary folder and restart it rebuilds the database it all works, but I've lost all settings (obviously).

Copying the database crashes the app again.

## Environment

Joplin 1.0.201 (prod, linux)
Client ID: 7ecfb1927a6c4fdba1f69

[2020-04-19 11:59] Robiocop commented on #3004
I also encountered this bug. I must change on my computers the sync settings to local folder connected to my nextcloud server.
My system is KDE Neon 5.18, Joplin in the last version (AppImage). The data are stored on a shared server.
Like Ebayer, I've got two systems under KDE Neon (Desktop and Laptop) and the sync for 140 files takes more than 7 hours ! I've also noticed that the server was very

[2020-04-19 12:25] laurent22 commented on #3088
Is there any stack trace with the error message you got? Could you take a screenshot of it please?

[2020-04-19 12:27] laurent22 commented on #3088
Not seeing anything wrong with the db so we'll need more info

[2020-04-19 13:25] blairdrummond commented on #2689
In the interim, is there a way to toggle the menu bar?

[2020-04-19 13:28] Rishgod commented on #2689
No you have to make a custom title bar, once you make a custom title bar you can pass the theme object and it can be changed according to the theme, till then I don't think so you can

[2020-04-19 13:49] rikvanderkemp commented on #3088
Thank you for taking the time to check it out. Here is a screenshot

![image](https://user-images.githubusercontent.com/347308/79689469-56e68380-8255-11ea-88b9-208732bc8f9a.png)

[2020-04-19 15:02] #3088 closed

[2020-04-19 15:06] laurent22 commented on #3088
Thanks for the info. I can't explain why this bug keeps happening on Linux, but I've added a fix which at least will fix the database when it happens. But I suspect there's more to it because you said it wiped out your settings, while the database you attached is just a new one, although a corrupted one.

My guess is that something is messing with the sqlite-journal file on Linux. Maybe the instal

[2020-04-19 15:13] laurent22 commented on #3078
Thanks for looking into it @kowalskidev, and your assessment is correct.

I had removed the declaration of these fonts from katex.js because they are loaded automatically from the CSS when the view is rendered. And indeed that cannot happen when exporting to HTML, and then to PDF, since the fonts are then missing.

Your fix is fine and you don't need to change InteropServiceHelper.js. If you could

[2020-04-19 15:24] kowalskidev commented on #3078
Thank you so much Sir. I will come up with PR soon.

[2020-04-19 15:25] taw00 commented on #2607
Hey, stale-bot. Yes, this is still an issue and I even lost data. :(
As recent as joplin-1.0.201 and Fedora 31

[2020-04-19 15:27] laurent22 commented on #3041
I can't replicate this but I'm thinking it has something to do with the scrolling update we recently made. Could someone give a try to this version and let me know if it works?

https://github.com/laurent22/joplin-android/releases/download/android-v1.0.328/joplin-v1.0.328.apk

[2020-04-19 15:31] rikvanderkemp commented on #3088
Alright, thanks for checking! I'll keep an eye on when it happens again.

Much appreciated.

[2020-04-19 15:40] taw00 commented on #2682
@bedwardly-down
It may be related. I think the jex export hangs up or gets confused (in the UI?) if the syncing process is delayed? Unsure.

A digression . . .
@laurent22 I have to mention, I am on Satellite Internet out here in Rural 'Murica. Sometimes my dropbox sync is laggy and odd things happen in general because of this. I think anyway. So, if there is any process that waits on a sync succes

[2020-04-19 15:52] laurent22 commented on #2899
I can replicate on emulator but can't make sense of it as it's not possible to inspect the generated HTML. Sounds like a bug in Mermaid anyway so could be fixed in a future upgrade.

[2020-04-19 16:04] roman-r-m opened #3090 "Android: Attachments are not downloaded with encryption enabled."
Steps to reproduce:
- on one client (I used windows but suspect it does not matter) set up Dropbox sync and encryption
- add a note and attach any file
- sync
- on mobile authorize with Dropbox and synchronize
- when prompted enter the password

When synchronization completes notes are availble but attachments are not.
Without the encryption attachments are downloaded during the first sync.

Only

[2020-04-19 16:30] akittas commented on #1546
I can confirm the same thing. After disabling mermaid syntax, Joplin works as it should, otherwise this erratic autoscroll makes it so hard to edit notes

[2020-04-19 16:31] afv commented on #3004
Hi!

I'm using Joplin on Arch Linux (two devices) and Android (one device).

This bug does not happen only on Nextcloud sync and I'm not sure it is related with the synchronization. I was using Nextcloud sync since December 2018, but today I tried to change it to file system (using Syncthing) hoping it would be better, since in the last few weeks the desktop has been unusable: for example copying

[2020-04-19 16:36] Yobel16 commented on #1546
Is there a fix on this? Being able to use mermaid syntax and having no problem.

[2020-04-19 17:10] bedwardly-down commented on #3004
@afv , are you able to install and boot into the lts-linux kernel and have the same issues on both Arch devices?

[2020-04-19 17:38] laurent22 commented on #3090
Which version? Normally I've recently fixed this bug in master

[2020-04-19 17:51] roman-r-m commented on #3090
Ah yes, I do not have this change. Thanks.

[2020-04-19 17:51] #3090 closed

[2020-04-19 18:24] coderrsid commented on #2601
@att14 you've said to reproduce this issue press `Ctrl + (P,F, etc)` on mac. But i guess you're trying to say `Cmd` button instead as pressing the buttons you said are not doing anything. Can you just reconfirm what you're trying to say here.

[2020-04-19 18:30] afv commented on #3004
Was using Linux kernel 5.6.4.arch1-1.
Now on LTS Linux kernel 5.4.32-1, did the following:

- Cleared config directories
<br>

- Set up file sync
- Stopped at "Fetching items: 1606/1950". (took around 3 minutes)
- Enabled/disabled Web Clipper, fetching items continued and completed.
<br>

- Set encryption key
- Decrypting items (batches of 100), stopped at 91/100 after some hundreds
- Enabled/disa

[2020-04-19 18:49] att14 commented on #2601
No I do not mean `cmd`. In any other text editing application on MacOS if you press `ctrl+f` your cursor will move forward one character. Since this is a pretty commonly used shortcut, it makes editing in Joplin harder for people who are used to using this shortcut.

[2020-04-19 19:11] bedwardly-down commented on #3004
Thanks, @afv. #2518 is the Linux one I was referring to and your issue sounds like it but there may be something else going on here. I'm on the same kernel and haven't ran into the bug yet but haven't done a full reset in awhile either.

[2020-04-19 19:54] serendipiddy commented on #3041
That fixed it for me

[2020-04-19 20:01] johnvanhienen commented on #2153
The issue is still present in the current version on iOS. Really prevents me from using this app across all my devices. The URL also includes the double / on the end before generating an unauthorised response.

[2020-04-19 21:11] fridde opened #3092 "Html export for CLI: missing module “theme.js”"
I am trying to export a notebook to html using the CLI,

[code]

but it fails with the error message

[code]

I have checked the log, but there is nothing interesting there. See below. I also checked if I could find theme.js somewhere, but the only path is ```/usr/lib/node_modules/npm/docs/src/theme.js``` which doesn't seem to be the file mentioned above.

``` --format raw``` and ```--format jex``

[2020-04-19 23:26] Namdrib commented on #3041
Partially fixed for me
While I can now see some of the text when editing longer notes, the text just cuts off after a bit
I'll try to post screenshots when I get the chance

[2020-04-20 00:05] mtballday commented on #2518
I'm seeing this bug on Fedora 31 (5.5.17). I've been using Joplin for a long time, and confirm this is a relatively new problem (couple months?). Sorry I don't know how to help debug it. A rewrite in QT would be cool, but a big project that would probably be worse for a long time (forever?). Just my thought on that.

Has anyone figured out where the bug actually occurs? Seems like if I edit my not

[2020-04-20 00:12] #2890 closed

[2020-04-20 01:42] serendipiddy commented on #3041
I'm seeing that same text cutoff issue too. Didn't notice it immediately

[2020-04-20 01:53] bedwardly-down commented on #2518
@mtballday, I'm assuming you mean where the bug is in the Joplin code, right? There was a bit of code work early on here but because I was insistent on finding out where the actual issue was upstream instead of focusing directly on Joplin's code, that died out pretty quickly. Also, implementing a fix in Joplin, even if we were to present one, is not a priority for the dev team. The consent is to l

[2020-04-20 01:54] laurent22 commented on #3041
Yes there's a bug with text field padding, which I'm going to fix. But otherwise does the scrolling work and can you always see the text?

[2020-04-20 02:45] deferredreward commented on #2925
I'd love this too. Notable (https://notable.md/) does this with what Typora calls YAML Front Matter and doesn't display it in the app. It appears as such when seen in a different editor:
---
favorited: true
pinned: true
tags: [books, ideas, kids]
title: kid book ideas
created: '2020-04-19T18:40:12.397Z'
modified: '2020-04-20T02:39:16.154Z'
---

[2020-04-20 04:53] lgabryel commented on #2130
I resovle this issue by buing android phone, but meaby other still need this?

[2020-04-20 05:31] Namdrib commented on #3041
Yep, scrolling works, with the view of text limited to that area
Scrolling by dragging along the part with no text works fine too

Right now the cutoff happens regardless of amount of text, but for my device anyway is only noticeable after 3 lines

[2020-04-20 06:01] ebayer commented on #3004
My nextcloud instance is running in Centos7 (kernel 3.10.0) and latest nextcloud minor version (18.0.2)

I have done a full reset, nothing changed. I will try to find a 5.4 kernel to try.

[2020-04-20 06:24] szakeetm commented on #2130
Joplin is a note taking app. One of its basic functions (take a photo of a document, like a drawing or a bill and add it to the note) doesn’t work for more then a year. “Maybe others still need this” is strange, I suggest the function should either be fixed or removed.

[2020-04-20 06:57] kowalskidev commented on #3092
I'm working on it.

[2020-04-20 08:01] coderrsid commented on #2601
Oh , i get it. Don't worry i'll look through the issue and revert ASAP.

[2020-04-20 08:12] desk7 opened #3093 "Goto Anything freezes when you type punctuation marks"
- 1.0.201
- Windows 10 64bit

When you use Goto Anything, it dynamically changes the results as you type.

But if you enter a punctuation mark (e.g. `.`  `*`  `!`), the result list completely freezes. Even deleting and writing something else it no longer works. You have to exit the goto box and press Ctrl+G to make it work again.

[2020-04-20 08:16] GreatBigWhiteWorld commented on #1117
+1

[2020-04-20 08:55] IvanKazak commented on #3041
Same for my Android device, looking forward for the fix

[2020-04-20 09:09] #3041 closed

[2020-04-20 09:49] laurent22 commented on #2943
Possible solution is discussed there:

https://discourse.joplinapp.org/t/whats-the-file-size-limit-for-an-attachment-in-android-2146/4545/14?u=laurent

The app should keep track of number of download attempts and stop trying after more than two attempts.

[2020-04-20 09:57] szakeetm commented on #2130
It seems that this issue is duplicate of [#658](https://github.com/laurent22/joplin/issues/658)

[2020-04-20 10:04] RedDocMD opened #3094 "Desktop: Multiple instances of Joplin can be opened"
## Environment

Joplin version: master build (Commit sha: ea3c82733c5e4a6ac30f889d77d5eccff593ed27)
Platform: Linux
OS specifics: Manjaro 19.0.2, kernel 5.4.31

## Steps to reproduce

1. Run `npm start` in the `ElectronClient` directory from a terminal emulator
2. Open a new terminal/tab.
3. Run `npm start` in the new terminal/tab in the `ElectronClient` directory

## Describe what you expected to

[2020-04-20 11:02] severus-tux commented on #275
Any news on this?

[2020-04-20 11:11] coderrsid commented on #3093
I can confirm this behaviour on mac too. Let me look into this.  😄

[2020-04-20 11:34] Rahulm2310 opened #3095 "Desktop: Goto Anything search results overflow"
## Environment

Joplin version: 1.0.201
Platform: Windows

![joplin gotoanything error](https://user-images.githubusercontent.com/54268438/79747133-ced1ae00-8328-11ea-98c2-5e5939d08919.gif)

## Steps to reproduce

1. Press Ctrl+g or click on 'Goto Anything' under the Tools in menu.
2. Input something relevant
3. If the no. of search results is large, the item list overflows.

## Describe what you

[2020-04-20 12:03] laurent22 opened #3097 "Make large Mermaid graphs horizontally scrollable"
https://discourse.joplinapp.org/t/mermaid-graph-size/7571/3?u=laurent

[2020-04-20 12:11] laurent22 opened #3098 "Fix table rendering in dark mode"
Reported on mobile but probably happens on desktop too.

https://discourse.joplinapp.org/t/darkmode-problem-visualisation/7570/9?u=laurent

[2020-04-20 12:13] jovandeginste commented on #2518
I wanted to mention that the bug is still present in my freshly updated Fedora 32:

* kernel: `5.6.2-301.fc32.x86_64`
* joplin:
[code]

[2020-04-20 12:26] kowalskidev commented on #3098
Yaa I tested on desktop the issue is with renderer looks like CSS issue.

[2020-04-20 12:39] kowalskidev commented on #3098
I can reproduce it in android but unable to reproduce in desktop.
I'm using Joplin version: 1.0.327

[2020-04-20 12:39] rabeehrz commented on #3098
<img width="856" alt="Screenshot 2020-04-20 at 6 08 54 PM" src="https://user-images.githubusercontent.com/44024553/79752505-098c1400-8332-11ea-8154-cb089461333b.png">

This is the view of the table on Desktop. It isn't present on Desktop?

[2020-04-20 12:43] rabeehrz commented on #3098
The table colour style is missing from the css. I'll open up a PR right away.

[2020-04-20 12:49] kowalskidev commented on #3098
Isn't looks fine?

[2020-04-20 12:54] rabeehrz commented on #3098
Yep, It does.

[2020-04-20 13:33] anjulalk commented on #3093
I'll take a look at this.

[2020-04-20 13:56] Rahulm2310 commented on #3097
I am working on it !

[2020-04-20 14:15] #3098 closed

[2020-04-20 14:17] #3078 closed

[2020-04-20 14:28] laurent22 commented on #3094
Wait, this is on dev? Single instance check is disabled on dev to allow running the prod app along with the dev one.

Before reporting a bug please check if you can replicate it with the actual app as there are often subtle differences like this. Reporting bugs directly from master is not good either as there's no guarantee it's stable (it probably is 95% of the time, but not always). Bugs should

[2020-04-20 14:28] #3094 closed

[2020-04-20 14:49] rabeehrz commented on #2098
@bedwardly-down Could you check this out and see if this problem still persists? If not, the issue can be closed.

[2020-04-20 14:56] laurent22 commented on #3068
I don't quite understand the issue: the button is not supposed to turn gray. You simply need to input the password, press Save, and if the password is correct the red cross will turn to a green tick. If it doesn't turn to a green tick, it means the password is not right, so please check it again.

[2020-04-20 14:56] #3068 closed

[2020-04-20 15:20] bedwardly-down commented on #2098
![519E21A1-5545-4303-9F79-B7DAD098D7DD](https://user-images.githubusercontent.com/59133880/79768509-80082200-82f0-11ea-9ca3-a21160d6ace9.png)
![44FFBF6B-E50E-48C4-8A17-D92CC2B3564A](https://user-images.githubusercontent.com/59133880/79768520-826a7c00-82f0-11ea-9520-21a6415ec060.png)
![0EEC87D3-C3F9-4DDC-BE0F-AD8B1ECD1A0B](https://user-images.githubusercontent.com/59133880/79768521-83031280-82f0-11

[2020-04-20 16:04] mtballday commented on #2518
@jovandeginste : Thanks for posting that, I was thinking of upgrading to 32 just to see.

[2020-04-20 16:35] TianHongZXY opened #3101 "Light stripe in dark mode on iphonex and ipad2018"
There is a light stripe on the right side in dark mode on my iphonex and ipad2018. Please fix it. Thank you

[2020-04-20 16:50] denevin commented on #3070
The programs that I have pinned and are updated frequently stay pinned after the upgrade: Firefox, Chromium, Notepad+.

[2020-04-20 16:52] rabeehrz commented on #3101
Can you provide screenshots please?

[2020-04-20 16:58] TianHongZXY commented on #3101
![IMG_0292](https://user-images.githubusercontent.com/39355004/79778361-33156180-836b-11ea-9971-83511e7a95d9.PNG)
![IMG_2154](https://user-images.githubusercontent.com/39355004/79778398-41fc1400-836b-11ea-8f4c-8f6fe1346b06.PNG)

[2020-04-20 17:00] bedwardly-down commented on #2518
The original poster of this issue I believe is no longer available, but there have been some workarounds scattered throughout that I’ve tried getting posted in the opening post. Due to reports coming in, they’re getting lost.

[2020-04-20 17:02] rabeehrz commented on #3101
This is fixed via #3055
Duplicate issue of #2853
This will be fixed in the next version of the App.

[2020-04-20 17:03] TianHongZXY commented on #3101
OK,thanks！

[2020-04-20 17:03] #3101 closed

[2020-04-20 19:17] NadineNB commented on #3068
It's ok, I'll uninstall Joplin from my tablet and focus on the smartphone and desktop app for now. Thanks for looking into it anyway!

[2020-04-20 19:44] Dave-van-der-Meer commented on #2518
Hi there,

I have a similar issue, the GUI application freezes, except it happens also if I don't press the sync button. Should I open another issue for this?

I use Manjaro GNOME on Kernel 5.5. The CLI version works just fine. The Windows 10 version also works fine.

The freez happens often already after a few seconds, sometimes a little longer.

[2020-04-20 20:15] bedwardly-down commented on #2518
@Dave-van-der-Meer, you’re fine here. It’s easiest to reproduce it manually syncing, but it happens without user input.

[2020-04-20 20:19] Dave-van-der-Meer commented on #2518
An solution for this issue? It is very annoying and disrupting the workflow. I would hate to switch to another application just because of this issue.

[2020-04-20 20:23] nshtg commented on #2518
@Dave-van-der-Meer Switch to 5.4-LTS kernel.

[2020-04-20 20:24] bedwardly-down commented on #2518
@Dave-van-der-Meer, there’s no direct fixes for Joplin itself without pretty much rewriting the app from scratch in another framework altogether.

If you are able to install the Linux-lts kernel and reboot into it, that should fix the issue until the Electron and Linux Kernel devs get their selves sorted. If you must use 5.5 or 5.6, enabling and disabling the WebClipper plugin in Joplin’s settings

[2020-04-20 20:24] pyro209 commented on #2518
Cgostlin6@gmail.com
On Apr 20, 2020 1:00 PM, "Brandon D" <notifications@github.com> wrote:

[2020-04-20 20:27] Dave-van-der-Meer commented on #2518
Cool, if this fixes the issue, that would be great. I will try that. Thanks for the advice.

Shouldn't this issue then be marked as solved if downgrading the kernel would help?

[2020-04-20 20:30] bedwardly-down commented on #2518
I need to get Laurent to give me permissions for this issue. I’m the main maintainer of this issue and it’s being kept open because the issue actually isn’t fixed and every so often, me and a few other people will test newer releases or other things we’ve discovered.

[2020-04-20 21:14] Kenki3 commented on #2875
Thanks for this tip, I believe I can get into everything as I am sitting in my [property in Spain ](url=https://tranio.com/spain/)on quarantine and want to use my time effectively.

[2020-04-20 22:03] Supeiyadi opened #3102 "+6282268071480"
## Environment

Joplin version:
Platform:
OS specifics:

## Steps to reproduce

1.
2.
3.

## Describe what you expected to happen

## Logfile

[2020-04-20 22:51] afv commented on #3004
Sorry! I was not using 5.4; on a second reboot I ended up on 5.6 again without noticing (edited my previous comment to explain that). On 5.4 everything looks fine (using file system sync).

[2020-04-20 22:53] 0xMH opened #3103 "Global shortcut to show/hide Joplin doesn't work in MacOS Mojave"
## Environment

Joplin version: Joplin 1.0.201
Platform: MacOS
OS specifics: Mojave

## Steps to reproduce

1. Click `Cmd+Opt+J`  from within the App.

## Describe what you expected to happen
I expect Joplin to get hidden but that doesn't happen. Also if I clicked `Cmd+Opt+J` when It is hidden it doesn't appear.

## Logfile

[log.txt](https://github.com/laurent22/joplin/files/4506657/log.txt)

[2020-04-20 23:06] #3102 closed

[2020-04-20 23:23] tessus commented on #3103
Yes, we had to revert this, because too many people complained that it interfered with existing shortcuts. (Not really sure why Joplin had to fix this and not the other programs, but ok.)
It will be added back when we develop our custom shortcut code.

[2020-04-20 23:23] #3103 closed

[2020-04-21 02:57] bedwardly-down commented on #2518
I’ve been given the ability to edit and update this issue now. For the sake of sanity and making this issue more maintainable, I’m planning on closing it out and starting a new bug report with updated testing information and fixes. What do you all think? This issue report is massive and getting the original post to be more informative and useful, it’ll take a bit of work. ;)

[2020-04-21 03:18] digdug999 commented on #2518
It may be worth noting that the terminal version of joplin appears to be unaffected by the sync issues.  An obvious point (terminal not using electron), but I'll post this before the issue closes, in case this helps someone.  The terminal version is very useful, (especially once keys are remapped).  Feel free to delete this, if it's improper/unwelcome (thanks for your hard work, devs!)

[2020-04-21 06:47] furusiyya opened #3106 "UX Proposal: Provide three buttons instead of one - each for one layout"
I want to propose a UX related adjustment. Joplin provides three type of layouts.

1. Full screen writing
2. Full screen viewing
3. Split screen (write and view in parallel)

Speaking of my self, I don't like Split screen writing. So every time when I want to switch from full screen writing to viewing or vise versa, I have to click twice which is very uncomfortable.  And I believe it would same fo

[2020-04-21 07:20] roman-r-m opened #3107 "Mobile: resource size check can be bypassed potentially causing the app to crash"
A few users reported having the app crashing due to large attachments (https://github.com/laurent22/joplin/issues/2424 & https://github.com/laurent22/joplin/issues/2943) or just being able to download attachments larger than 10mb (https://discourse.joplinapp.org/t/whats-the-file-size-limit-for-an-attachment-in-android-2146/4545/8?u=roman_r_m)

It seems there's a bug in synchronizer where you can b

[2020-04-21 07:23] roman-r-m commented on #3107
And the stacktrace I'm seeing is the same as in one of the issues I mentioned:
[code]

[2020-04-21 07:35] roman-r-m commented on #3107
@laurent22 I raised it mostly for visibility. Instead of trying to fix this I'm going to try finding the memory leak - decrypting a 60mb file should not cause OutOfMemoryError on a relatively modern smartphone.

[2020-04-21 07:41] tim-hub opened #3108 "ERD diagram of mermaid is not rendered"
Play round the mermaid diagram, found the ERD is not rendered.

<img width="779" alt="image" src="https://user-images.githubusercontent.com/2884320/79838876-33315380-83a3-11ea-9f5a-827e44a03138.png">

## Environment

Joplin version: 1.0.201
Platform: Mac OS
OS specifics: (prod, darwin) Mac OS Catalina

## Steps to reproduce

1. follow the screen shot, create a ERD diagram

## Describe what you exp

[2020-04-21 08:03] Ymetro commented on #3002
I am experiencing the same problem. Sometimes after scrolling ends after bouncing back (waiting a sec) it lets me scroll the page to the end or to the part where I want to edit, but mostly it bounces back to the top of the note, making it impossible to add or edit on the go.
Maybe a dev can lay it side bij side with Apple Notes app to compare UX?

[2020-04-21 09:03] laurent22 commented on #3108
Why not provide the Markdown you used so that we can replicate the issue?

[2020-04-21 09:07] kowalskidev commented on #3092
I figured out that the error is occurred by this line `const { themeStyle } = require('../../theme.js');` in `CliClient > build > lib > services > InteropService_Exporter_Html.js` which is trying to access `theme.js` file from `build` directory but it's missing and I searched for `theme.js` file and there's only file in `ElectronClient` directory so I tried copying that file in `CliClient > build`

[2020-04-21 09:11] laurent22 commented on #3092
Shared code should be moved to ReactNative/lib, so some refactoring is needed to move theme.js and its dependencies from ElectronClient to that lib folder. We should not use gulp for this.

[2020-04-21 09:20] kowalskidev commented on #3092
Thank you sir. I'll will move theme.js to ReactNative/lib along with ElectronClient/gui/style/theme directory and change the path to that lib folder in ElectronClient.

[2020-04-21 10:17] #3093 closed

[2020-04-21 10:30] kowalskidev commented on #3092
But there's a problem moving `theme.js` from ElectronClient to ReactNativeClient/lib, it would affect 60+ files in ElectronClient/gui which required `theme.js` file So we need to change all those files to change the path of theme.js file. But now as you saying to move files to ReactNative/lib I think we should copy the files instead of moving so it won't affect ElectronClient and we will be able t

[2020-04-21 10:39] coderrsid opened #3109 "Desktop : Mermaid Diagram background not rendering properly (Dark Themes)"
## Environment

Joplin version: 1.0.201
Platform: Desktop
OS specifics: macOS

## Steps to reproduce

1. Switch to any dark theme (i.e. Dark, Solarised Dark, Dracula, Node, Aritim Dark)
2.  Write the below lines in the note body
[code]
2. Now scroll the rendered mermaid graph horizontally.

## Describe what you expected to happen
The whole background of graph should be of similar colour instead.

[2020-04-21 10:43] coderrsid commented on #3108
## Markdown to recreate the issue
[code]

[2020-04-21 10:53] coderrsid commented on #3108
Although @tim-hub , these are experimental features of [Mermaid-js-erd](https://github.com/mermaid-js/mermaid/tree/develop/docs#entity-relationship-diagram---exclamation-experimental)

![image](https://user-images.githubusercontent.com/35633575/79857975-4288bf00-83ec-11ea-9bf5-52332fe08028.png)

[2020-04-21 10:55] coderrsid commented on #3106
Thanks for the suggestion @furusiyya . But you should discuss this on [Discourse-Forum](https://discourse.joplinapp.org/) . You'll get better reponses. 😄

[2020-04-21 11:06] laurent22 commented on #3092
We only need to move theme.js and its dependencies from ElectronClient to that lib folder. Then update any file that requires theme.js. You can include it with "require('lib/theme')" (no need for ../../../....)

[2020-04-21 11:17] kowalskidev commented on #3092
Thank you sir. I'll come up with PR soon.

[2020-04-21 11:45] tessus commented on #3108
It's possible that our Mermaid version does not even have that feature yet.

[2020-04-21 12:05] coderrsid commented on #3108
You're perfectly right, tessus. This feature is added to v8.5.0 and we're using v8.4.6 . Everyone can see below in the changelog of mermaid-js **Features** section.

![image](https://user-images.githubusercontent.com/35633575/79864045-64873f00-83f6-11ea-9c45-37b5673c107e.png)

[2020-04-21 12:13] taw00 opened #3110 "Joplin stops saving notes locally (lost work occurs)"
Fedora 31
Joplin 1.0.201 -- my RPM builds (reference: https://github.com/taw00/joplin-rpm)
Using encrypted dropbox.

The problem: I wrote an ~11,000 word document I am about to switch away from it and realized that only ~1400 words are saved locally or in dropbox. The note is all text. No attachments.

Symptoms of the problem or how did I know I was about to lose all my work?:
- the rendered previ

[2020-04-21 12:24] kaushalyap commented on #3056
@laurent22 May I know which WYSIWYG editor library Joplin uses?

[2020-04-21 15:13] nshtg commented on #2518
I'n my opinion that's a big fat **no**. The latest stable kernel of linux should be supported of any linux app. I'm pretty sure the bug is with electron or joplin und not the kernel.

[2020-04-21 15:18] Dave-van-der-Meer commented on #2518
I guess you are true. As **bedwardly-down** was stating, some people can't downgrade their Kernel (for me, 4.19 is not working) and indeed, the latest Kernels should be supported. I could imagine that the bug lies within Electron or Joplin indeed.

With Kernel 5.4, it seems now to work for me at least. For now it is a work-around but not a fix. I hope this will be fixed propperly soon.

[2020-04-21 16:21] wobblywob commented on #2382
I have a similar issue. I'm a new user trying out Joplin. I've installed the client on macOS, Windows and iOS and notebooks and notes don't sync properly across devices.

Setup:
- OSes: macOS 10.15.4 (Joplin 1.0.201), Windows 10 1909 (Joplin 10.0.201), iOS 13.4 (Joplin 10.0.47);
- Backend: Nextcloud 17.0.3 (then updated to 18.0.3) on Debian 10;
- Timezones, dates and times are the same across devi

[2020-04-21 16:30] wobblywob commented on #2382
My bad. Windows was on a different time zone. I've checked the timestamp and indeed the .md has the timestamp in the future.

What I still find a bit weird is that macOS and iOS wouldn't sync with one another even though they were creating correct stamps.

[2020-04-21 17:21] taw00 commented on #3009
I like the idea of two columns. One for the source text and one for the rendered text.

Personally, I think 9 times out of 10, people want the numbers to reflect the rendered text. But, others would prefer it to represent the source (the editor text). For similar reasons, number of lines is almost meaningless except for in the editor context (it's the number of hard new lines in the file -- w/ ren

[2020-04-21 17:23] bedwardly-down opened #3114 "Desktop: Joplin Freezing During Syncing and Decrypting On Linux Kernel 5.5+ (New Issue Tracker Report With Possible Fixes)"
## Please Read To Fix This Issue

As soon as you are able, Upgrade to Kernel 5.6.13. Joplin will not work properly otherwise due to all of the information listed below.

This issue has been resolved but I’m leaving it open for the time being only so users that need it still can find it while Kernel Upgrades roll out still.

## Bug Report Proper Starts Here

Alright, so this is a continuation of #2

[2020-04-21 17:23] taw00 commented on #2984
I'd also be curious if the _other_ expected desktop element is also generated, the joplin.appmeta.xml file. I have not tried, so I don't know.

[2020-04-21 17:25] bedwardly-down commented on #2518
The new Bug Report is up and running. If you have any suggestions, please feel free to comment there. New reports can go there, and hopefully, there's enough information there to allow users to work this out. :D

[2020-04-21 17:25] #2518 closed

[2020-04-21 17:26] taw00 commented on #3017
I wonder if this is related: https://github.com/laurent22/joplin/issues/3110

[2020-04-21 17:26] fridde commented on #3092
You two work at an incredible speed! Great work!

Any idea when PR #3112 will be merged?

[2020-04-21 19:02] dpoulton-github commented on #3097
The quoted thread above later suggests that desktop and android mobile already have the ability to scroll charts.

[2020-04-21 20:19] Atalanttore opened #3115 "Display of entered letters is very slow for notes with a lot of text"
On a middle class smartphone from 2018 with Android 9 I have freshly installed Joplin. Then I set up the encrypted synchronization with a NextCloud via WebDAV.

I inserted a lot of text from another app in 1 note in Joplin. The text exported as PDF file in the Joplin desktop app has over 20 pages in A4 format.

## Issue
When entering additional letters to this note, it now takes several seconds be

[2020-04-21 20:39] roman-r-m commented on #3115
Seems like a known issue: https://github.com/laurent22/joplin/issues/1493

[2020-04-21 22:44] #3115 closed

[2020-04-21 22:57] #3095 closed

[2020-04-21 23:09] laurent22 commented on #3114
When switching the web clipper on and off, what happens is that a server is started then stopped. Do you have any idea why that would sync resume?

If we could understand better what's happening maybe we could add a workaround. Like now I'm thinking we could integrate some dummy server that the sync process would start and stop at regular intervals. Don't know if that would help but could be worth

[2020-04-21 23:19] bedwardly-down commented on #3114
In the original bug report, there was some code work early on and one tester found that the synchronizer.js code could have parts of it commented out and the issue wouldn’t occur. I believe the part was where it was checking for changes with the server mainly. Another user commented that the way the code was written was part of why the kernel commit caused this problem. They theorized that the syn

[2020-04-21 23:29] bedwardly-down commented on #3114
@hexclover what do you think of @laurent22‘s thoughts? Weren’t you there one that found the synchronizer.js stuff originally?

[2020-04-22 01:19] qqlovekerry commented on #2984
@taw00 Hi, do you mean I need to check whether the `joplin.appdata.xml` is generated? Could you please tell me what is the path of this file?

[2020-04-22 04:17] sinkuu commented on #2984
Desktop integartion (i.e. installing .desktop files etc.) is removed in the recent update to electron-builder 22 (https://github.com/laurent22/joplin/commit/cd19cedd46843643ddbfc47104b65867d165b55c).

https://www.electron.build/configuration/appimage.html:

[2020-04-22 04:19] tim-hub commented on #3108
just forgot

[2020-04-22 04:19] tim-hub commented on #3108
thanks

[2020-04-22 04:20] tim-hub commented on #3108
@laurent22 @coderrsid @tessus

thanks for the finding out

[2020-04-22 05:36] tessus commented on #3108
No worries, at one point we'll update Mermaid. No ETA though.

[2020-04-22 05:47] tessus commented on #3108
@laurent22 I actually tried to update mermaid, but none of the scripts updates the mermaid in `rnInjectedJs`. What am I missing?

[2020-04-22 07:25] qqlovekerry commented on #2984
@sinkuu Hi, I am sorry I do not know much about the professional knowledge for building the AppImage. Does that mean the desktop integration will not be included anymore in the future?

[2020-04-22 08:03] sinkuu commented on #2984
AppImage devs [recommend](https://github.com/AppImage/AppImageKit/issues/948#issuecomment-484138051) not to implement desktop integration per application and use their solutions (appimaged or AppImageLauncher).

[2020-04-22 08:09] hexclover commented on #3114
Hmmm.  I just found, by using `strace -f -etrace=epoll_ctl`, that toggling the web clipper server generates these calls to `epoll_ctl` reliably:

[code]

The first 3 are issued by enabling and the last by disabling -- perhaps they are related to creating (destroying) the server and make it start (stop) listening on some port. It *may* help explain why this trick unfreezes the UI.

This still does

[2020-04-22 09:15] qqlovekerry commented on #2984
@sinkuu It seems complicated for an end-user like me. And it is less convenient for Linux desktop users I think. Hopefully, the developers of Joplin can give normal users some instructions on how to solve this.

[2020-04-22 10:18] bedwardly-down commented on #3114
You didn’t locate it, sure. Remember, i prodded you in the right direction with it since i had previously worked with it a bit? Either way, that information is extremely valuable and thanks for getting back to me, @hexclover. I hope you’re safe. ;)

[2020-04-22 11:02] fridde commented on #3092
@kowalskidev
Sorry for bothering you again: To be able to use the html export until the PR merge and the eventual release, I thought I could make a quick-and-dirty fix and manually copy ```theme.js``` and ```light.js``` to where  ```InteropService_Exporter_Html.js``` expects them, almost like you did in the gulp file.

But the error still appears and after a sanity check, i.e. modifying ```Interop

[2020-04-22 12:01] teddyzhai commented on #2595
the scope of this issue is not only Android, but also desktop (win/Linux).
tested version: 1.0.201

[2020-04-22 13:02] kowalskidev commented on #3092
@fridde merging PR may take some time but here is the quick-dirty fix:
Open the `gulpfile.js` in CliClient folder add this line just below line no. 15:
[code]
and add this line just below line no. 19
[code]

and now run `npm start` and try to export using command:
`export ./note --format html` it should generate HTML file in the CliClient folder with file name `note.html`

[2020-04-22 15:34] laurent22 commented on #3114
Could it be a deadlock issue when accessing many files simultaneously? I wonder if the bugs happen if you set the max number of simultaneous downloads to 1?

[2020-04-22 15:35] bedwardly-down commented on #3114
I can check.

[2020-04-22 15:36] laurent22 commented on #3114
Or conversely, maybe by increasing it to 20 or more it would be possible to consistently replicate the bug, which could make fixing it easier.

[2020-04-22 15:37] bedwardly-down commented on #3114
That's the Max Simultaneous Connections part, isn't it?

[2020-04-22 15:57] bedwardly-down commented on #3114
Setting it to a Max Connection of One is showing no signs of the bug. Just extra remote items created and deleted during its initial check. I create 123 duplicates of a test note with a simple image in it, fully synced, deleted, then fully synced again. After it finished syncing, it sent 124 remote items and then deleted all of them even though it had done that in the previous step.

[2020-04-22 16:15] snakyjake1 commented on #3001
I would prefer to have an option to NOT autodetect syntax highlighting.

[2020-04-22 16:24] snakyjake1 opened #3116 "Formatting: Code Block vs. Inline Code"
Can we get the code block and inline code to look the same?

This is what I get:
![image](https://user-images.githubusercontent.com/8312560/80006663-0bf98580-847a-11ea-8661-c4d0efaddd29.png)

1)  Notice the syntax highlighting.  Code blocks have syntax highlighting, but inline code does not.  This should be the same.  There should be no syntax highlighting by default.
2)  Notice the background sha

[2020-04-22 16:32] bedwardly-down commented on #3114
@laurent22, the issue finally happened at the end of a 1024 note (with a 5 MB video file attached for good measure) on 20. Using a strace like before but checking on all Joplin processes, when this bug shows up, Epoll calls are frozen until doing the Webclipper fix. It took almost 10 minutes for it to finally show up and when it did, the app completely froze for a couple of minutes. Settings still

[2020-04-22 16:34] StanczakDominik commented on #3114
Finally, something I can actually help debug! I'll try Max Connections = 1 over the next few days and see whether the bug comes back.

[2020-04-22 16:36] bedwardly-down commented on #3114
Testing is fully welcome. The fact that Laurent, the lead Joplin dev here, is on this is a good thing. Let's try to get this bug tackled in some form while he has time to do something about it. :D

[2020-04-22 16:41] StanczakDominik commented on #3114
But of course:
[code]

[2020-04-22 16:43] bedwardly-down commented on #3114
Good deal. :+1:

[2020-04-22 16:55] StanczakDominik commented on #3114
It has just frozen again, with File System/Syncthing for synchronization. I tried the Web Clipper toggle flick and it worked well to restore everything to normal, as usual.

[2020-04-22 16:59] rabeehrz commented on #3116
This might not be a bug actually. Because even GitHub doesn't do that I guess.

[2020-04-22 17:11] bedwardly-down commented on #3114
Also, did the syncing freeze on a setting of 1 for you? @StanczakDominik

[2020-04-22 17:14] StanczakDominik commented on #3114
Yes, still keeping it on max connections = 1. Web clipper extension active, firefox turned on.

[2020-04-22 17:15] bedwardly-down commented on #3114
Firefox isn't actually required here, but glad to get that information. :smile_cat:

[2020-04-22 17:51] coderrsid commented on #3070
Although i am not facing the problem on macOS. I guess a windows user can confirm that.

[2020-04-22 18:40] #2315 closed

[2020-04-22 18:40] #2298 closed

[2020-04-22 18:40] #2335 closed

[2020-04-22 18:40] #2394 closed

[2020-04-22 18:40] #2332 closed

[2020-04-22 18:40] #834 closed

[2020-04-22 18:40] #1714 closed

[2020-04-22 18:40] #1758 closed

[2020-04-22 18:40] #2451 closed

[2020-04-22 18:40] #2475 closed

[2020-04-22 18:40] #2490 closed

[2020-04-22 18:40] #2487 closed

[2020-04-22 18:40] #2544 closed

[2020-04-22 18:40] #2483 closed

[2020-04-22 18:40] #1094 closed

[2020-04-22 18:40] #2507 closed

[2020-04-22 18:40] #2268 closed

[2020-04-22 20:01] dbogdanov commented on #2315
Isn't that an issue for anybody else on MacOS?

[2020-04-22 21:18] Rishgod commented on #3116
This is not a bug, it is a convention to do that

[2020-04-22 21:21] tessus commented on #3116
It's not a bug. With specifying a highlighting language, it tries to autodetect.

You have to use ` ```plaintext`

[2020-04-22 21:21] #3116 closed

[2020-04-22 23:53] jcbwd commented on #2382
Ok, I tried something a bit different. To rule out a problem with Dropbox,
I set up a Nextcloud account on Hetzner. Then, I reinstalled Joplin on both
the Mac and the iPhone. Then tried syncing To Nextcloud. Looks like the
same result. That rules out a problem with Dropbox.

After some more digging, I did find one clue: Although the time stamp on
the files themselves is correct, the updated_time i

[2020-04-23 02:06] feoh opened #3117 "IOS - WebDAV - PROPFIND: Method Not Allowed"
Joplin version: 10.0.47
Platform: IOS
OS specifics: IOS 13.3.1

## Steps to reproduce

1. Configure IOS application for WebDAV sync to Synology NAS
2. Synchronize
3. Encounter error about PROPFIND shown in log

## Describe what you expected to happen

I expected it to sync without error like it does on the desktop version.

Happy to create a WebDAV account for you if that would help, or do more de

[2020-04-23 06:04] kowalskidev commented on #3059
@Rishgod are you working on it?

[2020-04-23 08:02] pedrom34 commented on #1117
+1

[2020-04-23 11:00] spktkpkt commented on #3114
I have the same issues and a max connection of 20 solves it for me for now. I'll test and see how it turns out.

    $ uname -a
    Linux dellicious 5.6.6-942.native #1 SMP Tue Apr 21 03:03:21 PDT 2020 x86_64 GNU/Linux

[2020-04-23 12:53] bedwardly-down commented on #3114
Glad to hear. What distribution are you on so I can add it to the affected systems in original post?

Also, setting it to 20 drastically slowed down the bug appearing for me but it still appeared after something like 900 items synced,

[2020-04-23 14:02] spktkpkt commented on #3114
[Clear Linux](https://clearlinux.org/)

That might be the reason, i usually don't have that much to sync at once. I only have about 180 items (Markdown files) at the moment.

[2020-04-23 14:25] coderrsid commented on #3022
@ishantgupta777 Can you have a look over this issue?

[2020-04-23 14:53] m-angelov commented on #3114
Hey, all. Glad to see the activity on this issue (and even more that you're doing well).

I've tried to set the max connections to 20, but around the 10th sync the app froze. I used the Clipper workaround, synced again and this time it froze on the 3rd attempt. It's doing the same thing with max connections set to 1. I have 440 notes and 67 resources, most of which are images.

I'm running 5.6.4-a

[2020-04-23 14:59] bedwardly-down commented on #3114
@m-angelov, glad you’re here. Can’t wait. Also, how do you like the issue tracker upgrade?

[2020-04-23 15:07] jcbwd commented on #2382
Second update:

I did some more detailed testing this morning. It seems that both clients (macOS and iOS) use GMT in the header, so that is not the issue. The search continues...

[2020-04-23 16:50] nikoloskid opened #3118 "Joplin freezes completely on Arch Linux"
## Environment

Joplin version: joplin-1.0.201-1
Platform:
OS specifics: Arch Linux 5.6.5-arch3-1

## Steps to reproduce

1. I open Joplin and start to edit my notes
2. After few minutes of using, Joplin freezes, I can't move from noteboot to notebook, I can't create one, nothing works.
3.

## Describe what you expected to happen

## Logfile

[2020-04-23 17:35] deftdawg commented on #176
I'm running:
Joplin 1.0.201 (prod, darwin)
Revision: e65af8c (master)

I've noticed that it seems like code blocks are having blank lines and spaces removed around them... it's causing lines to smash together and code blocks to break.

For example this is a shell code block and there used to only 3 back-ticks at the start of the code block and be an empty line before "Requirements Discussion" at t

[2020-04-23 21:14] laurent22 commented on #3118
Duplicate of #3114

[2020-04-23 21:14] #3118 closed

[2020-04-23 22:08] taw00 commented on #2984
This is why projects need to foster native packaging communities, IMHO. But it is a lot to ask for even medium-sized projects.

If they can't do that, I recommend they publish the lowest common denominator package format: Flatpak or even snap. AppImage is last resort packaging IMHO. It's one step removed from a tarball and I am not a fan.

Rolling out software in a two-step process (1) make the ap

[2020-04-24 03:00] snakyjake1 commented on #3116
According to https://wordpress.com/support/markdown-quick-reference (I can probably find other sources too), there's a difference between:
"Code block"
vs.
"Syntax highlighting"

[2020-04-24 03:05] tessus commented on #3116
I'm not sure what you are trying to say.

In Joplin and other editors, code blocks are syntax highlighted. If you don't want a code block to use syntax highlighting, you'll have to explicitly state that as I've descfribe earlier.

[2020-04-24 03:13] tessus commented on #3116
If you are not happy with the current behavior you can open a topic in the forum and start a discussion.

This tracker is used for bugs only.

[2020-04-24 04:35] anthonyajumelles opened #3119 "Allow export without title"
It would be beneficial to allow for a toggle as to whether the note title is part of the exported file's content.

Right now the only workaround is to remove the title before export, leaving the field blank.

[2020-04-24 08:20] nikoloskid commented on #3114
Hi, I am also facing this bug on 5.6.5-arch3-1, I have not enabled syncing and yet still UI freezes.
After reading the issue, I have set Max Connections = 1, so I will report back how it goes and will check logs constantly.

[2020-04-24 10:56] Rolograaf commented on #3066
I have the same annoyance with Ctrl-L (why do I need 2 shortcuts Ctrl-L + Ctrl-Shift-B to start editing?) But since release 1.1.201 Ctrl-G does not choose the top item of the list on `Enter` but item number 16, I need to scroll down to find it. This is repeatable.

I tried again and instead entering, when I push down-arrow, it goes to item 17 in the list. I think there is a bug in the pointer?

[2020-04-24 12:55] xplosionmind opened #3120 "Tabs display error on Android app"
OS: Android 10 (Oxygen OS on OnePlus 6T)
Joplin app version: 1.0.329

## BUG DESCRIPTION

As displayed in the following screenshot, Joplin automatically alternates light grey and black background for each row. The problem is that on light background white text is not visible.

![Screenshot_20200424-085600](https://user-images.githubusercontent.com/42862428/80214629-77d71c00-863b-11ea-9594-0634fd0d

[2020-04-24 12:59] rabeehrz commented on #3120
Hey,
Thank you for reporting. This has been fixed via #3100 and will be released in the next update.

[2020-04-24 13:03] aleksandr-amirkhanov opened #3121 "Globl shorcut (Ctrl+Alt+J) does not work"
When the global shortcut (Ctrl+Alt+J) is pressed the application is not shown or hidden. The global shortcut worked fine for me in the version 1.0.199, but in the current version it does not work.

## Environment

Joplin version: 1.0.201
Platform: Windows
OS specifics: Windows 10

## Steps to reproduce

1. Open Joplin
2. Collapse the application
3. Press Ctrl+Alt+J

## Describe what you expected t

[2020-04-24 13:37] coderrsid commented on #3121
Sorry to say, but it was reverted. You can find more specific reason in the below link.
https://github.com/laurent22/joplin/issues/3103

[2020-04-24 13:49] coderrsid commented on #3119
Thanks for suggesting. But i'll suggest you to discuss the feature on [Discourse](https://discourse.joplinapp.org/)

[2020-04-24 14:34] bernieke commented on #51
I for one am happy with the current note sort order options. The only thing missing for me would be to have the option (like in the evernote desktop client, windows explorer, solid explorer on android, ...) to have a separate sort order per notebook. Some notebooks I use as information dumps, where it makes most sense to see the last updated or created on top. Others are structured and would be so

[2020-04-24 15:49] lord-aerion commented on #15
I'd love to hear from @laurent22 about Parse Server or OpenPush as an alternative to Firebase.

A desire for privacy is what drives many people away from established commercial products towards smaller projects such as this one, but the heavy reliance on Google services such as Firebase remains a major obstacle in both the quest to regain control over our data, as well as the adoption of privacy f

[2020-04-24 16:08] IllyaYalovyy commented on #2424
Hey, sorry for the delay. I don't think these logs have been preserved. I
was re-installing everything trying to solve the problem.
Just want to mention, that I manually reviewed all attachments, and I had
only one large file (about 10Mb). I deleted it from notes (didn't remove
from local or remote store). Then I deleted it manually from everywhere.
But it didn't fix the problem (crashes). In log

[2020-04-24 16:15] lord-aerion commented on #310
The auto-save feature has become a major issue for me.

It's far too easy to make mistakes on touch screen devices, and I've already lost several notes as a result. In some cases I've been able to 'restore' a note by quickly disabling sync and switching on my desktop to retrieve the note there.

At the very least there should be an undo function, but I'd much rather have the option to turn auto-sa

[2020-04-24 16:16] #2614 closed

[2020-04-24 16:16] #2611 closed

[2020-04-24 16:18] rabeehrz commented on #3066
Yeah. This is a bug. It has been reported [here](https://discourse.joplinapp.org/t/strange-goto-anything-behavior/8139/5).

[2020-04-24 16:46] roman-r-m commented on #2424
Hey. I actually have found an issue that might have caused that. Though now that you've said that your largest file was about 10Mb I'm not sure if that's the same issue.

If you're able to build the app from sources and you could try building from my branch while the PR is in review and see if it fixes your problem. (Back up your notes just in case).

[2020-04-24 17:06] xuhcc commented on #310
The option to disable auto-save is essential and it's really easy to add it. I even tried to submit a PR (#1781) but it was rejected, and since then I'm maintaining a Joplin fork: https://github.com/xuhcc/joplin/ (but you will need to build it from source if you want to use it @lord-aerion).

[2020-04-24 17:28] IllyaYalovyy commented on #2424
First I will need to reproduce the issue... I will try something over the
weekend.

On Fri, Apr 24, 2020, 9:46 AM roman-r-m <notifications@github.com> wrote:

[2020-04-24 18:13] Kiel97 commented on #3041
Thank you! It is working again!

[2020-04-24 18:15] pcause commented on #2717
thanks.  seems gone

[2020-04-24 18:15] #2717 closed

[2020-04-24 18:39] #3120 closed

[2020-04-24 18:43] casasfernando commented on #1029
Issue still hasn't been resolved.

[2020-04-24 21:28] #3119 closed

[2020-04-24 23:53] tessus commented on #310
Yes, the mobile version is IMO unusable for editing notes. It's sad, because it's technically a few lines to just turn off that autlo-save feature.
Even the history feature isn't able to save your data every single time.

I use the mobile version only to read notes and create new notes. I'm too afraid to lose data.

I hope the people who complained they had to click the save button are happy now.

[2020-04-25 00:03] tessus commented on #2614
There's a PR available. I've been using the code for weeks now and it works splendidly.

It will get merged eventually.

[2020-04-25 00:05] laurent22 commented on #3114
Just to be clear the fix is to start, then stop the web clipper, is that right? Do you need to wait a bit before the moment you start and then stop it?

I'll add a dummy background server on Linux that will be started and stopped while sync is active, so just want to make sure I'll replicate the same start/stop sequence.

[2020-04-25 03:52] bedwardly-down commented on #3114
This is correct. And no time needed to wait. Just enable and disable before returning back to syncing.

[2020-04-25 07:32] lyutian commented on #1232
This issue seems was fixed in the latest 1.0.201 version.
When I attached a large image, it showed a dialog to ask if I want to keep the original image. 😀

Perfect! This is a great notebook. Thank you so much!

[2020-04-25 08:32] m-angelov commented on #3114
It seems that things are moving forward, but I'll still give an update after upgrading everything. Kernel is `5.6.6-arch1-1`, Joplin's version is `1.0.199` AppImage. Syncing with a local dir, MaxConnections set as `1`. The issue is still manifesting.

When syncing there are no EPOLL events in strace, no matter if the sync is successful, or the issue is present. The WebServer gives this output:
[co

[2020-04-25 08:45] #2578 closed

[2020-04-25 11:08] coderrsid opened #3124 "List the undo/redo functionality in the Edit Menubar."
## Environment

Joplin version: 1.0.201
Platform: Desktop
OS specifics: macOS

We should list the `Undo (Cmd + Z)` & `Redo (Cmd + Shift + Z)`  functionality in the Edit menubar item until the note is saved.

[2020-04-25 11:31] foozzi opened #3125 "The input cursor leaves the text when writing cyrillic"
The input cursor leaves the text when writing cyrillic
<img width="246" alt="Снимок экрана 2020-04-25 в 14 29 18" src="https://user-images.githubusercontent.com/1178208/80278706-314bf500-8701-11ea-8c28-6a780ae468b7.png">

## Environment

Joplin version: 1.0.201 (prod, darwin)
Platform: macos
OS specifics: catalina 10.15.4

## Steps to reproduce

1. create new note
2. try typing text for cyrillic

[2020-04-25 11:44] Paragon1970 commented on #2834
In any event it would be useful (in its current form) for the returned result list to be graduated with respect to phrase query (""). Currently this does not seem to be the case.
For example: I have a note that has the phrase `Running docker non root` when searching `"Running docker"` phrase,  the returned list does not prioritise the note that has the exact match. Instead it returns notes that ma

[2020-04-25 13:07] rajil opened #3126 "Samsung Note spd file from Evernote"
Hello,

I imported notes from Evernote which included some spd files created using Samsung Note phone. In the Android app there is no way to download these files, although a download icon does appear on the left.

Thanks

[2020-04-25 13:37] edrich49 commented on #2647
The problem is still present in 1.0.199.

[2020-04-25 13:42] coderrsid commented on #3125
Can you also paste the cyrillic text you're trying to write in image?

[2020-04-25 13:44] roman-r-m commented on #3126
How big are those files?

[2020-04-25 13:46] roman-r-m commented on #3125
Can't reproduce on 1.0.201 on Windows

[2020-04-25 14:01] rajil commented on #3126
After a full sync on the phone, I can now see them. The files are pretty small, and if I try to open them in Joplin there is no way to save them or open then in Samsung Notes.

[2020-04-25 17:30] taw00 commented on #3110
I think I have pinned it down to this error (but I may be wrong):
[code]

[2020-04-25 17:33] taw00 commented on #3110
This is the one and only error I consistently see. But I see it right away so ... hell, I don't know:
[code]

[2020-04-25 20:12] tessus commented on #3125
The default cyrillic font on macOS is not a monospace font. This has been reported several times on the forum and on github. Please search before you open a "bug".

As mentioned in the settings screen, the editor font MUST BE monospace.

[2020-04-25 20:12] #3125 closed

[2020-04-26 02:14] githubWangHC opened #3129 "The modified pdf cannot be synchronized to oneDriver"
## Environment

Joplin 1.0.201 (prod, win32)

客户端 ID：07c34fde26074b6996991c148e0423c8
同步版本：1
最新版本：28

调整： e65af8c1 (master)

## Steps to reproduce

Can be reproduced
**in device 1 do Operate as follows**
1. add pdf attached
2.  synchronize to oneDriver
3. modify pdf(write text on pdf,  Mark on pdf)
4. synchronize to oneDriver again
**in device 2 do Operate as follows**
1. synchronize from oneDrive

[2020-04-26 06:22] Rahulm2310 commented on #2595
@teddyzhai I think we have undo/redo functionality on the desktop app.

[2020-04-26 06:41] vendornet opened #3130 "Bug with cursors in the editor mode when typing in Cyrillic"
When editing a note with **Cyrillic** text, the **cursor is not showing in the right place and is offset**. I've changed the Keyboard Mode to Emacs just to make it more visible in the screenshot. The bug is present in all Keyboard Modes. The bug is not present on the iOS app. I've been using the app from January 2020 and the bug is present in all versions I've used so far. Screenshot 3 is showing

[2020-04-26 07:24] NothingCtrl opened #3131 "[Desktop] Long URL break UI"
On Joplin Desktop version, a very long URL break UI in note properties pop-up, button _OK_ or _Cancel_ is hide (out of view), _ESC_ is not close the pop-up, click outside is not close the pop-up, so user cannot close the pop-up properties.

![bug_joplin_ui](https://user-images.githubusercontent.com/5380820/80300597-4cce0300-87c8-11ea-9a61-b0006735a02f.jpg)

## Environment

Joplin version: 1.0.193,

[2020-04-26 07:44] mrozekma commented on #3103
@tessus Not sure how the website gets updated, but it's still referenced there: https://joplinapp.org/#global-shortcut

[2020-04-26 08:26] roman-r-m commented on #3130
Duplicate of https://github.com/laurent22/joplin/issues/3125

[2020-04-26 08:39] rabeehrz commented on #3131
I'll look into this.

[2020-04-26 08:57] roman-r-m opened #3132 "Desktop: it's not possible to change sync target to dropbox without restart"
Steps to reproduce:
1. Set up file system sync target.
2. Run synchronization (this might not even be necessary).
3. Go to options and change sync target to dropbox.
4. Press the sync button - the authorization window is not shown and sync fails after some time.
5. Restart the app, press the sync button and only then you'll get the dropbox auth link.

Ideally Joplin should request Dropbox authoriz

[2020-04-26 09:02] vendornet commented on #3130
For some reason I did not found the previous reported issue. It's a good idea to improve the font selection window from the settings menu. Before posting this bug, I've tried to change the fonts several times. It did not work as the fonts weren't monospace. I've tried with "Courier New" and the issue was resolved. A better font suggestion for MacOS can be implemented.

[2020-04-26 09:03] vendornet commented on #3125
It's a good idea to improve the font selection window from the settings menu. Before posting this bug, I've tried to change the fonts several times. It did not work as the fonts weren't monospace. I've tried with "Courier New" and the issue was resolved. A better font suggestion for MacOS can be implemented.

Solution: Go to Preferences -> Appearance -> Editor font family -> "Courier New".

[2020-04-26 10:32] mic704b commented on #2225
It might have been fixed by #2410 ?

[2020-04-26 11:25] Rahulm2310 commented on #3131
@rabeehrz @NothingCtrl It is fixed by a recent PR (#3096)
You can see it below:
![dialogboxfix](https://user-images.githubusercontent.com/54268438/80306082-b0632b00-87de-11ea-96c4-703b4a04a224.gif)

[2020-04-26 16:34] lmjst opened #3133 "Cant launch Joplin after upgrade (appimage error)"
Hi,
I've downloaded and installed latest Joplin version but I'm stucked with an appimage error again.
What I've done :
[code]

Lancement de "/home/dd/Bureau/Joplin-1.0.201.AppImage" :
erreur
`"cannot munt appimage" please check your fuse setup"`
Lancement via la nouvelle icone du menu : rien ne se passe.. et c'est normal, il n'y a absolument rien dans les parametres du launcher

Occurences de "jop

[2020-04-26 18:35] rahul1bh commented on #2160
Not fixed.

On Sat, 18 Apr 2020 at 11:27 PM, Rahul Bhattacharya < rahulb@criptext.com >
wrote: > Content unencrypted

Sent with Criptext secure email[https://api.criptext.com/email/open/%3C1587926145558.077792%40criptext.com%3E]

[2020-04-26 18:40] rabeehrz commented on #3131
That is not fixed @Rahulm2310

[2020-04-27 02:30] Micalson opened #3134 "When entering Chinese quotation marks, the Chinese in the editor is misaligned"
Hello, thank you for your contribution. The note is very helpful.
I have found the following problem:
When entering Chinese quotation marks, the Chinese in the editor is misaligned. As shown below.
![image](https://user-images.githubusercontent.com/45941423/80328393-cb32af80-8871-11ea-82c4-7b1a41d0c010.png)
The more Chinese quotation marks entered in a line, the greater the offset.
How to fix this

[2020-04-27 05:14] tbm commented on #2225
@mic704b thanks, this is indeed working now! Thanks

[2020-04-27 05:14] #2225 closed

[2020-04-27 06:14] jlgarnier commented on #2166
Hi there,
Unfortunately, the issue has not been solved. The only workaround is to switch to a Dropbox sync, which has its own problems...

[2020-04-27 06:37] kowalskidev opened #3135 "Long mermaid graph break in PDF"
## Environment

Joplin version: 1.0.201
Platform: Windows
OS specifics: Windows 10

## Steps to reproduce

1. Create a long mermaid graph.
2. Export note containing long graph into PDF
3. Check exported PDF

- The markdown to create long graph:
[code]

- The snapshot of exported PDF:
![image](https://user-images.githubusercontent.com/15380913/80340954-333bc280-887f-11ea-9616-fe470b2988a6.png)

##

[2020-04-27 10:45] laurent22 commented on #2197
For feature requests please open a discussion about it on the forum.

[2020-04-27 10:45] #2197 closed

[2020-04-27 10:48] Perkolator commented on #2197
This is not a feature request. My first post clearly underlines problems with the revision/version system.

[2020-04-27 12:16] stefan2904 commented on #2502
I think this at least required a "this is indeed a bug" or a "works as intended, wontfix". :-)

[2020-04-27 12:36] teddyzhai commented on #2595
@Rahulm2310 , I am on version 1.0.201 for Linux.
![image](https://user-images.githubusercontent.com/25607359/80372728-42793b00-8894-11ea-8104-f7bf5e8c99ca.png)

Under Edit tab, there is no `undo` or `redo`. Can you please point me to the right place? thanks.

[2020-04-27 12:55] G1TE5H opened #3137 "Using Font Awesome Lib. for Icons"
This has been discussed in forum here https://discourse.joplinapp.org/t/using-font-awesome-lib-for-icons/8222

This image illustrate the need of changing font library.
![ft vs fk](https://user-images.githubusercontent.com/58145476/80374275-0f46a400-88b4-11ea-8d4a-64d55e8ea539.png)

I have already done the require changes for in Joplin and next step is making PR

[2020-04-27 14:02] coderrsid commented on #2595
Yeah we know that. But if the focus of cursor is in editor. Press Ctrl+Z for undo & Ctrl+Shift+Z for redo, it will work till the last note sync.

[2020-04-27 16:01] Datamance opened #3139 "After most recent update, CLI app looking for wrong version of node_sqlite3"
Just updated joplin with homebrew yesterday - seeing this today when trying to start up the joplin CLI gives me this:

[code]

Correct, there's no module there at `.../binding/node-v79-darwin-x64/...` - but there is one at `.../binding/node-v83-darwin-x64/...`

Using [asdf](https://github.com/asdf-vm/asdf) for version management, not that it matters.

## Environment
Joplin version:
[code]
Platform

[2020-04-27 16:44] Datamance commented on #3139
Nevermind - it looks like this is a duplicate of https://github.com/laurent22/joplin/issues/886, which in turn refers to https://github.com/mapbox/node-sqlite3/issues/1064.

I think when I ran `brew update && brew upgrade` my brew version of node got updated to 14.0.0, whilst my asdf-managed version was still at 13.12.0.

Once I upgraded my asdf-managed version, it was all good to go. I also unins

[2020-04-27 16:44] #3139 closed

[2020-04-27 19:05] digdug999 opened #3140 "Regression - Joplin terminal application"
Joplin terminal application was working fine until today (despite the various electron issues).

Today joplin terminal refused to start with a 'MODULE_NOT_FOUND' error.  Was working fine yesterday.  Didn't see any obvious candidates in /var/cache/pacman/pkg that would have broken this since yesterday.

`
% joplin
internal/modules/cjs/loader.js:1017
  throw err;
  ^

Error: Cannot find module '/usr

[2020-04-27 23:37] #3130 closed

[2020-04-27 23:40] tessus commented on #3140
The only supported way to install the terminal app is to use `npm -g install joplin`. Please report this problem to the AUR package maintainer.

[2020-04-27 23:40] #3140 closed

[2020-04-28 01:43] feoh commented on #3117
Near as I can tell there is a bug here but not the one I reported. I suspect there was an initial error in my configuration that I entered, and the app didn't seem to change that no matter what config settings I changed from the UI.

After reading about various people having problems with getting https to work, I uninstalled the IOS app, reinstalled, and entered the config information afresh using

[2020-04-28 01:43] #3117 closed

[2020-04-28 08:05] axq commented on #3103
@mrozekma you can just submit a PR to fix here: https://github.com/laurent22/joplin/blob/a4cc2076d70a19a50730a98615c86eaab448e358/docs/index.html#L632

[2020-04-28 09:49] foxmask opened #3141 "Using Token in HEADER instead of query parameters"
Could it be possible to move the usage of the token from the query parameter to a HEADER like X_JOPLIN_TOKEN or something like that, which could be little be more secure and avoiding to be exposed by intermediaries ?

[2020-04-28 10:57] foxmask commented on #3133
when you open an issue there is a template asking information such as OS version and so on...

[2020-04-28 13:38] arkeane opened #3142 "White top and bottom bars dark theme iOS app"
In the iOS app part of the top and bottom bars remain white when switching to dark mode
![IMG_0174](https://user-images.githubusercontent.com/47981941/80493462-bb949300-8965-11ea-81eb-172d6271b599.PNG)

## Environment

Joplin version: 10.0.47
Platform: iOS
OS specifics: iOS 13.4.1 on iPhone 11

## Steps to reproduce

1. Go to settings
2. Change the theme from light to dark or dark OLED

## Describ

[2020-04-28 13:43] rabeehrz commented on #3142
Hey @arkeane ,
This has been fixed via #3055 and will be released in the next update.

[2020-04-28 14:11] Rclardy commented on #51
So far I enjoy the note taking experience. Would like to be able to move notes up and down with in a notebook though.

[2020-04-28 14:30] arkeane commented on #3142
Sorry I did not see it

[2020-04-28 14:30] #3142 closed

[2020-04-28 14:32] ebayer commented on #3004
I have done more testing.

First of all, this problem has nothing to do with Nextcloud sync. I have set up a copy of Nextcloud dir in my home directory (cp -a) and tried to sync. Initial sync did not start at all without the afforementioned disable/enable web clipper workaround. All sync operations hanged after initial sync is finished, and I could not find any way to cause a trigger to update the

[2020-04-28 15:36] fdterr commented on #2958
I am also having this issue - using Joplin version 1.01.199 on Mac OS Catalina version 10.15.3

[2020-04-28 16:04] intrd opened #3143 "Security vulnerability"
Hello guys, I sent an email with a poc and opened the issue here for reference and disclosure if allowed.

## Environment

Joplin version: Joplin 1.0.201
OS/Platform: prod,linux

## Steps to reproduce
[REDACTED]

[2020-04-28 16:44] arkeane commented on #3142
When will it be released?

[2020-04-28 17:06] bedwardly-down commented on #3004
@ebayer, glad for the follow up and test info. I’ve closed #2518 and reopened it as #3114 with more information and a ckeaner layout; the UI thing you found is in line with what we’ve discovered there. Laurent is looking into implementing a bandaid fix that may help solve this issue too.

[2020-04-28 17:07] intrd opened #3144 "Security vulnerability (2)"
Hello guys, I sent another email with a poc and opened the issue here for reference and disclosure if allowed.

## Environment

Joplin version: Joplin 1.0.201
OS/Platform: prod,linux

## Steps to reproduce
[REDACTED]

[2020-04-28 18:00] laurent22 commented on #3144
The second one is a known issue, which is being addressed in a pull request.

[2020-04-28 18:00] #3144 closed

[2020-04-28 18:13] Ahmed-E-86 opened #3145 "Some mathematical symbols appear as bullets"
Whenever I add mathematical symbols like (+),  (-), and (*) at the beginning of any line, they appear as bullets.

**Example:**

![Screenshot_20200428_201437](https://user-images.githubusercontent.com/29783425/80522466-e80fd580-898c-11ea-90b5-02f5331d6b60.png)

![Screenshot_20200428_200958](https://user-images.githubusercontent.com/29783425/80522091-48524780-898c-11ea-92aa-f3540c5681a5.png)

## En

[2020-04-28 18:29] Ahmed-E-86 opened #3146 "A missing feature"
There is no ability to align the text to the right, everything is always aligned to the left side, and that is not good with languages that can be written from right to the left like Arabic, Persian, Urdu, and Hebrew.

## Environment

Joplin version: 1.0.201
Platform: Linux
OS specifics: Kubuntu 20.04

[2020-04-28 19:27] dpoulton-github commented on #3145
I believe that this is intended behaviour and not a bug as these symbols at the start of a line and followed by a space are Markdown codes for bullet points.

If you want to see them as mathematical symbols you can either omit the space or "escape" the symbol (i.e. tell Joplin it is not a Markdown code) by preceding it with a backslash.

![Markdown](https://user-images.githubusercontent.com/601174

[2020-04-28 20:24] Ahmed-E-86 commented on #3145
Thanks :+1:

[2020-04-28 20:24] #3145 closed

[2020-04-29 00:02] nickian opened #3147 "Scroll Past End in Editor"
This is more of a feature request than a bug, but would you consider setting this option to a value that would give some bottom padding to the Ace editor used in Joplin?

`scrollPastEnd: number|boolean`

https://github.com/ajaxorg/ace/wiki/Configuring-Ace

I'm not sure if it's possible to include this as a setting in Joplin's settings. That would be even better.

[2020-04-29 00:52] metorm commented on #2674
@stale The issue is not fixed yet.

[2020-04-29 01:37] Rishgod commented on #3059
@kowalskidev You can go ahead with this if you want to.

[2020-04-29 07:13] fosslinux commented on #3110
It is certainly related to the revision service, I think. Mine always seems to fail on:

[code]

I think this is related to the revision changes introduced back in .150 or something.

[2020-04-29 07:21] kowalskidev commented on #3059
Okay thanks... I'm working on it

[2020-04-29 07:35] G1TE5H opened #3149 "Animation Slide for sidebars on hide and show"
There is no animation right now in sidebars just we have in rotating button icons.
![j no anim](https://user-images.githubusercontent.com/58145476/80571300-0243c500-8a1a-11ea-9127-38f665acad09.gif)

Adding Pull Request

[2020-04-29 08:36] fosslinux commented on #3110
Hm, changing the sync to Disabled seems to "fix" it.. Not a solution, more of a workaround... let's see how it goes.

[2020-04-29 09:24] coderrsid commented on #3147
I'm working on this.
/claim

[2020-04-29 10:16] coderrsid commented on #3147
Well, i tried adding `scrollPastEnd` to the ace-editor options @nickian . So, below is the gif with a value of `0.2`, does that seems like enough space? coz adding more space can make an inconsistency between the scrolling of editor / renderer. Do tell me if you think of some change! Thanks. Laurent, you too please!

![edited](https://user-images.githubusercontent.com/35633575/80585093-59549480-8a

[2020-04-29 14:29] Rahulm2310 commented on #3146
@Ahmed-E-86 Feature requests must be discussed in the forum instead of cluttering up the Issues.

[2020-04-29 16:00] Ahmed-E-86 commented on #3146
I have just read this discussion, and I fell like it is a dead end.

Someone make a project to help Writing Markdown in Arabic >>> https://github.com/ahmadajmi/markdown-arabic

[2020-04-29 18:49] #2658 closed

[2020-04-29 21:39] pheidrias commented on #375
I would very much appreciate hierarchical tagging, too!

[2020-04-29 22:14] kurtis318 opened #3151 "Joplin not working on Fedora 32"
I got the following window when I tried to run Joplin on Fedora 32 today.

![image](https://user-images.githubusercontent.com/8187747/80651553-bb66c700-8a3b-11ea-84ff-31b9c9881627.png)
Not sure if this is a bug with Joplin or Fedora 32.  Would be nice to use it on my laptop again.

## Environment

Joplin version: 1.0.201
Platform: x86_64
OS specifics: Fedora 32

## Steps to reproduce

1. Run the c

[2020-04-29 23:22] laurent22 commented on #3151
What command did you run to install the app?

[2020-04-30 00:23] nickian commented on #3147
That looks awesome! I just don't like it being right up against the edge.

[2020-04-30 04:26] kurtis318 commented on #3151
I used:
[code]

[2020-04-30 05:32] Rahulm2310 commented on #3135
It happens only when exported in portrait mode. In landscape mode there is no issue

[2020-04-30 05:51] Rahulm2310 opened #3152 "Desktop : Viewer scroll behavior"
## Environment

Joplin version: 1.0.201
Platform: Windows
OS specifics: Windows 10

## Part 1
The viewer adjusts it's position to top after every line. It is similar to #2702

## Part 2
The viewer doesn't start scrolling until the editor starts to scroll.

## Steps to reproduce

1. Add an image or create a mermaid graph
2. Start typing below it
3. Keep typing until the img/graph is completely out

[2020-04-30 06:44] ylc395 opened #3153 "Goto Anything doesn't work when typing Chinese"
## Environment

Joplin version: 1.0.201
Platform: macOS
OS specifics: 10.15.4

## Steps to reproduce

1. Type some Chinese characters in Goto Anything
2. Nothing show up even if delete Chinese characters and type some English characters util reopen Goto Anything

## Describe what you expected to happen
Goto Anything can work with non-English characters

## Logfile

[code]

This issue is maybe rela

[2020-04-30 06:52] spktkpkt commented on #3114
After some days of testing i have to say, to set the maximum connections to 20 isn't the solution. I encountered serval random sync/save problems. Sometimes everything seems alright, but then the GUI doesn't refresh anymore and changes are not saved. Slowly, the initial "Well ok, then I reload the WebClipper." changes into real frustration. To start and stop the WebClipper doesn't always solve the

[2020-04-30 07:11] Rahulm2310 commented on #3153
@ylc395 I checked it. Goto Anything is perfectly working with `arabic`, `cyrillic`and `hindi` . So it is not about all non-english characters. But yeah, there is issue with chinese

[2020-04-30 07:20] ylc395 commented on #3153
@Rahulm2310 I've been checked out the source code. While search with ja, zh, ko, th, the `SearchEngine` will return a basic search result instead of a standard search result, and this breaks the code

[2020-04-30 07:48] kowalskidev commented on #3135
I knew that it's obvious but that's not an ideal solution! Graph should be scaled to fit in the page then graph will be little small but that would be better then broken graph and if it looks too small then user will consider to export in landscape mode.

[2020-04-30 08:07] Rahulm2310 commented on #3135
I was not proposing a solution. It's just what I noticed. Ideally, graph should fit within the page

[2020-04-30 08:47] svalaskevicius opened #3155 "Desktop: Mermaid rects are very tall"
in a simple mermaid graph, the boxes are very tall. This is not the case in a standalone mermaid.

## Environment

Joplin version: 1.0.200, rev 142976f
Platform: linux
OS specifics: nixos

## Steps to reproduce

create a note with

[code]

## Describe what you expected to happen

Box A should be of reasonable size

[2020-04-30 09:01] nikoloskid commented on #3114
My situation is same as yours, max connections doesn't do anything, and WebClipper is always **solution** for me - after GUI freezes and I can't write, save or navigate through Joplin's notes.

[2020-04-30 09:16] coderrsid commented on #3147
Thanks. I'll just add a pull request.

[2020-04-30 09:47] coderrsid commented on #3155
I see them like the exact size which is shown in the library [here](https://mermaid-js.github.io/mermaid/#/flowchart?id=an-open-link)

![image](https://user-images.githubusercontent.com/35633575/80696738-7c954780-8af5-11ea-80f2-014f33cab79a.png)

[2020-04-30 10:35] svalaskevicius commented on #3155
Hmm. I'll play around a bit more then, will reopen the ticket if it looks it's not some other local config. Thanks :)

[2020-04-30 10:42] coderrsid commented on #3152
Are you working on this too?

[2020-04-30 10:45] StanczakDominik commented on #3114
Yeah, that's how it's gone for me as well. Max connections don't really help.

Perhaps another impactful factor might be that I'm using file system sharing with Syncthing?

[2020-04-30 10:56] spktkpkt commented on #3114
Me too. I have "Synchronization interval" _Disabled_ and sync/save only with `CTRL` + `S`.

[2020-04-30 11:01] luckydays commented on #375
@laurent22 could you perhaps comment on whether this feature is in the pipeline, please?
It would so incredibly awesome to have the hierarchical tags in Joplin!

[2020-04-30 11:09] svalaskevicius commented on #3155
![2020-04-30-120849_2272x542](https://user-images.githubusercontent.com/893660/80703829-6aa6ab00-8adb-11ea-90a9-842783ff0ce0.png)

All default settings, not sure what else could impact it.

I'm using nixos btw - could packaging have affected it?

[2020-04-30 12:00] bedwardly-down commented on #3114
It happens to me on Nextcloud sync, so syncthing isn’t really a factor.

[2020-04-30 12:06] Rahulm2310 commented on #3097
I think @dpoulton-github is right. @laurent22 What do you say ?

[2020-04-30 13:14] laurent22 commented on #375
@vsimkus has implemented it in [this PR](https://github.com/laurent22/joplin/pull/2572) and I'm planning to review it soon.

[2020-04-30 13:55] coderrsid commented on #3155
Maybe, i don't have much idea about Linux related stuff. But @bedwardly-down , can you please help him if it's related to nixos. Thanks.

[2020-04-30 15:07] lord-aerion commented on #1085
Note sharing is still a much desired feature, please keep this open.

[2020-04-30 15:11] bedwardly-down commented on #3155
@svalaskevicius, are you running the version released from the Joplin repo directly or one released by your package manager? If the latter, they may have done something funky with it that is beyond my personal knowledge.

I'm on Artix Linux and this is what I'm getting:

![2020-04-30-100815_1919x1079_scrot](https://user-images.githubusercontent.com/59133880/80726964-b9981480-8aca-11ea-9d05-375c1cc

[2020-04-30 17:30] kowalskidev commented on #3135
@Rahulm2310  Pardon me I was trying to explain that ideally that should not be the case like it is working for landscape mode and breaking in portrait mode.

[2020-04-30 18:23] blowin opened #3157 "Problem with tags for duplicate note"
When you make duplicate note and start remove tags. The record on the basis of which the copy was made loses all the tags.

Joplin 1.0.201 (prod, win32)

[2020-04-30 21:20] tim-elmer commented on #2244
As suggested by the presence of an upstream issue (https://github.com/laurent22/joplin/issues/2244#issuecomment-573660411), this also affects Windows (and presumably any other platform using ace).

[2020-04-30 23:29] Westie1012 commented on #3155
I'm having the same issue on Linux Mint and my default font is ubuntu mono.

[2020-04-30 23:48] laurent22 commented on #2197
It's not entirely clear to me if it's a bug or a feature. The note revision service saves revision according to various rules, so what might look like a bug could actually be expected. There's info about these rules in the original pull request and blog post.

[2020-05-01 04:46] Rahulm2310 commented on #3155
I can confirm this on Windows as well

[2020-05-01 06:57] G1TE5H commented on #3157
I tried to reproduce this but my duplicated note doesn't have any tags.
@laurent22  What is the right behavior for this?

Using Joplin 1.0.201 (prod, win32)

[2020-05-01 07:08] Rahulm2310 commented on #3157
I think tags from the original note are not added to duplicate ones

[2020-05-01 07:52] svalaskevicius commented on #3155
Btw I checked the svg using inspector, it actually has high height values on the boxes. So would be natural to blame mermaid, however running mermaid alone works OK.

So are there any parameters/config passed to mermaid that confuse it? Also I only tried the latest mermaid from git, could it also be a problem in some earlier version that's used in joplin?

[2020-05-01 09:51] Perkolator commented on #1818
Still not fixed. Tested again with android version 1.0.329.

[2020-05-01 09:52] jhscheer commented on #3151
Hi,
I just upgraded to Fedora 32 and did a fresh install of Joplin with `Joplin_install_and_update.sh`.
I'm using Gnome not KDE, and so far Joplin works fine.

[2020-05-01 11:21] jyuvaraj03 commented on #3157
Yep, that seems to be the behavior. I looked at the code and it looks like the tags were not copied at all to the duplicated note.

Still not sure if it's intended by Laurent though. But, I would actually expect the duplicated notes to have the tags duplicated too.

[2020-05-01 11:55] bedwardly-down commented on #3155
If it is that, it’d very likely be an issue with the library Joplin uses to integrate mermaid support.

[2020-05-01 14:06] coderrsid commented on #3155
Exactly! We're here just rendering the graphs using library named mermaid-js. All the internal style props of graphs are from there.

[2020-05-01 14:59] G1TE5H commented on #3157
Same

@blowin Share the steps, so we can reproduce.

[2020-05-01 16:31] rossorp commented on #2768
I just checked and it is still an issue with v1.0.201 on Ubuntu 20.04.

![image](https://user-images.githubusercontent.com/1185919/80821820-652b8c80-8bd1-11ea-8758-b8c92e544dd7.png)

[2020-05-01 16:42] taw00 commented on #3110
And now I get this:
[code]

Make me wonder if I need to nuke my database and restore from backup.

[2020-05-01 16:56] lmjst commented on #3133
Hello,
Here is my config :

[code]
Hope this help
thanks

[2020-05-01 22:32] RelativeParadox commented on #51
Manual sort order is essential for functionality, even if it is just a keybinding to move the note up or down in the list. I also agree with bernieke, notebook by notebook configuration would be nice, is there anyone working on either?

[2020-05-01 23:09] danielsouzat commented on #3114
With placeholders and testing I found that the syncing is hanging in this section of *synchronyzer.js*:

[code]

[2020-05-02 05:52] kurtis318 commented on #3151
I just verified on two new installs of Fedora 32 KDE spin that Joplin does work properly.  Not sure what my original problem was but it looks like there is no bug.  Sorry for not doing better testing.

[2020-05-02 05:52] #3151 closed

[2020-05-02 07:35] blowin commented on #3157
I tried to reproduce and understood. Tags disappear from the main record when I transfer the duplicate to another book.

[2020-05-02 07:36] blowin commented on #3157
I tried to reproduce and understood. Tags are not copied to duplicate.

[2020-05-02 08:09] mareksamec commented on #3114
I use filesystem sync and I can confirm I have the same issue. Max connections does not help:
Linux HP 5.6.7-arch1-1 #1 SMP PREEMPT Thu, 23 Apr 2020 09:13:56 +0000 x86_64 GNU/Linux

[2020-05-02 08:51] PHJJJJ opened #3158 "Display error when inserting korean on the text editor"
## Environment

Joplin version: 1.0.201
Platform: Win 10
OS specifics:

## Steps to reproduce
this error is only occurred on the text editor. the title is okay.

![ezgif com](https://user-images.githubusercontent.com/17069231/80859604-2cf18000-8c9d-11ea-93dc-73dfee9a8d29.gif)

[2020-05-02 10:22] butterflyx commented on #3152
I have the same issue.
Only on pages with Mermaid diagrams in it.

OS: Win 10 home, 1903
Version: Joplin 1.0.201 (prod, win32) and 1.0.200 as well

[2020-05-02 10:49] #1458 closed

[2020-05-02 11:13] chjohn22 commented on #15
@lord-aerion Maybe there could be an F-Droid-Version without push support until a version with an alternative push provider is available? In my opinion, push is not a must-have corefeature of note-taking apps.

[2020-05-02 11:29] danielsouzat commented on #3114
Adding a little bit. WebClipper workaround worked 100% of the times with me but whatever it's doing it happens when stopping it.

[2020-05-02 12:10] laurent22 commented on #15
Unfortunately there’s almost no chance we’ll support an alternative push provider. It’s a lot of work and we don’t have that kind if resources to support this. A version without notification support, maybe, assuming someone is willing to figure out hiw to do this.

[2020-05-02 13:11] bedwardly-down commented on #3114
@danielsouzat , your findings match the findings of a couple other users in the old report. Are those comments your own or what’s in the code?

[2020-05-02 13:25] danielsouzat commented on #3114
What's in the code.

[2020-05-02 13:26] danielsouzat commented on #3114
@bedwardly-down what's in the code.

[2020-05-02 15:10] IzzySoft commented on #15
@laurent22 You'll certainly need a separate FOSS flavor for this. A possible approach then might be to route all Push calls via a single local class¹, which exists in two variants: the one for the "Google flavor" forwards them to the corresponding FCM classes – and the one for the "FOSS flavor" is just a stub, doing nothing but to return the "expected result" (like success, true, whatever). Now ma

[2020-05-02 15:53] roman-r-m commented on #2685
Nope, still not fixed.

[2020-05-02 16:54] kurtis318 commented on #3151
FYI.  I tried re-installing Joplin on my XPS 15 with Fedora 32.  Same issue as before.  I found this issue:  [Fatal error: unknown table: settings #2670](https://github.com/laurent22/joplin/issues/2670).  I noticed there was a reference to ~/.config/joplin-desktop.  Deleting this directory made Joplin work properly.

[2020-05-02 19:48] danielsouzat commented on #3114
Somewhat related is issue #2191.
https://github.com/laurent22/joplin/issues/2191

A workaround would be to disable periodic sync but the app will sync every time the focus change to a different notebook or note regardless of the chosen setting.

The app is unusable right now in a production environment. Due to WireGuard merge in Linux 5.6, there's a big appeal to not stay in Linux 5.4.

[2020-05-02 20:49] #2727 closed

[2020-05-02 21:28] luxintra commented on #2761
Yea I still have this issue on Joplin-Desktop using Manjaro Kernel 5.6.4-1

[2020-05-02 21:49] #2513 closed

[2020-05-02 22:02] bedwardly-down commented on #3114
Wireguard could definitely be something that would go hand in hand with Joplin. I just perused its website and i can see the appeal. https://www.wireguard.com/

[2020-05-03 06:18] ivysrono opened #3160 "Feature request: support font settings for android."
Mobile need settings for fontSize and fontFamily just as desktop.

[2020-05-03 06:39] rossorp commented on #2770
Still an issue on Android with v1.0.329

[2020-05-03 09:14] gaalcaras commented on #1728
This would be a *very* useful feature, so I'm adding my comment here to bring this issue to the top. Hope that @laurent22 will be able to study your proposal!

[2020-05-03 09:33] rabeehrz commented on #3160
Hey @ivysrono ,
Feature requests should be discussed in the forums first. 😅

[2020-05-03 10:06] ivysrono commented on #3160
Sorry.

[2020-05-03 10:06] #3160 closed

[2020-05-03 12:57] foxmask commented on #1916
i still have that issue ...
except that I can scroll faster than before but:
1) when I scroll ; Joplin close the app. So I open again joplin and return to the opened note
2) when I enter text at the bottom, the cursor move somewhere else in the text and add random text i did not enter ...
3) so I open the desktop note I am editing on the mobile to fix the typo to roolback the original text.
then s

[2020-05-03 16:22] #2742 closed

[2020-05-03 17:46] laurent22 opened #3161 "Application crashes when trying to print"
See here: https://github.com/laurent22/joplin/blob/51732a5adb72f9c3a2b95f4f9aa9f6e949aa3e42/ElectronClient/InteropServiceHelper.js#L72

Maybe a Chromium bug? https://github.com/electron/electron/issues/19946

[2020-05-03 23:37] danielsouzat commented on #3114
As this is definitely related to a unknown upstream issue I updated almost all dependencies to their latest versions. Had to fix a couple of issues but I got it all working or at least I got rid of all errors and warnings. That alone did not solve this issue but made it more difficult to trigger. Later I found a fix for the issue and I'm not reproducing it anymore in my development environment.

I

[2020-05-04 09:09] konglhui opened #3163 "typora: picgo upload image failed"
1. Failed to open typora in joplin using picgo to upload image.
![图片](https://user-images.githubusercontent.com/33919041/80950915-635c0600-8e29-11ea-8603-0573d996db09.png)

2. open typora desktop ,Image can upload succeed.
![图片](https://user-images.githubusercontent.com/33919041/80950988-8b4b6980-8e29-11ea-8a25-3e579a7044df.png)

I don't know what append.

[2020-05-04 10:15] robsonpeixoto commented on #275
Maybe could use this: https://www.npmjs.com/package/electron-spellchecker
From description:

electron-spellchecker:
- Spell checks in all of the languages that Google Chrome supports by reusing its dictionaries.
- Automatically detects the language the user is typing in and silently switches on the fly.
- Handles locale correctly and automatically (i.e. users who are from Australia should not be c

[2020-05-04 11:28] #1399 closed

[2020-05-04 15:19] jivi20029 commented on #3153
the same .

[2020-05-04 15:34] takov751 commented on #2460
Hello there.

Joplin version: Joplin-1.0.201.AppImage
Platform: Linux
OS specifcs: Ubuntu 20.04 5.4.0-28-generic

So far no crash at this point only warns about a deprecate function and this error message still persists  and its spawns over the terminal every time you open any of the  menu bar items.

[2020-05-04 21:27] laurent22 commented on #3114
Could someone confirm this fix? Does it work 100% when it's applied?

As mentioned in the PR we can't remove this line as it will be needed when the sync target structure gets upgraded, but maybe we can fix this some other way.

[2020-05-04 21:48] laurent22 commented on #176
@deftdawg, I can't replicate this bug. Do you have a step by step example with Markdown sample that shows how to replicate it?

[2020-05-04 22:09] bedwardly-down commented on #3114
I’m heading to work but could try it out when i get home this evening. Also, @danielsouzat, have you attempted to see if maybe there’s a library out there that could be implemented only for the Linux client that might have this fixed?

Since this is a Linux only issue, there’s no point in taking a chance with breaking other platforms; your fix would break mobile along with Windows and Mac. Thought

[2020-05-04 22:33] danielsouzat commented on #3114
@laurent22 worked 100% of the while exhaustively syncing to folder and navigating through notes and notebooks. Still would be great if we knew it also works 100% for other sync drivers.

A better thing would be to upgrade the code but that may take a while as we don't know why it isn't working. I may look into it at another time. The version.txt value can be stored at memory at startup or when syn

[2020-05-04 23:03] bedwardly-down commented on #3114
@danielsouzat , I really should have checked the actual commit. I didn’t read the changes made just the comments. Again, maybe there’s a way to work around it with another library that only loads when Linux is the platform and kind of acts as a bandaid

[2020-05-05 00:12] adamshand opened #3166 "On Linux, after importing a file the create and modify time appear backwards"
I'm in the process of moving from macOS to Linux.  I'm exporting old journal entries from DayOne into markdown and then trying to load them into Joplin (which looks great, thanks!!).

The timestamp on the files before import is correct but when they get imported Joplin sets  "Created" to the time of import and "Updated" filesystem mtime (modification time).

This means that when the file is update

[2020-05-05 02:26] adamshand commented on #3166
Note I've just checked the behaviour on macOS and it works correctly.

[2020-05-05 03:17] tessus commented on #3121
But we have a GSoC project for custom keyboard shortcuts, which will allow you to specify the shortcut you want for this.

[2020-05-05 03:17] #3121 closed

[2020-05-05 05:39] 14SHIKE opened #3167 "Joplin Web Clipper"
Please save web pages and screenshots from mobile  browser,not just desktop app

[2020-05-05 09:30] RebelCoderRU commented on #3114
Same issue here on:
`5.6.8-1-MANJARO`
`Debain 10 Testing`

Joplin is unusable on both. After running Joplin, first few syncs work just fine, but on a 4th or 5th sync it is stuck in constant sync and shows that it is trying to sync one note. You can still navigate notes but can't edit them, This issue is happening for last 2-3 releases.

[2020-05-05 11:37] #2756 closed

[2020-05-05 12:08] figue commented on #3114
The workaround doesn't work for me (Archlinux, fully upgraded and clean compilation with patch).

[2020-05-05 13:13] m-angelov commented on #3114
Commenting out this line doesn't work for me as well.
Kernel `5.6.8-arch1-1`, Joplin `1.0.204`

Some (probably) unrelated things:
- For some time now I'm unable to open the application by single left clicking on the tray icon. When I press the mouse button, the right click menu pops up, so I have to click "Open Joplin".
- In my previously installed version (`1.0.199`) I wasn't able to do a JEX for

[2020-05-05 13:21] bedwardly-down commented on #3114
On the 1.0.199 JEX issue, I believe that was a known bug across all desktop platforms.

I haven't tested the workaround listed by @danielsouzat yet but it sounds like it's not viable either.

[2020-05-05 13:47] bedwardly-down commented on #3114
I can verify it doesn't work with Nextcloud sync. In fact, the app doesn't sync at all or attempt to do anything useful on my end.

[2020-05-05 15:09] internalfx commented on #1293
This is still a thing....

[2020-05-05 15:44] kevinmickey commented on #1388
Based on https://github.com/laurent22/joplin/pull/2369#issuecomment-578525402, I think we need some specification agreed upon before a PR can be written and rejected again.  There seems to be community support for this feature, at least as an option.

[2020-05-05 16:28] heseber commented on #1293
Absolutely, I still need this to separate business and private notes on different storage systems.

[2020-05-05 17:53] figue commented on #3114
In my Linux laptop which I was testing the workaround, I have filesystem syncronization, but directory is in a Nextcloud folder. Is this related?

[2020-05-05 17:57] datashow opened #3168 "Sync to "file system" targeting a directory within a local cloud folder?"
I have tried to sync through OneDrive and Dropbox, and both had issues.

My question is, since we can choose to sync to "File system", is it OK for me to just set the directory to be a folder within my local cloud folder, such as "*/Dropbox/Joplin" or "*/Onedrive/Joplin"?

The reasoning of this is that the syncing will no longer go through the OneDrive or Dropbox API, so we won't receive weird err

[2020-05-05 19:09] #2758 closed

[2020-05-05 19:24] mgrandi commented on #1232
Doesn't it compress all images rather than just large ones?

On Sat, Apr 25, 2020, 00:33 Reynold Liu <notifications@github.com> wrote:

[2020-05-05 21:09] m-angelov commented on #3114
I looked over my notes from the previous tests, and a good place to check is: \_https://github.com/laurent22/joplin/issues/2518#issuecomment-590805717\_ and the following comments by me and others.

I commented out the whole DELTA part in the synchronizer.js, as this was solving the issue last time. I did ~40 syncs successfully, and then about 30 minutes later while editing a note, it got stuck. S

[2020-05-05 21:11] figue commented on #3114
@m-angelov in my case sync works a few times, and the stuck, as you said. I think the problem is in another part.

[2020-05-06 00:11] #2750 closed

[2020-05-06 02:36] FuturePilot commented on #1030
Not fixed

[2020-05-06 05:52] brusapa opened #3169 "Synchronization error Seafile"
Hello everyone,

I have been using Joplin for about two months without problems, and I think it is a really nice software. However, since a few days ago I'm experiencing synchronization issues.

This is the error that I get when I use the "Check synchronization configuration"
[code]

I haven't changed the configuration since the first day, so I'm guessing that the problem has nothing to do with th

[2020-05-06 06:33] roman-r-m commented on #3169
`502: Bad gateway` looks like a server-side issue to me. Have you checked traefik or seafile logs for any issues?

[2020-05-06 07:05] JOJ0 commented on #1030
Hi @FuturePilot

well, that's not entirely true ;-) actually there is a very great beta feature out that gives you a markdown toolbar for a couple of things: https://github.com/laurent22/joplin/pull/2224

discourse topic: https://discourse.joplinapp.org/t/feature-request-list-continuation-on-mobile/1742/18

check it out!
all the best
Jojo

[2020-05-06 08:02] brusapa commented on #3169
You are totally right, I had the address checked through a web browser, initially thinking that was a Traefik problem, and since it worked I thought it was a Joplin problem. But now I have noticed I can access to seafile, but not to the /seafdav path...

Sorry for not minding this before opening the issue...

Thank you very much!

[2020-05-06 08:02] #3169 closed

[2020-05-06 10:57] dbogdanov commented on #2308
This is not an issue anymore with the new WYSIWYG view.

[2020-05-06 10:57] #2308 closed

[2020-05-06 10:57] thororm opened #3170 "Goto Anything: Keyboard selection starts at bottom of visible results"
## Environment

Joplin version: v1.0.201
Platform: Windows
OS specifics: 10

## Steps to reproduce

1. Open Goto Anything search
2. Enter a search term where the number of results triggers the scrollbar
3. Press the arrow up or down key
4. The selection will be at the bottom of the result list

## Describe what you expected to happen

That the first element of the results is highlighted/selected.

[2020-05-06 12:06] guischmo opened #3171 "Error with CTRL-G search when accents are involved"
## Environment

Joplin version: 1.0.201
Platform: Windows
OS specifics: Windows 10

## Steps to reproduce

1.  Have some notes involving text with accents and some without accents,"
2. Search some text involving letters with potential accents
3. The search will block at some point, look at the screenshot linked below, i searched "ste" and the search stopped at "st" even tho there was some text wit

[2020-05-06 13:06] #3137 closed

[2020-05-06 13:07] #3149 closed

[2020-05-06 13:47] rayrrr commented on #956
@kowalskidev @laurent22 I would very much like to contribute to implementing this as well, and have access to XCode on a Mac (as well as Linux boxes) if that would be helpful in any way.

[2020-05-06 13:52] foxmask commented on #293
i do my "stale bot"
nobody for this issue.

[2020-05-06 13:52] #293 closed

[2020-05-06 15:05] FuturePilot commented on #1030
Awesome! I was not aware of that work being done in #2224. That's exactly what I'm looking for! Hope to see that soon!

[2020-05-06 15:22] laurent22 commented on #3114
Could someone confirm danielsouzat's fix? https://github.com/laurent22/joplin/pull/3165/files It would be good to confirm if this is really the culprit as that could help working towards a fix.

[2020-05-06 15:39] ShaneCarr opened #3173 "Version wrong after update"
## Environment

Joplin 1.0.199 (prod, linux)
Client ID: 20561063b4ac44b8bf330077e7724115
Sync Version: 1
Profile Version: 28
Revision: 53a857b (master)
## Steps to reproduce

1. take  v1
2. check for update and download
3. swap/update the appimage file
4. continues to report previous version.

## Describe what you expected to happen

## Logfile

[2020-05-06 15:57] stevesong commented on #3114
Trying out danielsouzat's fix on Arch Linux 5.6.10-arch1-1 #1 SMP PREEMPT Sat, 02 May 2020 19:11:54 +0000 x86_64 GNU/Linux.  Will report back.

[2020-05-06 16:18] nikoloskid commented on #3114
Testing on Arch 5.6.8-arch-1-1 also.

[2020-05-06 16:21] pyro209 commented on #3114
5303

On Wed, Apr 22, 2020, 6:19 AM Brandon D, <notifications@github.com> wrote:

[2020-05-06 16:23] m-angelov commented on #3114
@laurent22 it seems that the fix is not working for [me](https://github.com/laurent22/joplin/issues/3114#issuecomment-624047240), as well as for [figue](https://github.com/laurent22/joplin/issues/3114#issuecomment-624016569) and [bedwardly-down](https://github.com/laurent22/joplin/issues/3114#issuecomment-624065741).

@figue commenting out the stuff in DELTA worked for syncing when we were last lo

[2020-05-06 16:33] bedwardly-down commented on #3114
Can i block pyro209 from posting on here? It’s a bot that keeps posting others personal info or spam here. I don’t see an option for it. Just delete and report.

@laurent22, I’m taking the morning off from work so I’ll update testing section in main post with our findings.

[2020-05-06 16:56] ldavis2020 commented on #1293
Yes please, I definitely would like this and make great use of it. For me it is all about separating work and private notes.

Joplin is amazing software by the way, I absolutely love it.

[2020-05-06 17:10] laurent22 commented on #3114
Did you report him? I don't think it's possible to block per project, but normally GitHub is quick to look at spammers.

[2020-05-06 17:19] Frivolous2 commented on #3110
Not sure if the same issue, but for me the sync button stops working and I can click on all the other notes in a notebook or even in different notebooks, but the editor remains static on the current, unsaved, note, so I usually just copy the entire thing and restart the app, leading to me seeing it hadn't saved anything for a while(I have set the autosave to 5 minutes.) I then paste the copied not

[2020-05-06 17:31] stevesong commented on #3114
Confirming that commenting out `await this.checkSyncTargetVersion_();` does not solve the problem on Arch Linux 5.6.10-arch1-1 with Joplin .Joplin 1.0.201

[2020-05-06 21:29] BaksiLi opened #3174 "[Terminal App] Map a key to nothing (or overwrite it)"
## Environment

Joplin version: joplin 1.0.163 (prod)
Platform: **terminal**
OS specifics: macOS Catalina

## Steps to reproduce

This is a BUG/Feature request.

I usually use Joplin in a TMUX panel alongside with my project, so that I can switch between the two. Switching panels in TMUX has the default keymap `CTRL_V <direction>`, where `<direction>` being HJKL.

Since Joplin terminal app takes `

[2020-05-07 01:32] taw00 commented on #3110
Yup. Same issue. I am pretty sure that this issue, #3114, #2682, and #2607 are all the same issue.

[2020-05-07 01:41] fosslinux commented on #3110
I think you are right.

[2020-05-07 01:42] fosslinux commented on #3114
I can also confirm this affects me, however when I disable syncing it doesn't occur. I am on Void Linux.

[2020-05-07 03:41] bedwardly-down commented on #3110
Took a quick look at all of the linked issues, @taw00, and they do seem to be all related. #3114 is an extension of #2518 (due to size and lack of being able to manage it). Outside of testing, I myself have stopped using Joplin for the most part due to losing notes and this issue being a burden for my day to day usage.

If you or anyone else here have any insights you'd like to add, feel free to a

[2020-05-07 03:48] bedwardly-down commented on #3114
Could you share what kernel you're running with `uname -a`? I want to keep track of what distros and kernel releases are having issues for new people to see in original post. That way we hopefully don't have a massive flood of reports for every distro under the sun.

[2020-05-07 08:47] laurent22 commented on #1232
Yes this is indeed fixed now as it's possible to select if you want to compress the image or keep the original when attaching an image.

[2020-05-07 08:47] #1232 closed

[2020-05-07 09:28] figue commented on #3114
Can we use an old version as workaround?

[2020-05-07 10:28] naviji commented on #3170
Can't reproduce.
![test](https://user-images.githubusercontent.com/30305957/81284227-76661480-907b-11ea-8d05-a26c357f8819.gif)

[2020-05-07 11:26] dpoulton-github commented on #3167
This isn't really a **bug** for the Joplin Web Clipper as the Web Clipper is a desktop browser feature only.

This seems to be more a feature request and should really be posted on the [Joplin forum](https://discourse.joplinapp.org) so as to leave the GitHub Issues list for confirmed bugs and to try to keep the list under control.

Please don't be disappointed if one of the devs just closes this i

[2020-05-07 11:55] graphit0 commented on #176
Client:
Joplin 1.0.201 (prod, win32)
Revision: e65af8c1 (master)

I'm experiencing a seemingly similar bug @deftdawg described: new empty row of a table appearing after saving a note.

Steps:
1. Create table in WYSIWYG
2. Write any header of the table
3. Change layout to markdown
4. Change layout to WYSIWYG
5. See the header to be empty whereas the header used in the second step moved down to the

[2020-05-07 14:54] bedwardly-down commented on #3114
@figue , are you meaning version of Joplin? If you’re using encryption, older versions won’t decrypt due to a new encryption algorithm. Also, this issue has been around since at least 1.0.189.

[2020-05-07 15:38] Rolograaf commented on #3170
I can reproduce since I reported this bug on the forum https://discourse.joplinapp.org/t/strange-goto-anything-behavior/8139/3

[2020-05-07 15:52] JOJ0 commented on #1030
you can see that now already! Configuration - Note - Opt-in to the editor beta - enable

[2020-05-07 17:11] naviji commented on #3170
Okay, can give me some more details.

For example, in this issue, it says that the up or down arrow keys are causing the problem.
In the forum, the "enter" key is causing the problem.

Also, does the selection always go to the 16th entry (last?) or does it change?
Try adding what you searched for in the note body. Does it change the selection position?

[2020-05-07 17:57] figue commented on #3114
@bedwardly-down yes, I mean old Joplin version... That's unfortunate. I have to close/open all the time Joplin to sync fine. So if in the meantime I decrypt all should be ok?

[2020-05-07 19:09] boaspartes commented on #3151
Hi.

I have the same error as Curtis318 in Fedora 32, Cinnamon.

[2020-05-07 19:13] what-name commented on #3168
I use MEGA for syncing and I do exactly this. I also have a sync setup for the `joplin-desktop` folder in order to sync my attachments (resources) and .css configs as well between computers. Been working great for a while now.

[2020-05-07 19:25] bedwardly-down commented on #3114
@figue, I'm not 100% sure, especially if you have the mobile apps. I believe that the latest app isn't compatible with older Desktop Joplin versions in other areas, but I could be wrong. If you would like to still test it out and make sure you have a full backup of everything important (since there is always the possibility you could lose some data in the process), feel free to do it. Testing that

[2020-05-07 19:29] what-name opened #3175 "Cursor deactives after attachment is inserted"
After inserting an attachment, the cursor deactivates and I manually have to click somewhere in order to activate it and continue writing.

## Environment

Joplin version: 1.0.200 (prod, darwin)
Platform: MacOS
OS specifics: 10.15.4

## Steps to reproduce

1. Insert attachment with the button in the toolbar

## Describe what you expected to happen
After inserting an attachment, it'd be great not t

[2020-05-07 19:35] chwba opened #3176 "Running multiple profiles, with multiple nextcloud sync locations"
We got one shared nextcloud notebook but I would like to run my personal one next to it is this somehow possible, if so how? (The personal one is stored in a different nextcloud)

[2020-05-07 23:06] #2783 closed

[2020-05-07 23:13] #3176 closed

[2020-05-07 23:14] laurent22 commented on #3168
For support please use the forum

[2020-05-07 23:14] #3168 closed

[2020-05-07 23:45] mgrandi commented on #1232
I say this because i just tried it on the latest version, by dragging and dropping an image onto the joplin window, it did _not_ ask me if i wanted to compress or keep the original

does it only say it if its a large file? i did do a sha1 hash sum on the original and the one in the joplin resources directory and it is the same file

sorry, just want to make sure :)

[2020-05-08 00:20] laurent22 commented on #1232
Yes it only asks if the image is larger than 1920p

[2020-05-08 03:05] NerdsvilleCEO commented on #1293
Are there any plans to add this? I have a workaround which involves using a private git repo and publishing to different repos from there... but if this is something that Joplin should support I can volunteer to implement it @laurent22  thoughts?

[2020-05-08 05:49] amvasilyev commented on #3114
Hello. I came across this problem on Debian Testing. Currently it runs `5.6.0-1-amd64 #1 SMP Debian 5.6.7-1`, but the problem began from 5.5 kernel. U use the latest version of Joplint installed via AppImage.

In my setup I use filesystem synchronization with syncthing taking care of distributing that folder to other machines.

The problem was mostly solved by disabling automatic synchronization.

[2020-05-08 06:40] RobAlexander opened #3177 "Creating a new note deletes current note from view history"
## Environment
Joplin version: 1.0.201
Platform: Windows
OS specifics: Windows 10 build 18362

## Steps to reproduce
1. Observe which note you are currently viewing
2. ctrl-N to create a new note
3. Set title
4. Click back button in note toolbar
5. Observe that you are now on a different note to that observed in (1)
6. Play around with back/forward, and observe that the note from (1) has disappear

[2020-05-08 06:50] RobAlexander opened #3178 "UI issue - back button moves around"
Sometimes I try to click "back" several times in a row, to reach a note I was viewing several transitions ago, and on the the second or later click a dialog pops up saying "Insert Hyperlink". That's because sometimes notes are shown with an "In:<notebook name>" label, and sometimes they're not, so the position of the back button varies between notes.

NB a keyboard shortcut for "back" would mostly

[2020-05-08 06:56] hackhowtofaq opened #3179 "Different todo checkbox behavior in Android vs Desktop"
Hello

In desktop version when you are editing a checkbox and press enter a new checkbox appears in the new line.

![joplin](https://user-images.githubusercontent.com/1138336/81379579-0b1b5180-9112-11ea-9e68-a2f8502efe99.gif)

This is not happening on Android version.

Thank you

[2020-05-08 09:14] laurent22 commented on #3177
The back/forward buttons are being redone, so that issue should be solved.

[2020-05-08 09:14] #3177 closed

[2020-05-08 09:14] laurent22 commented on #3178
The back/forward buttons are being redone, so that issue should be solved.

[2020-05-08 09:14] #3178 closed

[2020-05-08 10:51] ylc395 commented on #3170
I have located the problem. `selectedItemId` is reused between two calls of `updateList`. I will submit a PR to fix this.

[2020-05-08 13:19] figue commented on #3114
After some time (I don't know exactly how many, could be hours), Joplin freeze again without encryption.

[2020-05-08 14:17] sciurius commented on #2886
Isn't it closed already?

[2020-05-08 15:03] bedwardly-down commented on #3114
Is that on an older version if Joplin or just with auto sync turned off (which actually isn’t turning it off). I need to find the post but outside of fully disconnecting from the internet, there’s not any way to have Joplin not sync at all.

[2020-05-08 15:17] figue commented on #3114
Sorry. Joplin 1.0.201, Archlinux. Same version and package as before. just decrypted my data. Auto-sync is on.

[2020-05-08 15:45] bedwardly-down commented on #3114
Added to tests section. Thanks, @figue .

[2020-05-08 15:56] FuturePilot commented on #1030
Awesome! This is great!

[2020-05-08 21:50] taw00 commented on #2607
Dupe of 3114, closing.

[2020-05-08 21:50] #2607 closed

[2020-05-08 21:50] taw00 commented on #3110
I'm closing this since 3114 seems to encompass the issue more cleanly.

[2020-05-08 21:50] #3110 closed

[2020-05-08 22:52] shbach commented on #2883
This is still an issue in Joplin 1.0.201

[2020-05-09 01:30] bedwardly-down commented on #3110
The issue wasn’t really acknowledged for almost a month after. I think much of that could have been due to delay when distros started pushing the 5.5 update.

[2020-05-09 04:08] AceCandy opened #3182 "Does the software not have bulk import function"
Can only be imported individually
on MacOS

[2020-05-09 07:16] d4rwel commented on #3114
Hi, I'm having same problems. After some time the UI becomes unresponsive. Can't tell if sync triggers it. Seems random to me.

Using `Joplin 1.0.201` on `Linux 5.6.11-arch1-1`. Syncing to filesystem.

[2020-05-09 07:21] roman-r-m commented on #3182
File - Import - MD Markdown (Directory) will import all files from a directory. Is that what you're looking for?

[2020-05-09 07:25] roman-r-m commented on #3010
The PR is merged but it only fixes half of the issue - the import still silently fails if Joplin has no write permissions

[2020-05-09 07:28] AceCandy commented on #3182
but I used to use a enernote ，the exported format is enex 😥

[2020-05-09 07:30] roman-r-m commented on #3182
There are 2 different options to import enex? Are they both not working for you?

[2020-05-09 07:32] AceCandy commented on #3182
Single import successful，but  I have hundreds of files。。。It's hard to deal with

[2020-05-09 07:41] roman-r-m commented on #3182
It's been a while since I've last used Evernote but I think you can export all your notes to a single enex file and import it to Joplin

[2020-05-09 08:12] AceCandy commented on #3182
Maybe it's because of the leanote I used before, it exported multiple files. .

[2020-05-09 08:45] mlphresearch opened #3184 "Drag & Drop Reorder Functionality"
While it is possible to drag-and-drop notes from one notebook to another, it would great if you could also manually reorder both notebooks and notes by simply dragging them to a new location. This would be additional to the "Sort by" functionality.

Apologies for not raising this on the forum.

[2020-05-09 10:05] AceCandy opened #3185 "webdav connect 403"
Previously connected successfully,but after using baiduyunCDN, I can't connect,the website can be opened normally. Seeking a solution
![image](https://user-images.githubusercontent.com/6278583/81470841-9b938800-921f-11ea-9144-ea78d1d0868f.png)

[2020-05-09 10:20] ylc395 commented on #3185
这是 CLI 版本的？你具体怎么配置的

[2020-05-09 10:29] AceCandy commented on #3185
就是正常下载的桌面版本最新版(1.0.201)  之前是用起来是没问题的  今天在服务器上使用了百度云的cdn  然后报错了

[2020-05-09 10:39] ylc395 commented on #3185
你是自己架设的同步服务？

[2020-05-09 10:47] AceCandy commented on #3185
对，用的 cloudreve

[2020-05-09 10:52] #2424 closed

[2020-05-09 10:52] #2943 closed

[2020-05-09 10:53] #3131 closed

[2020-05-09 10:59] ylc395 commented on #3185
你是把这个云盘系统部署在公网上，并通过百度云给这个域名加速吗？

[2020-05-09 11:13] AceCandy commented on #3185
对   就是很正常的自建dav  然后之前用的好好的  加了百度云cdn就不行了  不知道是为啥

[2020-05-09 11:18] rossorp commented on #2327
Still an issue with v1.0.329 on Android 9

[2020-05-09 11:32] ylc395 commented on #3185
<img width="679" alt="图片" src="https://user-images.githubusercontent.com/12264626/81472596-b7049000-922b-11ea-83b0-5c25ce979523.png">

你在这里把完整的报错信息贴出来看看

[2020-05-09 11:39] roman-r-m commented on #3107
While the issue is not fixed it should not break synchronization anymore.

[2020-05-09 11:39] #3107 closed

[2020-05-09 11:55] AceCandy commented on #3185
上面的图就是完整的信息了

![image](https://user-images.githubusercontent.com/6278583/81473106-03050400-922f-11ea-8c21-4f953c5a21f9.png)

[2020-05-09 13:51] figue commented on #3114
Joplin 1.0.201, Archlinux. With sync disabled, freeze still happens at some point, leaving Joplin minimized.

[2020-05-09 13:55] laurent22 commented on #3010
Right, i missed that, it should at least print an error in this case.

[2020-05-09 14:33] #2875 closed

[2020-05-09 14:39] #2891 closed

[2020-05-09 14:55] #2915 closed

[2020-05-09 15:01] #2987 closed

[2020-05-09 15:17] #3066 closed

[2020-05-09 15:18] rabeehrz commented on #3184
Probably should raise this on the forum before opening up an issue here. 😅

[2020-05-09 15:19] #3052 closed

[2020-05-09 15:21] #3109 closed

[2020-05-09 15:28] TiberiusRegenschein commented on #176
Client:
Joplin 1.0.197 (prod, linux)

The [toc]  functionality is gone and reverted in links to chapters when toggling between WYSIWYG and otther view.

Steps to reproduce:
1. Add [toc] into a note
2. Switch between other view and WYSIWYG
3. Click on Link from toc
4. Switch back
The result is that the [toc] function is gone

[2020-05-09 16:51] dpoulton-github commented on #3106
Joplin already has a solution to this.

**Tools** > **Layout Button Sequence**

If you set it to **Editor / Viewer** it will save you a click and just toggle between the two full-screen options like you want.

![editor_viewer](https://user-images.githubusercontent.com/60117449/81479816-9e8d7900-921d-11ea-87ef-c7169e88bbb1.png)

[2020-05-09 17:19] dpoulton-github commented on #3173
Possible explanation where the appimage launcher caches the previous appimage of the same name?

https://discourse.joplinapp.org/t/desktop-app-version-issue/8020

[2020-05-09 18:25] CalebJohn commented on #876
Not stale

[2020-05-10 00:46] sulisu commented on #3185
It seems that the webdav server didn't reply correctly. Can you access it with web browser or other webdav clients, such as the winscp, normally?

[2020-05-10 02:50] taw00 commented on #3110
I want to say I saw it right away, but I am likely misremembering.

[2020-05-10 07:06] #2770 closed

[2020-05-10 09:04] AceCandy commented on #3185
I didn't think of a good way.
Finally I closed cdn,now normal

[2020-05-10 10:23] AceCandy commented on #3185
I found out the reason！
Because I opened the general security protection of baiduyunCDN.
The problem was solved after I closed

[2020-05-10 11:13] #3185 closed

[2020-05-10 12:09] mic704b commented on #2409
In a browser, when you go back some steps, and then navigate somewhere new, you lose some of your recent history.  Is this what we want in Joplin?

In Joplin, this means that when stepping backwards, you need to be very careful not to view any other note, because as soon as you do, all your forward history from that point immediately discarded.

In a browser, the forward/backward navigation is com

[2020-05-10 13:00] naviji commented on #2409
I understand your concerns but I haven't seen forward/backward navigation implemented any other way. Not only browsers but also file explorers do it this way. I feel that if we do it in any other way it will feel alien to users.

Can you point me to some applications that implement it differently?

[2020-05-10 15:51] #3143 closed

[2020-05-10 15:52] laurent22 commented on #3143
Thanks for the security report @intrd, this will be fixed from the next release.

[2020-05-10 20:30] deftdawg opened #3193 "Please consider updating Mermaid to 8.5.1"
As of May 10, 2020, Joplin is built against Mermaid 8.4.6

[code]

I'm working on Use Case diagrams and would like to make use of the "autoNumber" keyword added to Mermaid in releases [after 8.4.6](https://github.com/mermaid-js/mermaid/issues/1257).   The use of this word breaks rendering inside Joplin (though it does work with [Markdown Preview Mermaid Support](https://marketplace.visualstudio.co

[2020-05-10 22:12] deftdawg commented on #3193
A little bit more complicated then just updating package.json files it seems...

[ElectronClient/pluginAssets/mermaid/mermaid.min.js](../blob/master/ElectronClient/pluginAssets/mermaid/mermaid.min.js) is actually a static copy of mermaid "version":"8.4.6" from [Joplin's git](https://github.com/laurent22/joplin/commit/1d14c8a706822deda19fdbdbafe8eae1460b9e1b#diff-b261bbd882d7de221bd2b6b68bda62f8) p

[2020-05-10 22:22] deftdawg commented on #3193
Copying over all the old versions of mermaid.min.js I was able to get it to render properly:
![image](https://user-images.githubusercontent.com/4991612/81511978-170e3b80-92eb-11ea-9d2f-caec43f09172.png)

[2020-05-10 23:17] mic704b commented on #2409
@naviji yes, I acknowledge those points.

The model they use is simple to implement and simple to understand. It also has limited usefulness in a single tab application.

After trying it, I realise what I need, as a Joplin user, is a history menu. The menu contains a list of the titles of last notes visited, in order, with the most recent at the top. Clicking on any of them takes you to the note (

[2020-05-11 00:54] matcharles commented on #3114
I first noticed the bug in the 179 or 178 on arch. Could be useful if we have a "start date" as well.

I am now running Fedora 32 Kernel 5.6.7 and still having the same problem I had on Arch. God bless your souls for troubleshooting this bad boy.

[2020-05-11 01:45] bedwardly-down commented on #3114
@matcharles we have a rough idea thanks to @taw00, the Fedora rpm build maintainer. Let me check some things out and I’ll post my findings in the main notes.

[2020-05-11 08:40] TiberiusRegenschein opened #3194 "When switching between WYSIWYG and oder editor [toc] is replaced by normal link list"
Joplin 1.0.201 (prod, win32)

Client-ID: 24f5a6aa3d414d23862ada6e923d8107
Sync-Version: 1
Profil-Version: 28

Revision: e65af8c1 (master)

## Steps to reproduce

1. Add [toc] on plain editor
2. Move to WYSIWYG editor => Display as expected
3. Go back to plain editor => [toc] is replaced with link list

Thanks for fixing

[2020-05-11 10:04] laurent22 commented on #3194
Please see Plugin screen in Option panel

[2020-05-11 10:04] #3194 closed

[2020-05-11 13:26] proinsias commented on #2438
Same problem on macos:

Joplin 1.0.201 (prod, darwin)

Client ID: 1925653ac73840c89b95aa29bf822197
Sync Version: 1
Profile Version: 28

Revision: e65af8c (master)

[2020-05-11 13:34] srustamo opened #3196 "GUI Emacs on MS Windows 10: external editor invocation"
## Environment

Joplin version: Joplin 1.0.201 (prod, win32)
Sync Version: 1
Profile Version: 28
Revision: e65af8c1 (master)

Platform: Windows
OS specifics: 10

## Steps to reproduce

1.  Set text external editor command to:
PATH: C:\ProgramData\chocolatey\bin\emacsclientw.exe
ARGUMENTS: runemacs
2. Open for editing any Joplin note by clicking Edit in external editor
3. Empty buffer opens in Emac

[2020-05-11 13:42] lonix1 opened #3197 "[Feature Request] Demo"
Please consider providing a demo instance.

[2020-05-11 13:46] lonix1 commented on #3197
I see this is actually a native app

Never mind! 😛

[2020-05-11 13:46] #3197 closed

[2020-05-11 15:22] s7x opened #3198 "[Feature Request] Clip simplified/complete page through API"
Hi there!

It would be great to have an API function to save simplified or complete pages directly through API. I know we can specify "body_html" but it messes up stuff (like code blocks) if we do that through the API.

**Sample python code to explain how I get the content:**

[code]

Result with Webclipper for complete page:

![1](https://user-images.githubusercontent.com/33422344/81578635-9dce21

[2020-05-11 15:43] bedwardly-down commented on #3114
@hexclover and @m-angelov , since you guys have been a part of this whole thing for a good while and have been incremental to finding out what's going on here, @taw00 on the forums along with another user on the original issue brought up something we haven't focused on but really should:

`Is this issue actually a part of Electron or somewhere else that needs to be addressed upstream? `

I'm not s

[2020-05-11 16:03] hawalter opened #3199 "Android Index out of Bounds crash when editing"
## Environment

Joplin version: 1.0.329
Platform: Pixel 3XL Android 10
OS specifics: QQ2A.200501.001.B2

## Steps to reproduce

Case 1:
1. Start new note and type a few characters.
2. Touch so cursor moves into the middle of the typed chars.
3. Occasionly, the cursor will spontaneously move before the next to last char.
4. Touch to move cursor after the last char and the app crashes.
Crashed 3 tim

[2020-05-11 16:13] stevesong commented on #3114
Confirming that the freeze happens with sync disabled on Arch linux 5.6.11-arch1-1 with Joplin 1.0.201

[2020-05-11 17:24] ldavis2020 commented on #1293
I'd be curious to know how you have this working. As perhaps that would work for me as an interim solution.

Ideally I'd like something that worked with my usual Sync target (Webdav / Nextcloud)

[2020-05-11 18:34] Gamegenorator opened #3200 "Joplin 1.0.207 breaks inserting images"
As of Joplin 1.0.207 when trying to paste an image with ctrl+v, dragging and dropping an image into Joplin, or even clicking the "attach file" button in the toolbar and locating the image manually, the main view goes white and Joplin becomes unresponsive until forced to restart through the icon in the tray.

![image](https://user-images.githubusercontent.com/38223298/81595471-5da97780-9377-11ea-99

[2020-05-11 18:54] laurent22 commented on #3200
I can't replicate this. Does it happen all the time for you?

[2020-05-11 18:55] Gamegenorator commented on #3200
@laurent22 Yes, it happens every time on both my Windows systems.

[2020-05-11 19:18] Gamegenorator commented on #3200
Something I've just noticed while doing more extensive testing, it's working fine if I attempt to attach images to notes that are located within a standalone notebook. I only the get the problem if I attempt to attach an image to a notebook that's nested within several other notebooks.

So attaching an image to a note in my "Inbox" notebook works fine. While attaching an image to a note that's loc

[2020-05-11 21:11] ImportTaste commented on #2234
This is still an issue.

[2020-05-11 22:19] laurent22 commented on #3200
Does it happen if you disable "Show note counts" in Options > General > Advanced Options?

[2020-05-11 22:24] Gamegenorator commented on #3200
@laurent22 Yes, it appears to have no affect whether it is on or off.

[2020-05-12 04:20] deftdawg opened #3201 "Render Mermaid diagrams with Dark theme when darker Joplin themes are on"
Mermaid supports a dark theme that would be a bit easier on the eyes (less extreme contrast) when Joplin's darker themes are active.

Not sure how easy it would be to do with Joplin, but in vs code studio's [mermaid markdown preview](https://github.com/mjbvz/vscode-markdown-mermaid) plugin's the code that changes themes is here:
https://github.com/mjbvz/vscode-markdown-mermaid/blob/master/page.js

[2020-05-12 08:34] roman-r-m commented on #3199
Duplicate of https://github.com/laurent22/joplin/issues/2939

[2020-05-12 08:55] noqu opened #3203 "iOS app: Problems editing beyond long list of checked checkboxes"
When a note starts with a long list of **checked** checkboxes, in the iPhone app you cannot edit the note beyond the first page. The keyboard pops up and prevents you from scrolling down. This does not appear to happen for **unchecked** check boxes.

## Environment

Joplin version: 10.0.47
Platform: iOS
OS specifics: 13.4.1

## Steps to reproduce

To reproduce, create a note with this content:
[co

[2020-05-12 12:35] msbentley opened #3204 "Tab in an ordered list indents the wrong line"
In an unordered list, hitting tab on an empty continuation line to indent acts instead on a previous line:

![joplin_tabs](https://user-images.githubusercontent.com/1671065/81688892-295ab780-945a-11ea-9a9d-b95ad0611128.gif)

## Environment

Joplin version: 1.0.207
Platform: linux
OS specifics: ubuntu 18.04

## Steps to reproduce

1. Create a bullet list with more than one item
2. At the start of a

[2020-05-12 12:48] kreisklasse opened #3205 "v207 - lot of clickable boxes crash joplin"
## Environment
Joplin 1.0.**207** (prod, win32) - **Portable Version**
Sync-Version: 1
Profil-Version: 29
Revision: 22b58886 (master)

Platform: Windows 10 - 1909 - 64bit

## Problem
when opening a note with a lot (about 50+) of
`- [ ]`
Joplin screen blanks out and only shows the menu bar (see picture attached)
Menu bar is unresponsive, only "Exit" in menu works, all others show no response.

Last

[2020-05-12 14:37] laurent22 commented on #3205
Could you post the markdown text that's causing this problem?

[2020-05-12 14:49] kreisklasse commented on #3205
@laurent22

i re-counted it and the document cointains about 250+ lines as the example below

[code]

[2020-05-12 15:59] sitnarf opened #3206 "Notes from subnotebooks are not displayed when parent notebook selected"
## Environment

Joplin 1.0.201 (prod, linux)
Client ID: 5d96584c0f094d16a668148fada4525f
Sync Version: 1
Profile Version: 28
Revision: e65af8c (master)
Platform: Untutu
OS specifics: 20.04

## Steps to reproduce

1.  Create nested notebooks
2. Add notes to a subnotebook
3. Press super notebook in the left panel

## Describe what you expected to happen
To display all nested notes.

![Screenshot fro

[2020-05-12 17:18] #2807 closed

[2020-05-12 18:36] bedwardly-down commented on #3114
Upon [a suggestion](https://discourse.joplinapp.org/t/joplin-freezing-on-linux-distros-running-kernel-5-5-bug-update/6558/17?u=bedwardly-down) on the forums, I've built 5.7-rc5 kernel and am getting better results. The problem is still there but the app is not freezing like it was. Instead, it's just hanging on syncing for a bit longer than was previously happening. Can anyone else verify this?

[2020-05-12 20:59] #2716 closed

[2020-05-12 21:37] xplosionmind commented on #2753
this issue hasn’t been fixed yet

[2020-05-12 22:16] starkers commented on #738
I actually just sucesfully made a flatpak (ironically using the latest released AppImage)..

I'll possibly drop this onto a github repo if anyone's interested, also I'm happy to submit+maintain an official one on flatpak.org (this would be my first one so its probably not fully standards compliant yet)

[2020-05-13 00:00] prurph commented on #2425
This is still a problem.

[2020-05-13 00:02] laurent22 commented on #3200
Would you be able to export a notebook that can be used to replicate this problem?

By the way, what resource download mode do you use? And do you have encryption enabled?

[2020-05-13 01:23] Gamegenorator commented on #3200
[Link to reproducible copy in .jex format](https://send.firefox.com/download/dc72f67a26903c04/#my4E8SjZH-fSjPMwpNI7gg)

I imported that .jex file onto my other Windows system and found the bug 100% reproducible. I then imported the file in Joplin on an Ubuntu VM and was enabled to reproduce the bug in any form. I don't own a Mac but I would assume if it doesn't work on Linux it won't work on Mac.

[2020-05-13 01:42] puckwang commented on #3152
Me too...

Joplin version: 1.0.201
Platform: MacOS
OS specifics: macOS Catalina 10.15.4

[2020-05-13 02:49] javvylim commented on #3184
Same! Would love to have a functionality on drag and drop reorder!

[2020-05-13 05:46] Gamegenorator commented on #3200
As a more permanent link (And for archival purposes), I put the .jex in a zip which allowed me to upload it to github directly.

[Image Attachment Error Demo.zip](https://github.com/laurent22/joplin/files/4620072/Image.Attachment.Error.Demo.zip)

[2020-05-13 05:49] mlphresearch commented on #3184
Relevant thread on the forum: https://discourse.joplinapp.org/t/is-there-a-way-to-reorganize-notes/5676

[2020-05-13 09:02] xarthurx commented on #2908
The problem is still not fixed I guess.
Especially the font color in the Nord theme.

[2020-05-13 09:06] starkers commented on #738
@laurent22 I've just read the [guidelines](https://github.com/flathub/flathub/wiki/App-Requirements) on getting a flatpak packaged up for everyone on flathub. I do need to do some small modifications but otherwise I should be able to get this published pretty quickly but I would [like your permission](https://github.com/flathub/flathub/wiki/App-Submission#theres-an-app-that-id-like-to-see-on-flath

[2020-05-13 09:33] char32 commented on #2299
Just wanted to update and give some information. Seems to still exist in the latest Android version.
I use a self-signed SSL certificate (server redirects over nginx).
I pretty much cannot use a Let's encrypt cert since the server is just on my local LAN and not accessible from the outside.

I could import the CA into Android, but then it gives me a constant warning icon about "unsecure" connectio

[2020-05-13 10:39] #2685 closed

[2020-05-13 12:46] laurent22 commented on #738
@starkers, feel free to go ahead with it, you have my permission. As for the way to release it, how would that work if it's part of CI? Does it mean there will be a flatpaks being built and added to the GitHub release files? or the CI will trigger a build somewhere else and file will appear on Flathub?

[2020-05-13 14:10] figue commented on #3114
I had a freeze now while I was editing. As I launched Joplin a few hours ago with strace I can confirm EPOLL events posted before. When freeze happen no EPOLL events are shown, but I you do the workaround to start and stop web clipper, you see this:

[code]
Excuse me if this doesn't help at all...

[2020-05-13 14:13] bedwardly-down commented on #3114
@figue , any new information there outside of what’s already been established here?

[2020-05-13 14:19] figue commented on #3114
No. I can use any of these kernels if we need to discard something in the kernel side:

5.4.39
5.6.12 <-- running this now
4.19.102

Just tell me which I have to use. Thanks!

[2020-05-13 14:48] bedwardly-down commented on #3114
@figue , you’re fine. If there’s any way you can test 5.7 out, that’d be useful. I want to make sure my test isn’t a fluke. That’s why I’m trying to get second verifications for tests ran

[2020-05-13 14:49] figue commented on #3114
i have a repo with 5.7rc5. Will install now.

[2020-05-13 19:10] #2760 closed

[2020-05-13 19:30] remissao opened #3209 "Note sharing and collaboration features"
I really like this projects, but I feel 2 crucial things are missing.

1- Note sharing and collaboration: it's really necessary for to have ability to share notes via a link or invite other Joplin users to edit a note.

2 - Web app : another project has already taken care of this (https://github.com/foxmask/joplin-web) but it would be nice to maybe see it merge with this project to increase integr

[2020-05-13 20:24] lann opened #3210 "Don't block electron CLI switches"
In my case I just wanted to use `--force-device-scale-factor` to work around a HiDPI issue, but there are other useful switches. Consider removing the strict checking (in BaseApplication), or at least adding e.g. `--electron-switch="--force-device-scale-factor=1.5"`, which could work with [`app.commandLine.appendArgument`](https://www.electronjs.org/docs/api/command-line#commandlineappendargumentv

[2020-05-13 20:25] lann commented on #3210
The check in question: https://github.com/laurent22/joplin/blob/91ec0dce37a703777eadbfa966326b1da3b74330/ReactNativeClient/lib/BaseApplication.js#L216

[2020-05-13 20:44] roman-r-m opened #3211 "Android: Unable to access WebDAV server in local network using host name"
I have a Raspberry Pi with a WebDAV server set up that I use for testing. The host has a name and I am able to access WebDAV server from other apps like Fixrefox using that name: `http://<pi>:12345/Joplin `

However when setting up sync in Joplin it reports network error when I use the host name. Only when I replace the name with the actual ip address it starts working.

[2020-05-13 21:10] #2855 closed

[2020-05-13 23:55] #3011 closed

[2020-05-14 08:02] dkreeft commented on #2153
Indeed, this issue is still present in version 10.0.47. Basically renders WebDAV useless.

[2020-05-14 08:32] laurent22 commented on #2153
Could someone provide a test account again?

[2020-05-14 09:15] #2854 closed

[2020-05-14 10:09] metbril commented on #2153
The account I shared earlier is still valid. Do I need to resend the credentials?

[2020-05-14 15:03] #2327 closed

[2020-05-14 16:03] roman-r-m commented on #3200
Yep, I'm getting the same error with your JEX file.

[2020-05-14 17:52] jabbalaci commented on #51
I tries Joplin for the first time and after writing a test note it was the first thing that I tried and failed to do. And I ran into this issues in the first 5 minutes. Not a good start with a new software :(

[2020-05-14 18:18] #2873 closed

[2020-05-14 20:00] m-angelov commented on #3114
Hey, unfortunately I'm not able to compile 5.7, so I'll have to wait for it to drop on Arch.

Regarding testing where the bug might be (upstream or else), I'm also unable to help much, as I'm not really a developer, and along that I'm not very up to speed with JS, Electron, etc. If there are specific things I can do - tests, bug reproducing, etc - I would gladly help.

I now have an interesting ed

[2020-05-14 21:34] fam4r commented on #2241
I am moving the discussion into their repo. I will let you know if it is really related to ace, in that case I will close this issue.

https://github.com/ajaxorg/ace/issues/2680

[2020-05-15 01:25] #1678 closed

[2020-05-15 02:33] hutson commented on #296
For cross reference - https://discourse.joplinapp.org/t/pinned-notes/1909

[2020-05-15 05:05] lin0kin opened #3212 "Error : Missing required property: type_:"
when i synchronize my note through nextcloud , got this error
i dont even know which note is.
```Error: On file 6d4b64173d2740dd89d10501a05ac754.md: Missing required property: type_: id: ```

and how to name stored files with the title of notes?
i can't find error note everytime

and realy need Retrieving deleted notes!

[2020-05-15 05:29] guy-rouillier commented on #176
I just upgraded to 1.0.207 and got the warning about using the WYSIWYG editor.  I saw this line in the online help [Experimental WYSIWYG editor in Joplin](https://www.patreon.com/posts/34246624):

None of the menu items were changing anything for me, and my button bar did not display a Layout button.  Then, just by chance, I tried clicking the "Code View" item in the button bar, and now the Layout

[2020-05-15 07:39] lemonballoons commented on #3206
This would be awesome

[2020-05-15 09:43] MisterY commented on #3036
I've just installed the app and the editor in 1.0.329 seems quite usable. No issues experienced while testing some markdown features and general behaviour.

[2020-05-15 10:28] #3009 closed

[2020-05-15 11:11] roman-r-m commented on #3036
@MisterY just to be clear - did you enable "Opt-in to the editor beta" in Settings?

[2020-05-15 11:12] laurent22 commented on #2409
I gave a try to the current implementation and it works well as far as I can see, although I'm not a big user of back/forward buttons in most apps (except browsers), but I know some users are. I will merge the pull request as it is, as the code is clean and can be refactored if we want to add more features such as a list of previous notes.

However I feel this is a separate issue - for example, I

[2020-05-15 11:13] #2409 closed

[2020-05-15 11:20] #2865 closed

[2020-05-15 11:35] figue commented on #3114
Running since 2 days 5.7.0-rc5-1-mainline and Joplin seems to be working, no freeze at all...

[code]

[2020-05-15 12:31] MisterY commented on #3036
@roman-r-m , no. That probably means that "New editor" is too vague? I don't see a single reference to specific version numbers.

[2020-05-15 13:07] Wakusei opened #3214 "L sep is suddenly shown before the caret when IME is used"
## Environment

Joplin version: 1.0.201 (prod, win32)
Platform: Windows
OS specifics: Windows 10, x64, Spanish, ver 1909
Revision: e65af8c1 (master)

## Steps to reproduce

1. Select a note
2. Input characters with Japanese IME (MS-IME. This is the default Japanese input method on Windows 10)
3. "L Sep" unicode character suddenly appeared before the caret position

![Sin título](https://user-image

[2020-05-15 13:12] bedwardly-down commented on #3114
@figue, thanks for the test. I'm not sure exactly why I was getting the results I was. I also built my kernel from source using the default config for my system and synced a large amount of notes all at one time over multiple manual syncs.

[2020-05-15 13:45] sinkuu commented on #3214
(This is a known bug: #1210 #1497)

This is a [Ace editor](https://github.com/ajaxorg/ace)'s problem described in [this article](https://anopara.net/2018/01/19/ace-editor%E3%81%A7l-sep%E3%81%A8%E3%81%84%E3%81%86%E6%96%87%E5%AD%97%E3%81%8C%E5%87%BA%E3%82%8B/). For non-Japanese speakers: the problem is that some fonts (e.g. Meryo) renders U+2028 as a displayable character.

[2020-05-15 14:11] bedwardly-down commented on #3114
Anyone else running Wayland instead of X11 here as their main rendering stack provider? I just discovered that Joplin won’t run without the xwayland package installed. I’m starting to use the Brave browser again since syncing can be enabled and used from a testing menu now. Brave freezes the same way at times due to how [Xwayland writes debug info apparently](https://github.com/swaywm/sway/issues/

[2020-05-15 14:49] Wakusei commented on #3214
On a ACE demo page( https://ace.c9.io/build/kitchen-sink.html ) L sep is not shown with the Chrome browser. Is there difference on Electron hosting?

[2020-05-15 15:34] sinkuu commented on #3214
I don't know, I have not even encountered the issue. At least Joplin uses an outdated version of Ace (1.2.9) and applies some CSSs, so it's different from the demo for sure.

[2020-05-15 15:40] Wakusei commented on #3214
What font are you using? NoLSep font? Which IME are you using?

[2020-05-15 17:11] thofma commented on #3054
I see something similar with underscores. Is this the same issue?

![image](https://user-images.githubusercontent.com/11231648/82077455-c24e3480-96df-11ea-8771-c30f2218eaed.png)

[2020-05-15 18:13] sinkuu commented on #3214
I don't set editor font in options and I don't see LSEP. It may be MS Gothic or something. I'm using MS IME on Windows 10.

Okay, I can reproduce the bug if I specify Meiryo font. Could you try setting "Editor font family" in Options to the other fonts?

[2020-05-15 20:49] anjulalk commented on #3054
Yes, it's very similar to this one.

[2020-05-16 07:11] Wakusei commented on #3214
I tried and found only MS Gothic and MS Mincho don't display L Sep, but all the other fonts displayed it including Segoe UI, Yu Gothic, Noto(fixed width) and Han Source(fixed width). I tried all the installed fonts with Microsoft Word.
MS Gothic and MS Mincho are outdated, so I think they cannot display special characters.

This may be a problem of ACE editor, but I don't think it's a font problem

[2020-05-16 07:58] #1189 closed

[2020-05-16 07:58] #2887 closed

[2020-05-16 13:36] sinkuu commented on #3214
Right, fonts may contain glyphs for special characters, and browsers should not render them: https://bugs.chromium.org/p/chromium/issues/detail?id=550275
I meant it can be a workaround to use a font without such glyphs.

[2020-05-16 15:01] laurent22 opened #3217 "Add keys to navigate between links in terminal application"
The CLI app displays links as shortened URLs: https://joplinapp.org/terminal/#urls

![image](https://user-images.githubusercontent.com/1285584/82122898-3e9f5100-978e-11ea-9f3f-df7b5f705230.png)

To open one of these links, the user currently either need to copy and paste them in their browser, or right-click them, if their terminal emulator supports it.

Additionally it would be good to support na