[2020-03-17 12:29] anihm136 commented on #2780
However, it brings back the issues in #2467 , which it was meant to resolve. The issue is that some unnecessary menu items are checked and disabled in viewer-only mode, I feel. I think only the text manipulation commands i.e, "cut", "paste", "bold", "italics", "link", "code" and "insert datetime" need to be disabled.
If this is the right approach, it would simultaneously solve #2762 , as that opti

[2020-03-17 13:37] luxintra commented on #2761
kernel 5.5.8-1

[2020-03-17 13:41] #2787 closed

[2020-03-17 13:47] ishriom53tyagi commented on #2773
i would like to work on it

[2020-03-17 15:08] marwanatef2 commented on #1656
Are you still working on this issue? @anjulalk
If not then i'd like to work on it.

[2020-03-17 17:09] anjulalk commented on #1656
No, please go ahead!

[2020-03-17 18:51] taw00 opened #2788 "(mobile) red herring of a message: Press to set the decryption password."
I upgrade my desktop to 1.0.194 and it requested to upgrade the encryption type.
I did as it asked.
Then I edited a file.
Then I thought, "Hmm.... I better ensure the mobile phone works before I do something out of order."

I open Joplin mobile. I see "Press to set the decryption password."
I do as it asks.
I verify the password is set fine for mobile.
Still the message.
I see there are a number o

[2020-03-17 21:35] wwoods commented on #2779
I have a workaround that is unrelated to Joplin, and probably should go in electron or whatever base Joplin runs on.  Suffice it to say, from https://unix.stackexchange.com/a/529362/23880, the Intel display driver was behaving poorly.  The fix at that link is as follows:

[code]

[2020-03-17 21:35] #2779 closed

[2020-03-17 23:23] laurent22 commented on #2788
Not clear to me what the issue is. We'd need clear steps to replicate it.

[2020-03-18 06:28] yashwanthambati opened #2792 "Joplin terminal application"
## Environment

Joplin version: 1.0.161
![Screenshot 2020-03-18 at 11 57 13 AM](https://user-images.githubusercontent.com/42468133/76931893-aad91200-690f-11ea-9737-e4aace47ec71.png)

Platform: Macos
OS specifics: mojave

## Steps to reproduce

1. terminal application is not working.
2. When i type joplin is terminal,it shows internal modules not found.
3.

## Describe what you expected to happen
S

[2020-03-18 07:21] tessus commented on #2792
Let me guess. You used brew. Check the forum. Solutions are there.

[2020-03-18 07:23] tessus commented on #2792
We are not responsible for the brew package. If you have an issue with it, please contact brew.

[2020-03-18 07:23] #2792 closed

[2020-03-18 09:26] randomizeduser opened #2793 "Fatal error: Unknown table: settings"
Cannot start application. The following error is shown:

![Screenshot at 2020-03-18 10-16-08](https://user-images.githubusercontent.com/61565566/76944567-883ffc80-6901-11ea-96c0-f62bdd89948f.png)

and additionally following errors are shown when starting the app from command line:

## Environment

Joplin version: latest as of 2020-03-18
Platform: Linux
OS specifics: Linux Mint 19.3 MATE, kernel 5.

[2020-03-18 11:12] laurent22 commented on #2793
Could you share your database.sqlite file, from your profile directory? We can't replicate this bug and having the database might help.

[2020-03-18 12:00] randomizeduser commented on #2793
Sorry, it was a while ago that I set it up, and did not bother with it again. Now I wanted to fix the issue, and there were actually more steps I took besides the ones in initial description - I just forgot about it.

Back then, after the installation I enabled sync of my existing notes from my nextcloud server incl. encryption key. I guess at this point something went wrong back then during sync.

[2020-03-18 12:00] #2793 closed

[2020-03-18 14:53] roman-r-m commented on #2685
Having looked into this for a few days I have to admit I've got no idea how it was supposed to work in the first place. (I'm no expert on React or Android though)

The reason it fails (for me at least) is that noteId is set to null at https://github.com/laurent22/joplin/blob/cdb8a1e98c1d7e934b8cfb85b17ac0e0494eab58/ReactNativeClient/setUpQuickActions.ts#L35

Then when it gets to https://github.com

[2020-03-18 14:55] roman-r-m commented on #2685
Raised https://github.com/laurent22/joplin/pull/2796

[2020-03-18 14:57] roman-r-m commented on #2685
@devonzuegel could you take a look please as the author of this feature

[2020-03-18 15:04] htyeim commented on #2788
I have the same problem.

After upgraded Joplin (Macos, through `brew upgrade`), it said need reencrypt, clicked yes. After sync to nextcloud server completed in macos, I tried to sync in ios. it said "press to set the decryption password". I entered the exact password I used, but the ios app says it is wrong.
I tried to figure out what's going on. I exported all notes, deleted all files in `~/.co

[2020-03-18 15:19] laurent22 commented on #2685
Probably that's the recent addition of the provisional note concept that broke this. Now notes cannot have a null ID, instead they need to be created with `await Note.save({ title: "my note" }, {isProvisional:true})`

[2020-03-18 15:35] laurent22 commented on #2788
Right I see, the desktop pre-release version includes a way to upgrade a master key encryption, however the iOS app has not be updated yet, so it cannot decrypt this master key. I'll try to release an iOS update quickly.

[2020-03-18 17:39] pranavmodx opened #2797 "Shortcut keys for renaming and deleting notebooks and sub-notebooks"
## Description
Not exactly a bug but a possible enhancement. There are no shortcut keys for renaming and deleting notebooks and sub-notebooks. It would be handy if there were.

## Screenshot
![Screenshot 2020-03-18 at 11 06 37 PM](https://user-images.githubusercontent.com/42793024/76989925-27e6a480-696d-11ea-8d05-69ee2e5132ea.png)

## Environment
Joplin version: Joplin 1.0.193 (prod, darwin)
Platf

[2020-03-18 17:47] kopfuss opened #2798 "iOS bright keyboard with dark mode and dark theme"
## Issue

Starting with update to Joplin 10.0.45 choosing Joplin Dark Theme or OLED Dark Theme both use the bright style iOS keyboard.

## Environment

Joplin version: 10.0.45
Platform: iPhone 6
OS specifics: iOS 13.3.0

## Describe what you expected to happen

Everything as dark as possible, except text and buttons.

[2020-03-18 17:51] pranavmodx opened #2799 "No validation error on creating notebooks/sub-notebooks without title"
## Description
There is no validation error/prompt on creating notebooks/sub-notebooks without title. Instead the dialog simply closes.

## Screenshot
![Screenshot 2020-03-18 at 11 04 50 PM](https://user-images.githubusercontent.com/42793024/76991010-ebb44380-696e-11ea-8505-afafdffbfc4b.png)

## Environment
Joplin version: Joplin 1.0.193 (prod, darwin)
Platform: macOS Mojave

## Steps to reproduce

[2020-03-18 19:05] kopfuss opened #2800 "minor GUI optimizations"
### Environment

Joplin version: 10.0.45
Platform: iPhone 6
OS specifics: iOS 13.3.0

### Describe what you expected to happen

- the pane to the note's right (created: updated: view on map) is not delimited by a fine line which in regards to consistency would fit the main menu to far left). the issue is more salient when using dark mode.

- the 'new note' button is nice red, when tapped two viole

[2020-03-18 20:56] ishriom53tyagi commented on #2799
i am working on it.

[2020-03-18 21:30] tessus commented on #2797
These can be disxussed during the GSoC project that is called `custom keyboard shortcuts`.

This bug tracker is for bugs only (or accepted feature requests.) This issue is neither.

[2020-03-18 21:30] #2797 closed

[2020-03-18 22:56] laurent22 commented on #2798
Do other apps display a dark keyboard in dark mode? I'm on Android in dark mode but I see the keyboard is still white, but not sure about iOS

[2020-03-19 00:18] tessus commented on #2800
Please add suggestion to the forum. There's areason for the templates.

[2020-03-19 00:18] #2800 closed

[2020-03-19 02:14] htyeim commented on #2788
Thank you for the update and this great software!

[2020-03-19 02:42] abhi6501 commented on #2770
Sorry for interrupting,I don't know whether this will help or not but just for a thought, I think the notes stay in the All notes page but not immediately after moving but if we go to the respective notebook where the note is moved and click on the All notes page again. The notes stay. (Might be a bug still.)

[2020-03-19 04:16] tessus opened #2803 "selected note is no longer remebered"
## Environment

Joplin version: 1.0.194
Platform: macOS
OS specifics: 10.14.6

## Steps to reproduce

1. Select a note in a notebook (A)
2. Select another notebook (B)
3. Now select notebook (A) again

## Describe what you expected to happen

The note previously selected should be selected upon selecting notebook (A).

## What happened instead

The first note/todo in notebook (A) is actually selec

[2020-03-19 04:42] pranavmodx opened #2804 "No search feature in Help Menu [mac-only]"
## Description
Not actually a bug but a possible enhancement. There is a search feature in Help Menu (only for Mac OS) which shows you where certain menu items are present based on the search. This is currently not enabled in the desktop app.

## Screenshots
For non-Mac users,
![Screenshot 2020-03-19 at 10 05 47 AM](https://user-images.githubusercontent.com/42793024/77032069-7033b000-69c9-11ea-866

[2020-03-19 04:47] Rahulm2310 commented on #2770
Ofcourse it is a bug!
That's not the desired behavior.It is annoying to go to the notebook & then
back to All Notes page just to see the moved notes again.Even if the notes
are moved, they should never be removed from the All Notes page.

[2020-03-19 07:39] bernd-wechner commented on #176
Got me beat, how are you switching to WYSIWYG editor?

[2020-03-19 07:47] aviret commented on #176
![image](https://user-images.githubusercontent.com/12494348/77043603-2beee280-69be-11ea-9bc9-d2d1bf758e39.png)

[2020-03-19 08:16] mic704b commented on #483
Updated proposal: implement the trash feature in two iterations, with full folder support in the second.

## Iteration 1: (Folders are not visible in trash)
- delete note/s:
    - note/s are moved to trash and appear there
- delete a folder
   - all child notes are moved to trash (including from sub-folders)
   - the folder and sub-folders are removed from SideBar view
    - the folder itself does

[2020-03-19 08:37] bernd-wechner commented on #176
Hmm, that option visible on my 1.0.193 ... did it enter in 1.0.194?

[2020-03-19 09:12] aviret commented on #176
Yes see [here](https://www.patreon.com/posts/experimental-in-34246624) and you get it from [here](https://github.com/laurent22/joplin/releases/tag/v1.0.194)

Grettings

[2020-03-19 13:15] Rahulm2310 opened #2807 "Mobile: Pressing the back button exits the app without any alert"
## Environment

Joplin version: 1.0.322
Platform: Mobile

## Steps to reproduce

1. Start the app
2. Press the back button
3. App closes instantly without any alert

![20200319_181545](https://user-images.githubusercontent.com/54268438/77071222-a9900e00-6a11-11ea-9a2f-3a2b41651963.gif)

## Describe what you expected to happen
There should be a confirmation alert to ask the user if he/she really wa

[2020-03-19 13:29] Perkolator commented on #483
2 questions popped in my mind after reading the proposal:

1) Has the note version/revision system been taken in consideration with this new feature?

2) Does it really have to be implemented like this? Your proposal wouldn't be able to show the actual deleted note contents. That could be very important sometimes when deciding to restore or delete permanently. Why not show the trash folder the sam

[2020-03-19 13:58] anihm136 commented on #2780
@laurent22 may I proceed to implement this?

[2020-03-19 15:30] Rahulm2310 commented on #2807
@PackElend please label me

[2020-03-19 15:40] laurent22 opened #2810 "When in Viewer-only mode, Ctrl+Shift+B should focus the viewer panel"
Currently, the Ctrl+Shift+B shortcut is assigned to focus the note editor. However, when the current layout is viewer-only, it doesn't make sense to focus the editor. Instead it should focus the viewer panel.

[2020-03-19 15:53] FuturePilot commented on #1030
Still not been fixed

[2020-03-19 17:36] matcharles commented on #2518
I wish I could help more, but since I have very limited knowledge, I just wanted to share that on `5.5.8-arch1-1` running version `1.0.193`, it's even more broken than before. I can squezze one sync before the whole thing freeze. I was using version 179 appimage for the last little while and it was not perfect, but I could get about 10 minutes work before it crashed.

I feel bad because I want to

[2020-03-19 17:45] flozender commented on #2810
Hi, may I try to work on this issue?

[2020-03-19 19:54] mikea opened #2811 "Mac App Renders formula source code"
Joplin app renders a portion of formula source code before the correct rendering:

<img width="1174" alt="Screen Shot 2020-03-19 at 12 53 18 PM" src="https://user-images.githubusercontent.com/3236/77109136-a4ff3180-69e0-11ea-956e-3903f467d1e2.png">

## Environment

Joplin version: Joplin 1.0.194 (prod, darwin)
Platform: Mac OS 10.15.3 (19D76)

[2020-03-19 21:05] PackElend commented on #2807
we only label PRs

[2020-03-19 21:13] sealch opened #2813 ""Joplin can't be opened" error after installation via Homebrew on macOS Catalina"
When opening downloaded and installed Joplin via Homebrew following error displays:
```"Joplin" can't be opened because Apple cannot check it for malicious software.```

![image](https://user-images.githubusercontent.com/28362310/77114587-6e9fd180-6a35-11ea-8081-cc8d495ec419.png)

## Environment

Joplin version: v1.0.194
Platform: macOS
OS specifics: 10.15 (19A583)

## Steps to reproduce

1. ```br

[2020-03-19 22:01] mic704b commented on #2709
I think I understand what's going on here and can fix it.

Laurent, I don't think the comment in the sync code matches the behaviour.  Should the parent of the conflict note (duplicate) have its parent set to the conflict folder?

[code]

[2020-03-20 00:45] louisiy opened #2814 "Markdown Editor Chinese punctuation is not supported, the format is garbled"
## Environment

Joplin version:
Platform:
OS specifics:

## Steps to reproduce

1.
2.
3.

## Describe what you expected to happen
Editor Chinese punctuation is not supported, the format is garbled

## Logfile

[2020-03-20 01:17] sinkuu commented on #2814
Duplication of https://github.com/laurent22/joplin/issues/2674.

[2020-03-20 06:41] tessus opened #2817 "clipper creates first headings as second headings"
##  Environment

Joplin version: 1.0.194 (happens with previous versions too)
Platform: macOS, clipper
OS specifics: clipper 1.0.25 (happens with previous versions too)

## Steps to reproduce

1. clip (simplified) `https://www.addictivetips.com/media-streaming/kodi/update-kodi-library/`
2. check the resulting markdown file
3. The headings do not start with `# `, but with `## `

## Describe what yo

[2020-03-20 07:46] #2814 closed

[2020-03-20 07:47] tessus commented on #2811
I can confirm this. It only happens for inline Katex:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/223439/77144921-7ffcd400-6a5d-11ea-82a8-5ad1580d4b85.png">

[2020-03-20 09:10] matthewb96 commented on #2639
There are two additional columns I think would be useful to have:
- Location - the name of the note that contains the resource, and maybe a link to the position in that note; and
- File Type -  the file extension of the resource, this could be useful if it also had a filter so just images could be selected for example.

[2020-03-20 09:12] laurent22 commented on #2639
Any news on these changes @rabeehrz? Would it make sense to let someone else working on it?

[2020-03-20 09:13] rabeehrz commented on #2639
Yep @laurent22. I'm mostly focused on my proposal right now. You can assign this issue to someone else.

[2020-03-20 10:25] talkdirty commented on #2639
Feel free to assign to me - I'll have plenty of Covid related free time this weekend

[2020-03-20 10:53] laurent22 commented on #2639
Great, I've assigned it to you @talkdirty

[2020-03-20 11:12] mic704b commented on #2709
BTW my understanding the way it's meant to work is that the duplicate note is created in the parent folder of the original note, but the duplicate note appears in the Conflicts folder (due to the `is_conflict` field being one).

I think this code snippet agrees with that.

The bug is elsewhere where it assumes otherwise, but I just want to be sure I understand correctly.

[2020-03-20 13:13] jronallo opened #2818 "reminder with dash as first character in note body sent with notify-send fails"
If a to-do note includes a dash as the first character then notify-send fails to send the scheduled notification. This can be the case where the first line of the note is the first line of a simple list or list of checkboxes. This can be simplified where any to-do which begins with the very first character in the note body being a dash fails to have the notification send when using notify-send. Th

[2020-03-20 13:36] rabeehrz commented on #2813
Try right clicking and opening

[2020-03-20 13:58] laurent22 commented on #2813
dup

[2020-03-20 13:58] #2813 closed

[2020-03-20 14:07] laurent22 commented on #2818
https://github.com/mikaelbr/node-notifier/issues/319

[2020-03-20 14:21] JOJ0 commented on #1030
Hi @FuturePilot there is also a currently active discussion about this topic in the joplin forum: https://discourse.joplinapp.org/t/wysiwyg-editor-in-joplin/2253/23

[2020-03-20 17:58] schmohlo opened #2821 "Laggy preview scrolling"
##  Environment

Joplin version: 1.0.94
Platform: Windows
OS specifics: win10

## Steps to reproduce

1. create a new note
2. Insert Lorem Ipsum
3. while the preview is selected, scroll with the mouse wheel, arrow or page keys.

## Describe what you expected to happen
I experience very laggy scrolling with all methods except the scroll bars in the preview.
Sometimes it scrolls normally, then only

[2020-03-20 20:01] sealch opened #2822 "Invalid SSL certificate on requested API url (broken HTTPS)"
I was looking at outgoing app requests and saw that it was trying to connect to github API at some IP address at HTTPS port (443).

<img width="489" alt="Screenshot 2020-03-19 at 23 35 13" src="https://user-images.githubusercontent.com/28362310/77117250-49fa2880-6a3a-11ea-829a-64e597719c8c.png">

When I went to this IP (`https://140.82.118.6`) in my browser I saw that it has invalid certificate, H

[2020-03-20 21:38] sealch opened #2823 "RangeError and app crash if outgoing requests are blocked"
If request to GitHub API is blocked app crashes with following error:

![image](https://user-images.githubusercontent.com/28362310/77207923-47afd100-6b03-11ea-9cbb-c1b6f6284d7f.png)

## Environment

Joplin version: v1.0.194
Platform: macOS
OS specifics: 10.15

## Steps to reproduce

1. Open Joplin app
2. Block outgoing GitHub API request
3. App crashes

![Screen Recording 2020-03-20 at 23 13 56](h

[2020-03-20 22:09] sealch opened #2824 "Desktop: Upper border of selected icon outline is not inline with gray menu border"
When hovering over any icon in app, outline is few pixels higher than it should be

<img width="507" alt="Screenshot 2020-03-21 at 00 01 15" src="https://user-images.githubusercontent.com/28362310/77209513-1802c800-6b07-11ea-865b-11c2c67bf98a.png">

![image](https://user-images.githubusercontent.com/28362310/77209595-4a142a00-6b07-11ea-84af-de4b3f09ed79.png)

## Environment

Joplin version: v1.0.1

[2020-03-20 22:14] tessus commented on #2822
I can't reproduce this issue. Maybe your network uses a transparent proxy or you hit MITM scenario.

Btew this is the check for a new release and can be triggered by the `Check for updates...` menu item.

[2020-03-20 22:23] sealch commented on #2822
Have you tried accessing requested ip (https://140.82.118.6) directly from your browser? It still has invalid certificate in my case

[2020-03-20 22:26] tessus commented on #2822
Of course it is invalid, because the `CN` is for `*.github.com`. We are not acessing `140.82.118.6`, but `api.github.com`.

[2020-03-20 22:27] tessus commented on #2822
Every web site has an invalid certificarte when you access it via its IP address.

[2020-03-20 22:27] #2822 closed

[2020-03-20 22:38] tessus commented on #2823
I can't reproduce this. I get the following. No crash.

<img width="418" alt="image" src="https://user-images.githubusercontent.com/223439/77211284-e3c4e280-6ad9-11ea-8c4b-c19a5771acc2.png">

[2020-03-21 00:56] Rishgod commented on #2824
Um I'm on windows and I don't have the same problem

![Screenshot (1)](https://user-images.githubusercontent.com/54576074/77215911-dab92d00-6b3c-11ea-8328-fab20f8fbdf2.png)

[2020-03-21 02:53] Ashray123 commented on #2817
I want to work on this issue could anyone guide me a little more how to reproduce it .

[2020-03-21 03:00] tessus commented on #2817
I don't understand the question. The steps to reproduce are in the description above.

[2020-03-21 04:23] Ashray123 commented on #2817
@tessus  actually I am new, I don't understand the first step mentioning clip(simplified) .. any hint or suggestion would be sufficient so that I could start working on it.  Thanks!

[2020-03-21 06:09] Rahulm2310 commented on #2824
Yeah, it is perfect on Windows.May be something specific to Mac.

[2020-03-21 07:50] rabeehrz commented on #2824
I can confirm this behavior on Mac.

[2020-03-21 08:30] Poldi1977 commented on #293
With an improved search, I could use Joplin even more effectively. Are there any plans for this?

[2020-03-21 09:21] RrobertRr opened #2826 "Picture is not shown in the "Viewer Mode", if I start wit joplin with "--profile <path>""
If I start Joplin with the parameter "--profile <my_path>", I can't see pictures in the "Viewer Mode". Look the screenshot:
This problem is for every Picture in the hole profile. If I open the file markdown editor with the red marked Icon (see picture), I can see the picture in the other MarkDown editor I used. But only here not.
![image](https://user-images.githubusercontent.com/25011725/77223474

[2020-03-21 11:29] #2803 closed

[2020-03-21 12:21] PackElend commented on #296
feel free to work on it.
It is clearly labeled that it is very welcome

[2020-03-21 12:25] frogger72 commented on #1388
Still hoping for this feature as it's the only thing that prevents me from fully migrating to Joplin. It looks like a pull request was rejected - why not add this option, so users can at least use it similarly to other notetaking apps?

[2020-03-21 13:12] #2762 closed

[2020-03-21 13:12] laurent22 commented on #2762
See https://github.com/laurent22/joplin/pull/2763#issuecomment-602041823

[2020-03-21 14:12] coderrsid commented on #2824
Yes, it's over the button size on top on my mac. I'll look into this issue.

![image](https://user-images.githubusercontent.com/35633575/77228239-ed1e7f80-6bab-11ea-9b73-67ad722ba0e8.png)

[2020-03-21 14:14] internalfx commented on #1293
This is still a thing....

[2020-03-21 14:37] kowalskidev commented on #2665
After working for 3 days I able to add `autodetect `checkbox and two other drop downs based on selected checkbox and also able to detect operating system theme.
Now the issue I'm facing is I unable to save changes made on 'public' property of all three drop downs after saving configuration when I restart app the public property set to it's default values. There's no function for setting public val

[2020-03-21 15:32] coderrsid commented on #2804
Hey @pranavmodx , it's great to see your PR. But all the enhancements must be discussed in discourse first with all the mentors. Then only it should be implemented. So, you can first try discussing it with community then implement it. Isn't it @PackElend ?

[2020-03-21 15:36] #2780 closed

[2020-03-21 15:38] axq commented on #2807
There is a related issue in https://github.com/laurent22/joplin/issues/2327.

[2020-03-21 16:31] sealch opened #2829 "New note/to-do disappear gradually"
When clicking fast on New note/New to-do button new items are adding to the list and then disappearing  gradually

![Screen Recording 2020-03-21 at 18 14 06](https://user-images.githubusercontent.com/28362310/77231004-d9b9e700-6ba0-11ea-92fd-56c5e0c38268.gif)

## Environment

Joplin version: v1.0.194
Platform: macOS
OS specifics: 10.15

## Steps to reproduce

1. Open Joplin app
2. Start clicking f

[2020-03-21 16:42] sealch opened #2830 "Desktop: To-do in the list in not filled with blue completely on hover"
When hovering over to-do item in the list it is not selected (filled with blue) completely

![Screen Recording 2020-03-21 at 18 37 06](https://user-images.githubusercontent.com/28362310/77231378-27cfea00-6ba3-11ea-9a8c-ec155f43b065.gif)

## Environment

Joplin version: v1.0.194
Platform: macOS
OS specifics: 10.15

## Steps to reproduce

1. Open Joplin app
2. Create new to-do if there are no existi

[2020-03-21 16:54] Rahulm2310 commented on #2830
I will fix this.

[2020-03-21 17:31] flozender commented on #2383
I would like to work on this, please.

[2020-03-21 18:59] amitsin6h commented on #2829
I will fix this

[2020-03-21 19:02] agnoldo commented on #2716
Hi,

I can confirm the same problem when exporting a notebook to HTML. I've used the "Welcome! (Desktop)" notebook on Windows app and created a note called index, so it could be exported to an index.html file.

This worked perfectly for index note but the links that it contained were not corrected when exporting to HTML.

Here's "index" note in Markdown:
[code]

And here's "index.html":
[code]

[2020-03-21 19:06] agnoldo commented on #2716
Exporting internal links to HTML correctly is a huge advantage for Joplin, since it can be used to build simple documentation sites, for instance. In the future I can see templates being used in order to export notebooks using CSS frameworks like Bootstrap. Wouldn't it be cool?

[2020-03-21 19:08] amitsin6h commented on #2829
So according to me, there is 2 way to fix this issue:
1.  First, count empty note inside the notebook and if empty not is present then do not allow the user to create another empty note

2. Second, avoid rapid clicking on New note button so that no empty new note will be created

@tessus your thoughts on this?

[2020-03-21 19:17] tessus commented on #2829
This should have been fixed by 4920f648164140f22aab82009c7edbf52093197e

I can only reproduce this, if I jack-hammer my mouse button, so I'm not sure how often such a problem ever occurs. IMO, not a very good use of our time.

[2020-03-21 19:22] amitsin6h commented on #2829
I think then this issue should be closed

[2020-03-21 19:24] tessus commented on #2829
I leave this for Laurent to decide.

[2020-03-21 19:34] sealch commented on #2829
I think the main problem is that note/to-do creates and then disappears without any warning or message. So as amitsin6h said, there should be warning or new note/to-do should be creating. And you don't have to spam really fast to accomplish this behavior.

[2020-03-21 19:35] sealch commented on #2823
Did you blocked requests or just went offline? Blocking request still causes crash for me

[2020-03-21 19:43] Rahulm2310 commented on #2830
@coderrsid  When I said I will fix it, you could have picked some other issue. We all are here to contribute.

[2020-03-21 19:56] coderrsid commented on #2830
@Rahulm2310 Didn't see your comment earlier. Although it was an easy fix. So did it.

[2020-03-21 22:16] laurent22 commented on #2829
No need to be fixed indeed. New notes disappear if they aren't modified.

[2020-03-21 22:16] #2829 closed

[2020-03-21 22:18] tessus commented on #2823
I blocked the request.

[2020-03-21 23:52] mic704b commented on #293
https://joplinapp.org/gsoc2020/ideas.html#7-search

[2020-03-22 00:04] #2176 closed

[2020-03-22 01:39] Rishgod commented on #2383
Yes, @flozender  go ahead.

[2020-03-22 02:21] tvannoy commented on #2518
`5.5.10-arch1-1` still has the same issue. Opening the joplin web clipper in Firefox does indeed fix the issue.

I am using file system sync with syncthing handling the actual networked synchronization, like @yewwayne @matcharles

I built a kernel with [this patch](https://patchwork.kernel.org/patch/11382655/) applied, but the problem still persists. I think the hangup seems to happen less often w

[2020-03-22 03:12] bedwardly-down commented on #2518
Don’t share custom kernels, @tvannoy . It’s not a good thing for anyone because every system is different and won’t need the same modules. This also isn’t Arch Specific but kernel specific. I need to test that patch myself, though, just have been mostly busy with the virus stuff, my roommates, work and helping out with GSoC. Ha

[2020-03-22 03:30] tvannoy commented on #2518
@bedwardly-down good point; I was referring to the tar.xz files, but the PKGBUILD would be more useful since that isn't so system-specific. But of course the PKGBUILD isn't useful for people on other distros.

It'd be interesting to try that kernel patch along with Electron 8.

[2020-03-22 03:36] anjulalk commented on #2798
It's only supported on iOS
https://reactnative.dev/docs/textinput.html#keyboardappearance

[2020-03-22 03:51] anjulalk commented on #2811
On file `ReactNativeClient/lib/joplin-renderer/MdToHtml/rules/katex.js` Line 246:
[code]

`<pre class="joplin-source" data-joplin-source-open="$" data-joplin-source-close="$">${latex}</pre>` renders the source and then `${renderToStringWithCache(latex, options)}` renders the formula. Almost looks like it was intentional. Removing the first part fixes the issue. Any idea why it was there?

[2020-03-22 03:55] tessus commented on #2811
Maybe it was debugging code that was not removed. Or maybe it has something to do with the new WYSIWYG editor. Laurent would know for sure.

[2020-03-22 04:59] naviji opened #2834 "Phrase search highlights individual words"
When searching for "abc xyz" (with quotes) only "abc xyz" should be highlighted, not "abc" and "xyz" individually.

## Environment

Joplin version: 1.0.193
Platform: linux
OS specifics: Ubuntu 19.10

## Steps to reproduce

1. Search for "and free"
![issue1](https://user-images.githubusercontent.com/30305957/77242677-db2df280-6c26-11ea-94cd-b7aa9d2de23c.png)
![issue2](https://user-images.githubuser

[2020-03-22 06:08] kowalskidev commented on #2689
I figured it out that the menu bar color is based on our system theme. I have dark theme in my system so in my case menu bar is dark and another thing is Electron doesn't support changes against system theme unless we create our own menu bar which we don't want to! and yes we can detect system theme using Electron which I have implemented for this issue #2665
.

[2020-03-22 08:03] mbode commented on #2788
@laurent22 Sorry to bother you – could you give any indication when an iOS release will be ready? I upgraded the master key encryption on macOS without anticipating that it would break sync to my phone. Thank you very much for everything you are doing here!

[2020-03-22 08:18] Rahulm2310 opened #2835 "Desktop: When the query in the search bar is not present in the note body, the blank grey screen appears"
## Environment

Joplin version: 1.0.194
Platform: Windows

## Steps to reproduce

1. Search a string which is not present in the note body
2. Blank grey screen appears same as which appears when no notes exist.

-> When the query matches
![Error-1](https://user-images.githubusercontent.com/54268438/77245297-851b7800-6c43-11ea-9d3a-ab1b47ad84af.JPG)

->When the query doesn't matches
![Error-2](http

[2020-03-22 08:47] mic704b commented on #2835
I'm not sure what you describe is a bug. There is no matching note to show or edit.  At worst, the message in the note list could be more relevant.

[2020-03-22 08:50] PackElend commented on #2804
nothing to add here, you said it all.
The feature category in the forum is the right spot to discuss this.
If there is agreement over there we can reopen it

[2020-03-22 08:50] #2804 closed

[2020-03-22 09:09] coderrsid commented on #2817
I understand the issue. I'll work on this. Thanks @tessus for finding it out.

[2020-03-22 09:40] #2835 closed

[2020-03-22 12:39] #2193 closed

[2020-03-22 12:43] Rishabh-malhotraa opened #2842 "Inconsistient Toggle Feature"
#### Description

The current toggle functionality is really inconsistent

#### Current Behavior

![TOGGLE](https://user-images.githubusercontent.com/54576074/77249661-be1a1380-6c68-11ea-84fb-a5dc51605c46.gif)

#### Desired Behaviour

![TOGGLE-desired](https://user-images.githubusercontent.com/54576074/77249664-c07c6d80-6c68-11ea-8626-1b9406c0cd76.gif)

[2020-03-22 12:46] ishantgupta777 opened #2843 "Mobile: Text and Buttons are overlapping in dropbox sync screen"
## Environment

Joplin version: 1.0.322
Platform: Mobile
OS specifics: No

## Steps to reproduce

1.  Go to the sync screen of dropbox on mobile.
![Screenshot_1584880562](https://user-images.githubusercontent.com/27751740/77249719-3680d480-6c69-11ea-83f5-e65e6f04c84a.png)

I tested and this is the case only when we don't have any notes. I will see if there any other case and will fix it.
I would l

[2020-03-22 12:50] sealch commented on #2811
I can confirm this on Electron client as well.

[2020-03-22 13:11] operator207 commented on #2257
Thank you! This fixed an issue on one of my machines. the two notes were decrypted, I could search for the resource ID and see the note just fine, but the decryption process was spinning away at on my CPU. I wanted to let you know that your post did indeed help someone else.

[2020-03-22 13:29] coderrsid commented on #2834
Thanks for pointing it out @naviji . Although, i don't consider this as a bug because it is working like a utility of multiple-word search for now. But as i looked into the issue in some cases it can be considered as a bug as when you search three words together and if any one of them is not present in the note tand the other two are present whether together or not, it shows gray screen (not found

[2020-03-22 13:54] Rahulm2310 commented on #2843
Yes it happens with me sometimes

[2020-03-22 14:19] ishantgupta777 commented on #2843
I found the issue, almost fixed it. Its because there is no condition check-in note list component for the dropbox sync page. The overlapping text was from the note list component when there are no notes.

[2020-03-22 14:34] anjulalk commented on #2798
Looks like React Native supports it, but this feature only exists in iOS.
See https://reactnative.dev/docs/textinput#keyboardappearance

[2020-03-22 14:36] sealch commented on #2823
It is strange, I can't reproduce this issue too now. I'm closing issue.

[2020-03-22 14:36] #2823 closed

[2020-03-22 15:45] PackElend commented on #2834
I'm used to the way described in the bug report when using Outlook due to my work that is the tool I use most 😭, plus google.
So I would expect that "" is taken account as described, you can also have an option, "match full text" as in Notepad++
![image](https://user-images.githubusercontent.com/3542031/77253746-945aef80-6c5c-11ea-9966-9bd2a6e45639.png)

[2020-03-22 15:56] ishantgupta777 opened #2847 "Mobile: Text incomplete in one plus phones"
In one plus, oppo and some Samsung devices and maybe more that I am not aware of, there is a strange issue in which text is shown incomplete in mobile devices. The reason for this is the shipped font. I tried on one plus 6, If I choose Roboto font, everything is fine and as soon as I changed the font to one plus slate font, some ending characters disappear. This is not the problem with Joplin but

[2020-03-22 15:59] sealch opened #2848 "Desktop: Problem with app responsiveness when reducing window size"
App interface is not responsive on smaller widow sizes.

![Screen Recording 2020-03-22 at 17 53 10](https://user-images.githubusercontent.com/28362310/77253957-9aee6480-6c66-11ea-9c93-25dbb5039777.gif)

## Environment

Joplin version: v1.0.194
Platform: macOS
OS specifics: 10.15

## Steps to reproduce

1. Open Joplin app
2. Start reducing window size horizontally

## Describe what you expected to

[2020-03-22 17:05] anjulalk commented on #2848
Please fetch the latest commits. The menu interface should not wrap. It has been fixed.
Other than that, are you suggesting that the sidebar and note list should be collapsed?

[2020-03-22 17:05] coderrsid commented on #2834
That would be another great way to solve this..
You agree @laurent22 ??

[2020-03-22 17:08] kowalskidev commented on #2665
Finally I have fixed this issue.
@laurent22  I have one doubt, Do we need dark mode button like mention here ? [Night Mode Button](https://discourse.joplinapp.org/t/night-mode-button/6581) because as you mentioned in the issue

if we are adding Dark Mode button then are we providing this options for Dark mode button or Auto Detect checkbox or both?

[2020-03-22 17:08] sealch commented on #2848
This is latest version of the app. Yes, probably sidebar should collapse, so most important UI elements and content are still visible.

[2020-03-22 17:11] anjulalk commented on #2760
Duplicate of #2811?

[2020-03-22 17:13] coderrsid commented on #2799
I don't think this issue is fixed. Are you still working on it?

[2020-03-22 17:13] anjulalk commented on #2753
I can also recreate it. Also, the whole calendar looks off from the rest of the app.

[2020-03-22 17:39] #2196 closed

[2020-03-22 19:12] sealch opened #2852 "IOS: blue line appears near status bar when toggling input in sync menu"
When toggling input blue line near the status bar appears. Seems like the problem is only on devices with FaceID.

![RPReplay_Final1584903684](https://user-images.githubusercontent.com/28362310/77258102-2379fe80-6c81-11ea-82bc-1e635cda88f7.gif)

## Environment

Joplin version: 10.0.45
Platform: IOS
OS specifics: 13.3.1

## Steps to reproduce

1. Open Joplin app
2. Go to sync menu
3. Toggle input s

[2020-03-22 19:16] sealch opened #2853 "IOS: Switching colour theme does not work properly"
When switching the colour theme from light to Dark or OLED Dark it does not switch completely.

![RPReplay_Final1584903811](https://user-images.githubusercontent.com/28362310/77258230-ebbf8680-6c81-11ea-87da-1452e87b42cf.gif)

## Environment

Joplin version: 10.0.45
Platform: IOS
OS specifics: 13.3.1

## Steps to reproduce

1. Open Joplin app
2. Go to configuration
3. Switch colour theme to Dark o

[2020-03-22 19:38] Rahulm2310 commented on #2848
Working on this !

[2020-03-22 19:39] sealch opened #2854 "IOS: Note history slider lags and changes its length"
![RPReplay_Final1584904720 3](https://user-images.githubusercontent.com/28362310/77258681-e7e13380-6c84-11ea-919c-b5612fd4e1f0.gif)

Length comparison using the Photoshop ruler tool:

- minimum length:

![image](https://user-images.githubusercontent.com/28362310/77258746-51f9d880-6c85-11ea-89d7-2160132e0354.png)

- maximum length:

![image](https://user-images.githubusercontent.com/28362310/772587

[2020-03-22 19:44] ishriom53tyagi commented on #2799
@coderrsid  yeah i am working on it. But if you have solution than you could also try it.

[2020-03-22 20:02] sealch opened #2855 "IOS: status bar overrides tag selection menu"
![IMG_3ACD1CF15A52-1](https://user-images.githubusercontent.com/28362310/77259188-81f6ab00-6c88-11ea-8087-3280247bf16f.jpeg)

## Environment

Joplin version: 10.0.45
Platform: IOS
OS specifics: 13.3.1

## Steps to reproduce

1. Open Joplin app
2. Open note/to-do
3. Open tags menu

## Describe what you expected to happen
The tag menu was not expected to be overridden.

[2020-03-22 20:02] sealch commented on #2855
I'll fix this.

[2020-03-22 21:04] nathancarter commented on #2406
I had a similar bug.  It went like this:

1. Install Joplin for the first time.
1. Add two new notes.
1. Set synchronization setting to OneDrive.
1. When first trying to synchronize, authorize it to access my OneDrive, and complete that process.
1. Try to synchronize again and nothing happens.  Repeat using menu item/button/hotkey, nothing has any effect.  Synchronization status screen says nothin

[2020-03-22 21:20] foxmask opened #2856 "notes not shown when editing them"
Environment

Joplin version: 1.0.323
Platform:
OS specifics: android

when editing a note , the area become empty...
![Screenshot_20200322-221636](https://user-images.githubusercontent.com/208212/77260968-5923e500-6c8b-11ea-8f25-a91f571f82b6.png)

![Screenshot_20200322-221646](https://user-images.githubusercontent.com/208212/77260973-604af300-6c8b-11ea-8fe9-0bfb790c804a.png)

[2020-03-22 22:09] tessus commented on #2842
Some of the PRs are not merged yet, one of which is yours. So I'm not sure why you opened this issue.

[2020-03-22 22:14] laurent22 commented on #2856
I can't replicate this. Does it do it with all your notes? Does it make a difference if you change the editor font?

[2020-03-22 22:26] laurent22 commented on #2848
Working as designed.

[2020-03-22 22:26] #2848 closed

[2020-03-22 22:37] dpoulton-github commented on #2817
Just a view. Not based on knowledge of the clipper's workings, but could it be that the clipper considers the note **title** as the H1 / `#` and so all subsequent headers are `##` and below?

If I clip the above page my note title is "How to Update Kodi Library Both Automatically and Manually"

[2020-03-22 22:40] Rishgod commented on #2842
😞 I was just pointing it out

[2020-03-22 22:57] Rakleed commented on #2781
@tessus in the newly released update (10.0.46) the problem is still relevant.

[2020-03-22 23:41] hahagood opened #2858 "syn error"
## Environment

Joplin version: 1.0.193
Platform: vim in terminator of Archlinux
OS specifics: Archlinux

## Steps to reproduce
After last update,
1. I type the message in vim in terminator of Archlinux
2. Desktop automatic synchronization to the WebDAV server
3. then, the message shown as below:

Created remote items: 1.
Completed: 23/03/2020 07:22
Last error: Error: Could not encrypt item 12e557

[2020-03-22 23:50] foxmask commented on #2856
changing font does not do the trick. this happens with long note, not short ones

[2020-03-22 23:58] laurent22 commented on #2856
Could you post an example of note that shows this problem?

[2020-03-23 00:20] graphixillusion commented on #2406
I just got a sync error. So i restarted from scratch but jopling delete everything. Now i have all .md encrypted files in the onedrive folder: is there any way to manually decrypt them?

[2020-03-23 00:52] tessus commented on #2817
Using a title as `#` is stupid. This means that all headings are basically sub headings of the title. Imagine a book:

[code]

This makes no sense. Either way, there wasn't even a H1 heading in my result. But that's not the point. The title is not a heading. It's a title.

[2020-03-23 00:54] tessus commented on #2842
Ah, so we don't have issues enough? I mean we know about it, that's why there's a PR open.

[2020-03-23 01:24] tessus commented on #2781
It's not even in the AppStore yet, so what are you talking about?

[2020-03-23 02:13] Rishgod commented on #2842
No @tessus I guess you misunderstood me, this bug is different from the open PR's(_I checked_)
It's about toggling text.

[2020-03-23 02:22] tessus commented on #2842
I'm seriously confused. You also had a PR open that changed the toggle behavior. Or am I wrong? Or was that somebody else?

Anyway, I'd rather have a follow-up PR, referencing the one related to it, instead of a new issue, but ok. Let's keep this open.

[2020-03-23 02:39] shbach opened #2859 "Code blocks in OLED dark theme"
When using OLED dark theme, code block does not have different background color or syntax highlighting. Inline code works though:
![image](https://user-images.githubusercontent.com/5298745/77274671-b318b080-6c73-11ea-9f49-f817d5504057.png)

Example in regular dark theme:
![image](https://user-images.githubusercontent.com/5298745/77274437-27068900-6c73-11ea-907c-0a477352af6c.png)

Joplin version: 1

[2020-03-23 03:18] dpoulton-github commented on #2817
I see your point but rather imagine a chapter of a book, such as a text book. Whilst the book may be titled "The History of Warrington" the chapters may be:

1 History
1.1 Early history
1.2 English Civil War
1.2.1 Notable Naughty Civil War People
1.3 Industrial history
1.4 Second World War
1.5 Post-war expansion

So, for your example URL, the site or "book" title is "Addictive Tips" and you are cl

[2020-03-23 03:34] Narga commented on #2518
I experienced with this problem too until I found this issue on Github at here. I'm using Arch Linux with XFCE4 too, my solution is copy my current edit content then quit and re-open Joplin again. Since several recently version, it's happening frequently, I tried to debug but not found any valuable information. May I guess the GUI is main problem because I tried to disconnect from sync, just use J

[2020-03-23 03:55] tessus commented on #2817
Just because the default css sucks, doesn't mean that we can skip a heading just for the fun of it.

A title is a title. A heading is a heading. If the title looks too similar to a title, then we'll have to fix that.
Using heading 2 instead of heading one (because it's too big/ugly/whatever) is not the correct approach.

[2020-03-23 05:50] anihm136 opened #2860 "[Desktop] Markdown rendering not working"
## Environment

Joplin version: 1.0.195
Platform: Linux Desktop
OS specifics: Ubuntu 19.10

## Steps to reproduce

1. Create a note
2. Switch to split view / viewer mode
3. Nothing is rendered, errors shown in developer console

Can someone verify if this is reproducible? This is observed on the latest master. It was last working for me on commit 6027725fae63fff905c21892fb64e38f74c5adc4

## Logfil

[2020-03-23 06:12] GwkangDev opened #2862 "删除笔记不会删除资源文件"
## Environment

Joplin version:  Last Release
Platform: Windwos
OS specifics: Windows 10

## Steps to reproduce

1.  创建一个笔记
2.  往里面插入一张图片
3.  删除笔记
4.  图片没有被删除，还存在本地

## Describe what you expected to happen
笔记中的图片一起删除

## Logfile

[2020-03-23 07:21] foxmask commented on #2856
[code]

[2020-03-23 07:52] nshtg commented on #2518
@Narga
You can use linux-lts as kernel (5.4.x is fairly recent too). Fixes the problem for the moment.

[2020-03-23 08:14] Rahulm2310 commented on #2854
I am working on this

[2020-03-23 08:30] ishantgupta777 commented on #2859
I will take that issue and will fix that.

[2020-03-23 08:33] ishantgupta777 commented on #2853
Bro, it's working properly, did you merge latest commits.

[2020-03-23 08:43] Rahulm2310 commented on #2862
@GwkangDev Could you please provide translation to English

[2020-03-23 09:04] coderrsid commented on #2817
I can verify this issue too. So, it should add `#` to the note right?

[2020-03-23 09:08] tessus commented on #2817
No, the solution is to start with h1 headings and not with h2 heading. Follow the replication steps above and look at the result.

You will see no heading with `#` only headings with `##`. The headings should be h1 headings instead (starting with `#`).

[2020-03-23 09:11] coderrsid commented on #2817
Yeah i saw that too.

But after pressing Heading button in toolbar of ElectronClient, it should add `#` too instead of `##`. So we can count this as another issue too?

[2020-03-23 09:11] m-angelov commented on #2518
The enable-disable web clipper trick still works for me.

[2020-03-23 09:16] tessus commented on #2817
This is a separate issue and depends on Laurent. This issue is for the clipper.

I'll be off for a while. It's 5 o'clock in the morning...

[2020-03-23 09:17] ishantgupta777 commented on #2862
Bro, you can select text and translate it. He's saying in windows 10 if we add an image to a note and then delete the note, the image is still there locally.

[2020-03-23 09:20] GwkangDev commented on #2862
https://github.com/laurent22/joplin/issues/2862#issuecomment-602474469

[2020-03-23 09:20] GwkangDev commented on #2862
thanks

[2020-03-23 09:25] techguybiswa opened #2865 "Side bar not resizable when "Toggle Note list" is not selected (edited)"
## DESCRIPTION ##

**The Side Bar is not draggable in desktop when "Toggle Note List" is not selected**

<img src="https://i.ibb.co/nntTs1V/Screenshot-2020-03-23-at-2-45-35-PM.png" />

## Environment

Joplin version: Joplin 1.0.195 (prod, darwin)
Platform: Desktop
OS specifics: macOS MOJAVE 10.14 , Win10 Pro x64 ,  Linux Mint 19.3 x64

**EDIT**
Actually the issue of not being able to resize the si

[2020-03-23 09:25] laurent22 commented on #2856
Hmm that's going to be annoying. Another user also reported that but I can't replicate. I'll check if we changed something that might be related. Do you remember what version you were using before this one?

[2020-03-23 09:27] foxmask commented on #2856
the one on the play store (i didnt know which one was it), released just before 1.0.323

[2020-03-23 09:30] laurent22 commented on #2856
Actually I've just thought we now wrap the text input in a scroll view, and I think what that means is that the text input grows without bounds and maybe will make some devices run out of memory. I will create a release without this scroll view and will let you know.

[2020-03-23 09:45] laurent22 commented on #2856
Does this one work? https://github.com/laurent22/joplin-android/releases/download/android-v1.0.324/joplin-v1.0.324.apk

[2020-03-23 09:51] dpoulton-github commented on #2865
That seems odd because on both the Windows and Linux platforms it **is** draggable.

[2020-03-23 09:57] Rahulm2310 opened #2866 "Mobile : Newlines are not rendered in the view mode"
## Environment

Joplin version: 1.0.323
Platform: Mobile

## Steps to reproduce

1. Open a note
2. Add newlines anywhere in the note body
3. Go back in the view mode. The newlines are not rendered.

![20200321_143031](https://user-images.githubusercontent.com/54268438/77304583-a9965380-6d1a-11ea-9f96-cf2bc9e175cd.gif)

## Describe what you expected to happen
Newlines should be rendered in the view

[2020-03-23 10:04] techguybiswa commented on #2865
Yeah, but in the environment, I mentioned the issue persists.
I restarted the app but even then I cannot get any option to drag it.

[2020-03-23 10:12] anihm136 commented on #2860
Ah, that was the issue. I hadn't needed to run it before, so it did not occur to me. Thanks!

[2020-03-23 10:12] #2860 closed

[2020-03-23 10:16] laurent22 commented on #2862
This is normal, the image gets deleted after a while.

[2020-03-23 10:16] #2862 closed

[2020-03-23 10:16] amitsin6h opened #2867 "Mobile: path text gets hidden when clicking on "Export Profile""
## Environment

Joplin version: 1.0.323
OS specifics: Android

## Steps to reproduce

1. Swipe to open drawer menu and click on "Configuration"
2. Scroll in "Configuration" page to find out the "Export Profile" button
3. Click on "Export Profile" and you will see the "Path" text is not visible

![WhatsApp Image 2020-03-23 at 3 05 46 PM](https://user-images.githubusercontent.com/12906090/77306194-4

[2020-03-23 10:17] amitsin6h commented on #2867
**I am working to send the PR**

[2020-03-23 10:35] dpoulton-github commented on #2817
I suppose I am saying that I can see the logic of what the clipper / Joplin is currently doing. Semantics creeps in here because if one thinks of what we have been calling the note's **title** as the note's **main heading** the logic that is currently being applied works.

I know I am not going to convince you :) Let's see what happens.

[2020-03-23 11:29] crackevil commented on #1232
It should provide an option for user at least. Importing resized image quietly is totally not make sense

[2020-03-23 12:18] ishantgupta777 commented on #2866
Working perfectly fine for me bro, are you using the latest branch?

[2020-03-23 12:24] ishantgupta777 commented on #2856
What if we put a safe text limit or a better option would be to add pagination kind of thing, means we will show a note of certain length after that, user can click on next or previous button to get another portion, this will only happen in notes of very big size.

[2020-03-23 12:28] Rahulm2310 commented on #2866
Yes, it persists

[2020-03-23 12:30] foxmask commented on #2856
@laurent22 it's ok .

[2020-03-23 12:31] christianlupus commented on #1232
The alternative would be a button on the task row for a binary update. No processing is done then.

[2020-03-23 12:34] ishantgupta777 commented on #2866
Oh, I am sorry my bad, I thought you are talking about any text entered not only empty line. But is this bug or not, that's debatable, but yeah go ahead. This issue is there I just tested.

[2020-03-23 13:03] nmagoulis commented on #1656
Hello there,
Is anyone working on this issue? I'd like to work on it together with a colleague of mine, in the terms of a University Assignment for contribution to oss. Thus, we strongly look forward in contributing to Joplin.
Thanks in regard,

[2020-03-23 13:50] #2253 closed

[2020-03-23 14:53] ishantgupta777 commented on #2859
Can you please tell me what version are you using and if the latest version, then what markdown syntax are you using. Because it's working fine for me with a code block.

[2020-03-23 15:33] laurent22 commented on #2856
Good to know, I'll release this then.

I wouldn't really want pagination on my notes so I'd prefer we optimise rendering and scrolling.

[2020-03-23 15:33] #2856 closed

[2020-03-23 15:48] mbode commented on #2788
Ah, it is already available. Thank you so much! Imho this issue can be closed.

[2020-03-23 15:49] #2788 closed

[2020-03-23 16:00] foxmask commented on #2856
je remarque 2 choses à présent:
- quand on scroll de bas en haut et inversement, si on tape du texte une fois arrivé à la ligne voulue ; le curseur se retrouve positionné magiquement aléatoirement et la modif sur mobile est enregistrée. il faut reprendre la note depuis son PC pour rollback
- il semble que le champ de saisi ne lag plus comme avant , le bug electron dont j'etais victime depuis novem

[2020-03-23 16:23] cow8 commented on #2811
Confirm this.
Joplin 1.0.195 (prod, darwin)

[2020-03-23 16:37] shbach commented on #2859
I just updated from version 1.0.323 to  1.0.324 and the issue is still occurring. Here is a picture of the markdown syntax:
![Screenshot_20200323-093457__01](https://user-images.githubusercontent.com/5298745/77339959-d41be880-6ce9-11ea-9cdf-9ecff852bb7c.jpg)

[2020-03-23 16:42] ishantgupta777 commented on #2859
Thanks. I will try it and fix it.

[2020-03-23 17:19] ishantgupta777 opened #2873 "Mobile: If title is too big, body can't be seen and title is shown fully on note-list screen"
In mobile,
if the title is too big, let's say so many lines, then first on the note-list section, it is showing full title, which shouldn't happen. If there are so many notes with big titles, then the user has to scroll a lot to find his note.
![Screenshot_1584980904](https://user-images.githubusercontent.com/27751740/77343664-0f550080-6d58-11ea-8e8d-b37504b402f7.png)

And also, when we click on a

[2020-03-23 17:48] coderrsid commented on #2865
It is scrollable on macOS. I can confirm that but it is indeed behaving weirdly. You can see below in the GIF.

![Screen-Recording-2020-03-23-at-1](https://user-images.githubusercontent.com/35633575/77345851-36610180-6d5b-11ea-9cf6-00a617df1e37.gif)

[2020-03-23 17:50] techguybiswa commented on #2865
@coderrsid  please click on the "Toggle Node List" and then try resizing it.
Check my screen recording at: https://gifyu.com/image/dxir

[2020-03-23 17:54] coderrsid commented on #2865
Yes, that's an issue there. Please mention it too in the description of issue.

[2020-03-23 17:58] techguybiswa commented on #2865
Yes, actually in my case the "Toggle Note LIst" was unselected by default and hence I could not figure out when it is working and when it is not.
Now that I understand it, I am updating the issue.
Thanks @coderrsid  for pointing it out.

[2020-03-23 18:00] coderrsid commented on #2865
Are you willing to fix the issue too? because i can look into the fix too.

[2020-03-23 18:00] techguybiswa commented on #2865
@dpoulton-github can you please try in your Linux and windows environment to unselect "Toggle Note List" and then try to drag and see if it works or not?

[2020-03-23 18:01] coderrsid commented on #2865
I have a macbook, sorry can't test that.

[2020-03-23 18:02] techguybiswa commented on #2865
Yeah sure go ahead and try to fix it. I am currently having some issues with running Joplin from the  source code.  (https://discourse.joplinapp.org/t/npm-start-throws-uncaught-error/7267/7)

[2020-03-23 18:03] coderrsid commented on #2799
Sure i'll try the steps mentors suggested in the above PR.

[2020-03-23 18:24] dpoulton-github commented on #2865
Tried on Win10 Pro x64 and Linux Mint 19.3 x64 and toggling the note list off **prevents** the sidebar from being adjusted.

[2020-03-23 18:35] techguybiswa commented on #2865
Thanks for the update.
I am editing the issue accordingly.

[2020-03-23 18:45] ishantgupta777 opened #2875 "Mobile: If the title of the notebook is too big, the note-list screen misbehaves."
On mobile, When I use too big a title for notebooks or paste a very big text by mistake, I see this screen and there is no button to go back and delete it. Even when the app restarts, this screen is there. So, there should be a limit to the title of the notebook.

![Screenshot_1584988959](https://user-images.githubusercontent.com/27751740/77352020-8b554580-6d64-11ea-8007-b1d7cee960f7.png)

[2020-03-23 18:55] ishantgupta777 commented on #2859
Sir, I fixed it.

[2020-03-23 19:58] shbach commented on #2859
Great work, thanks!

[2020-03-23 20:12] bedwardly-down commented on #2518
Does that work only with firefox or chrome based browsers too?

[2020-03-23 20:24] techguybiswa commented on #2865
Hi, I have updated the issue. Seems like the entire description and the title had to be edited.
Let me know if you have any more edits to suggest.

[2020-03-23 20:48] m-angelov commented on #2518
@bedwardly-down that's the thing - I don't use any browser extension. I just enable-disable the service in Joplin. See this video and it should be clear what I'm doing: https://my.pcloud.com/publink/show?code=XZPh8MkZyOJogIQdym0fjtsTHsQAsLI5wK6k

[2020-03-23 21:26] Rakleed commented on #2781
@tessus what do you mean? Yesterday I became available update to version 10.0.46, and I updated.
![image](https://user-images.githubusercontent.com/19418601/77364856-1edb4600-6d66-11ea-831e-17d2d3fde6d2.png)

[2020-03-23 21:32] tessus commented on #2781
Ok, I haven't received any updates on my iPad, so maybe they roll it out on iOS first. So when you go to the configuration screen is shows 10.0.46 at the bottom?

Well, in that case, I'll re-open the issue. As soon as I get the new version on my iPad, I'll reproduce the issue and post a screenshot.

[2020-03-23 21:35] Rakleed commented on #2781
Yes, it is.
![image](https://user-images.githubusercontent.com/19418601/77365518-539bcd00-6d67-11ea-8849-6ea27b7a37d5.png)

[2020-03-23 22:10] h-b commented on #1678
As far as I can see, this issue is still open. So notifications do not reliably work on iOS, MacOS X or Windows 10. I justed checked them on PureOS (a Linux Debian fork) with Joplin 1.0.167. They do not work there either.

[2020-03-23 22:15] Rishgod commented on #2842
No that wasn't me, it was this issue #2560

[2020-03-23 22:34] #2738 closed

[2020-03-23 22:47] #2824 closed

[2020-03-23 23:15] #2859 closed

[2020-03-23 23:26] #1300 closed

[2020-03-24 05:55] marwanatef2 commented on #1656
No, you can go ahead. @nmagoulis
But notice that "smalltalk" library which is used to make the dialog in the file below only prompts the user for one input per time, so popping up a dialog with two inputs will require using another library.
https://github.com/laurent22/joplin/blob/5db7502fe475343af98ebd8501b314ba36e426a9/ElectronClient/app/gui/dialogs.js

[2020-03-24 05:59] shbach opened #2883 "Desktop: themes missing syntax highlighting"
On desktop, all themes other than "light" and "dark" are missing syntax highlighting for headers and lists.

Example with "dark" theme:

![image](https://user-images.githubusercontent.com/5298745/77392250-bb4a1c00-6d57-11ea-94b7-ec0424ffb68f.png)

Example with "solarized dark" theme:

![image](https://user-images.githubusercontent.com/5298745/77392475-45928000-6d58-11ea-8812-1596cf2d290e.png)

The

[2020-03-24 07:12] taliove commented on #2242
Yes.
 you can use toc mark, it is easier to see this issue.

 using google translation.

---

是的。
您可以使用toc标记，可以更容易看到这个问题。

使用谷歌翻译。

[2020-03-24 07:17] #2200 closed

[2020-03-24 07:47] armaccloud opened #2884 "TOC not updated & functionality lost in WYSIWYG editor"
When opening a TOC-containing note within the WYSIWYG editor, the TOC functionality is lost.

## Environment

Joplin version: 1.0.195
Platform: Manjaro Gnome Stable

## Steps to reproduce

1. Open a not, containing a TOC in the WYSIWYG editor
2. Add a new header to the note
3. Verify the header is not updated into the TOC
4. Switch layout to markdown
5. Verify the [TOC] is not present anymore, but

[2020-03-24 08:37] sciurius opened #2886 "Editor removes embedded html"
The new WYSIWYG editor, introduced in 1.0.195, removes embedded html from the document.
This includes html that is generally considered part of the markdown specification, like <sup> and <sub>.

To reproduce:

Create a note with the classic editor, insert `foo<sup>bar</sup>`.
Switch to preview: it shows "bar" as superscript.
Switch to WYSIWYG editor: it shows "bar" as superscript.
Switch to classi

[2020-03-24 08:39] nullpointer666 opened #2887 "Bug: Second line of note content becomes blank when saving a note"
## Environment

Joplin version: 1.0.161
Platform: Linux, terminal
OS specifics: Arch Linux
Text Editor: neovim

## Steps to reproduce

1. Create a new note
2. Write more than 2 lines of text
3. Save the note

## GIF file
![ezgif com-gif-maker](https://user-images.githubusercontent.com/31123054/77400522-841a5000-6dd5-11ea-9276-ee52ffc6de08.gif)

## Describe what you expected to happen
Saving a note

[2020-03-24 08:40] sapsa07 opened #2888 "No Folder for Web Client"
I have added a [PR](https://github.com/laurent22/joplin/pull/2885) regarding this. If merged I will start working in the main repo.

[2020-03-24 09:39] laurent22 commented on #2811
That should be fixed on master.

[2020-03-24 11:21] anihm136 commented on #2886
I am able to reproduce this. It seems to be an issue with the html-to-markdown parser, which is removing the  `<sup>` tag

[2020-03-24 11:28] laurent22 commented on #2886
There's no need to open bugs for this editor for now because it's still beta.

[2020-03-24 11:28] #2886 closed

[2020-03-24 11:34] Eloco opened #2889 "katex produces two lines of mathematical formulas"
## Environment

Joplin version: 1.0.195
Platform: Windows
OS specifics: win10

## Steps to reproduce

1. Enter $ a + b = c $

## Describe what you expected to happen
It should output one line (katex), but it outputs two lines repeatedly, which is the same in ios, but the android client does not have this problem.

## Screenshot
![Joplin_Eeb7ET7Jva](https://user-images.githubusercontent.com/2291037

[2020-03-24 11:43] Eloco opened #2890 "IPAD client cannot perform webdav synchronization"
## Environment

Joplin version: latest(app store)
Platform: IOS
OS specifics: IpadOS

## Steps to reproduce

1. All notes can be synced when just installed
2. Then modify existing notes in PC Client and sync
3. My Android client can display changes after syncing, but my IPAD cannot display changes after syncing, and the same after restarting.
4. There is also a problem in the reverse. After modifi

[2020-03-24 12:06] Rahulm2310 opened #2891 "Mobile: The slider & buttons on the config page does not look good in OLED theme."
## Environment

Joplin version: 1.0.322
Platform: Mobile
OS : Android

Light Theme:
![img-1](https://user-images.githubusercontent.com/54268438/77423656-b9369a80-6df5-11ea-812d-03fbcac051a8.JPG)

![img-2](https://user-images.githubusercontent.com/54268438/77423661-bcca2180-6df5-11ea-82ee-5848228b67ee.JPG)

OLED Theme:
![img-3](https://user-images.githubusercontent.com/54268438/77423680-c489c600-6d

[2020-03-24 12:07] anihm136 opened #2892 "Issue with HTML to Markdown conversion"
## Environment

Joplin version: 1.0.195
Platform: Linux Dsktop
OS specifics: Ubuntu 19.10

## Steps to reproduce

1. Add a checkbox in html (using `joplin-checklist` class on the list)
2. Rendered output has a regular list item instead of a checkbox

## Describe what you expected to happen
List should render into a checklist

The issue seems to be with the `joplin-turndown` package. Although I not

[2020-03-24 12:34] bedwardly-down commented on #2518
I see. That's pretty interesting @m-angelov . I wonder what would cause that to be a viable fix and if that's the only thing that can be done to fix it. Hmmm

[2020-03-24 12:54] wisp3rwind commented on #2518
Same here.

[2020-03-24 12:59] bedwardly-down commented on #2518
What I'm noticing from just a visual standpoint: Web-Clipper Enable / Disable seems to reset Electron's rendering. Have you noticed that the UI and everything flashes before getting back to normal function?

[2020-03-24 13:02] lnicola commented on #2518
If it reloads the UI, it might explain why it fixes the issue.

[2020-03-24 13:04] fireglow commented on #2518
So is this a bug in electron, then?

[2020-03-24 13:06] bedwardly-down commented on #2518
I'm not looking at it from the code but yes, @lnicola

It's most definitely Electron, @fireglow. If the patch listed earlier that is supposed to be getting pushed to the Kernel isn't working like suggested above, this could be the only other fix for the time being.

[2020-03-24 13:14] lnicola commented on #2518
As far as I can tell, this was caused by some kernel changes that might have been buggy. They're pretty low-level, but they might manifest in lost wakeups in applications, so we're talking about an interaction between the kernel, Node and Electron.

There is an kernel patch that might help. It's not merged yet (maybe it slipped between the cracks?), and someone reported it didn't fix the issue.

[2020-03-24 13:20] fireglow commented on #2518
@bedwardly-down @lnicola okay, thank you for summarizing

[2020-03-24 13:21] bedwardly-down commented on #2518
Like I've said before, it may be a good while if at all before this patch gets merged and it might not even fix the issue. I also know that with everything going on with GSoC and the dev team's priorities for Joplin, a Linux bug like this is not a priority for them at all. Since it only affects us and is an upstream bug, most likely if someone were to make a Reset UI option in a PR, it probably wo

[2020-03-24 13:24] laurent22 commented on #2892
not a bug

[2020-03-24 13:24] #2892 closed

[2020-03-24 13:25] anihm136 commented on #2892
Then is the test case wrong and should it be removed? Because it is failing on this case

[2020-03-24 13:45] anihm136 commented on #2865
@coderrsid Are you working on this? If not, I'd like to try it

[2020-03-24 14:07] coderrsid commented on #2865
I am working on some other issue. But i looked into it, the draggable property of sidebar is true all the time though. I didn't try to go deeper. You can go for it

[2020-03-24 14:17] #2140 closed

[2020-03-24 14:27] coderrsid commented on #2860
I am still having this issue on macOS

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/35633575/77436532-9ada9a00-6e09-11ea-989f-0d305402edfc.png">

[2020-03-24 14:33] laurent22 commented on #2860
@coderrsid, if I may make a suggestion. When you don't need to explicitly notify someone, as in this case, please use the name without `@`. As in "as laurent22 said". Otherwise you're sending emails to specific people, even though anybody can potentially answer your question. In fact, I keep getting notifications from you because you have a tendency to do that, so just remove the `@` please.

[2020-03-24 14:43] coderrsid commented on #2860
Sure laurent, as you say! But please do suggest a solution.

[2020-03-24 14:47] foxmask commented on #2888
as explained on the forum you may have mixed several concept and project not related.
https://discourse.joplinapp.org/t/help-required-for-nextcloud-web-client/7262/7

[2020-03-24 14:47] #2888 closed

[2020-03-24 15:13] infinity052 commented on #2883
#2894

[2020-03-24 16:00] RrobertRr commented on #2826
I testet this on another pc. There is the same failure.

[2020-03-24 16:40] RrobertRr commented on #2826
I tested it also with the portable version.
And there is the same failure.

But I found out, that this failure is only if I start the portable version on my "D:" drive.
On my "C:" drive I can run the portable version without this failure.

[2020-03-24 16:52] ilikeorangutans opened #2896 "Android: Sharing links to Joplin doesn't create a note"
TL;DR Links or text shared to Joplin on Android just kind of disappears.

## Environment

Joplin version: 1.0.324
Platform: Android
OS specifics: Android 10

## Steps to reproduce

1. open a website in a browser *or* select text, hit _share_
2. Select Joplin in the list of applications
3. Joplin opens, select _new note_ or pick an existing note
4. the shared text/link is nowhere to be seen

## Des

[2020-03-24 19:44] Rahulm2310 commented on #2896
@ilikeorangutans It is not currently possible to share images or to share selected text from any app to Joplin. It is not implemented yet. It is a project idea for GSOC-2020. [Check this out](https://joplinapp.org/gsoc2020/ideas.html#4-sharing-on-mobile)

[2020-03-24 20:14] laurent22 commented on #2889
That will be fixed in next release

[2020-03-24 20:14] #2889 closed

[2020-03-24 20:40] Veyska commented on #2639
Couple thoughts (hopefully this is the right/a good place for 'em):
* With regards to possible orphans, presuming it's possible to determine this maybe just a column for "Known embeds" count and let the user beware, given the warning that's already being added?
* I'd pruned a few overly large embeds early on and finally used Resources to prune the in-app data for them (which is wonderful) but this

[2020-03-24 21:21] ykabusalah commented on #2810
Can I try working on this?

[2020-03-24 21:23] ykabusalah commented on #2327
Can I try tackling this?

[2020-03-24 22:32] laurent22 commented on #2884
Yes it's a know bug

[2020-03-24 22:32] #2884 closed

[2020-03-24 22:35] #2677 closed

[2020-03-24 23:30] Rishgod commented on #2842
@tessus , I have fixed this bug locally but there is an open PR #2737 , this use component introduced in that PR, so should I close that PR, and open a new one with both the changes?
or wait for the earlier to get merged.

![toggler](https://user-images.githubusercontent.com/54576074/77486267-452bdf00-6e55-11ea-8604-60c7ba9eed26.gif)

[2020-03-24 23:33] tessus commented on #2842
I don't know, since I can't merge any PRs which are not related to translations or documentation.

[2020-03-24 23:53] Rishgod commented on #2842
I was just hoping that it would be great if you can review it so it can be fast-tracked on getting merged, so I can make another PR closing this bug, its totally fine if you don't have the time right now and are occupied.

[2020-03-25 02:45] flozender commented on #2810
Sorry, I'm already on it.

[2020-03-25 06:37] limj0825 commented on #876
Hello mentors! my name is MiaojinLi, a first year graduate student from xlab open laboratory and looking for participate in gsoc this year. I am interest in Sharing on mobile, my github also have a easy 2048 game made by react-mobile. so i want to know can i work with android?

[2020-03-25 06:37] anihm136 commented on #2887
I'm not sure its a bug. As far as I can see, its implemented such that the first line of the note is taken as the title, one line left blank, and subsequent lines form the body. That's why it's ignoring the second line. But I'm not 100% sure, would wait for confirmation from the team

[2020-03-25 07:41] andrewmakarskiy commented on #176
Add the undo button please. I made some corrections to an existing note then hit the command+z button and the whole note just disappeared. Hitting this combination again never helped.

[2020-03-25 07:51] anihm136 commented on #1189
I'm able to copy from the viewer pane using `Ctrl-C`on Linux Desktop `1.0.195`. I think it should be resolved.

[2020-03-25 07:55] letian304 opened #2899 "Mobile：When I use mermaid on android，Nodes & shapes was so big"
## Environment
Joplin version: From 1.0.321 To 1.0.324
Platform: Samsung Note8
OS specifics: Android 9.0

The code is here：
[code]
[code]
![mermaid](https://user-images.githubusercontent.com/50763102/77513949-e1cf9a80-6eb0-11ea-85a1-7115162c43ad.jpg)
 On the windows 10 it's normal
![image](https://user-images.githubusercontent.com/50763102/77514010-f9a71e80-6eb0-11ea-83db-f40fb4643871.png)

[2020-03-25 08:26] coderrsid commented on #2860
@anihm136  how did you solve this?

[2020-03-25 08:52] coderrsid commented on #2860
Solved it by running the command `npm run build` in the root folder of joplin.

[2020-03-25 09:28] laurent22 commented on #2899
Could you post the complete code of your note please? In case it affects how it's rendered.

[2020-03-25 09:44] anihm136 commented on #2860
@coderrsid yeah, that was the thing. If I'm right, that command needs to be run whenever the typescript components are updated

[2020-03-25 09:46] coderrsid commented on #2860
Exactly!

[2020-03-25 09:51] shbach opened #2900 "Android: Bold text is black color in dark and oled dark themes"
Both the dark theme and oled dark themes on android are showing bold text in a black color when in view mode. This is particularly bad in oled dark as the text becomes invisible.

![image](https://user-images.githubusercontent.com/5298745/77523516-160c7200-6e43-11ea-96f7-1274b7effa8d.png)

![image](https://user-images.githubusercontent.com/5298745/77523465-02f9a200-6e43-11ea-9390-a4fc5444a105.png)

[2020-03-25 09:57] opqriu opened #2901 "Appimage --no-sandbox"
os : Debian 10 Buster XFCE

1.0.175 Old Version Appimage - Did not have this problem.

But Newer versions (1.0.195) of Appimage will not run unless the "--no-sandbox" option is given.

---

$ ./Joplin-1.0.195.AppImage

[17428:0325/185013.807240:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Rather than run without sandboxing I'm aborti

[2020-03-25 10:01] #2901 closed

[2020-03-25 10:02] opqriu commented on #2901
https://github.com/laurent22/joplin/issues/2246

[2020-03-25 10:14] axq commented on #2327
No permission needed, just make sure you follow the guidelines for pull requests.  If this requires a change that is big or potentially controversial, you can always describe your proposed solution to get feedback.

[2020-03-25 10:54] letian304 commented on #2899
![image](https://user-images.githubusercontent.com/50763102/77528663-4f87c080-6ec9-11ea-8a8e-49f3ea3f82f8.png)

# Flowcharts - Basic Syntax
## Graph
This statement declares a new graph and the direction of the graph layout.

This declares a graph oriented from top to bottom (TD or TB).

[code]

This declares a graph oriented from left to right (LR).

[code]

Possible directions are:

TB - top bott

[2020-03-25 10:54] fdi438 opened #2902 "Inline math generates duplicate in render / does not work correctly"
Inline math gets rendered twice - once the code, and then the rendered math expression. (see attached example screenshot). (I think that this actually used to work in one of the previous versions? _Update: Works on Android and Joplin Desktop 1.0.179_)

## Environment
Joplin version: 1.0.195 (prod, win32)
Platform: Windows 10
OS specifics: n/a

## Steps to reproduce
#### My example:
1. Type inline

[2020-03-25 11:18] #2843 closed

[2020-03-25 11:43] Rahulm2310 commented on #2900
I am fixing this.

[2020-03-25 12:57] tbm commented on #2225
There's no reason to believe it has been fixed.

[2020-03-25 13:19] flozender opened #2903 "Desktop: Electron client fails to start up."
## Environment

Joplin version: v1.0.195 (latest)
Platform: Desktop
OS specifics: Windows 10

## Steps to reproduce

1. Fresh clone of the Joplin repo
2. run npm install on root dir
3. cd ./ElectronClient/ and run npm start

The desktop client fails to open after the latest release update.
![Screenshot (48)](https://user-images.githubusercontent.com/40818234/77540831-ccb33580-6ec9-11ea-9d57-fe1f60

[2020-03-25 13:49] ishantgupta777 commented on #2899
Sir, can I look into this?

[2020-03-25 14:54] mikea commented on #2811
@laurent22 can confirm fixed on master. Any chance to get another release cut with this? The bug made it to my iPhone :(

[2020-03-25 14:57] laurent22 commented on #2903
not a bug

[2020-03-25 14:57] #2903 closed

[2020-03-25 15:09] flozender commented on #2903
How can I get the app to run then, I was able to get it running following the same procedure earlier. Sorry for bothering you.

[2020-03-25 15:13] shahin-bayat commented on #275
👍

[2020-03-25 15:48] sealch commented on #2902
Duplicate of #2811

[2020-03-25 16:11] coderrsid commented on #2902
It's fixed already on master.
Platform : macOS

![image](https://user-images.githubusercontent.com/35633575/77558717-4a367000-6ee1-11ea-9d32-3a748700070a.png)

[2020-03-25 16:39] Drallas commented on #753
I also would like to have GitHub / GitLb Sync support. I'm syncing to a local folder that is a local Git Repo. But native support would be nicer!

[2020-03-25 17:17] alexdevero commented on #2406
I am also experiencing issues with syncing on OneDrive. When I try to sync the app it will sync only few dozens of items and then it stops with "Last error: Error".

[2020-03-25 17:49] banan314 opened #2906 "Linux Mint fails to start installation"
## Environment

Joplin version: NA
Platform: Linux (Mint 19.3 Cinnamon)
OS specifics: bash

## Steps to reproduce

1. Run Joplin_install_and_update.sh

**Result:**

Prints
[code]
but nothing else happens

## Describe what you expected to happen

Should proceed with installation.

[2020-03-25 18:25] rajprakash00 commented on #2906
Have you tried in this way as written in forum
https://discourse.joplinapp.org/t/cannot-install-in-linux-mint-19-1-mate/1753

[2020-03-25 18:57] Dharmesh-Poddar commented on #2751
@Rahulm2310  are you working on it?

[2020-03-25 19:07] #2902 closed

[2020-03-25 19:08] anihm136 commented on #2681
@hetanthakkar1 if you're not working on this, I'd like to take this up.

[2020-03-25 20:26] xmiti commented on #2906
Guess the issue is the following command (line 72) ends up with the empty string:
`RELEASE_VERSION=$(wget -qO - "https://api.github.com/repos/laurent22/joplin/releases/latest" | grep -Po '"tag_nam    e": "v\K.*?(?=")')`

[2020-03-25 22:55] SleeplessSloth opened #2908 "Sidebar text is somewhat difficult to read with Nord theme"
## Environment

Joplin version: `1.0.195` from the AUR
Platform: Linux
OS specifics: Arch Linux

## Steps to reproduce

1. Enable the Nord theme
2. Be unable to read the text

## Describe what you expected to happen

I expected to be able to read the text without getting close to the monitor. Perhaps it shouldn't be so dim but rather have more contrast. The regular Dark theme is perfect in that re

[2020-03-26 02:22] #2746 closed

[2020-03-26 02:49] ishantgupta777 commented on #2900
Bro, I was already working on this. Please choose any other issue.

[2020-03-26 03:13] ishantgupta777 commented on #2891
Bro, are you working on this issue? Or can I solve this?

[2020-03-26 03:28] prurph commented on #2425
Looks like this is still present. As an extremely hacky workaround you can do: `:config editor "vim -c '!code %'"` in the Joplin CLI.

This will start vim with the appropriate tmp file for editing and also open it in code. Edits made in code will be reflected in the note once vim is closed. Trying to close vim immediately as part of the command results in the tmp file being deleted and breaks thin

[2020-03-26 04:16] lightnoway opened #2911 "could not work after upgrade install by brew while by clicks works fine"
could not work after second install by brew;
   the first install is double click dmg file  at version 1.0.193
   the second install is by brew  at version 1.0.195
the report is "old version config blabla" sorry without screenshot

## Environment

Joplin version: 1.0.195
Platform: macOS 10.15.2 (19C57)
OS specifics:  MacBook Pro (Retina, 15-inch, Late 2013)

## Steps to reproduce

1. install by cl

[2020-03-26 04:45] ishantgupta777 commented on #2908
I would like to work on this issue.

[2020-03-26 05:29] shbach opened #2912 "Android: syntax highlighting missing in edit mode"
Syntax highlighting is not present in the edit mode of the android app:

![image](https://user-images.githubusercontent.com/5298745/77613152-3857cb80-6ee7-11ea-8334-5a8e4d68218d.png)

Compare this to the desktop version which has it:

![image](https://user-images.githubusercontent.com/5298745/77612971-bf587400-6ee6-11ea-82cb-43149e3fe26f.png)

## Environment

Joplin version: 1.0.324
Platform: Andr

[2020-03-26 09:21] laurent22 commented on #2912
not a bug, just not implemented

[2020-03-26 09:21] #2912 closed

[2020-03-26 09:36] Rahulm2310 commented on #2891
Yeah

[2020-03-26 10:48] ishantgupta777 commented on #2891
Go ahead bro, tell me if you need help.

[2020-03-26 11:05] martijnhazebroek commented on #2153
Because of this issue my workflow was broken and I had to stop using Joplin.

[2020-03-26 11:39] metbril commented on #2153
I shared an account with @laurent22 but apparently he has not had time to look into this yet.

[2020-03-26 12:14] roman-r-m opened #2915 "Attaching an image or a file to a new empty note puts markdown tag into the title"
Steps to reproduce:

1. Create a new empty note
2. Attach any file or image
3. Save the note

Maybe set the title from the file name instead or just "Untitled"?

[2020-03-26 13:22] rajprakash00 commented on #2915
Without giving any title it's obvious that whatever you write in editor comes in title be it image or file.So is with the markdown tag too.
Can you explain your issue more properly?

[2020-03-26 13:44] laurent22 commented on #2911
Needs to be reported on Homebrew repo

[2020-03-26 13:44] #2911 closed

[2020-03-26 14:15] roman-r-m commented on #2915
Firstly, I should have clarified that I obverve this on mobile, though I suspect desktop version behaves the same.

What I mean is when I'm attaching a file, say, `very_important_document.pdf`  it would be very conventien to have the note titled `very_important_document.pdf`  rather than something like `![1584638208-17ceb24b997bbec28cab243c87d649cf.jpeg](:/a0ec092858ac4fc28881437d85)`. Makes searc

[2020-03-26 14:52] amitsin6h opened #2916 "Mobile: Language change does not reflect changes properly"
## Environment

Joplin version: 1.0.323
OS specifics: Android

## Steps to reproduce

1. Swipe to open drawer menu and click on "Configuration"
2. Now look for Language change option
3. Select the language of your choice but it will not reflect changes properly

 ![20200326_201053](https://user-images.githubusercontent.com/12906090/77660377-410bd880-6f9f-11ea-8c0b-610ddaa70c5e.gif)

[2020-03-26 14:52] amitsin6h commented on #2916
I am working on fix

[2020-03-26 18:22] banan314 commented on #2906
Hi! As I understand the situation on the discourse, the installer did most of its job but failed to create a desktop icon. My case is a complete failure - nothing is done at all :fearful:

[2020-03-26 18:25] banan314 commented on #2906
Hi @xmiti! What do you suggest? Editing the file is no problem for me, just have to know what to do. First of all, I cannot see an empty string.

[2020-03-26 18:43] anihm136 opened #2917 "Desktop: White margin on small window size"
## Environment

Joplin version: 1.0.195
Platform: Linux Desktop
OS specifics: Ubuntu 19.10

## Steps to reproduce

1. Make the window size small (about 1/4 of the screen size on my 1366x768 display seems to trigger it)
2. Create a new note / paste a long note / paste a long title
3. White margin is created due to title input overflowing

## Describe what you expected to happen

Title field should

[2020-03-26 23:15] ambidexi commented on #2454
Did not get this problem in the updated version, thanks.

[2020-03-26 23:15] #2454 closed

[2020-03-26 23:20] joshsweaney commented on #176
This is fantastic, been waiting for this feature for a long time. My notes are usually pretty simple, so everything is working fine for me now.

The only issue I encountered is that when upgrading my notes to the new encryption, the cursor would not appear in WYSIWYG mode (but it would work fine in regular markdown mode). A simple restart solved the issue though. I'll keep using it in WYSIWYG mode

[2020-03-26 23:37] xarthurx commented on #2908
Additionally, the preview text is also difficult to read:
![image](https://user-images.githubusercontent.com/1921878/77706566-0ae05000-6fc3-11ea-9146-ac6134a06679.png)

The **bold** text is fine though.

[2020-03-27 00:20] EricB10 commented on #1983
Confirmed, Right Click -> Open works, from that point forward opening from dock seems to work fine.

[2020-03-27 01:11] prurph commented on #1449
It would also be really cool if you could automatically generate/see backlinks for notes (the notes that link to a given note) so that any links could be bidirectional.

[2020-03-27 05:52] Dharmesh-Poddar opened #2920 "enhancing the file system synchronisation target"
## Issue:
  Currently when we select synchronisation target as file system we manually need to specify whole    path .
![WhatsApp Video 2020-03-27 at 10 45 56 AM](https://user-images.githubusercontent.com/32756751/77725874-9803c300-701c-11ea-9065-36572fdc2346.gif)

## Environment

Joplin version: 1.0.324
Platform: Android
OS specifics: Android 10

## Steps to reproduce

1. open the android app of

[2020-03-27 06:14] Dharmesh-Poddar opened #2921 "Android: Some text are in black colour in dark and oled dark theme"
on welcome page we have some notes like welcome to joplin , importing and exporting notes etc.
 When the theme is dark or oled dark ,there are some texts inside the notes that are in black colour and that is why these texts are not visible properly and hence are not user-friendly.

![WhatsApp Image 2020-03-27 at 11 30 28 AM](https://user-images.githubusercontent.com/32756751/77727221-cfc03a00-701f

[2020-03-27 07:05] anihm136 commented on #2921
I believe this issue was with bold text only, and resolved by a recent PR

[2020-03-27 07:12] rajprakash00 commented on #2915
Yes,I got what you are saying. looking that way also if you write any bold or italic sentence instead of attaching file/image asteriks come in the title  like `**bold**` in title it becomes `bold**` but according to you it should be `bold`

[2020-03-27 07:13] joesfer opened #2922 "SQL error upon enabling encryption"
I am getting the following SQL error

Upon enabling encryption, but possibly related to the first sync happening thereafter. The error first shows in a popup window inside the encryption settings, and later on in the Status messages.

Checking the note in the database.sql, I can see nothing wrong with it: it exists, all referenced attachments exists as well (mid-sized jpeg files). As far as I can

[2020-03-27 07:16] joesfer commented on #2922
Update: I am consistently getting this error now when I try syncing. Even after I disabled encryption.

[2020-03-27 11:44] xmiti commented on #2906
Hello @banan314, very interesting.  Have tried that several times and indeed, sometimes the `tag_name` (1.0.195) is displayed, sometimes not:
[code]
[code]
Might be an issue related to the JSON formatting.  Using the `jq` could be a dirty fix:
[code]

[2020-03-27 12:09] #2867 closed

[2020-03-27 12:13] #2900 closed

[2020-03-27 12:16] #2917 closed

[2020-03-27 12:20] #2334 closed

[2020-03-27 12:28] #471 closed

[2020-03-27 14:04] ishantgupta777 commented on #2921
Hey bro,  this issue is for bold text, I just solved it, and issue and my PR is already there

[2020-03-27 15:20] krlmlr commented on #2906
On Ubuntu, I had to download the script to a file and run `bash` on it. I'm seeing a download progress bar, maybe this doesn't work when running the installer script in piped mode?

[2020-03-27 15:56] dpoulton-github commented on #2906
This has come up on the [forum](https://discourse.joplinapp.org/t/installation-script-output-seems-ok-but-joplin-desktop-not-found/7411/2)

It seems commenting out the Architecture Check allows the script to run.

[2020-03-27 16:00] Dharmesh-Poddar commented on #2921
@ishantgupta777 @anihm136 Thanks guys !! I will close it.

[2020-03-27 16:00] #2921 closed

[2020-03-27 16:50] pcause commented on #2896
@Rahulm2310  That is noit the problem he describes.  This functionality used to work.  In a browser if you shared to joplin it would create a new note with the USR as content and title.  Broken in recent uypdates

[2020-03-27 17:04] CalebJohn commented on #2906
On the [forums](https://discourse.joplinapp.org/t/installation-script-output-seems-ok-but-joplin-desktop-not-found/7411/6?u=calebjohn) one user wase able to get around this by removing the architecture check block. Can anyone confirm this? And if so, what is the output of `uname -a` on your system.

[2020-03-27 17:33] coderrsid commented on #2908
@xarthurx  Sure, it would be. I believe @ishantgupta777 , you're still working on this issue?

[2020-03-27 17:58] JekRock commented on #1877
Searching notes by tags and tags combination is really cool feature to have

[2020-03-27 18:06] JekRock opened #2925 "Store tags inside notes"
It would be nice if tags were stored inside notes content so tags would remain when you export/import notes to/from a different app

[2020-03-27 18:13] coderrsid commented on #2908
I used `#8fcadb` instead of `#88c0d0` (nord[8])
<img src="https://user-images.githubusercontent.com/35633575/77786288-902b3980-7083-11ea-91ad-4734f2e3879a.png" width="40%"> -> <img src="https://user-images.githubusercontent.com/35633575/77786399-c4065f00-7083-11ea-91ef-7703b8d38051.png" width="40%">
It really changed the brightness. Looks better @SleeplessSloth ?

[2020-03-27 18:21] coderrsid commented on #2925
Oh, that's a great idea. To which application are you trying to export/import the notes with tags? TBH, every note application has a different framework for assigning `tags` to a `note`. So, i guess it wouldn't be much possible for the tags to transfer. But, laurent can tell is there is any chance?

[2020-03-27 18:44] Rahulm2310 commented on #2751
@Dharmesh-Poddar Go ahead brother!

[2020-03-27 18:45] JekRock commented on #2925
There is the [QOwnNotes](https://github.com/pbek/QOwnNotes) app that supports tags inside notes. If tags are stored in a specific format you can convert them with just "Find and Replace" in any text editor.

It's more about saving the context than about exporting/importing. Notes that are stored in plain text can be opened with any editor no matter how they have been taken. And tags are an importa

[2020-03-27 18:59] coderrsid commented on #2925
I don't understand this.

That's what i am saying there needs to be a compatible framework in both the apps (importer and exporter) for inclusion of tags, and i perfectly support this feature, it will be really helpful if it could be implemented. You can discuss this feature in Discourse instead where you'll get better insights
https://discourse.joplinapp.org/c/features/

[2020-03-27 19:36] ImportTaste commented on #2234
The issue is still active.

[2020-03-27 19:39] JekRock commented on #2925
If you store all tags inside notes as plain text all apps that support such tagging will be able to work with them. They may have different tag formats but they will still be just a text. So you will be able to convert tags with a regex in any text editor if you need to.
I don't think there must be any framework to support this feature. Tags will be just a text. No matter how they work in a specif

[2020-03-27 20:20] abjrcode opened #2927 "OneDrive sync fails on random files with UknownError"
After upgrading to the latest version (1.0.195) of Joplin on Desktop which includes the new encryption algorithm; I decided to re-encrypt everything which forces a full re-sync to the target, in my case OneDrive.

It seemed like it managed to sync everything, at least it appears so, as I have pulled everything on the iOS app and I didn't see any missing data.
But when I try to install on another P

[2020-03-27 20:59] CalebJohn commented on #2906
For anyone experiencing this issue can you please try the below command?
[code]

And copy/paste the output

I'm having trouble reliably duplicating the issue

[2020-03-28 00:19] hahagood opened #2928 "sync by WebDAV with jianguoyun.com"
## Environment

Joplin version: desktop 1.0.195-1
Platform: linux
OS specifics: Arch

## Steps to reproduce

1. After last update, sync by WebDAV with jianguoyun.com has something out of control.
![2020-03-28_20:26:43](https://user-images.githubusercontent.com/40338/77824425-89f99380-713d-11ea-83d1-a8202ec18960.png)
2. the message shown :
[code]

3. I try to uninstall the joplin and delete all of

[2020-03-28 00:33] #2778 closed

[2020-03-28 00:36] #2858 closed

[2020-03-28 01:51] roachsinai commented on #2811
Same issue, thanks for fix and waiting for the next release!

[2020-03-28 06:11] RedDocMD commented on #2922
@joesfer, what is the sync target you are using, if you have no problem to share that. I am running this version on Ubuntu 19.10. With no sync target there is no problem.

[2020-03-28 07:00] joesfer commented on #2922
Hi, this was syncing to a directory (Dropboxes in this case, but not through the Dropbox API).

It seems as if its now trying to apply some pending updates after the failed encryption attempt, and that's resulting in an invalid query. I can try fishing the data out from the sql database if you point me to what you are after?

Thanks

[2020-03-28 07:30] RedDocMD commented on #2922
Well yes, getting to have a look at the database.sqlite file would be useful. Especially why is the DELETE command being run. I don't see any reason to delete any resource while encrypting.

[2020-03-28 08:12] joesfer commented on #2922
while I'm afraid I could not share the database per-se, I did a little bit more digging using sqlite directly (to avoid any further mess with the joplin client):

I found the note and resources ids from the note in question mentioned in the error, and found several entries in the sync_items table for the same resources. One of them was clearly stale because it pointed to sync_target=7 (dropbox), r

[2020-03-28 08:53] ishantgupta777 commented on #2908
Yes bro, I am working on it.

[2020-03-28 08:58] coderrsid commented on #2915
This issue is already discussed in #1731

[2020-03-28 09:12] roman-r-m commented on #2915
I don't think it's the same, unless I have missed something - that thread is quite long.

From what I saw that issue is about inserting urls and fetching the page title while what I had in mind was attaching files that already have names, just showing this name differently in note title.

[2020-03-28 09:24] coderrsid commented on #2915
Ohh so you want the title of the file to the note title right? But would that make sense always?

[2020-03-28 09:31] roman-r-m commented on #2915
I can't think of a scenario where having markdown tag as title has more sence than file name.

But to be clear this is only for the scenario where you create a new note, attach a file and save and the title is generated automatically. Obviously you can always set title youself and this will have priority over auto generated title.

[2020-03-28 09:37] RedDocMD commented on #2922
One thing I must mention that in the `$HOME/.config/joplin-desktop/resources` directory, resources ar e saved as `<id>.<file_extension>`. In your case the file `Amy01-notes.jpg` has been saved not only by its name, but also with extra quotes. It is as though the filename right from the first time you added it as a resource had those extra quotes. Are you sure that you had not accidentally saved th

[2020-03-28 10:51] joesfer commented on #2922
Hi @RedDocMD yeah that's a good point.

I think I found the core issue: somehow, and I'm not sure how this happened, I had said entries in the resources database, where the id field was in the form of the quoted filename. This explains the SQL query format error (meant to include an id, not a string).

I went ahead and purged the invalid entries, since they don't correspond to any valid resource,

[2020-03-28 10:51] #2922 closed

[2020-03-28 13:05] #2683 closed

[2020-03-28 16:13] mpern commented on #2906
The issue was (at least for me on Kubuntu) the regex to determine the current version:

[code]

[2020-03-28 19:10] axsaucedo opened #2930 "[Solved] App crashes on launch on Android on clean install"
I have a resh download of the Joplin app, when I open it, it immediately crashes. The app was downloaded from the App store.

Is this a known issue? If so is there a workaround?

I saw there are a couple of other issues (one open and a few closed), but those reference issues of already set-up apps with specific actions or setups that crash the app, but in this case it's a clean install.

## Enviro

[2020-03-28 19:22] axsaucedo commented on #2930
Ok, I was able to install the APK manually, the 64bit APK was failing but it seems that installing manually the 32 bit installer fixed it. It seems that it's now working correctly. Is it a known workaround that for samsung galaxy s7 the installation must be done manually instead of through the playstore?

[2020-03-29 02:00] SleeplessSloth commented on #2908
Yeah, it looks a bit better, not by much though. I wonder if it's possible to improve it even more, e.g. how the [nordtheme.com](https://www.nordtheme.com/docs) looks

![20200329_035844](https://user-images.githubusercontent.com/37976824/77838187-d8c12080-7171-11ea-8bca-c1c43c820970.png)

[2020-03-29 04:28] syrte commented on #2906
I also met with this problem. The installation fails silently.
Just for your information, I'm unable to connect to api.github.com in my case. It seems blocked by the firewall of my internet provider. If you are in China, you might have the same issue.

[code]
Also, I can not access this URL in my browser.

[2020-03-29 11:10] #2930 closed

[2020-03-29 11:53] axsaucedo opened #2933 "[Feature Request] Autosaving for the terminal application when modifying a file"
Reopening #1118 with a focus specifically into automatically syncing whenever a file is saved/modified or deleted, as it woudl be very useful to trigger a sync whenever a file is saved / edited.

Operating system

* Windows
* macOS
* Linux

Application

* Terminal

[2020-03-29 13:04] GETandSELECT commented on #753
@mschaaf

please share the script in a gist

[2020-03-29 13:42] k-svensson commented on #2406
I get the same result as alexdevero, i.e. a few notes get synced (anywhere from 3 to 100+) and the operation ends with the same error message. In case it's helpful, here's the the last entry in the log.txt file:

[code]

[2020-03-29 14:19] MulintiShaikWajid opened #2934 "Issue with math rendering"
Writing
Let $G=L\cup R$
renders incorrectly as (the source code for rendering is also being displayed)
![Screenshot (70)](https://user-images.githubusercontent.com/53876204/77851272-d6a0a580-71f5-11ea-9e82-143fdcf50eb8.png)
while writing
\* Let $G=L\cup R$
renders correctly as
![Screenshot (71)](https://user-images.githubusercontent.com/53876204/77851302-ffc13600-71f5-11ea-80f8-0d8d45418297.png)
J

[2020-03-29 15:26] vsimkus commented on #2934
It's fixed on master already https://github.com/laurent22/joplin/issues/2811.

[2020-03-29 16:06] Drallas commented on #753
I use something like this :
https://gist.github.com/Drallas/8c57dc87c05648d5cbac4f0a743d6ce5
And an Alias!

[2020-03-29 18:14] mschaaf commented on #753
@GETandSELECT the script can be found here https://gist.github.com/mschaaf/0fd33587d3d6220abdff4a391a68cf83

[2020-03-29 20:07] goodevilgenius commented on #753
I mentioned mine earlier in the thread, but here it is again: https://gitlab.com/danjones000/simple-git-sync

I use this for a number of things, and it works really well.

[2020-03-29 20:20] oigres200 opened #2935 "Main window is blank after updating to v1.0.196"
## Environment

Joplin version: 1.0.196
Platform: Windows
OS specifics: WIndows 10 x64 Pro 1909 Build 18363.720

## Steps to reproduce

1. Update or install Joplin to v.1.0.196
2. The main window is blank. The taskbar icon is not shown.

## Describe what you expected to happen

Joplin should open my notes and the taskbar icon should appear.

## Logfile

I tried but it never generated anything on l

[2020-03-29 20:20] ImportTaste commented on #2935
I'm also experiencing this issue. I had to downgrade to 195.

[2020-03-29 20:24] Timecrash commented on #2935
I'm experiencing this as well, though with me, the window immediately closes. The service is still active, however.

[2020-03-29 20:29] fwn commented on #2935
Same issue, downgrade solved it for now!  Windows 10 x64 Home 1909

[2020-03-29 20:54] iot-resister commented on #2935
Same issue on Mac 10.14.6

[2020-03-29 21:03] fam4r commented on #2241
up

[2020-03-29 22:02] #2934 closed

[2020-03-29 22:10] DawMatt commented on #2935
Essentially the same issue here after upgrading on my Windows machine. In my instance when I run Joplin (system wide install) no window opens at all but if I open task manager I can see a single Joplin process running. If I then try to run Joplin again, I get the blank main window that was mentioned by the OP and I can see there are multiple Joplin processes running (currently 4, but I'm sure it s

[2020-03-29 22:24] marpada commented on #2935
Error on the Linux build:

[code]

[2020-03-29 22:24] shbach commented on #2935
Same issue on linux

[2020-03-29 23:02] dzigner opened #2936 "Hand write notes"
I need to take hand written notes. Please add this feature.

[2020-03-29 23:22] laurent22 commented on #2935
Sorry about that, a broken build somehow got released, but I took it out now.

For now please go back to v195, which should work fine.

[2020-03-29 23:29] milianj commented on #2935
Scoop pickup the update, I'm not sure of other pack.manager did also ? Any chance you could re-release as V197once is fixed, if possible. Thanks for all your hard work.

[2020-03-29 23:52] laurent22 commented on #2935
Can the update be rollbacked on Scoop?

I'll release a fixed build at some point but not sure when. Despite all the checks we have in place electron-builder managed to compile and release a broken build, so that will need to be investigated.

[2020-03-30 01:14] #337 closed

[2020-03-30 04:25] #2127 closed

[2020-03-30 06:26] LecygneNoir commented on #2906
Hello,

I confirm the same problem here on Fedora 31

@CalebJohn for the output of your command:
[code]
No more output, give up the shell silently after the "Checking latest version"

I was unable to have the json version working even relaunching multiple time, but the trick from @mpern works!

Downloading the script without piping and removing the space :
[code]

After that the script get the ver

[2020-03-30 07:07] lucker999 opened #2938 "Adding strikethrough style on android app not working"
Add a `stikethrough` style (~~like that~~) to a existing note in the android app has no effect on the styled text. If a note with such style synced with windows, the styled text in the not in both windows Joplin app and in Typora show tildas instead of striked through text

## Environment

Joplin version: Latest 1.0.324
Platform: Android 5.1
OS specifics:

## Steps to reproduce

1. Open a note in

[2020-03-30 09:31] yangtfu commented on #2934
same issue on linux 1.0.195, it's not fixed!

[2020-03-30 09:49] workpush commented on #2935
For me the same on MacOS.

[2020-03-30 11:39] 0xMH commented on #1877
Is it possible to search within a note list? In my case, I've this huge notebook with dozens of notes and It'd be awesome to search within the notebook itself for the note's subject. Maybe adding a small search bar on top of a note list.
![image](https://user-images.githubusercontent.com/12420351/77908431-c63b0a00-728b-11ea-9836-9bc853344f04.png)

[2020-03-30 12:08] tessus commented on #2934
If it has been fixed after 1.0.195 how can it fixed in 1.0.195? Closing this issue to avoid other useless comments.

[2020-03-30 12:10] #2936 closed

[2020-03-30 12:25] #2220 closed

[2020-03-30 13:39] laurent22 opened #2939 "Crash in new Markdown editor"
When adding some text at the beginning of an empty note:

[code]

[2020-03-30 13:59] coderrsid commented on #2915
@PackElend and @bedwardly-down , can surely bring some insights here..

[2020-03-30 14:02] coderrsid commented on #2939
I guess the platform we're talking about is Android here, right?

[2020-03-30 14:07] coderrsid commented on #2933
We can use the similar feature script from Desktop platform for this, i guess.

[2020-03-30 14:41] papylhomme opened #2941 "Resources fetched on-demand aren't displayed automatically"
## Environment

Joplin version: 1.0.324
Platform: Android
OS specifics:

## Steps to reproduce

1. Configure a synced client using *auto* as resource download mechanism
2. Open a note with resources, the resources are downloaded but not yet displayed
3. Reopen the note to see the resources

## Describe what you expected to happen

Once a resource is fetched it should be displayed in the UI without

[2020-03-30 15:00] yschutz opened #2942 "Inline LaTeX in a note"
The first inline LaTeX in a paragraphe shows a problem as illustrated in the screen capture below.
The inline text appears on a separate line as regular text and is then repeated as LaTeX formatted text on a new line. The second inline LaTeX does not show this feature.

<img width="2236" alt="Capture d’écran 2020-03-30 à 16 51 20" src="https://user-images.githubusercontent.com/5189142/77926691-b11

[2020-03-30 15:22] anihm136 commented on #2241
This appears to be an issue of AceEditor. From what I read, the clipboard registers have not been implemented yet, so vim mode does not have an interface to the system clipboard. It might be possible to have a workaround by overriding the keyboard shortcuts, but I'm not sure if that's something that's wanted. @PackElend could you please give some insight to this?
If I'm wrong about this being an A

[2020-03-30 15:30] anihm136 commented on #2942
This issue has been solved on the latest master branch

[2020-03-30 15:50] foxMclion opened #2943 "Android app crashes on startup"
I have a setup with Linux and an android 9 phone. I first installed joplin on desktop and then tried the android app. I'm using dropbox for cloud storage. I have successfully synchronized the devices the first time. Changes fly back and forth the desktop and mobile. But then when I close the android app and relaunch it I can see it tries to sync but it crashes seconds after.

I also noticed the An

[2020-03-30 15:55] foxMclion commented on #2943
It's also worth mentioning that on previous app update the android app asked me to update encryption methods because they were outdated, this also happened during one of my reinstalls I did to see if that fixed the crash. Before that I've also successfully tried to attach a big file to a note, I think it was about 50MB file. The big file synced but I don't remember if it was at that time that thin

[2020-03-30 16:18] milianj commented on #2935
The fixed rollback to v195 is now showing up in Scoop with a database update. However, the rollback is not automatic. You can however do a force update to reinstall v195, ie `scoop update joplin -f ' . This works for me on Win10 pro 1909.

[2020-03-30 16:54] CalebJohn commented on #2906
Thanks everyone for the replies, the fix is on the way!

[2020-03-30 17:21] laurent22 commented on #2935
Should work now.

[2020-03-30 17:21] #2935 closed

[2020-03-30 17:26] Zpzuo commented on #2942
I met the same problem. Thank you for your bringing up the bug!

[2020-03-30 17:27] laurent22 commented on #2942
I believe that should be fixed in the latest release. Please check and let us know.

[2020-03-30 17:27] #2942 closed

[2020-03-30 18:12] zohozer opened #2944 "iOS app not scrooling anymore in notes (Edit mode)"
I am using the iOS version of Joplin 10.0.46 and unfortunately this latest update is introducing a quite serious bug.

More exactly, I can't scroll anymore into the notes in EDIT mode. I can edit only the top of the page, but it is impossible to make the keyboard to disappear and to scroll down up to the bottom of the note.

Please help to fix this issue.

[2020-03-30 18:36] PackElend commented on #2241
sorry I'm on Windows

[2020-03-30 18:52] PackElend commented on #2915
idea sounds reasonable for me

[2020-03-30 19:12] plainspace opened #2946 "Clipper not adding original URL to note"
The Evernote clipper appends the original URL so that you can easily get back to the page you clipped from. Is it by design that the Joplin clipper does not?

[2020-03-30 19:31] verma-anushka opened #2947 "Certain sections not responsive"
The list of notebooks section is not responsive.
The text "Notebooks" gets hidden on upon resizing.
![issue](https://user-images.githubusercontent.com/46157435/77953498-05e50e80-72eb-11ea-8bc6-e9710ad53532.jpg)

## Environment

Joplin version:
Platform:
OS specifics:

## Steps to reproduce

1.
2.
3.

## Describe what you expected to happen

## Logfile

[2020-03-30 21:35] verma-anushka opened #2948 "[Feature Request] Adding new notes categories"
⚠🚨⛔ The issue tracker is not for questions. ⛔🚨⚠

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek.

Add new templates and categories of notes for enhancing user experience. (similar to evernote templates).
## Questions and Help

Please read the [documentation](https://joplinapp.org/) and [FAQ](https://jo

[2020-03-30 22:07] CalebJohn commented on #2906
fixed by #2913

[2020-03-30 22:07] #2906 closed

[2020-03-30 22:49] laurent22 commented on #2946
It does, you need to click on the Info button

[2020-03-30 22:49] #2946 closed

[2020-03-30 22:49] laurent22 commented on #2947
It's by design, it's meant to be manually resized

[2020-03-30 22:49] #2947 closed

[2020-03-30 22:50] #2948 closed

[2020-03-31 02:46] pptfz opened #2950 "joplin Start the error"
When I started joplin, I reported the following error. I don't know how to solve this one

internal/modules/cjs/loader.js:985
  throw err;
  ^

Error: Cannot find module '/usr/local/Cellar/joplin/1.0.161_1/libexec/lib/node_modules/joplin/node_modules/sqlite3/lib/binding/node-v72-darwin-x64/node_sqlite3.node'
Require stack:
- /usr/local/Cellar/joplin/1.0.161_1/libexec/lib/node_modules/joplin/node_m

[2020-03-31 07:07] tessus commented on #2950
You apparently use `brew`. We do manage the brew packages. Please open an issue with them.

The only supported Linux version is the AppImage (and the cli via npm). Everything else is maintained by somebody else.

[2020-03-31 07:07] #2950 closed

[2020-03-31 07:49] verma-anushka opened #2952 "Desktop: Layout option not working at time"
The layout option doesn't work on the first click at times. It has to be selected multiple times before the layout section appears on the screen.

## Environment

Joplin version:
Platform:
OS specifics:

## Steps to reproduce

1.
2.
3.

## Describe what you expected to happen

## Logfile

[2020-03-31 10:01] #2223 closed

[2020-03-31 10:02] verma-anushka opened #2953 "[Feature Addition:] Download Notes"
⚠🚨⛔ The issue tracker is not for questions. ⛔🚨⚠

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek.

## Questions and Help

Please read the [documentation](https://joplinapp.org/) and [FAQ](https://joplinapp.org/faq/) first.
A suggestion to allow the user the option to download notes as well as entire not

[2020-03-31 12:11] coderrsid commented on #2952
Can you please elaborate the issue in hand? with addition of some screenshots too.

[2020-03-31 12:14] coderrsid commented on #2933
Although you should start discussing the feature in the discourse [feature channel](https://discourse.joplinapp.org/c/features/)

[2020-03-31 14:01] #1135 closed

[2020-03-31 14:12] b4ndit opened #2954 "IP Address Sort Feature"
When sorting by title, notes starting with an IP address are sorted alphabetically. For example, given the note titles: 10.10.1.1, 10.10.1.123, and 10.10.1.4; the current sorting method puts the titles in that exact order. Adding "IP address awareness" to the sorting method would place the 10.10.1.123 note at the end.

<img width="505" alt="Joplin-ip-address-sort-feature" src="https://user-images.

[2020-03-31 14:35] #2953 closed

[2020-03-31 15:52] anihm136 commented on #2915
I'd like to take this up

[2020-03-31 18:43] tessus commented on #2954
You can either have alphabetical ordering or numerical ordering. We use alphabetical since the beginning. This is not a bug. If you wish to open a feature request or discuss Joplin in general, please use the forum.

This is works as designed, thus not a bug.

[2020-03-31 18:43] #2954 closed

[2020-03-31 18:52] Mortimersnodgrass commented on #176
Let me know if I'm reporting imperfections with wysiwyg in wrong place.
If you select text and right click in wysiwyg, you only have the option to create a link. In markdown you have: copy, paste and cut; In viewer copy.
Ctrl-c works, but I think there should be more options with the context menu.

[2020-03-31 20:22] SleeplessSloth opened #2956 "[Desktop] The app lags completely out when syncing"
## Environment

Joplin version: 1.0.195
Platform: GNU/Linux
OS specifics: Arch Linux, package from the AUR

## Steps to reproduce

1. Enable file system sync
2. Add a lot of one line notes (in my case it were ~2700 notes I added via the command line app via a script)

## Describe what you expected to happen

I expected it to sync once after I added the notes (even if it took a lot of time) and the

[2020-04-01 02:48] bedwardly-down commented on #2956
#2518

[2020-04-01 02:55] SleeplessSloth commented on #2956
@bedwardly-down, thanks, for some reason couldn't find it by myself. Closing this in favor of the one you provided

[2020-04-01 02:55] #2956 closed

[2020-04-01 07:20] zrml commented on #1983
@EricB10 yes, Right-Click-->Open works but we must also say that this is from
Finder-->Applications-->Joplin (some users don't have the Applications options in Finder)
So
the above means that if you just use
Launchpad, the Right-Click workaround does not work.
It also means that if you do not have Applications in your Finder then go to your
Finder Preferences, select the Sidebar tab and
click/sele

[2020-04-01 08:35] Ardakilic opened #2958 "App crashes on macOS Catalina"
## Environment

Joplin version:  1.0.1.197, downloaded manually from the releases page here in GitHub
Platform: macOS Catalina
OS specifics: 10.15.4

## Steps to reproduce

1. App updated from 1.0.195 to 1.0.196, it had build issue and blank page issue
2. Uninstalled v1.0.196 using CleanMyMac or deleting the folder at /Applications
3. v1.0.197 does not start at all

## Describe what you expected t

[2020-04-01 08:51] Ardakilic commented on #2958
Strangely, `brew cask install joplin` worked nicely, which I believe simply downloads and extracts the app.

However, after checking the [formlae](https://github.com/Homebrew/homebrew-cask/blob/master/Casks/joplin.rb), I realized it has ,zap trash, entries for some files/folders such as saved state, maybe I should have deleted these files (which I didn't know unless I checked the joplin formulae).

[2020-04-01 09:36] coderrsid commented on #2899
@ishantgupta777  Are you working on this? We have more users reporting this issue https://discourse.joplinapp.org/t/mermaid-graph-size/7571

[2020-04-01 09:57] ishantgupta777 commented on #2899
I tried and looked at the code and I think this is not the problem with the Joplin but with the mermaid library itself. There was not any specific reason for it to this big in Joplin. There are many issues also with same type on mermaid repo. I also tried to write some overriding some CSS styles to fix this issue. But that also didn't work. So if you want to try this issue, you can go ahead.

[2020-04-01 10:25] al-soup opened #2959 "macOS: alternate character choice writes redundant character"
## Environment

Joplin version:  1.0.197 (prod, darwin)
Platform: macOS
OS specifics:  Catalina 10.15.4

## Steps to reproduce

1. Within a note, hold down a key button which has alternate characters (e.g. the *a* key)
2. Select one of the alternate characters with *cmd* + *number*

When an alternate (special) character is selected by holding down the key and choosing the respective number, the he

[2020-04-01 10:41] ishantgupta777 commented on #2938
It worked for me, but I am on android 10, so may its problem with the android version and not the Joplin itself.
![Screenshot_1585737666](https://user-images.githubusercontent.com/27751740/78128373-6b441700-7433-11ea-9b87-d83751f85332.png)

[2020-04-01 13:34] lucker999 commented on #2938
Thank you for the report. Strangely after I updated the Joplin apps on windows machines (and android re-fetched and re-decrypted all notes) it is working indeed. My guess it's somehow concerns with ecryption or other things in the latest update.

Sorry for the disturbance.

[2020-04-01 13:34] lucker999 commented on #2938
Since it's working, I suggest to close

[2020-04-01 13:34] #2938 closed

[2020-04-01 14:54] scheunengeist commented on #2896
Can confirm the issue.

## Environment
Joplin version: android-v1.0.325 (and downward to at least 1.0.320)
Platform: Android
OS specifics: LineageOS 16.0

## Steps to reproduce
1. Share text chunk from any other application to Joplin (e. g. from text editor, OpenKeychain, todo list, etc.)
2. Joplin is opened, initializes and presents default view.
3. No new note is being created.

## Describe what

[2020-04-01 15:54] Tycholiz opened #2960 "Opening files with cmd+g temporarily disables cursor when using Vim"
## Environment

Joplin version:  1.0.178 (Desktop)
Platform: OSX
OS specifics: Catalina

## Steps to reproduce
1. Turn on Vim mode
2. hit `cmd + g` and type in a file name
3. see that the cursor is placed at the top correctly, but cannot be moved immediately with `hjkl`. You need to first click inside the textbox to enable it.

[2020-04-01 18:08] coderrsid commented on #2899
Just wanted to know that what's the current state of the issue.

[2020-04-01 18:52] Rahulm2310 opened #2961 "Desktop : Layout in the nord theme has a different background."
## Environment

Joplin version: 1.0.195
Platform: Windows

## Steps to reproduce

1. In the editor, press Ctrl+L
2. The background of the layout is different

![nord-theme-overlay-issue](https://user-images.githubusercontent.com/54268438/78175004-d1eb2400-7477-11ea-825e-a83d7151a3af.JPG)

It only persists in nord theme. In all other themes, it is consistent.Ex: In dark theme
![joplin-dark](https:/

[2020-04-01 19:49] fabianski7 commented on #2518
I am using joplin with the latest kernel version available for archlinux (5.5.13-arch2-1) and so far this problem has not happened.

Before, I was using the LTS version.

[2020-04-01 19:52] bedwardly-down commented on #2518
It’s not happening on all systems but does happen on quite a few. I haven’t tested it on 5.5.13 yet.

[2020-04-01 19:58] m-angelov commented on #2518
Today I got 5.5.13 and unfortunately the bug is still persisting on my system.

[2020-04-01 20:03] bedwardly-down commented on #2518
Also, depending on how things go, 5.6 just officially released, which means 5.5 may soon become the LTS release.

[2020-04-01 22:11] dbogdanov commented on #176
Fantastic update!

I am missing these icons in the WYSIWYG layout:

![Screen Shot 2020-04-02 at 00 05 08](https://user-images.githubusercontent.com/409668/78191531-7d937480-7476-11ea-8927-45f2c3f32a88.png)

[2020-04-01 23:06] tessus commented on #2959
I think this is an issue with the editor: Ace.

I tried the same thing in their kitchen sink and it happens there too. I suggest to open a ticket with them, but I will leave this one open for reference.

[2020-04-02 08:23] bedwardly-down commented on #2518
@m-angelov @lnicola what do you guys think about me looking into getting a non-Electron-based Linux build project going? If 5.5 were to become the LTS and / or mainline kernel and these issues just keep popping up, attempting to remove Electron altogether while making sure all of the other features are still functional might be the best option.

[2020-04-02 09:11] rabeehrz commented on #1944
Is this something that still needs to be implemented? If yes, can you give me the implementation details for this?

[2020-04-02 09:22] kowalskidev commented on #2665
@laurent22  I have one question: By clicking on Auto Detect checkbox how can we notify the user about detected theme? whether detected theme is dark or light?
Here I thought that we can show only one option based on detected theme like if detected theme is dark we only show Preferred Dark Theme drop down and vice-versa.

Any other solution?

[2020-04-02 09:26] martinblaha opened #2966 "Desktop: Sync issues with encrypted notes - note name shows "Encrypted" in title, no content visible"
## Environment

Joplin version: 1.0.169 (prod, linux), Revision 0c552fe
Platform: Linux and Android App
OS specifics: Fedora 31
Syncing via Nextcloud

## Steps to reproduce

I'm using notes encryption.

1. Create a note within the Android app
2. Start syncing on Android
3. Start syncing on Desktop
4. The desktop app shows "Encrypted", in German "Verschlüsselt" in the note name. No content is visib

[2020-04-02 09:33] maichai commented on #520
Motivation:
- When switching between notes in Joplin the last cursor position is lost and the user has to scroll back tediously to the last cursor position.
- When switching between Apps on the mobile phone the Joplin App might be swapped out / ended by the OS, losing the last cursor position. When coming back to Joplin to continue editing the note the user has to scroll back rediously to the last

[2020-04-02 09:42] lnicola commented on #2518
@bedwardly-down I'm not sure what the alternative is. Does Joplin have a web version that can run in a browser? One solution for a port would be to spawn a server and display the application in a web view, kind of like an "Electron lite" approach. But I don't think it's really feasible, and at that point it might not even be Joplin anymore.

[2020-04-02 09:43] maichai opened #2967 "Allow the user to toggle touch keyboard on touch screen / mobile / tablet"
On small screens the keyboard may take up too much space to comfortable look at the note or scroll to the right position for editing.

It would be good if there is a button on touch screen clients (like mobile, tablet) to toggle the touch keyboard.

[2020-04-02 10:18] roman-r-m commented on #2518
@lnicola there's this unofficial project: https://github.com/foxmask/joplin-web
I set it up but found too slow to use and I do not even have too many notes. But to be fair it was running on raspberry pi so that might have contributed too.

[2020-04-02 11:47] pihentagy commented on #2259
Does it worth a new option in import, or not?

[2020-04-02 12:11] armaccloud opened #2968 "WYSIWYG - Image path breaks"
When I open an note with images in WYSIWYG mode, the image path for the images in it, get the following attached in front of them, causing the image from not being shown.

`../../../..`

![image](https://user-images.githubusercontent.com/9272078/78247530-46ab7600-74eb-11ea-961a-72f8b5f4d474.png)

After I remove these dots and slashes, the image is shown again. It seems not ot happen each time but

[2020-04-02 12:30] Sparticuz commented on #582
Please leave open

On Thu, Apr 2, 2020, 8:29 AM stale[bot] <notifications@github.com> wrote:

[2020-04-02 15:25] bedwardly-down commented on #2518
Not the web version or “electron lite.” There are other languages that compile native binaries for all platforms that would require porting large chunks of Joplin’s code base out of JavaScript and ReactJs but can also take the parts that aren’t fully portable in their current state in a plugin sort of way.

[2020-04-02 15:41] rnbergren commented on #582
I really wish someone would pick this one up and work it.

[2020-04-02 15:50] userid commented on #2518
I met the same scene when I doing re-encrypt the whole notebooks (15621 notes,  55611 items).
even after I changed the webdav server to a nginx running on a LAN linux, the sync is still slow, it stop after syned 100 items and sleep for several minutes , meanwhile there is no access log on nginx, then it go on syncing.
I was running Arch Linux with kernel=5.5.13.arch2-1.

After seem this issue, I s

[2020-04-02 17:17] virtadpt commented on #2438
I've pretty much given up on this getting fixed because it's an upstream bug.  On Android, Joplin is utterly unusable for editing anything.

[2020-04-02 19:00] bedwardly-down commented on #2518
The Haxe language is an alternative that was created around the same time as many other web development languages when Adobe dropped support for Actionscript with Flash. One of the core benefits to the language is that it's compilable to C++ and other languages depending on what libraries are used and how they are written. It defaults to compiling to Javascript and most libraries are fully compati

[2020-04-02 19:00] laurent22 commented on #2968
I can't replicate this in the latest version, and indeed I thought I had fixed it in the previous version. If it happens again, see if you can find the exact steps to replicate the issue.

[2020-04-02 19:08] virtadpt commented on #1493
It's still a problem for the Android version (Joplin v1.0.324v database v28) running on a Samsung SM-G965U (Android v10).  Is there any hope in sight?

[2020-04-02 19:09] tvannoy commented on #2518
@bedwardly-down I'd support creating a native Linux build if that's what this ends up coming down to. It seems like the issue is likely an upstream issue, though; it's hard to say if finding and fixing things upstream would take more time than porting Joplin to something that isn't Electron-based.

[2020-04-02 19:25] bedwardly-down commented on #2518
@tvannoy very true. The biggest issue here would be how big the codebase is for Joplin vs how many people could put time and energy into porting. I have this fear that if Electron were to drop Linux support, Joplin would follow suit. The latest Apple releases are making Joplin support on Macs and iOS devices even more difficult, so I would not be surprised on anything.

In other news, I was just m

[2020-04-03 00:13] CalebJohn commented on #2928
Hi, it's not clear here what issue you're experiencing. From the error it looks like you have encryption enabled but no master key set. Without more information it's impossible to say.

[2020-04-03 01:22] mgrandi commented on #1244
looks like this is solved in at least the version i'm using (1.0.197)

a testing note with the title `Testing Joplin Note [test] (test)` has the output when right clicked->copy markdown link : `[Testing Joplin Note \[test\] (test)](:/e9f8ddaf06254055ae24a4b6679394fc)`

closing :)

[2020-04-03 01:22] #1244 closed

[2020-04-03 01:29] #2171 closed

[2020-04-03 06:16] bedwardly-down commented on #2518
Since my city is in lockdown, I'm going to mess around a bit with Haxe to see if maybe I can start porting small Joplin components and how viable it could be. I don't think there's any harm in that, and I personally have this weird thing with learning how things work by not following the established routes.

[2020-04-03 06:33] armaccloud commented on #2968
Hi @laurent22
Yes it is still occuring and I can reproduce it now.

1. Make sure the split view is active
2. Create a note, ctrl-v a picture into it
3. Switch view to WYSIWGY
4. Add a line of text
5. Click open any other note
6. Reopen the created note
7. Verify the picture path is now broken

[2020-04-03 09:08] rabeehrz commented on #2605
@daukadolt Are you still working on this? Can I take up this issue?

[2020-04-03 09:23] rabeehrz commented on #2605
I was thinking of using this package, [font-manager](https://github.com/foliojs/font-manager).

It supports all the platforms.

[2020-04-03 09:59] bedwardly-down commented on #2605
@rabeehrz, if you decide to use that, you’ll need to understand how to fix it if it breaks. It doesn’t have much active development on it with most of the latest commits being quite old. But super cool find, nonetheless

[2020-04-03 10:05] rabeehrz commented on #2605
Well, that is the only way I found to get system fonts for Electron. Other way is adding a fonts directory to Joplin, like you suggested.

[2020-04-03 13:03] bedwardly-down commented on #2605
Are React Native libraries only usable for mobile apps or could they be leveraged for Desktop also? I found a highly active one that could possibly be used to allow picking fonts on mobile but might be usable here, too.

https://www.npmjs.com/package/expo-font

[2020-04-03 14:11] roman-r-m commented on #2605
There's this: https://github.com/microsoft/react-native-windows but seems it's only Windows 10 and it's not yet stable

[2020-04-03 14:13] fabianski7 commented on #2518
a native version would be a thousand times better than electron. I've tried QownNotes, but I found its operation quite confusing, its interface is quite messy.

[2020-04-03 14:33] bedwardly-down commented on #2605
Joplin is cross platform so it has to be a library that supports Windows, mac and Linux.

[2020-04-03 14:39] roman-r-m commented on #2605
Quick googling returned this: https://github.com/status-im/react-native-desktop

[2020-04-03 14:55] laurent22 commented on #2968
Still can't replicate for some reason. Could you check in the About box that it really is v1.0.197?

[2020-04-03 15:03] bedwardly-down commented on #2518
I did some basic testing last night and Haxe’s native [SQLite](https://api.haxe.org/sys/db/Sqlite.html) implementation is pretty easy to work with and basic porting how Joplin saves its information should be fairly simple. The exact encryption libraries Joplin uses have been fully ported and are actively being developed and maintained. The actual editor and UI would probably have to be fully writt

[2020-04-03 15:12] anihm136 commented on #2518
If this goes through, it would probably be a good opportunity to revamp parts of the UI, which I think was already being considered.

[2020-04-03 15:16] bedwardly-down commented on #2518
Welcome. This would not be an official project for Joplin but a what if thing

[2020-04-03 17:41] m-angelov commented on #2518
I find this talk of native version very welcome, because to be fair I was always a dubious about Electron apps, but was feeling that I'll be proclaimed as a heretic here and given the boot :)

Unfortunately I won't be of much use with the coding, except if you need some basic python done. But I am very much up for testing and general kicking around of ideas, so thank you for picking this up.

[2020-04-03 17:59] bedwardly-down commented on #2518
Thanks for the kind words. Got any thoughts on what something like this would entail?

[2020-04-03 20:12] #1314 closed

[2020-04-03 20:12] #2071 closed

[2020-04-03 21:27] armaccloud commented on #2968
Yes, it is version 1.0.197

![image](https://user-images.githubusercontent.com/9272078/78405868-b7dd4d00-7601-11ea-9c48-ad7acc6ebd6b.png)

I do see two different AUR packages, from which the -0 version is installed. Could that make a difference?

![image](https://user-images.githubusercontent.com/9272078/78406284-9df03a00-7602-11ea-9616-77fb7baa613c.png)

I can reproduce it in less steps too; show

[2020-04-03 22:01] laurent22 commented on #2968
Thanks for the gif, I'll try to do the same. Are there any special characters in your home path, like accents, spaces, etc?

[2020-04-03 22:03] cerealconyogurt opened #2975 "Problem with sync process [Unknown error 2 (403)"
⚠🚨⛔ The issue tracker is not for questions. ⛔🚨⚠

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek.

## Questions and Help

Please read the [documentation](https://joplinapp.org/) and [FAQ](https://joplinapp.org/faq/) first.

### https://discourse.joplinapp.org/

If you have still questions related to Jop

[2020-04-03 22:14] #2975 closed

[2020-04-03 22:36] armaccloud commented on #2968
You're welcome Laurent, I do not ave any special characters, accents or spaces in my home directory. Let me know if there is anything I need to test, logging, etc. Thank you.

[2020-04-04 02:28] hahagood opened #2976 "add vi-mod keymap in CLI"
## Environment

Joplin version:
Platform:
OS specifics:

## Steps to reproduce

1. I tried to add vi-mod keymaps step by stey acording the homepage, but failed.
2.
3.

## Describe what you expected to happen
Every update complete, I always change some codes as shown below to add the vi-mode keymaps:
			{ keys: ['TAB','l'], type: 'function', command: 'focus_next' },
			{ keys: ['SHIFT_TAB','h'], ty

[2020-04-04 02:33] hahagood commented on #2928
Thank you.
Maybe, something wrong happened with the WebDAV server, I change sync from WebDAV to OneDrive, it's OK now.

[2020-04-04 02:33] #2928 closed

[2020-04-04 06:33] nickdex commented on #2946
My first instinct was to go here and search in issues to find about it :smile:
Joplin doesn't have full-featured docs yet right? I only found FAQs, MD and API guides. Nothing about clipper.
P.S. - I like this project a lot, I recently migrated from evernote and chose jopling out of some 10 candidates. Its still a bit rough around the edges but owning my data and clipper made the decision. Good wor

[2020-04-04 07:57] laurent22 commented on #2976
Why do you change the source code directly? You can add a keymap.json file in your config dir instead. See doc on how to do that.

[2020-04-04 07:57] #2976 closed

[2020-04-04 08:33] mitrakov opened #2977 "Editing encrypted notes on iOS makes them unavailable on other devices"
I have several devices with Joplin installed and e2e enabled. All the notes are synchronized.

**Steps to reproduce the bug**:
1) edit note on my iPhone
2) click Synchronize
3) in some seconds this note turns into:
![image](https://user-images.githubusercontent.com/23196292/78422414-c2cac880-7667-11ea-9494-c0906b11ddb0.png)
on all other devices except iPhone

Version: version 10.0.46

[2020-04-04 09:02] rabeehrz commented on #2605
But doesn't this mean that we'd have to convert Electron to React Native Desktop?

[2020-04-04 09:42] roman-r-m commented on #2977
Isn't it the same issue as https://github.com/laurent22/joplin/issues/2966 ?

[2020-04-04 09:44] roman-r-m commented on #2605
I guess I misunderstood the original question.

[2020-04-04 10:18] mitrakov commented on #2977
@roman-r-m, yep! The same misbehabiour but for iOS app.
Please close this issue if the trouble is the same

[2020-04-04 10:57] #2239 closed

[2020-04-04 13:29] 3ter commented on #2960
I can confirm this on Joplin 1.0.197 (prod, win32) but it is independent of using Vim mode for me.
### Steps to reproduce
1. Start Joplin
2. Press <kbd>Ctrl</kbd> + <kbd>G</kbd> (for the **first** time since opening)
3. The cursor is placed as described above

This only happens the **first** time for me. Subsequent searches with <kbd>Ctrl</kbd> + <kbd>G</kbd> work as intended.

[2020-04-04 17:03] #2296 closed

[2020-04-04 17:32] #2688 closed

[2020-04-04 18:57] yuyichao opened #2980 "Strange checkbox size scaling on iPad"
## Environment

Joplin version: 10.0.46
Platform: iPad (mini 5)
OS specifics: iPadOS 13.4

## Steps to reproduce

1. Create a note with checkbox and long text.
2. Get out of edit mode
3. The checkbox in front of the long line of text is extremely small. See screenshot below, both items are simple checklist items started with `- [ ] ` followed by the visible text.
    ![38C145A8-C40E-4D71-99A6-2B64

[2020-04-04 19:42] WKenya commented on #2896
Can confirm I have this issue also. Been running Brave browser and am unable to share any URLs into the application. I also tried Chrome Browser and it also fails. I'm guessing something with the Share Intent is busted.

Environment
Samsung Galaxy S9+
Joplin version: 1.0.324
Platform: Android
OS specifics: Android 10

[2020-04-04 21:20] RealAct commented on #296
Please add this as soon as possible, I really miss this while I use Joplin.

[2020-04-04 22:00] qcu opened #2981 "Joplin terminal client is missing retry logic for new encryption algorithm re-keying"
I recall a prompt to “update an outdated key” within e2ee settings on the desktop app, and it appears this step is missing in the terminal client?

@laurent22: "Could you add an issue any this in GitHub please? I think I just need to enable the same Retry logic as on the other clients.

For additional details, please see [this discourse forum thread](https://discourse.joplinapp.org/t/decryptionwor

[2020-04-04 22:39] abjrcode commented on #2927
I went in and started debugging to find out what is causing this.
My suspicion was initially that OneDrive API is throttling the client.
I checked [their documentation](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/?view=odsp-graph-online#throttling) and according to that, the client would get a `429 Too Many Requests` but wasn't observing this in any of the responses.
Instead I was

[2020-04-05 06:15] genneko opened #2982 "Goto Anything opens a blank page"
On the latest development versions after v1.0.179, "Goto Anything" shows me a blank page instead of the usual search dialog. At that point, there seems to be no other option than exiting the application with "File" > "Quit".

With the development tools toggled on, I can see an error in ElectronClient/plugins/GotoAnything.jsx.

![joplin-GotoAnything](https://user-images.githubusercontent.com/296725

[2020-04-05 07:03] rabeehrz commented on #1944
@bedwardly-down Can you loop Laurent into this and let him share his thoughts? I really want to work on this issue.

[2020-04-05 07:34] rabeehrz commented on #2944
I tried this on my phone. It happens sometimes and it scrolls just fine at times. Any idea what is causing this?

[2020-04-05 07:55] #2982 closed

[2020-04-05 08:48] bedwardly-down commented on #1944
@rabeehrz, I’ll see what i can do.

[2020-04-05 09:28] qqlovekerry opened #2984 "No .desktop files generated when AppImage file is executed on Ubuntu 18.04 with version 1.0.197?"
## Environment

Joplin version: 1.0.197
Platform: Linux
OS specifics: Ubuntu 18.04 LTS

## Steps to reproduce

1. download the AppImage file from <https://github.com/laurent22/joplin/releases>
2. change the permissions with `chmod +x Joplin-1.0.197.AppImage`
3. run Joplin with `./Joplin-1.0.197.AppImage`

## Describe what you expected to happen
When the AppImage file is executed, an `appimagekit-j

[2020-04-05 09:57] coderrsid commented on #2960
I am not able to reproduce the issue. In my case, cursor is placed directly into the search bar.

What do you mean by this? Opening for the first time after installing Joplin or just opening it in the OS.

![Screen-Recording-2020-04-05-at-3](https://user-images.githubusercontent.com/35633575/78471797-8ecbd200-7751-11ea-948a-fbc3b50a26ee.gif)
### Version
![image](https://user-images.githubuserconte

[2020-04-05 09:58] coderrsid commented on #2960
Can you guys add the GIF for the issue you faced ?

[2020-04-05 10:04] 3ter commented on #2960
Thanks for asking. I've tested it again:
* In windowed mode it works as expected
* If the app was in fullscreen before the last close and starts in fullscreen then the focus is misplaced
  * This happens again when the app is closed and reopened (in fullscreen)
  * After the focus has been set it works for the time the app is not closed

[2020-04-05 10:31] coderrsid commented on #2960
Thanks for telling. I tried the steps you're telling but still haven't faced the issue.

![Screen-Recording-2020-04-05-at-3 (1)](https://user-images.githubusercontent.com/35633575/78472220-c12afe80-7754-11ea-91c2-970c4f120497.gif)

[2020-04-05 10:37] coderrsid commented on #2960
I tried the way you said. But still couldn't see any issue.
![Screen-Recording-2020-04-05-at-3 (2)](https://user-images.githubusercontent.com/35633575/78472553-84143b80-7757-11ea-92db-655f067a730f.gif)

[2020-04-05 10:55] 3ter commented on #2960
![joplin_ctrl_g_bug_on_fullscreen](https://user-images.githubusercontent.com/11499929/78472886-a2b90900-773c-11ea-97d5-3609beae6d38.gif)

[2020-04-05 11:03] coderrsid commented on #2960
Ohh so you're on windows platform i see. Lemme see into this.

[2020-04-05 13:11] JonathanPlasse opened #2985 "Incomplete commenting mermaid code block"
Hello,
To mask a mermaid graph. I commented it with `ctrl-/`, but not everything was commented.

[code]

![mermaid_comment](https://i.imgur.com/lJpAaeE.gif)

[2020-04-05 13:46] 3ter commented on #2960
I'm going to markup the `win32` a little more strikingly next time 😉.

[2020-04-05 13:55] bedwardly-down commented on #2518
If anyone is interested in discussing this further, I’ve got a [forum post](https://discourse.joplinapp.org/t/desktop-moving-from-electron-to-native-to-future-proof-all-platforms/7613/20) going about moving to native. With the current codebase, it seems Laurent, the lead dev, could be open to the idea of using something like QT.

[2020-04-05 15:33] EricB10 commented on #275
Anyone know of an easy work-around or 3rd party app on Mac/Linux that could be used to spellcheck in real time?

[2020-04-05 15:36] dissolved commented on #275
@EricB10 I think using an external editor ([more here)](https://joplinapp.org/#external-text-editor) seems to be the best work around until proper spell checking is added 🙏

[2020-04-05 15:36] AngelCrawford commented on #275
Typora, open the Note with the "Edit in external Editor". Typora has a great Spellcheck, but you can use every other Markdown Editor.

[2020-04-05 16:15] Tycholiz commented on #2960
I'm running on Mac facing this issue, so it won't be a platform dependent issue.

The issue occurs for me independent of if the app is closed at all. in other words, each time I cmd+g I get the same issue.

![optimized](https://user-images.githubusercontent.com/39745457/78503827-ec462b80-771d-11ea-86ce-31d8425eb2da.gif)

[2020-04-05 19:05] #2847 closed

[2020-04-05 19:10] Rahulm2310 opened #2987 "Mobile : Header items remain enabled even when no note is selected"
## Environment

Joplin version: 1.0.325
Platform: Android
OS specifics: No

## Steps to reproduce

1. Select one or more notes
2. Deselect all by toggling the **select all** button
3. The **Move to notebook**, **delete** and **duplicate** items on the header remains enabled

![20200325_195609](https://user-images.githubusercontent.com/54268438/78507667-1d1a7500-779f-11ea-9fbb-dacee267d7d4.gif)

Al

[2020-04-05 19:39] Rishgod commented on #2383
@laurent22 I have a question about the way to solve this, can we just not add the button HTML syntax here rather than writing the markdown plugin for it

![copy code](https://user-images.githubusercontent.com/54576074/78508293-43daaa80-77a3-11ea-8156-b417245b6707.jpg)

[2020-04-05 20:09] laurent22 commented on #1944
I don't know, I've just checked Bear and Evernote and I see their note info panel is like in Joplin, a popup, so I think we should keep it as it is.

The main issue is that the Info button is a bit lost in the toolbar, even though it's quite important. Could you perhaps move it to right of the note title row?

![image](https://user-images.githubusercontent.com/1285584/78508812-aa4ed100-7781-11ea-9

[2020-04-05 20:15] rabeehrz commented on #1944
Yep. I’m on it.

[2020-04-05 21:11] bedwardly-down commented on #1944
What about moving it to the left of the Input Box so when a user is typing the name, they’ll instantly see it?

[2020-04-06 00:25] laurent22 commented on #2985
Do you know if this is actually supported by mermaid?

[2020-04-06 01:01] dbogdanov commented on #176
Another request for the to-do list: Add an option (and a keyboard shortcut) to paste without formatting. Useful for copy-pasting from web document.

[2020-04-06 06:53] rabeehrz commented on #1944
I think moving it to the right would be a better idea along with date and time. That would look better UI wise.

[2020-04-06 07:12] anihm136 commented on #2985
From what I see, mermaid has its own comment syntax ('%%' at the beginning of the line), and using that inside the mermaid block works fine. Otherwise, commenting the region as a block instead of linewise also does the trick (as the comment ending delimiters are outside the mermaid syntax).

[2020-04-06 07:41] duarteocarmo commented on #2604
## Issue follow up
Icons are still not completely there in mainly two places.

## iOS
- Still shows black borders
- iPhone 11 pro max
- Running 13.3.1
- Joplin Version 10.0.46
- Database v28

Example Screenshot:
![IMG_02FB6AD48910-1](https://user-images.githubusercontent.com/26342344/78533971-0fd6a800-77ea-11ea-9516-9512ba06c017.jpeg)

## MacOS
Icon is large compared to other icons.
- MacOS versio

[2020-04-06 07:48] duarteocarmo opened #2990 "Dark and OLED Dark themes show white bar near status bar"
While using the Joplin app on iOS with Dark or OLED Dark modes, a white bar appears next to the status bar, making the themes rather unpleasing.

## Environment

Joplin version: 10.0.46
Platform: iOS
OS specifics: iOS 13.3.1 on iPhone 11 Pro Max

## Steps to reproduce

1. Open app
2. Navigate to settings
3. Switch theme to either dark or oled dark

## Describe what you expected to happen
The white

[2020-04-06 08:12] wedvjin opened #2991 "Russian language cursor is not correctly placed in editor"
When writing in cyrillic (russian), the cursor is placed way outside (to the right of) the actual text. It makes it impossible to jump to another portion of text. It most likely happens due to the font, as when the text is surrounded by any of the specifiers (*text*) it behaves correctly.
![Screenshot 2020-04-06 at 11 11 48](https://user-images.githubusercontent.com/7052086/78537006-6eeee980-77f7-

[2020-04-06 08:15] tessus commented on #2991
As the text under the editor font states:

This must be *monospace* font or it will not work properly. If the font is incorrect or empty, it will default to a generic monospace font.

[2020-04-06 08:17] tessus commented on #2990
I guess you didn't check previous issues (open and closed) not the forum.

[2020-04-06 08:17] #2990 closed

[2020-04-06 08:18] tessus commented on #2991
https://discourse.joplinapp.org/t/the-wrong-letters-are-deleted/7379

[2020-04-06 08:18] #2991 closed

[2020-04-06 08:19] duarteocarmo commented on #2990
Ah sorry, just saw it now, apologies for noise!

[2020-04-06 08:21] duarteocarmo commented on #2990
#2853 if someone ends up here.

[2020-04-06 08:21] tessus commented on #2990
No worries. I would have posted the link, but I don't have all the issue numbers and forum links in my head.

[2020-04-06 08:22] duarteocarmo commented on #2990
Of course, keep up the great work @tessus, great stuff you guys are building!!

[2020-04-06 09:04] sgflux commented on #2826
I have the problem with my "#Apps" folder, where I store my portable apps. Without the number sign "#" the pictures are visible in the "Viewer Mode".

[2020-04-06 10:17] laurent22 commented on #1944
The two examples I've checked, Evernote and Bear, have it at the right, so it seems to be semi-standard.

[2020-04-06 12:19] wedvjin commented on #2991
On macOS (on Linux its fine) it does not default to monospace font for cyrillic languages.
The fix is to find suitable font in Font Book app (or on the web) and specify the font by typing its name in Settings >> Appearance >> Editor font family.

[2020-04-06 14:17] jeppling commented on #51
If drag-n-drop hard to implement, how about ability to select a note and then have buttons for moving the note up or down in the note list?

[2020-04-06 16:42] bakharzy opened #2994 "Copying the note cleared all the content in both original and copied note - iOS app"
## Environment

Joplin version: 10.0.46
Platform: iOS mobile (iphone 6s)
OS specifics: iOS 13.3.1

## Steps to reproduce

1. Chose a note to copy (name: "sample")
2. Hold on your note till the copy button appears on top right
3. Click on the copy button
4. A new note is created with name "sample (1)"
5. The content of both notes is cleared (only titles stays)

## Describe what you expected to happ

[2020-04-06 17:18] demslob commented on #2684
Hello guys, I am having issues with submitting my app to app store because of deprecated UIWebView. Any updates on changing it to wkwebview instead?

[2020-04-06 17:50] #2249 closed

[2020-04-06 21:19] JanFisherGG commented on #738
Would [that](https://github.com/endlessm/electron-flatpak-base-app) help in any way?

[2020-04-06 21:53] laurent22 commented on #2985
Thanks for checking @anihm136. So not a bug then.

[2020-04-06 21:53] #2985 closed

[2020-04-06 23:39] bedwardly-down commented on #738
I’d love to see more versions released to help make using Joplin on Linux better but AppImage just works for enough users that I wouldn’t put much credence into this topic ever getting really resolved.

I was recently made a member of the official Joplin team, so I’m trying to get a native implementation going to solve this issue all the way, but it’ll probably be a side project without being a pa

[2020-04-07 00:20] laurent22 commented on #2684
@demslob, what app? And we don't have a solution for that webview issue as of yet.

[2020-04-07 00:33] indirection commented on #164
Thank you for Joplin!

I've tried every work around that I could find.

Completed: 2020-04-06 8:27 PM
Last error: FetchError: request to https://public.dm.files.1drv.com/<snip>/version.txt failed, reason: unable to get local issuer certificate

This example is behind the Cisco Umbrella proxy.

[2020-04-07 00:50] bhlevca commented on #164
As far as I know the code to work with proxy has not been implemented yet.
I posted some suggedtions and someone has succeded to do it in a kludgy
way. The promlem is that node.js is not too friendly with proxies.

Bogdan

On Mon., Apr. 6, 2020, 8:33 p.m. indirection, <notifications@github.com>
wrote:

[2020-04-07 08:49] kowalskidev opened #2996 "Checkbox position isn't centered for long text"
## Environment
Joplin version:  1.0.197 (dev, win32)
Platform:  Windows, Linux
OS specifics: Windows 10, Ubuntu 19.04

## Steps to reproduce

1.  Create Checkbox (`- [ ]`) with long text in editor
2.  Check rendered markdown
3. Rendered markdown will look like:
![checkbox_bug](https://user-images.githubusercontent.com/15380913/78648083-1f80ea00-78d9-11ea-9683-d5fd6f5a6c7c.png)

- checkbox remains

[2020-04-07 08:57] JonathanPlasse commented on #2985
Sorry, my explanation was not clear.

The problem was not about mermaid itself but about the incomplete commenting of the line caused by `-->` in the middle.
For example:
[code]
When commented become
[code]
And the rendering display
[code]
but I was expecting nothing would be rendered.

So should `-->` in the middle of the line be escaped ?

[2020-04-07 09:03] renjujv commented on #296
@anihm136 Your suggestion seems to be good and it seems there's no objection. Please proceed with the same after checking with one of the maintainers.

[2020-04-07 09:06] laurent22 commented on #2985
We don't explicitly support comments in the Markdown text so I think anything within comments may be rendered anyway, and indeed produce unexpected results. There's currently no plan to support this I'm afraid.

[2020-04-07 09:12] JonathanPlasse commented on #2985
Thank you for the response

[2020-04-07 09:42] xindubawukong opened #2998 "Error: The maximum request length supported is 4MB."
## Environment

Joplin version:
[code]
Platform: MacOS desktop app
OS specifics: MacOS 10.14.6

## Steps to reproduce

1. Open Joplin
2. Select `Ondrive` as Synchronisation target
3. Click `Synchronise`
4. The left-bottom shows:
![image](https://user-images.githubusercontent.com/22728970/78654406-0a1ab880-78f7-11ea-93a3-f64337135832.png)

## Describe what you expected to happen

I expect no error.

[2020-04-07 09:48] zrml commented on #275
FWIW it'd be great to have the spellchecker implemented as a plugin option so people can use whatever they prefer or different languages, etc. Unfortunately, I have no idea how this would work or if there even is a standard for it. However, I wanted to share that I use Grammarly and as of late I see they now support Confluence (Atlassian) which they did not use to, so I think maybe they could supp

[2020-04-07 10:19] coderrsid commented on #2996
On mac, text is rendering after checkbox though..
![image](https://user-images.githubusercontent.com/35633575/78657989-37f80100-78e7-11ea-8ea5-c8e687c6cd5f.png)
and for centered textbox, i don't think it will be a good idea though.
What do you think @tessus @PackElend ?

[2020-04-07 10:31] kowalskidev commented on #2996
Okay...if not in center like Android then still the checkbox looks off a bit, as you said in Mac OS checkbox remains at the top which seems fine and perfectly aligned with paragraph but still in windows and Linux results are not same it should look like as in Mac OS

[2020-04-07 10:34] kowalskidev commented on #2996
I'm still confused why checkbox output varies from platform to platform 🤔

[2020-04-07 11:56] theHausdorffMetric commented on #485
I also think within pdf search to be very important. Would an integration with something like [rga](https://github.com/phiresky/ripgrep-all) be possible. That is a command line utility based on ripgrep which also search within files.

[2020-04-07 13:27] laurent22 commented on #2998
Is there something unclear about this?

[2020-04-07 13:27] #2998 closed

[2020-04-07 14:15] ShenXuanMiao opened #3000 "Nestable tags"
The current version of Joplin can not have nested tags . I think the nested tag is useful.

[2020-04-07 16:24] laurent22 commented on #2709
Yes that's correct. The conflict note has all the same attributes as the original note, including parent_id, but it has is_conflict set to 1 so that it is handled differently. But otherwise I'm not sure exactly what happens when a note is edited directly in the Conflict directory.

[2020-04-07 16:25] #2604 closed

[2020-04-07 16:25] #2681 closed

[2020-04-07 16:49] demslob commented on #2684
@laurent22 thank you. Will probably remove webviews and change it to some native representation of my content

[2020-04-07 17:33] snakyjake1 opened #3001 "Markdown Code Syntax Highlighting"
Markdown for syntax/code is changing the color when it shouldn't

Actual Results (code syntax color changed to a green):
![image](https://user-images.githubusercontent.com/8312560/78700801-c73aef80-78ba-11ea-83f7-be96cac7cd84.png)

Expected Results (no code syntax color change):
![image](https://user-images.githubusercontent.com/8312560/78700922-fb161500-78ba-11ea-8d51-198013a25a96.png)

## Enviro

[2020-04-07 18:07] kianenigma opened #3002 "Mobile: Automatic Scroll"
While typing a note on mobile, the page does not scroll as you type, hence very soon your new text goes below the keyboard. This can be be very annoying for typing, as similar to a typewriter, you'd have to scroll down at the end of each line to see what you will type next.

## Environment

Joplin version: 10.0.46
Platform: IOS
OS specifics: IOS 13.3.1 (IPhone SE)

## Steps to reproduce

Just stra

[2020-04-07 18:09] kianenigma opened #3003 "Mobile: Attachment Always added at the bottom."
Adding an attachment in IOS, like an image, always adds it to the very bottom of the text, regardless of where your cursor is. Perhaps this is an intended feature, yet I'd argue that the default expectation is that it should be added where the cursor is.

[2020-04-07 18:10] tessus commented on #2996
Laurent already mentioned that we won't accept PRs tuning rendering for a specific platform.

[2020-04-07 19:17] ebayer opened #3004 "Nextcloud sync on Linux takes long time"
Hello

Nextcloud linux client takes too long to finish sync. I have ~1000 notes and ~4000 resources and without encryption. I am using Nextcloud as sync target and Joplin Android version with same nextcloud settings takes 10 seconds to finish sync. However Linux desktop client takes more than 2 mins to sync.

Funny thing is, if I randomly change the visible note or toggle note list or sidebar a co

[2020-04-07 21:08] roman-r-m opened #3005 "Android: image resizing is not working correctly"
According to https://github.com/facebook/react-native/issues/22145 Image.getSize might return scaled down dimensions for large images.

I am attaching 5120x3840 image and not getting the dialog asking me whether I want to resize. In the log I can see:
[code]

[2020-04-07 21:26] laurent22 commented on #3005
There's no dialog so it works as expected

[2020-04-07 21:26] #3005 closed

[2020-04-07 21:55] tessus commented on #3004
The following also has some great info and problem determination:

https://discourse.joplinapp.org/t/sync-with-nextcloud-fast-with-mobile-extremely-slow-on-linux/4017/11?u=tessus

[2020-04-08 00:00] #2257 closed

[2020-04-08 00:02] laurent22 commented on #2994
I cannot replicate this. Does it happen all the time for you?

[2020-04-08 00:02] #2994 closed

[2020-04-08 00:04] laurent22 commented on #2944
I cannot replicate this. If it happens for you all time with a particular note, please paste the content of it here.

[2020-04-08 00:04] #2944 closed

[2020-04-08 00:07] laurent22 commented on #2980
I think that's fixed in next version.

[2020-04-08 00:07] #2980 closed

[2020-04-08 00:09] laurent22 commented on #2120
Not really a bug as it's just not implemented on mobile.

[2020-04-08 00:19] yuyichao commented on #2996
Got here from the mention of my issue.

The checkbox appears in the center for me on linux. The version is 1.0.97 (Gtk 3.24.17). I'm not sure what other versions is important but here's the [PKGBUILD](https://github.com/archlinuxcn/repo/blob/d547345f89d9350d41cdc93f5656f3071c1624ab/archlinuxcn/joplin/PKGBUILD)

Personally I much prefer having the checkbox at the top like the mac one above. That's

[2020-04-08 00:24] laurent22 commented on #2899
Cannot replicate on iOS so I guess it's an Android issue.

[2020-04-08 00:26] laurent22 commented on #2698
I cannot replicate this and I suspect it was due to the encryption upgrade which normally should be fixed now.

[2020-04-08 00:26] #2698 closed

[2020-04-08 00:27] laurent22 commented on #2811
Should be fixed from next version

[2020-04-08 00:27] #2811 closed

[2020-04-08 00:30] laurent22 commented on #2687
I cannot replicate this. Does it happen every time for you on only on certain notes?

[2020-04-08 00:45] #1437 closed

[2020-04-08 01:13] diver-down commented on #1437
Bug persists. I just verified now. Running v. 10.0.46 on iOS, iPhone XR, Database v.28

[2020-04-08 01:19] diver-down commented on #1437
Was able to grab a quick screencap. This is the furthest down I’m able to scroll (the entire last line of text is hidden)

![A507ED73-D393-466D-831E-1E45A4771849](https://user-images.githubusercontent.com/35608185/78734104-55dc5a80-7915-11ea-9820-ce414f9b4749.png)

[2020-04-08 01:23] laurent22 commented on #1437
It will be in the next release.

[2020-04-08 06:06] kowalskidev commented on #2996
Then I think I should close this issue, as the issues are related to specific platform.

[2020-04-08 06:16] tessus commented on #2996
Well, it doesn't mean that there isn't an underlying issue which just manifests itself differently. Maybe Laurent has an idea. Until then we should leave it open.

[2020-04-08 06:32] zohozer commented on #2944
I have two iPhones. On the 6s everything is fine but on the iPhone X are certain notes that are refusing to scroll down in edit mode.

[2020-04-08 06:46] roman-r-m commented on #3005
Yeah, forgot to mention this was a version built from master. Sorry about that.

There's the dialog there:
https://github.com/laurent22/joplin/blob/6d56bb8afdc0a8a3e28a4b578672f6a63018eeb1/ReactNativeClient/lib/components/screens/note.js#L431

Since Image.getSize might not return the true size, sometimes this dialog is bypassed even for images that are larger than the limit.

Plus the logging is m

[2020-04-08 06:48] kowalskidev commented on #2996
Yea you are right! I should be waiting for Laurent's response before closing this issue.

[2020-04-08 07:11] #3000 closed

[2020-04-08 07:46] xplosionmind commented on #2687
it happens on any page! It seems like an app display issue. Tell me what do I have to do to provide more information, it's driving me crazy!

[2020-04-08 08:36] Rahulm2310 commented on #3003
@kianenigma There is already an issue reported #2669

[2020-04-08 09:10] bakharzy commented on #2994
To be honest, I want to first get my note back before trying to mess with the notes and replicate (which I am happy to do after I know I am not going to mess with my notes). I asked help in the forum about how to recover my lost note. Would you check it out? I explained a bit more in details how this happened.
https://discourse.joplinapp.org/t/recover-my-note-after-bug-clearing-it/7697/2

[2020-04-08 10:03] xplosionmind commented on #2687
To tell the truth I don't know why, but I changed both my `userstyle.css` and `userchrome.css` files and it went away.

Thanks a lot for your help, sorry if I posted here but I had no idea those file could influence this issue

[2020-04-08 10:03] #2687 closed

[2020-04-08 10:14] #2639 closed

[2020-04-08 10:57] coderrsid commented on #3001
Thanks for reporting. I'll quickly have a look into this issue.

[2020-04-08 11:06] coderrsid commented on #3001
I see that it's kind of necessary to the specified feature of `code` markdown syntax:
![image](https://user-images.githubusercontent.com/35633575/78777252-d7d09000-79b6-11ea-8f04-281e30c4f536.png)

As you see in the above picture that it takes. it as a string type and color it `green`. But i see we have an issue here to address too.  So let's see a mentor insight.

[2020-04-08 11:16] coderrsid opened #3007 "Desktop: Code markdown syntax component's inappropriate behaviour"
The code in markdown syntax is showing color syntax on both side of layout.

![image](https://user-images.githubusercontent.com/35633575/78777645-8d034800-79b7-11ea-8685-1d1036ebc4ad.png)

It should behave something like this 👍:
![image](https://user-images.githubusercontent.com/35633575/78777735-b7550580-79b7-11ea-86cd-043d25313111.png)
![image](https://user-images.githubusercontent.com/35633575/

[2020-04-08 12:24] laurent22 commented on #3007
I don't understand anything, can you clarify?

[2020-04-08 12:35] coderrsid commented on #3007
I am saying.. that it's showing color fir code syntax in editor too .. which it shouldn't i guess.

[2020-04-08 12:37] laurent22 commented on #3007
I'd say it's a good thing that syntax highlighting works in the editor too, why should we disable this?

[2020-04-08 12:55] coderrsid commented on #3007
It's because it's an editor as you can try here in github in editor it is plain text and not highlighted markdown which is rather in Preview section.

[2020-04-08 13:13] vertigo220 commented on #296
My only concern with that approach is that it seems possible the notes might be sorted randomly, so one time they might be in order 1,2,3,4,5,6 and the next time they might gets sorted 2,4,1,5,6,3, which would be chaotic. Not sure if that's the case.

Also, it would be really great if there could be priorities, so when pinning a note could be assigned P1, P2, P3, and so on, so they're sorted in th

[2020-04-08 13:44] anihm136 commented on #296
This feature is being discussed on the forum right now. Could you please share your ideas there?

[2020-04-08 14:48] erichiller commented on #1493
Same here - Samsung S8

[2020-04-08 14:50] erichiller commented on #1209
Same here, Samsung S8

[2020-04-08 15:10] coderrsid commented on #2996
Yeah sure, there are some internal dependencies issue. But we can wait for it.

[2020-04-08 17:03] #2709 closed

[2020-04-08 17:03] #2941 closed

[2020-04-08 17:03] #2981 closed

[2020-04-08 17:05] laurent22 commented on #2968
Hmm, I definitely can't replicate this for some reason. I suggest trying again with the next version in case it's something I've fixed on a dev version but didn't deploy yet.

[2020-04-08 17:11] LaBonave commented on #2927
Hi
I'm experiencing as well random gateway timeouts when trying to set up another sync box (linux) while gathering encrypted notes from a OneDrive (live.com)

[2020-04-08 21:18] tessus commented on #3007
I'm a bit confused about this. There's no syntax highlighting in the editor, except for the language `javascript` - and only, iff the language is specifically indicated (not auto-detected).

Also, once again: it is great that you post a screenshot of text, which makes it really easy to copy and paste it for testing. I'm sorry, to be harsh but after a few times asking you no to do this: do you have

[2020-04-08 21:22] tessus commented on #3007
I understand that you want to show the highlighting, but pasting the text helps people to replicate the problem.

[2020-04-08 21:33] coderrsid commented on #3007
Sorry @tessus, as it was just a matter of line. I didn't think i need to paste the syntax, but i guess you need that so :

[code]

[2020-04-08 21:35] coderrsid commented on #3007
and as for the problem. I guess you didn't see that `var` highlighted in somewhat blue color in the editor and after rendering in view layout too.

[2020-04-08 21:35] laurent22 commented on #3007
Sorry I'm just going to close this. It's unclear what the issue is, and if it's so hard to clarify then probably it's not that important.

[2020-04-08 21:35] #3007 closed

[2020-04-08 21:36] tessus commented on #3007
No, I actally meant everything in the screenshot. But never mind, I wrote my own js code for the test and used some others I had. But since it's closed, it's not important anymore.

[2020-04-08 21:47] coderrsid commented on #3007
Sorry guys.. i didn't mean to be harsh to anyone and it's not that this issue is not important.

[2020-04-09 07:24] kaushalyap commented on #176
Really need this!

[2020-04-09 07:28] laurent22 commented on #3004
Hmm, ok it's that good old bug. I had a look at it a few years ago and none of the fixes I've tried worked. I think we'd need an Linux Electron or GUI expert to make sense of this weird bug.

[2020-04-09 07:33] laurent22 commented on #3004
@bedwardly-down, have you ever heard of this kind of bug in Linux? And do you know of any workaround? Essentially, in some cases, sync is stuck on Linux till something updates the UI (for example, by switching notes, open menus, etc.).

The fixes I've tried:

- When on Linux, force update the UI every x seconds while sync is running (doesn't work)
- Disable Electron power saving features, which I

[2020-04-09 07:36] kaushalyap commented on #176
@laurent22 Wondering why did not you use something like https://github.com/nhn/tui.editor?

[2020-04-09 08:09] roachsinai commented on #932
I encounter same issue! But I think the show will resume well again, lol. And looking forward to watching!

[2020-04-09 08:13] #3003 closed

[2020-04-09 08:25] dpoulton-github commented on #2966
If you are using the latest Andoid version its new notes will likely use the new encryption method. It looks like your desktop version is too old to support the new encryption. Try upgrading.

[2020-04-09 08:28] dpoulton-github commented on #2977
You do not mention what other software versions you use but a suggestion is to make sure all your other apps are up to date and support the latest encryption method.

[2020-04-09 09:27] coderrsid commented on #3007
Although what i was trying to say was, as you see in the below screenshot
![image](https://user-images.githubusercontent.com/35633575/78879924-39096980-7a72-11ea-84e4-ab4c96322fe6.png)

It's coloring the javascript syntax `var` in editor and viewer both which it shouldn't and just wanted to know whether this is an issue or not @laurent22 . If it's not, it's perfectly fine. But if it is, i'd like t

[2020-04-09 13:16] Rishgod commented on #3001
you can use bash language preset, it will give you the desired result.

![image](https://user-images.githubusercontent.com/54576074/78898973-53ebd600-7a92-11ea-992e-c6e88163393d.png)

[2020-04-09 13:43] xplosionmind commented on #2665
There is a further improvement which could be made to implement this: along with the option to follow system light/dark theme, a button to arbitrarily switch between dark theme and light theme could be added.

This improvement is further described on the [Discourse Forum](https://discourse.joplinapp.org/t/feature-idea-automatic-dark-light-theme-switching-according-to-os/6010/11?u=xplosionmind)

[2020-04-09 13:45] Rishgod commented on #3007
this I believe is a feature that was added and I believe its a good thing if the text is distinguished by different colouring, for example, if you bold a text the colour would change to blue and I believe that's a good thing

[2020-04-09 14:13] kowalskidev commented on #2665
Did you mean NIGHT MODE BUTTON which toggle between dark theme and light theme?
If So, then it's already implemented in my PR though 😉

[2020-04-09 14:25] xplosionmind commented on #2665
Yeah I meant this. I love you. I didn't read this issue comments well enough.

How about `userchrome.css` and `userstyle.css`? Are they going to be splitted in two, the dark and the light one, or who customizes them can't toggle between light and dark mode?

[2020-04-09 14:31] goldeelox commented on #2406
I've had similar issues syncing with OneDrive, however, I believe my problems are related to using multiple OneDrive accounts simultaneously (work/personal).
Forcing a token refresh works for me.

MacOS (Joplin 1.0.197):
[code]

You should be prompted to re-auth the next time you attempt to synchronize.

[2020-04-09 14:36] xplosionmind commented on #2896
Same here. It doesn't matter where I am: I click on Joplin in the system sharing menu and I gust get redirected to the app. Nothing happens.

Device: OnePlus 6T
OS: Android 10 (Oxygen OS)
Joplin version: 1.0.324

[2020-04-09 14:56] xplosionmind opened #3009 "Word/character counter includes Markdown syntax and HTML tags"
Joplin version: Joplin 1.0.197 (prod, darwin)
Platform: MacOS 10.15.4 (19E266)

## Description

`<br>` tags and markdown syntax elements, such `##` before a heading or `- [ ]` for checkboxes are included in word counting.

## steps to reproduce

When I open the word counter for this text:
[code]
I get this:
![Screenshot 2020-04-09 at 4 42 05 PM](https://user-images.githubusercontent.com/42862428/7

[2020-04-09 15:23] kowalskidev commented on #2665
Yeah that's a very good question I didn't thought about it, I'll try to add USERCHROME AND USERSTYLE theme option in Preferred Light Theme and Preferred Dark Theme drop downs respectively that way you'll be able to toggle between light and dark mode. But before that, let's wait for Laurent's opinion

[2020-04-09 15:43] bedwardly-down commented on #3004
@laurent22, so far resetting the UI by enabling and disabling Webclipper in settings every time the client freezes during sync on 5.5 is the only thing that’s been found to work so far. And the kernel patch that’s supposed to fix the issue has no effect on Electron so far.

The issue is just as bad if not worse on 5.6. @ebayer, can you try to downgrade to kernel 5.4 to see what the results are?

[2020-04-09 15:53] roman-r-m commented on #2896
Yeah, it does not work at the moment. I'm working on it here: https://github.com/laurent22/joplin/pull/2870

[2020-04-09 15:54] al-soup commented on #2959
The issue was apparently addressed in react-ace a while ago and only persisted within Firefox for macOS. Should this update fix the issue for Joplin as well? https://github.com/securingsincity/react-ace/issues/819

[2020-04-09 15:56] bedwardly-down commented on #3004
Also, i just moved my Nextcloud instance from an Ubuntu Server to an Archlinux one. Arch is now on 5.6 and I’ve noticed that since the move, the Linux client and DAV stuff in general has substantially slowed down. My main system is still on 5.4, but i wonder if the issue here could be the kernel and OS of the server the Nextcloud instance is running on.

[2020-04-09 16:26] xplosionmind commented on #2896
Thanks!

[2020-04-09 16:28] roman-r-m opened #3010 "Android: Export Profile is not working"
Joplin Android version 1.0.324

1. If Joplin has no write permissions (e. g. it has just been installed) then exporting profile fails without requesting permissions.
<img src="https://user-images.githubusercontent.com/995612/78917351-49274600-7a7e-11ea-8f9a-67feb0fcfd1a.png" width="300">

2. If Joplin has permissions then it still fails but the error is different.
<img src="https://user-images.git

[2020-04-09 18:00] coderrsid commented on #3007
Thanks .. that was all i was asking for.. some info.. 😄

[2020-04-09 19:17] ffgm commented on #2663
@laurent22

[2020-04-09 21:36] xplosionmind commented on #2665
That would be wonderful. Thanks a lot!

[2020-04-09 21:40] laurent22 commented on #3009
For this, the note preview feature, and the auto title, we need a method that parses the Markdown and gives back the plain text only.

[2020-04-10 02:55] tessus commented on #3009
I don't see this is a bug. If I had implemeted this, I would have done it the same way. It's a counter for the source text (in the editor), not for the rendered text. Or do you want to count images and references and whatnot too?

If we really want to make this available, we'd need two columns (source, rendered). IMO, removing one for the other is not ok.

[2020-04-10 02:58] tessus commented on #2961
I don't underatand. Who says this is not on purpose. Who created the Nord theme? You will have to ask the designer of the Nord theme - not the one who added it to Joplin.

[2020-04-10 06:23] Rahulm2310 commented on #2961
Nothing is wrong with the Nord theme. I just thought that using the same color for the editor as well as the layout would be better but if it is on purpose then this is not an issue.

[2020-04-10 06:41] Rahulm2310 commented on #3002
@kianenigma working perfectly on android

[2020-04-10 06:48] kianenigma commented on #3002
Could be, my device is IOS as mentioned. You can see the bug even in the screenshot, how the word 'eventually' is almost no longer visible. I started typing that as I would naturally.

[2020-04-10 07:46] possybility commented on #2153
same here, i don't want to tie into a specific ecosystem, but I started exploring other options for my markdown notes.

[2020-04-10 08:01] Rishgod opened #3011 "Changing bold-text color for arititmdark theme"
In the current state bold text are changed to green colour while the normal text is white in colour.

## Environment

Joplin version: Joplin 1.0.197 (dev, win32)
Platform: Windows
OS specifics: No

## Describe what happens
![image](https://user-images.githubusercontent.com/54576074/78974117-f2c61000-7b2e-11ea-80c8-dd97bbc350f6.png)

## Describe what you expected to happen
![image](https://user-ima

[2020-04-10 08:02] xplosionmind commented on #3009
Sorry, I interpreted it as a bug because I thought counting the source text isn't of much use. I think having to columns would be perfect. Thanks a lot for your interest and help, anyway!

[2020-04-10 08:28] tessus commented on #3009
Laurent has the last say in what is a bug or not, so maybe I'm wrong. I'm just saying that a second column would make the most sense.

[2020-04-10 10:00] Rahulm2310 commented on #2866
@laurent22 Sir what are your views on this ?

[2020-04-10 10:30] laurent22 commented on #2866
It works as expected

[2020-04-10 10:30] #2866 closed

[2020-04-10 11:03] jonastheis commented on #3002
I have the same issue with the exact same environment. On top of that there are some scrolling issues sometimes where I can't really scroll and it sort of bounces back to its previous position.

Not sure when exactly it appeared but it must've been a recent update. Before it was working just fine.

[2020-04-10 13:56] metbril commented on #2153
I have since moved to a "real" Nextcloud instance. So for me there is no urgency. However, I will keep the test account open as long as this issue is open, too.

[2020-04-10 14:19] coderrsid opened #3015 "Desktop: Visibility of checkbox of list item in Note body"
## Environment

Joplin version: Joplin 1.0.197 (prod, darwin)
Platform: Desktop

## Steps to reproduce

1. Write ` - [x] LIST ITEM ` in notebody
2. Watch the opacity of checkbox decreases too with the text in the rendered-text.

![image](https://user-images.githubusercontent.com/35633575/78997596-82d27c80-7b64-11ea-9c5f-359a3f8d69af.png)

## Describe what you expected to happen
The checkbox opacit

[2020-04-10 16:57] laurent22 commented on #2228
Cannot replicate

[2020-04-10 16:57] #2228 closed

[2020-04-10 17:38] coderrsid commented on #3009
Yeah, tessus i agree. A second column for all counts of rendered would be better, because it's implemented for word count whether after render or before render, it shouldn't matter i guess.

[2020-04-10 20:00] kowalskidev commented on #2383
I'm working on it 👍

[2020-04-10 21:42] tessus commented on #3015
Yet again, I think this is working as designed.

[2020-04-10 21:53] coderrsid commented on #3015
Ohh, it's okay. I thought it should work like the to-do. As i fixed the checkbox opacity in to-do item too.

[2020-04-10 21:54] #3015 closed

[2020-04-10 21:57] tessus commented on #3015
In that case, the handling of the to-do seems inconsistent. But you should discuss this on the forum, before opening an issue. It may very well be intended.

[2020-04-10 22:00] coderrsid commented on #3015
Oh sure. As it was just a small thing so didn't think like making out a discussion. But sure, i'll keep in mind. Thanks tessus.

[2020-04-11 02:19] githubWangHC opened #3017 "The software will automatically delete the notes"
All the text in the notes suddenly disappeared, and there is no information in the history records, that is, it cannot be undone and restored.
Appeared twice within a month.

## Environment

Joplin 1.0.197 (prod, win32)

客户端 ID：2eb13c5e616f42b6af0f9ebe7e22f5ba
同步版本：1
最新版本：28

调整： 719afba0 (master)

## Steps to reproduce
When the bug appeared, I was using the external editor Typora to edit the text

[2020-04-11 04:44] alexdevero opened #3019 "Title auto-update doesn't work"
In earlier versions, when I created a new note, the first line of the note was used as the note title. If I edited this line the title would change as well. This doesn’t happen in the last version. instead, the note title field remains blank, and in the note list it shows as “Untitled”.

## Environment

Joplin version: v1.0.199
Platform: Windows 10 (64bit)

## Steps to reproduce

1. Crete new note

[2020-04-11 05:29] lennartb- commented on #2221
This is still an issue and annoys me to no end because I use lists very frequently in my notes.

[2020-04-11 07:06] coderrsid commented on #3019
Thanks for reporting. I am facing that issue of macOS platform too.

[2020-04-11 07:32] aakashsinghbais opened #3021 "Full Text Search and <base> Tag Break Katex Rendering In In-App Preview"
**Issue:** Katex code: `$\rightarrow$` renders as: \rightarrow ➡
....and so on...
(Meaning, the render in the in-app preview also shows raw code along with rendered Katex)

![image](https://user-images.githubusercontent.com/56718090/79040427-085a3900-7c06-11ea-9560-9162dced9df3.png)

I just downloaded Joplin (Joplin-Setup-1.0.197.exe) 2 days ago, it worked perfectly when suddenly after 2 days of f

[2020-04-11 07:55] Rahulm2310 commented on #2866
What if user wants to add new lines intentionally? It should work like other note taking apps such as Evernote where newlines are rendered in view mode.

[2020-04-11 08:54] armaccloud commented on #2968
Hi @laurent22 I now have version 1.0.199 installed. Still the issue is occurring unfortunately. Is there any way to troubleshoot this?

[2020-04-11 09:28] roman-r-m commented on #2939
For me it does not happen when simply adding a text but it does happen when I type a word and then delete it (I'm using SwiftKey and can delete the last word by swiping right).

Seems related: https://github.com/facebook/react-native/issues/25265
[Apparently](https://github.com/imnapo/react-native-cn-richtext-editor/issues/81#issuecomment-603211656) it's fixed in RN 0.62

[2020-04-11 09:38] laurent22 commented on #2968
Are you able to build the app from source? If so, I could tell you where to add log statements so that we can see how the paths are being converted. Otherwise, I will add the statements myself but to test it will have to wait till the next release.

[2020-04-11 09:41] laurent22 commented on #3021
Would you mind posting your code as text and not as a screenshot so that I can test?

[2020-04-11 09:44] aakashsinghbais commented on #3021
Yep, here it is:
--------(.md code)--------

# Java Script

## 1. Commenting
- **Inline Comment:**
[code]
- **Multi-line Commment:**
[code]
## 2. Basic JavaScript: Declaring JS variables
- Data-types in JS:
	- `Undefined`
	- `Boolean`
	- `string` : obvious
	- `symbol` $\rightarrow$
	- `number` : obvious
	- `object`

-----------(end of .md code)------------

[2020-04-11 09:46] laurent22 commented on #3021
Works for me:

![image](https://user-images.githubusercontent.com/1285584/79040628-a8519b80-7be1-11ea-8260-495384a0c893.png)

[2020-04-11 09:47] aakashsinghbais commented on #3021
It worked for me too in the beginning for about 2 days, but now it doesn't.

[2020-04-11 09:51] laurent22 commented on #3021
If you paste your code above in a new note, does it not work?

[2020-04-11 09:51] #3019 closed

[2020-04-11 10:02] #2736 closed

[2020-04-11 10:09] coderrsid opened #3022 "Android: (+) button gets disabled"
## Environment

Joplin version: 1.0.318
Platform: Android

## Steps to reproduce

1. Go to `All Notes` section.
2. Then try to create a new notebook, but don't create one, just press back  at it will take you to `All Notes` section again
3. Try to press the (+) button, it's disabled.

## Describe what you expected to happen

It should be enabled whether a new notebook is created or not.

## GIF of

[2020-04-11 10:11] aakashsinghbais commented on #3021
![image](https://user-images.githubusercontent.com/56718090/79041098-afd96a80-7c0a-11ea-9f60-a89ed81a4428.png)

I think it has got something to do with the Dark theme as well...
So, when I pasted it in the light theme, on a new note, it seemed to work initially, but the moment I switched to older notes to check whether things are rendering fine there as well, it again started malfunctioning on all

[2020-04-11 10:15] aakashsinghbais commented on #3021
...and after that it malfunctions even in the light theme

[2020-04-11 10:23] coderrsid commented on #3002
We have some increasing platform dependent issues @tessus . It'd be great if we could discuss this overall issue on Discourse, isn't it?

[2020-04-11 10:26] aakashsinghbais commented on #3021
Alright.
I think I have figured it out.
Last night I was fiddling with `Ctrl + F` search functionality, and the search failed...and as a side-effect I guess, the Katex started malfunctioning.
I punched `Ctrl + F` again, and things have now started working again....Katex is back running fine...

------------
Should I modify the issue?, and add the details?

[2020-04-11 10:28] laurent22 commented on #3021
Yes if you managed to replicate it, it would be good if you could list the exact steps that make it happen. And maybe also the notes you switch to in case it's relevant.

[2020-04-11 10:29] aakashsinghbais commented on #3021
Alright, I dunno if I'll be able to get it to malfunction again...I'll try...

[2020-04-11 10:38] #2830 closed

[2020-04-11 10:39] aakashsinghbais commented on #3021
Yes, it broke again on full text search in dark theme on a large document.

[2020-04-11 10:42] laurent22 commented on #3021
So you search for a string that appears in this large note, you open it, and then it's broken?

Does it work if you open the note when the app starts?

Is it really only with dark theme, or can it happen with light theme?

Just trying to gather as much as info as possible for the next time I'll look at this, as I couldn't replicate.

[2020-04-11 10:55] aakashsinghbais commented on #3021
I have around 7 notes open in the sidebar.
One of them is bulky, it is long and contains a lot of latex code along with other stuff.
Last night I was trying to modify the HTML attributes of an <img> tag for an img that I had used repeatedly, so I did `Ctrl + F` and then punched `hr.png` in the bar, it somehow didn't work (or was taking more time than I expected it to). Then I tried a full-text sea

[2020-04-11 12:37] aakashsinghbais commented on #3021
I accidentally deleted my bulky study notes in the process (which I hadn't fully exported)!! 😭...now I'll have to write them again...and then test...it doesn't break on lighter documents....I'll be back soon.

[2020-04-11 13:12] Rishgod commented on #3021
I feel you man 😥

[2020-04-11 13:46] Rishgod commented on #2383
please don't I'm done with this PR

[2020-04-11 14:31] snowyu opened #3025 "My note and notebook disapeared after the moblie sync failed."
## Environment

Joplin version:
1. Joplin Desktop
  - Joplin 1.0.199 (prod, linux)
  - Client ID: 8568589a7f224a0ca861d9130a4b7615
  - Sync Version: 1
  - Profile Version: 28
  - Revision: 53a857b (master)
2. Joplin Mobile
  - 1.0.324
  - Android@10

## Steps to reproduce

1. Joplin Desktop sync to the webdav server successful.
2. New mobile empty joplin client add the webdav server and begin to s

[2020-04-11 14:31] noklam commented on #176
I don't know when is this WYSIWYG editor was introduced, but the function of the markdown table is a  BIG plus. IMO editing table with markdown is always painful, this definitely helps a lot.

[2020-04-11 14:33] snowyu commented on #3025
I wish split the sync feature to upload and download two way options.

[2020-04-11 15:47] xindubawukong commented on #2998
I see. But it took much time to find which note includes that large file. Maybe the error message should show more infomation about it.

[2020-04-11 16:04] RedDocMD commented on #3009
I am currently working on this enhancement. By what I understand from the comments above, it is desired that the word counting feature shows side by side the counts in both the source and the stripped down Markdown.

[2020-04-11 16:10] aakashsinghbais commented on #3021
Ok, I have modified the issue @laurent22 , and have tried to describe it as best as I could understand it, with all info that I found...I'll keep you informed.

[2020-04-11 17:12] RedDocMD commented on #3009
@tessus , @laurent22  There is a library called `remove-markdown` which does exactly as its name suggests. [Link to npmjs](https://www.npmjs.com/package/remove-markdownl)
I intend to use it to strip out the markdown and make the stripped out text for the additional column.
It seems to be a pretty small library. So is it okay if I use it?

[2020-04-12 04:28] genneko opened #3028 "Desktop: Goto Anything modal closes even when you click inside"
"Goto Anything" modal dialog closes even when you click on it (including the text field and the "?" icon).
This prevents the help text for the dialog from showing up when you click "?".
I don't think it's a big issue but it would be better if it closes only when you click outside the modal.

## Environment

Joplin version: Electron v1.0.199
Platform: Linux, Windows
OS specifics: Ubuntu 18.04, Wind

[2020-04-12 05:59] anjulalk commented on #3028
I think this is caused by #2940. Most probably it incorrectly binds the onClick event to the entire page, closing the Go to anything modal wherever you click.

I'll look into this.

[2020-04-12 06:37] #2258 closed

[2020-04-12 08:59] #3028 closed

[2020-04-12 08:59] laurent22 commented on #3025
For support, please use the forum. Maybe your notes are in the conflict notebook?

[2020-04-12 08:59] #3025 closed

[2020-04-12 09:28] laurent22 commented on #3021
@aakashsinghbais, when the bug happens again, could you try to open the developer tools and see what the issue is?

- You can open the developer tools from the Help menu.
- Then click on the selection arrow
   <img width="27" alt="image" src="https://user-images.githubusercontent.com/1285584/79065372-c4b80b80-7ca7-11ea-816a-06e1ca41cb15.png">
- And select the buggy Katex rendering.

You should see

[2020-04-12 09:51] snowyu commented on #3025
No, only two notes in the conflict notebook. and It is modified note too(some attachment disapeared).

[2020-04-12 09:53] snowyu commented on #3025
I guess the mobile upload the wrong notes for attachment size limits and the desktop download them.

[2020-04-12 12:14] laurent22 commented on #3021
Ok I managed to replicate it. This is due to the use the `<base>` tag as it makes Katex load the CSS from the wrong directory. In general, components in the application expects a stable current directory and changing it with `<base>` is likely to break various things.

In fact, I wonder if it could also be a security issue, so as a result I will disable it from the next version. In general, Joplin

[2020-04-12 12:14] #3021 closed

[2020-04-12 12:19] laurent22 commented on #2968
@armaccloud, in the latest version I've added more log statements to try to debug this issue: https://github.com/laurent22/joplin/releases/tag/v1.0.200

Could you try to replicate it, then copy and paste the log statements here please? The two relevant statements would be those that start with `replaceResourceInternalToExternalLinks` and `replaceResourceExternalToInternalLinks`

[2020-04-12 13:12] aakashsinghbais commented on #3021
Hmm....but I wonder if there is a way to relatively link images because Joplin appears to try to create a copy of the image and retain it...then, while exporting, those images appear in the resources folder which ultimately ends up creating multiple copies of one image which was already stored in my local storage.

[2020-04-12 14:55] alexswerner opened #3030 "[ios] Support for TLS Client cerificates"
Synchronization with a Nextcloud (DAV) server accessed over https works. However when enabling authentication based on client certificates on the server, the synchronization fails with: "Error. Please ceck that URL, username ... The reported error was: Network request failed"
I have a client certificate for this server installed in the ios certificate storage and i can access the server with Safar

[2020-04-12 16:32] Nullmaruzero commented on #2998
Same problem here since today. I guess OneDrive is a bad choice for many nested notebooks (up to 3 levels). I have 15 notes in total, including 6 Welcome to Joplin ones. Only one with some pictures images but I have predefined my whole notepad layout into 21 notepads (including nested) and it blew up.
Removing all the attachments helped. Attachments are not being deleted with the note itself.

Des

[2020-04-12 16:44] dbogdanov commented on #2244
Still an issue.

[2020-04-12 16:53] coderrsid commented on #2952
@laurent22 or @tessus . Can you close this issue, please?

[2020-04-12 17:01] coderrsid commented on #2852
Is this happening in the latest update too? Can you confirm?

[2020-04-12 21:04] dpoulton-github commented on #3001
@snakyjake1

I believe that what you are seeing is expected behaviour.

Three backticks for a fenced code block **without** a "qualifier" causes to Joplin to try to auto-detect the code within the fenced code block.

If you want a fenced clode block without any code highlighting use:

\`\`\`plaintext

There is a post on the forum that also covers this.

https://discourse.joplinapp.org/t/code-block

[2020-04-12 21:59] laurent22 commented on #3021
Links to local files work in Joplin but is not officially supported. In general, you should import images as attachments as this is what we support and it should work as expected everywhere.

[2020-04-12 23:39] anyuzx opened #3033 "Equation rendering issue"
## Environment

Joplin version: Version 1.0.200
Platform: macOS
OS specifics: Version 10.15.4 (19E287)

## Steps to reproduce

The equation $$\sum_{i<j}$$ or inline $\sum_{i<j}$ cannot be rendered. The issue seems to be the `<` symbol. $\sum_{i,j}$, $\sum_{ij}$, etc seem to be fine. However, if I add space in `i<j`, it seems works... See the screenshot.

<img width="908" alt="Screenshot 2020-04-12

[2020-04-13 06:07] mic704b commented on #483
Thanks for the comments @Perkolator

Yes, note revisions are considered, and will be unaffected. The revision history is retained with the note until the note is permanently deleted.

Concerning the choice of implementation; `Iteration 1` does not lock us into an final option for `iteration 2`. It is compatible with an `iteration 2` implementation with the features you suggest.

[2020-04-13 06:46] kingfisher77 opened #3035 "Joplin.AppImage 1.0.200 does not show proper Version (or is not this version)"
Looking at "About Joplin" shows still Version 1.0.197 after download of

https://github.com/laurent22/joplin/releases/download/v1.0.200/Joplin-1.0.200.AppImage

Yet it seems to be the latest version ...

[2020-04-13 07:24] martinblaha commented on #2966
Thank you, @dpoulton-github, updating to a new version of Joplin did it. Awesome! :+1:

[2020-04-13 07:24] #2966 closed

[2020-04-13 08:13] roman-r-m opened #3036 "New editor is unusable on Android"
Firstly the edit area is completely obscured by keyboard.

And on top of that the editor breaks SwiftKey autocomplete, see the video (in case it's not clear I was typing "test"):

![ezgif com-gif-maker](https://user-images.githubusercontent.com/995612/79104659-8af60c00-7d5e-11ea-9238-c2879c861a5e.gif)

[2020-04-13 08:13] laurent22 commented on #3035
Probably some issue with the way the app is started on your system.

[2020-04-13 08:13] #3035 closed

[2020-04-13 08:27] kingfisher77 commented on #3035
After a reboot of the machine the version number displayed right. Maybe a cache issue? Arch, Gnome 3.36.1. I just use this to install `wget -O - https://raw.githubusercontent.com/laurent22/joplin/master/Joplin_install_and_update.sh | bash`

[2020-04-13 09:08] Perkolator commented on #483
If you scrap the idea of the "separate trash window", is there a lot to do in your iteration 2? I mean, Joplin already knows how to show folders/notebooks and notes in them, which is the way I believe would be the proper way of showing the special "trash" folder.

[2020-04-13 10:30] homofortis opened #3038 "Formatting text in long lines is not rendered"
Formatting multiline paragraph  is not rendered if the text has been line wrapped .

## Environment
Joplin version: 1.0.200
Platform: Desktop
OS specifics: Linux/Ubuntu 19.10

## Steps to reproduce
1. Insert a long paragraph which spans on multiple lines.
2. format (e.g. bold/italic) a word or several words (which are not on the first line).
3. observe the result in preview showing the format char

[2020-04-13 10:56] kowalskidev commented on #3038
Can you please show snapshot of your note. I just checked into my system having same config as yours (Ubuntu 19.10) but I couldn't able to reproduce your bug... everything is working fine.

[2020-04-13 10:59] aakashsinghbais opened #3039 "Bulleted List - Indentation Fails at Line Space?"
![image](https://user-images.githubusercontent.com/56718090/79115328-2dd07980-7da3-11ea-8524-33915d9cae1c.png)
I guess this one is self explanatory. The indentation is failing at `Example`, but comes back on the next bullet. (these are sub-bullets)

An extra `TAB` is needed to get `Example` back in proper indentation.
![image](https://user-images.githubusercontent.com/56718090/79117224-29f32600-7d

[2020-04-13 11:52] aakashsinghbais opened #3040 "No Way To Escape Formatted Bulleted Lists?"
While creating a bulleted list, I have noticed:
- Pressing `Enter` after adding a `Space` automatically creates a new bullet below the existing.
- Pressing `Enter` without a `Space` exits the list and goes to the beginning of next line maintaining proper indentation.

But, I found:
**If the list element is formatted (Like: `- **My name is Joplin**`), using `**` for **bold**, `++` for *italics* or

[2020-04-13 12:09] homofortis commented on #3038
Strange, it is working fine for me now. Sorry, for ringing the bell :disappointed: . Closing it now.

[2020-04-13 12:09] #3038 closed

[2020-04-13 12:15] 3ter commented on #1877
I find myself often wanting to use leading wildcard searches. I understand that they [can slow searches](https://communities.bmc.com/docs/DOC-47935), so I vow to at least make it optional.

I've read the [issue on this topic](https://github.com/laurent22/joplin/issues/1288) which has been closed, but I think it deserves another thought when the system is improved. There are [people thinking about

[2020-04-13 12:24] homofortis commented on #3038
![Screenshot from 2020-04-13 13-13-59](https://user-images.githubusercontent.com/3680999/79119637-ba217300-7d88-11ea-845f-4562ac811592.png)
I've closed the issue because I couldn't reproduce it with selecting a single word but could reproduce it by selecting a couple of paragraphs (I don't know if it's the desired effect according markdown standards).

[2020-04-13 12:37] kowalskidev commented on #3038
Ahh! got it. No need to check with long paragraph just write two words with line and space between them like:
**hello

world**

I don't think it's a bug, blank new line is not allowed in between (**). You are right!

[2020-04-13 12:46] Kiel97 opened #3041 "Android: Note becomes invisible in edit mode when text has 37 lines and more"
Today I have updated Joplin app from Google Play to the newest version. After that when I try to edit notes containing more than 36 items on lists, text becomes invisible. The text is still there, I can write more text to it, it is just invisible, it synchronizes well, it's visible in Windows and Linux Desktop applications. **It didn't happen in previous versions.**

Here's an issue in action:
![j

[2020-04-13 13:17] wesimpson opened #3042 "MacOS: App blocked from opening after installation"
## Environment

Joplin version: 1.0.200
Platform: MacOS Catalina
OS specifics: 10.15.4

## Steps to reproduce

1. Update or install de novo Joplin
2. Install is ok, when opening for the first time receive an error message (see screenshot)
3.

## Describe what you expected to happen

- As with all previous updates, I expected it to just open after I installed.
- Received an error message instead
-

[2020-04-13 13:28] wesimpson commented on #3042
Update: Installation via homebrew works fine.

[2020-04-13 13:35] i1qwert opened #3043 "Android: Text Editor doesn't show any text if its pretty large"
## Environment

Joplin version: 1.0.327 (Android) | 1.0.197 (Win10)
Platform: Android
OS specifics: 8.1 | MIUI 10

## Steps to reproduce

1. create large note (with cyrillic symbols i guess) on desktop
2. sync on both devices
3. try to edit this note

## Expected
Wanted to see text that i'm editing
https://imgur.com/a/12pxRvb

Also, I still able to edit text and save it

## Logfile
I checked error

[2020-04-13 13:47] Kiel97 commented on #3043
Looks like we have the same issue: #3041

[2020-04-13 14:13] timmb opened #3044 "Export file creation/modification time should match note, not the time of export"
Notes in Joplin have an internal representation of their creation and modification date/time, which can be used for sorting.

However, when exporting (e.g. to MD files) this information is lost. I would expect to find the metadata of the file to be set accordingly but for me both the creation and modification time on the file is set to the time the export happened

## Environment

Joplin version: