[2021-03-18 08:48] heyapoorva commented on #4124
@roman-r-m I am working on this. I checked and the issue still persists for the latest release on both Linux(AppImage) and Windows.

[2021-03-18 09:00] kioan commented on #3345
This issue still exists on Joplin 1.4.19 (prod, Linux).
When changing keyboard layout using the Alt+Shift shortcut, if the Alt key is released after the Shift, the focus is lost as it is described [here](https://github.com/electron/electron/issues/28088#issuecomment-800089637).

[2021-03-18 09:26] roman-r-m commented on #3345
1.4.19 is very old, the latest is 1.7-something

[2021-03-18 09:48] roman-r-m commented on #4575
Yes, you're right. I thought I was building file name by stitching together title and extension in `useOnResourceLongPress` but no, it's just the title.
But then, if you already have the full name in `title`, why not use it?

[2021-03-18 10:42] vikas-kundu commented on #4672
@roman-r-m so i did some digging around and i was able to find:

- The sort functionality for the app: [https://github.com/laurent22/joplin/blob/35063ac05cfb3735caa193a4eb2760c42337c5da/packages/app-mobile/components/screen-header.js#L322](https://github.com/laurent22/joplin/blob/35063ac05cfb3735caa193a4eb2760c42337c5da/packages/app-mobile/components/screen-header.js#L322)
- The sortButtonPress fu

[2021-03-18 10:57] Ahmad45123 commented on #4567
So the issue is definitely not existent in dev branch. I'm not sure what to do here now, but you probably just need to wait for an update to prod :)

[2021-03-18 11:05] rxliuli commented on #4575
Because it is uncertain whether Title is a real file name. . .

[2021-03-18 11:18] roman-r-m commented on #4575
Yeah, looks like it atm uses the title to generate the file name (`via Resource.friendlySafeFilename`), but I agree this is also an implementation detail and can be changed

[2021-03-18 11:26] rxliuli commented on #4575
This implementation details have an effect on external resource editing, mainly affecting accessory resources including secondary suffixes. For example Test.Drawio.svg, Test.km.svg

[2021-03-18 12:06] roman-r-m commented on #4702
Duplicate of https://github.com/laurent22/joplin/issues/4397

[2021-03-18 14:06] nishantwrp commented on #3933
I'd like on this issue.

[2021-03-18 14:07] harshitkathuria commented on #4702
I have submitted a PR for this issue. Should I change the issue number to the original issue my in PR @roman-r-m ?

[2021-03-18 14:10] roman-r-m commented on #3933
Umm, I think this has been implemented already

[2021-03-18 14:10] roman-r-m commented on #4702
No, it doesn't matter much

[2021-03-18 14:12] nishantwrp commented on #3933
Oh, ok. Is there any issue involving plugins that I can work on. I'm asking so that I could also get to know better how plugins work in Joplin for Google Summer of Code.

[2021-03-18 14:17] harshitkathuria commented on #4702
Ok....Thanks

[2021-03-18 14:37] roman-r-m commented on #3933
That's not necessary at this point, what's more important is to demonstrate your skills.

[2021-03-18 14:37] roman-r-m commented on #3933
But to answer your question - the best way to learn how plugins work is to build one.

[2021-03-18 14:44] nishantwrp commented on #3933
Oh, ok. Got it. What would be the best way to do that? Solving issues labeled "high"? Mostly all the issues labelled high or medium are claimed.

[2021-03-18 14:52] kioan commented on #3345
I have downloaded the latest Joplin app from the official [website](https://joplinapp.org/). The site claims that the version of the downloaded file is 1.7.11 (the filename of the Linux binary is Joplin-1.7.11.AppImage).
After running this app, the [about screen shows 1.4.19](https://i.imgur.com/0WHo9zp.png). At first I thought that I installed a wrong version, so I tried it again. Perhaps there i

[2021-03-18 15:15] ron-debajyoti commented on #4332
I tested this on release 1.8.0 in Ubuntu 18.04 and the issue still exists. I would like to take this up as a beginner if that's fine @laurent22

[2021-03-18 15:58] erikaemma opened #4705 "Frequent loss of attached files"
I use wsgidav on raspbian, and windows client & android client.
Now I'm moving evernote&maxiang to joplin with webdav sync.
I haven't started adding pictures to markdown notes yet, then I decide to moving webpage clip.
So, I find every sync, I will see "delete 4 files" log in sync,
Then I will loss some pictures on a html clip (random).

[2021-03-18 17:38] coderrsid commented on #4490
can you please mention the link to discourse in which you posted the video to reproduce a bug?

[2021-03-18 18:10] ajay-gh commented on #4490
https://discourse.joplinapp.org/t/check-box/14628?u=ajay

[2021-03-18 18:40] CodicePauperem opened #4706 "Android client 1.7.5 not updating correctly after sync via WebDAV"
## Environment

Joplin version: 1.7.5
Platform: Android 10
(Paired with the Win32 1.7.11 portable client)
Encryption turned off and note history turned off on both clients.
Starting with a clean WebDAV directory on a shared remote host.

## Steps to reproduce

1. Create new notebook or note on desktop portable client, push changes, and sync Android client.
2. New notebook or note will successfully

[2021-03-18 19:12] kioan commented on #3345
The bug when changing keyboard layouts using the Alt+Shift shortcut, still exists in the latest Joplin version 1.7.11.

[code]

[2021-03-18 21:24] #4704 closed

[2021-03-18 21:27] tessus commented on #4702
Actually yes, you should change it, otherwise the PR will be closed due to PR guidelines: item 1.

Clossing this since it is a duplicate.

[2021-03-18 21:27] #4702 closed

[2021-03-18 21:44] roman-r-m commented on #4439
Finally looked at this. In theory this isn't very hard to implement, however `rn-fetch-blob` does not support WebDAV atm.
It can be fixed with a trivial one-line change, but on the main page of this lib it says the project is no longer maintained, so my PR would probably be ignored.

[2021-03-18 22:10] roman-r-m commented on #4638
This looks more like a problem on the server-side

[2021-03-19 01:22] johnb0647 commented on #4663
I've been reviewing my activities that might have had an impact on this problem.  At about the same time I was following some on line menu's of android background apps that eat up battery life but are usually unnecessary, except to advertisers perhaps, and can be disabled.  With this kind of thing I am very conservative and I disable one thing at a time and wait a few days to see if anything I car

[2021-03-19 04:32] harshitkathuria commented on #4702
Thanks, I have updated the issue number to the original issue in my PR.

[2021-03-19 09:03] scrumit commented on #3859
leaving this as my beta Arm Mac has now gone back (I had it 8 months). I'll get an M1 Mac mini soon and will try this again.

[2021-03-19 09:18] roman-r-m commented on #4663
I do not think there are any.

[2021-03-19 09:42] eromawyn opened #4709 "Keep original image rather than compressing ALSO with API"
## Environment

Joplin version: joplin 1.6.4 (prod)
Platform: Linux
OS specifics:

## Steps to reproduce

When I add very big images as ressources with the API (using the outdated python joplin-api which does a POST /resources ), the image gets resized to 1920 px height. Since my original images wer 7-8k px height, the text become unreadable, image is not usable at all !

This is related to bug #1

[2021-03-19 09:45] roman-r-m commented on #4709
Already done in https://github.com/laurent22/joplin/pull/4660
Will be fixed in the next version

[2021-03-19 09:45] #4709 closed

[2021-03-19 12:07] mablin7 commented on #4683
I fixed it, it was [this line](https://github.com/laurent22/joplin/blob/8de46ed462bba8bd934cedf602400adf565b4bb2/packages/app-desktop/gui/ConfigScreen/controls/plugins/useOnInstallHandler.ts#L41). I just had to set enabled on the newly created plugin settings. Before I submit a PR I wanted to ask for advice on testing this. Should I add a test case for this and if so how?

[2021-03-19 12:12] mablin7 commented on #4683
Btw I discovered that a great way for testing plugin update related things, is to fork [joplin/plugins](https://github.com/joplin/plugins), bump the version of a plugin in manifests.json, then set [this line ](https://github.com/laurent22/joplin/blob/dadec484e9e8352c084e5131641da64d676c3900/packages/app-desktop/gui/ConfigScreen/controls/plugins/PluginsStates.tsx#L48) to point to your fork. Also ma

[2021-03-19 12:15] aashimawadhwa commented on #4563
i would like to work on this issue
@EmperorEarth  the issue exactly says that joplin have a issue  in switching dark mode on or making changes while the dark mode is on?

[2021-03-19 12:18] aashimawadhwa commented on #4530
@pahowes  i will like to work on this issue ,please can u elaborate a little more about it?
you want to change the layout of the editor? can you please guide a little about the same.

[2021-03-19 12:24] aashimawadhwa commented on #3161
i would ike to work on this issue can u please elaborate a little more?

[2021-03-19 12:25] aashimawadhwa commented on #3695
is this issue still upon? i am interested in working upon this.

[2021-03-19 12:33] aashimawadhwa commented on #4614
is this issue still open?
i would like to work on this.

[2021-03-19 12:35] aashimawadhwa commented on #4699
i would like to work on this issue?

[2021-03-19 13:31] aashimawadhwa commented on #3491
can i work on this issue , am interested in it?

[2021-03-19 14:04] aashimawadhwa commented on #4454
is this issue still active , i would like to work upon it?

[2021-03-19 14:47] EmperorEarth commented on #4563
Sure, I'll provide a bit more context; working on open source projects is a great way to gain experience! Sadly, I can't provide much more than this; I simply don't have the bandwidth.

Joplin allows users to [set custom styles](https://joplinapp.org/#custom-css) via two files, `userchrome.css` and `userstyles.css`. Joplin also allows users to a Dark Mode option. Sometime after Joplin added Dark M

[2021-03-19 14:50] aashimawadhwa commented on #4563
can i start working on this issue?  @EmperorEarth

[2021-03-19 14:51] EmperorEarth commented on #4563
It's not my project and it's open source. Generally, first good pull request wins.

[2021-03-19 15:36] aashimawadhwa commented on #4563
i would like to work on this issue please assign it to me?

[2021-03-19 15:46] harshitkathuria opened #4710 ""Toggle Development Tools" button needs to be clicked twice to open Dev Tools."
**Toggle Development Tools** button under the help section of the title bar needs to clicked twice to open Dev Tools after the Dev Tools are closed by the close button (cross mark).

## Environment

Joplin version: 1.7.11
Platform: Windows
OS specifics: 10

## Steps to reproduce

1. Click the 'Toggle Development Tools' under Help section of title bar. Dev Tools will be opened.
![image](https://use

[2021-03-19 16:20] lkiThakur commented on #4710
I was able to reproduce the bug but i think there is a typo in step 1 of your issue;
did you meant `Click the 'Toggle Development Tools' under ~Home~ *help* section`?

[2021-03-19 16:21] Tylryan commented on #1728
Has there been an update on this? It would be incredibly useful. Thanks for looking into it.

[2021-03-19 16:31] roman-r-m commented on #4563
We do not assign issues, just go ahead

[2021-03-19 16:32] roman-r-m commented on #4710
"Toggle development tool" is part of Electron on top of which Joplin is built. Not really a bug in Joplin itself.

[2021-03-19 16:34] roman-r-m commented on #4683
Are there any tests for this functionality at all?

[2021-03-19 16:36] roman-r-m commented on #3933
Apologies for the delay, I've just tagged a bunch of issues with medium, feel free to take one.

[2021-03-19 16:42] harshitkathuria commented on #4710
@roman-r-m  Sorry, but I think it is actually a bug as this part is explicitly handled in the codebase, i.e in `packages\app-desktop\app.ts line 338`.

I have actually solved this bug, should I submit a PR for this issue?

[2021-03-19 16:46] roman-r-m commented on #4710
Hmm, you're right. I stand corrected.

Have you read the GSoC guide, [Pull request guidelines](https://joplinapp.org/gsoc2021/pull_request_guidelines/) specifically? It says

[2021-03-19 17:00] harshitkathuria commented on #4710
I read the guidelines, but upon solving this issue, it just slipped out of my mind.
Sorry :(

[2021-03-19 17:36] Priyaraj17 commented on #4710
Is this issue open? May I work on it?

[2021-03-19 17:56] mablin7 commented on #4683
I can't find any tests for this module (`useOnInstallHandler.ts`). I'll submit the PR then.

[2021-03-19 18:01] roman-r-m commented on #4710
If this is for GSoC then you should take another issue (for reasons outlined 2 comments above). I've just tagged a few more issues with medium - feel free to take a look.

[2021-03-19 18:10] tessus commented on #4683
Yea, UI stuff is hard to test. Sometimes we can test functions/methods that are used by the UI, but it makes not always sense

[2021-03-19 18:27] wtwver commented on #716
Help -> Toggle developments tools -> Paste the js code into the console

`document.onkeydown = checkKey;

function checkKey(e) {
    var pressed = "";
    if(e.altKey && e.keyCode==37 ){
	    console.log("back");
	    document.querySelector("#react-root > div > div > div.resizableLayoutItem.rli-root > div.resizableLayoutItem.rli-editor > div > div > div > div:nth-child(2) > div > div:nth-child(1)

[2021-03-19 18:34] asrient commented on #3695
Sorry I didn't got enough time, I'm planning to complete the open pr #4390 in a few days.

[2021-03-19 19:40] harshitkathuria commented on #4602
I would like to work on this issue.

[2021-03-19 20:20] DantrazTrev commented on #4493
@ambrt I was able to replicate this issue .

Maybe the listeners attached to the layout panels  `packages/app-desktop/gui/ResizableLayout/MoveButtons.tsx` in  are not been properly or timely deleted ?

I think this is originating from the `packages/app-desktop/gui/ResizableLayout/MoveButtons.tsx`
or from `/packages/app-desktop/gui/ResizableLayout/ResizableLayout.tsx`

PS : I'm not sure about the s

[2021-03-19 23:13] dangerfish96 commented on #1085
Hi, I just wanted to say that this project is awesome!!
Particularly this feature would make it even better.
Thank you very much!

[2021-03-19 23:17] enunez commented on #4542
AFAIK, the issue remains and has not been addressed.

[2021-03-19 23:27] siliconninja commented on #3607
Still relevant.

[2021-03-19 23:31] weak-head commented on #4218
up 🐛

[2021-03-20 00:02] danlhenry commented on #4341
Joplin is still at v1.7.11, so as stated in the Feb 13 update above, the issues still exists.

[2021-03-20 00:03] jalajcodes commented on #4614
Hi, thanks for showing interest but I already created a PR and it's in review.

[2021-03-20 00:15] hb20007 commented on #1642
Not fixed.

[2021-03-20 00:31] Miosame commented on #4335
Not resolved

[2021-03-20 00:31] Miosame commented on #4334
Not resolved

[2021-03-20 00:31] ParticleMon commented on #4514
Bump.

[2021-03-20 00:32] ParticleMon commented on #4515
Bump.

[2021-03-20 00:32] ParticleMon commented on #4502
Bump.

[2021-03-20 02:04] lostfictions commented on #4468
Unfortunately, in the end I abandoned the idea of using Joplin since there was no clear way to efficiently import my (several years of) notes/bookmarks from another service. (I wrote a script to import via the HTTP API, but it was going to take over 24 to complete from the looks of it -- and it got slower as more notes were added. Maybe the importer is accidentally quadratic?)

[2021-03-20 02:07] #4225 closed

[2021-03-20 02:07] #4415 closed

[2021-03-20 02:07] #4434 closed

[2021-03-20 02:07] #4430 closed

[2021-03-20 02:07] #4451 closed

[2021-03-20 02:07] #4444 closed

[2021-03-20 02:07] #4396 closed

[2021-03-20 02:08] #4370 closed

[2021-03-20 02:08] #2234 closed

[2021-03-20 02:08] #4233 closed

[2021-03-20 02:08] #4383 closed

[2021-03-20 02:08] #4382 closed

[2021-03-20 02:08] #4365 closed

[2021-03-20 02:08] #4367 closed

[2021-03-20 02:08] #4371 closed

[2021-03-20 02:13] #4472 closed

[2021-03-20 02:13] seanieb commented on #4472
dupe

[2021-03-20 05:14] istudyatuni commented on #4516
Yes, this problem still exists

[2021-03-20 05:34] jalajcodes commented on #4524
I am working on this.

[2021-03-20 05:51] pompeiifreckles commented on #4696
Hey I am not able to reproduce the issue, can I get some more details about this. Is it only specific to version 1.7.0 or is it also in 1.8.0. The dev branch is already in 1.8.0 so I don't know where I can get 1.7.0 version. I will try running the app on manjaro to make sure its not distro specific just in case and let you know here.

Joplin version: joplin 1.8.0 (dev)
Platform: Gentoo
OS specific

[2021-03-20 06:09] jalajcodes commented on #4524
@roman-r-m I fixed the issue and as I can't make a PR until #4627 is merged, Can I start working on another issue?

[2021-03-20 06:20] jalajcodes commented on #4524
@roman-r-m I fixed the issue and as I can't make a PR until #4627 is merged, is it alright if I start working on another issue (something more complex) ?

[2021-03-20 07:00] JackGruber commented on #4251
Still a issue

[2021-03-20 07:40] coderrsid commented on #3887
i am not able to reproduce this..

[2021-03-20 07:41] pompeiifreckles commented on #4696
I also tried to recreate the bug with joplin v1.7.0 (dev) on gentoo but its working fine and  pressing 'n' does not trigger any app crashes

[2021-03-20 07:49] alusiani commented on #4331
Hi,

the problem persists in Joplin 1.7.11. I attach the log content:

[code]

[2021-03-20 07:54] alusiani commented on #4330
The problem persists in Joplin 1.7.11, I attach the log output:

[code]

[2021-03-20 08:16] emgerber commented on #4466
I copied all the attachments from another device (PATH: /home/USER/.config/joplin-desktop/resources) to this one, now I have it all. Still not nice, but it worked. Issue can be closed.

[2021-03-20 08:16] #4466 closed

[2021-03-20 08:26] ajay-gh commented on #4521
still the same problem

[2021-03-20 08:28] alexanderadam commented on #3677
Hey stalebot!

[2021-03-20 08:28] alexanderadam commented on #3725
Hey stalebot!

[2021-03-20 08:30] alexanderadam commented on #3871
Hi stalebot

[2021-03-20 08:30] alexanderadam commented on #3736
Hi stalebot

[2021-03-20 08:37] Priyaraj17 commented on #4710
Okay Thanks sir

[2021-03-20 08:39] ajay-gh commented on #4297
from long tap, context menu, -> share... -> save to files : the problem is gone / solved
from short tap, new screen -> share (icon / right top) -> save to files : the problem persists

[2021-03-20 08:41] #4289 closed

[2021-03-20 08:44] Priyaraj17 commented on #3887
Is this issue open? May I work on it?

[2021-03-20 08:52] axq commented on #4216
Unfixed on 1.7.5

[2021-03-20 09:03] nokoa77 commented on #4533
Hi, I think this bug is resolved by simply using the Joplin Portable app, but I didn't try it yet.

[2021-03-20 09:45] #4532 closed

[2021-03-20 11:39] aashimawadhwa commented on #4563
i am not able to find userchrome.css can someone please help me .

[2021-03-20 12:35] roman-r-m commented on #3887
Are you able to reproduce it? @coderrsid just wrote that he couldn't

Since this has been raised a while ago it could've been fixed by now

[2021-03-20 12:44] roman-r-m commented on #4476
Not fixed

[2021-03-20 12:45] roman-r-m commented on #4501
Go away, bot

[2021-03-20 12:52] roman-r-m commented on #4524
go ahead

[2021-03-20 13:27] aashimawadhwa commented on #4563
can you please mark userchrome.css ?

[2021-03-20 14:38] jurf commented on #3887
Joplin 1.7.11

Solarized Light:
![image](https://user-images.githubusercontent.com/7472425/111873736-2c83d580-8992-11eb-969c-caf3ce508395.png)

Solarized Dark:
![image](https://user-images.githubusercontent.com/7472425/111873750-3c9bb500-8992-11eb-9eb0-93a9f589d651.png)

As you can see, there are still considerable inconsistencies.

[2021-03-20 14:45] pomeloy commented on #4155
Still an issue.

This seems to be the problem: https://github.com/electron-userland/electron-builder/pull/5312
Should be in one of the next releases.

As for re-creating the desktop icon, this could be a workaround:
https://github.com/electron-userland/electron-builder/issues/1095#issuecomment-271135624
in
https://github.com/laurent22/joplin/blob/c1198dc76a99135c349fccf6cdecc15fe7611734/packages/a

[2021-03-20 14:47] tessus commented on #4696
@pompeiifreckles the op was talking about the CLI version

[2021-03-20 14:52] tessus commented on #4696
The latest CLI version is 1.6.4.

If you are using anything other than 1.6.4, you are using a version from a packager or a portage system.
Thus please open issues with them.

[2021-03-20 14:57] Priyaraj17 commented on #3887
It's working fine on my PC.

[2021-03-20 15:15] Priyaraj17 opened #4712 "User-friendly functionalities"
I wish to add a few functionalities which will make the desktop application more user-friendly.
Consider this image:
![image](https://user-images.githubusercontent.com/40101776/111874771-af218a80-89bc-11eb-8f29-8a4f896722b0.png)

## Environment

Joplin version: Desktop
Platform: Linux
OS specifics: Ubuntu

## Steps to reproduce

1. Create a new note

## Describe what you expected to happen
I was t

[2021-03-20 15:42] roman-r-m commented on #4712
New features should be discussed on the forum first.

[2021-03-20 15:42] #4712 closed

[2021-03-20 15:42] Priyaraj17 commented on #4712
Okay sure. Sir.

[2021-03-20 15:45] roman-r-m commented on #4563
I'm not quite sure what you mean, please elaborate.

[2021-03-20 16:36] szpak commented on #3861
I still observe this in 1.7.5.

[2021-03-20 16:45] JIagengDing commented on #4384
Thank you, backspace could work in command mode after I change this.

`iTerm2 -> Preference -> keys -> key bindings -> add -> press backspace -> select 'Send ^H Backspace`

[2021-03-20 16:49] jtagcat opened #4713 "Rendering: KaTeX: lines starting with tabs, as autoinserted by Joplin breaks rendering."
## Environment

Joplin 1.7.11 (prod, linux)
Platform: Flatpak
OS specifics: Fedora

## Steps to reproduce

Relevant tabs are shown with ⭾, spaces with ␠.
Input:
[code]

After writing the first `$$`, the user presses enter.
The next line gets preceded by a tab, braking KaTeX rendring.

### Example
Input (user pressed enter after the 3rd line):
[code]
Output:
![image](https://user-images.githubuserc

[2021-03-20 16:50] tessus commented on #4384
Still not sure why this happened "all of a sudden". It has worked for me for a long time. Then at one point, it didn't. This is why I think it has something to do with terminal-kit. Upstream issue?

Let's leave this open for now.

[2021-03-20 17:26] tessus commented on #4710
Additionally it would make sense to add a check mark to the menu item when it is active. Unless Laurent is against it.

This is how it looks in the view menu:

<img width="250" alt="image" src="https://user-images.githubusercontent.com/223439/111879896-c5a8f100-897e-11eb-8b9d-8c94ef362afe.png">

@harshitkathuria Even though it might not count towards GSoC, you can still open a PR. Just make sure y

[2021-03-20 17:34] tessus commented on #4713
AFAIK Katex blocks must start at the beginning of the line. But @CalebJohn might know more. I think he made some changes to Katex rendering, but I'm not sure.

[2021-03-20 17:35] th-ros commented on #4217
Bug is still there.

[2021-03-20 17:49] mablin7 commented on #720
## Spec
### Settings
- add "Sync only over WiFi" option to settings, on mobile only

### Registry
- add an option `isOnMobileData` with corresponding setter
- add a check before sync starts that aborts of `isOnMobileData`  is true
- add manual override, so that manual sync can be still run

### Mobile sidebar
- add an icon at the bottom, which indicates if user is on mobile data and thus automatic

[2021-03-20 17:56] roman-r-m commented on #720
How are you going to decide whether to enable sync on not? Netifno has a few connection types for which the answer isn't obvious to me, namely:
* bluetooth
* vpn
* wimax

[2021-03-20 18:01] mablin7 commented on #720
Yeah that's not very straightforward. I figured the safest is to only
disable if the connection type is `"cellular"`. In any other case, there's
no effect. I think this will cause the least distruption in cases where
network type can't be determined.

If you agree, I'll update the spec to be more specific.

On Sat, Mar 20, 2021, 18:56 Roman Musin ***@***.***> wrote:

[2021-03-20 18:03] roman-r-m commented on #720
I think `bluetooth` may be in the same category as `celluar`,  `wimax` and `vpn` are probably closer to wifi

[2021-03-20 18:05] harshitkathuria commented on #4710
Ok....I will raise a PR for this issue with that underlying comment. But @tessus, my another PR waiting for being merged. And as per the [Pull Request Guidelines](https://joplinapp.org/gsoc2021/pull_request_guidelines/), should I wait for that PR to be merged before raising a PR for this issue?

[2021-03-20 18:12] mablin7 commented on #720
Oh, I didn't notice it until now, but actually NetInfo has a propery called `isConnectionExpensive` that seems to be perfect for our use case:

So how about disabling sync when network is `cellular` _or_ when `isConnectionExpensive` is true? I'll do a few tests to see how this behaves, although I surely can't test wimax, and I'll have to look into the bluetooth type.

[2021-03-20 18:13] vikas-kundu commented on #4672
I have connected my phone via USB for debugging but still getting this error:
`warn No apps connected. Sending "devMenu" to all React Native apps failed. Make sure your app is running in the simulator or on a phone connected via USB.`

[2021-03-20 18:19] roman-r-m commented on #720
On android this resolves to [ConnectivityManagerCompat.isActiveNetworkMetered](https://developer.android.com/reference/androidx/core/net/ConnectivityManagerCompat#isActiveNetworkMetered(android.net.ConnectivityManager)) which has this comment

Seems reasonable but you'll need to ensure this permission is set. Plus worth checking if anything similar is needed for iOS.

[2021-03-20 18:20] mablin7 commented on #720
Great, thanks!

[2021-03-20 18:21] CalebJohn commented on #4713
I haven't worked on the actual katex rendering, just on the editor highlighting. But I believe @tessus is correct, a katex block needs to begin at the start of the line, not tabbed.

This renders as expected
[code]

[2021-03-20 18:33] tessus commented on #4710
The new PR won't count towards GSoC, so it should be fine. I will also add a note to the PR. If someone mentions that it is against the PR guidelines, just refer them to me.
Right now we don't have a guideline for applicants opening PRs that don't count towards GSoC. (Or at least I don't think we do.) We only want to make sure that we don't get hundreds of half-baked PRs, b/c applicants might thin

[2021-03-20 18:35] mablin7 commented on #720
On iOS it seems, the library is checking this flag: [`kSCNetworkReachabilityFlagsIsWWAN`](https://developer.apple.com/documentation/systemconfiguration/scnetworkreachabilityflags/kscnetworkreachabilityflagsiswwan). I don't know much about iOS permissions, but the documentation doesn't mention anything, so I think it should be fine.

[2021-03-20 18:48] harshitkathuria commented on #4710
Understood. Thanks

[2021-03-20 19:20] harshitkathuria commented on #4710
@tessus, When I am done making changes to a typescript file (.ts file), do I need to run `npm run build` and commit the respective _.js_ and _.js.map_ file with the typescript file, i.e If I make changes to **app.ts** which all files should I commit?

[2021-03-20 19:35] tessus commented on #4710
No, the js files are in the `.gitignore` file. After doing changes to the `.ts` files, you have to test them.
Did you read the build.md? You don't have to create a build for testing the desktop app.

You only commit `.ts` files. Even if this PR is not for GSoC, please tell us in the PR how you tested everything. Most of the time people forget to test or write test cases. There are no test cases fo

[2021-03-20 19:41] harshitkathuria commented on #4710
Thanks for helping me out tessus. I read the build.md and tested the files, but got little confused with commiting them. Now it is cleared.

[2021-03-20 20:02] wrzasa commented on #3870
It doesn't work for me either: Joplin 1.7.11 (prod, linux)

[2021-03-20 20:26] Priyaraj17 commented on #3564
May I work on this issue?

[2021-03-20 20:55] jgreely opened #4715 "ordered list digits cut off"
The digits in ordered lists extend into the margin and get cut off. The problem is much more severe on the iOS client, especially with wider fonts, so that "monospace" won't even show a single-digit number. On the Mac desktop client, it will at least display correctly until you hit 100 items in the list.

## Environment

Joplin version: 10.7.2
Platform: iOS (iPhone XS & iPad Mini)
OS specifics: 14

[2021-03-20 23:59] pompeiifreckles commented on #4696
Nope, didn't encounter any problem, I used the latest release source from github, coz joplin is not packaged for gentoo. I also verified the version, infact double checked  for joplin cli version. Didn't see any crash.

[2021-03-21 01:09] jtagcat commented on #4713
If that's the case, numbered lists and other items belonging to the same chunk should not break.

Now add `1. no2` to the end. It should be `2.`, not `1.` (starting a new ordered list).

[2021-03-21 01:28] duxswhatdux commented on #3830
Fixed by Apples Update 14.1

[2021-03-21 01:39] CalebJohn commented on #4713
Right, that makes sense. In that case you will need to use the inline katex notation. This won't be centred like the block syntax provides, but I think that works in this case.
[code]

![image](https://user-images.githubusercontent.com/2179547/111890908-9eb8e200-89b3-11eb-8fe1-f81d72a61000.png)

[2021-03-21 01:39] #4713 closed

[2021-03-21 07:03] talrowe commented on #4464
I am also having this issue. It works when you use \above or \genfrac when you specify the size but does not seem to render for the other types of fractions. I am also using Joplin.
![joplin fraction issue](https://user-images.githubusercontent.com/81068364/111896724-8d8ac800-89e9-11eb-9d6b-2c7e6d796682.PNG)

[2021-03-21 07:09] rumatoest commented on #4638
But there are no issues in Windows desktop app. I can upload any images by webdav.

[2021-03-21 08:12] coderrsid commented on #4591
Yeah, i can reproduce this issue. I am working on this. Thanks.

[2021-03-21 09:01] GreatestFool commented on #3887
Can you provide screenshots and log please? Every machine I've installed this on since this issue was raised has had the same problem, if for some reason it works on a freshly installed system but not on systems where it has been previously installed, then it is a rather large issue since it must not be removing itself properly for that to happen.

[2021-03-21 09:20] gxcross commented on #4445
Sadly, it is still happening.

[2021-03-21 11:15] pahowes commented on #4530
In the upper-right corner of the window, there's a button that cycles between the edit mode, preview mode, and a split-screen mode with editing on the left and the preview on the right.

I'd like to see an option for the split screen mode to put the preview on the left and the editor on the right.

[2021-03-21 13:02] PIG208 commented on #4715
It appears that the same problem occurs to the desktop application on Windows as well when the size of the numbered list goes to 1000 or above.
![image](https://user-images.githubusercontent.com/39874143/111905751-32f47900-8a88-11eb-9ae2-3c6441cd8f50.png)
![image](https://user-images.githubusercontent.com/39874143/111905756-3be54a80-8a88-11eb-9dca-0a7b6e04ea62.png)

[2021-03-21 13:26] mu88 opened #4716 "WebDAV sync with ASUSTOR NAS fails with HTTP 403"
# Error
## Summary
I'm trying to sync my Joplin notes onto my NAS (Asustor AS6302T). The sync fails with the following error both on the latest Android and Windows client:
[code]

## Details
I've setup my NAS to support WebDAV both via HTTP and HTTPS on custom ports (`9814` and `9815`). I can successfully connect via CarotDAV to the NAS via WebDAV to `https://my-nas:9815/Joplin/` - creating files

[2021-03-21 13:28] DantrazTrev commented on #4602
Hey , Is anyone working on this issue I would like to take it up ?

[2021-03-21 13:48] nishantwrp commented on #4602
Hi @DantrazTrev, I am working on this issue.

[2021-03-21 14:41] prajjwald commented on #753
I don't mind Joplin native backend, but selective, manual, syncing of notebooks (including potential collaboration) is my use case... Related, but a bit different.

After switching to Joplin recently - I was looking for functionality that would allow me to selectively export some of my notebooks to Github so I could easily share notes with friends.

I was looking forward to do this particularly be

[2021-03-21 14:43] jtagcat commented on #4713
Indeed, I missed it in the md docs. I thought of making it more obvious, but don't really know how.

Adding a separate example with the list + inline?

***

@CalebJohn are you on the dev version or similar? Or are our md settings different (mine are all on, except for fountain, deflist and multimd table)?

![image](https://user-images.githubusercontent.com/38327267/111909062-a4660480-8a53-11eb-954

[2021-03-21 15:33] akkvis commented on #4539
still require the attention

[2021-03-21 15:58] panicsteve commented on #4519
I took a look at the changelog just now but don't see it mentioned as being fixed.

[2021-03-21 16:07] CalebJohn commented on #4713
I'm not really sure either, this is somewhat advanced behaviour so it might be confusing to include in the md docs. Maybe a forum post would be better?

v1.7.11. Your behaviour is caused by the enable soft breaks option. You can add an extra newline between the first line and the math to give better spacing, or add 2 spaces at the end of `1. Line  ` to get a break. (Your method works as well).

[2021-03-21 16:34] Mariem166 commented on #4614
is this still a current issue ?
Can I work on it ?

[2021-03-21 17:23] roman-r-m commented on #4614
It's already taken. In fact there's a comment right above yours confirming that.

[2021-03-21 17:47] jurf commented on #3887
@Priyaraj17 what Joplin version are you on?

[2021-03-21 18:54] Ahmad45123 commented on #3991
Is someone working on this ? Or is it already fixed ? I'm Arabic and I'd be able to give it a go and test myself easily.

[2021-03-21 19:35] tpondant opened #4719 "Alarms not working on Ubuntu 20.4"
## Environment

Joplin version: 1.7.11 (prod, linux)
Platform: Linux
OS specifics: Ubuntu 20.4
E2E Encryption: enabled

## Steps to reproduce

1. Create a new to-do and give it a title.
2. Set an alarm for a few minutes later (5m for example)
3. Minimize the Joplin application window but don't close it
4. Wait to see if the alarm is going to show up

## Describe what you expected to happen
I was e

[2021-03-21 20:07] roman-r-m commented on #3991
No and no

[2021-03-21 20:39] Ahmad45123 commented on #4602
Hmm the problem with this issue is that I don't think there's any "set" standard on how clipboards work or their format. But an initial idea I've got is to handle the event `GetContent` in TinyMCE and go through all <img> elements (probably using some regex ?) Then, replace each image element to its equivalent base64.

This way the clipboard would contain all image data built in and no depend on a

[2021-03-21 21:00] MrCarroll commented on #4719
This is a problem with the Snap package, which isn't an official upstream distribution so doesn't recieve support here. However, I've uploaded a fix for this now, if you run `sudo snap refresh` in the terminal with Joplin closed, the notifications should work again properly after the update.

[2021-03-21 21:38] guzelmarmara commented on #2287
Funny that such a minor improvement is not taken seriously by the developers and it has been more than a year since it was first raised.

[2021-03-21 22:16] tpondant commented on #4719
I was just curious to try the AppImage from https://joplinapp.org/, so I removed the snap and installed the AppImage. The alarms are still not working. I have libnotify-bin 0.7.9-1ubuntu2.

[2021-03-21 23:27] CalebJohn commented on #4719
I've just now tested on my computer (Ubuntu 20.04, Joplin v1.7.11, libnotify-bin 0.7.9-1ubuntu2) and it works as expected. I tried with the window both minimized and maximized.

Is it possible that you're accidentally running the snap still? Or maybe the application is closing and not minimizing?

[2021-03-22 03:45] guy-rouillier commented on #720
Just an observation, Android has an option to download updates only when on WiFi.  You might want to check out how that's being done.

[2021-03-22 05:35] nishantwrp commented on #4602
I investigated the issue while also testing other editors like Libre Office Writer and found that in the following two scenarios.

### When only a image is selected and pasted somewhere

- Most editors copied the conent of the complete image instead of being dependent on the file. Thus allowing the image to be pasted both online and offline.

- In Joplin, the coped content was dependent on the fil

[2021-03-22 07:41] vvvlad commented on #164
Any update about this topic, is there any plan to resolve it? Any workaround for MacOS?
Really hoped I could switch to Joplin but this is a deal breaker as I have proxy at work.

[2021-03-22 07:45] mandre commented on #4009
Stale bot is getting a bit annoying :expressionless:

[2021-03-22 08:40] muelli commented on #4488
:-/

[2021-03-22 08:41] muelli commented on #4716
could be #4488

[2021-03-22 09:09] roman-r-m commented on #4602
Makes sense to me.

Maybe it's worth removing the `?t=` first for a quick win, as this alone seems to cover 2/3 cases.

[2021-03-22 09:58] Eothred commented on #4696
Hi, lots of feedback already, thanks for trying to reproduce.

Regarding the version, I ran `joplin version` which said 1.7.0, however my package says 1.7.11, from AUR. You can read the build script here: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=joplin (bash syntax, so you can probably understand which version is used without knowing about Arch/Manjaro)

I tested the 1.6.4 installed

[2021-03-22 10:16] isdnfan commented on #4602
on windows clipboard can handle different formatting [use-rich-edit-clipboard-operations](https://docs.microsoft.com/en-us/windows/win32/controls/use-rich-edit-clipboard-operations?redirectedfrom=MSDN) for Linux I have no reference handy.

As more portable approach there is a library which offers conversion to/from different markup formats, it is available for every relevant platform, maybe there

[2021-03-22 15:28] Jonta commented on #4671
I'm having problems even launching Android Studio these days, but I've confirmed with another Android-user (Android 9, I think) that they're also experiencing this

[2021-03-22 16:07] tessus commented on #4696
I can't reproduce the error. Sometimes it doesn't work with the latest node versions. Another problem I've encountered was a build issue with npm 7.

I'm using the following versions and it works with them.

[code]

[2021-03-22 16:10] JIagengDing commented on #4462
Are you in China?

I think it's a network problem and I also can't search when I'm not using a proxy. When you install the plugin you can turn on proxy mode.

Can it solve your problem?

[2021-03-22 16:12] roman-r-m commented on #4696
Looks like this function (`matchAll`) is only available starting from node version 12:
https://stackoverflow.com/questions/55691536/does-node-js-support-the-string-matchall-method

[2021-03-22 16:17] tessus commented on #4696
Well, I hope the OP uses at least node 12....

From the docs:

<img width="224" alt="image" src="https://user-images.githubusercontent.com/223439/112022262-83132000-8b08-11eb-8050-952c9ffbde64.png">

[2021-03-22 17:38] tpondant commented on #4719
I tried again, and it works.

It is possible that, after removing the snap package, it just needed a
reboot.

Thanks.

Thomas PONDANT

[image:
https://www.youracclaim.com/badges/bed5421c-b53c-418c-94e8-b2145503df32/public_url]
<https://www.youracclaim.com/users/thomas-pondant/badges>

On Mon, 22 Mar 2021 at 00:27, Caleb John ***@***.***> wrote:

[2021-03-22 17:39] tpondant commented on #4719
I tried again, and it works.

It is possible that, after removing the snap package, it just needed a
reboot.

[2021-03-22 18:27] #4719 closed

[2021-03-22 18:36] CalebJohn commented on #4715
I just tested this on v1.7.11 Ubuntun 20.04 and v1.7.5 Android 11.

I could duplicate this behaviour in the viewer on android and on the WYSIWYG editor on the desktop. I could not duplicate this behaviour on the markdown editor/viewer on desktop.

[2021-03-22 18:37] coderrsid commented on #4591
I realised that every time the note is schedule saved with pasted image, the cursor moves to the top position.

[2021-03-22 19:43] jcoholich opened #4721 "Notes disappear when I reload page, only fix is restarting Joplin"
Occasionally, Joplin enters a state where it does not save any of the notes that I type. I can type notes, but whenever I reload the page (or navigate away then navigate back), the notes are gone. The only fix I have found is just to restart the app and work until the issue occurs again. I don't know why or when it will occur and only notice it when my notes have disappeared.

## Environment

Jopl

[2021-03-22 20:23] roman-r-m commented on #4591
If you say you can reproduce, I believe you :)

[2021-03-22 20:53] roman-r-m commented on #4671
Looks ok for me in Android 11 running in emulator:
![Screenshot 2021-03-22 20:52:51](https://user-images.githubusercontent.com/995612/112057010-a497fa00-8b50-11eb-88d0-b3133eec2f01.png)

[2021-03-22 23:31] smcalilly commented on #4610
I'm getting the same error with an iPhone SE. The encrypted notes successfully synced once, and now I can't sync the new notes that I've created on my desktop. The phone shows the same error as @alexxux.

[2021-03-23 04:32] tessus commented on #4715
I was able to reproduce the problem on

[code]

Although not at 100, but at 1,000.

<img width="175" alt="image" src="https://user-images.githubusercontent.com/223439/112092992-1a12c300-8b6f-11eb-92d4-1fecad85f1e6.png">

[2021-03-23 08:23] noman2002 commented on #4563
I was unable to find userchrome.css. Can you please help me out.

[2021-03-23 08:50] laurent22 commented on #4563
As a reminder, for GSoC you should only work on issues that have been triaged, which means labelled with either "medium" or "high". Also you should perhaps try a bit harder to find the answers to your own questions, because all of this is in the doc or code. EmperorEarth even gave a detailed description of the problem.

[2021-03-23 08:55] #4686 closed

[2021-03-23 08:57] laurent22 commented on #4710
Closing per guideline 1. Also I assume there are duplicates of this issue.

[2021-03-23 08:57] #4710 closed

[2021-03-23 08:59] laurent22 commented on #4721
When it's not saving notes, is there any error message in the console? https://joplinapp.org/debugging

[2021-03-23 09:01] #4614 closed

[2021-03-23 09:01] #4683 closed

[2021-03-23 09:35] #4397 closed

[2021-03-23 10:11] jalajcodes commented on #4715
I can also reproduce it on Windows after 1000 items.
[code]
I am investigating this issue.

[2021-03-23 10:32] bkrnetic commented on #4650
Hey, check the discussion here:

https://github.com/valeriangalliat/markdown-it-anchor/issues/84

I think you should do the update to version 6.0.0. mentioned there? I downloaded last version of Joplin but no changes mentioned in the linked discussion were applied.

[2021-03-23 10:56] JackGruber opened #4723 "Plugin Update error in DEV version"
A plugin which is activated throws an error  during the update.
With deactivated plugins the update works fine.

I think the error cames with the update 044477ba0de35236e9c53d57792fa71ad61d7e31 from @mablin7

## Environment

Joplin 1.8.0 (dev, win32)

Client ID: fbec70b4abf046b69b9d965d460cc5bc
Sync Version: 2
Profile Version: 34
Keychain Supported: Yes
Revision: 656673ed5 (dev)

## Steps to repro

[2021-03-23 11:01] Jonta commented on #4671
@roman-r-m You've reproduced the behaviour I found

[2021-03-23 11:07] roman-r-m commented on #4671
Oh, of course, you're right! And I apparently can't read.

I wouldn't say it's a bug though.

[2021-03-23 11:15] Jonta commented on #4671
=)

It may be intended behaviour, but I argue that centered is worse than right- or left-aligned

[2021-03-23 11:32] mablin7 commented on #4723
Yes it looks like it's my fault. I'm looking into it right away.

On Tue, Mar 23, 2021, 11:56 JackGruber ***@***.***> wrote:

[2021-03-23 11:37] roman-r-m commented on #4671
I had a look at Google Keep and Evernote - both have left-aligned text. And I have to admit it looks nicer. Both have icons for each item of the list though, that probably helps too.

[2021-03-23 11:56] singhakshita commented on #4715
In noteStyle.ts , `margin-left : 1.7em ' is fixed , changing that  to 2em fixes the issue ,but  i guess making this dynamic  will be a better choice .
can i work on this issue

[2021-03-23 12:06] mablin7 commented on #4723
I can't reproduce it on 656673e

![image](https://user-images.githubusercontent.com/7415668/112143494-3b5bc980-8bd8-11eb-9074-373ab58d3220.png)

I tried replicating everything as you described but I'm not getting any errors

[2021-03-23 12:09] mablin7 commented on #4723
Do you only copy the jpl file, or something else too?

[2021-03-23 12:58] ron-debajyoti commented on #4332
Hi ! Sorry for the delay in finding out the problem.

The issue is seen while attaching pdf, audio, and video files in a note, and its caused due to this [line](https://github.com/laurent22/joplin/blob/656673ed57bd0d3a010a4d28f6852c01a0e64730/packages/renderer/urlUtils.js#L3) which is used by all the `urlUtils` functions, which are used in rules like this [here](https://github.com/laurent22/joplin

[2021-03-23 13:10] fourstepper commented on #4652
I guess this could be closed as it can be solved with proper configuration, but the configuration that works is quite narrow.

[2021-03-23 13:14] nishantwrp commented on #4602
@roman-r-m, good idea. I'll make a PR to fix the `?t=` issue.

[2021-03-23 13:32] jcoholich commented on #4721
I actually turned on the console for the first time after reading https://joplinapp.org/debugging when I created this issue. Currently waiting for the issue to happen again to post the contents of the console.

[2021-03-23 13:42] JackGruber commented on #4723
Hm I think this happens only when you install the plugin manually (coping into the plugings folder).
Because then the plugin is enabled, but no entry in the `settings` table `plugin.state` is written for this plugin.

So I think the `plugins.states` is only written when you install the plugin from the GUI or when you disable the plugin.
All manually installed plugins have no entry in plugins.state

[2021-03-23 13:51] JackGruber commented on #4723
Close Joplin, copy the jpl to the plugins folder.
Yes this is supported.

[2021-03-23 14:00] mablin7 commented on #4723
I'm sorry, I didn't know about this feature.
Then I guess a simple check before setting the field `enabled` in the hook should fix it.

[2021-03-23 14:09] laurent22 commented on #4332
Hmm, perhaps we aren't going to support this then. Support for `file://` is not really official and the changes you suggest would mean blurring the line between what's an embedded resource and what's an external file, which would affect many parts of the code. In general people should use the built-in resource mechanism if they want all features to be working.

[2021-03-23 15:04] CalebJohn commented on #4715
@singhakshita Sure, go ahead. Be sure to read [the guidelines](https://joplinapp.org/gsoc2021/pull_request_guidelines/) first.

[2021-03-23 15:09] Jesssullivan commented on #4610
Reproduced in ios simulator, I'll try to poke around and explore this bug this afternoon.

[2021-03-23 15:13] ron-debajyoti commented on #4332
Yeah I understand that `ResourceUrl` is definitely based on the regex used in `urlUtils`.

But I couldn't help but try it with image files and it worked without showing the bug! I noticed that the regex for image files is set [here](https://github.com/laurent22/joplin/blob/656673ed57bd0d3a010a4d28f6852c01a0e64730/packages/renderer/MdToHtml/rules/html_image.ts#L27). Is there any specific reason why

[2021-03-23 16:05] andkopp commented on #4220
Not solved.

[2021-03-23 17:51] pvojnisek opened #4727 "Plugin can crash Joplin and make it unusuable"
Plugins can crash Joplin and make it unusable. It can be reproducible following the steps bellow.

1. Install PlantUML plugin: https://github.com/uphy/joplin-plantuml-plugin
2. Paste an example PlantUML code into a blank new notebook (from here: https://plantuml.com/salt )
3. The editor window crashes
4. The same crash happens after restarting Joplin
5. Joplin can not be started anymore

The examp

[2021-03-23 17:52] pvojnisek commented on #4727
I've added the same error report to the plugin repo: https://github.com/uphy/joplin-plantuml-plugin/issues/3

[2021-03-23 18:08] roman-r-m commented on #4727
I also saw this in dev console:
[code]

[2021-03-23 18:13] laurent22 commented on #4727
There's two problem here:

1. That the plugin crashes the app. For this, on the app side there should be some way to make sure that a content script cannot do that.

2. That it's not possible to recover from it by restarting the app. I guess for this we should have some kind of safe mode, with plugins and possibly Markdown rendering disabled.

[2021-03-23 18:16] roman-r-m commented on #4535
Not stale at all

[2021-03-23 21:12] Ahmad45123 commented on #3991
![image](https://user-images.githubusercontent.com/8184424/112218675-a9ca7700-8c2c-11eb-844b-772c7184c7d5.png)
So I've added RTL support for the actual text editors (markdown and tinymce).
There's also another places that could use the same fix like where I have a rex box but I'm not so sure about it.

The UI itself is not RTL so why make all text in the UI also go RTL, like for instance that titl

[2021-03-23 21:14] ZebulonGlitch commented on #4527
Issue still exists.  I tested again about a week ago after an update, but the bug is still there.  I cannot sync to my micro SD card where my personal cloud software has it's sync folders.  No change to the errors and behaviour.

[2021-03-23 21:35] roman-r-m commented on #4638
I think it may be related to https://github.com/laurent22/joplin/pull/4557 but I am not sure as I could not reproduce it.

[2021-03-23 22:13] Ahmad45123 commented on #4727
I wasn't able to replicate the crash on my end for some reason.. I'm not sure but the plugin didn't even work.
![image](https://user-images.githubusercontent.com/8184424/112225607-b6070200-8c35-11eb-96f3-58c90d804ca7.png)
It doesn't render and there's no errors or anything though the plugin did load correctly according to console. Hmm.

How do you suggest for this to be implemented ? Maybe just a

[2021-03-24 01:03] bjbk commented on #3859
I am running this on my M1 MacBook Pro with no issue.  (Rosetta) will see if I can submit a PR for making a Universal binary.  Very easy with Electron Builder which Joplin uses.

[2021-03-24 01:45] ttimasdf commented on #4650
It would be a headache to manually maintain the weak references like this.. Imagine this case.

[code]

the second `Section 1` may generate an anchor like `section-1-1`

Now, if I insert other contents alongside the document and finally the TOC looks like this. What would the original hyperlink point to?

We may think this is an extremely rare case but it's not what the users would expect.

[code]

[2021-03-24 06:20] novelx commented on #4462
Yes in China.
The search works from time to time, and I'm quite sure it's a network caused problem.

[2021-03-24 07:25] bearzyj commented on #4482
Issue remains, also refers to: https://discourse.joplinapp.org/t/search-optimization-suggestions/7427/6

[2021-03-24 07:55] pvojnisek commented on #4727
@Ahmad45123

Try to insert code block characters before and after like this:
[code]

[2021-03-24 08:45] Eothred commented on #4696
Damnit, that was my mistake then. I thought the package manager would take care of this, however I had accidentally an older nodejs lts (10.24) installed. Changed to the standard nodejs package and now all is fine.

On https://joplinapp.org/terminal/ it says 10+ is sufficient, but I guess that is for an older version then?

Apologies, and thanks for debugging.

[2021-03-24 08:45] #4696 closed

[2021-03-24 09:09] roman-r-m commented on #4527
It has to do with permission changes in Android 10 onwards. Apps can no longer access arbitrary directory on external storage. There may be a way around this but I'll need to check.

[2021-03-24 11:08] tessus commented on #4696
Yes, we apparently forgot to update the terminal page, when we updated the main page. I'll update it soon.

[2021-03-24 11:55] mu88 commented on #4716
Is there anything I can contribute to clarify? Do you need more information?

[2021-03-24 11:57] roman-r-m commented on #4716
Can you check the type of auth your server is using? (Check the comment by muelli)

[2021-03-24 15:21] JIagengDing commented on #4462
So it is not a bug of Joplin.

[2021-03-24 15:44] pvojnisek commented on #4727
@laurent22
Can you recommend a way to disable the plugin and start Joplin?

[2021-03-24 15:49] roman-r-m commented on #4727
Delete the `plugins` folder in our profile, or just the PlantUML plugin file.

[2021-03-24 16:09] ajay-gh commented on #4490
One extra insight. Today I found another frozen checkbox in my Notes. Went to the markdown editor, and replaced the corresponding [x] with a [ ] (or vice versa). Back to the wys editor the status of the checkbox has changed too, but still no change can be orchestrated within the wys editor. My feeling is that this does only happen after a certain number of edits (and may be syncs) within the wys e

[2021-03-24 16:48] chevdor commented on #3584
Please re-open this issue. It still exsists and the fix I initially mentioned does still fix the issue.

[2021-03-24 21:04] Pilastr commented on #2389
@arpitg24 24 days on, is this effort ongoing or DOA?

[2021-03-24 21:36] maichai commented on #4225
Keeping this alive, as the problem is not yet fixed. Is actually someone working on this, has it made its way on the list of bugs to be fixed?

[2021-03-24 21:38] jbockle commented on #164
@laurent22 as an alternative with file system synchronization and github, maybe joplin can expose post synchronization functionality where a user can specify a command/arguments to it so we can script a call to commit/push.  This could also open up additional use cases as well, such as publishing to a wiki/blog.

[2021-03-24 23:09] ZebulonGlitch commented on #4527
Yes, i think you are correct, i noticed the SD access behaved differently in this newer Android 10 phone compared to my older Android which i swapped out around 6 months ago.

FYI, i have other apps which are able to access external storage.  Total Commander is a fair example, powerful file manager from the same legendary dev of old.  At one point in time when I first got this phone i vaguely reca

[2021-03-24 23:15] gerroon commented on #4047
I am suspecting that actually Google is running remote testing on these electron apps. I get high cpus for no apparent reasons, even when I have not updated the notebook for 2 days

`@joplinapp-desktop --type=gpu-process --field-trial-handle=403648782967246884,12345863150913512345,123456 --enable-features=WebComponents`

https://textslashplain.com/2017/10/18/chrome-field-trials/

[2021-03-25 02:13] richtwin567 commented on #3887
It looks like this for me on Linux, (Kubuntu 20.04) with Joplin 1.7.11. I am going to try it on Windows and with the dev branch's version as well.

[2021-03-25 02:30] richtwin567 commented on #3887
![image](https://user-images.githubusercontent.com/14096959/112409291-3e91ab00-8ce7-11eb-882a-0352d1be7da0.png)
The dark notebook list background in the Solarized light theme is intentional or a part of this bug?

[2021-03-25 04:23] richtwin567 commented on #3887
It happens for me on Windows as well and it seems it hasn't been fixed in the dev branch yet either. May I work on this bug?

[2021-03-25 05:22] arpitg24 commented on #2389
@Pilastr I've started working on it and shall give an update soon

[2021-03-25 06:25] novelx commented on #4462
I think it is. Joplin should give proper feedback in case of any problem connecting to the plugin server. At this moment, Joplin just make the search box unclickable and this confuses the user.

[2021-03-25 06:28] elfacht commented on #3738
Soooo.... <sub><sup>any chance?</sup></sub>

[2021-03-25 07:03] JIagengDing commented on #4462
I think this should be due to our government.

[2021-03-25 08:44] novelx commented on #4462
The point is not the network failure but Joplin's behavior on network failure.

[2021-03-25 09:23] roman-r-m commented on #4527
Android has an option to allow more or less unrestricted access to external storage but it's limited to certain kinds of apps - file managers (like Total Commander) and such. More details here https://developer.android.com/training/data-storage/manage-all-files#all-files-access-google-play I doubt Joplin would qualify to get this permission.

There seems to be a way to ask the user for access to a

[2021-03-25 09:25] roman-r-m commented on #4527
One thing you can try is see if your cloud storage app has unrestricted access to SD card and if it does, try pointing it and Joplin both to
[code]
I think Joplin is allowed to access its own data dir even on external storage without any special permissions

[2021-03-25 10:44] laurent22 commented on #4490
Yes could be. Although I use checkboxes quite extensively in the rich text editor and never had this issue so far. Do you use some custom CSS or plugins that could affect rendering?

[2021-03-25 11:05] coderrsid commented on #4715
Is this solved? May i work on this?

[2021-03-25 11:24] arpitg24 commented on #4701
Is this a valid bug, can anyone confirm this?

[2021-03-25 11:26] singhakshita commented on #4715
no i haven't send a pull request yet , i m still working on it .

[2021-03-25 13:30] roman-r-m commented on #4006
I take it, the issue is resolved? Closing the issue, if anyone still sees, it let me know.

[2021-03-25 13:30] #4006 closed

[2021-03-25 14:19] #4468 closed

[2021-03-25 14:59] ajay-gh commented on #4490
No CSS, only one plugin called Simple Backup. But the problem occurred before I installed that plugin.
Of course, with the work-around discovered yesterday (see above) it is less a problem than before. Regards

[2021-03-25 16:49] noel-johnson opened #4730 "Build Error on Windows & Linux (Arch)"
[code]

## Environment

Joplin version: 1.7.11
Platform: Windows & Linux (Arch)
OS specifics: x64 bit

## Steps to reproduce

1. git clone source
2. install dependencies
3. npm install
![image](https://user-images.githubusercontent.com/42847827/112511087-12922a80-8db8-11eb-80ce-92d1c13d5a09.png)

## Describe what you expected to happen
source to build and work.

## Logfile
https://pastebin.com/4d4

[2021-03-25 17:05] roman-r-m commented on #4730
This is probably because you have spaces in the path

[2021-03-25 17:05] coderrsid commented on #4715
Well @singhakshita, i can reproduce this currently too on macOS.
Although what i figured out was that it takes all the elements in a single list item after 99th element, that's why it doesn't add space.

[2021-03-25 17:06] JackGruber commented on #4730
Try a path without spaces
https://discourse.joplinapp.org/t/difficulty-in-setting-up-the-development-environment/15802/2?u=jackgruber

[2021-03-25 17:13] coderrsid commented on #4669
I can reproduce this issue on macOS too. Working on this. Thanks

[2021-03-25 17:18] roman-r-m commented on #4730
Closing this as it does not seem like a bug. Please next time ask a question on the forum.

[2021-03-25 17:18] #4730 closed

[2021-03-25 17:27] singhakshita commented on #4715
yeah i said that only , i was just clarifying that it might look like its adding space but actually its adding list items inside that 99th element

[2021-03-25 17:49] noel-johnson commented on #4730
That didn't solve the issue, but as roman suggested, I'll move this into the form.
Thanks.

[2021-03-25 19:48] ron-debajyoti commented on #4493
Hi !
This warning is still shown in Ubuntu 18.04 for joplin v1.8.0.
I found out that this warning is being triggered starting from [this](https://github.com/laurent22/joplin/blob/0da3881aa6cddd465f6fba8ab8b0883b841cb83f/packages/app-desktop/gui/ResizableLayout/ResizableLayout.tsx#L174) line in `/app-desktop/gui/ResizableLayout/ResizableLayout.tsx`, which can be traced back to [this](https://github

[2021-03-25 20:00] ron-debajyoti commented on #4332
Update: @laurent22 Since we are not going to support this, maybe we should close this issue.

[2021-03-25 20:29] Jonta commented on #4671
Remember the right-alignment for [right-to-left-languages](https://en.m.wikipedia.org/wiki/Right-to-left). Joplin currently has translations for Arabic and Persian.

[2021-03-25 20:43] aashrafh opened #4731 "Uncaught Error [ERR_IPC_CHANNEL_CLOSED]: Channel closed"
## Environment

Joplin version: 1.7.11
Platform: Linux
OS specifics: Manjaro

##

I'm trying to develop a basic ```Joplin Plugin``` which simply takes an image and generate the OCRed text using ```tesseractjs```

This is my code:

[code]

I tried the code of tesseractjs in a separate script using **Node** and it works fine so it's not a tesseract issue but when I add the script to the plugin it th

[2021-03-25 21:21] roman-r-m commented on #4731
Yep, tried that too.
You need to see what `createWorker` does: it forks a new node process passing it a certain script.
Now, you have 2 issues there:
1. That script is not bundled with your plugin - this you can solve by fiddling with webpack config (at least that's how I did it)
2. You need to provide the correct script to that fork method. However due to how Joplin executes plugin scripts this w

[2021-03-25 21:22] roman-r-m commented on #4731
However, this isn't really a bug in Joplin, at best it's an enhancement.

[2021-03-25 22:46] #4731 closed

[2021-03-25 22:46] laurent22 commented on #4731
Yes this is more of a support request.

[2021-03-26 08:49] mcejp opened #4733 "Installation script fails on CentOS 7 due to old Wget"
## Environment

Joplin version: 0da3881aa6cddd465f6fba8ab8b0883b841cb83f (HEAD of dev at the moment of writing)
Platform: Linux
OS specifics: CERN CentOS 7. `cat /etc/redhat-release -> CentOS Linux release 7.9.2009 (Core)`

## Steps to reproduce

1. Run the recommended installation script `wget -O - https://raw.githubusercontent.com/laurent22/joplin/dev/Joplin_install_and_update.sh | bash`
2. Erro

[2021-03-26 09:04] Mariem166 opened #4735 "old notes"
I think that very old notes , should be deleted automatically from the notebook and putted in a trash file , and the trash file in his turn should be deleted after a period of time .

[2021-03-26 09:15] TeresaM12 commented on #4529
problem still exists e.g. when using note tabs plugin and it seems as soon as a plugin is used which uses an extra pane

[2021-03-26 09:27] laurent22 commented on #4733
Could you perhaps create a pull request that removes this "show-progress" flag from the script?

[2021-03-26 10:06] mcejp commented on #4733
Absolutely, but if I understand well, it will lead to either
- verbose output like in [this StackOverflow question](https://stackoverflow.com/q/4686464), or
- no progress indication at all (if we keep `-q`)

Is it worth it?

[2021-03-26 10:10] laurent22 commented on #4733
I think verbose output is fine as it's better if we can see that something's happening, especially if for some reason it's not working.

[2021-03-26 10:19] roman-r-m opened #4736 "Desktop: Note list is empty if search field is cleared"
This is on the dev branch.

* Click in the search input
* Type something to get a few results
* Now clear the field - the list of results  remains empty. I expect it to show all notes.

Video:
![ezgif com-gif-maker](https://user-images.githubusercontent.com/995612/112617137-7d754d00-8e1c-11eb-924b-a0e21a8dcfe5.gif)

[2021-03-26 10:36] laurent22 commented on #4501
Currently we don't show tags that are not associated with any note. It's been discussed a few times and recommended workaround is to add a note to the tag, so that it shows up in the sidebar.

[2021-03-26 10:38] laurent22 commented on #4556
This is working as designed.

[2021-03-26 10:38] #4556 closed

[2021-03-26 10:39] #4643 closed

[2021-03-26 11:15] JackGruber commented on #4735
This is no Bug, Feature request should be posted on the forum.

[2021-03-26 11:17] #4735 closed

[2021-03-26 11:56] mablin7 commented on #4727
Strange, when I first paste the code into the markdown editor, the diagram shows up correctly, and the error message is logged in the console but no crash. If I then switch to rich text editor, there's still no issue. It is only when I switch back to the markdown editor that the crash occurs.

[2021-03-26 11:57] roman-r-m commented on #4727
Yes, noticed it too. But then it'll crash immediately on next startup

[2021-03-26 11:58] mablin7 commented on #4727
Yes, same for me

[2021-03-26 11:58] jalajcodes commented on #4697
I am working on it. 😉

[2021-03-26 12:01] roman-r-m commented on #4501
Ok, not intuitive at all but as long as it's expected, fine with me.

[2021-03-26 12:01] #4501 closed

[2021-03-26 12:37] coderrsid commented on #4669
As much as i could understand, we are stripping HTML from the code but as in code, the text exists twice. First, in <pre>...</pre> tag and between <code>...</code> tag, so it gets repeated in clipboard after stripping html to get text.

<img width="541" alt="image" src="https://user-images.githubusercontent.com/35633575/112632258-e5985300-8e5d-11eb-8fa4-e01dddc64561.png">

[2021-03-26 12:57] rongcuid commented on #4587
Keep it open

[2021-03-26 13:03] laurent22 commented on #4669
Yes, the issue is that the "joplin-source" block is actually hidden, but somehow it gets copied to the clipboard as clear text. Perhaps there's some HTML or CSS attribute that can be set which says "don't copy this part"?

[2021-03-26 13:08] heyapoorva commented on #4736
I checked this. It seems that the onChange handler for the input currently does not handle the empty query string case. I fixed it at my end. Will post a PR.

[2021-03-26 13:11] coderrsid commented on #4669
Yeah, i think so. But when i went through electron clipboard api and there are only few methods with not such modifications, rather i found a solution of getting substring from this string starting after '<code tag>' and ending before '</code tag>'

[2021-03-26 13:15] tessus commented on #4733
We could also try to use curl instead, but we might run into the same "not supported" issue as well. I don't have a CentOS 7 to test. Or is it more likely that people have wget installed but not curl? It was just an idea...

[2021-03-26 13:26] richtwin567 commented on #3887
@roman-r-m or anyone, would it be possible to provide an image of the correctly themed options screen? I would like to check if the modifications I have made align with the expected result.

[2021-03-26 13:30] roman-r-m commented on #3887
See the 1st comment:

[2021-03-26 13:36] richtwin567 commented on #3887
I did look at this but they only show images where I see the notebook and notes. Can I assume that once I get the background colour in that view correct, it would follow that the background colour in options is also correct?

[2021-03-26 13:52] roman-r-m commented on #3887
Not sure, either try or check the code/css

[2021-03-26 13:58] richtwin567 commented on #3887
okay, thanks.

[2021-03-26 14:11] NGenetzky commented on #4485
This should be a quick fix. Could someone take a quick look?

On Fri, Mar 26, 2021, 06:52 stale[bot] ***@***.***> wrote:

[2021-03-26 14:44] Pavan-Bellam commented on #4519
hi, I would like to work on this issue. Thanks!

[2021-03-26 15:13] mu88 commented on #4716
CarotDAV is using Basic Auth when connecting to my NAS

[2021-03-26 15:23] ron-debajyoti commented on #4658
This issue is still seen in joplin (dev) v1.8.0 in my Ubuntu 18.04 environment. I would like to work on the issue and try and find out the cause of this bug.

[2021-03-26 16:36] jalajcodes commented on #4669
I think a better way to fix this would be to check and ignore `joplin-source` block while stripping html to text. What do you think?

[2021-03-26 16:45] laurent22 commented on #4669
Wouldn't `user-select: none` do the job?

[2021-03-26 16:50] HOLLYwyh commented on #4658
@eromawyn
Hello, in my Joplin 1.7.11, windows10,when I select the ID ,I can use ctrl+C to copy and  paste the ID correctly. However I find that  after selecting the ID and right click,I can paste but I can't copy .When I choose paste , the ID I copied appears in my notes. I think that  the bug is: although we click the icon , a new windows appears and we try to copy the ID ,actually we are operati

[2021-03-26 17:02] jalajcodes commented on #4669
I'm not sure if its the right way but I tried adding it to the `joplin-source` block via dev tools, it didn't work

[2021-03-26 17:06] ron-debajyoti commented on #4658
Hi @HOLLYwyh I am currently working on this issue. Please wait until I mention that I can't solve this issue or perhaps you could take a look at other open issues to solve.

[2021-03-26 17:17] HOLLYwyh commented on #4658
@ron-debajyoti ok. please solve it first

[2021-03-26 17:24] HOLLYwyh commented on #4529
I'm trying to solve this problem...

[2021-03-26 17:26] HOLLYwyh commented on #4433
I'm trying to solve it...

[2021-03-26 17:45] Moltkex commented on #2246
Yes, it has. I'm currently on Bullseye with kernel 5.10.5, just checked and Joplin can now be run without the `--no-sandbox` flag
So glad I thought of checking this thread again, otherwise I wouldn't have known. I'm editing joplin.desktop and delete the **--no-sandbox** from the exec line right now! :grin:

[2021-03-26 18:05] roman-r-m commented on #4529
Are you going to work on 2 issues at once: this and https://github.com/laurent22/joplin/issues/4433 ?

[2021-03-26 19:42] coderrsid commented on #4669
Yeah i tried that too, i guess electron api says the same. Although i am able to solve the problem by the code block i shown.

![Screen-Recording-2021-03-27-at-1](https://user-images.githubusercontent.com/35633575/112684730-75a7be00-8e99-11eb-852b-6d6f90aea52f.gif)

[2021-03-26 20:30] mablin7 commented on #4669
First, I think that the content of `pre.joplin-source` tag should be copied to the clipboard, because it will work for other editables too, like mermaid diagrams.

Also, I think using string methods to work with HTML is not a very good idea, because any change to the tags or attributes will break it. Maybe we could pass the whole node, instead of the HTML code? Here `getContent` can be replaced wi

[2021-03-26 21:33] ron-debajyoti commented on #4658
Alright, I think I got the origin of the bug.
I checked that the right-click function only works only in the `NoteEditor` region of the application( from `app-desktop/gui/MainScreen.tsx`) while the Properties dialog box is live. Since, the `NoteEditor` can be changed to any of the 3 modes, the context menu changes accordingly. For the `CodeMirror` mode, I traced the execution to [this](https://git

[2021-03-26 22:22] roman-r-m commented on #2246
Can this be closed then?

[2021-03-26 22:54] cvandesande commented on #2246
I think so, officially the Debian patch that disabled user namespaces (that causes this issue) was removed in Dec 2020 according to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=898446

If you run the Debian 10 (Buster) stable kernel 4.19 you will still be affected by this issue.
If you upgrade to Bullseye (which will become new stable release in a few months) you will not be affected.
If you

[2021-03-26 22:57] roman-r-m commented on #2246
Thanks, I'll close the issue then but feel free to reopen if needed.

[2021-03-26 22:57] #2246 closed

[2021-03-26 23:09] roman-r-m opened #4743 "Android: Sync icon is not spinning"
Worked on 1.7.5 but doesn't work on the current dev (3fa13828c)

Not sure if iOS is affected too.

[2021-03-27 01:13] HOLLYwyh commented on #4433
Could you please tell me the method you use to import the pdfs or ppt into your note?

[2021-03-27 06:50] TheSYNcoder commented on #2389
@dbogdanov @laurent22 I would like to work on this issue. Is anyone assigned yet or I can work on it?

[2021-03-27 08:09] laurent22 commented on #2389
It's not on GSoC, and I'm not certain it can be done due to the buggy text input control (broken selection API, and I doubt scrolling is much better).

[2021-03-27 08:09] Priyaraj17 commented on #3887
sorry, didn't see your message. It was 1.8.0.
OS: linux

[2021-03-27 08:20] TheSYNcoder commented on #2389
@laurent22 Okay thanks. I will try to look into the codebase if i can do something. Can you suggest some bugs that i can solve that can be related to  GSoC. Thanks.

[2021-03-27 09:58] jurf commented on #3887
@richtwin567 I would probably follow the semantics on https://ethanschoonover.com/solarized/

[2021-03-27 10:24] coderrsid commented on #3695
![image](https://user-images.githubusercontent.com/35633575/112717764-aed14400-8f14-11eb-85ba-60217d0f7ed4.png)

Did everyone agree to this design at the end @tessus ? or we need to see if there are more options?

[2021-03-27 11:51] mablin7 commented on #4727
I submitted a PR to the plugin fixing this, so it should be usable once it's merged.

I found out that this happens because when typing/pasting in code into an already open editor, CodeMirror is called from an event handler, so the exception doesn't propagate through the component tree and React keeps rendering as usual, but the editor itself will of course be broken. But when the editor is mounte

[2021-03-27 12:26] mablin7 commented on #4743
I noticed this too. Also the text under the button ("Completed: ...") does not show either. I tried debugging it and it seems the dispatch function is not passed correctly to the Synchronizer, but I can't figure out why. I'll keep trying later today.

[2021-03-27 12:35] jalajcodes commented on #4697
@laurent22 is it alright if I also edit the wrong shortcut key [mentioned here](https://joplinapp.org/#goto-anything) in the same PR?

[2021-03-27 12:52] coderrsid commented on #4669
Yeah i agree that will break. But getting the content is fine from editor.
Rather i got other idea of using regex for parsing content, so i tried but then i got two pre tags (one with `joplin-source` attributes and other with `hjls` classname) when i tried to match with regex. So, used the one with `joplin-source` anyways, i found the way using regex without mutating it.

Instead of just stripping

[2021-03-27 12:54] coderrsid commented on #4715
Although @tessus , if i try to set a left margin to the ordered list to fix this, should i consider list upto 1000 or even greater? Thanks.

[2021-03-27 12:55] roman-r-m commented on #4669
Usually, parsing xml with regex is a bad idea.

[2021-03-27 13:11] roman-r-m commented on #4743
Thanks for confirming. Is it with physical device or emulator?

[2021-03-27 13:14] mablin7 commented on #4743
I saw it on both an Android 9 emulator and my phone running Android 10.

[2021-03-27 13:16] roman-r-m commented on #4743
Ok, thanks, I thought maybe it has something to do with me running it in emulator.

[2021-03-27 15:24] tessus commented on #4715
I'm not really sure, but IMO this should be dynamic. I'm not a UI designer, but from a coding standpoint a dynamic solution would be preferable. In my case it only happens afer the 99th item and I never have numbered lists that long.

[2021-03-27 15:58] J-Metsis commented on #720
Hello!

While this feature certainly are needed somewhere, in my location this has not been an issue ,what, at least for ten years, that is most people have unlimited mobile data transfer connection(*). Given that in EU came into effect the regulation of "no-extra-charge for data transfer with EU" already a couple of years ago, this whole point has become or is in the progress of becoming moot for

[2021-03-27 16:24] tessus commented on #3695
I can't recall this conversation. It's been a while. But I don't decide on design changes.

[2021-03-27 19:01] coderrsid commented on #4124
I am able to reproduce this on macOS too. Trying to find a solution.

<img width="1148" alt="image" src="https://user-images.githubusercontent.com/35633575/112731385-e7950b80-8f5c-11eb-927b-10fde8819dae.png">

[2021-03-27 19:22] coderrsid commented on #4490
I am sorry but not able to reproduce this.

[2021-03-27 20:56] richtwin567 commented on #3887
![image](https://user-images.githubusercontent.com/14096959/112734608-d7593e00-8f14-11eb-91ad-94259dca9288.png)
![image](https://user-images.githubusercontent.com/14096959/112734630-f48e0c80-8f14-11eb-8454-6f70b32717ba.png)

[2021-03-28 04:12] pluma9 commented on #4124
@coderrsid There's a ongoing [discussion](https://discourse.joplinapp.org/t/note-list-does-not-render-properly-after-searching-for-a-note-issue-4124/15889) about this in the forum. You may find it helpful.

[2021-03-28 07:22] lkiThakur commented on #4658
Actually joplin was showing you cut copy paste menu to perform the respective actions in the editor not on the properties popup that was opened.
It's a bug since joplin shows this menu based on coordinates of right click action. **the position where you right clicked was in front of the note editor while nothing was selected in the editor  that's why there was option to paste to editor but not cop

[2021-03-28 07:43] lkiThakur commented on #4701
@arpitg24  if you're asking in context of Gsoc;  I would like to share this guide i read [` do not submit a pull request just to fix some typo`](https://joplinapp.org/gsoc2021/index/#how-to-create-your-first-pull-request)

[2021-03-28 08:42] mightomi commented on #4433
I looked into this issue, I found that `![pdf haha](some.pdf)` won't work since markdown doesn't support PDF.
And also something like `<embed src="some.pdf" type="application/pdf"> ` wont work because of directory issue.
@ab791520b4 can you share how you were adding the .pdf to the markdown.

[2021-03-28 09:03] #4568 closed

[2021-03-28 10:57] xUser5000 commented on #4658
I'm currently working on this issue and have submitted an initial pull request #4749

[2021-03-28 11:08] ron-debajyoti commented on #4658
@xUser5000 I already mentioned above in the comments and added a post in the forum that I was working on this issue and was waiting for feedback after finding out the bug causing the issue. You could have at least waited a day or commented in the post iand then you could asked me if i was working or not. I was about to send PR. Can we follow FOSS best practices?

[2021-03-28 11:17] roman-r-m commented on #4433
Just a guess but probably something like `[](file://path/to/file.pdf)`

[2021-03-28 11:27] roman-r-m commented on #4216
It's an upstream issue, there are a few reports of this on the RN repo, all are closed with no resolution.
I'll see if I can find a workaround.

[2021-03-28 11:33] xUser5000 commented on #4658
@ron-debajyoti
I'm so so sorry for the inconvenience. This is the first time I noticed your comment. Please excuse me for my foolishness.
Can I at least have your permission to help solving the issue ? I would be very grateful.

[2021-03-28 11:34] xUser5000 commented on #4658
@ron-debajyoti
Also can you please post a link to the discussion post in the forum ?

[2021-03-28 11:39] ron-debajyoti commented on #4658
Hey @xUser5000 I noticed that your quick implementation is going to be different than mine. So, I don't know maybe one of the moderators can answer your question. @roman-r-m @CalebJohn @laurent22?

Most of the discussion has been here. I made a [post](https://discourse.joplinapp.org/t/adding-context-menu-for-noteproperties-4658/16201) to initiate a discussion regarding this issue.

[2021-03-28 11:44] xUser5000 commented on #4658
@ron-debajyoti
Thank you so much.
Again, I'm so sorry

[2021-03-28 12:27] ron-debajyoti commented on #4658
No worries @xUser5000, I shall ask you to solve the issue in case I'm unable to. Please keep your PR live for other moderators to review.

[2021-03-28 12:31] roman-r-m opened #4750 "Desktop: Disappearing text in markdown editor"
Joplin 1.7.11 and also on dev branch. Linux Mint, no plugins.

Not sure if the title is very good, the video below should explain it all.
On the 2d line I am typing "1.<enter>" and the line disappears.

![ezgif com-gif-maker(1)](https://user-images.githubusercontent.com/995612/112752217-cddddd80-8fc9-11eb-8dc5-fa1ad7114d8b.gif)

[2021-03-28 12:56] HOLLYwyh commented on #4066
H

Hello! In my Joplin1.7.11,  windows 10 ,I meet the same problem. I' m trying to find out the reason

[2021-03-28 14:30] Amarpsp10 commented on #4743
not the only problem in icon spinning, it is also not showing sync report!!

[2021-03-28 15:16] HOLLYwyh commented on #4066
@armaccloud  I think I know what happened. You can  visit this page: https://joplinapp.org/rich_text_editor/
In Joplin, notes, even when edited with this Rich Text editor, are still Markdown under the hood. Commonly, we can use bulleted list in Rich Text editor. However, Joplin use Markdown as the core and we can't use bulleted list in Morkdown's table. So when you chage the note (or do something

[2021-03-28 15:57] brttbndr opened #4754 "Desktop: missing Roboto font in plugins"
## Environment

Joplin version: 1.7.11
Platform: macOS
OS specifics: Big Sur 11.2.3

## Steps to reproduce

0. Right-click and disable Roboto font in "Font Book" if you have it installed
1. Download and install Joplin on desktop / Mac
2. Run Joplin w/a new profile (e.g. using dev command)
3. Open Preferences => Plugins => enable Favorites and Outline plugins
4. Observe that Favorites displays with

[2021-03-28 16:01] lkiThakur commented on #4750
### Steps to reproduce
Open any note in markdown editor
Type "1." or "-" or "*" (without quotes) in any new line and press enter.

So the bug is due to the ordered or unordered list feature as i guess ; I can try to fix it .

[2021-03-28 19:05] coderrsid commented on #4591
Even, it happens when you just delete the image from the note, the cursor goes to the top.

[2021-03-28 20:29] aashrafh commented on #4750
I think the issue is that they get translated into ```Bullet List```, ```Numbered List```, or ```Checkbox``` as follows:
* ```Number + Dot``` in an empty line = **Numbered List**
* ```"*", "-", or "+"``` in an empty line = **Bullet List**
* ```- [ ]``` in an empty line = **Checkbox**

I concluded this relation because of the default behavior of the previous actions. For example, if you started a n

[2021-03-28 20:48] isdnfan commented on #4418
unchanged

[2021-03-28 20:50] roman-r-m commented on #4750
Just found that if, instead of `enter`, I press `shift+enter` then Joplin does not delete the marker.
@CalebJohn what do you think, is it a bug or expected behaviour?

Btw, I was trying to write something like this (with 3 backticks, just not sure how to best escape them)
[code]

Oh and here's another oddity - if there are leading spaces each time I press enter the text shifts left some amount unt

[2021-03-28 21:15] BeatLink commented on #375
I really hope this feature will be implemented soon. I'd be willing to pay a bounty for this issue

[2021-03-28 21:20] BeatLink commented on #375
In terms of implementation, the easiest way to do so (if not attempted already) would be to have every tag only have a parent ID (which can be null for top level tags) This is all the information needed to generate ancestry and children trees for the tags on the fly. This is preferable to having each tag contain its full parent/ancestry information

[2021-03-28 21:25] BeatLink commented on #375
In fact, it seems that notebooks already use the parent ID method for generating hierarchy. Couldnt tags use the same implementation that notebooks uses for hierarchy?

[2021-03-28 21:52] CalebJohn commented on #4750
@roman-r-m I suppose it's a bug related to expected behaviour.

The code that causes this is meant to handle automatically inserted list elements. For example
[code]
If a list item is indented the code is supposed to de-dent to the previous indent level.
Of course, neither of these features should be applying in the case that you've shown for two reasons.
1. When the list element is not a part of

[2021-03-28 23:10] BeatLink opened #4756 "Feature Request: Manual Sorting of Notebooks"
It would be great if Jolpin could manually sort notebooks in the list instead of alphabetically. There could even be an option in the settings to toggle the sort mode. Implementation wise, it could be possible to have each notebook contain a sort order number that specifies its position in the list.

[2021-03-28 23:34] JackGruber commented on #4756
Feature requests should be posted on the forum and not as issue.

[2021-03-29 04:23] tessus commented on #4756
Yes, the feature request button when opening an issue opens the forum link, but people always ignore the template.

This is not a reproducible bug.

[2021-03-29 04:23] #4756 closed

[2021-03-29 04:28] tessus commented on #4701
Either way, this can't be used for GSoC, since it was created after GSoC was announced.

Someonw didn't read the GSoC guide nor the PR guidelines. Definitely not a good start for GSoC. How can someome who's apparently not capable of reading and understanding a few pages, able to work on a SW project?

[2021-03-29 05:11] Elaborendum opened #4757 "Android: Color issues in Status and Navigation bars"
Both the dark themes and the light themes have weird coloring in the status and navigation bars and remain unchangeable (only changing between light and dark modes), making them really stand out in most themes.

I would even argue that the light mode status bar is somewhat hard to read.

Below are the screenshots of the light and black themes.

![image](https://user-images.githubusercontent.com/71

[2021-03-29 08:14] ab791520b4 commented on #4433
I am trying to import Markdown files as I get them via the Gitlab API [1]. I am trying to import Gitlab issue comments I exported to a local directory tree. The way gitlab stores links to attached files is

`[something](/uploads/subdir/filename.extension)`

I store the files analogously in the directory I am trying to import into Joplin. Meaning there exists a top-level uploads directory in the di

[2021-03-29 08:35] #720 closed

[2021-03-29 08:40] #4602 closed

[2021-03-29 08:45] nishantwrp commented on #4602
@laurent22 can you please open this issue. I think there's one part left to properly fix this issue i.e. "When a single image is selected we can make the content of the image copied to the clipboard instead of being dependent on the file."

[2021-03-29 08:46] #3887 closed

[2021-03-29 09:26] roman-r-m commented on #4216
Found an open issue against RN: https://github.com/facebook/react-native/issues/29911

[2021-03-29 09:37] laurent22 commented on #4602
In this case a new issue needs to be opened. This is the reason why we don't accept multiple bug reports within an issue - otherwise it means we either close it too early or never close it.

[2021-03-29 09:46] patwards commented on #4487
The issue is not closed. Need Android/IOS to allow self-signed certificates.

[2021-03-29 09:50] patwards commented on #4487
Issue is open

[2021-03-29 11:05] ipentest opened #4758 "Unable to sync with webdav - new instance - all instances actually"
Dear Team,

Hope you're well...

I got a new laptop and the first thing I did was to install Joplin. I have a free webdav account with drivehq with all my documents in there. I provided the details and tried to synchronize.

The error I got is: (pasting from the console)

`
06:47:17: Error: DELETE d0ecfeb04053442582cc1f4347a611ba.md: Unknown error 2 (422):
    at newError (C:\Users\Kiran\AppDa…ib\

[2021-03-29 12:24] loozai opened #4759 "Command palette: Focus Issues"
The note looses focus after inserting a checkbox/listbox/codeblock etc. using the command palette (ctrl-shift-p)

## Environment

Joplin version: 1.7.11
Platform: Windows
OS specifics: Windows 10

## Steps to reproduce

1. create a new note and enter some freetext
2. press ctrl-shift-p to activate the command palette
3. start typing "check" and then press enter
4. this creates a checkbox with high

[2021-03-29 12:51] lkiThakur opened #4760 "ordered markdown list wrong numbering"
![image](https://user-images.githubusercontent.com/63918341/112830408-1d96d480-90b0-11eb-8b37-594f0ec538b4.png)
## Steps to reproduce
1. type `1. ` in a line and write something
2. press enter twice (to move to next line and end list one respectively)
3. add few newlines by pressing enter
3. write `1. ` again and type something
4. preview the note to see the anomoly

ps: I noticed the same problem

[2021-03-29 13:21] roman-r-m commented on #4760
I think "another list" on your screenshot is correct - it's an item on the 1st list. "one more list" however does not seem right.
Looks like there's no way to have 2 different lists unless there's some other text in between e.g.
[code]

[2021-03-29 13:37] poopie-head commented on #4518
Also not sure why, but this worked for me.
Just create a new folder in Nextcloud, then `Right-click old folder > Move or copy` then choose your target folder and hit Copy. Then update the sync URL in your joplin instances.
Notes are now syncing.

[2021-03-29 13:49] i-am-sank opened #4761 "Need to update instructions to install the plugin in plugins.md"
**Configuration > plugin** section is not visible in joplin while running in development mode.

## Environment

Joplin version: 1.6.4(prod)
Platform: Desktop
OS specifics: Ubuntu 18(LTS)

## Steps to reproduce

1. [install the plugin](https://github.com/laurent22/joplin/blob/dev/readme/api/get_started/plugins.md#install-the-plugin)

## Describe what you expected to happen

The process of installin

[2021-03-29 13:49] i-am-sank commented on #4761
I would like to work on this.

[2021-03-29 14:05] lkiThakur commented on #4760
lorem ipsum in my screenshot is a text in between ; still the lists are not considered seperate by the rendered markdown.
it's because of the genuine reason that program is considering "lorem ipsum" as part of 1st item of list 1 ( a workaround exists )

[2021-03-29 15:12] tessus commented on #4761
Closing. PR guideline 1:

Pull requests must be based on an issue that existed before GSoC was started, or based on an issue created by a moderator.

[2021-03-29 15:12] #4761 closed

[2021-03-29 15:37] mightomi commented on #4760
@lkiThakur I guess this is expected behavior that "lorem ipsum" is being considered as a part of  "1. a list". You can add a new line after "1. a list" to avoid that.

@roman-r-m I found that we can add an HTML comment to separate two different lists.
something like
[code]
is previewed as
1. a
2. b
1. c
2. d

whereas,
[code]

will be previewed as
1. a
2. b

1. c
2. d

[2021-03-29 16:17] akshith271 commented on #4658
@ron-debajyoti your analysis is correct, but adding a new context menu to NoteProperties only fixes the issue for that dialog. This issue is reproducible for other dialogs as well. Considering this I have created an initial PR for the issue #4763, which is different from @xUser5000's solution.

[2021-03-29 16:35] nishantwrp opened #4764 "Can't copy a single image to online editors like Google Docs"
## Environment

Joplin version: 1.8.1
Platform: Linux
OS specifics: Deepin

## Steps to reproduce

1. Insert a local image in Jolpin (In rich text view)
2. Select the image
3. Copy the image (Ctrl C)
4. Try to paste the image in any online editor like Google Docs

You will observe that image doesn't get pasted to Google Docs.

## Describe what you expected to happen

Expected the image to get past

[2021-03-29 16:36] nishantwrp commented on #4602
Ah okay got it. Filed #4764 for this issue.

[2021-03-29 17:41] laurent22 opened #4766 "Plugin dialog should not close when pressing ENTER on a text area"
https://discourse.joplinapp.org/t/dialog-related-issue/16231/11?u=laurent

[2021-03-29 18:13] nishantwrp opened #4767 "Jolpin doesn't create it's own copy of images while pasting"
(Note from moderator: Related to https://github.com/laurent22/joplin/issues/4602)

## Environment

Joplin version: 1.8.1
Platform: Linux
OS specifics: Deepin

## Steps to reproduce

1. Open an offline doc editor like LibreOffice.
2. Write some text. Insert an image below to it.
3. Select all and Copy (Ctrl A + Ctrl C)
4. Paste it in Joplin. (You can notice the image is dependent on the third-party

[2021-03-29 18:16] ron-debajyoti commented on #4658
@akshith271 I understand, but I believe that the context menu functionality should be specific to its dialog. It's best to maintain the functionality of `CodeMirror.tsx` strictly related to CodeMirror and Editor.

[2021-03-29 20:17] pompeiifreckles commented on #4494
Hey I think I understand the issue here, I believe this is due to the two unit codes i.e. the non ASCII codes (less used Chinese characters) introduce ambiguities during uri encoding in encoded Unicode text (url).

Can you point out the files associated with normalizing functions that are responsible for this, it would make it easier.

[2021-03-29 20:26] laurent22 commented on #4658
Fixed in https://github.com/laurent22/joplin/pull/4768

[2021-03-29 20:26] #4658 closed

[2021-03-29 20:37] laurent22 commented on #4767
Thanks for the detailed description, I wasn't aware of this bug. Since your first pull request has been merged now, feel free to give that new issue a try if you have some ideas.

[2021-03-29 20:45] ron-debajyoti commented on #4658
@laurent22 I was working separately to add the functionalities of Cut, Copy and Paste ( and not just the copy functionality) exclusively for the `NoteProperties` depending on the field value, and also trying to add an overlay to prevent focus on the editor. Is it recommended to add the related PR?

[2021-03-29 22:00] betsythefc commented on #1085
What is the current implementation idea for this? It's been suggested that specifying different sync paths for different notebooks (my preference), and various syncing protocols (etebase, big fan here). Is there work towards one going on?

[2021-03-29 22:23] roman-r-m commented on #4760
Sure, adding anything except newline solves it. Maybe my expectation was off but I thought with enough newlines these should have been parsed as 2 separate lists.
I'll try find a spec of markdown and see.

[2021-03-29 22:47] rangulicon commented on #1085
This is being implemented within the context of Joplin Server. Details can be found in my comment from a few months ago here: https://github.com/laurent22/joplin/issues/1085#issuecomment-755109197

[2021-03-29 22:54] betsythefc commented on #1085
Awesome, thank you!

Sent from ProtonMail mobile

-------- Original Message --------
On Mar 29, 2021, 15:48, Ryan wrote:

[2021-03-29 23:02] CalebJohn commented on #4658
@ron-debajyoti

If you can prevent the context menu from coming up on dialogs, that would be a good pull request. Copy for the other fields would also be useful.

[2021-03-29 23:08] Ahmad45123 commented on #4766
What would be a better fix ?
Simply prevent Enter from propagating when focused in any text area in any dialog view.
Or
Add to API the option to disable Enter key entirely in Dialogs. (wouldn't submit but still make new lines)
Or maybe a mix of both? Not entirely sure.,\

[2021-03-30 00:58] tessus opened #4769 "highlight existing text in global search field"
When using the shortcut (default: `CtrlCmd+Shift+F`) or the menu item `Edit > Search in all notes`, the focus is set to the global search field.

However, if there's already text in the field, the cursor is placed at the end and typing appends to the existing search term.

This change should highlight the current text, so that it will be replaced by the new search term.

/ref https://discourse.jop

[2021-03-30 01:04] bernd-wechner commented on #1085
Importantly the Server is here: https://github.com/laurent22/joplin/blob/dev/packages/server/README.md

And I'm still hoping to see instructions for installing it without docker at some point. I don't mind docker per se, but I don't like it as the only option. On a dedicated server say, like a Rpi dedicated to the job, I wouldn't want that extra layer per se, but that aside it's very nice to have

[2021-03-30 03:35] IMVector opened #4770 "How to retrieve files deleted by synchronization mechanism error"
## Environment

Joplin version:
Platform:
OS specifics:

## Steps to reproduce

1.
2.
3.

## Describe what you expected to happen

How to retrieve files deleted by synchronization mechanism error

I used webdev to sync files and an error occurred, which caused all my notes to be deleted, I now want to recover these files is there any way to do so please?

## Logfile

[2021-03-30 03:40] mightomi commented on #4769
I like to solve this issue

[2021-03-30 04:08] CalebJohn commented on #4770
Do you know what the error was?
Also could you please fill out all the info you ignored?

[2021-03-30 04:53] IMVector commented on #4770
I'm using joplin on ios to sync files on webdev, but I found that the records on my desktop were deleted, leaving only some of the files.

[2021-03-30 10:37] coderrsid commented on #4759
I can reproduce this problem. But i guess there are more underlying problems too. Some of which i noticed.
1. After adding checkbox, it doesn't gives a new line space, instead adds checkbox before the current text/element in current line.
2. Checkbox, Horizontal rule, Checkbox, Bullet List, Numbered List, Heading cannot be added WYSIWIG editor by Cmd+Shift+P, weird and even if we add in markdown e

[2021-03-30 11:05] JackGruber opened #4774 "Missing registerSettings in generator-joplin"
The latest published version `1.7.3` of the `generator-joplin` dosn't support the new `joplin.settings.registerSettings` from the Joplin Version `1.8.1`.

[2021-03-30 12:21] didn0t commented on #4559
I've just installed joplin server and am seeing the same error on a fresh setup.

[2021-03-30 13:10] johnsaigle opened #4775 "Broken link "Server Sharing" in main README"
The link goes to the URL `https://github.com/laurent22/joplin/blob/dev/readme/spec/server_sharing.md` which results in a 404.

[2021-03-30 13:25] roman-r-m commented on #4775
Duplicate of https://github.com/laurent22/joplin/issues/4485

[2021-03-30 13:25] #4775 closed

[2021-03-30 13:34] laurent22 commented on #4766
Yes, this one:

[2021-03-30 14:03] laurent22 commented on #4774
As a temporary solution you can disable type checking with `(joplin.settings as any).registerSettings`

[2021-03-30 15:55] roman-r-m commented on #1085
I think you can do it by manually executing steps from Dockerfile; skipping some of them like creating new users, etc.

[2021-03-30 16:01] jgreely commented on #4715
On a desktop Chrome-based browser on a Mac, I can reproduce the 1000-length list problem with straight HTML, so I think correctly rendering three-digit list numbers on all platforms is sufficient. Experimentally, I've found that adding `ol li {padding-left:1.5rem}` does the trick on Mac/iPhone/iPad, even with large monospace fonts.

[2021-03-30 16:29] laurent22 commented on #4767
No, your first pull request has not been merged yet and is not complete since you've ignored the PR guidelines.

[2021-03-30 16:40] coderrsid commented on #4669
yeah @roman-r-m, i tried to read about it. Yes, you're right. Then the way i can see is we make a dummy element with innerHtml assigned as the string `options.htmlToCopy` as suggested by mablin and then using `querySelector` we can take out tag's `textContent` with class name as `joplin-editable > joplin-source`.
I tried this way and was able to pull out the text easily. But i already have a PR in

[2021-03-30 16:42] laurent22 commented on #4743
Indeed looks like build 1.8 is broken on Android.

[2021-03-30 20:41] coderrsid commented on #4418
@isdnfan , in which editor you're saying.. Markdown or WYSIWYG editor?

Although, for WYSIWYG editor, you can copy/paste/select/cut the code block to different editors.

[2021-03-30 20:55] lkiThakur commented on #4750
I have now implemented these two points in my local repository; I will be soon opening a pull request after testing the newly implemented features for few hours.

[2021-03-30 21:58] #4743 closed

[2021-03-30 22:43] innkuika commented on #3607
I've reproduced your bug, will work on it 😉

[2021-03-31 08:22] Aksh-Konda commented on #4759
Hi @coderrsid,
I couldn't understand the first point. For me, if the checkbox command is executed while the cursor is at the end of the line or in between a line, it is adding a new line along with a new checkbox. but if the cursor is at the start of a line, the new line is not appended. try to pull the latest code and run it.

[2021-03-31 08:36] mptpro commented on #4129
I just started having the same issue. I was using Joplin (moving a note, I think) and this error poped-up. After closing the app and re-launching I still get the error. Re-booted still getting it.

Error
Joplin encountered a fatal error and could not continue. To report the error, please copy the *entire content* of this page and post it on Joplin forum or GitHub.

Message
Maximum call stack size

[2021-03-31 09:04] Aksh-Konda commented on #4759
Hi @coderrsid,
I tried reproducing your mentioned problems and it is working as expected for me.

1. After adding a checkbox, the new line is added if there is text before the cursor in the current line i.e if the cursor is in between the text or at the end of the text it is adding a new line, checkbox, and text after the cursor (if there is any). which is what I think is the desired action.

can

[2021-03-31 10:16] isdnfan commented on #4418
@coderrsid it's all about rich editor
![image](https://user-images.githubusercontent.com/18125597/113128875-8dc16980-921a-11eb-80d5-9420c357fcfa.png)
- in rich-text editor it's impossible to select/copy from multi-line code blocks. the only workaround is to use "edit mode" by double-click on the code block.
- in rich-text editor select/copy only works for single-line code blocks.
- In MD editor it

[2021-03-31 11:55] ipentest commented on #4758
Dear Team,

An update on the trials I did.

1. Checked with DriveHQ and they suggested that it could be because of my free subscription limits being reached. I upgraded to paid but the issue still exists
2. I created a 4shared account and tried syncing there but got an error as attached
3. The .lock and other files were created by Joplin so I know there were no write issues with 4shared

![joplin-

[2021-03-31 12:36] thekenshow opened #4784 "iOS cursor jumps randomly when tapping new locations in long note"
When editing a Note with the cursor in located in the visible text (keyboard is displayed):

- If a new location in the currently visible text is tapped, it works as expected.
- If the Note is first scrolled so the current cursor position is no longer visible, tapping the desired new location causes the screen to scroll and the cursor is placed in an intermediate location.

## Environment

Joplin

[2021-03-31 12:48] JackGruber commented on #4758
Please attach a debug log. Issues without a debug log are likely to stall.
  For information on how to collect a log file: https://joplinapp.org/debugging/

[2021-03-31 13:11] manthanf1 opened #4785 "Unable to clip page in Reader View (Firefox)"
From Laurent: Readability library needs to be updated

* * *

Reader mode allows to strip down page to reading contents, and is built-in Firefox.
"Clip simplified page" is available but doesn't remove a lot of elements that Reader mode does.

When clipping page with Reader View enabled, the clipper extension outputs its not available on this tab due to: Missing host permission for the tab
`The Jop

[2021-03-31 13:22] thekenshow opened #4787 "Date Picker Display on maOS"
Right edge of alarm date picker background (half of the Sat column) is transparent, making those dates hard to read.

![Screen Shot 2021-03-31 at 7 51 20 AM](https://user-images.githubusercontent.com/998832/113148541-f18a6900-91ff-11eb-9bce-9341eab23647.png)

## Environment

Joplin version: 1.7.11
Platform: macOS
OS specifics: 10.15.7

## Steps to reproduce

1. Create or select a to-do item.
2. Cl

[2021-03-31 13:29] TheSYNcoder commented on #4767
Is anyone taking this or can i try solving this?

[2021-03-31 13:32] TheSYNcoder commented on #4767
@nishantwrp Okay sure.

[2021-03-31 13:38] Aksh-Konda commented on #4759
Hi @loozai ,
Yes. Actually I was specifically talking about the checkbox inserted through command palette.

The focus issue is definitely there and I fixed it. Waiting for @coderrsid to reply. So that I can make a PR if there are no other issues.

[2021-03-31 14:10] JackGruber commented on #4787
Is fixed in v1.8.1  #4397

[2021-03-31 14:18] #4787 closed

[2021-03-31 14:40] CalebJohn commented on #4129
@mptpro would it be possible for you to export that note and share it with us (right click and export to JEX)? If not, maybe a description would help? For example, do you use special unicode characters? Does it contain a lot of math, etc?

[2021-03-31 14:56] laurent22 opened #4788 "Copied text from Rich Text editor cannot be pasted outside of Joplin"
- Select some text in Rich Text editor
- Try to paste it inside the editor itself - it works
- Try to paste it in an external editor - it doesn't work

on v1.8

[2021-03-31 14:59] laurent22 commented on #4788
Caused by #4725

[2021-03-31 15:00] HOLLYwyh commented on #4411
emmm. In my Joplin 1.7.11 win10 , I meet the same problem. I'm trying to solve it

[2021-03-31 15:10] nishantwrp commented on #4788
@laurent22 That's weird. Can you please tell which editor did you try to use. So, that I can examine what went wrong. Thanks! (I tested it with LibreOffice Writer works well in that)

[2021-03-31 15:12] laurent22 commented on #4788
VSCode. I assume that calling clipboard.writeHTML also clears the plan text part of the clipboard.

[2021-03-31 15:20] deljones opened #4789 "Windows desktop app issues"
Hello all...

A long-time user of Joplin. I have the app on my MAC, Windows desktops, and two Android devices.

I have updated the Windows version on a new Windows laptop. The install was fine and a connection to my Nextcloud instance is good.

However, the NOTEBOOK structure does not appear on the Windows laptop as well as the TAGS. The "All Notes" is still visible, all of the notes are there. I

[2021-03-31 15:20] manthanf1 commented on #4785
If you're referring to the library used by "Clip simplified page", then please do upgrade it to one used by FF v87.0

There's a lot of difference in terms of stripping content

[2021-03-31 16:10] khushit-shah opened #4790 "development tools does not open when joplin open with cmd line"
when started with using command line 'Joplin.AppImage', toggle development tools option under help menu has no effect.

## Environment

Joplin version: Joplin 1.7.11 (dev, linux)
Platform: Linux
OS specifics: Ubuntu 20.10

## Steps to reproduce

1. open Joplin using cmd line, in my case  `Joplin.AppImage `
2. Goto Help -> Toggle Development Tools, click on it.

## Describe what you expected to hap

[2021-03-31 17:00] coderrsid commented on #4759
So @Aksh-Konda, the latest dev code responds this way..
![Screen-Recording-2021-03-31-at-1](https://user-images.githubusercontent.com/35633575/113182399-7ad98400-9270-11eb-8bce-0c02a899c125.gif)

So as you can see in TinyMCE, the checkbox is not even added and in MD editor, the checkbox is added where the cursor position was last set in TinyMCE without a new line space after it.
Can you please sha

[2021-03-31 17:31] Aksh-Konda commented on #4759
@coderrsid, I'm sorry I didn't check it in TinyMCE.

But, what I said is definitely applicable for the MD editor.

Yeah. Because there is no text before the position of the cursor and so the checkbox need not be on a new line.

[2021-03-31 18:05] coderrsid commented on #4418
That's absolutely right @isdnfan , didn't know that. I'm gonna create a new issue for this error and try to find the solution too. Thanks for noticing the error.

[2021-03-31 18:51] dumprop commented on #4531
Seems that joplin w/ nextcloud+clamav is incompatible
So, for file syncing have to disable it

[2021-03-31 19:13] laurent22 commented on #4789
Sounds like you just need to wait for sync to complete on all devices. The structure doesn't appear because the notebook object hasn't been downloaded yet.

[2021-03-31 23:15] coderrsid commented on #3809
Working to fix it. Probably one solution can be shifting it to a little left, so that when scrollbar comes up, it won't move.
That'd be the right way @roman-r-m ?

[2021-03-31 23:53] deftdawg commented on #4592
#4706 might be related

[2021-04-01 02:16] cyaomushen opened #4792 "Change location of synchronization will delete local file"
Change location of synchronization will delete local file

## Environment

Joplin version:  1.7.11
Platform:  windows
OS specifics: win 10

## Steps to reproduce

1.  change the lcoation of synchronization , and unselect Fail-safe
2.  start to synchronization
3.  local file will be delete

## Describe what you expected to happen

What I expected is when I change the location of  synchronization ,

[2021-04-01 02:50] tessus commented on #4792
Joplin uses 2-way sync. There is no master/slave (server/client) concept.
This is not a bug.

This has been explained in the FAQ and on the forum many times.

[2021-04-01 02:50] #4792 closed

[2021-04-01 05:17] prkhr-agrwl commented on #4124
So turns out the issue was with the scrollheight('this.scrollTop_' in <ItemList.jsx />). It was getting calculated using the negative 'visibleItemCount'. So while the notelist was closed, the wrong scrollTop was in the state. But when the notelist is opened, 'props.style.height` is updated to the correct value but the scolltop is not updated in the 'updateStateItemIndexes' method. Hence, the heigh

[2021-04-01 06:57] mptpro commented on #4129
Thanks fir your respond @CalebJohn .  I don't remember which note it was, however I do have a lot of notes with embedded images as I imported 600+ notes from Keep-->Evernote file--> Joplin and those embedded images have a LOT of code. I suspect that is the problem. It is an arduous process has I have to "cut" each image, paste it into a Google Doc, download it, then attached it to the note, then d

[2021-04-01 08:06] roman-r-m commented on #3809
Maybe, haven't looked much into this. Give it a try and we'll see

[2021-04-01 08:37] nitinkatyal1314 commented on #4468
I faced the similar issue, and this does seem like a dead end. Adding the forum link to discussion on this matter for future reference and others:
https://discourse.joplinapp.org/t/how-to-create-import-module-in-joplin/16348?u=nitinkatyal1314

[2021-04-01 08:41] deljones commented on #4789
Yes I thought that too, but its been on overnight with no change :(

I'll try one more reinstall...

dj

[2021-04-01 09:20] laurent22 commented on #4789
Otherwise it means there's an error somewhere and we'll need to see the logs.

[2021-04-01 09:22] didn0t commented on #4559
FYI, I exported my notebooks - deleted everything from the server and all of the clients.
I then reimported and got 2 desktop and 1 mobile client synced up with out error.
Has been running for a day with no errors so far.

[2021-04-01 09:25] innkuika commented on #4494
I've reproduced your bug, will work on it

[2021-04-01 09:26] adrynov commented on #4559
That is the only option so far

[2021-04-01 12:06] coderrsid commented on #3809
Absolutely, on it. Actually my PR earlier has not been approved yet, can you please review that too #4773.

[2021-04-01 12:08] ipentest commented on #4758
Thanks for the response @JackGruber
Attached both the console output and the log.txt files here... Please do let me know if you need any other information

Thanks again and Happy Easter!

[console-joplin.txt](https://github.com/laurent22/joplin/files/6243329/console-joplin.txt)
[log.txt](https://github.com/laurent22/joplin/files/6243334/log.txt)

[2021-04-01 12:15] Jip-Hop commented on #4251
I just selected 1767 notes and added one tag to all of them. I can see in the tags sidebar on the left that the tags are being applied to the notes one by one at a rate of 1 tag per second. Currently waiting for 13 minutes and it's not half way done.

Joplin for Desktop
Joplin 1.7.11 (prod, darwin)
Sync Version: 2
Profile Version: 34
Keychain Supported: Yes

Revision: f560563 (master)

If it matte

[2021-04-01 12:33] JackGruber commented on #4758
When I see it correct, the file `locks/sync_desktop_2a005362a11e4ea395ddb3cd263c9e8d.json` dosn't exist but drivehq response with a `422` for Item doesn't exist. The response code should be 404, but I'm not sure.

[2021-04-01 12:42] ipentest commented on #4758
Oh, thanks a lot for the speedy response @JackGruber. Really appreciate your help... I did check with DriveHQ if they had made any changes but they said there were no changes made. Attaching the screen shot from their support response here.

![drivehq-support-response](https://user-images.githubusercontent.com/10952397/113295342-19440480-92c6-11eb-9d81-2f63381691c8.png)

Thanks again

[2021-04-01 14:23] ron-debajyoti commented on #4433
Perhaps [this](https://github.com/laurent22/joplin/issues/4332#issuecomment-804933250) issue is similar and can resolve the current issue.

[2021-04-01 14:26] ron-debajyoti commented on #4330
I can't replicate the issue in v1.8.0 (dev) in Ubuntu 18.04. Perhaps you can try pulling the latest branch and reinstalling the packages to see if the error persists for you. It sounds more like a build fail.

[2021-04-01 14:56] xUser5000 opened #4796 "Docs: joplin.views.panels.create() should be called with an argument"
## Description
As per the [documentation](https://joplinapp.org/api/references/plugin_api/classes/joplinviewspanels.html#create), the method `joplin.views.panels.create();` have a required `id` parameter. However, the tutorial of the TOC plugin ([here](https://joplinapp.org/api/tutorials/toc_plugin/#creating-a-webview)) calls the method without providing the required parameter.

## Describe what y

[2021-04-01 15:48] lkiThakur commented on #4469
It's resolved I think.
in my `Joplin 1.7.11 (prod, linux)` I am unable to reproduce it.

[2021-04-01 15:57] tessus commented on #4796
already fixied in 99b55129f2c7a2ba6e05bb3ad04ad9ef0b4d575e

[2021-04-01 15:57] #4796 closed

[2021-04-01 16:54] CalebJohn commented on #4469
@lkiThakur try again with the Beta spellchecking enabled in settings.

[2021-04-01 17:01] akshith271 commented on #4658
@CalebJohn I did the exact same thing in my PR #4768 , but was closed..😞

[2021-04-01 17:08] tessus opened #4797 "scroll position is not remembered"
## Environment

Joplin version: 1.7.11 (I've just noticed this on git dev c044017ba as well)
Platform: macOS, Windows

## Steps to reproduce

1. Use Markdown editor (layout: `editor` or `split view`)
2. Edit note a few pages down
3. Switch to another note
4. Switch back
5. The scroll position is reset and at the top of the note (or sometimes at a random location within the note)

## Describe what

[2021-04-01 17:55] laurent22 commented on #4797
Looks like it still works with the rich text editor. So it's only in "editor" layout that it's broken, not split view?

[2021-04-01 18:21] tessus commented on #4797
Actually it's also in split view. I usually add text to the top of the note, so I haven't seen this issue for the longest time, but after seeing the issue on the forum I've been doing some tests and I can confirm it. Unfortunatelty I wasn't able to ascertain a pattern when this is happening. Neither when and how it manifests (top of the note / random location).
I forgot to add the split view to th

[2021-04-01 18:32] #3607 closed

[2021-04-01 20:13] CalebJohn commented on #4658
Hi @akshith271,

Your PR was closed based on [Rules 3, 5, and 6](https://joplinapp.org/gsoc2021/pull_request_guidelines/)
Rule 3: Your PR did as I stated, but the way it was implemented was not correct (as per Laurent's comment).
Rule 5: You didn't include test units
Rule 6: All PR's must be final quality and according to your comment, you felt that this was more of a draft.

[2021-04-01 21:10] itge13 opened #4798 "html ids bug"
if you use html ids they only work once, after that, a click doesn't bring you anywhere

<p id="x"></p>
<a href="#x">X</a>

workaround: if you click a different id, the other works again (for one time).

newest version, win 10 x64

[2021-04-01 21:23] #4798 closed

[2021-04-01 21:28] #4770 closed

[2021-04-01 23:19] solar-core commented on #1085
Yes, it would be nice to have this feature

[2021-04-02 03:39] #4750 closed

[2021-04-02 06:32] lkiThakur commented on #4469
Yes i was able to reproduce it after enabling this option.

[2021-04-02 08:07] ioloughlin89 commented on #4521
I have same issue also. Even for blank notes as you can see from the image below.  I wouldnt mind using keystrokes as a workaround - but these often dont work either.  ctrl+i , ctrl+b, ctrl+k as well as cut/paste operations work. Everything else doesnt work on the ui or on the shortcut level.

https://imgur.com/7IV2Ie0

[2021-04-02 08:34] lkiThakur commented on #4797
I think **only the viewer remembers the scroll position**
so in split mode it will work or not depending upon whether before switching to other notes viewer or editor was in focus.

[2021-04-02 08:48] lkiThakur commented on #4797
It's possible that  below situation occured to the user who was reporting random location jumping.
1. he/she scrolled to some section while focus was on viewer ; so viewer saved this scroll position
2. he/she switched focus to editor and scrolled to some other section in the note
3. he/she switched note and when returned to it note auto scrolled to the section  that was saved in step 1

[2021-04-02 09:23] bearsylla commented on #4054
Seems like it is still not fixed in the latest version. Is there any update on this?

[2021-04-02 09:51] deljones commented on #4789
OK thanks for that... Where can i find the logs for the Windows version?

kind regards

dj

[2021-04-02 10:16] ipentest commented on #4758
Hi @JackGruber

Can you please let me in on whether this issue is solvable please? I've been totally handicapped since more than a week as I haven't been able to access my notes. (I have different projects/ notebooks for home and work which need to sync and update...) Please please help me out and if it's not possible to resolve, kindly let me know too

Thank you so much and looking forward to you

[2021-04-02 10:31] ipentest commented on #4758
@JackGruber I also tried to test with other WebDAVs and have the same issue, so it may not be the 422 response.

[2021-04-02 10:40] dpoulton-github opened #4801 "Plugins - Not allow updating to a non-compliant version"
[Forum Post](https://discourse.joplinapp.org/t/improvement-plugins-not-allow-updating-to-a-non-compliant-version/16370)

Joplin 1.7.11

If a plugin is already installed and an update is available the plugins settings page will invite the user to apply that update. However if the update is not compliant with the currently installed Joplin version the update will still take place but the plugin will

[2021-04-02 10:50] markrenier opened #4802 "Android app folders deleted but not removed"
On my PC version of Joplin, I have a sub-folder B inside a folder A. I removed all the tasks from each folder. I delete folder A, and folder B is also deleted. Then I synched to DropBox. On my Android phone version of Joplin, I synch with DropBox. The folders appear to be removed. I choose a task, and then I want to move that task to a new folder by selecting the drop-down box at the top of the ta

[2021-04-02 11:01] JackGruber commented on #4789
From the Issue template:

[2021-04-02 11:14] markrenier opened #4803 "Old image decryption errors persist"
I understand that the "large images not decrypting" issue was fixed a while back, but I am experiencing problems with "older versions" of those images.

On PC "A" Joplin app, I added an image to a task, then synch to DropBox.
On PC "B" Joplin app, I synch with DropBox and get decryption errors on those images. I am unable to edit the image on PC B.
On PC A, I edit the image, cropping it, so that t

[2021-04-02 11:36] JackGruber commented on #4758
I'm only a Joplin user, no developer!

Do you have only one device syncing and this device have no data or do you have you old PC also running with Joplin?

How did you test this? With a new Joplin installation (empty one) and a empty Synctarget or did you copy your files?
Was there also a 422 error ?

Maybe an option is to download all data from drivehq and set up a local file sync to get the dat

[2021-04-02 11:50] ipentest commented on #4758
Thank you so much for the quick response once again @JackGruber .. Will test based on your inputs and let you know. Thanks again

[2021-04-02 12:20] roman-r-m commented on #4515
Doesn't work for me on Linux, version
[code]

Upon restart Joplin opens the most recent note in the last active notebook but it's not the same as the last open note.

Is it a bug or a missing feature?

[2021-04-02 14:32] deljones commented on #4789
FIXED....
 For some reason the directory joplin-desktop from .config did not get deleted when uninstalling, so I reinstalled then deleted this directory, Opened Joplin. Of course all of the settings are default, empty so I just re-synced and now all is good.

Dj

[2021-04-02 14:32] #4789 closed

[2021-04-02 16:38] KolyaKorruptis commented on #932
This is important to me, considering all these useless resources get synced. And there is no easy consistent way to remove them.
I barely dare to use the webclipper anymore because chances are my sync storage gets pumped with junk.

[2021-04-02 17:11] alexanderadam commented on #932
You could still use ([Copy Selection as Markdown](https://addons.mozilla.org/en-US/firefox/addon/copy-selection-as-markdown/)) and activate the option for [embedding images as base64 at the bottom of the note](https://github.com/0x6b/copy-selection-as-markdown#advanced).
This way you won't have any separate assets and thus no junk. Deleting a note will delete everything.

[2021-04-02 17:48] ron-debajyoti commented on #4132
Hi !
As a beginner, I went through the codebase and found out that the Editor is supported by `CodeMirror` and the viewer uses `highlight.js`(in `MdToHtml.ts`) directly. Since both of them have different ways of syntax highlighting with different languages supported for each of the two, we get such inconsistencies. I don't think we can change anything about it because it would involve a rebuild of

[2021-04-02 17:53] KolyaKorruptis commented on #932
That's a viable workaround, although images in base64 require a lot of storage space in the database.
I can also remove attachments from Tools=>Note Attachments, if I happen know they are not being used anymore.

What baffles me is that exporting all data filters out unused resources efficiently. It's just a maintenance nightmare to clean up multiple synced devices (including mobile) this way.

Wh

[2021-04-02 18:07] ron-debajyoti commented on #4490
This is weird because I see this bug in v1.8.0 Joplin dev in Ubuntu 18.04.
For me, I am unable to check/uncheck any box in Rich Text Editor.

[2021-04-02 18:52] tessus commented on #4797
If that were the case, it wouldn't work sometimes when using just the editor layout.

[2021-04-02 19:53] roman-r-m commented on #4797
Also noticed a related issue: if I go to another note via a markdown link, then go back, in my test the text was scrolled to the top but the scrollbar was showing as if it was at the bottom.

Video:
![ezgif com-gif-maker(4)](https://user-images.githubusercontent.com/995612/113449263-5c50c580-93f5-11eb-98a8-b5ab29b58854.gif)

[2021-04-02 20:00] pghpete commented on #4559
I had a similar issue. I took @didn0t 's advice and basically rebuilt my environment after removing everything. Even the containers on the self-hosted sync server I have.  However it would "sync" everything (I could see the files populating on the server) but then choke on one particular file. It did this to one longfilename.md file before clearing and redoing things, then another on the rebuilt e

[2021-04-02 20:09] roman-r-m commented on #4559
Maybe you could increase `client_max_body_size` in your nginx config to avoid this error.

[2021-04-02 20:16] pghpete commented on #4559
I hadn't thought about that. I'll have to read up on that value to ensure it's given a sane value. Thanks!

[2021-04-02 20:44] roman-r-m commented on #4758
Had a look at your logs and it seems to me this is a problem with your server.

This is what I see in logs. Here Joplin creates a file on the server:
[code]
It does not seem to log the reponse or it's empty but since it does not log an error either I assume the server acked it:
[code]

Now Joplin tries to read back the same file, or rather the contents of the directory where it has just put the fi

[2021-04-02 22:52] pvharmo commented on #4132
@ron-debajyoti
There might actually be a way to fix this without a full rewrite of the Editor. We could use the [runMode](https://codemirror.net/demo/runmode.html) of CodeMirror to generate the code highlight in the viewer. It would replace the highlight.js module.

[2021-04-03 06:09] Pavan-Bellam commented on #4519
@laurent22, as per the code maximum length of a file is 50 characters. This is the root of the problem, do you suggest me to increase the maximum length of the filename?
![2021-04-02](https://user-images.githubusercontent.com/60264606/113470112-990dd280-9470-11eb-86fc-3ec44d9e2b2e.png)

[2021-04-03 06:17] JackGruber commented on #4519
**Please note:**
In editions of Windows before Windows 10 version 1607, the maximum length for a path is MAX_PATH, which is defined as 260 characters, this includes the filename and all folders!

https://docs.microsoft.com/de-de/windows/win32/fileio/maximum-file-path-limitation

[2021-04-03 08:26] itge13 commented on #4797
I tried this and it doesnt work for me.

[2021-04-03 08:29] itge13 commented on #4798
@tessus what do you mean with "no template"?

[2021-04-03 10:55] andi0b commented on #4417
It's the same with F#, probably more languages.

Editor:
![grafik](https://user-images.githubusercontent.com/2432095/113476409-aaa8a780-947b-11eb-8ea9-344bbd61b5cc.png)

Preview:
![grafik](https://user-images.githubusercontent.com/2432095/113476428-c57b1c00-947b-11eb-8642-75d0862bfb31.png)

[2021-04-03 11:43] mu88 commented on #4716
Do you think there can be a fix from Joplin side?

[2021-04-03 11:59] roman-r-m commented on #4716
Do you see the same error when connecting via http?
Can you see incoming requests on your NAS? Would be good to compare a successful request from CarotDAV vs Joplin.

[2021-04-03 12:05] mu88 commented on #4716
Yes, from the user perspective, the behavior is exactly the same for both HTTP and HTTPS.

Unfortunately, I don't have access to the logs of my NAS. The WebDAV functionality is built-in into the original NAS software. So instead of manually setting up a web server with WebDAV functionality, I'm only setting a checkbox "Enable WebDAV". As a downside, I don't have any control and therefore no access

[2021-04-03 12:14] roman-r-m commented on #4716
Would you be able to record the network traffic on the client side then? You can use Wireshark in combination with WinPCAP for this.

[2021-04-03 12:29] roman-r-m commented on #4417
#F is probably too obscure to have highlighting available by default (no offence to any F# devs out there!)

[2021-04-03 12:32] andi0b commented on #4417
@roman-r-m: obscure or not, I think all languages supported by highlight.js/codmirror should be highlighted also in the editor and not just in the preview.

It’s not like it is not supported at all, it works in the preview!

[2021-04-03 12:41] roman-r-m commented on #4417
Is F# supported by CodeMirror though? Does not seem so.

It does work in webview because it uses highlight.js which is a library that specializes in syntax highlight, so to me it makes sense it supports more languages than a general purpose editor does.

I left a comment here on the forum https://discourse.joplinapp.org/t/any-suggestions-on-what-plugins-could-be-created/9479/158?u=roman_r_m maybe

[2021-04-03 12:47] andi0b commented on #4417
F# and assembler are both supported by code mirror. It probably need some mapping between the highlight.js identifiers and the CodeMirror MIME types. I will check it out.

F#: https://codemirror.net/mode/mllike/index.html
And also assembler: https://codemirror.net/mode/gas/index.html

[2021-04-03 12:52] roman-r-m opened #4807 "Desktop: Command toolbar should be disabled when the editor is not focused"
* Click into the note header or even the search bar
* Click one of the buttons on the toolbar like bold or checkbox, etc; or press Ctrl-Shift-P and select equivalent action from there
* The formatting applied to the editor even though it not focused

[2021-04-03 12:59] andi0b commented on #4417
It seems like this is a CodeMirror limitation, you would need to load all language modes, to get highlighting for all languages. This is maybe not advised because of performance issues. And adding a setting for that may be also be a bit of an overkill...

Currently Joplin only loads the modes for the most common languages: https://github.com/laurent22/joplin/blob/bfacf71397e21fda5c7c1675365c4199d2

[2021-04-03 13:01] roman-r-m commented on #4417
Ah, I was looking for something like `fsharp`. I stand corrected.

[2021-04-03 14:11] mu88 commented on #4716
Okay, I've got three Wireshark capture files:
- CarotDAV HTTP
- CarotDAV HTTPS
- Joplin HTTP

Could you guys please give me your mail address so that I can send you the files? Honestly, I'm not 100% sure what the files contain and therefore I'm a bit afraid to share them publicly. I did use a dedicated user, but you never know. Thanks!

[2021-04-03 15:46] ron-debajyoti commented on #4490
Update: I got a weird bug in my case. I can't check/uncheck the box when the `Checkbox-List` option in the Toolbar isn't visible and under `More`.
When I expand the editor so that all the options are visible, the list starts working.
The [joplin](https://discourse.joplinapp.org/t/check-box/14628?u=ajay) forum for this is closed for inactivity, so perhaps I could open a new topic or start working o

[2021-04-03 15:53] ron-debajyoti commented on #4490
A video demonstrating it would perhaps be helpful.

https://user-images.githubusercontent.com/22571664/113483723-8ae8a200-94c2-11eb-93f8-6a4b42581162.mp4

[2021-04-03 16:44] roman-r-m commented on #4716
If you only want to keep the request
[code]
and the corresponding response, that should be fine. I don't think it'd contain any sensitive data, maybe your internal ips but I assume these are ok to share (not a security expert though).
You can send it to `roman.r.musin` - `gmail.com`

[2021-04-03 18:33] tessus commented on #4798
When you open a bug, there's template you are supposed to fill out. You deleted the template and the first version of your description did not make any sense - or at least I did not understand what the issue was.

[2021-04-03 19:24] CalebJohn commented on #4417
This is correct, we were trying to find a balance between performance and usability. I've seen that @roman-r-m has already added this to the list of suggested plugins. I'll add that of anyone is interested in making such a plugin, please feel free to message me and I can help guide you as needed.

[2021-04-03 21:12] benmordecai opened #4808 "Note converts to todo note when toggling complete/incomplete"
Note converts to todo note when toggling complete/incomplete.

## Environment

Joplin version: joplin 1.7.0
Platform: Linux terminal
OS specifics: Manjaro

## Steps to reproduce

1. Select non-todo note
2. press space bar
3.

## Describe what you expected to happen
Either no action, since the note is not a todo list, or for multiple presses of the spacebar to convert it back into the non-todo note

[2021-04-03 21:22] roman-r-m commented on #4803
Are there any errors in the log?

[2021-04-04 11:22] Tackoa opened #4809 "Cannot install Terminal version of Joplin unter"
I have tried to install Joplin with following command:
`NPM_CONFIG_PREFIX=~/.joplin-bin npm install -g joplin`

I receive following error message:
npm ERR! code 127
npm ERR! command failed
npm ERR! command git ls-remote ssh://git@github.com/laurent22/uslug.git
npm ERR! /bin/bash: git: command not found

node12 is install, also npm.

[2021-04-04 12:07] claudiopadial commented on #4649
I have the same problem about blanck white window in windows 7 64 bit, with an additional problem. I try to uninstall Joplin and it doesn't work (Error launching installer) and even reinstalling is not possible, no matter the version I try (error launching C:\Program Files\Joplin\Uninstall Joplin.exe). After that no solution but restoring computer to a previous state allows me to use Joplin again

[2021-04-04 15:43] zxkmm opened #4810 "AWS S3 Synchronisation Error on iOS deivce"
## Environment

Joplin version: 10.7.2 (Latest on iOS for now)
Platform: iOS
OS specifics: 14.4.1 on iPhone (Latest for now)

## Steps to reproduce

1. First time synchronisation on windows with E2EE enable
2. Synchronisation to AWS S3 Server
3. First time synchronisation on iOS
4. got an error like this:
         “XMLParserError：Non-whitespace before first tag.
         Line: 0
         Column: 1

[2021-04-04 16:06] michaldybczak commented on #4649
Hmm... Maybe paths on 64bit version are also wrong? However, on 32bit, install/uninstall process works OK.

I wish that developers would take interest in this issue. Lack of multi-platform support excludes the whole project. I get it that Win7 is officially end of life but as with XP many will still use it and in companies, we don't have a say and are stuck with whatever system they give us.

Besi

[2021-04-04 16:46] CalebJohn commented on #4809
As the error says, you must have git installed. Please install it and try again.

[2021-04-04 16:46] #4809 closed

[2021-04-04 18:47] Tackoa commented on #4809
Git is installed, but now I receive the next error message:

npm ERR! code 1
npm ERR! path /home/krpi/.joplin-bin/lib/node_modules/joplin/node_modules/keytar
npm ERR! command failed
npm ERR! command sh -c prebuild-install || npm run build
npm ERR! > keytar@7.6.0 build
npm ERR! > node-gyp rebuild
npm ERR! prebuild-install WARN install No prebuilt binaries found (target=12.22.0 runtime=node arch=arm

[2021-04-04 19:21] roman-r-m commented on #4809
also see here https://github.com/laurent22/joplin/issues/3960

[2021-04-04 19:32] roman-r-m commented on #4649
This isn't quite true though, it does usually work on Windows. For instance Joplin was working fine for me on Windows (until I've moved to Linux).

The change I hoped would fix it didn't help. Haven't had time to have another look since.

[2021-04-05 10:19] Tackoa commented on #4809
Thank you for your support so far. I am nearing success but have now the problem that the process stuck at some point.

[                  ] \ reify:aws-sdk: timing reifyNode:node_modules/joplin/node_modules/lodash Completed in 27467ms

Do you have a solution for that?

[2021-04-05 10:27] Tackoa commented on #3960
Worked, thank you!! :)

[2021-04-05 10:28] Tackoa commented on #4809
Worked, many thank! :)

[2021-04-05 10:44] ipentest commented on #4758
Hi @roman-r-m

Thank you so much for the help and sorry for the delay in responding. My concern is that as I was able to work on exactly the same webdav servers till around last 2 weeks ago & nothing changed on the servers (all of them at the same time) and also the fact that all of the webdavs I tried such as DriveHQ, 4shared and mydrive will give the same error makes me feel like it's an issue o

[2021-04-05 10:51] coderrsid commented on #4807
This is for TinyMCE right?

[2021-04-05 11:02] roman-r-m commented on #4807
Nope. TinyMCE is fine actually. The commands aren't disabled but at least they don't do anything.

CodeMirror on the other hand...
![ezgif com-gif-maker(5)](https://user-images.githubusercontent.com/995612/113567521-ae1c6a00-9606-11eb-9aaf-e09fa25a5852.gif)

[2021-04-05 11:06] roman-r-m commented on #4758
That's possible. I almost wish it happened to me so that I can debug but alas (I am using Dropbox though)

Good luck. There are plenty of tools out there to try.

[2021-04-05 11:06] #4758 closed

[2021-04-05 13:56] andi0b commented on #4417
The best solution would be to load all modules on demand. This is partly supported by CodeMirror (https://codemirror.net/doc/manual.html#addon_loadmode).

It would probably increase performance for the editor, as most people won't use any fenced code blocks at all and add support for additional languages at the same time. A plugin would be a compromise.

[2021-04-05 17:16] markrenier commented on #4803
No, there are no errors. There are a bunch of warnings though.
![image](https://user-images.githubusercontent.com/7487055/113602792-594b1480-9643-11eb-97f0-88b35a232a9f.png)

[2021-04-06 01:15] axtyax commented on #4808
I'd be happy to take this on as a first issue, if that's alright with you.

[2021-04-06 02:32] dlampa opened #4813 "Converting a selection to a bulleted or numbered list results in adding an extra row to the list"
## Environment

Joplin version: 1.7.11
Platform: Linux
OS specifics: Ubuntu 20.04 LTS

## Steps to reproduce

After selecting a block of text (see screenshot) and clicking the "Bulleted list" button in the toolbar, an additional `-` bullet item is added to the row immediately below the selection:

(selected 3 rows)
![image](https://user-images.githubusercontent.com/60409723/113650107-ea72b900-964c

[2021-04-06 03:28] jayhill commented on #4797
I think it would be more useful if the caret position would be restored (i.e. line 208, column 29), and I'd expect the scroll position could follow easily from that.

The caret always seems to be at the top when I return to a note, even if the scroll position is restored, but then I often can't actually see where the caret is and I have to use the mouse to place the cursor in the desired location

[2021-04-06 03:29] vijayveluri03 opened #4814 "Pressing Shortcut keys is adding Letters to the Editor"
![Annotation 2021-04-06 085209](https://user-images.githubusercontent.com/2283037/113654482-8a642d00-96b5-11eb-8f92-a09f03781033.png)

When i use a shortcut to open Tags (Ctl + Alt + T ) ,It opens tag overlay but also added a Letter "T" in the editor. Refer to the screen shot above.

I have found this issue in Windows application. Havent checked in Mac.

## Environment

Joplin version: 1.7.11
Plat

[2021-04-06 03:37] tessus commented on #4797
@jayhill This was my initial idea when opening ticket #520. I think it has to be a combination of both. The scroll posiiton and the cursor position should be saved (and also restored) at the same time . Maybe it was a problem with the editor back then.

Laurent might be able to shed some light on this.

[2021-04-06 06:18] finzzz commented on #4439
I also encounter this problem. Joplin works on desktop.

[2021-04-06 06:49] batlittle commented on #4482
I came up with the same issue. Hope this issue will be recognized as bug and be fixed soon.

[2021-04-06 07:26] ab791520b4 commented on #4433
I created a small example directory for importing:

[joplin-import-test.zip](https://github.com/laurent22/joplin/files/6262855/joplin-import-test.zip)

[2021-04-06 08:15] tessus commented on #4814
I was not able to reproduce it on macOS Joplin 1.8.1 dev 29a8e815d.

Neither in CodeMirror nor in the WYSIWYG editor.

[2021-04-06 13:49] itge13 opened #4816 "linking problems"
1.
if you use html ids they only work once, after that, a click doesn't bring you anywhere and it just let you where you are.
[code]
workaround: if you click a different id though, the other works again (but all links work only one time until another is clicked).

2.
if you use links to other notes like
`[blabla](:/c1715fe2498595944...)`
and click the return button it doesn't work.

_Joplin 1.7.11

[2021-04-06 14:47] CalebJohn commented on #4816
Hi @itge13 This was fixed by #4538 . The fix is available in pre-release v1.8.1.

[2021-04-06 14:47] #4816 closed

[2021-04-06 15:37] axtyax commented on #4807
Is the expected behavior that simply nothing happens? Or that the formatting is applied at the cursor's position as soon as the editor is refocused?

[2021-04-06 18:13] #4769 closed

[2021-04-06 20:18] #3695 closed

[2021-04-06 20:21] #4759 closed

[2021-04-06 20:33] roman-r-m commented on #4807
I'd expect these menu items to not be available at all when the focus is not in the editor.

[2021-04-06 22:30] tessus commented on #4733
fixed in ea65346f04669085128ae8129b208d0ca5d0f671

[2021-04-06 22:30] #4733 closed

[2021-04-06 23:11] tangodev commented on #3872
This is the main reason why I dislike using Joplin on my phone. I even have a separate folder for taking notes on the phone as to avoid conflicts with desktop instead of editing stuff directly.

I'm supporting Joplin financially and I'd like to know when can I expect this to be implemented? I'm not angry, just disappointed.

**"Babysitting" a sync is just sad.**

[2021-04-07 01:10] CalebJohn commented on #4813
I can't reproduce this issue. But it looks like maybe you have started your selection on the fourth line? So if you dragged up from the beginning of the fourth line, or started your cursor on the fourth line this is the expected behaviour.

[2021-04-07 01:28] dlampa commented on #4813
Thanks for responding!

I normally select a row by holding shift + down arrow from the first char in Line 1 (i.e. press down arrow 3x) . The cursor disappears and it looks like only Line 1, 2 and 3 are selected.

However, if I either:
- use the mouse and drag from Line 1 char 1 down to end of Line 3
- or press Shift + End in the first row, then while holding shift press arrow down key twice to sel

[2021-04-07 02:56] unserh commented on #4813
Hey, first timer here - based on what you described @dlampa could it be due to the cursor position? Using your approach, the cursor ends up on the 4th line  (even though the line isn't fully highlighted) so that could be why that line ends up bulleted as well. With the other approaches, the cursor doesn't reach line 4. Not sure if that's expected behavior or not, just an observation!

[2021-04-07 03:53] dlampa commented on #4813
Thank you for taking the time to check this out @unserh - I suppose it's most likely an issue specific to my setup, since the cursor becomes invisible as soon as I make a text selection of any kind, which is probably what led to the confusion in the first place. I agree that if cursor was in Line 4 the behaviour would make complete sense.

@CalebJohn Not sure if the invisible cursor on selection i

[2021-04-07 05:47] Pavan-Bellam commented on #4814
even I was not able to reproduce it on windows 10

[2021-04-07 06:04] vijayveluri03 commented on #4814
Thanks for Responding.

https://user-images.githubusercontent.com/2283037/113818279-2fa20280-9795-11eb-8c43-90fe360944c3.mp4

Please find the Repro video.

[2021-04-07 07:31] coderrsid commented on #4807
So how should it be solved?
1. Disabling command toolbar and Ctrl+Shift+P action, if the focus is not there.
2. Let the user use the action but not applying it in editor and showing alert that focus is not on editor and put the focus on editor as soon as alert is solved.

[2021-04-07 09:03] Pavan-Bellam commented on #4519
But it is working fine when I am exporting in other formats.
1. I identified that Breakpoint 1 - line number 97 in /home/bellam/Documents/joplin-dev/packages/lib/services/interop/InteropService_Exporter_Md.js
is causing the problem
Juggling out here, While debugging the code from this break point again its going in to some other sql queries.
2. I tried statically changing the file name in the code

[2021-04-07 09:39] roman-r-m commented on #4716
@mu88 and I looked into this issue and we think the problem here might be that this NAS returns error 403 instead of 404 when Joplin is trying to GET a file that does not exists:
[code]

@laurent22 do you think we could make a change to treat 403 the same as 404 in this case? I see no problem with that - if this is indeed an issue with authorization, the process will fail later when Joplin tries t

[2021-04-07 11:24] roman-r-m commented on #4807
#1 is preferable in my view
@laurent22 what do you think?

[2021-04-07 14:46] altosaar commented on #3872
+1, same issue as @tangodev

[2021-04-07 17:52] laurent22 commented on #4807
I don't think we should disable the command palette if the editor is not in focus, because the palette contains all kind of commands, some of which are not related to the editor.

[2021-04-07 17:57] laurent22 commented on #4807
Also I'm not sure if it's an issue that the buttons work when the editor is not focused? If there's a selection and I click to "Bold", I want it to work even if the focus is not on the editor. Or is this behaviour causing a particular issue?

[2021-04-07 19:36] roman-r-m commented on #4807
No issues, I just found it nonintuitive that I have a cursor in a text field but the formatting is inserted in a completely different field.
If you feel this isn't a problem -- feel free to close, I'm not going to insists it's a bug.

[2021-04-07 19:43] forGGe commented on #3635
The same issue observed today after upgrading Joplin to 1.7.11 (built form Archlinux AUR: https://aur.archlinux.org/packages/joplin-desktop/)

Sometimes Joplin starts but the screen is blank, sometimes it doesn't even start.

Here are my flags:
[code]

But no logs appear in the config dir after Joplin started:

[code]

[2021-04-08 05:35] JackGruber commented on #4814
I can't replicate the issue with `CRT+ALT+T` on Windows 10 and Joplin 1.8.1

[2021-04-08 07:20] ksaiprajwal commented on #4807
Is the issue still open to work on ?

Because the commands do not work in TinyMCE when the editor is not focused, but the commands work in CodeMirror.

[2021-04-08 08:27] laurent22 commented on #4808
Should be no action if it's not a to-do.

[2021-04-08 08:28] laurent22 commented on #4807
Ok let's close the issue then, because the alternative would be to have the toolbar being enabled/disabled whenever the editor focus changes and I think that would be distracting and not that useful.

[2021-04-08 08:28] #4807 closed

[2021-04-08 08:48] Pavan-Bellam commented on #4519
I have fixed the bug, the problem was in path-utils.js. I will make a PR  with updated code.

[2021-04-08 09:10] #4697 closed

[2021-04-08 09:30] #4788 closed

[2021-04-08 09:31] #4766 closed

[2021-04-08 10:17] christianlupus opened #4817 "Web clipper causes UI trouble in Joplin"
## Environment

Joplin 1.7.11 (prod, linux)
Sync-Version: 2
Profil-Version: 34
Revision: d6b77db (master)
Platform: Linux
OS specifics: Archlinux

## Steps to reproduce

1. Using Firefox, go to https://www.w3schools.com/python/python_dictionaries.asp
2. Using webclipper use *Clip simplified page*
2. Using webclipper use *Clip complete page (HTML)* in the same notebook as step 2
3. Wait for it to f

[2021-04-08 17:05] jalajcodes commented on #4817
Looks like a padding-right style is getting applied upon switching to the HTML based page. Also, I can't reproduce this issue on other websites, it looks like it is specific to this website only. Can you reproduce it on other websites?

I'll look into it more in the morning.

[2021-04-08 17:26] christianlupus commented on #4817
I did not try the clipper much. Just a few (sandboxed) tries. So, I have no other site that causes the issue.

I am just surprised that with switching back to the non-HTML page the issue persists.

[2021-04-08 18:48] Pavan-Bellam commented on #807
I am working on this. Thank you!

[2021-04-08 23:38] Presence-Eternal opened #4823 "Joplin opens window during most desktop changes"
## Environment

Joplin version: 1.711
Platform: Windows
OS specifics: 10 Pro 64 20H2

## Steps to reproduce

Joplin when running in background will open its window if I change pretty much any aspect of my primary display. I most frequently encounter this when turning the display off for the night, but changing the scaling or resolution will also do this. No other applications appear to be doing th

[2021-04-09 02:06] CalebJohn commented on #4813
@dlampa
I just tested this out using google docs to see how it's handled elsewhere. They also have an invisible cursor (which I'm fairly certain is normal). Pressing delete also behaves as if the cursor was on the last line. But the list insertion works the way you expected it to. I think they probably check if the end of a selection is at the start of a line and ignore it when inserting list elem

[2021-04-09 02:25] dlampa commented on #4813
@CalebJohn Appreciate you taking the time to look into this further! I've also tried the same on LibreOffice Writer and Apple Pages. Unfortunately I don't have access to Word to check it's behaviour. In Writer, the cursor blinks at the beginning of the last line and behaves identically to Joplin (adding a list item includes the last line automatically - but you can see the cursor so it's expected/

[2021-04-09 05:29] lkiThakur commented on #4813
with such a clear guidance, I would certainly  like to try solving this issue.

[2021-04-09 05:48] ChihiroFujimi commented on #4716
As a workaround, creating 2 empty files : info.json and .sync/version.txt  in your webdav directory allows Joplin to create its structure and synchronize.

[2021-04-09 06:23] laurent22 commented on #4716
I don't think that can be fixed on the client? Instead most likely the permissions or config need to be fixed server-side.

[2021-04-09 06:27] StoltHD commented on #807
Hopefully, you work on both full text search in pdf, but also annotation in and extraction of annotations in PDF's (maybe using pdf.js or similar library)?.

[2021-04-09 09:04] johandeclercqdemocon opened #4825 "onedrive default directory"
Hi, what is the default directory that Joplin uses when you sync with OneDrive ?

## Environment

Joplin version: 1.7.11 (installed with snap)
Platform: Linus
OS specifics: Ubuntu 20.4

## Steps to reproduce

1.
2.
3.

## Describe what you expected to happen

## Logfile

[2021-04-09 09:09] mu88 commented on #4716
I finally got an answer from the ASUSTOR support. As expected, it is pretty disappointing 🙄 the say that they will fix something some day. But I neither know what will be fixed nor in which version or decade...

So I'd really appreciate if we could find a workaround on the client-side.

[2021-04-09 09:17] Pavan-Bellam commented on #807
Thank you for suggesting. I will try to implement it as well.

[2021-04-09 09:19] mu88 commented on #4823
I'm encountering a very similar issue: every time when starting my notebook after hibernate or sleep mode, Joplin opens, but is completely broken: either I don't see nothing but the window frame (see screenshot) or I can see all UI controls, but they are somehow broken: I can neither click any button nor write any text.

The same happens when returning to the desktop after playing a game in full s

[2021-04-09 09:21] mu88 commented on #4716
Thank you, that seems to work 👍🏻

[2021-04-09 09:50] laurent22 commented on #4716
Unfortunately there's no fix client side to handle broken servers. If we make a special case for error 403, it means servers that send real errors 403 will be handled incorrectly. Personally I would just switch to a different provider as if they can't get this right I wouldn't trust them with my data.

[2021-04-09 09:52] mu88 commented on #4716
That's easier said than done if you bought a NAS for several hundred Euros...

[2021-04-09 09:52] darkcheftar commented on #4814
<kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>t</kbd> On any typing Environment is Producing latin alphabet. [ṭ](https://en.wikipedia.org/wiki/%E1%B9%AC#:~:text=%E1%B9%AC%20(minuscule%3A%20%E1%B9%AD)%20is,as%20it%20sounds%20in%20English.)

[2021-04-09 13:29] roman-r-m commented on #4823
I think this is another manifestation of https://github.com/laurent22/joplin/issues/4517 (or the underlying issue mentioned there)

[2021-04-09 23:44] StoltHD commented on #807
That would be a great feature :-)

[2021-04-10 10:21] ProfessorCode212 opened #4827 "Laggy Scrolling in Viewer"
Scrolling through the Markdown viewer is quite laggy and not as smooth as it should be.

https://user-images.githubusercontent.com/78950242/114266474-31c5c480-9a14-11eb-876c-4a397f3f2f3d.mp4

## Environment

Joplin version: 1.7.11
Platform: Linux
OS specifics: Linux Mint 19.3, AppImage

## Steps to reproduce

1. Open a note.
2. Scroll through the note with the _Viewer_.

## Describe what you expec

[2021-04-10 11:31] tessus commented on #4814
@darkcheftar this makes no sense. What do you mean by "on any"? Certainly not on macOS and as you can see others can't even reproduce it on Windows.

[2021-04-10 12:00] darkcheftar commented on #4814
I don't know about Mac Os
Sorry for being ambiguous.
On Windows when I tried to use the shortcut <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>t</kbd>.
-  notepad
- Joplin's Note's Title
- chrome search bar
- Typora
I got the same result.
May be that is because of some default behaviour of the shortcut which may not have been prevented by the implementation in the app.
![image](https://user-images.githu

[2021-04-10 13:39] JackGruber commented on #4814
Sorry, but this is no Jublin Bug,
This is a setting on your system, when this happens in every program!

[2021-04-10 13:50] darkcheftar commented on #4814
That is what I'm emphasising @JackGruber 😃

[2021-04-11 00:22] BeatLink opened #4828 "The Yeoman plugin scaffold generator is out of date"
## Environment

Joplin version: 1.7.11 (application) 1.7.3 (yeoman scaffolding)
Platform: Linux
OS specifics: Linux Mint Cinnamon 20.1 (Flatpak)

## Steps to reproduce

1. Go to https://github.com/laurent22/joplin/tree/dev/packages/generator-joplin
2. Notice that the last update was 2 months ago, and the version is at 1.7.3
3. Certain plugin API features such as dataDir are unavailable until 1.7.1

[2021-04-11 02:07] vijayveluri03 commented on #4814
It appears, this issue occurs only when Language setting is set to "English (India)". Tested with "English(US)", seems to be fine.
Like @darkcheftar @JackGruber have pointed it out, perhaps its some default behavior for those languages.

[2021-04-11 04:07] darkcheftar commented on #807
I want to work on this feature.
- I will try my best to show some progress on it.

[2021-04-11 04:37] JackGruber commented on #4828
You can manuel edit the files in the api folder or try a workaround like descriped by laurent in  https://github.com/laurent22/joplin/issues/4774

[2021-04-11 07:41] kingzevin commented on #2406
@cat-walk Is your language specified as Chinese? What if you change that to English? The "应用" token in the invalid url seems suspicious.

[2021-04-11 07:44] LordHumphrey commented on #2406
But this folder is created by joplin?So I must change the language of OneDrive?

[2021-04-11 07:48] kingzevin commented on #2406
You may try to change the system language and I suspect it works. Good luck.
In addition, if you're using onedrive, then you can choose to synchronize the joplin data in the local file system, with the path specified as the onedrive sync folder.

[2021-04-11 07:53] LordHumphrey commented on #2406
Thank you.I will try later.But I wish joplin fix this bug,especially as a global opensource software. There may be some grammatical errors in this sentence, I'm sorry.Thank you!

[2021-04-11 08:16] kingzevin commented on #2406
That's fine. I hope they can fix it. Good luck!

[2021-04-11 09:35] laurent22 commented on #4384
I don't get it either as we aren't changing the CLI app much, so indeed it could be some lib that changed under us, or maybe Node that works differently. It would surprise me if it was a change in terminal-kit as we're on such an old version of it, it's unlikely it would have received an update. We're on 1.13.11, and it could have been automatically updated to 1.13.13, but that's still a 4 years o

[2021-04-11 09:45] Jip-Hop opened #4829 "iOS: Image attachments not downloading, shows huge placholders"
Image attachments don't download when "Attachment download behaviour" is set to "Auto" or "Manual". Instead I only see a huge placeholder (black download arrow icon).

![placeholder](https://user-images.githubusercontent.com/2871973/114298801-6428fd80-9ab8-11eb-9fa1-8a87180dd460.jpg)

## Environment

Joplin version: 10.7.2
Platform: iOS
OS specifics: 14.4.2
Joplin server (Docker): 1.7.2

![IMG_709

[2021-04-11 09:47] laurent22 commented on #4562
I think it has been fixed in a recent version, but if it's still happening please let us know.

[2021-04-11 09:47] #4562 closed

[2021-04-11 09:52] laurent22 commented on #4567
Looks like it's been fixed then

[2021-04-11 09:52] #4567 closed

[2021-04-11 11:45] BeatLink commented on #4828
Wouldn't the best way to resolve this be to update the generator? Especially since any tinkering with the API folder would just be wiped out in a future update

[2021-04-11 11:46] BeatLink commented on #4828
To start with, what is currently blocking the update of the generator?

[2021-04-11 14:21] jabacrack opened #4830 "Joplin do not display part of page in case it saved in html format"
## Environment

Joplin version: 1.7.11
Platform: Windows
OS specifics:  Windows 10
Clipper version: 1.6.1
Browser: Firefox

## Steps to reproduce

1. Import attached note (it clipped from https://habr.com/en/post/551732/).
[Algorithms in Go_ Bit Manipulation _ Habr.zip](https://github.com/laurent22/joplin/files/6291592/Algorithms.in.Go_.Bit.Manipulation._.Habr.zip)
2. Look at imported note.
2. Onl

[2021-04-11 17:01] #4570 closed

[2021-04-11 17:01] #4669 closed

[2021-04-11 17:25] laurent22 commented on #4829
Could you provide an example ENEX file that has this problem?

[2021-04-11 20:16] Jip-Hop commented on #4829
Hopefully this helps to clearly reproduce the error: [image_load_error.jex.zip](https://github.com/laurent22/joplin/files/6292661/image_load_error.jex.zip)

It contains two notes clipped with the Joplin Web Clipper. I clipped the same site twice, once with "Clip complete page" and once with "Clip complete page (HTML) (Beta)".

1. Start with a fresh Joplin Desktop: remove default notes and notebook

[2021-04-11 23:08] AdvisedlyAlburn opened #4831 "MacOS : can't paste without formatting in the WYSIWYG editor"
OS : MacOS 11.2.3
Joplin version : 1.7.11

On evernote I can use CMD + SHIFT + V to paste some content without the formatting.

On Joplin, on the WYSIWYG editor, there is no equivalent shortcut. Can you add one? It's super annoying because every time I copy something to the browser I must first paste it in the search box to remove formatting, then copy it again and then paste it on Joplin.

[2021-04-12 09:00] laurent22 commented on #4831
Cmd+Shift+V should work

[2021-04-12 10:45] lkiThakur commented on #4813
I have added a pull request for this issue.

[2021-04-12 12:30] zxkmm opened #4833 "The keyboard always covered the latest line in the bottom"
## Environment

Joplin version: 10.7.2
Platform: iOS
OS specifics: 14.4.2

## Steps to reproduce

1. Type.
2. And the keyboard covered the text.

## Describe what you expected to happen

When I type in Joplin app, the keyboard always covered the latest line, it’s hard to describe so I attached a screen record. It happened in all language.
My device is an iOS device and both the iOS and the Joplin

[2021-04-12 12:31] zxkmm commented on #4833
Uploading IMG_0854.MP4…

[2021-04-12 12:31] zxkmm commented on #4833
![C6DD3015-8EA9-4788-A9CE-8FFD3A1836E8](https://user-images.githubusercontent.com/24917424/114394731-19010e80-9bce-11eb-8c60-49d37a43f704.png)

[2021-04-12 12:32] zxkmm commented on #4833
https://user-images.githubusercontent.com/24917424/114394764-23bba380-9bce-11eb-96db-7a789b92cff3.MP4

[2021-04-12 12:35] #4043 closed

[2021-04-12 15:00] AdvisedlyAlburn commented on #4831
@laurent22 No it doesn't paste. Only if I do CMD + V, which keeps formatting.

[2021-04-12 15:08] laurent22 commented on #4831
For me it works but I'm on 1.8 so it might be that there was some fix about this not long ago.

[2021-04-12 15:25] AdvisedlyAlburn commented on #4831
@laurent22 No, I have tried 1.8.1 and it's the same problem

[2021-04-12 16:29] laurent22 commented on #4831
Then more info is needed. For me that's how it looks with Cmd+V:

![image](https://user-images.githubusercontent.com/1285584/114428783-899b3180-9bb4-11eb-8d01-056d287176fa.png)

And with Cmd+Shift+V:

![image](https://user-images.githubusercontent.com/1285584/114428841-99b31100-9bb4-11eb-980b-95f51082e585.png)

[2021-04-13 03:47] zxkmm commented on #4833
it had been fixed. Thank you dear developer!

[2021-04-13 03:47] #4833 closed

[2021-04-14 03:56] Chris4942 opened #4835 "Low Contrast Text appears when "Could not find specified string." is displayed in darkmode."
## Environment

Joplin version: 1.7.11
Platform: Mac OS
OS specifics: Mac OS Big Sur 11.2.3

## Steps to reproduce

1. Put Mac In Dark Mode
2. Open jolin
3. Open a note
4. Press CMD+F
5. Type in a string that does not appear in the note you are looking at.
6. A popup will appear, but the text will barely be readable as it will be dark blue text and dark grey.

## Expected Results

The text on the

[2021-04-14 04:26] mr-karan opened #4836 "Missing setting sync.9.url"
## Environment

Joplin version: 1.7.11
Platform: Linux
OS specifics: Arch

## Steps to reproduce

1. As describe in [nextcloud-synchronisation](https://joplinapp.org/terminal/#nextcloud-synchronisation) docs, I was trying to setup the sync config for Joplin server.
2. `:config sync.9.url` returns this error `Unknown key: sync.9.url`

## Describe what you expected to happen

It should be a valid se

[2021-04-14 04:27] jabacrack commented on #4830
I think this bug isn't connected with clipper, because you can remove this tag inside the note source and it starts working. Probably a problem with renderer.

[2021-04-14 09:15] krisnyse commented on #2406
Same problem here. Unable to sync Joplin on my Android phone.
"Last error: Error: Not a valid URL"

[2021-04-14 10:25] hic090 opened #4838 "Fatal Error: SQLITE_NOTADB: file is not a database"
Hi there, just wanted to test out Joplin but didn't get very far -- see below. The error messages are slightly different for versions 1.7.10, 1.7.11 and 1.8.1:

## Description
SQL-related Fatal Error occurs at first start after installing Joplin 1.7.10, 1.7.11 and 1.8.11 on macOS 11.2.3.

## Environment

Joplin version: 1.7.10, 1.7.11 and 1.8.1
Platform: macOS
OS specifics: 11.2.3

## Steps to rep

[2021-04-14 11:21] laurent22 commented on #4838
For some reason your database file, which is in ~/.config/joplin-desktop/database.sqlite is corrupted.

[2021-04-14 12:55] yuguamax commented on #4578
This issue has not been resolved.

[2021-04-14 13:52] thewholelifetolearn opened #4839 "Lists are not listed in tables"
## Environment

Joplin version: 1.7.11
Platform: Windows
OS specifics: 10
Joplin specifics: Softbreak is on

## Steps to reproduce

1. Create a table
2. Add a line with a list in one of the cells
3. The first line is in the cell as text and the other points are displayed outside the table as a list

## Describe what you expected to happen

[code]
or
[code]

At least the first proposition should wo

[2021-04-14 16:27] drbel8 opened #4840 "ios synchronization with nextcloud work one way only"
Notes present (Welcome! (Mobile) notebook) or created in ios are synchronized through nextcloud to desktop app.
Notes from the desktop are not synchronized, there is an error from Sabre in the log (attached) mentioning "Files cannot be created in non-existent collections".

## Environment

Joplin version: 10.7.2
Platform: iOS
OS specifics: 14.4.2

## Steps to reproduce

1. create a note in desktop

[2021-04-14 16:43] bdrewery commented on #4825
"Apps/Joplin" unless that already exists then it tries "Apps 1/Joplin".

[2021-04-14 17:17] CalebJohn commented on #4839
@thewholelifetolearn

What you've shown is not a valid markdown table. Fortunately Joplin supports a multi-markdown table extension. You can enable under Options-> Markdown -> multi markdown tables

An example is below.

[code]

[2021-04-14 17:17] #4839 closed

[2021-04-14 17:26] cjc7373 opened #4841 "Execute joplin-cli command will delete joplin-desktop external editor file"
## Environment

Joplin version: 1.7.11
Platform: Linux
OS specifics: Arch

## Steps to reproduce

1. Toggle external editting in joplin desktop.
2. Execute `joplin --profile $HOME/.config/joplin-desktop sync` or `joplin --profile $HOME/.config/joplin-desktop export`.
3. The md file `~/.config/joplin-desktop/edit-xxxxxx.md` will be deleted. So I'm unable to edit that note in external editor.

## De

[2021-04-14 19:43] roman-r-m commented on #4841
Do I understand it correctly - you had joplin desktop open and executed a command from joplin-cli pointed to the same profile?

[2021-04-14 19:49] dosoft commented on #4510
Still be the issue on the latest Android client

[2021-04-14 20:43] roman-r-m commented on #4510
Not really a bug, it's just that note sort settings (like most other settings) are not syncing between devices.

[2021-04-14 21:24] starlessblack commented on #4784
I, too, have been plagued by this bug in the iOS app, and it's grown to the level of infuriating a few times recently. Thank you for posting a nice explanation of the issue.

[2021-04-14 22:01] claudiopadial commented on #4649
I tried to make it work both in original and modified versions of windows 7 and it made no difference, crashing for no reason after some runs. But finally I found one way to run Joplin stably, the Portable Version. No problem by now and full functionality!! I hope anyway deverlopers will fix this issue for next releases ...

[2021-04-15 02:34] AdvisedlyAlburn commented on #4831
@laurent22 well when I go to the Help menu and I search "paste", it will only show "Edit > Paste" as CMD + V but there is no indication of how to paste without formatting, it doesn't appear in the Edit menu. Do you have something like "Edit > Paste without formatting" on your mac?

[2021-04-15 04:06] cjc7373 commented on #4841
Yes, exactly

[2021-04-15 07:25] mhatvan opened #4842 "Preserve whitespace and empty lines in non-markdown mode"
## Environment

Joplin version: 1.7.11
Platform: Linux
OS specifics: Ubuntu 20.10

## Steps to reproduce

1. write text, enter some empty new lines
2. switch to a different note
3. switch back and the empty lines will be gone

## Describe what you expected to happen

Empty lines should be preserved, since they help me to visually distinguish between sections.

[2021-04-15 07:31] laurent22 commented on #4836
should be sync.5

[2021-04-15 07:31] #4836 closed

[2021-04-15 08:00] neepher opened #4843 "Joplin with plantuml crash on add plantuml"
## Steps to reproduce

1.  add plantuml code block
2.  add component  with such style "component A { }"

## Logfile

Error
Joplin encountered a fatal error and could not continue. To report the error, please copy the *entire content* of this page and post it on Joplin forum or GitHub.

Message
Version info
Joplin for Desktop

Copyright © 2016-2021 Laurent Cozic
Joplin 1.7.11 (prod, win32)

客户端 ID:

[2021-04-15 08:11] roman-r-m commented on #4841
Running 2 instances concurrently off a single profile is not supported and may even lead to data loss.

[2021-04-15 08:11] #4841 closed

[2021-04-15 08:27] cjc7373 commented on #4841
Thanks for your clarification. Since this way is unsupported, I was wondering is there another way to export my notes using command line?

[2021-04-15 08:41] roman-r-m commented on #4841
You can do it just not when desktop app is open. You might also want to check backup plugin for Joplin desktop.

[2021-04-15 09:02] cjc7373 commented on #4841
That would be helpful.

[2021-04-15 09:08] mablin7 commented on #4843
This merged PR uphy/joplin-plantuml-plugin#4 fixed the issue, it just hasn't been released by the maintainer of the plugin. You should wait for a new release of the plugin.

[2021-04-15 09:35] mablin7 commented on #4830
I see the problem too. I tried copying the whole clipped html and pasted into a newly created note and it displayed correctly. I have absolutely no idea what could cause this, but this is at least a workaround.

Did you notice this problem with any other site?

[2021-04-15 09:37] roman-r-m commented on #4841
https://discourse.joplinapp.org/t/backup-plugin/13964

[2021-04-15 09:48] #4843 closed

[2021-04-15 09:55] jabacrack commented on #4830
No, but I start use Joplin week ago, and this issue stop my migration from evernote. I'll try with other sites.

[2021-04-15 10:20] VickySoni81 opened #4845 "joplin-cli crashes after opening within seconds"
Launching joplin-cli in terminal on arch linux it opens and then crashes after 2 to 3 sec, I tried installing it through aur and also from the method described on the website but both did the same thing. Although the desktop version runs as expected.

## Environment

Joplin version: 1.7.0
Platform: Arch Linux
OS specifics: Linux 5.11.8-arch1-1 x86_64

## Steps to reproduce

1. Install via AUR or f

[2021-04-15 10:25] milotype opened #4846 "Translation question"
Please explain the following translation string:

#: packages/app-desktop/gui/NoteEditor/NoteBody/TinyMCE/utils/setupToolbarButtons.js:27
msgid "Insert"

Which of the following does it represent (sorry, I'm not a programmer):

- [ ] underlined
- [ ] inserted string/inserting something
- [ ] link

[2021-04-15 14:59] CalebJohn commented on #4846
It corresponds to the `<ins>` html tag (insert). The default behaviour of insert is to render as an underline.
In the english translation of Joplin we use the word "insert" when the user hovers the button.

[2021-04-15 14:59] #4846 closed

[2021-04-15 19:09] michaldybczak commented on #4649
Unfortunately the portable version behaves in the same way for me. I may do a few more attempts and experiment with it, but I don't make myself any more hopes.
This is frustrating. Joplin seems like a true Evernote replacement, if it worked on any system. Despite Win7 being officially dead, practically it will be used for a few more years. In my case I have no choice as to use the system provided

[2021-04-15 20:07] roman-r-m commented on #4591
@Siddharth6121 just noticed that your PR has **your** dev branch as target, should be the dev branch in this repo instead.

[2021-04-15 20:50] Philipp91 commented on #4700
+1 I think this is quite important because, when the user does not notice, they edit the old version and thus cause a conflict, which is always annoying to handle. If Joplin can't automatically resolve conflicts, then it should at least try to minimize their occurrence.

[2021-04-15 21:00] Philipp91 commented on #4700
One could even go so far as to block the UI with a (closable) overlay when the user tries to edit a note for which the sync is overdue by more than 2x the sync interval.

[2021-04-15 21:48] gravypower commented on #4462
I agree with @novelx, I was very confused with what was going on. A non technical user would not resort to github issues to find out.

[2021-04-16 07:48] ajay-gh commented on #4490
I can confirm the same "work around" on Macos. When I expand the editor options (toolbar) the problem is gone ... as long as the toolbar remains unfolded. It is however not just a linked to this. Toolbar folded or not, those notes where the checkboxes work as expected do so all the time.

[2021-04-16 09:30] roooooc opened #4847 "import md file with %20 (space) in a picture link"
## Environment

Joplin version:  1.7.11
Platform: windows
OS specifics: win10

## Steps to reproduce

## Describe what you expected to happen

mport a md file with a link of a picture  have a

when import a md file with a  link of a picture , have space in it's name , like :

picture name : test .png
[code]
the picture can't   displays well.

[2021-04-16 10:42] PetrVladimirov opened #4848 "Sharing attachments from Joplin Android to external app fails"
There is a bunch of cross linked GitHub issues with regard to sharing, so my apologies if I create a duplicate.
This issue is about sharing from Joplin on Android to external app - it fails.

## Environment
Joplin version: 1.7.5
Platform: Android 10
OS specifics: Samsung A41

## Steps to reproduce
### Stage 1
1. Open any note with attachment in Joplin
2. Image attachments are shown as pictures
2.

[2021-04-16 10:43] milotype commented on #4846
@CalebJohn Thank you for your answer!
Can you please also advise, wheter or not to translate strings in angle brackets and square brackets, like in the following example:

[code]

[2021-04-16 11:02] roman-r-m commented on #4848
This will be fixed in the next release. The fix itself is [here](https://github.com/laurent22/joplin/pull/4718)

[2021-04-16 11:02] #4848 closed

[2021-04-16 14:39] PetrVladimirov commented on #4848
@roman-r-m - thank you for the quick reply! When should we expect to have a new version pushed into PlayMarket?

[2021-04-16 14:43] CalebJohn commented on #4846
@milotype

[According to this forum post](https://discourse.joplinapp.org/t/translating-enclosed-strings/14638/3?u=calebjohn) you should not change strings in angle brackets or square brackets.

[2021-04-16 15:02] roman-r-m commented on #4848
That's up to Laurent

[2021-04-16 18:23] Philipp91 opened #4850 "Fling scrolling broken in editor on Android"
## Environment

Joplin version: 1.7.5
Platform: Android 10

## Steps to reproduce

1. See [here](https://developer.android.com/training/gestures/scroll#term) for a description of what fling scrolling is.
2. Open a note and fling-scroll -- it works.
3. Click the editor icon (FAB).
4. Try to fling-scroll now and it doesn't work. If it's a long note, it might take you forever to scroll to the other e

[2021-04-16 18:28] Philipp91 opened #4851 "Android editor does not open at the right position"
## Environment

Joplin version: 1.7.5
Platform: Android 10

## Steps to reproduce

1. Open a note, scroll to a certain position (e.g. the very top or bottom).
2. Click the edit button (FAB).
3. Now the scroll position is always the very end of the note.

Personally, I usually add new content at the top, and due to #4850 it takes me a long time to scroll there on Android, which makes the app practi

[2021-04-16 19:14] roman-r-m commented on #4851
This is a duplicate of https://github.com/laurent22/joplin/issues/4216
Unfortunately, is a bug in react-native so we'll just have to wait.

[2021-04-16 19:14] #4851 closed

[2021-04-17 04:57] Subhra264 opened #4853 ""Stop" button overlaps with "bold" button during "external editing" in rich text editor( tinyMCE )"
![joplin_external_editing_issue](https://user-images.githubusercontent.com/59690052/115101523-8e6c3680-9f62-11eb-9c7f-bb0522015be2.png)

## Environment

Joplin version: Joplin 1.8.1 (dev, win32)
Platform:  Windows 10
OS specifics: Windows 10 Home Single Language

## Steps to reproduce

1.  Create a note
2.  Open the Rich Text Editor( the TinyMCE editor )
3.  Start external editing
4.  See the "sto

[2021-04-17 09:03] StanczakDominik commented on #3635
@forGGe's issue seems to have been identified over at https://github.com/alfredopalhares/arch-pkgbuilds/issues/85 as caused by electron 12.

[2021-04-17 11:16] roman-r-m commented on #4853
Can confirm for `Joplin 1.7.11 (prod, linux)`

[2021-04-17 12:36] mu88 commented on #4716
I've written a little proxy that converts all `HTTP 403` errors to `HTTP 404`: https://github.com/mu88/JoplinAsustorMediator

Now I can successfully use Joplin why my ASUSTOR NAS 👌🏻

[2021-04-17 12:36] #4716 closed

[2021-04-17 12:56] j0ch1n commented on #4194
I have currenty the same issue on Windows 10.
Like is mentioned above, for some zooming levels the lines appear. Unfortunately the lines only appear in when zooming too far out or in. The preferable zooming levels don't show the line.

[2021-04-17 12:57] thekenshow opened #4854 "Fatal error after resizing rendered Markdown region"
Joplin throws fatal error after resizing rendered Markdown region.

## Environment

Joplin version:  1.8.1
Platform: macOS
OS specifics: 10.15.7 (19H15)

## Steps to reproduce

1. Editing a note and wanted a wider view of rendered Markdown.
2. Dragged right edge of Joplin window to make it wider.
3. Dragged right edge of rendered Markdown display region to make it wider.
4. Switched to another app

[2021-04-17 13:02] roman-r-m commented on #4854
This seems to be coming from the text folding plugin. Paging @ambrt

[2021-04-17 14:59] coderrsid commented on #4853
Working on this. Thanks

[2021-04-17 15:30] Barafu opened #4856 "Can't restore a backup: a unique constraint error."
On Windows, I tried to remove a wrong driver, and ended up removing the user profile, because it is Windows. But I do have a backup of all C: drive! So, I have a copy of all user folders. I restarted Joplin and it looks like a first run, with Welcome notes and all.

If I just copy an old .config/joplin-desktop instead of a new one, the notes do not appear. I still see only the welcome notes. I del

[2021-04-17 15:49] nunesgh commented on #4162
Joplin version: 1.7.11
OS: Linux Mint 20.1

Same bug when using custom sorting of notes.

Also, a nice feature would be to sync the custom sorting. It is a waste of time to have to manually sort notes in each device.

[2021-04-17 16:32] laurent22 commented on #4856
Try deleting the file 0a579....md

[2021-04-17 16:46] Barafu commented on #4856
There is no file that would start with 0a579 anywhere on my PC.

[2021-04-17 19:32] roman-r-m commented on #4856
Are there any errors in log if you delete .config/joplin-desktop and copy your saved version?

[2021-04-17 20:57] myfta opened #4857 "Web Clipper visibility"
In many situations, the area highlighted by dragging the mouse is not clearly visible and in some cases not visible at all.

It is more of a problem when web pages have a grey background or in dark mode.

Can the overlay or its border colour be changed to say yellow or a bright green?

Joplin version: 1.7.10
Platform: Windows
OS specifics: 10

[2021-04-17 21:07] Barafu commented on #4856
Here is the log for that case: https://pastebin.com/V4aqHKfC

[2021-04-17 21:21] roman-r-m commented on #4856
Ok, this does not look like it saw your copied database
[code]

Here's what it looks like for me when I open Joplin
[code]

Can you double check you copied everything correctly pls?

[2021-04-17 21:29] Barafu commented on #4856
After reading your comment, I had an idea. The database file was called database `(2021_03_01 15_58_42 UTC).sqlite`. I renamed it to `database.sqlite` and my notes where found immediately. So. my problem is almost solved - I would export and reimport everything for good measure.

Thanks.

Tell me if it is a sort of a bug and I can help to resolve it. (И всем привет).

[2021-04-17 21:36] roman-r-m commented on #4856
I don't know why it was called this way, should have been `database.sqlite`. Maybe it was your backup tool that renamed it?
И привет, да

[2021-04-17 21:42] Barafu commented on #4856
I guess it could be. Anyway, in the absence of a simple error message I'd never had found it myself. Closing the issue.

[2021-04-17 21:42] #4856 closed

[2021-04-17 22:19] amiablechief opened #4858 "Error while loading shared libraries: libicui18n.so.68: cannot open shared object file"
The package core/icu received an update to version 69 from version 68 and now Joplin-desktop won't load.

## Environment

Joplin version: 1.7.11
Platform: Linux x86-64
OS specifics: ArcoLinux (an ArchLinux variant)

## Steps to reproduce

1. Try to launch Joplin-desktop
2. console throws above error

## Describe what you expected to happen
Joplin desktop should launch

[2021-04-18 03:56] fakeYanss commented on #4700
+1，I also got this unexpected result when I try to sync between mobile and desktop.

[2021-04-18 05:22] JayKimber commented on #4194
I found a way to zoom out and increase the font size. It works for me, but it means that the default settings are not working correctly with the LaTeX/KaTeX functionality you offer. It is up to you what to do with it. I will move on to another editor for now.

[2021-04-18 05:54] tessus commented on #4194
1. Joplin is not an editor
2. It's not a Joplin issue (this is what this label named `upstream` means)

[2021-04-18 06:15] JayKimber commented on #4194
Good luck

[2021-04-18 07:11] 38569459 opened #4859 "Joplin-desktop don't start"
Today, i just update joplin to a new version and joplin-desktop just don't start.

## Environment

Joplin version: joplin 1.7.0 (prod)
Joplin-desktop version: joplin-1.7.10-1 and joplin-1.7.11-2 both have this problem
Platform: linux
OS specifics: arch linux

## Steps to reproduce

1. Type 'joplin-desktop' to terminal
2. See the hang

## Describe what you expected to happen

Seeing joplin desktop

[2021-04-18 07:45] 38569459 commented on #4859
Sometime, joplin-desktop start and look like this.
![2021-04-18-144359_1920x1080_scrot](https://user-images.githubusercontent.com/37035950/115138156-b0de7c80-a054-11eb-96cf-01991134da7b.png)

[2021-04-18 07:48] willemswang commented on #2406
Same problem here. Unable to sync Joplin on my iphone and MAC.
Completed: 2021.04.18 15:47
Last error: Error: Not a valid URL: https://graph.microsoft.com/v1.0/drives/b!TQrdju4Q-UCnxYZUQ4EkXOGNI9NK42lHu_nnAkJZHRV6gZ7G_M4tTY5TfFUT4dVm/root:/应用/Joplin/info.json:/content

[2021-04-18 10:20] naraesk commented on #4858
Same here, joplin doesn't start at Arch Linux.

[2021-04-18 11:33] roman-r-m commented on #4859
When you get a blank window, can you open dev console (should be under the  "Help" menu) and see if there are any errors

[2021-04-18 11:46] zuntik opened #4860 "Joplin won't start - missing libicui18n.so.68"
## Environment

Joplin version: 1.7.11-2
Platform: ArchLinux

## Steps to reproduce

1. Run `joplin-desktop` on the terminal
2. Check the output

## Logfile

This is what I see when I run `joplin-destkop` from the terminal

[code]

[2021-04-18 11:52] #4860 closed

[2021-04-18 12:01] idealclover commented on #4610
Hello~any updates here?

[2021-04-18 13:29] 38569459 commented on #4859
Here is what i got when open joplin with ``joplin-desktop --open-dev-tools --debug --log-level debug```

![image](https://user-images.githubusercontent.com/37035950/115147343-beabf600-a084-11eb-80ef-532a6b1dc02b.png)

[2021-04-18 13:34] roman-r-m commented on #4859
What's in the console tab?

[2021-04-18 13:35] 38569459 commented on #4859
Here:
![image](https://user-images.githubusercontent.com/37035950/115147549-a2f51f80-a085-11eb-8ccc-000dcaa62131.png)

[2021-04-18 14:18] hubitor commented on #4859
Joplin does not start (again...)

This is what I get, when I try to start it in the terminal:

[code]

[2021-04-18 15:03] CalebJohn commented on #4859
@38569459 @hubitor

How did you install Joplin?

[2021-04-18 15:04] 38569459 commented on #4859
I install joplin by AUR, i also try to download the appimage file and run it but joplin still don't start

[2021-04-18 15:36] Subhra264 commented on #4847
@roooooc  can you try adding 'file:///' at the beginning of the path( in the Joplin editor ), For example,
[code]

[2021-04-18 16:07] kleinfelter commented on #164
I wonder if this could be accomplished via a transparent, local WebDAV proxy?

Instead of configuring Joplin to sync via WebDAV to https://my-real-server/webdav it would be configured to sync with https://localhost/webdav. Then one would create a program to run on the local computer which presents a WebDAV interface, while silently relaying requests via the upstream corporate proxy.

[2021-04-18 16:08] MCWertGaming commented on #4859
I have the same error here on archlinux. I have tried to install the programm with both the AUR packages (jublin-desktop wich just extracts the debian package and re-packages it as an archlinux package, juplin-appimage which is just the appimage), the appimage as standalone and the shell installer wich uses the appimage as well and all have the same error as descibed here. Also I get a slightly di

[2021-04-18 16:18] MCWertGaming commented on #4859
This seems to be the line:
![image](https://user-images.githubusercontent.com/39553804/115152677-821ad300-a061-11eb-96be-ffa77a2bea38.png)
in this file
![image](https://user-images.githubusercontent.com/39553804/115152692-9f4fa180-a061-11eb-9ba0-e00670cd5585.png)

[2021-04-18 16:18] tessus commented on #4858
I'm sorry, but how is this Joplin's fault? If you remove a library from the system, which is needed by Jolin, how should we make Joplin work without it?

It's the same as: my car doesn't start when I remove the battery.

[2021-04-18 16:21] tessus commented on #4859
This is from the Joplin README:

Unsupported methods:

An Arch Linux package is available [here](https://aur.archlinux.org/packages/joplin/). To install it, use an AUR wrapper such as yay: `yay -S joplin`. Both the CLI tool (type `joplin`) and desktop app (type `joplin-desktop`) are packaged. You can also install a compiled version with the [chaotic-aur](https://wiki.archlinux.org/index.php/Unoffi

[2021-04-18 16:28] MCWertGaming commented on #4859
Well yes, but the official appimage and install script is not working either and those are supported options. Also I think that this problem is not caused by the packaging. I mean the appimage provides all dependencies itself so there shouldn't be a problem. I think that this is the same problem as dicussed here nodejs/node/issues/33741. It look likes require() is not a client side function so js

[2021-04-18 16:30] roman-r-m commented on #4859
Ok for me on Mint

[2021-04-18 16:44] MCWertGaming commented on #4859
The version 1.8.1 (pre-release) has the following error:
![image](https://user-images.githubusercontent.com/39553804/115153323-dd01f980-a064-11eb-9180-e42b96dfb4d1.png)

[2021-04-18 16:51] roman-r-m commented on #4859
From a quick search looks like it can occur when `/tmp` is mounted as `noexec`

[2021-04-18 17:21] mablin7 commented on #4529
I think this is the same issue I'm facing: when a plugin panel is closed (hidden) it still takes up space, but only if it was resized at some point.

I believe the problem is that, when a panel to the right of the editor is resized, it actually resizes the editor, which thereby gets assigned a fixed size in the layout, so it can no longer take up the free space left by the hidden panel.

Here I've

[2021-04-18 17:27] naraesk commented on #4858
Car metaphors are never a good idea in software engineering. :-)

The library was not removed but updated. Mainly I was wondering why Joplin was breaking while all other apps that depend on icu keep working. AFAIK icu is backward compatible so a new version should not break anything. So maybe something could improved on Joplin's side to prevent this problem in the future, maybe not. You certainly

[2021-04-18 17:37] tessus commented on #4858
Ok, so `libicui18n.so.68` is still on your system? If an app references a file or link that does not exist anymore there's not much anyone can do. Joplin is built/packaged with electron-builder which creates an AppImage on Linux. This should bundle all the required libs. I do not know what the aur package dev did.

Either way, there's also #4859 which seams to be related.

[2021-04-18 17:45] naraesk commented on #4858
No, only `libicui18n.so.69`

[2021-04-18 17:46] hubitor commented on #4859
@CalebJohn with joplin-desktop package from the AUR.

[2021-04-18 18:25] laurent22 commented on #4529
This is strange because there's a validateLayout function that should take care of this - if all layout items have a fixed size, then the last item should be changed by this function to have a flexible size. So maybe the issue is that it's somehow not called when it should.

https://github.com/laurent22/joplin/blob/7151a4813843a4f9bcf303265dfb744e31d2bd05/packages/app-desktop/gui/ResizableLayout/u

[2021-04-18 18:27] mablin7 commented on #4529
Oh I did not know that. So maybe [my long post](https://discourse.joplinapp.org/t/fixing-ghost-panel-and-resizing-issues-4529/16814) on the forum proposing a solution was pointless..

[2021-04-18 18:33] miDeb commented on #4859
What's the error printed in the console when running `joplin-desktop`? If it complains about `icu68`, try installing `icu68` from the AUR to check if it fixes the issue. (That was the case for me)

[2021-04-18 18:38] mablin7 commented on #4529
Oh yes, I've got it. It's because the plugin panel has no width, so the function assumes that that should stretch to take up the free space, but it's not visible. So I guess a visibility check here would solve the issue?

https://github.com/laurent22/joplin/blob/7151a4813843a4f9bcf303265dfb744e31d2bd05/packages/app-desktop/gui/ResizableLayout/utils/validateLayout.ts#L22

[2021-04-18 20:23] amiablechief commented on #4859
Joplin-desktop started working for me again after installing aur/icu68

[2021-04-18 20:45] amiablechief commented on #4858
From the bug linked by tessus, I installed aur/icu68 as someone on that thread suggested and it fixed the problem. Joplin-desktop works now.

[2021-04-18 23:03] #4858 closed

[2021-04-18 23:08] axtyax commented on #4801
Should this be split into two PR's @tessus ? One for checking `app_min_version` at initial install and another for checking on update. Or would one suffice?

[2021-04-18 23:20] enunez commented on #4542
AFAIK, the issue remains and has not been addressed.

[2021-04-18 23:21] #4575 closed

[2021-04-18 23:28] johnb0647 commented on #4663
Issue has NOT been resolved.

I continue to update joplin on the device every new update with no improvement.
I found some older versions and tried them with no improvement.

As I said.... Joplin worked fine on this device for months then suddenly stopped.  Calling the app results in message "Unfortunately Joplin has had to stop"

[2021-04-18 23:48] jtagcat commented on #1718
notfixed

[2021-04-19 00:13] zuntik commented on #4859
For me, after waiting a substantial number of minutes, aur/icu68 installation failed. The package build process had errors. :(
Any suggestions?

[2021-04-19 00:14] wishinghand commented on #3865
Still an issue for me.

[2021-04-19 00:31] aashimawadhwa commented on #4699
hey stale bot.

[2021-04-19 00:31] aashimawadhwa commented on #4454
hey stale bot

[2021-04-19 01:30] Jonta commented on #4450
Still requires the community's attention

[2021-04-19 01:32] Jonta commented on #4685
Still requires the community's attention

[2021-04-19 02:22] doomsy commented on #3865
Still an issue here too.

[2021-04-19 02:36] amiablechief commented on #4859
Can you try again and share error output? Difficult to tell without taking a look.

[2021-04-19 02:43] 38569459 commented on #4859
For me, running joplin-desktop print nothing on terminal but after I install icu68 from AUR, joplin-desktop works again. This can be a workaround until the problem is fixed.

[2021-04-19 02:59] 38569459 commented on #4859
After some testing, 1.7.11 install from AUR don't work, 1.6.8, 1.7.11 and 1.8.1 appimage work as expect after install icu68 from AUR.

[2021-04-19 03:08] amiablechief commented on #4859
I prefer to stay away from appimages, but that's not surprising given an appimage will bundle the executable and all its dependencies into 1 package. It never has to reach out into the installed library infrastructure of your OS.

[2021-04-19 03:10] 38569459 commented on #4859
In this case, it does. Appimage only work after i install icu68, so maybe they should package icu into the appimage?

[2021-04-19 04:03] novelx commented on #4613
Anyway I want let it open and hope it will be fixed soon

[2021-04-19 06:59] laurent22 commented on #4529
That would make sense, and maybe we could replace the condition `if (itemIndex === parent.children.length - 1)` with something like `if (isLastVisibleItem(itemIndex, parent.children))` to abstract away the complexity.

[2021-04-19 07:37] antoniopaolini commented on #4460
the problem is still there

[2021-04-19 07:45] ajay-gh commented on #4693
problem still present in v1.8.1

[2021-04-19 08:12] roman-r-m commented on #4450
Looks like it's been fixed. Maybe hasn't been released yet.

[2021-04-19 08:14] roman-r-m commented on #4663
@johnb0647 can you confirm Android version your tablet runs?
As I wrote above, the error is similar to what I saw on Android 4.x. If you have this version there's not much we can do as react-native, on which Joplin is built, dropped the support for Android below version 5 sometime ago.

[2021-04-19 08:38] roman-r-m commented on #4644
There's a PR pending.

[2021-04-19 08:40] StanyStany commented on #3865
Still an issue indeed. It was such an annoyance that I had to move to Bear, sadly.

[2021-04-19 10:01] Subhra264 commented on #4847
As far as I can see, the issue is with this line ---
https://github.com/laurent22/joplin/blob/ad09bd93d62a248f4741966a4983610ece826e3c/packages/app-desktop/gui/NoteEditor/utils/useMessageHandler.ts#L91

For example, if I write `[image](my%20file.png)`, the else part in the above file gets executed( as the path doesn't start with 'file:///' ), `openExternal` fails to find such file because the give

[2021-04-19 13:12] jottr commented on #4384
For me, this breaks backspace completely. `iTerm 3.4.4`

[2021-04-19 15:04] scuba-tech commented on #3865
Still an issue for me. It’s bad enough that I gave up on Joplin for my org and moved to Textastic for my notes. (Still rooting for Joplin!)

[2021-04-19 16:41] CodicePauperem commented on #4706
Still an issue. I'd still hope to find a resolution. As is, with the inability to sync correctly bidirectionally through WebDAV, Joplin is not usable for me.

[2021-04-19 16:49] roman-r-m commented on #4706
If you reinstall android app does it happen consistently?
Also, what's your webdav server?

[2021-04-19 16:58] dot-clear commented on #4581
Yes

Le 19 avr. 2021 à 01:17, stale[bot] ***@***.***> a écrit :

﻿

Hey there, it looks like there has been no activity on this issue recently. Has the issue been fixed, or does it still require the community's attention? This issue may be closed if no further activity occurs. You may comment on the issue and I will leave it open. Thank you for your contributions.

—
You are receiving this because

[2021-04-19 17:22] CodicePauperem commented on #4706
It does happen on client delete and reinstall, unfortunately, yes.

I'm using shared hosting for WebDAV. The host is running Apache 2.4.29 and
I presume that is how WebDAV is being implemented but I'm not sure.

On Mon, Apr 19, 2021 at 11:50 AM Roman Musin ***@***.***>
wrote:

[2021-04-19 18:15] mzguy opened #4861 "Android lists don't update after sync"
There's a list refresh bug in Joplin for Android. I think this will reproduce it reliably:

1. Ensure Joplin Android is closed, but if necessary first configure the "All Notes" view to sort newest notes at the top, and leave that view open.
2. Use Joplin on another synced platform to create a new note.
3. Give that platform enough time to sync the new note.
4. Open Joplin Android and immediately l

[2021-04-19 18:39] hubitor commented on #4859
@miDeb Thanks! That did the trick!

[2021-04-19 19:07] roman-r-m commented on #4706
Ok, I'll see if I can reproduce it. I've been using Apache's WebDAV for some tests but was not looking at each note so could've missed that easily.

[2021-04-19 19:15] CodicePauperem commented on #4706
Thank you!

I am wondering if some of this could be explained by a time zone difference between my location and the host datacenter. I'd presume everything is using UTC, but...?

[2021-04-19 19:40] armaccloud opened #4862 "Persistent message: Some items cannot be synchronized. View them now"
## Description
Since I reinstalled my laptop and with it, joplin, it gives a sync error after getting all the notes from Nextcloud.

## Environment

Joplin version: 1.7.11
Platform: Linux
OS specifics: Pop!_OS 20.10

## Steps to reproduce

1. Clear & Reinstall Joplin
2. Enter the decryption password in the settings while synchronization is happening
3. Verify that one or more items don't get decry

[2021-04-19 20:39] diogogomes commented on #3384
@wisp3rwind, thanks for the test.

Today I updated Xwayland in Debian and the problem remained. After the update and after reading your suggestion I'm not sure if it's Xwayland any more.

Maybe it's the composer Mutter like you said. I just can't figure out why Joplin is the only Electron application that has the problem with Mutter since it doesn't have elaborate graphics.

Everything works fine

[2021-04-19 22:21] diogogomes commented on #3384
@laurent22, does this mean that it works in your side with Gnome and Wayland or that you have not tried with the reported operating systems / Linux distributions?

[2021-04-19 22:33] john-cj commented on #4859
I have the same issue on Windows 7. After installing the app and launching it, although the processes (as hown in Task Manager) start, GUI is not shown. If I launch the app again, it will show the GUI, but the GUI is blank.

[2021-04-19 22:39] Karob2 commented on #4465
I'm on 1.7.11, Windows 10, and I noticed that the app is still syncing (with Dropbox) even after setting the synchronization interval to "Disabled".

[2021-04-19 23:17] john-cj opened #4863 "Doesn't work on Windows 7 ?"
After installing the app and launching it, although the processes start (as shown in Task Manager), GUI is not shown. If I launch the app again, without killing the existing processes, it will show the GUI, but the GUI is blank.

This happened with Joplin 1.7.11, then I tried 1,7.10, 1.6.8, 1.4.12, and 1.8.1, there are no changes.

I just discovered that, for example, version 1.1.3 works for me, b

[2021-04-20 00:16] Karob2 commented on #4465
I assume the frequent synchronization is also why I'm getting a "too_many_requests" error returned:

`Last error: Error: POST files/upload: Error (429): {"error_summary": "too_many_requests/.", "error": {"reason": {".tag": "too_many_requests"}, "retry_after": 15}}`

[2021-04-20 01:39] john-cj commented on #4649
Hello folks. I faced the same problem today on Win7 32-bit and tested a lot of Joplin versions.

* 1.7.11 (the current one), 1,7.10, 1.6.8, 1.4.12, 1.8.1 - fail
* 1.1.3 - works
* there are probably other versions that work, for example 1.1.4 or 1.2.1, but I have not tested

I would say this created a very bad impression. If the app doesn't work on some OS / bitness, the developer should clearly st

[2021-04-20 01:40] john-cj commented on #4863
Duplicate of https://github.com/laurent22/joplin/issues/4649

Please fix it. Thanks!

[2021-04-20 01:40] #4863 closed

[2021-04-20 06:58] wisp3rwind commented on #3384
I don't think so, running through Xwayland will use completely different code on the compositor side. How elaborate the graphics are also shouldn't matter, the Xorg/Wayland protocols are really only about sending the graphics to the compositor after the client has rendered them.

I guess this one will be really hard to pin down, there's simply too many hard-to-debug components which could be the p

[2021-04-20 07:51] 100111001 commented on #4045
I've the same problems on a windows V10 box as well on a fedora 33 box.
Joplin Version is1.7.11 (prod, win32)
As webdav provider I'm using drivehq.com