[2020-02-06 19:34] coderrsid commented on #2296
Sure, @laurent22

[2020-02-06 19:40] dandee commented on #2396
**Joplin 1.0.179 (prod, darwin); first-time ever installation on Mojave 10.14.6 (18G3020); is missing main window.**

Upon application launch you can see "Window" section of menu briefly visible along the rest of menu then it disappears. Main window never shows up and it's not present in Applications Windows view. Clicking on Joplin->About Joplin presents "about" window and then main window materi

[2020-02-06 22:07] wbswbs commented on #2409
Is it possible to access that history in the menu, like for instance the list of the last used documents in Libre Office?

I know this is gonna extend the feature, but think of that possibility, before implementing the back button.

[2020-02-07 01:37] tessus commented on #2085
@Runo-saduwa sorry, I have just fixed this, because I didn't see your comment.

[2020-02-07 02:04] Nowasky commented on #1546
I'm experiencing the same issue on my Windows machine, adding the fact that the editor hangs for a second each time the preview screen is updated.

[2020-02-07 03:11] Spansky opened #2458 "Wrong display of pipe in code formatting"
Following markup...

[code]

... is displayed like this in Joplin:
![image](https://user-images.githubusercontent.com/5704072/73997189-c3611e80-4998-11ea-9761-fb6496d27a82.png)
,but it should be displayed like this (Github):
![image](https://user-images.githubusercontent.com/5704072/73997231-db38a280-4998-11ea-8ad2-dd6aa8ae460b.png)

## Environment

Joplin version:
Platform: macOS 10.15.3
OS speci

[2020-02-07 03:31] Spansky commented on #2458
One more thing: In Joplin 1.0.175 it was OK to put the | symbol unescaped into a code section. No issues. The table looked good, the code looked good.

[2020-02-07 06:02] tessus commented on #2458
You use the wrong code formatting. 3 backticks are used for code blocks and start at the beginning of a line followed by the language (to highlight) and a newline. The last 3 backticks are on a separate line gain.

You have to use a single backtick.

Pease check the markdown specs before reporting a bug.

[2020-02-07 06:02] #2458 closed

[2020-02-07 08:09] whudwl opened #2459 "emacs key binding, cannot toggle layout with keyboard"
Reproduce the issue:
1. go to options, general section
2. switch to emacs keyboard mode.
3. open a note, try to use CTRL+L to toggle layout.  it doesn't work.

version:1.0.179
OS: windows 10

[2020-02-07 08:54] wawacorp commented on #2406
@mugoro I have similar problem on my android app as well.
Changed is sync to File system to sync to my phone storage, and the button works again.
What I noticed is the sync start failing when on the dektop app, the authentication of Onedrive gives u a localhost link instead the open up login of outlook.com.

[2020-02-07 09:25] domhnallw commented on #2452
I've hit the same error as @z49x2vmq on my Ubuntu 18.04 x86-64 desktop.

The `.desktop` file gets created, but it's got the version number inserted as the last line on its own rather than being a key-value pair:

[code]

If you try to use `update-desktop-database` to get Gnome to re-examine the file, it reports:

[code]

The culprit seems to be a reference to `$APPIMAGE_VERSION` [here](https://git

[2020-02-07 10:14] ruben-mar opened #2460 "Linux AppImage not loading ERROR :GL_INVALID_OPERATION"
[log.txt](https://github.com/laurent22/joplin/files/4170117/log.txt)

I run the AppImage but the window is not showing in the desktop.

## Environment

Joplin version: .joplin/VERSION 1.0.179
Platform: Linux
OS specifcs: Ubuntu 19.10  kernel 5.3.0-29-generic

## Steps To Reproduce

1. At the shell `$ ~/.joplin/Joplin.AppImage`

2. The output is
[code]
Clicking on the icon on Ubuntu's desktop opens

[2020-02-07 11:11] mugoro commented on #2406
The only way to fix this was to take a clean copy of Joplin v1.0.179 (I work with portable versions). Start making the synchronization settings with Onedrive. Start the synchronization (do not enable encryption until you will be asked for). This will work smooth if your last savings are on Onedrive and not locally. Anyway, if you have many local documents (unsynchronized), before installing a clea

[2020-02-07 12:06] jaklan commented on #296
+1, great it could be a great use-case for GSoC 2020 @laurent22

[2020-02-07 18:30] BengaloBongali opened #2461 "Make "All Notes" Section on Desktop"
On Android, there is an "All Notes", "Alle Notizen" section. This is missing on Desktop (Mac). Especially when wanting to search in all notes, this is essential. I have to search in each notebook now, if I'm not sure, where I put it or I only use one notebook for ease of use.

## Environment

Joplin version: 1.0.179
Platform: Mac OS
OS specifcs: 10.12.6

## Steps To Reproduce

1. Open Joplin
2. Se

[2020-02-07 21:13] tessus commented on #2459
If Ctrl+L has a meaning in Emacs, it won't work. The Emacs key bindings override everything else. This was known from the beginning and accepted as a drawback for using those keyboard modes.
How would you ever solve this problem?

Maybe @ShaneKilkelly who implemented this has an idea. I'm sorry, but we won't be able to fix this.

[2020-02-07 21:13] #2459 closed

[2020-02-07 21:15] #2461 closed

[2020-02-07 21:16] tessus commented on #2461
⚠️
The GitHub issue tracker is for **bugs** and **security issues** ONLY. For feature requests and support, please use the forum:
https://discourse.joplinapp.org/
⚠️

[2020-02-07 21:27] rheo-chiti commented on #2445
@laurent22  I tried solving this issue for mobile and found out that ```Intl.Collator``` and ```locale``` don't work correctly for android(for ios it works fine),can you give some other direction on how to solve this issue?

[2020-02-07 22:15] #2085 closed

[2020-02-07 23:13] BengaloBongali commented on #2461
Did, thanks!

[2020-02-07 23:36] #2449 closed

[2020-02-07 23:36] #2455 closed

[2020-02-07 23:50] tessus commented on #2461
Thanks for opening it in the forum.

[2020-02-08 00:16] #2374 closed

[2020-02-08 03:37] tessus opened #2467 "edit menu items and shortcuts not disabled in preview mode"
## Environment

Joplin version: 1.0.179 (and git master 639712c003b09d5652b5e25a681e93f6a29474f9)
Platform: all desktop apps
OS specifcs: macOS (but irrelevant)

## Steps To Reproduce

1. Set the layout to `Preview only`
2. Open `Edit` nenu or use a shortcut like `Cmd+B`

Result: text is added to the top of the note, even though I shouldn't be able to edit/add text in preview mode

Describe what y

[2020-02-08 05:34] tessus opened #2469 "find a good geolocation service (https)"
Joplin curently uses ip-api.com (80) as the geolocation service. Additionally it uses api.ipify.org (443) to retrieve the IP address, which is then fed into ip-api.com (80).

There were reports that the geolocation service does not always provide accurate results.

This change involves 2 parts:

- use a more accurate API, which is free and uses https
- maybe get rid of the separate request to api.

[2020-02-08 05:52] tessus opened #2470 "location displayed incorrectly in note properties"
The coordinates `40.712776, -74.005974` are shown as `40° 42' 45"' 74° 0' 21"'`, which is not only inprecise, but also wrong. Instead it should show the following:

`40° 42' 45.9936"' N, 74° 0' 21.5064" W`

While the number of decimals places can be discussed (2 or 3 should be fine as well), the **N S W E** designations are essential!

This is a great first issue to start with, if you want to part

[2020-02-08 05:55] mic704b commented on #262
@laurent22 how would this look on the desktop?

Like this: **Option A**
Rename `Notebooks` in the sidebar to `All Notes` and show all notes when selected?
Not sure how rolling and unrolling the Notebooks would work then.

Or perhaps: **Option B**
A new selectable item in the sidebar named `All Notes` (between `Notebooks` and `Tags`)?

Or simply like this: **Option C**
Each notebook shows notes con

[2020-02-08 06:30] Sparsa commented on #2309
Hi,
I am also facing the same problem when typing in Bengali(India) script, the cursor is going beyond the text. Joplin 1.0.179(prod. linux).
![image](https://user-images.githubusercontent.com/1224636/74080498-9f6e0d80-4a6a-11ea-9a29-c0fc411fd8aa.png)

[2020-02-08 07:56] weippl commented on #262
I would suggest keeping it similar to the mobile version; if you use joplin on different platforms it's nice to have the same or at least a similar UI on all devices.

which is option B but the sidebar item is a the top. Would also be similar to Evernote.

[2020-02-08 08:08] mic704b commented on #262
Thanks @wippl, I agree.

Could you confirm the behaviour wrt creating new notes?  Is it disabled when in the "All Notes" view?

[2020-02-08 08:10] weippl commented on #262
No, you can create a new note in the "all" view. It seems to go to the first notebook in the list.

[2020-02-08 09:15] handleman opened #2471 "problem with cyrilic fonts in text editor"
## Environment

Joplin version: 1.0.179 (prod, darwin)
Platform: MacOs Catalina 10.15.3

## Steps To Reproduce

1. switch to cyrilic font in your operation system ( in my case Russian)
2. try to  write some text with spaces - several paragraphs of text.
3. You will easily note wrong behaviour: wrong places for "space" character and wrong text wrapping.

For example when you are trying to split one

[2020-02-08 09:44] msbentley commented on #262
The solution to this problem in Evernote is to allow one notebook to be the "default", in which notes are created in the "All Notes" view. We already have right-click actions on the notebooks, so adding a "Set as default" would be one option?

[2020-02-08 10:15] laurent22 commented on #2471
As I can't write in cyrilic, could you please post an example that shows the problem?

Please note that the text editor only supports monospace fonts though, so if your system forces a non monospace font in Joplin it won't work. The only way might be to specify a cyrilic monospace font in Joplin settings.

[2020-02-08 10:20] laurent22 commented on #2415
I've just tried your Katex code and it looks like it's all been fixed in 95e0e8d459a55cc81dcd7c617cf6619f2c304696 If you notice anything else not working, please let me know.

[2020-02-08 10:20] #2415 closed

[2020-02-08 11:13] #2357 closed

[2020-02-08 11:16] laurent22 commented on #2357
I couldn't quite replicate any slow down or memory leak on my side (it stays at 90MB on Windows and load fast), however I've optimised how the Katex assets and other plugin assets (CSS and fonts) are loaded and I think it should make it faster and consume less RAM.

Another thing that was changed in a recent release is that rendering is now asynchronous but I hope it's not the issue as that will b

[2020-02-08 11:31] #2401 closed

[2020-02-08 11:31] kakila opened #2473 "Electron deprecation"
The following output is produced by starting from command line
[code]
## Environment

Joplin version: Revision: 66356d8 (HEAD)
Platform: Linux
OS specifcs: Ubuntu 19.10

## Steps To Reproduce

1. Install using the bash script
``
wget -O - https://raw.githubusercontent.com/laurent22/joplin/master/Joplin_install_and_update.sh | bash
``
2. Start using
[code]

[2020-02-08 11:36] laurent22 commented on #2301
But it's supported on Android so this fine.

[2020-02-08 11:59] #2301 closed

[2020-02-08 12:17] #2294 closed

[2020-02-08 12:32] tatoosh commented on #262
Here s screenshot that shows, no subnotes can be shown at the moment:
![image](https://user-images.githubusercontent.com/3670907/74085255-70aa6400-4a77-11ea-98a4-c6e7c766a286.png)

[2020-02-08 12:46] nkalvi commented on #2294
Thanks - looking forward to test it.

[2020-02-08 13:25] eh8 commented on #2415
Awesome, thanks so much! This is brilliant.

On Sat, Feb 8, 2020 at 05:20 Laurent Cozic <notifications@github.com> wrote:

[2020-02-08 16:13] garretzou opened #2475 "Joplin 1.0176.2323 and 1.0.179.2330 not display gui when loaded"
## Environment

Joplin version: 1.0176.2323 and 1.0.179.2330
Platform: Windows 10 Pro
OS specifcs:  17763.973

## Steps To Reproduce

1. Joplin 1.0176.2323 suddenly can't display any gui when the Joplin app starts.
2. After upgrade it to version 1.0.179.2330, still nothing show up. I found in Win+Tab window, the Joplin window is there, but when select that window, the Joplin window still do not di

[2020-02-08 16:52] laurent22 commented on #2473
Not a bug, just a warning.

[2020-02-08 16:52] #2473 closed

[2020-02-08 17:15] #2277 closed

[2020-02-08 17:22] laurent22 opened #2476 "Check and fix window dimensions and position when the application start"
It happens that the Joplin window, when starting, is off-screen or has invalid dimensions, like 1x1 pixel.

After the app is started (1 or 2 seconds after to make sure it's properly initialised), there should be two checks:

- Check that the window has correct dimensions (for example a minimum of 100x100 pixels)
- Check that the window rectangle is within one of the active screens.

If it's not, t

[2020-02-08 17:28] daukadolt commented on #2476
Can I take on the issue?

[2020-02-08 17:29] laurent22 commented on #2476
Yes please, go ahead.

[2020-02-08 19:34] ganeshbelgur opened #2477 "Katex: 3x3 and above matrices render with a break in the delimiters"
Any 3x3 matrix or a higher order square matrix renders with a tiny break in the delimiters. This nit picky detail can be a bother when the matrix is viewed on a huge screen. Can this be fixed?
![4x4](https://user-images.githubusercontent.com/10693043/74090810-d0cff300-4ad5-11ea-8921-64b374c4908a.png)

## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifcs: Ubuntu 18.04.4 LTS

## Steps

[2020-02-08 21:11] anjulalk commented on #2470
Hi, can I work on this?

[2020-02-08 21:19] tessus commented on #262
Since `All notes` is a virtual folder, it should not be possible to create a note or folder.
It should also not be possible to drag notes/folders (or copy and move) into that virtual folder.

If people want the possibilitty to create a note/folder in the `All notes` virtual folder, we would have to either
- create a default folder (e.g.: `Default Notebook`) automatically (if it doesn't exist)
- le

[2020-02-08 21:20] tessus commented on #2470
Sure, please go ahead.

[2020-02-08 23:25] tessus commented on #2396
see #2476
Somebody is workibg on it....

[2020-02-08 23:51] tessus commented on #2475
see #2476
Somebody is workibg on it....

[2020-02-09 02:20] laurent22 commented on #262
Note that internally there's already a concept of default notebook, which is used in various places when the active notebook is not known. I guess we would just need to make that visible in the UI and allow the user to set it. A good place for this could be the Notebook Properties dialog that @bedwardly-down is creating.

And I agree with Weippl that option B would be best, as it would be consiste

[2020-02-09 03:16] bedwardly-down commented on #262
I like option B too and do agree but the current All Notes implementation on mobile bugs the hell out of me because it lacks one useful piece of information: it doesn't include any direct indication of which folder that note is in. If someone were to have multiple notes of the same name for whatever reason, figuring out which note is where in the current layout is a nightmare.

I propose that once

[2020-02-09 03:23] mic704b commented on #262
Thanks all.  Ok, so how about to start with, we use the last used notebook (which is the current concept of default notebook).  When the notebook options dialog is available, we can later add an option for the user to override this and select a default notebook if they desire.

In any case, the notebook is shown on the note toolbar, so it is clear to the user where the note has been assigned.

[2020-02-09 03:25] bedwardly-down commented on #262
Yeah, but it's definitely not clear on mobile, so I at least propose that the icon suggestion be implemented there, since that makes quite a bit of sense for that platform. I can definitely agree with the rest though.

[2020-02-09 03:43] bedwardly-down commented on #2460
(node:5023) Electron: Loading non context-aware native modules in the renderer process is deprecated and will stop working at some point in the future, please see https://github.com/electron/electron/issues/18397 for more information
(node:5023) Electron: Loading non context-aware native modules in the renderer process is deprecated and will stop working at some point in the future, please see htt

[2020-02-09 04:05] ganeshbelgur commented on #2477
On the other side, Katex itself has some issues when rendering a 3x3 matrix. Take a look at https://github.com/KaTeX/KaTeX/issues/2198.

If the fonts get modified, don't you think storing font format files into Joplin can be a burden when the updates roll in?

[2020-02-09 06:41] tessus commented on #2477
There's not much we can do, if we want to keep Joplin self contained.

[2020-02-09 08:47] tessus commented on #2469
@laurent22 I've been looking into this and here are the results:

`ip-api.com` is actually quite precise. I suspect the person who had an issue either used a VPN or there was a glitch in the geo database. However, I'm really concerned about unencrypted traffic on port 80. To use SSL with that provider one has to buy a pro account, which we couldn't use in Joplin anyway, because the API key would b

[2020-02-09 14:23] Dodoveloper commented on #2441
Deleting the mentioned folder worked for me (I'm using Arch Linux) :+1:

[2020-02-09 14:38] bedwardly-down opened #2481 "Desktop: Jex Import Fails When Syncing Service Is Not Authorized"
## Environment

Joplin version: v1.0.179
Platform: Linux
OS specifcs: Artix Linux with custom built desktop

## Steps To Reproduce

1. Export Joplin Notebooks to Jex File
2. Backup Joplin config directory
3. Delete Joplin config directory to start with a fresh profile
4. Start Joplin
5. Delete Welcome Notebook
6. Set language to English US in Tools->Options
7. Leave Synchronization settings at the

[2020-02-09 17:10] prurph commented on #2425
Same issue here on OS X. When opening a note in Code from the Desktop app, it works as expected. When opening from the CLI, it opens a blank markdown file in `~/.config/joplin/tmp`

[2020-02-09 18:29] #2481 closed

[2020-02-09 20:42] rheo-chiti commented on #2383
Is this issue fixed for mobile yet,if not can I work upon this ?

[2020-02-09 21:25] Runo-saduwa commented on #2383
Sorry there’s already a pull request for this and it’s not a single
platform issue.

On Sun, Feb 9, 2020 at 9:42 PM Chitransh Anand <notifications@github.com>
wrote:

[2020-02-10 00:28] AdamIsrael commented on #160
Ideally, I'd love to have the word count in a status bar on the bottom of the Joplin window. For those of us writing to length, it's nice to have a realtime counter rather than having to navigate the menu or use a short-cut key to see the information.

[2020-02-10 08:59] sciurius opened #2483 "Problem with non-western texts"
Joplin has problems handling non-western texts like Devanagari.

This is actually surprising since most modern toolkits support this. Most programs using these toolkits support this, even classic tools like vim and Emacs do it right.

![scrot20200210094837](https://user-images.githubusercontent.com/1118804/74134703-48437680-4beb-11ea-8110-5954f0dfe2dc.png)

The image shows the Joplin edit and disp

[2020-02-10 11:55] harmlessdrudge commented on #2452
Also with a fresh install on Linux Mint 19.3 using wget.
I got the icon by deleting the last line.
Last line on a .175 version installed on another machine is
X-AppImage-BuildId=1UhCx8mcsln5JbH9RzSLD1tiHsy

[2020-02-10 12:47] pcause opened #2484 "[feature request] todo.txt for todo notes there is parser available"
The todo's are currently pretty basic.  I'd like to suggest you support todo.txt format for todos.  There is a javascript parser:

(https://github.com/roufamatic/todo-txt-js)

with apis.  You can make the contexts, priority, and projects all joplin tags.    the due date can be an alarm.  lots of folks use todo.txt and i think this would be a nice step forward.  you cna make it an option to use tod

[2020-02-10 13:14] laurent22 commented on #2484
For feature request, please use the forum.

[2020-02-10 13:14] #2484 closed

[2020-02-10 14:33] laurent22 opened #2485 "Improve WebDAV error message"
https://discourse.joplinapp.org/t/typeerror-cannot-use-in-operator-to-search-for-d-multistatus-in-null/5759

Detect error condition and throw "Not a valid WebDAV response".

[2020-02-10 15:18] kellerjustin commented on #2257
I had this issue as well which initiated in version 1.0.179 and persisted in version 1.0.179 on Manjaro. I checked the local resources folder and there was no file named the same as what the log was complaining about. I searched joplin for the resource id and found the note, then deleted the note (this may not have been the thing to do). I did a sync and the decryption loop persisted. I then close

[2020-02-10 16:11] ambidexi commented on #2454
see #2476
Still don't understand why the config gets corrupted, as mentioned above.

[2020-02-10 16:54] aardvarkk opened #2486 "Up and down arrow keys don't work"
The up and down arrow keys don't seem to do anything. I'm a first time user so maybe I'm crazy here? I can't scroll through the console output to read the help output. I'm able to open and close the console, call help, and exit, but I'm trying to look up the config info so I can sync to my filesystem and there doesn't seem to be a way to read through the config options from start to finish because

[2020-02-10 17:06] PotoTan opened #2487 "Clip complete page invalid report"
## Environment

Joplin version:1.0.179
Platform:Windows
OS specifcs:OS version

## Steps To Reproduce

1.open https://10101.io/2019/10/27/internet-provider
2.Click on the clip complete page (and beta) of the web clipper
3.Prompt that the page is being processed, but Joplin will not generate the cut note

*Maybe the webpage uses a lot of fashionable JS to make the clipping ineffective*

Describe wh

[2020-02-10 17:08] PotoTan commented on #2487
More information on the forum, including download of all log files
https://discourse.joplinapp.org/t/clip-complete-page-invalid-report/5760

[2020-02-10 17:36] stefan2904 commented on #2484
here is the mentioned forum entry: https://discourse.joplinapp.org/t/todo-txt/612

[2020-02-10 18:27] v-marinkov opened #2488 "ctrl+F toggles layout to split view"
`ctrl+F` for in-note search toggles the layout to split view.

I would like it to stay at whatever layout I have right now. I see it doesn't do any highlighting in the edit mode so at least if I am at the rendered layout, don't switch me to the split one - there are notes which I use are reference and would like to see only the rendered text.

## Environment
Joplin version: 1.0.175
Platform: Ubunt

[2020-02-10 19:24] aardvarkk commented on #2486
It seems like `UP` and `DOWN` do work correctly when I am moving between notebooks and notes, but I still don't know how to show the whole console output to know about all of the config options.

[2020-02-10 21:41] laurent22 opened #2489 "Fix YouTube clipping error"
https://www.youtube.com/watch?v=5LHLAcd14b4

https://discourse.joplinapp.org/t/clip-complete-page-html-clipping-youtube-cannot-clip-error-internal-server-error-path-is-empty/5767

[2020-02-10 21:57] tessus commented on #2486
This is a user question and should be posted to the forum.

If you have a lot of output in the console, go to the console (3x `Tab`) and you can use the arrow keys and fn+up and fn+down.

[2020-02-10 21:57] #2486 closed

[2020-02-10 22:02] tessus commented on #2488
I remember @laurent22 mentioned that this is working as designed.

[2020-02-10 22:27] laurent22 commented on #2477
Fonts are auto-copied from node_modules so when we upgrade Katex the fonts are upgraded too.

[2020-02-10 22:30] tessus commented on #2477
@laurent22 copied to where? there are 3 directories for fonts. See my PR for a detailed explanation. Very confusing.

[2020-02-10 22:36] laurent22 commented on #2477
Each app needs its own copy of the fonts, but `npm i` should take care of that.

The only place where the fonts are in the repo is in joplin-renderer/assets and in theory they could be removed from there too (they are generated by Tools/buildAssets.js), but due to the electron-builder bug we need this folder to have everything pre-built. The way to add a plugin asset is by updating buildAssets.js

[2020-02-10 22:48] tessus commented on #2477
Ah, you removed the directories just now. When I opened the PR, the fonts were all over the place. This means I have to update my PR to only add the file to `ReactNativeClient/lib/joplin-renderer/assets/katex/fonts/KaTeX_Size4-Regular.woff2`

[2020-02-10 23:13] aardvarkk commented on #2486
Thanks for the tip -- the problem was that I assumed when the console was open that it was the "active window". Hitting tab a bunch of times to get the focus there made the arrow keys work as expected. Thanks again!

[2020-02-11 00:29] joshsweaney commented on #1449
Well, since #2482 seemed to conclude this doesn't *have to be* a GSoC feature, somebody else might be able to start working on it. I would love this feature so may start on it myself if I get time. Unless somebody else has already begun work on it?

Building on the discussion in #2482 and here, the Github hinting of linked issues is very similar to what is being proposed. When you type ```#``` in

[2020-02-11 00:42] laurent22 commented on #1449
Just one thing: as a first step I prefer if we simply a menu item "Add note link" rather than the shortcut described above.

A Markdown link in Joplin can be a URL, a link to a resource or a link to a note and I'm not certain we should prioritise the link to note.

If we only make it a menu item then it's not an issue, and later we can think of how the shortcuts should work for links.

[2020-02-11 00:55] joshsweaney commented on #1449
Okay, that can work as a first step!

I think linking to a resource could be achieved in the same way, since you could search by resource name. And then in the autocomplete box, a different icon appears to the left of notes vs. resources. (Maybe an icon of a text file vs. an icon of an image).

[2020-02-11 03:29] bedwardly-down opened #2490 "Desktop: When Syncing Fails Credential Check During Import of Jex File, Import Can Fail"
Joplin: v1.0.179 (Desktop)
Platform: Linux
OS: Artix Linux 64 bit

### Steps to reproduce:

1. Backup joplin-desktop config directory
2. Backup Notebooks as a Jex file
3. Delete joplin-desktop config directory to start fresh
4. Start Joplin in debug mode (as per instructions [here](https://joplinapp.org/debugging/)).
5. Open a terminal and type: `tail -f $XDG_CONFIG_HOME/joplin-desktop/log.txt` to

[2020-02-11 06:06] bedwardly-down opened #2491 "Desktop: Global Zoom Percentage doesn't have effect on Editor View"
## Environment

Joplin version: v1.0.179
Platform: Linux
OS specifics: Artix Linux 64 bit

## Steps To Reproduce

1. Open Tools->Options
2. Click on Appearance Tab
3. Set Global Zoom to any percentage
4. Click Apply and Back

Describe what you expected to happen:

Due to the term Global being used for this particular option, that implies that the zoom percentage should affect every the most if not

[2020-02-11 06:07] #2491 closed

[2020-02-11 08:18] bedwardly-down commented on #738
While I wait for my current PR to get reviewed again, I'm messing around with trying to build a flatpak version to solve this issue. So far, what I've found is the flatpak format is barely supported for Electron and is infuriating to setup with only a small handful of node packages available.

[This one](https://github.com/malept/electron-installer-flatpak#readme) seems to be the most up to date a

[2020-02-11 09:09] PotoTan commented on #2487
Can't clip complex pages list:
https://bookfere.com/post/567.html

[2020-02-11 09:11] bedwardly-down commented on #738
I don't have a flatpak created but I do have a [debian](https://my.pcloud.com/publink/show?code=XZo8XskZDuOIqK0z8t4cbwIJ1N5zPhPEmq9V) build if anyone wants to try it out.

[2020-02-11 09:49] #2470 closed

[2020-02-11 10:00] mic704b commented on #2488
https://github.com/laurent22/joplin/issues/2308

[2020-02-11 10:13] tessus commented on #2488
duplicate of #2308

thx, @mic704b

[2020-02-11 10:13] #2488 closed

[2020-02-11 11:19] seth100 commented on #1209
Same to me. Android Lineageos 16. Joplin v1.0.316

[2020-02-11 11:19] seth100 commented on #1209
Same to me. Android Lineageos 16. Joplin v1.0.316

[2020-02-11 11:19] seth100 commented on #1209
Same to me. Android Lineageos 16. Joplin v1.0.316

[2020-02-11 14:57] ianforcements opened #2493 "Invisible window on MacOS catalina for joplin desktop"
I opened my laptop today and noticed that my Joplin window had disappeared, although the dock icon and activity monitor indicated that the app was still running. I force-quit the app and opened it again, the window still did not appear. When I right click on the app icon in the dock, I have the option to "show all windows", when I select this I see the joplin window outline highlighted, but the ap

[2020-02-11 15:24] ianforcements commented on #2493
After digging around a bit more, I saw https://github.com/laurent22/joplin/issues/2454
Whilst that applies to windows, the same file appears to have been corrupted in my case.

The following steps restored my Joplin:
1. quit joplin
2. Remove ~/Library/Application Support/Joplin/window-state.prod.json
3. start joplion

[2020-02-11 18:31] coderrsid commented on #2467
Hey @tessus, so i just want to confirm 1 query related to this issue
![image](https://user-images.githubusercontent.com/35633575/74266567-809d9e80-4d2a-11ea-80cc-b845ece4c808.png)

As you said, "strongtext" & "emphasizedtext is added on top of the note when i used Cmd+B(Bold) and

[2020-02-11 18:33] coderrsid commented on #2467
Hey @tessus , are we talking about this "strongtext" and "emphasizedtext" added in note content even in preview only layout here when i used Cmd+B and Cmd+I respectively?

![image](https://user-images.githubusercontent.com/35633575/74266813-f0138e00-4d2a-11ea-8e29-935b2d2a673f.png)
![image](https://user-images.githubusercontent.com/35633575/74266851-fe61aa00-4d2a-11ea-95e7-6a41e792a5fc.png)

[2020-02-11 20:52] tessus commented on #2493
duplicate of #2396

see #2476
Somebody is workibg on it....

[2020-02-11 20:52] #2493 closed

[2020-02-11 21:01] tessus commented on #2467
I was talking about all actions that can be taken in th editor. But yes, this is what happens when you can still trigger actions in the preview only mode. Those are only 2 examples though.

Create an empty notebook or select multibple notes. Then click on the menu item `Edit`:

<img width="232" alt="image" src="https://user-images.githubusercontent.com/223439/74278694-9dfd4900-4ce7-11ea-91a6-7a2fd

[2020-02-11 21:20] Merrit commented on #1232
Another vote for this. I didn't realize that Joplin was doing this!

I was super confused that it is actually making the filesize **larger**.

Just tried another image; it feels like it lost some sharpness, the dimensions stayed the same @ 1080x1361, but the filesize went from 316 KB (original) to 570 KB (Joplin).

I'd really prefer the ability to keep the original, unaltered image.

[2020-02-11 22:12] ma-sadeghi opened #2494 "Desktop launcher not properly created for Linux builds"
## Environment

Joplin version: 1.0.179
Platform: Ubuntu 19.10

## Steps To Reproduce

1. Install Jopling using:
[code]

Describe what you expected to happen:
I expected that a desktop icon be created, and indeed it was created. But, an IP address (X.X.X.X) was appended to the last line of the `.deskop` file, which I had to manually remove with a text editor for the launcher to work.

[2020-02-11 22:29] #2001 closed

[2020-02-11 22:35] tessus commented on #2494
fixed in ca5d6c5cfed51873b64d8a310777b20ded32c309 literally a few seconds ago

[2020-02-11 22:35] #2494 closed

[2020-02-11 22:53] #2477 closed

[2020-02-12 05:56] ganeshbelgur commented on #2477
Thank you both for the fix, really appreciate it. :)

[2020-02-12 06:38] mrwulf commented on #2452
Fixed by #2479

[2020-02-12 07:59] antreev-brar commented on #2286
@laurent22 i would like to work on this issue .

[2020-02-12 08:20] axq commented on #2286
Unless the change is very complicated or controversial (code-wise), I don't think you need to wait for permission.  You can just submit a pull request that follows the guidelines.

[2020-02-12 09:45] aviret commented on #1117
+1

[2020-02-12 12:01] licheedev opened #2496 "Android: Image with http-url cannot be rendered"
## Environment

Joplin version:  joplin-v1.0.318(64-bit)
Platform: Android
OS specifcs: Android 10 (Redmi K20 Pro-MIUI11.0.5)

## Steps To Reproduce
It just cannot show the image on Android like this:
![mark](http://notefiles.licheedev.com/pics/20200212/JPIFGHm2jwdV.jpg?imageslim)

The markdown content is:
[code]

.

[2020-02-12 12:43] #2162 closed

[2020-02-12 14:54] toftul commented on #2309
Same here. Any updates?

[2020-02-12 14:59] laurent22 commented on #2309
The text editor only supports monospace fonts. So you'll need to set that monospace font in the settings.

[2020-02-12 14:59] #2309 closed

[2020-02-12 15:22] coderrsid commented on #2467
Yeah i saw the function, but i have a query that which one of the case is preview only mode? Viewer, Editor or Both? I guess it's Viewer. But just want to confirm.

![image](https://user-images.githubusercontent.com/35633575/74348895-6a9ae700-4dd9-11ea-8f8a-62b62e024b3d.png)

[2020-02-12 15:24] lord-aerion commented on #15
I hope that someone with more knowledge than me (I'm not a developer) could possibly have a look at Parse Server to see if this could potentially be an alternative to the use Firebase in Joplin.

Something like Parse Server could open up app development on other platforms such as Sailfish OS, where the lack of Firebase is a major hurdle.

I'm very keen to get away from Android, but sadly it's the

[2020-02-12 17:44] duncanturk commented on #15
Maybe OpenPush is also worth a look https://bubu1.eu/openpush/

[2020-02-12 18:09] coderrsid commented on #2467
and one more thing is that after i built the application and made this changes .. do i need to relaunch the electron client ./run.sh or will it render the changes itself? coz changes made by me is not shown i guess.

[2020-02-12 18:15] #2489 closed

[2020-02-12 18:35] lord-aerion commented on #15
Still a WIP, but certainly worth keeping an eye on. Nice find.
It's on F-Droid too, which would a help lot with the F-Droid Joplin build.

Parse Server is more established though.

[2020-02-12 18:49] AdamIsrael commented on #160
One other thing that should be considered in the word count: not counting comments.

For example, as I write I use comment blocks to outline or leave notes to myself. For the word count, though, I'm only interested in the count of the rendered text.

[2020-02-12 20:48] tessus commented on #2467
`viewer` should be the correct one. But the code block you've pasted only defines which combinations will be allowed when using `switch layout (Cmd+L`.

I'm not sure what you mean by _after i built the application_. You don't have to do a `npm run dist`. During the development you only have to run the script `./run.sh`. And you have to run it every time you make a code change.

[2020-02-12 21:11] mic704b commented on #483
If this isn't already reserved, could you assigned this issue to me?

[2020-02-12 21:24] laurent22 commented on #483
Sure, that's done. Before writing the code please could you describe roughly what approach you're going to follow? I found that any approach I try there are a lot of unexpected pitfalls and potential long term issues in terms of maintenance.

[2020-02-12 21:57] mic704b commented on #483
The approach I was intending would first be implemented on Desktop and is based on a tag and smart filter.  It would be something like this:

All existing `Delete` note commands are changed to `Move to trash`.

Notes are sent to the trash by applying  a  "trash" tag eg `_deleted_`.  This tag is a special system tag in that it is hidden from the user (ie it doesn't show up in tag lists or the sideb

[2020-02-13 01:18] tessus commented on #2469
@laurent22 what's the plan? Is it ok to create a setting for the geo location service (it would only show up, when people check the `Save geo-location with notes`.

[2020-02-13 02:16] yuichi8 commented on #2309
I didn't have this problem at the previous version (e.g. v1.0.175).
I'm using same monospace font.

[2020-02-13 04:22] s1ng0c opened #2501 "Export all chapters of nootbook to single PDF file + support PlantUML"
It would nice to have such as feature which allow user to export notebook to single PDF file (by merge all chapters to single markdown file -> render -> export), and with custom header/footer is so nice.

Additional, with PlantUML integrated will make **Joplin** to be the  best for technical documentation writer.

## Environment

Joplin version:
Platform:
OS specifcs:
- All

[2020-02-13 04:29] tessus commented on #2501
Feature requests are disussed on the forum. Mermaid was just added and will be available in the next release. As for the other feature, @mic704b just added a commit to export a notebook to several PDF files. Combining them is another story.

[2020-02-13 04:29] #2501 closed

[2020-02-13 07:08] jtagcat commented on #483
I can't think of anything right now, but sounds like this 'smart tag' behavior could be reused in the future. Try to make it modular ;)
Thanks for the effort!

[2020-02-13 07:40] RrobertRr commented on #1117
+1

[2020-02-13 09:41] Perkolator commented on #483
What happens if a user deletes that folder?

What happens: A) if the folder isn't there anymore? B) There's a new note in that folder with the same note name?

The "restore to original folder" should clearly indicate to which folder the note is restored. Also I think that "restore to a new folder" and "restore to other folder" options should be offered to the user.

***
I think this feature should

[2020-02-13 10:22] Perkolator commented on #483
Should folders also be "trashed" and restorable?

[2020-02-13 10:24] laurent22 commented on #483
Thanks for clarifying @mic704b. Like Perkolator, I think we need to address what happens if the tag gets deleted (and no matter how hidden it *will* get deleted by someone at some point).

Also other questions:

- What happens if I setup Joplin on mobile, delete a note, then setup it up on desktop, delete a note again, and then sync both clients. There will be two instances of the _delete_ tag.

-

[2020-02-13 10:46] Perkolator commented on #483
Would the virtual Trash folder show folders of the deleted notes?

Would this "virtual Trash folder" plan affect versions?

I hope this is planned as optional.

[2020-02-13 10:46] mic704b commented on #483
Thanks for your comments @Perkolator

i) Initially I was planning to implement the most simplest behaviour: eg warn the user that notes previously deleted from the folder, exist in the trash, and that proceeding to delete the folder will result in them being permanently deleted too.

ii) Another option is to move all notes contained in the folder to the trash, but reassign them to the `default` fo

[2020-02-13 10:56] Perkolator commented on #483
I'm sorry to say this but the "tag solution" seems too complex and prone to errors, personally I would pursue the "add a 'deleted_time' property to the note table" idea for now. If that doesn't work, the tag solution could be then re-evaluated.

I guess an "actual" Trash folder (= moving notes to a Trash folder) is out of the question? Because it would bring problems with timestamps?

[2020-02-13 10:59] laurent22 commented on #483
It has very similar issues with the tag solution. Also an actual Trash folder would be called "Trash" in English, but differently in other languages, and if a user switch the language midway, the app will start deleting to a differently named folder. And indeed also problem with timestamps, and with duplicate Trash folders when multiple of them are created on multiple devices.

[2020-02-13 11:55] mic704b commented on #483
@laurent22 thanks for your reply

If the tag gets deleted, the notes are restored from the trash.  This is acceptable, because information is not lost, and it is an extreme and unexpected scenario.

Wrt the trash tag itself, good question.  Joplin would check the trash tag exists on startup. If it doesn't exist, it would create it (with a predefined id). So it is meant to self correct.

However I

[2020-02-13 12:40] coderrsid commented on #2467
Thank you so much @tessus. I've started getting the hang of the codebase. Here in the `generalMiddleware() `function, on note and folder select and for devtools,` updatedMenuItemStates()` is called. We have to similarly call `updatedMenuItemStates()` from the `if(NOTE_VISIBLE_PANES_TOGGLE..)`too right?

![image](https://user-images.githubusercontent.com/35633575/74436209-084eee80-4e8c-11ea-8a4a-bc

[2020-02-13 13:34] tessus commented on #2467
Sorry, I don't have the code in front of me. The pasted code is too less to be sure, but I think it could work.
But hey, just try it out. You'll see, whether it works or not. No harm done. Just play around.

[2020-02-13 19:32] stefan2904 opened #2502 "API: Updated note not reloaded"
I am using a script to update notes using the Joplin API. Sometimes the note I update is currently open in Joplin-desktop.

When I use the API to update a note which is open, the note does not get reloaded in Joplin.

I have to click on another note and than back into the first one to see the updated content. This also means that any content added by the API get overwritten if I edit the note in J

[2020-02-14 00:17] #2384 closed

[2020-02-14 00:18] laurent22 commented on #2141
Please provide a sample note that can be copied and pasted, to make sure I test with the right content.

[2020-02-14 00:22] themattgabriel commented on #2141
Please try this one.

[code]

[2020-02-14 00:36] #2141 closed

[2020-02-14 00:54] #2485 closed

[2020-02-14 04:45] MercuryhgJiang commented on #2299
same problem.
apk version: joplin v 1.0.316
only use http:// , can not use the tsl.

[2020-02-14 06:02] gregory-lum opened #2504 "Having Install Issues"
**I'm running Arch (Linux noob) and haven't had any issues setting up my system that I've been running for six months now. When I try install joplin either cloning in or with an AUR helper I keep getting the same error. This is the output:**

:: Checking for conflicts...
:: Checking for inner conflicts...
[Aur: 1]  joplin-1.0.179-1

  1 joplin                                   (Build Files Exist)

[2020-02-14 10:01] tessus commented on #2504
👉 Please follow one of these issue templates:
- https://github.com/laurent22/joplin/issues/new/choose

⚠️
The GitHub issue tracker is for **bugs** and **security issues** ONLY. For feature requests and support, please use the forum:
https://discourse.joplinapp.org/
⚠️

Note: to keep the backlog clean and actionable, issues may be immediately closed if they do not follow one of the above issue temp

[2020-02-14 10:01] #2504 closed

[2020-02-14 11:34] VasilyKaiser opened #2505 "Sandbox helper binary not configured correctly. Linux, Parrot OS"
## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifcs: Linux parrot 5.4.0-3parrot1-amd64

## Steps To Reproduce

1. Download AppImage from site or using CLI
2. Run from command line, otherwise you'll see nothing.

Describe what you expected to happen: Open App Window.

## Logfile
![Screenshot_20200214_063357](https://user-images.githubusercontent.com/50267052/74527565-0f114c00-4ef4-1

[2020-02-14 16:26] naspert opened #2506 "webdav sync error (possibly related to %40 in url ?)"
I tried the webdav sync using (on owncloud, hosted by 'switch' https://help.switch.ch/drive/faq/)
As per switchdrive settings, the webdav base url for an account is:
https://drive.switch.ch/remote.php/dav/files/user%40host.com/
(I replaced my email by `user@host.com` -> in url becomes `user%40host.com`)
and got the following error:

[code]
And no files are synced.

## Environment

Joplin version:

[2020-02-14 17:37] amitsin6h commented on #2389
@laurent22 can you please help me with this, I tried to forceUpdate the component based on props changes but does not work, also I created ref for the webview and thought to refresh whenever search keyword props changes but still the highlight was not working do you have a suggestion for me

[2020-02-14 19:16] jtagcat commented on #483
Same-Named notes could be merged: if you make a new note, restore the old from trash (and 'move' the trashed version to previous revisions)

[2020-02-14 20:29] tessus commented on #2506
Joplin does not support webdav urls with `%`. Use the `@` instead.

https://discourse.joplinapp.org/t/bug-here-or-in-my-webdav-not-syncing-when-40-in-url/5819?u=tessus

[2020-02-14 20:29] tessus commented on #2505
Duplictate of  #2246

[2020-02-14 20:29] #2505 closed

[2020-02-14 21:41] matcharles opened #2507 "Synchronize fails after a few seconds"
Synchronize fails after a few seconds. This has been happening for the last little while (I was on 178 and it was doing it). I sync to a folder that I then share with syncthing. It had been working fine for the last month until this started to happen. If I modify something, then quickly sync, go to my other computer and open joplin, I will see the modifications fine.

Sometimes Joplin will stop to

[2020-02-15 03:25] zyzhu2000 commented on #2438
I am having exactly the same problem since a recent update happened in December or January,

[2020-02-15 03:32] mic704b commented on #2308
(Bump)

Hi @laurent22, is this intended behaviour, or can it be modified to not change layouts?

[2020-02-15 05:23] asd191 opened #2509 ""EACCES: permission denied": unable to write to remote network shares"
## Environment

Joplin version: 1.0.179.940
Platform: Linux
OS specifics: Ubuntu 18.04 LTS

## Steps To Reproduce

1. Set "synchronization target" to the path of any mounted samba share
2. Initiate synchronization with Ctrl+s, File > synchronize, or the synchronize button in the bottom left of the GUI

Regardless of the method used to mount samba or NFS shares (fstab, Gnome userspace gvfs, mounted

[2020-02-15 07:47] naspert commented on #2506
aha yes that fixes the problem (but this is an invalid url, help section of switchdrive explicitely warns about it :/ )
Thanks for the link (did not now about the other bug tracker).

[2020-02-15 10:43] tessus commented on #2506
Yea, well, it all depends on the SW. These days we can use unicode characters in URLs, so why not a @. Either way, the webdav module we use apparently can't handle encoded URLs, so you can follow up with them upstream, we certainly won't fix it.

[2020-02-15 10:43] #2506 closed

[2020-02-15 10:44] tessus commented on #2476
@daukadolt any update? It would be nice to keep us apprised.

[2020-02-15 10:45] tessus commented on #2296
@coderrsid any update? It would be nice to keep us apprised.

[2020-02-15 10:47] #2452 closed

[2020-02-15 10:51] habamax opened #2510 "Firefox web clipper, where can I get it from?"
I did press the button:

![image](https://user-images.githubusercontent.com/234774/74586602-39e5c800-4ffa-11ea-8c14-9ae6e14ec9cc.png)

But there there is no firefox extention:
![image](https://user-images.githubusercontent.com/234774/74586594-25a1cb00-4ffa-11ea-95c1-6c0d61a790b2.png)

[2020-02-15 14:41] daukadolt commented on #2476
@tessus hi! Sorry for inactivity. Due to force majeure could not start until recently.
I've resolved the window size issue and am currently working on the second issue. I hope to open up a pull request today (UTC+6) or by tomorrow midday.

[2020-02-15 15:08] marijawo commented on #2476
Can I try this issue?

[2020-02-15 18:54] cayenne17 opened #2511 "Android accents path Webdav"
## Environment
Joplin version:1.0.316
Platform:android
OS specifcs:android 8

## Steps To Reproduce

Hello,
When the webdav path contains one or more accents (éàèç), it puts me "Not a valid URL"
![image](https://user-images.githubusercontent.com/47927025/74593527-66b2d300-502c-11ea-9a28-ffe915387332.png)

[2020-02-15 19:35] xenogenesi commented on #2299
For me it works with http but not with https, I'm using a self-signed certificate that works with the same device and url using chrome (with the certificate shown as valid) but not with the joplin android client (1.0.316), same error as above: network request failed

btw... thanks for joplin

[2020-02-16 01:46] #2509 closed

[2020-02-16 01:46] asd191 commented on #2509
Update- was a permissions issue with my fileserver. Apologies!

[2020-02-16 02:23] nomatica commented on #468
Would  really like this feature.

[2020-02-16 04:03] habamax commented on #2510
@tessus is this a widely known not an issue? Sorry, about the question then.

[2020-02-16 04:39] tessus commented on #2510
there were like 5 topics about this on the forum. and the web clipper is already available again.

[2020-02-16 04:39] #2510 closed

[2020-02-16 04:40] tessus commented on #2510
also. you totally ignored the template. I'd call that ignorant.

[2020-02-16 04:52] habamax commented on #2510
Thank you. I got a notification issue is closed and no info about resolution. Thus my question.

I did search GitHub issues before asking.

[2020-02-16 04:54] habamax commented on #2510
Well, call it whatever u like, i am out.

[2020-02-16 04:56] tessus commented on #2510
How would you call it, if someone ignored this:

⚠🚨⛔ The issue tracker is not for questions. ⛔🚨⚠

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek.

## Questions and Help

Please read the [documentation](https://joplinapp.org/) and [FAQ](https://joplinapp.org/faq/) first.

### https://discourse.joplinapp

[2020-02-16 05:04] habamax commented on #2510
Sorry, I didn't pay attention to the template.

Don't worry, no more issues from me.

[2020-02-16 07:49] naspert commented on #2506
using unicode characters in URL is certainly one of the worst possible ideas (phishing capabilities with almost identical characters...). Just saying :)

[2020-02-16 08:13] tessus commented on #2506
@naspert I agree. It was not my idea to allow unicode characters in domain names. This is ICANN's fault.

The problem you are hitting has either to do with WebDAV itself or the module we are using. It's not something we can fix.

[2020-02-16 08:18] tessus commented on #2510
You can open as many questions as you like in the forum (or reproducible bugs on github). The issue tracker is for bugs only. The project has reached a size where we have to move questions off the tracker. And it certainly doesn't help when people ignore the templates again and again.

Please don't think that we don't want to help you, because that's not true.

[2020-02-16 08:32] habamax commented on #2510
I got your point, and again I am sorry about that.

I will use forum for the questions, not problem.

Thanks for clarification!

[2020-02-16 08:40] tessus commented on #2510
Thank you. Btw, you can use your gh credentials to log into the forum.

[2020-02-16 10:37] ZSZ2000 opened #2513 "Could not export notes: Cannot read property 'type_' of undefined"
## Environment

Joplin version:1.0.179
Platform:Windows
OS specifcs:1903

## Steps To Reproduce

1. Sorry, I don't know how to reproduce this problem
2. When I write notes, some of my notes will disappear after a save synchronization. These notes can be searched, but they are not displayed in the notebook.
3. And the note can't be export, prompt "Could not export notes: Cannot read property 'type_

[2020-02-16 20:34] tessus commented on #2467
@coderrsid any update?

[2020-02-17 08:01] bedwardly-down commented on #2331
@JunkyardCat, I don't have an update on this fix but at least can reproduce the bug. I posted a screenshot, some testing info, and a simple Jex file that can be used to reproduce it on [the forums](https://discourse.joplinapp.org/t/issue-importing-notebooks-created-with-parenthesis-and-a-number-inside-it/4697/9?u=bedwardly-down).

[2020-02-17 08:43] zhliang119 commented on #2299
using a self-signed certificate on windows has no problem, but it's not work on android,  error message: "Net work request filed"

[2020-02-17 11:05] KSXGitHub opened #2516 "Request: Progressive Web App"
A website version of Joplin for quick access by the browser?

[2020-02-17 12:23] KYLN24 commented on #956
+1. An "Edit" button needed.

[2020-02-17 13:12] loganwedwards commented on #2384
@laurent22 Is this really fixed? I see another issue #2098 open as well and they seem to be duplicates.

[2020-02-17 13:35] loganwedwards commented on #2098
@laurent22 Since Joplin on iOS does not seem to inherit any specific dark mode properties, we can either just enforce the light appearance in the iOS configuration as a simple change. Alternatively, we could apply some css styles to `react-native-datepicker`.

[2020-02-17 13:47] loganwedwards commented on #2098
This appears to be fixed already in `master`. Here is an iOS simulator running 13.2 in dark mode:

<img width="480" alt="Screenshot 2020-02-17 08 46 54" src="https://user-images.githubusercontent.com/2034000/74659334-1fc6f980-5162-11ea-9f16-dc974e1f5b7e.png">

[2020-02-17 17:03] amitsin6h commented on #2496
I am working on this issue.

[2020-02-17 21:48] kirtanprht commented on #2445
@rheo-chiti have you tried this for android? - https://stackoverflow.com/questions/41736735/react-native-and-intl-polyfill-required-on-android-device

[2020-02-17 22:16] mic704b commented on #2513
What is a "save synchronization"?

Is that when you selected "Synchronisation" in the File menu (or Ctrl-S)?

[2020-02-17 23:06] #2516 closed

[2020-02-17 23:07] laurent22 commented on #2516
Please use the search function

[2020-02-17 23:12] laurent22 commented on #2507
Do you have very large files in your sync target? What's the largest file?

Unfortunately there's nothing abnormal in the log.

[2020-02-17 23:28] #2240 closed

[2020-02-18 02:00] matcharles commented on #2507
I only have images, total folder size is 8mb and the biggeest image is 49kb. I have 107 different notes though, so maybe that's a problem?

I also noticed I had 2 conflict files from syncthing. I have removed them and will see if that improves. I'll get back with an update shortly.

[2020-02-18 02:12] 1983shake commented on #877
预览功能很重要，也很吸引人。有道云笔记就是可以预览PDF，也可以打开word、excel、ppt。有时只想加入一个pdf文件，并能选中就可以阅读，而不是调用第三方应用。
我试用了不少笔记应用，都没有该功能。
所以，非常希望能将该功能加入进去，这样人气应该会暴涨。请慎重考虑一下。谢谢。

[2020-02-18 02:20] ZSZ2000 commented on #2513
Yes, it is. My notes can't be displayed in my notebook after the synchronization.

[2020-02-18 02:31] KSXGitHub commented on #2516
@laurent22 I had already searched before I created this issue. And if you're so sure that mine is a duplicate, perhaps you can give me a link?

[2020-02-18 02:49] dbogdanov commented on #2471
The helper text in the settings for the font is misleading: "If the font is incorrect or empty, it will default to a generic monospace font." so it appears that this default did not not apply to cyrilic, only latin. How do I setup a monospace cyrilic font?

[2020-02-18 02:52] mic704b commented on #2513
There may be two isues here.
1. Why did your sync fail and did it remove your notes?
2. If your notes are gone, how did they appear in search results?

If your notes are gone, that would explain why you can't export them.

Which sync target do you use?

[2020-02-18 02:56] ZSZ2000 commented on #2513
Webdev
https://dav.jianguoyun.com/dav/

[2020-02-18 04:23] rankaiyx opened #2517 "WebDAV not work with last release of Android, Cleartext HTTP traffic not permitted."
## Environment

Joplin version: joplin-v1.0.316.apk
OS specifcs: Android 9

## Steps To Reproduce

1.HTTP(not is HTTPS) WebDAV sync URL:
http://192.168.1.123:8000/remote.php/dav/files/abc/joplin
Sync fail on Android 9.
sync  successful, using Joplin on win10.

Describe what you expected to happen:
I expect to be able to use HTTP to synchronize

Reason and solutions may be here:
Cleartext HTTP traf

[2020-02-18 04:26] rankaiyx commented on #2496
Reason and solutions may be here:
Cleartext HTTP traffic not permitted.
https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted

[2020-02-18 04:29] rankaiyx commented on #2496
Maybe the same reason
https://github.com/laurent22/joplin/issues/2517

[2020-02-18 06:02] dimyself opened #2518 "Desktop: Joplin Freezing During Syncing and Decrypting On Linux Kernel 5.5+"
I just started using Joplin recently, and since first using it's been locking up/freezing/unresponsive. It seems to be getting stuck in a syncing loop. It will try to sync, and something is not allowing sync to stop/cancel. Even if I manually click on cancel when it's syncing, it just says "cancelling" and stays spinning but won't stop.

At this point, when I click on any notebooks/notes, nothing

[2020-02-18 06:05] dimyself commented on #2507
This is the same or similar bug that's happening to me that I reported on the forum and also here: https://github.com/laurent22/joplin/issues/2518

[2020-02-18 06:15] Hiddensu opened #2519 "Archlinux is downloaded by command. How do I uninstall it?"
wget -O - https://raw.githubusercontent.com/laurent22/joplin/master/Joplin_install_and_update.sh | bash

How do I uninstall it?

[2020-02-18 06:29] ZSZ2000 commented on #2513
PS:
1. I don't think the notes was deleted. Probably the notebooks' tree was broken, so it couldn't be displayed but can be searched.
2. For similar reasons, these notes can't display some pictures even when they are displayed after searching, but I checked the corresponding files, which exist. When these notes was exported, the error would occurs.
3. I think there may be a problem with the databa

[2020-02-18 06:41] bedwardly-down commented on #2518
This issue seemed to crop up immediately after upgrading to Linux Kernel 5.5 in Artix Linux (an Arch offshoot). Since you, me and another person are all having similar issues on Arch or Arch based systems, I've decided to do an experiment and see if downgrading to the Linux LTS kernel (5.4.19) might solve the issue since I was also noticing some network issues along with other things since upgradi

[2020-02-18 06:53] dimyself commented on #2518
Here's a video showing the problem if it helps!

https://youtu.be/sdpI4kBIaUY

[2020-02-18 07:07] dimyself commented on #2518
@bedwardly-down does the video look similar to your issue?

Did the LTS kernel change anything?

[2020-02-18 08:27] hualong1009 commented on #2299
Same with your problem. Client in PC work well, but Android client not. Same configure method. Android client feedback "Network request failed". Joplin is actually a good tool.
***
Joplin APP. version 1.0.316
sync by Nextcloud webDAV URL

[2020-02-18 10:06] Alkanov commented on #51
As a new Joplin user (loving it) we def need sorting. I honestly don't know how this has been stale for so long.

[2020-02-18 11:45] bedwardly-down commented on #2518
@dimyself the video looks exactly like what I'm experiencing (minus that console log output). I have debugging turned on and have a Kitty Terminal running with `tail -f $XDG_CONFIG_HOME/joplin-desktop/log.txt` running on it just to the left of the bottom part of the console log. Other than that, definitely the same freezing issue shown.

![2020-02-08-193241_1920x1080_scrot](https://user-images.git

[2020-02-18 12:06] Soltares commented on #2518
I thought it was just me at first experiencing this issue, so I was hesitant to file a bug however the video and description match what I see as well on Arch 5.5.2-arch1-1 / Joplin 1.0.179-1.  I am using a filesystem sync target on a remote system via SMB.  I switched to NFSv4, but there was no noticeable impact.

My Windows 10 instance of Joplin is working as expected on the same filesystem targe

[2020-02-18 13:38] hpfmn commented on #2518
I have the same issue also with the newer 1.0.184 version of joplin. I'm not sure if it only happens during sync though. But seems like it is more likely during sync.

[2020-02-18 15:04] bedwardly-down commented on #2518
I know that 1.0.184 is definitely not recommended for daily use and has quite a few (albeit small) areas where it can and has broken for me, but are you also on an Arch-based distro, @hpfmn ? My main view is that we all have that one factor in common which means that we all share the same kernel which may not load the same network drivers but more than likely would share the same protocols and wha

[2020-02-18 15:32] hpfmn commented on #2518
@bedwardly-down yes I'm also running arch. Is there any information which versions are considered stable and which are considered unstable? I'm 1.0.179 has a text on the github release - is that what is saying that it is stable? I honestly don't think it is related network drivers ;)

[2020-02-18 15:36] hpfmn commented on #2518
What is maybe different for me - if I wait a long time (like several minutes) it does recover and starts to be usable again. But some of the changes I made to the current document is regarded.

[2020-02-18 15:49] matcharles commented on #2507
Yes I confirm this is the same bug.

[2020-02-18 15:50] bedwardly-down commented on #2518
I don't drink it's network drivers either. When i say Network protocols, i mean how the kernel handles things like https and interfaces with each of the drivers. If there was a major change there, it could affect how Joplin handles syncing and could be an upstream bug for whichever module is used to handle it. I wish some Ubuntu / Debian and Fedora users would pipe in so that the issue can be clas

[2020-02-18 15:51] matcharles commented on #2507
Duplicate of issue #2518 (Better discussion there and same symptoms)

[2020-02-18 15:54] matcharles commented on #2518
Just wanted to let you know I am experiencing the same thing (#2507). I thought it had something to do with syncthing at first but I can see from reading the thread that you're all using different sync protocols. This is making it really hard to work for a long time because you never know what the program will discard. Reliability is zero at the moment.

I disabled syncthing on both computers and

[2020-02-18 16:00] bedwardly-down commented on #2518
Thanks @matcharles. I use Joplin for my budgetting and daily journaling and can definitely say that this issue has caused some similar headaches for me. Luckily, it's not been fatal for my uses but i can definitely see it being terrible.

I'm definitely beginning to think this is an arch specific bug. @laurent22 , what are the modules you use for syncing in Joplin? I'd like to see if my hunch or s

[2020-02-18 16:11] laurent22 commented on #2518
It's mostly node-fetch and the sqlite3 that would be involved for syncing, but it could also be due to some complicated interaction between Electron and those modules.

If sync status is blank in particular, it could mean that the sqlite database is locked or the app can't read from it for some reason. While it's in this state, are you able to open database.sqlite (with an sqlite browser) in your

[2020-02-18 16:18] Soltares commented on #2518
The joplin-desktop database.sqlite appears readable while sync is spinning and sync status is blank:

`[chris@spire ~]$ sqlite3 ~/.config/joplin-desktop/database.sqlite
SQLite version 3.31.1 2020-01-27 19:55:54
Enter ".help" for usage hints.
sqlite> .tables
alarms                 notes                  resources_to_download
deleted_items          notes_fts              revisions
folders

[2020-02-18 16:31] bedwardly-down commented on #2518
https://github.com/node-fetch/node-fetch/issues

Looks like node-fetch has quite a few open http protocol issues that may be similar to what's happening here: https://github.com/node-fetch/node-fetch/issues

I'm out working right now but my brief 5.4 kernel tests weren't showing any issues so far, but they could still pop up later. If anyone else wants to test that theory too, all you'll need to d

[2020-02-18 16:34] bedwardly-down commented on #2518
My previous issue could be related too https://github.com/laurent22/joplin/issues/2490

[2020-02-18 17:04] Soltares commented on #2518
I'm technically on the clock too, but use Joplin to work effectively so.. :)
I took the plunge and switched kernels from 5.5.2-arch1-1 to 5.4.20-1-lts.  I am immediately seeing an improvement.  What only took 2-3 sync attempts to replicate the issue is now going on at least a dozen syncs with no sign of hanging!  Looks like you're definitely on to something with the kernel versions.

[2020-02-18 17:08] bedwardly-down commented on #2518
@Soltares i use Joplin mobile during my work since my work is constantly on the move, so i can't test in the field. Thanks for trying it out too and glad it's working for you too. ☺️

[2020-02-18 17:15] bedwardly-down commented on #2518
During my test, I synced around 20 times with several test files i created, synced and deleted and had no signs of it either.

[2020-02-18 19:29] mavensecurity commented on #2141
I'm still seeing this bug on iOS 13.3.1 on iPhone 7
Joplin 10.0.43
Database v27

[2020-02-18 19:53] tessus commented on #2141
It will be in the next release.

[2020-02-18 19:53] bedwardly-down commented on #2518
@Soltares @laurent22 would either of you know how to test this better to try to get a bug report sent upstream to node-fetch since that's looking like it may be where the issue lies since this looking less like a Joplin issue?

[2020-02-18 20:15] bedwardly-down commented on #2518
I also found a post on Reddit where Firefox is exhibiting similar freezing issues on Arch with 5.5.4: https://reddit.com/r/archlinux/comments/f5smcx/intermittent_hanging_with_554_kernel_x1c6_intel/

[2020-02-18 21:04] Xmas13 commented on #2425
I am also having the same issue. Glad I found this issue as this was driving me crazy as the documentation says it works and others have said it does...

[2020-02-18 22:27] #2170 closed

[2020-02-19 05:50] Runo-saduwa commented on #2467
Hello @tessus , I started working on this issue a few hours ago and after looking at `updateMenuItemStates` Function I came up with the exact code needed to get this bug squashed, but my problem is where to insert the code exactly, I know after some extra hours of dabbling with the codebase I might land at the solution but in order to save time can you kindly point out areas in the `app.js` I shou

[2020-02-19 06:09] coderrsid commented on #2467
Hey @tessus Sorry to reply late i was a little busy. I tried changing the code and calling `updateMenuItemStates` function from the `generalMiddleware` if the case of `NOTES_VISIBLE_PANES_TOGGLE` similarly as it is called upon if the case is `NOTES_SELECT` AND `NOTE_DEVTOOLS_TOGGLE`. But i see no changes. The real problem is i am not able to understand the `updateMenuItemStates` function. Can you

[2020-02-19 06:10] superfreeman1989 commented on #1642
I just started trying Joplin today and this is the very first annoying thing I noticed. Ctrl-Z loses my focus and brings me to end of document.

[2020-02-19 06:24] Runo-saduwa commented on #2467
Hey there @coderrsid , the function is called anytime a note is clicked upon or when a notebook is opened, it takes the state of the application as an argument and tries to get the exact note the user selected using `state.selectedNoteIds` , then the for loop simply loops over the menu items and disables them based on if there is no note found or no markdown.

That’s basically a brief summary, @te

[2020-02-19 06:48] coderrsid commented on #2296
Hey @tessus Sorry i couldn't reply although i am working on this issue instead https://github.com/laurent22/joplin/issues/2467

[2020-02-19 06:58] coderrsid commented on #2467
Thanks @Runo-saduwa, i figure out this too. But not the exact meaning of
<img width="908" alt="image" src="https://user-images.githubusercontent.com/35633575/74809519-585a0500-5313-11ea-96f2-e1518bb8a116.png">

[2020-02-19 08:32] bedwardly-down commented on #2518
@dimyself, since you're the one that opened this bug report, I just wanted to inform you that Joplin is still syncing perfectly with no issues whatsoever on the LTS kernel after me leaving my laptop on all day long letting it auto sync while I was out and about. It looks like this is most likely the current solution until the devs upstream get the issue resolved.

[2020-02-19 09:03] yewwayne commented on #2518
Having the same issue but I doubt it's network related as I'm only syncing to a *local* directory and letting Syncthing handle cross-device sync. The issue persists after disabling syncthing.

I'm also thinking it's not specific to the sync function of Joplin. Here's what just happened to me:
1. Create a new note, then modify it and sync in a cycle with 5-10 second delay between each round.
2. Aft

[2020-02-19 10:13] #592 closed

[2020-02-19 10:42] superfreeman1989 opened #2523 "toc link navigation doesn't work on ios"
toc link navigation doesn't work on ios. Clicking on link resets to top of current note. Works on desktop just fine.

[2020-02-19 10:43] laurent22 commented on #2523
Duplicate

[2020-02-19 10:43] #2523 closed

[2020-02-19 10:52] superfreeman1989 opened #2524 "keyboard flyout on ios during edit"
On ios in edit mode, when the keyboard is hidden, scrolling with finger is annoying as hell. When scrolling in edit mode, keyboard flies out whenever finger is released.

How it's supposed to work: keyboard remains hidden and inertial scrolling works (page scrolls for a bit more after finger release), and shows up only when user single-taps on anywhere in the edit field.

[2020-02-19 13:49] bedwardly-down commented on #2518
@yewwayne thanks for bringing that up. You're not the only one that said the issue showed up with Filesystem. I think someone else brought that up above. Joplin doesn't technically save locally, so it treats Filesystem sync as syncing to any cloud platform, I'm suspecting the url is just replaced by a local directory string and is just getting checked if it exists or not.

If that's the case, the

[2020-02-19 19:16] AlphaKoder opened #2527 "Syntax highlighting wrong when line starts with '*'"
Text beginning with an asterisk ('*') is not highlighted correctly when a bolded word exists on the line: For example:
`*.py files usually contain **python** source code.`
In the above example, the text before the word "python" is highlighted instead of the bolded word "python", as shown in the image below. The markdown text is rendered correctly, though.

![image](https://user-images.githubuserco

[2020-02-19 20:49] superfreeman1989 opened #2528 "integral symbol not exported properly"
On windows, the integral symbol is not exported properly.
When exported to pdf or html, sometimes it's missing, sometimes it becomes smaller:
![2020-02-19 15_48_29-Tests](https://user-images.githubusercontent.com/15226945/74874839-5736d100-532f-11ea-887e-c17ee76300c9.png)
![2020-02-19 15_48_17-test2 pdf - SumatraPDF](https://user-images.githubusercontent.com/15226945/74874840-57cf6780-532f-11ea-81

[2020-02-19 23:37] #1488 closed

[2020-02-20 00:37] laurent22 commented on #2528
Sometimes? It doesn't always do it?

[2020-02-20 00:38] laurent22 commented on #2528
Also please could you post an example of katex code that can be used to replicate the issue?

[2020-02-20 05:04] tessus commented on #2527
This is normal and not a bug, because `*` is the start of an emphasised text in markdown.

The only way around this is to encapsulate it:

[code]

[2020-02-20 05:17] tessus commented on #2528
We added additional katex fonts after 1.0.179, so maybe it's already fixed. (Maybe a different font is used for printing.) Or maybe the `.woff2` font files are not good for printing on Windows.

I can't replicate this on macOS. The PDF is exported perfectly (although I'm using an unreleased version).

@laurent22
[code]

[2020-02-20 07:20] superfreeman1989 commented on #2528
It’s the example in the markdown guide on Joplin site:
$$
f(x) = \int_{-\infty}^\infty
	\hat f(\xi)\,e^{2 \pi i \xi x}
	\,d\xi
$$
I’m on windows and I’m never able to export it correctly.

[2020-02-20 07:23] superfreeman1989 commented on #2528
It switches randomly between either too small or missing, but never correct.

[2020-02-20 08:10] Babber commented on #1023
I have the same issue on Linux Mint 19.3. Syncing is very slow, and on top of this, it completely ignores the setting for syncing frequency. Even though it is set to 24h, it appears to me that it is syncing every 5 min.

[2020-02-20 09:06] Babber commented on #310
Please, add this option! On Linux Mint, syncing is so ridiculously slow, that basically it is syncing all the time. Before I found this open issue, I was about to post a bug report for having my sync interval set to 24h and yet it is syncing non-stop, which is a very contra-intuitive feature to say the least! Please, fix this so that it observes the sync interval even if editing happens in the mea

[2020-02-20 09:58] jubeormk1 opened #2533 "fail to connect to an https with no certificate. Similat to #1056"
iOS joplin app is not able to connect to a self-certificated nextcloud. It works from a desktop client and it did before adding https from the iOS app.

## Environment

Joplin version: 10.0.43
Platform: iOS
OS specifcs: 13.3.1

## Steps To Reproduce

1. Configure a connection to Nextcloud 16.0.8 self certificate (https) by targets 'webDav' or 'Nextcloud'.
2. Check synchronization configuration

De

[2020-02-20 11:40] HannesOberreiter commented on #1085
My workaround is atm. a "group" Account on nextcloud,  which is used by all group members for syncing of Joplin.

Now I face the problem, that I also want to use it private. Therefore, I would need two instances of the app.

A way would be to allow multiple sync accounts, this don't solve easy sharing but would allow multiple shared instances.

Cheers
Hannes

[2020-02-20 12:58] elfacht opened #2536 "macOS CLI: Unhandled promise rejection Promise"
Starting the app on Mojave 10.14.6 via CLI doesn't work for me:

[code]

Changing the Node versions via `nvm` to 8.* or 10.* won't help. Either did `joplin e2ee decrypt`.

## Environment

Joplin version: 1.0.153 (CLI), 1.0.179 (desktop)
Platform: macOS Mojave
OS specifcs: 10.14.6

## Steps To Reproduce

1. Install Joplin via .dmg
2. Setup sync with Nextcloud or smth. (Don't know if this error occu

[2020-02-20 13:01] laurent22 commented on #2527
`*` is indeed reserved Markdown character so you either need to escape it or quote it.

[2020-02-20 13:01] #2527 closed

[2020-02-20 13:18] tessus commented on #2536
I'm using macOS 10.14.6 and I can't reproduce this. joplin 1.0.155 (prod)

[2020-02-20 13:34] elfacht commented on #2536
@tessus Maybe its a `1.0.179` related problem. That's the version I'm using.

[2020-02-20 13:39] tessus commented on #2536
@elfacht there'a no 1.0.179 version for cli. I'm seriously confused. Are you using the desktop version or the cli version?

You mentioned in step 3 that you atarted the application with `joplin`. You can't start the desktop app with `joplin`. You would have to go to `/Applications/Joplin.app/Contents/MacOS/` and start the app with `./Joplin`.

[2020-02-20 13:43] elfacht commented on #2536
@tessus Sorry, my fault. The CLI is on version 1.0.153 and I'm expecting the CLI version to open.

[2020-02-20 14:12] tessus commented on #2536
@elfacht please update the cli version to 1.0.155.

[2020-02-20 14:32] elfacht commented on #2536
@tessus `brew upgrade joplin` only delivers 1.0.153. Installing it via `npm` throws a new error. Any idea how to get the 1.0.155?

[2020-02-20 14:36] elfacht commented on #2536
Ok, somehow it works now with Node 10.* and installing via npm …

[2020-02-20 16:52] hpfmn commented on #2518
I could catch it today in development tools in the debugger I hit the pause button and seems to be hanging at this code: https://github.com/laurent22/joplin/blob/e7a56bb2b1df3f6d90e196c406ed20620684db86/ReactNativeClient/lib/models/ItemChange.js#L41

[2020-02-20 16:58] tessus commented on #2536
@laurent22 I think it's time to remove the `brew install` option from the documentation.

[2020-02-20 17:01] laurent22 commented on #2536
Hmm, I'd rather have it there since it's a popular option, but yes the issue is that we can't support it. All this thread should be on the Homebrew repo where they might actually know something.

[2020-02-20 17:03] bedwardly-down commented on #2518
Hmmm. Because that's in ReactNativeClient/lib, if that was the source of the bug and not just a symptom, changing the kernel version wouldn't solve the problem. Everything in that folder is used by all platforms which would mean the bug would occur everywhere as frequently.

Still a nice find, though. :smiley_cat:

[2020-02-20 17:05] tessus commented on #2536
Ok, in that case, we should state that **any** problems when installed via brew will have to be reported to brew.

[2020-02-20 17:09] laurent22 commented on #2536
Yes, I think for this and the Arch Linux package, we should have a text in bold that says **Any problem with this installation method should be reported to http://....** with a link to the respective repositories.

[2020-02-20 17:34] hpfmn commented on #2518
I don't know if it might be related in any way to this? https://github.com/electron/electron/issues/21415

[2020-02-20 18:20] bedwardly-down commented on #2518
I think the bug you linked could be related to some other issues here but probably not this specific one. The person that opened that bug report up was on 5.4 and Slackware, so not the same as the rest of us, but still could lead to more info.

[2020-02-20 18:46] bedwardly-down commented on #2518
@hpfmn, I do think you're on to something though. I got a hit here from the dev of a Protonmail frontend that is experiencing similar issues to this one: https://github.com/electron/electron/issues/21415#issuecomment-589242637

@laurent22, if I'm reading the linked issues correctly, it looks like this is an Electron 7 bug that was fixed in 8.

[2020-02-20 18:46] as3ii opened #2539 "problem with curly brackets rendering"
When using  _cases_ there is a bug in the rendered open curly bracket
example code:
[code]
![immagine](https://user-images.githubusercontent.com/29260716/74963669-68a4d980-5412-11ea-865d-f422215a3951.png)
^ runtime rendering

![immagine](https://user-images.githubusercontent.com/29260716/74963736-86723e80-5412-11ea-9a39-0f0bafbf7ab0.png)
^ pdf (note the sign on the first page where the parenthesis

[2020-02-20 19:30] tessus commented on #2539
this has been fixed already. it will be available inthe next release

[2020-02-20 19:30] #2539 closed

[2020-02-20 20:48] laurent22 commented on #2528
The way it prints is that it first load the note and render the note in a hidden window, then print. I think we need to give it a small delay to make sure everything is fully loaded before printing.

[2020-02-20 20:59] adrijshikhar commented on #1718
i would like to work on this issue. is it still available?

[2020-02-20 21:19] naviji commented on #2409
I'll work on this.

[2020-02-20 22:12] tuqueque opened #2540 "Word count for notes."
Hi, I've done a quick search here and over the forum in Discourse and the only thing I found was a feature request from 2018 where nobody even cared to reply to the poor guy who asked...

Is there a "word count" feature in Joplin?... If so, I can't find it anywhere... if there isn't, would it be too much to ask for such a simple feature? I'm considering Joplin for my writing work, but the absence

[2020-02-20 23:49] matcharles commented on #2518
I can't get LTS on this system because I need patches from 5.5, but I just wanted to let you know the situation has become worse today. Before I had a small window where I could enter some data and then save. Now not only do I not have the time to cut and paste, sometimes I can't browse my notes. Totally unusable. I understand from the thread that this isn't Joplin's fault. Just wanted to chime in

[2020-02-21 00:03] laurent22 commented on #2518
If Electron 8 fixes it we can upgrade but doesn't look like it does then? How about that disable-gpu flag they mention in the other thread?

[2020-02-21 00:04] mgrandi commented on #1488
the latest version of joplin (1.0.179) seems to still have the sqlite3 build files included

![image](https://user-images.githubusercontent.com/802786/74991377-07c1d500-5403-11ea-9507-b83bb6f6cdfc.png)

[2020-02-21 00:38] bedwardly-down commented on #2518
Thanks for checking on that, @matcharles . I was afraid some people wouldn't be able to use LTS for that reason but at least we're getting somewhere with this, right? Also, could you provide a step by step on how you upgraded to Electron 8 so I could test it out too to see if the issue shows up on the LTS kernel for me? That way, if the project does move to it, we can make sure that kernel version

[2020-02-21 00:41] matcharles commented on #2518
@bedwardly-down I just `sudo pacman -S electron` I presume it just got added to the repos tonight!

[2020-02-21 00:42] bedwardly-down commented on #2518
Of course, @laurent22, if all else fails, are there any alternative modules you would be interested in testing out for the sake of seeing if maybe we can future proof Joplin against further problems caused by how fragmented the node repo is?

[2020-02-21 00:44] bedwardly-down commented on #2518
@matcharles, the problem I see with that it wouldn't affect this project since electron is pulled in as a node module for this project only. I would say that your Electron 8 taste shouldn't be accepted for that reason. Electron has been in the Arch repos for a good while now.

[2020-02-21 00:47] matcharles commented on #2518
No worries! You guys are all way more knowledgeable with this than me, but I did update from `7.1.11-1 -> 8.0.1-1` tonight so I thought it might have something to do with this. Sorry I couldn't be of much help haha!

[2020-02-21 00:51] bedwardly-down commented on #2518
No, you were definitely helpful by just attempting it and being forward with what steps you took. By acknowledging that you updated Electron globally but not locally to the project, we can still look at upgrading to 8 as a possible fix for this (and possibly other issues that may arise and cause Joplin resources to be wasted).

[2020-02-21 01:16] hpfmn commented on #2518
I build a package with electron 8.0.1 - you can download it here
https://johanneswegener.de/joplin-1.0.179-1-x86_64.pkg.tar.xz

But I head to update some other libs as well so be cautious if something doesn't work

[2020-02-21 01:25] bedwardly-down commented on #2518
I'm not sure if builds like that should be used for testing purposes here. I know that @laurent22 has already said when I built my Debian release for Joplin that the project can't officially support anything but AppImage for Linux builds. I think that, in that context, making a fork that is specific to upgrades and letting testers build them from source would probably be the better option, @hpfmn

[2020-02-21 01:28] hpfmn commented on #2518
@bedwardly-down yes I know it is not optimal I just think that if @matcharles can easily reproduce the behavior he is the best person to test it. And this is just  a quick and dirty solution. My npm/node/electron knowledge is also quite limited ;)

[2020-02-21 01:57] bedwardly-down commented on #2518
@matcharles , so your test can be clean, I'm currently getting a stable branch ready with Electron version 8.0.1 for you to test and I will be testing on 5.4 . I did have to add the `node-abi-2.15.0` module to get Electron 8 to work, so that could break some things since I'm not sure what the minimum version needs to be to run it yet. This branch will also be testable for others too.

[2020-02-21 02:03] matcharles commented on #2518
@bedwardly-down Looking forward to testing.

[2020-02-21 02:14] bedwardly-down commented on #2518
For anyone that wants to test Electron 8, here you go: https://github.com/bedwardly-down/joplin/tree/bug-tracker-2518

I would highly recommend backing up `$XDG_CONFIG_HOME/joplin-desktop` folder and exporting a Jex file of your current notebooks because this could possibly break some things.

For the test steps:

1. Create a new Notebook called `Test`
2. Create a new note
3. Synchronize
4. Delete

[2020-02-21 02:31] bedwardly-down commented on #2518
Here's my Electron 8 test and creating new Todos seems to break the UI and cause the Sidebar to shift to the left. @matcharles and anyone else testing tell me if you run into the same issue along with any other ones you find. Also, at the beginning of the recording, I show my kernel version and go through the entire build process.

https://youtu.be/arafnpZETHo

[2020-02-21 04:27] tessus commented on #1488
I'm not sure what we can do here. Sometimes an sqlite3 rebuild happens and then this dir is there. Excluding the dir from the build is an upstream issue. The build files are not copied for any other module, so why is it with sqlite3?

[2020-02-21 06:25] anjulalk commented on #1656
I'd like to fix this issue on the Desktop client. Correct me if I'm wrong, but since the library that is used to display prompts ([smalltalk](https://www.npmjs.com/package/smalltalk)) does not support this use case, I see two options here.

Either we can replace it with another library and rewrite alert, confirm and prompt dialogues, or we can use another library just for this specific use case.

[2020-02-21 06:38] anjulalk commented on #2528
I'm using Windows 10 Pro 1909 Build `18363.657`. I'm unable to reproduce the issue. Above katex code was rendered perfectly in both PDF and HTML. (Screenshot below)
![Integral](https://user-images.githubusercontent.com/26695184/75010200-6e5de780-5431-11ea-91fa-26fb75b65f6d.JPG)

[2020-02-21 06:39] anjulalk commented on #2528
@superfreeman1989 Which version are you using?

[2020-02-21 07:50] elfacht opened #2544 "Notebooks, notes and tags missing in CLI version 1.0.155"
In the CLI version all contents seems to be synced correctly from my Nextcloud server. `status` is listing everything correctly, but of the 19 noteboks only 10 are shown. Same with tags: only 19 of 28 are showing up. The status shows no errors or conflicts. All status data is correct. The desktop app displays all contents as expected.

I tried to decrypt the data while syncing outside the app with

[2020-02-21 09:45] scottwilliambeasley commented on #1546
I can confirm that I am experiencing this same issue.

Joplin Desktop Version: 1.0.179
OS: MacOS (Catalina) 10.15.2

[2020-02-21 12:20] matcharles commented on #2518
Thanks @bedwardly-down . Now for a totally noob question, do I just git clone and then run the install script from your fork?

[2020-02-21 12:39] superfreeman1989 commented on #2528
Exact same version as yours.

[2020-02-21 12:54] m-angelov commented on #2518
I have the same issue with Joplin (as @Soltares I was a bit hesitant to file the bug, but I'm a bit relieved that it's not just my system).

@bedwardly-down I'm going to test your version and give feedback.
@matcharles I've skimmed the install script (Joplin_install_and_update.sh) and it seems that it just sets up the environment and gets the latest AppImage. In the video that @bedwardly-down has

[2020-02-21 13:34] bedwardly-down commented on #2518
Just clone the repo in a directory where it won't affect anything else and follow the instructions in BUILD.md in the root directory. If that's what you mean by the build script, definitely.

[2020-02-21 13:38] bedwardly-down commented on #2518
@m-angelov thanks for being more detailed than me on that. The install script is not how anyone should build and install this. It's used for upgrading to the latest Joplin version and overriding the installed one, which is NOT what you want to do with a test build like this. You want this build to be ran separate from the main one you use as your daily driver so you can revert back to that version

[2020-02-21 13:44] m-angelov commented on #2518
@bedwardly-down at the moment I can't do extensive testing, but here are some initial observations:
- It works way (way!) snappier than 1.0.179, both in sync and UI interactions
- Created five or six notes and todos, syncing between each creation, then deleted them one by one, again syncing in between. Everything is working as expected
- I can't replicate the issue you had with todos and sidebar s

[2020-02-21 13:50] bedwardly-down commented on #2518
@m-angelov that's good enough for me as long as at least one other person here can validate it. It's possible that my issue could have just been a fluke that requires a full clean and rebuild, but when you are able to (I'm getting ready to go to work myself), if you can screenshot the Note Title bar and the Joplin version at least, that would definitely help.

If you could also enable debug inform

[2020-02-21 14:14] matcharles commented on #2518
@bedwardly-down Thanks for the video, followed your every move. When I launched it though, I don't get the same screen as you do for the Revision. Here is mine:

![DeepinScreenshot_joplin_20200221091003](https://user-images.githubusercontent.com/16296847/75041196-169f9a80-548a-11ea-8e06-089b42950528.png)

Which I'm pretty certain is not the correct version if I compare to yours? I did launch it th

[2020-02-21 14:26] bedwardly-down commented on #2518
@matcharles, easy fix. The following steps will ensure you have a clean repo to test in. Also, make sure you are only doing these steps in the your Joplin directory. Step 2 and 4 can wipe out all of your important documents, downloads, etc, if you use them anywhere else since they delete everything without stopping. Sudo is only used here as a safety measure for anyone who finds these instructions

[2020-02-21 14:31] matcharles commented on #2518
ok brb trying this out.

[2020-02-21 14:42] bedwardly-down commented on #2518
I'm heading off to work. I will be checking in some while I'm out but don't expect any super great insight until I'm able to fully focus on this issue. At least we're getting somewhere with it. :D

[2020-02-21 14:46] matcharles commented on #2518
Yes I definitely think you fixed it but I will do some troubleshooting today and report back, thanks!

[2020-02-21 15:12] bedwardly-down commented on #2518
Sounds good. If you can offer some way to show that it's working fine, including version screenshots like above, I'll do a bit more testing myself during lunch break on 5.5 (since switching kernel versions is super simple overall), we'll go from there.

I would think that of Electron 8 doesn't break anything major and doesn't cause major issues for other users and platforms, a bug like debug mode

[2020-02-21 15:21] Runo-saduwa commented on #2445
@tessus I looked at your PR #2453 and I’m thinking of using the same approach to solve this issue, I’ve been spending quite some time looking at where to start from and but for some reason I’m not seeing a starting point, can you please point out a file I should focus on to start working on this issue?, that will be very helpful, thanks

[2020-02-21 15:26] laurent22 commented on #2445
I've clarified that what we want is "locale based sorting" (which is different from natural sort order).

[2020-02-21 15:32] Runo-saduwa commented on #2445
That’s for the clarification, you also mentioned that the code for this is shared, so if it’s solved for Desktop, it’s solved for mobile. Can you show me the file/functions that contains the code to be modified

[2020-02-21 15:34] laurent22 commented on #2445
The sorting itself should be done in models/Folder.js. On the UI, you would look at SideBar.jsx to see how it gets the list of folders.

[2020-02-21 15:36] Runo-saduwa commented on #2445
Thanks a lot @laurent22 , this a very helpful information.

[2020-02-21 15:45] ivangretsky commented on #375
Hey, bot! This is probably one of the most potentially influential issue for Joplin's future, so please leave it as it is)

[2020-02-21 16:07] aashish108 commented on #375
BAD BOT!!!

[2020-02-21 16:25] nr458h commented on #375
really bad bot, I really want to have this feature

[2020-02-21 16:29] pconwell commented on #375
@stalebot - the only reason this is "stale" is @laurent22 hasn't chimed in yet.

[2020-02-21 16:34] laurent22 commented on #375
Done, it's immune from stale bot now.

[2020-02-21 18:01] #2536 closed

[2020-02-21 18:49] matcharles commented on #2518
So far so good with the previous method. I'm trying to clean up the folder and rebuild to make sure I have the right version, but I get this at the final step before building:

     ~/joplin-bug-tracker-2518 $ git checkout bug-tracker-2518
error: pathspec 'bug-tracker-2518' did not match any file(s) known to git

[2020-02-21 18:53] bedwardly-down commented on #2518
Try `git pull origin bug-tracker-2518`. It should have pulled it during clone but that should fix it

[2020-02-21 18:59] matcharles commented on #2518
[code]

[2020-02-21 19:08] bedwardly-down commented on #2518
Delete the full repo and run this

`git clone -b bug-tracker-2518 https://github.com/bedwardly-down/joplin.git joplin-bug-2518`

That should get you set. Then

[2020-02-21 19:26] matcharles commented on #2518
I'm sorry @bedwardly-down , I feel like a retard asking you all these questions which are probably some basic stuff for all of you. I can't even get it to build again like I did this morning so I will just stop trying. For what it's worth, the version I was running this morning never crashed once on me. I used it intermitently for about 3 hours.

Thanks a lot for you help, I'll let you guys figure

[2020-02-21 20:24] bedwardly-down commented on #2518
It looks like Electron 8 doesn't fix this issue with Kernel 5.5 on my end when building from the latest stable branch (1.0.179). I'm going to attempt on the master, but I don't think it will work since the master isn't considered stable on the latest Electron 7 release.

Live test: https://youtu.be/tTs83JB1TO4

For anyone else that wants to test it out, here's an AppImage, since that's what is off

[2020-02-21 20:27] m-angelov commented on #2518
Hey @matcharles , if you feel like everything in your repo is borked, just delete the whole directory and clone it again.

@bedwardly-down my initial report is not accurate. I've forgotten to checkout the branch for this bug, so I've built the 1.0.184 AppImage. Good thing I've noticed, because I encountered the bug again and was very disappointed.

So I rebuilt it again, and unfortunately the bug

[2020-02-21 20:32] bedwardly-down commented on #2518
@m-angelov the more tests that are verifiable, the better. Thanks for testing it yourself and I'd appreciate you uploading it too.

And, @matcharles, I am messy with making code commits and bad at rebasing and some of the more advanced git features, so don't feel bad, but learning the basics is extremely useful for testing. You'll eventually get there if you keep working at it.

[2020-02-21 20:51] bedwardly-down commented on #2518
Also, @m-angelov, if you can get that video uploaded and posted here, I'll take that as Electron 8 not being a viable fix if the issue is still there with it. Master looks like it's going through some major changes right now to make building so much quicker and easier. That also means that it may be harder to test on too.

[2020-02-21 21:05] shreyaspapi opened #2547 "Too many warning and use of obsolete code."
Getting lots of warning while running the app on Android simulator -

[code]

## Environment

Joplin version: master
Platform: Android, iOS
OS Specific: MacOS

## Steps To Reproduce

1. npx react-native run-android

We can start working on solving the warnings one by one.

[2020-02-21 21:16] bedwardly-down commented on #2518
Master branch builds, syncs, and decrypts substantially faster but Electron 8 breaks it so much worse. The toolbar up top loses all text and the app froze hard for longer.

https://youtu.be/KAtPLMutKoo

@laurent22, Electron 8 is not a fix and breaks Joplin even worse on Kernel 5.5. Downgrading to 5.4, except when 5.5 is absolutely necessary looks like the best option right now until further notice

[2020-02-21 21:26] tessus commented on #2547
No you can't. Unless you want to open issues in the respective upstream repositories.

This is not our code. The warnings are generated by 3rd party modules. Also, this is not a bug, thus please move this discussion to the development category on the forum.

[2020-02-21 21:26] #2547 closed

[2020-02-21 22:53] danger89 commented on #1458
Yup. needed feature!

[2020-02-21 22:55] danger89 commented on #1458
ps. @laurent22 No full server is required, only Graphviz dot, which can be made part of the Joplin desktop app for example.

[2020-02-21 22:59] danger89 commented on #1458
Ps. ps. the official external server would be: https://www.plantuml.com/plantuml

[2020-02-21 23:06] danger89 commented on #1458
Ps. ps ps. It requires only some simple encoding en voila! Please, read:
https://plantuml.com/text-encoding

So, hello world is encoded to:
http://www.plantuml.com/plantuml/png/Aov9B2hXil98pSd9LoZFByf9iUOgBial0000

And the Alice & Bob is encoded to this:
http://www.plantuml.com/plantuml/png/Syp9J4vLqBLJSCfFib9mB2t9ICqhoKnEBCdCprC8IYqiJIqkuGBAAUW2rJY256DHLLoGdrUS2W00

[2020-02-22 00:30] bedwardly-down commented on #2518
Just had a Solus report. This is not an arch bug but a kernel 5.5 bug

https://discourse.joplinapp.org/t/joplin-kind-of-freezes-cant-select-different-note-notebook/6023/5?u=bedwardly-down

[2020-02-22 00:34] bedwardly-down commented on #2518
As suggested above, could someone test Joplin with the `--no-gpu` flag?

[2020-02-22 02:37] amitsin6h commented on #2496
![WhatsApp Image 2020-02-22 at 8 05 56 AM](https://user-images.githubusercontent.com/12906090/75084968-37c7c000-554a-11ea-8b3a-daf2355d66d2.jpeg)

@rankaiyx @licheedev could you confirm about this issue again, as I don't see any problem rendering the image in android

[2020-02-22 02:45] amitsin6h commented on #2540
@tuqueque thanks for mentioning this, I truly agree that we should have this on our Joplin. I can add this feature for both android and desktop versions. Can any mentors let me know if I can proceed with this feature enhancement

[2020-02-22 03:19] licheedev commented on #2496
@amitsin6h
My phone is Android 10.
All http-images can be rendered on desktop-editon, but failed on Android.
![mark](http://notefiles.licheedev.com/pics/20200222/5XL5SfXSIBcd.jpg?imageslim)

https://developer.android.com/training/articles/security-config.html
https://developer.android.com/guide/topics/manifest/application-element#usesCleartextTraffic

Add `android:usesCleartextTraffic="true"` on <

[2020-02-22 04:23] amitsin6h commented on #2483
@sciurius I don't see this as a problem as the both words have same meaning also it can be written both the ways so its perfectly fine

[2020-02-22 04:25] amitsin6h commented on #2496
@licheedev ok thanks for your reply. I will look after it

[2020-02-22 05:53] rankaiyx commented on #2496
I would appreciate it if you could fix this issue:
https://github.com/laurent22/joplin/issues/2517

[2020-02-22 06:12] coderrsid commented on #2296
Hey @tessus I was just trying to fix this issue. I have one issue why there is two App.js, one in ElectronClient/App  and other in  app/dist/mac/.../Resources/app/app.js. Do i have to make changes to them both as they look same as my changes is not shown in the app.

[2020-02-22 06:19] tessus commented on #2296
Actually, there is no app directory anymore. If you pull the latest git master, you will see that.

If you are working on a local branch, create a new branch from your branch and do a `git rebase master`.
The file `app.js` is now in the directory `ElectronClient`.
The dist directory will be created when you create a release, so for testing this is not even necessary. Just do a `npm start run` in t

[2020-02-22 06:29] tessus commented on #2296
The BUILD.md has been updated to reflect the changes to the build process.

[2020-02-22 06:32] coderrsid commented on #2296
Yeah i just saw that. Thanks @tessus

[2020-02-22 06:55] coderrsid commented on #2296
Hey @tessus I've updated my forked master branch but when i run it now with `npm start run`. It shows white screen in the app.
![image](https://user-images.githubusercontent.com/35633575/75088069-3ad4a780-556e-11ea-9560-583ee052fb22.png)

[2020-02-22 06:57] tessus commented on #2296
You probably didn't run `npm i` in the root directory of the project. (one up from ElectronClient)

[2020-02-22 06:59] coderrsid commented on #2296
I did.
![image](https://user-images.githubusercontent.com/35633575/75088114-f39ae680-556e-11ea-9a1d-7abcecc2c0c1.png)

[2020-02-22 07:01] tessus commented on #2296
No, you did it in the `ElectronClient`. Do a `cd ..` and run `npm i`.

[2020-02-22 07:08] coderrsid commented on #2296
Ohh thanks. Now it's working. Now i have a query related to issue.
As only drag and drop is the only option to move notes to diff. notebooks. Here in `Sidebar.js` which of these three functions defines the instance of when i drag and drop a folder or note on another folder?
![image](https://user-images.githubusercontent.com/35633575/75088023-7e7ae180-556d-11ea-8873-c08caf54bfa0.png)

[2020-02-22 07:19] tessus commented on #2296
I'm not sure. I think it's the Drop function. I haven't really worked with this part of the code.

But @laurent22 can tell you for sure. There should be a moveNote function or something. You don't need the drag and drop functions.

[2020-02-22 07:22] coderrsid commented on #2296
No i just need to see how drag and drop is assigning the folder to the note so when i make a prompt to select the folder i can do the same. Thanks for calling @laurent22

[2020-02-22 07:30] tessus commented on #2296
`await Note.moveToFolder(noteId, folderId);`

[2020-02-22 08:41] coderrsid commented on #2296
Thanks @tessus for the information. Although you can assign me this, i am already working on this.

[2020-02-22 09:05] duvaldt opened #2553 "Desktop and CLI application has different Notebooks"
Thanks for a great application!

My desktop application and cli application doesn't use the same notebooks.

Afterwards I installed the CLI application using:

## Environment

Joplin version: 10.1.0.79
Platform: Linux
OS specifcs: Ubuntu 19.10

## Steps To Reproduce

1. Install desktop application with:
wget -O - https://raw.githubusercontent.com/laurent22/joplin/master/Joplin_install_and_update.s

[2020-02-22 09:09] sciurius commented on #2483
I have been told otherwise but I am the first to admit that this is far beyond my realm of expertise.

[2020-02-22 09:41] chrischoy commented on #1094
I second this. It would be very useful to have this feature. Especially for the mobile environment.

[2020-02-22 09:47] Perkolator commented on #1817
Not sure if this is fixed by the PR in #2141, I will check the next update and close this if it's fixed.

[2020-02-22 09:48] Perkolator commented on #1818
Not sure if this is fixed by the PR in #2141, I will check the next update and close this if it's fixed.

[2020-02-22 11:22] mic704b commented on #2553
By default desktop and CLI use different profiles.  You might be able to use the `--profile` switch to get them to use the same profile.  Be careful not to run them at the same time though, you will corrupt the data.

[2020-02-22 11:25] #262 closed

[2020-02-22 14:02] duvaldt commented on #2553
Thank you for the clarification! :)

On Sat, Feb 22, 2020 at 12:22 PM mic704b <notifications@github.com> wrote:

[2020-02-22 15:08] coderrsid commented on #2296
Thanks @tessus for the help. I am working on this issue. I'll reach out if i got any more query.

[2020-02-22 16:02] alishamohanty commented on #2476
Is the issue still open?

[2020-02-22 17:37] m-angelov commented on #2518
@bedwardly-down Here's a clip from my system: https://my.pcloud.com/publink/show?code=XZNo7DkZT6hSwbeSdFRYAajlDfe1d5l0zhTX

There seems to be some wonkiness in the screencap (something like screen tearing, so the background flashes), but you can see what's going on in Joplin.

I'll try researching the `--no-gpu` flag.

[2020-02-22 18:00] anjulalk opened #2555 "Electron client start script doesn't compile .ts/.tsx files"
Existing or new `.ts` or `.tsx` files are not compiled into `.js` when running `npm start` in the ElectronClient folder. But they are successfully generated when running `npm install` in the root folder.

## Steps To Reproduce

1. Locate a `.tsx` file (e.g. `ShareNoteDialog.tsx`)
2. Delete the corresponding `.js` file
3. Run `npm start`

[2020-02-22 19:10] bedwardly-down commented on #2518
Thanks for the screen recording. That's exactly the same issue that others are having. @m-angelov, you've been valuable here.

Also, for anyone that's interested, I've gone to Reddit to get some more insight. Linux-5.5.5 just hit the repos this morning and several users there have stated that it fixed the problem for them. Can I get others to test it out, please?

https://www.reddit.com/r/archlinu

[2020-02-22 19:19] bedwardly-down commented on #2518
Because 5.5.5 isn't available in the repos yet for Artix, I'm building and installing it myself. Expect some tests coming from me soon.

[2020-02-22 19:36] m-angelov commented on #2518
@bedwardly-down just got 5.5.5, and spent the last 5-6 minutes creating and deleting notes, syncing in between. No issues with the official 1.0.179 AppImage.

I have to get off the computer now, but I'll test more later.

[2020-02-22 19:41] bedwardly-down commented on #2518
No worries. Thanks again. I'm still waiting for 5.5.5 to finish building on my end, but will be joining you there on that soon.

[2020-02-22 19:57] tessus commented on #2476
Yep, a PR is already available.

[2020-02-22 20:52] shreyaspapi commented on #2409
Hey, Are you still working on it?

[2020-02-22 21:11] tessus commented on #2555
Not a bug. Please read https://github.com/laurent22/joplin/blob/master/BUILD.md#watching-files

[2020-02-22 21:11] #2555 closed

[2020-02-22 21:12] #2553 closed

[2020-02-22 21:34] matcharles commented on #2518
Alright so for what it's worth, running on `Linux KALEL 5.5.5-arch1-1 #1 SMP PREEMPT Thu, 20 Feb 2020 18:23:09 +0000 x86_64 GNU/Linux`, the old installed version still hangs
![DeepinScreenshot_joplin_20200222162823](https://user-images.githubusercontent.com/16296847/75099556-150cca00-5591-11ea-87d9-1de810f85d16.png)
But the AppImage that I downloaded from @bedwardly-down 's post works fine. I've b

[2020-02-22 22:38] ChALkeR commented on #2507
This is https://github.com/electron/electron/issues/22291 and is caused by an [incompatibility](https://bugs.chromium.org/p/chromium/issues/detail?id=1025739) between older Chromium/Electron and glibc >=2.31 (which recently landed in Arch).

Electron 8 is not affected, but this repo uses 7.

Backport PRs for Electron 7/6 already exist (see the link above), but are not landed/released yet.

[2020-02-22 22:45] ChALkeR commented on #2518
Can anyone reproduce this with glibc < 2.31?

If not (or if you are seeing `**CRASHING**:seccomp-bpf failure in syscall 0230` in the terminal), https://github.com/electron/electron/issues/22291 might be related.

[2020-02-22 22:48] bedwardly-down commented on #2518
Thanks for the update, @matcharles.

Because I'm using Artix linux, getting 5.5.5 to build, install and load properly is a bit more difficult than it was in Arch. It turns out that to load modules requires extra steps that are not in most other distributions I've built and loaded kernels on, so I can't directly test out the new kernel until it's either officially released or I can get the quirks w

[2020-02-22 22:52] bedwardly-down commented on #2518
Welcome, @ChALkeR. When I get off from work and have time, I'll definitely check into that more. I know a user on the forums that was using Void Linux with musl instead of glibc couldn't run an older version of Joplin, so that may be a totally different bug but the current goal here is to get Joplin working so that people that are using this as their daily driver don't have to suffer until the iss

[2020-02-22 22:58] ChALkeR commented on #2518
@bedwardly-down Hi! =)

I got here because #2507 (which was marked as a duplicate of this), and which was clearly affected by the glibc incompatibility which surfaced on Arch (and other up-to-date distros). That does not affect Electron 8 though, so if Electron 8 still has the problem, this seems to be separate problems.

[2020-02-22 23:20] bedwardly-down commented on #2518
I'll have to see what version of glibc Artix is using. It should be pretty much the main version used by Arch since the main packages that are different between distros are those affected by systemd being fully patched out. The majority of releases are the exact same otherwise.

If they're different, that could explain why Electron 8 was exhibited the issue for me but not others. Thanks for the in

[2020-02-23 00:09] laurent22 commented on #2540
It's being developed in a PR and should be in soon.

[2020-02-23 00:09] #2540 closed

[2020-02-23 00:09] laurent22 commented on #2519
Please use the forum for support

[2020-02-23 00:09] #2519 closed

[2020-02-23 03:30] jazzabeanie commented on #2098
It's still an issue for me, now running Joplin 10.0.43, and iOS 13.2.2 on iPhone 11.

[2020-02-23 05:33] tessus commented on #1656
I'm not sure, if @laurent22 wants 2 packages, so if react-modal can do what smalltalk is (without too many UI design differences), I don't see a reason why we shouldn't replace smalltak.

But ultimately it's Laurent's decision.

[2020-02-23 06:57] ani4aniket opened #2559 "Unable to resolve module pluginAsset in React Native mobile app"
## Environment

Platform: iOS and android
OS specifcs: macOS Catalina 10.15.3

## Steps To Reproduce

1. Run the app with starting rn-server with `react-native start`
2. Then `./run-ios.sh`

Describe what you expected to happen:
While running the app, it is unable to find pluginAssets module as mention below
https://github.com/laurent22/joplin/blob/fd405457e430d5a5f0e5aa5c90486d1567f92342/ReactNat

[2020-02-23 07:41] gitknd commented on #2496
same here with http and cleartext issue on android10 since a few days.
switching to https resolve in an error playing any video files which worked before with http connection

[2020-02-23 07:44] idl99 commented on #2268
Hi @laurent22 , i'd like to work on this issue for the React Native Mobile app. Should i create a draft PR and reference it here before starting work work on it, or should i create the PR and reference it here once i've completed it?

[2020-02-23 07:50] jtagcat commented on #1718
Yes, go for it.

[2020-02-23 08:04] rabeehrz opened #2560 "Toggling formatting elements from Toolbar doesn't work."
Styling the notes using the toolbar is buggy. When clicked elements on the toolbar, it attempts to insert new elements rather than toggle the current one.

## Problems & Expected Behaviour

### Bold and Italics
#### Problem
- Highlight a text
- Click on Italics. * gets added before and after the selected
- Click on Italics again. * gets added again. But two * equals and bold text.

![Bold and Ital

[2020-02-23 08:06] rabeehrz commented on #2560
@laurent22 I would like to work on this if this is a bug.

[2020-02-23 09:40] HirenMadhu commented on #2409
Is this issue still open? @laurent22

[2020-02-23 11:32] PackElend commented on #2560
I would say yes, but let us ask @tessus as well as GH is more up to @tessus and @laurent22

[2020-02-23 13:56] RizkyRajitha commented on #2469
hi @tessus ,
i did some research in this issue .
i found another good Geo location service i used . it give 1500 requests per day , which will not be enough i think in this requirement.
https://ipdata.co/pricing.html

i checked free geo api and i think it is better .

and also there is a good alternative for http://api.ipify.org/

which has https
https://ipv4.icanhazip.com/

how can i contribute t

[2020-02-23 16:40] m-angelov commented on #2518
Small tidbit of information:
- The official 1.0.179 hangs (confirming @matcharles's experience). Sorry, but I don't have any video. After my initial success, reported previously, I decided that it's fixed, and it blew up in my face 30 minutes later. It was behaving the same as in the previous videos.
- I'll start using the bug-tracker-2518 version now, and will report what's up with it.

[2020-02-23 17:20] bedwardly-down commented on #2518
@ChALkeR I finally got around to checking into the glibc bug you were referring to. I am on 2.31-1 and not running into the exact same issue you were referring to. In the console, when running Joplin with debug mode enabled, I am not receiving anything close to the issue you're referring to. Thanks for bringing it up, anyways

[2020-02-23 17:22] ChALkeR commented on #2518
@bedwardly-down try opening devtools (not detached) and resizing the window (might need several attempts).

[2020-02-23 17:27] bedwardly-down commented on #2518
@ChALkeR Thanks, but I'm not going to test that further because it's not directly related to the current bug and isn't solving the current issue. Thanks again

[2020-02-23 17:31] m-angelov commented on #2518
@ChALkeR @bedwardly-down for what's it worth, I spent the last 2-3 minutes resizing, moving, minimizing, etc the window and there was no `**CRASHING**` in the console, or in the logs.

Arch, kernel 5.5.5, glibc 2.31, Joplin 1.0.179 (bug-tracker-2518).

[2020-02-23 17:41] 20manas commented on #1877
Hey everyone,
This seems like a really interesting issue to work on. I'd love to work on this.

[2020-02-23 17:44] bedwardly-down commented on #2518
I'm on Linux-5.5.5 now and building bug-tracker-2518 as we speak.

[2020-02-23 18:32] naviji commented on #2409
Working on it. Here is my initial work. #2563

[2020-02-23 18:38] bedwardly-down commented on #2518
Still Broken on Official Release: https://youtu.be/UDSzB4KAsbA

Hangs indefinitely but can be canceled on Electron 8: https://youtu.be/-CLOROGdnXg

[2020-02-23 19:29] tessus commented on #2469
Thanks for looking into this as well. There's already a PR open, so now it's Laurent's decision how to proceed. You can check out the discussion at #2503

[2020-02-23 19:31] tessus commented on #2560
This was never a bug. It worked like this since the beginning.

However, I do understand that a function to toggle the action would be nice. Altho8ugh it's not only Bold and Iralics, but also the code button. Although the code button is more complicated, because it creates a code block, if the selection contains at least one newline.

I would like to see this implemented, because it has a more nat

[2020-02-23 19:31] #2559 closed

[2020-02-23 19:52] PackElend commented on #2560
@rabeehrz so you know what to do, looking forward to your PR

[2020-02-23 19:54] tessus commented on #2560
Well, I'd wait for @laurent22's ok first. I don't want anyone to code something that is then not merged.

[2020-02-23 19:59] rabeehrz commented on #2560
@tessus What do you think about replacing * with _ for italics? I've tested it out and it works fine in the editor.

[2020-02-23 20:10] tessus commented on #2560
Unfortunately these kind of decisions are not mine to make. It's Laurent's project. I cannot make any architectural descisions or anything that impacts everyone.
I myself use the underscore for italics, but maybe there's a reason why Laurent uses `*`. He also uses `* * *` for a hline, while I use `---`.

Theoreticlly the change should be ok, because it won't break anything, but as I said, this is

[2020-02-23 20:14] laurent22 commented on #2560
That would be a big change (we'd also need to update the turndown package) and not really necessary. I guess I've used stars because that's what they use in their editors on GitHub and SO.

[2020-02-23 20:17] rabeehrz commented on #2560
@laurent22 So how do you want me to proceed with this?

[2020-02-23 20:17] tessus commented on #2560
Why the turndown package? Underscores are currently supported. But this is not erally neceesary. The main reason for this discussion was about the toggling.

You have a text `bla`, select it and click `Bold`. Then you get `**bla**`, you select `**bla**`, click `Bold` and get `bla`.

[2020-02-23 20:22] laurent22 commented on #2560
The turndown package generates Markdown from HTML and currently uses "*" for bold/italic if I'm not mistaken.

[2020-02-23 20:44] rabeehrz commented on #2560
I will implement this and open a PR.

[2020-02-23 21:57] rabeehrz commented on #2560
@PackElend label me please.

[2020-02-23 22:12] bedwardly-down commented on #2518
@m-angelov, when you're able to, can you test master please? The bug isn't showing up on so far for me. It has been hanging at the end of sync, but nothing out of the ordinary from what was already happening before the bug showed up. Thanks

[2020-02-24 00:13] rankaiyx commented on #2517
This pull may have fixed the problem
https://github.com/laurent22/joplin/pull/2562

[2020-02-24 02:01] Ridbowt commented on #2518
Desktop: KDE Plasma 5.12.9 Distro: Ubuntu 18.04.4 LTS
Joplin won't react. Clicking on notes does nothing. Like on videos upper.

[2020-02-24 02:33] HirenMadhu commented on #2383
Is this issue still open?
If yes, then can I work on it?

[2020-02-24 03:16] ishammahajan opened #2568 "Flow's config available in `/ReactNativeClient` but flow-bin doesn't exist in `/ReactNativeClient/package.json`."
## Environment

Joplin version: Latest Master

Describe what you expected to happen: Flow should be included as a package to be installed if it is enforced.

[2020-02-24 03:16] ishammahajan commented on #2568
This isn't a bug, but I didn't know how to file the issue otherwise.

[2020-02-24 03:55] HirenMadhu commented on #2409
OK! I'll work of some other issue!

[2020-02-24 06:10] coderrsid commented on #2445
@Runo-saduwa  are you working on this issue?

[2020-02-24 06:48] Liuhaai commented on #2528
![PDF_output](https://user-images.githubusercontent.com/55118568/75132994-d872c880-568d-11ea-8c48-607f30a536af.jpg)
Here is my PDF export result of the expression from tessus on my windows 10 laptop
`$$
f{x} = \int_{-\infty}^\infty \hat f(\xi) e^{2 \pi \xi x} d \xi
$$`
Actually, I am preparing the application of GSOC of this project. I can have a try on solving this bug as a beginning.

[2020-02-24 08:35] jerrybuks commented on #1656
would Love to work on this issue, can I

[2020-02-24 08:47] Guibrou commented on #2518
Checking in with fedora 31 :

      Kernel: Linux 5.5.5-200.fc31.x86_64
      Architecture: x86-64
      Joplin 1.0.179

The behaviour of Joplin is the same as describred in the videos : when syncing, it sometimes loops and stops responding.

[2020-02-24 09:30] laurent22 commented on #2528
Yes please go ahead and give it a try. My guess is that, after creating invisible window, you might need to wait a second or so to make sure all the fonts are loaded, and then print.

[2020-02-24 09:44] FlinnBurgess commented on #2476
For those experiencing this issue I've realised that when I open joplin there's a very tiny section of the window that appears on the left-hand side of my screen. I was able to expand the window to full size using this.

[2020-02-24 10:28] bedwardly-down commented on #2518
Since this bug is getting out of hand and spreading to other users, node-fetch is on version 2 and does have API breaking changes (as posted [here](https://github.com/node-fetch/node-fetch/blob/master/UPGRADE-GUIDE.md)). I'm checking into what would need to be changed for Joplin to upgrade, since that's the next most likely candidate for this issue.

[2020-02-24 10:43] m-angelov commented on #2518
@bedwardly-down I built master (1.0.185, Revision: cc759afe) and it's working for now, even after 20-note/todo post-sync-delete-sync. But based on your experience (same build, as far as I saw from your video), I'm just waiting for it to crash :/

Unfortunately I don't have any idea about node-js and electron, so I can't help with the bug itself, but I'm up for testing.

[2020-02-24 10:47] Liuhaai commented on #2528
Suspicious reason: Font(katex_size2) loading failure in Windows
I found that the style of the character f has corrupted in the stage of generating HTML file.
![image](https://user-images.githubusercontent.com/55118568/75143853-b3408300-56aa-11ea-8435-09dfb83015fe.png)
Compared with good HTML file generated by Mark Text app, I found that the expression will look as the above one if style{font-famil

[2020-02-24 11:03] bedwardly-down commented on #2518
I'm not a Node-js dev either, but gotta do something here. We may just get lucky and Node-fetch v2 just straight up works out of the gate with no changes needing to be made. Ha

[2020-02-24 11:18] bedwardly-down commented on #2518
@m-angelov the error you're showing isn't Joplin related. It's a common one that shows in Electron and Chromium apps due to how they access the GPU to draw to the screen. They're nothing to worry about and have been around forever. Ha

[2020-02-24 11:23] laurent22 commented on #2528
Please note that this is auto-generated from NoteText.jsx. So if you submit a pull request, please make the changes on the JSX file.

[2020-02-24 11:23] laurent22 commented on #2568
We use TypeScript, not flow.

[2020-02-24 11:23] #2568 closed

[2020-02-24 11:51] Rakleed opened #2570 "iOS: White splash screen with dark theme enabled"
## Environment
Joplin version: 10.0.43
Platform: iOS
OS specifics: 13.3.1

## Steps To Reproduce
1. In the application settings, select a dark theme and save.
2. Unload the application from memory.
3. Open the application.

### Describe what you expected to happen:
The initial splash screen will be dark.

## Logfile

Screen recording: [RPReplay_Final1582544347.zip](https://github.com/laurent22/jop

[2020-02-24 11:56] ishammahajan commented on #2568
Umm.
From what I understand, TypeScript doesn't require flow, this repository used to use flow, but has since removed the dependency because of shifting to TypeScript. Is that correct?

[2020-02-24 11:57] laurent22 commented on #2568
We've never used flow, what you are seeing most likely is from the React Native package (which does use flow) but we don't make use of it.

[2020-02-24 12:03] bedwardly-down commented on #2518
Upgrading node-fetch doesn't solve the problem at all. After looking through the code, it's only used for checking for a new version of the app, so definitely back to square one here.

![2020-02-24-060115_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/75150942-28bc4b80-56cb-11ea-9a49-0c980d67be65.png)

[2020-02-24 12:07] hpfmn commented on #2518
Isn't there anybody that knows anything about how to debug this node/electron stuff?
I tried to debug the main thread by running joplin with ```--env --inspect-brk=5858" and then connect via chromium and it's developer tools. But during the hang, also the debugging seems to hang. So I'm quite sure the whole electron system hangs.

[2020-02-24 12:18] bedwardly-down commented on #2518
@hpfmn I know as much as you do, probably less, tbh. I do agree that we don't know the exact issue yet, but figuring out what it's not is definitely better than just doing nothing. Let me reiterate what we know so far

1. Upgrading Electron doesn't fix the issue, so it's most likely not Electron that's the issue
2. Upgrading Node-fetch has no effect because it's not directly related to the current

[2020-02-24 12:22] ishammahajan commented on #2568
Ah, that clears it! I wasn't aware ReactNative included flowconfig along with it (automatically generated at root).

Thanks for clarifying!

[2020-02-24 12:27] bedwardly-down commented on #2518
According to the [changelog](https://github.com/mapbox/node-sqlite3/releases/tag/v4.1.1) for SQLite3, it doesn't look like it supports Electron 8 yet, so it's still possibly a bug related to that upstream. It could be why upgrading to Electron 8 doesn't solve the issue if the bug is there, but that's still shooting in the dark.

[2020-02-24 12:38] bedwardly-down commented on #2518
@hpfmn @m-angelov @matcharles @Ridbowt what syncing services do you use?

I'm using PCloud's webdav implementation.

[2020-02-24 12:39] Ridbowt commented on #2518
I use Dropbox.

[2020-02-24 12:40] wisp3rwind commented on #2518
@bedwardly-down same issue here, syncing to self-hosted Nextcloud (most recent 16.x)

[2020-02-24 12:42] bedwardly-down commented on #2518
What OS and what kernel version?

[2020-02-24 12:46] wisp3rwind commented on #2518
Arch, 5.5.4.arch1-1 so no new insights from that I guess (I've been silently subscribed to this issue for a few days. Thanks for spending so much time on it btw!).
I've seen Joplin recover from this once, but don't remember under which conditions unfortunately.

[2020-02-24 12:52] bedwardly-down commented on #2518
@wisp3rwind welcome and thanks for the kind words. Kernel 5.5 may still be a bit before it becomes the main kernel for most distros, but the fact that so many people are having issues with it and Joplin is enough to keep looking into it. That, and Joplin is one of my daily driver apps, so it hurts me just as much. Ha

[2020-02-24 13:01] Soltares commented on #2518
Echoing @wisp3rwind -- I also wanted to thank you @bedwardly-down for selflessly spending all this time on the issue and the project!  If you're ever in my area I owe you a hamburger or something! :smiley:

As a status update I've been able to use Joplin 1.0.179 on Arch LTS 5.4.20-1-lts for a few days now with no issue whatsoever.  The few times I accidentally booted into 5.5 kernel I immediately

[2020-02-24 13:04] m-angelov commented on #2518
Local file system sync in my case. It seems that we've covered almost all options between us :)

[2020-02-24 13:20] bedwardly-down commented on #2518
Thanks all. Glad it's still solid for you, @Soltares . Also, I'm a small dude that runs for a profession. If you can supply at least 5 or 6 burgers, we're on. Ha

[2020-02-24 13:44] m-angelov commented on #2518
@bedwardly-down you've mentioned `ReactNativeClient/lib/synchronizer.js`, but I think we're shooting for `ElectronClient/lib/synchronizer.js`. The code inside is the same, but I just edited `ElectronClient/lib/synchronizer.js`, rebuilt the AppImage, and my changes were reflected.

Also React Native is a library for mobile applications, so it makes more sense to be the file in the Electron librarie

[2020-02-24 13:55] bedwardly-down commented on #2518
@m-angelov they are the exact same file. During build, ReactNativeClient/lib is copied the rest of the clients. Check out the copyLib task in package.json in root directory.

[2020-02-24 14:13] bedwardly-down commented on #2518
I've also been checking the official kernel bug tracker and haven't seen anything related to network protocols lately, but if anyone has ideas, please search there.

https://bugzilla.kernel.org/

[2020-02-24 14:26] lnicola commented on #2518
There's been a change in Linux 5.5 related to the edge-triggered mode of `epoll` (`EPOLLET`). It caused issues in Flutter. See https://github.com/dart-lang/sdk/issues/40589#issuecomment-585979005 for a reference.

[2020-02-24 14:29] bedwardly-down commented on #2518
Also, just had a thought: what drivers are you using for wifi and wired connections?

`lspci` should give a rundown of all drivers loaded with any devices on your system. And are you running Joplin on wifi or wired?

[2020-02-24 14:33] Soltares commented on #2518
Wired ethernet for me over a netctl bridge adapter -

[code]

[2020-02-24 14:44] bedwardly-down commented on #2518
You're not the first to suggest that and i haven't gotten around to testing that yet. That's definitely a possible reason this issue is happening. I just want to make sure that all other possibilities are weeded out before suggesting using a patched kernel. Not every user can build a custom kernel and not every OS makes it easy to install and run.

I'm definitely open to getting help walking users

[2020-02-24 14:45] lnicola commented on #2518
I tried to do a quick test. I was able to reproduce the hang one time, but I can't get it to synchronize with my remote (WebDAV), saying that the synchronization target is empty, even if the URL seems fine.

Still, it doesn't seem to use `EPOLLET`:

[code]

[2020-02-24 14:49] bedwardly-down commented on #2518
@lnicola how'd you go about testing for that?

[2020-02-24 14:50] ishammahajan commented on #2098
Can confirm. This isn't an issue on simulators at least. @loganwedwards maybe this is an issue with physical devices, although I cannot find an issue relating to that.

https://github.com/xgfe/react-native-datepicker/issues/376 could be a solution.

Also doesn't seem like master does anything to fix this.
[code]

[2020-02-24 14:52] lnicola commented on #2518
I installed `strace` and the `joplin` AUR package, then ran it like:

    $ strace -f -etrace=epoll_ctl joplin-desktop

This prints a line for every `epoll_ctl` call done by the program, or by a program spawned by it. The default is the level-triggered mode, if it used edge-trigger it would display something like `EPOLLIN | EPOLLET`.

After the hang I mentioned, I couldn't reproduce it anymore.

[2020-02-24 14:54] ishammahajan commented on #2098
Another solution could be to automatically check what appearance mode ios is running under the hood using `react-native-appearance` and enforcing styles according to that. The mentioned module is integrated in react-native 0.62 core.

[2020-02-24 14:56] lnicola commented on #2518
Actually, it hung again when running it without `strace`. `strace` slows down processes _a lot_, so it can have an impact in some cases. Anyway, sorry for the spam, I'm not sure what's up.

[2020-02-24 14:58] bedwardly-down commented on #2518
@lnicola thanks for clarifying. I do know the devs here don't take tests from AUR packages. AppImage builds from the official repo are the only ones supported. If anyone else can follow your steps and get the same results, I'll accept them. I'm not one of the devs so I'm a little more laxe about these things.

[2020-02-24 15:06] lnicola commented on #2518
To try it with the AppImage version you can run:

[code]

Again, it seems to hang only without `strace`, and still doesn't use `EPOLLET`.

[2020-02-24 15:07] bedwardly-down commented on #2518
I'm at work, so it'll be a few hours before i can do any of my own tests again.

[2020-02-24 15:32] bedwardly-down commented on #2518
My wireless adapter is an Atheros one that uses the `ath9k` module. When i get home, i have an idea of a test to try. My ethernet card is a Realtek one and uses the `r8169` module. If the issue doesn't appear while I'm wired, it could be the Atheros deivers acting up.

Anyone else here running Atheros adapters? I need more results that match to run down that path.

[2020-02-24 15:44] wisp3rwind commented on #2518
[code]

The issue occurs both wired & wireless for me

[2020-02-24 15:50] bedwardly-down commented on #2518
Should say what kernel modules are being used below each of those. I know Intel sometimes rebrands other companies' adapters as Intel ones, so the drivers could still be non-intel ones.

[2020-02-24 16:00] anjulalk commented on #1656
Replacing smalltalk with react-modal turned out to be quite a complex task since smalltalk is promise-based and react-modal is a component.
I suggest a simpler approach as in the following screenshot.
![image](https://user-images.githubusercontent.com/26695184/75167955-2817c980-574c-11ea-99ca-91835ab1dae6.png)

Both password, and confirm password fields are right in the encryption config screen.
@

[2020-02-24 17:53] usernamenumber commented on #498
Adding my +1 and echoing others saying this is the #1 impediment I encounter as a daily Joplin user.

[2020-02-24 18:06] Rishgod opened #2573 "White-Space preventing selected text to be converted into Bold/Italics if the selected text ends or starts with a white-space"
# BUG
If you select a line and press the bold button if the line has a white space, in the end, the text does not get bold(or italics)

**Problem**

- White space in the beginning

- White space at the end

![BUG](https://user-images.githubusercontent.com/54576074/75180326-f90c5280-5761-11ea-937a-ae81ffe9c03b.gif)

**EXPECTED BEHAVIOR**

![DEBUG 2](https://user-images.githubusercontent.com/5457607

[2020-02-24 18:07] crti commented on #15
If on F-Droid I just would have installed Joplin to test this praised FOSS-App so far I don't know. I'm reluctant to install and adopt for daily use an App not available in an Android FOSS-App-Store.

[2020-02-24 18:15] Rishgod commented on #2573
Can I work on this @laurent22 @PackElend ,

 plus the solution to this seems pretty straight forward, just remove the white spaces I believe before and after the selected text -> add the Markdown-code -> and the readd the white space
for example

**Suppose the selected text is**   " Hello world  "  (double quotes are just placeholders to show whitespace)
- Remove the white space "Hello world"
- Ad

[2020-02-24 18:35] mohsen-mohammadi opened #2574 "Web clipper service does not auto-start"
## Environment

Joplin version: 1.0.179
Platform: Linux
OS specifcs: Arch Linux 5.5.5

After every reboot, the web-clipper service does not start automatically. It's needed to launch the Joplin desktop app to be able to clip a web page. This has always been the case for me since I've started using Joplin.

Thanks!

[2020-02-24 19:22] PackElend commented on #2573
what tool you are using for the screen records?

[2020-02-24 19:23] m-angelov commented on #2518
@bedwardly-down I saw that the file is identical, but the build process is a bit blurry for me, so I found it easier to just edit the copy in the ElectronClient directory and just run `yarn dist` to rebuild the AppImage and iterate.

I've been playing with synchronizer.js for a bit, and I think I've found something, which could narrow down where we need to look.

I commented out the while loop on

[2020-02-24 19:23] PackElend commented on #2573
but check changes in https://github.com/laurent22/joplin/pull/2565

[2020-02-24 19:25] Rishgod commented on #2573
[Screen to gif](https://www.screentogif.com/)

[2020-02-24 19:27] Rishgod commented on #2573
Alright, I'll do the same and get you back with the PR ASAP ^^

[2020-02-24 19:34] bedwardly-down commented on #2518
I'd have to look at it when i go home for lunch break. If you could share what exactly  you've changed, that could be a starting point for someone else. Like i said, synchronizer.js is a shared file in the build system, so any changes there will affect all platforms.

[2020-02-24 19:44] m-angelov commented on #2518
I just put `/*` on line 598 and `*/` on line 776. This nukes most of the third part of the sync process, defined as:

[2020-02-24 20:03] Liuhaai commented on #2528
Only three KaTeX fonts are found under generated ./pluginAssets/katex/fonts folder. So instead of inserting katex font loading code into html file, your solution might be easier.

[2020-02-24 20:04] bedwardly-down commented on #2518
I'm on the bus home for lunch. Looking at about 45 minutes till i can be at my laptop but it's super easy to see what that's all about from my phone. Thanks

[2020-02-24 20:09] bedwardly-down commented on #2518
@lnicola could a while loop with multiple for loops inside of it be enough to trigger that epoll bug you were talking about even if Joplin doesn't directly use epollet? I just took a look at what @m-angelov commented out and I'm getting that vibe from it

[2020-02-24 20:18] Runo-saduwa commented on #2445
Not yet, please go ahead, im working on another issue

[2020-02-24 20:43] bedwardly-down commented on #2518
I'm home and I have two tests to run based on that info, @m-angelov.

1. Revert the commit that @lnicola brought up in a custom kernel build. I don't want anyone to have to build their own custom kernel but need to make sure that's the bug.
2. If the first test works, I think I know how to fix this bug using what you just discovered.

[2020-02-24 21:08] lnicola commented on #2518
@bedwardly-down

There might be other `epoll` changes besides https://github.com/torvalds/linux/commit/339ddb53d373baee6e7946aec17c739c4924d6d9. It's hard for me to say, but if I understood the Flutter bug correctly (and assuming it was a Flutter, not a kernel bug), what happens is that:

 - the app asks the kernel to be notified only when _new_ data arrives from a socket (that's `EPOLLET`)
 - dat

[2020-02-24 21:18] bedwardly-down commented on #2518
@lnicola @yewwayne's local sync target issue would be the same thing since syncing to filesystem is straight up a hack and not actually saving locally. It treats the filesystem target like any web based target and just uses the local path instead of a url, username and password. The dev has stated that multiple times on the forums.

Either way, the main epoll commit I'm reverting is [this one](htt

[2020-02-24 21:20] lnicola commented on #2518
It's not that simple: Node or Electron uses `epoll` internally anyway, but there's no way to treat the file system exactly as a web service: `epoll` doesn't work for local files.

[2020-02-24 21:26] bedwardly-down commented on #2518
If that's the case, that's something that needs to be investigated further that's probably its own separate bug report. If you have a better way of handling that aspect of the code, feel free to put together a PR and request review from any of the devs that on that list.

[2020-02-24 21:29] lnicola commented on #2518
It's fine, that's not something the developers can do something about. I was just pointing out that a local sync target cannot work _exactly_ as a web one, at least from the point of view of the operating system.

I'll try this tomorrow unless someone else does it before me.

[2020-02-24 21:40] bedwardly-down commented on #2518
Feel free to do just that. I'm not messing with that part at all. I just mainly want to do what @m-angelov did that should be acceptable to the devs if it works fine.

[2020-02-24 21:51] bedwardly-down commented on #2518
@lnicola, if you use the Master branch, compiling is very streamlined now.

1. `npm install husky --save-dev` in root directory (or git will scream at you if you create a test branch and try to commit to it)
2. Edit `ReactNativeClient/lib/synchronizer.js` the way you want to
3. `npm install` in root directory
4. `cd ElectronClient`
5. `yarn dist`
6. `./dist/Joplin-1.0.185.AppImage --open-dev-tools

[2020-02-24 21:58] bedwardly-down commented on #2518
Master is definitely not recommended as a daily driver right now since it's definitely unstable and subject to many changes right now, but if we can figure out a fix, we can push it to 1.0.179 and possibly get it out there for those that need it until the next stable build comes out.

[2020-02-24 22:11] ChALkeR commented on #2518
@bedwardly-down then #2507 should be reopened because seems that it's a different from this one, and I can clearly reproduce that issue on `JoplinDesktop.AppImage` 1.0.179 on Arch Linux.

[2020-02-24 22:13] bedwardly-down commented on #2518
I didn't close that one. @matcharles did, and I agree that it's not the exact same bug after taking a look at the log again.

[2020-02-24 22:16] bedwardly-down commented on #2507
@ChALkeR, if you can offer a PR that fixes this, the devs may take it. Just make sure you read Contribution.md in root directory and test the hell out of it because Electron 8 can break other things (like SQLite3 doesn't officially support it right now)

[2020-02-24 22:18] ChALkeR commented on #2507
@bedwardly-down the fix for this has been merged to Electron 7.x branch today, just updating to 7.x patch when it gets out would be enough here.

[2020-02-24 22:23] bedwardly-down commented on #2507
@ChALkeR that'd be an update in Master branch then. It's on v7.1.12 right now and the latest stable build was released 4 days ago.

[2020-02-24 22:27] bedwardly-down commented on #2518
Getting 5.5.6 to build properly so I can test it is taking longer than I had hoped. Even though I wanted to do a lean build because it was faster, it seems that some of the drivers I used were changed a bit and require other modules to be loaded that I normally don't use, so I'm just building with the default settings from my OS. It's building way too many modules!!! ;-;

[2020-02-25 01:01] ChALkeR commented on #2518
@bedwardly-down is there a reproducible way to trigger this on your system without connecting Dropbox / performing manual actions? I.e. to clone, build, launch and observe the problem?

[2020-02-25 01:30] bedwardly-down commented on #2518
@ChALkeR im not sure what you mean.

[2020-02-25 04:14] bedwardly-down commented on #2518
So, test 1 is a no go. Reverting the epoll commit completely breaks the kernel? It's not detecting my fs or even taking input when it drops to root shell? O.o

[2020-02-25 09:43] #160 closed

[2020-02-25 09:57] m-angelov commented on #2518
@lnicola @bedwardly-down I put "debug output" before and after the await this.api().delta call, and when things are working good I have almost instantaneous transition from "Trying to get delta" to "Got delta". After about 10 consecutive syncs, it hung on Trying to get delta, and never got to "Got delta".

The interesting thing is that Joplin seems to continue to run in the background, because it

[2020-02-25 10:49] hexclover commented on #2518
I'm running 5.5.5-arch1-1, with Joplin syncing to a local folder. I have had this issue around for days, and to me unfortunately it does not only occur during sync.
However, I managed to find out that it seems, when Joplin hangs *during* a sync, it always hang at line 96 of `fs-driver-node.js`, in the `stat` async function:

[code]

When the sync hangs, at a specific file (different every time) th

[2020-02-25 12:33] matcharles commented on #2507
Apparently not the same bug as #2518 . Reopening for debug.

[2020-02-25 13:26] bedwardly-down commented on #2518
@hexclover most likely yeah. The issue doesn't just happen during file system sync but during all syncing across all available targets. And it only happens on Kernel 5.5. Does that help a bit?

[2020-02-25 13:26] triDcontrols opened #2578 "White Overlay Across Joplin on Windows 10 v1909"
Happens more often than not, When opening Joplin on Windows 10, I get a white overlay. I do have dark mode enabled on Windows and Joplin. After Closing down Joplin by pressing the X button, and opening it again, same issue is present, Until I close Joplin and exit the system tray, then Open Joplin, things work fine.

## Environment

Joplin version: 1.0.179
Platform: WIndows 10
OS specifics: Dark M

[2020-02-25 13:41] bedwardly-down commented on #2518
So, I've got eat breakfast and get ready for a morning shift at work, but I feel you there, @m-angelov . I won't be able to work on this much today, but if you or anyone else are interested in what my second task was going to be:

Instead of commenting out that section in the code you edited, I'd definitely check into [nodejs os module](https://nodejs.dev/the-nodejs-os-module). The changes would n

[2020-02-25 15:08] wibrt commented on #2246
Confirmation of this behaviour on debian buster (stable)
[code]

Firejail with the older version also results in a error:
[code]
This makes joplin unfortunately unusable on Debian

[2020-02-25 15:30] lnicola commented on #2518
If I'm reading the code correctly, exiting that loop early will prevent some of the changes from being synchronized, which in the long run will cause data loss.

If `fs.stat` hangs you're in trouble.

[2020-02-25 15:42] lnicola commented on #2518
Wait. I'm not sure which `fs.stat` is [that](https://github.com/laurent22/joplin/blob/master/ReactNativeClient/lib/fs-driver-node.js#L96) (it seems to come from `graceful-fs`?), but Node's `fs.stat` doesn't return a promise -- it takes a callback instead. Can someone take a look?

[2020-02-25 16:07] laurent22 opened #2579 "Add support for Rule of Hooks plugin"
Add the eslint [Rule of Hooks plugins](https://reactjs.org/docs/hooks-rules.html#eslint-plugin), then run `npm run linter ./` from the root of the project, and fix the reported linter errors (if any).

[2020-02-25 16:51] coderrsid opened #2580 "(Desktop) Multiline code unexpected behaviour"
### Environment

Joplin version: 1.0.179
Platform: macOS
OS specifics: Catalina 10.15.3

## Steps to reproduce

1.  Type ``` and try to write multiline code
2. After closing the multiline code ```, type anything in the same line.
3. The application considers it inside the multiline code.
4. If we start a new multiline code after the previous one, it shows it's text in plain-mode.

## Describe what

[2020-02-25 16:53] Rishgod commented on #2579
can I work on this?

[2020-02-25 18:44] m-angelov commented on #2518
Okay, I got to `getDirStatFn(path)` in file-api.js (line 267). Because it seems connected to the previous report that `fs.stat` breaks stuff, I'm going to stop digging and accept that this is the function that gives us trouble. If I understand things, this function is part of the core of node.js, and then the problem will be in the interaction between it and the filesystem.

@bedwardly-down I've b

[2020-02-25 19:59] bedwardly-down commented on #2518
Good deal. I've been trying to respond during slow periods of work but github has been deleting my messages or signing me out during my responses. It's been frustrating.

[2020-02-25 20:06] bedwardly-down commented on #2518
The reason i was recommending that was because if a fix was found that involved that particular file, the only acceptable PRs would need to make sure they only affect these specific parameters due to this being a shared library. Good find, though.

I'm not a programmer per se, so implementing a direct fix here might not be my forte. I just know enough to read code when i actually sit down with it.

[2020-02-25 20:11] lnicola commented on #2518
@hexclover just curious, how did you find that unresolved promise? I imagine the debugger doesn't help here, since it's async code.

Here's one more idea: we could try to test that `fs.stat` in isolation, by hammering the system with a lot of calls at once.

[2020-02-25 20:13] bedwardly-down commented on #2518
So, the question now is, does what both @m-angelov and @lnicola have come up with only affect file system sync or all syncing? If they are separate, that would make this two separate bugs that have the same general symptoms. If they are linked, should they be decoupled since they really should not be tied together, especially since they have different functionality and purposes?

[2020-02-25 20:29] m-angelov commented on #2518
The function at which I mentioned above is `basicDelta` in ``, which is annotated as:

// a built-in delta API. OneDrive and Dropbox have one for example, but Nextcloud and obviously
// the file system do not.

In `file-api-driver-dropbox.js` the delta function contains:
[code]
So it seems that we get the remote files which we have to compare to the local state by POST to Dropbox's API. On the oth

[2020-02-25 20:31] lnicola commented on #2518
`fs.stat` must end up as a `stat()` or related system call, which is synchronous unless you count the new-fangled `io_uring` thing that's probably not used yet by Node. If Node exposes an asynchronous interface to it, it must run on a thread pool and notify the main thread in some way (which, uhm, often includes `epoll`).

So it seems that either:

1. the kernel `stat()` is broken (unlikely, but I

[2020-02-25 21:09] bedwardly-down commented on #2518
Got any proposals for that api? It says experimental at the top and it looks like it's brand new. I think it'd be super useful for this particular bug and the waves of Linux only bugs that will show up in the future. It would also lock all contributors to 13.9 and future releases meaning it would need to be tested for and decoupled from the the rest of the code to prevent issues for other platform

[2020-02-25 21:12] lnicola commented on #2518
It's useful for debugging. We're still not sure what's happening here: is it a promise that never gets resolved? Is it an OS, Node or application bug? That API might help here, but I don't feel comfortable hacking on an Electron app. I just mentioned it since someone more experienced might find it useful.

[2020-02-25 21:20] bedwardly-down commented on #2518
Most of the people that have been helping with this bug aren't really that experienced, so any ideas are welcomed and i love the Occam's Razor comment above. My comment above was me asking if you have any ideas on how this could be implemented because for Joplin to stay relevant on Linux, I'd like to see there a system in place to make sure that happens. You've been extremely helpful along with @m

[2020-02-25 21:24] bedwardly-down commented on #2518
Also, something to add to all of this, there may be quite a few reports of this bug occuring on 5.5. We still need to assume that it's not affecting all users on that kernel. If it was, there would be substantially more users on the forums, here and Reddit crying put more about it. We do have to assume that it's primarily local to each system and there may still be some unknown factors that we hav

[2020-02-25 21:25] dpoulton-github commented on #2580
This does not look like a bug more expected behaviour, in that you are not using fenced code markdown correctly.

Once you open up a fenced code block it treats all subsequent text as fenced code until terminated by three back-ticks **on its own** on a line.

This you did but when you added `abcd` to create:

[code]

at the end, you are changing a fenced code block terminator to just a text entry

[2020-02-25 21:44] lnicola commented on #2518
I don't think we have one. Let's just wait for more reports, I suppose. If it's a 5.5 thing, most people running into this will be users of Arch, Gentoo and other rolling distros. The more mainstream / stable ones will stay on older kernels for a while.

[2020-02-25 21:50] bedwardly-down commented on #2518
If you look through here, Ubuntu and Fedora both were reported in the last couple of days. The Ubuntu one was on Liquorix and Fedora ([according to this site](https://pkgs.org/download/kernel) ) is now on 5.5 as one of its main kernel releases.

[2020-02-25 22:00] bedwardly-down commented on #2518
Even though I said i wouldn't have much time to work on this directly today, I've got maybe 30 - 45 minutes or so free now. I'm building kernel-5.6-rc3 to see if the issue shows up there.

I'd like to make some changes to my previous test to make it so much easier.

...

...

...

[2020-02-25 22:29] bedwardly-down commented on #2518
![2020-02-25-161337_606x464_scrot](https://user-images.githubusercontent.com/59133880/75293048-fb66bf00-57ea-11ea-89be-7165cb721f01.png)

First test with 5.6.0-rc3:

1. Build Joplin Master
2. Start in debug mode with a clean $XDG_CONFIG_HOME/joplin-desktop
3. Delete Welcome Notebooks
4. Configure Sync service to my Webdav
5. Beginning syncing files

All of these steps are a go right now. No issues

[2020-02-25 22:44] bedwardly-down commented on #2518
If anybody is up for it, [here](https://github.com/torvalds/linux/commits)'s a list of every commit made to the official linux kernel repository. Something that can be checked into is what commits were made that were shared by 5.5 and 5.6. If we can narrow that down, we can have a better idea of what to test for and also know what upstream bugs to look at.

If you click where it says `Branch: mast

[2020-02-25 23:37] meyash commented on #2560
Can i also contribute to this issue?

[2020-02-25 23:39] arshmakker commented on #2579
I would like to work on this one

[2020-02-25 23:40] Runo-saduwa commented on #2579
@arshmakker there is already a pull request for it and it solves the issue

[2020-02-26 00:07] meyash commented on #2578
I faced a similar error

![Screenshot from 2020-02-26 04-29-55](https://user-images.githubusercontent.com/21121279/75299056-16bce300-585a-11ea-94c3-e0182d635c4d.png)

[2020-02-26 00:16] bedwardly-down commented on #2518
I'm on the bus to work and just had a thought: if this bug shows up during Syncing and Decrypting along with the fs findings above, let's look into commits that have fs in the name that are aren't specific to any one filesystem type. Most people will probably use ext4 since it's the standard but I'm on btrfs and xfs is still fairly common to use.

[2020-02-26 02:54] tessus commented on #2560
The person who created the PR will be the one in the commit log, since we squash the commits at merge.
But you can always help, this is up to you. If somebody gets stuck or asks for help, you decide if you want to pitch in.

[2020-02-26 03:41] maqp commented on #498
@laurent22 I get that you're very busy but given that many people seem to consider this a top priority issue (including myself), any thoughts on how complex the solution would be?

[2020-02-26 03:46] tessus commented on #2580
Yes, this is the way how code blocks work.

The text after the first 3 backticks is used to denote the code language, which is also used by highlighters.

This is not a bug, but as @dpoulton-github mentioned the way it is supposed to work.

[2020-02-26 03:46] #2580 closed

[2020-02-26 04:30] hexclover commented on #2518
@lnicola and @bedwardly-down:

I don't have much experience with debugging Electron apps, so I just replaced the original line with something like
[code]
so that I can observe the generated promises in the debugger console directly. You can even right click the printed promise and store it as a global variable and examine its properties in the console. You can try this method and see if the same t

[2020-02-26 04:41] ivywong commented on #2359
I believe this is the same issue as #1493; it's an issue with React Native itself (to be potentially fixed in v0.62)

[2020-02-26 05:09] bedwardly-down commented on #2518
@hexclover are you able to test the way i posted above in the 5.6.0 test area. You don't have to test the kernel versions but the rest. Always backup to a Jex file in case before performing it.

[2020-02-26 05:48] hexclover commented on #2518
@bedwardly-down Tested that just now (the sync-and-decrypt part). An unconfigured Joplin synced from my folder that contains 1000+ encrypted items successfully, but it started freezing during the decryption just as you reported -- this time my said debug code printed nothing suspicious.
I will comment if I have furthur findings later.

[2020-02-26 05:51] ishammahajan commented on #2286
Doesn't seem like this is solvable in a reasonable time & complexity. Tried multiple methods, and in case anyone else wants to try this :-
1. [`react-native-webview`](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md) does not specify any interface in order to customise the scrollbar. The scrollbar isn't by default draggable on the plugins it uses on both

[2020-02-26 05:54] ishammahajan commented on #2286
Possible methods to solve this right now include digging into what `react-native-webview` uses to render the web pages, and perhaps changing their code (possibly requesting a feature in their repo -- although since they are only 2 developers I'm not sure if they'll be able to do it), and switching to a different renderer.

[2020-02-26 06:17] bedwardly-down commented on #2518
Thanks for checking that out, @hexclover. Mine was Webdav and yours was Filesystem, am I right?

[2020-02-26 06:20] hexclover commented on #2518
@bedwardly-down Yes, I sync with a local directory.

[2020-02-26 06:42] bedwardly-down commented on #2518
If you're able to look through and find where the decryption part hangs, that may give some clue about where the source of both issues is. I should be sleeping, but I'm looking through kernel changelogs and am testing a 5.5 commit revert that deals with something that sounds similar to what's happening here. I'll post my findings if anything comes of it.

[2020-02-26 06:45] bedwardly-down commented on #2518
Also, the debug text for decrypting, syncing and various other tasks all print out  "Scheduling sync operation..." when they are beginning before they perform anything major. I honestly feel that that's not good because that doesn't really tell anything about what's up if an issue arrises

[2020-02-26 06:47] bedwardly-down commented on #2518
@hexclover, if you `tail -f $XDG_CONFIG_HOME/joplin-desktop/log.txt` while debug mode is on, do you get '2020-02-26 00:44:51: "DecryptionWorker: cannot start because state is "started"" ' when the decryption hangs and you try to click Synchronize again?

[2020-02-26 07:06] coderrsid commented on #2580
Ohh cool. Although i thought that as we are the developers, we know how to work this out. But a simple user can get a little lost by this behaviour. Shouldn't we show a notification or popup or something?

[2020-02-26 07:08] tessus commented on #2580
Well, this is standard Markdown syntax, so everyone who uses markdown (and Joplin uses markdown) should know this. A popup is too intrusive to explain basic functionality.

[2020-02-26 07:37] repman opened #2587 "The indentation of the cursor on Cyrillic"
If you type the text of a note in Cyrillic, the indent from the last printed character to the cursor increases as the characters in the line increase. There is no such problem with the Latin alphabet.

## Environment

Joplin version: 1.0.179 (prod, darwin)
Platform: macOS
OS specifics: 10.15

[2020-02-26 08:20] ani4aniket opened #2588 "Error while importing JoplinServerApi.js for ReactNativeClient"
## Describe what you expected to happen
For ReactNativeClient there is no JoplinServerApi.js file inside lib directory as mentioned below:
https://github.com/laurent22/joplin/blob/16fb1bda5305be5e3538f6fbc7de4a997920f555/ReactNativeClient/lib/SyncTargetNextcloud.js#L9

Actually, the file is JoplinServerApi.ts
https://github.com/laurent22/joplin/blob/master/ReactNativeClient/lib/JoplinServerApi.ts

[2020-02-26 08:25] hexclover commented on #2518
@bedwardly-down I am not sure what you mean by "debug mode", but I guess it doesn't affect the log file, because I have lines like `DecryptionWorker: cannot start because no master key is currently loaded.` in it. I searched the whole `log.txt` but couldn't find any `DecryptionWorker: cannot start because state is "started"`. And every click on the (frozen) Synchronization button generates these s

[2020-02-26 08:55] ani4aniket commented on #2588
@laurent22 May you please check this, if this is the issue?

[2020-02-26 09:09] hexclover commented on #2518
I have replaced the vanilla `fs-driver-node.js` (from release `1.0.179`) with a patched version cluttered with `console.log`'s that print promises before they are `await`ed. Now I found that the call causing (if it really does) the hang can be different every time.

I also experimented with running small code snippets involving file operations in the console, for example

[code]

In a normal Jopli

[2020-02-26 09:24] laurent22 commented on #2588
For support requests, please use the forum. But try building again from scratch using BUILD.md

[2020-02-26 09:24] #2588 closed

[2020-02-26 10:51] Rishgod opened #2590 "DESKTOP:Adding functionality to the toolbar"
## Enhancement
I was going through other note-taking apps online and one thing that everyone had was a strike-text button just like <s>LOREM IPSUM</s>

like this
<img width="351" alt="Annotation 2020-02-26 155151" src="https://user-images.githubusercontent.com/54576074/75335725-f881d200-58af-11ea-88ed-5054334848d7.png">

<hr/>

<img width="351" alt="Improvements" src="https://user-images.githubuse

[2020-02-26 10:53] laurent22 commented on #2590
Hi, for feature suggestion, please use the forum. And we don't support strike-through because it's not part of the Markdown spec.

[2020-02-26 10:53] #2590 closed

[2020-02-26 10:54] laurent22 commented on #2587
Closed as duplicate

[2020-02-26 10:54] #2587 closed

[2020-02-26 11:07] repman commented on #2587
When is the fix planned approximately?

[2020-02-26 11:07] Rishgod commented on #2590
Okay @laurent22  noted next time I'll add this in the forums, but I guess you can add strike using
~~ () ~~  ~~()~~

<img width="1128" alt="Annotation 2020-02-26 163338" src="https://user-images.githubusercontent.com/54576074/75339259-2e29b980-58b6-11ea-81a8-21409503ae53.png">

[2020-02-26 12:12] PackElend commented on #2590
forum topic: https://discourse.joplinapp.org/t/adding-functionality-to-the-toolbar/6315/

[2020-02-26 13:19] tangodev opened #2591 "Desktop sync -- sync not working -- Error: URI malformed - only index.txt gets updated"
Originally reported here: https://discourse.joplinapp.org/t/error-uri-malformed-only-index-txt-gets-updated-sync-not-working/6286

When I was working in Joplin and adding pages through the clipper, sync stopped. This is how my Nextcloud window started to look:

![image](https://user-images.githubusercontent.com/12778629/75347889-121c1d00-58a2-11ea-91fe-65896caed7b9.png)

I could add notes without

[2020-02-26 13:32] bedwardly-down commented on #2518
@hexclover http://joplinapp.org/debugging

[2020-02-26 13:40] bedwardly-down commented on #2518
Could you elaborate what you mean here? All filesystem-related APIs is pretty generic and would mean that all filesystem node modules are buggy and broken is how I'm reading this.

[2020-02-26 14:10] alishamohanty commented on #1718
@adrijshikhar Are you still working in the issue? If not I would like to take on the task.

[2020-02-26 14:15] alishamohanty commented on #2110
Hey @laurent22 can I work on the issue?

[2020-02-26 14:20] adrijshikhar commented on #1718
Go ahead

[2020-02-26 14:27] bedwardly-down commented on #2518
@lnicola epoll does show up during a full strace:

[strace.txt](https://github.com/laurent22/joplin/files/4256219/strace.txt)

[2020-02-26 14:59] hexclover commented on #2518
@bedwardly-down Thank you, now I have many lines of `DecryptionWorker: cannot start because state is "started"` in my logs. Its last occurrence is like
[code]
But its previous occurrences are usually followed by file-related lines, such as `Sync: fetchingProcessed: Processing fetched item` and `Sync: createLocal`. So I think it also got stuck at some I/O operations.

Sorry, perhaps my wording is a

[2020-02-26 15:13] lnicola commented on #2518
@hexclover

That's a great test, thanks. By "forever" do you mean that it takes a long time (e.g. minutes), or does it literally never finish?

---

One really strange thing. I wanted to say I can no longer reproduce this issue (incidentally, I'm on 5.5.6 now). But then I realized that it hangs for me, yet typing `require('fs').stat('/tmp', (err, stats) => { console.log(stats); }` in the Developer

[2020-02-26 15:17] bedwardly-down commented on #2518
@hexclover the long post is fine. I was making sure that your information was detailed enough for others to be able to follow and use. Explaining it the way you did was perfect and makes sense.

To add to what you've posted, here's a full stack trace up to the point where the app hangs during decryption:
[strace.txt](https://github.com/laurent22/joplin/files/4256432/strace.txt)

While using tail o

[2020-02-26 15:22] bedwardly-down commented on #2518
@lnicola give me a sec. I'm about to test that shortly

[2020-02-26 15:32] bedwardly-down commented on #2518
Also, since work was very busy and I made enough yesterday, I can take at least part of if not all of the day off to work on this. My main tests and priorities today will be multiple kernel builds to try to pinpoint where the issue lies there since it showed up for both 5.5 and 5.6 for me.

[2020-02-26 16:06] bedwardly-down commented on #2518
@lnicola I tested using @hexclover's updated `fs-driver-node.js` on `Linux 5.5.6-artix1-1` that just released this morning. Testing what you suggested, I'm getting this issue when I run that in the console
![2020-02-26-100018_480x155_scrot](https://user-images.githubusercontent.com/59133880/75363365-a3c66300-587f-11ea-8ae2-0e055db2a9cf.png)

[2020-02-26 16:08] lnicola commented on #2518
@bedwardly-down sorry, I lost a closing bracket there, can you try again?

    require('fs').stat('/tmp', (err, stats) => { console.log(stats); })

[2020-02-26 16:09] bedwardly-down commented on #2518
Bwahaha. I can't believe I missed that myself. Time to try again. :D

[2020-02-26 16:15] bedwardly-down commented on #2518
@lnicola  I'm getting undefined and the app is hanging hard without that helping at all.

![2020-02-26-101203_1920x1080_scrot](https://user-images.githubusercontent.com/59133880/75363946-81811500-5880-11ea-8280-ed0ace2f91e9.png)

[2020-02-26 16:22] lnicola commented on #2518
Does that also happen in an unpatched build?

[2020-02-26 16:34] coderrsid commented on #1731
@laurent22 So should we discuss this issue before working on it? or can i start working on it if the feature is accepted?

[2020-02-26 16:37] laurent22 commented on #1731
The way Percolator suggested would be acceptable as a PR: https://github.com/laurent22/joplin/issues/1731#issuecomment-544300910

[2020-02-26 17:09] coderrsid commented on #2110
@laurent22 Yeah sure we can save the different factor settings in model/Setting.js. But how the user would be able to change that easily?

[2020-02-26 17:10] coderrsid commented on #1731
Oh sure. I'll work on this issue. Thanks @laurent22

[2020-02-26 17:34] bedwardly-down commented on #2518
@lnicola are you using the Joplin API for that?

[2020-02-26 17:37] lnicola commented on #2518
Not sure what you mean. I'm using the official AppImage version with WebDAV sync.

[2020-02-26 17:40] bedwardly-down commented on #2518
Answered my question there. I'm not sure what you were testing there or how it would be usable to others, but [here](https://joplinapp.org/api/)'s what I was talking about.

[2020-02-26 17:53] coderrsid commented on #1731
Hey @laurent22, i found out that after clicking the hyperlink it dispatches command through `commandTextLink( )`

<img width="561" alt="image" src="https://user-images.githubusercontent.com/35633575/75372417-867cad80-58ee-11ea-93c4-28468b6204e0.png">

But the prompt uses the package `smalltalk` in `dialog.js` which can only prompt for one option. Should we use another package or is there another w

[2020-02-26 17:57] Perkolator commented on #1731
I think that this would need a settings option to turn this behavior on/off (which would be the default)? Some users might not like this feature.

[2020-02-26 18:10] coderrsid commented on #2580
Oh great. Then we can leave it as it is.

[2020-02-26 18:22] bedwardly-down commented on #2518
Also, the issue is still showing up on the unpatched version. It's currently hung at the last step of Decryption. Clicking Cancel is stuck on an infinite loop with your suggestion not solving the problem at all, although, I genuinely think the last part is a totally different bug related to Webdav but I still stand by my statement

[2020-02-26 19:04] nr458h commented on #375
could this be a feature implemented during GSoC?

[2020-02-26 19:49] Rishgod commented on #1731
@Perkolator  I guess adding milestones for features would be a step in the positive direction

[2020-02-26 19:56] tessus commented on #1731
I agree. Making this not optional would be very annoying. I definitely don't want to see a popup.
--
regards Helmut K. C. Tessarek

(sent from a mobile device)

[2020-02-26 19:58] bedwardly-down commented on #2518
WebDAV isn't syncing at all on 5.4.22 lts kernel but Filesystem sync is working fine. Can anyone here verify that please?

[2020-02-26 20:03] laurent22 commented on #1731
For the title on paste, I prefer we don't add this as this is much more complex and the dialog is enough for now.

@coderrsid, you would indeed need to use a different library. Do you know any good one?

[2020-02-26 20:24] bedwardly-down commented on #2507
@ChALkeR I can confirm that this bug has shown up for the first time for me on `linux-lts-5.4.22-artix-1` that just dropped in the main repos this morning. I was syncing and decrypting to the filesystem only to have the final note hang on decryption throwing this specific error.

[2020-02-26 20:31] lnicola commented on #2518
It's not that simple, since for most of use those are really opaque and there's no way to revert random commits and still have it working. The normal approach here would be to use [`git bisect`](https://www.metaltoad.com/blog/beginners-guide-git-bisect-process-elimination). It helps you do a binary search between two kernel versions, which is pretty efficient: you can e.g. find a bug across 16 000

[2020-02-26 20:35] ChALkeR commented on #2518
Please tag me when/if there will be a repro against Node.js without any native dependencies.

[2020-02-26 20:37] bedwardly-down commented on #2518
Fair point. Kernel work is a pain. Ha

[2020-02-26 20:40] bedwardly-down commented on #2518
I'm still not sure what you're asking for. Could you explain what you're looking to do? I asked above and you never replied.

[2020-02-26 20:41] ChALkeR commented on #2518
@bedwardly-down I'm still unsure how to reproduce this specific issue.

Is there a way to reliably reproduce it? What I meant in https://github.com/laurent22/joplin/issues/2518#issuecomment-590627103 -- if there is such a way (and it doesn't require Dropbox), then it should be fairly straightforward to build an automatic testcase on top of this repo.

[2020-02-26 20:43] bedwardly-down commented on #2518
@ChALkeR only reproducible way that isn't a guarantee but matches your parameters is the Filesystem sync, from what I can tell. And the reason it isn't guaranteed is because it seems to happen most when actual syncing is involved. But I'm getting what you're getting at.

[2020-02-26 20:45] ChALkeR commented on #2518
@bedwardly-down if that is the case, perhaps stress-testing the code involved in syncing (i.e. creating from code a dir in `/tmp` with a bunch of files calling it multiple times automatically from the app) would expose this issue more reliably.

[2020-02-26 20:48] bedwardly-down commented on #2518
I'll leave this up to you guys. I haven't used git bisect in forever, so I'm cracking down on that. I know @hexclover up above started something like that if you want to check it out.

[2020-02-26 21:21] Perkolator commented on #1731
I was thinking about like Bitwarden does it [here](https://community.bitwarden.com/c/feature-requests/5/l/latest?order=votes) (feature requests sorted by votes).

That's being worked on already here: #1718. I hope that won't be denied.

[2020-02-26 21:25] ChALkeR commented on #2507
I did this:
1) Menu -> Help -> Enable devtools
2) `{ let i = 1000; let tick = () => { document.querySelector('a.synchronize-button').click(); if (i-- > 0) requestAnimationFrame(tick)}; tick() }`
3) And I have a large file there. The sync was done to a local folder in `/tmp/joplin` though.

And I can't reproduce this issue.

[2020-02-26 21:33] Perkolator commented on #1718
I don't think that this would be that useful. Best implementation would be that when no text is selected and user just pastes URL, Joplin would automatically create the markdown syntax `[<description>](<URL>)` and fetch the title of the URL, just like I think the issue opener meant.

When text is selected and something (URL or no URL) is pasted, Joplin would just do normal paste.

This feature wou

[2020-02-26 21:39] Perkolator commented on #1731
A popup is supposed be to shown only when a user would push the toolbar button to create a link, just like it is now, not when doing a normal paste.

[2020-02-26 21:56] Rishgod commented on #1718
this is definitely helpful @Perkolator  I'll look into it and see what I can do

[2020-02-26 22:02] Liuhaai commented on #2528
What version of Joplin you use? I can only reproduce this bug on version 1.0.179 which is downloaded from(https://github.com/laurent22/joplin/releases/download/v1.0.179/Joplin-Setup-1.0.179.exe). However, bug can not be reproduced when starting Joplin with latest compiled github code.

[2020-02-26 23:45] #2496 closed

[2020-02-27 00:14] #1023 closed

[2020-02-27 00:18] #2573 closed

[2020-02-27 00:20] #2579 closed

[2020-02-27 00:37] ChALkeR commented on #2507
Whoops, wrong issue. Deleted comment above =).

[2020-02-27 00:38] ChALkeR commented on #2518
I did this:
1) Menu -> Help -> Enable devtools
2) `{ let i = 1000; let tick = () => { document.querySelector('a.synchronize-button').click(); if (--i > 0) requestAnimationFrame(tick)}; tick() }`
3) `{ let i = 1000; let tick = () => { document.querySelector('a.synchronize-button').click(); if (--i > 0) setTimeout(tick, 50)}; tick() }`
4) And I have a large file there. The sync was done to a local f

[2020-02-27 00:44] #2517 closed

[2020-02-27 01:48] bedwardly-down commented on #2518
@ChALkeR have you done it with multiple notes and notebooks that have been synced, created and deleted? The issue doesn't seem to appear with only one note.

[2020-02-27 01:51] superfreeman1989 commented on #2528
1.0.179

[2020-02-27 03:16] tessus commented on #1731
Ok, maybe I'm missing something. What is this PR now about? There were a few comments regarding the retrieval of the title from the URL (which I definitely do not want) and to be honest I don't want to see a popup when I press `Cmd+L`.
But I could live with it, if the popup didn't show up, when I have selected a text and clicked the toolbar icon or pressed `Cmd+L`.

[2020-02-27 03:20] tessus commented on #1718
I certainly don't want this behavior. At least not by default. If it's guarded by a setting, I don't care.

But Joplin connecting to the Internet, every time I paste a link, would be a showstopper for me. This is unacceptable.

[2020-02-27 04:59] ChALkeR commented on #2518
@bedwardly-down Ah. I think I can reproduce it now. 100% consumption of one cpu core?

[2020-02-27 05:07] bedwardly-down commented on #2518
I just found the first bad commit: It's a simple check for filesystems hanging when under load but probably not the main commit causing the issue here.

[2020-02-27 05:59] Rishgod commented on #1731
Ok, @tessus, this is to the best of my understanding, **CORRECT ME IF I'm WRONG**, if I was working on the PR I would go about like this,

_(AS mentioned by @Perkolator )_

![67167601-93b7e780-f3a4-11e9-99ee-76a9c5c54a3c](https://user-images.githubusercontent.com/54576074/75415906-089ebd80-5953-11ea-8780-32ebec8715e8.jpg)

- First when you need input Hyperlink in the dialogue box

- We would have

[2020-02-27 06:00] Rishgod commented on #1718
Ok, @tessus, this is to the best of my understanding, **CORRECT ME IF I'm WRONG**, if I was working on the PR I would go about like this,

_(AS mentioned by @Perkolator )_

![67167601-93b7e780-f3a4-11e9-99ee-76a9c5c54a3c](https://user-images.githubusercontent.com/54576074/75415906-089ebd80-5953-11ea-8780-32ebec8715e8.jpg)

- First when you need input Hyperlink in the dialogue box

- We would have

[2020-02-27 06:05] tessus commented on #1718
Ok, this makes sense and is acceptable. However, I had the impression that this PR was about pasting a link into the editor with `Cmd+V`. But if it's the same as the other onw, let's close this one, since we don't need 2 issues for the same thing.

[2020-02-27 07:54] StanczakDominik commented on #2518
And here I thought the 205 comments on this issue is a GitHub bug...

I'm also affected by the same issue, I think. I'll be looking forward to seeing what you wonderfully capable folk come up with! :)

[2020-02-27 08:00] Perkolator commented on #1718
No no, this is NOT the same as the other one, I don't know what @Rishgod is messing about. This issue is about pasting URL and creating markdown syntax and description automatically. Here's my previous message again:

[2020-02-27 08:12] Perkolator commented on #1731
This issue was created primarily about enhancing the "Insert Hyperlink" popup dialog.

This was/is my suggestion mockup:

![](https://user-images.githubusercontent.com/53913724/67167601-93b7e780-f3a4-11e9-99ee-76a9c5c54a3c.jpg)

The issue opener **additionally** suggested a "bonus" feature about _"Just paste a hyperlink into the Joplin editor and Joplin will automatically convert the hyperlink to

[2020-02-27 08:18] Rishgod commented on #1731
okay, that makes perfect sense, that you for your clearing things out :D

[2020-02-27 08:20] Rishgod commented on #1718
Okay can you, please clarify this, so that I understand you correctly

you mean to say if we post the link in the editor it automatically gets converted into markdown URL with a title

Like as soon as I paste the link it should look like what the latter looks in the gif
![ISSUE-TITLE](https://user-images.githubusercontent.com/54576074/75424918-a2706580-5967-11ea-9ccb-97c382fef8db.gif)

[2020-02-27 08:23] Perkolator commented on #1718
Yes, that's correct. But only when no text is selected in the editor prior paste. If some text is selected, then Joplin would do normal paste.

[2020-02-27 08:48] Yusnows opened #2593 "WebDav seafile sync error"
PROPFIND : Unknown error 2 (403): <!DOCTYPE html> <html lang="en"> <head> <meta http-equiv="content-type" content="text/html; charset=utf-8"> <meta name="robots" content="NONE,NOARCHIVE"> <title>403 Forbidden</title> <style type="text/css"> html * { padding:0; margin:0; } body * { padding:10px 20px; } body * * { padding:0; } body { font:small sans-serif; background:#eee; } body>div { border-bottom

[2020-02-27 09:30] m-angelov commented on #2518
Just passing by to tell you that `master` still has the bug with kernel `5.5.6-arch1-1` on my system.

[2020-02-27 09:36] bedwardly-down commented on #2518
I think we're going on record here for longest issue tracked in this repo. Welcome. If you have any insight, tests, or other things, feel free to join in. :)

I'm doing kernel tests due to this issue being heavily dependent on that one factor (5.4 is stable and functional while 5.5 and 5.6 both aren't). And everyone else active here is primarily either figuring out tests to improve this bug hunt,

[2020-02-27 09:48] #2469 closed

[2020-02-27 10:21] PackElend commented on #1731
that would properly quite helpful. In course of the GSoC journey we are talking about to get more stats shown.
I hope I find a couple of hours to start this within in the next couple of weeks

[2020-02-27 10:30] Rishgod commented on #1731
@laurent22 well I was looking through npm website for a good modal popup dependency, I found sweetAlert2 to be pretty good, it natively does not support two inputs but there is a workaround for it given in the documentation,

<img width="701" alt="Annotation 2020-02-27 155317" src="https://user-images.githubusercontent.com/54576074/75436073-f8e69f80-5979-11ea-9f74-6e0ee3627d14.png">

![sweetalert]

[2020-02-27 10:54] bedwardly-down commented on #2570
I can verify this. It's not unnerving but I can see where you're coming from, @Rakleed.

Joplin version: 10.0.43
Platform: iOS
Version: 13.3.1

[2020-02-27 11:33] Perkolator commented on #1731
My 2c's: If somebody is willing to work the hours of implementing a solution that would avoid new dependencies, that would be great.

[2020-02-27 11:55] Rishgod commented on #1731
Noted.

[2020-02-27 13:00] coderrsid commented on #1731
Hey @Rishgod, if you didn't read the whole conversation. I'm already working on this issue.

[2020-02-27 13:30] Rishgod commented on #1731
okay sure no worries

[2020-02-27 15:38] rabeehrz commented on #2268
Working on this.

[2020-02-27 16:07] XTerminatorGR opened #2595 "No undo/redo functionality on Android"
OS: Android
App: Mobile
As mentioned in the title there is no option to undo/redo in Android while editing a file (AFAIK). This along with aggressive auto-save make a annoying combo in case of accidentally deleting something in a note, especially big texts.

[2020-02-27 17:13] coderrsid commented on #1731
@laurent22 , i tried going through documentation of several libraries, but right now only `sweetalert2` works with more than one input in a single prompt dialog box using custom parameters. Although the main tradeoff for us will be the size of package `(~608kb)` where smalltalk takes much less space `(~27.7 kb)`. But however i tried using it, right now i haven't added the fetch url description fea

[2020-02-27 17:15] #2593 closed

[2020-02-27 17:17] laurent22 commented on #2578
Could you start the app with dev console? https://joplinapp.org/debuggin

[2020-02-27 17:17] laurent22 commented on #2574
This is by design

[2020-02-27 17:17] #2574 closed

[2020-02-27 17:21] amitsin6h commented on #2595
I am working on this

[2020-02-27 18:08] bedwardly-down commented on #2518
@dimyself any way you could change the title of this bug report to something like:

`Desktop: Joplin Freezing During Syncing and Decrypting On Linux Kernel 5.5+`

That way we can keep other issues that are related to this from showing up in the bug tracker and have a better chance of all Linux users that are affected being able to help out here in whatever ways they can. This bug is no longer spec

[2020-02-27 18:38] #2476 closed

[2020-02-27 18:38] XTerminatorGR commented on #2595
Ok! Thx for the response!

[2020-02-27 19:56] gromovadarya90 opened #2596 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 21:25] leonp5 commented on #2166
I'm not sure if it is the same error message but thats what i found, when i googled it. I use an android device (LOS16) a linux machine with Linux Mint 19.3 and an iPhone and synchronize my notes between this devices. Seems, that this error is caused by the iPhone in my case. But i'm not able to understand the message correctly so i post it here. Maybe it helps.

[code]

[2020-02-27 22:50] bedwardly-down commented on #2518
My second git bisect test isn't fully finished but now that I'm getting the hang of it again and have implemented ways to speed up the tests and building, it's looking like the first bad commit still stands; I'm down to 3 tests and it's one of them. It's also not an easy one to revert in a way that successfully builds, so after work, I'll start bisecting from that commit against 5.4 to see if i ca

[2020-02-27 22:57] Perkolator commented on #1731
Would the "insert.." texts look better if left aligned?

[2020-02-28 02:43] att14 opened #2601 "macOS ctrl+f and ctrl+p support"
When using the macOS client certain control modifiers do not work, e.g. `ctrl+f` (forward one character) and `ctrl+p` (up one line). Other control modifiers, such as `ctrl+b` (backward one character) and `ctrl+n` (down one line), work as expected.

## Environment

Joplin version:
Joplin for Desktop

Copyright © 2016-2019 Laurent Cozic
Joplin 1.0.179 (prod, darwin)

Client ID: ac4a81affe494edc81fa7

[2020-02-28 05:12] fabianski7 commented on #2518
I was having the same problem.
But after switching to the latest available lts kernel (5.4.22-1-lts) the bug didn't happen anymore.

[2020-02-28 05:56] bedwardly-down commented on #2518
Thanks for that reply. That's currently the recommended way to fix the problem but isn't viable for every user and isn't a long term fix. You're more than welcome to help out in any way you're able to. ☺️

[2020-02-28 05:56] coderrsid commented on #1731
Sure. I'll do it right away.

[2020-02-28 06:59] coderrsid commented on #2595
What do you mean by this?

[2020-02-28 07:13] mahibi commented on #716
.

[2020-02-28 07:18] amitsin6h commented on #2595
It means As Far As I Know (AFAIK)
Its an abbreviation :sweat_smile:

[2020-02-28 07:48] zhangcheng142 opened #2603 "[Android app] Sync with nextcloud fail."
## Environment

Joplin version: 1.0.318
Platform: Android
OS specifics: MIUI 11.0.5 based on Android 10
Nextcloud: 18.0.1

## Steps to reproduce

1. Install with default setting.
2. configure Synchronizaiton target: Nextcloud, with WebDAV URL link: http://sample.f3322.net:3344/remote.php/webdav/Joplin
3. 'Check Synchronizaiton Configuration' fail.

The nextcloud server is work well with Windows &

[2020-02-28 10:57] 0vermind commented on #716
Unfortunately, the issue did not get the attention it deserves by the community and the devs. This is a key feature for heavy users like me. I don't want so sound disrespectful Laurent. I'm using Joplin for some year now but ZIM wiki, (a 20 years old software I moved from) is still more navigable and userfriendly (i.e wysiwyg editor etc...) than Joplin. I hope Joplin will improve and catch up!

[2020-02-28 11:00] Rishgod commented on #716
@0vermind there is an open PR for that #2563 hopefully it will get approved and this feature will be added soon

[2020-02-28 11:11] coderrsid commented on #2595
Thanks @amitsin6h 👍

[2020-02-28 11:59] duarteocarmo opened #2604 "iOS icon has black border - can be polished"
The iOS icon shows a weird black border as you can see in the following screenshot:

![image](https://user-images.githubusercontent.com/26342344/75546809-bc727c80-5a29-11ea-8509-f21d2a523be6.png)

## Environment

Joplin version: 10.0.43
Platform: iOS
OS specifics: iPhone 11 pro max on iOS 13.3.1

## Steps to reproduce

Not applicable.

## Describe what you expected to happen

Expect to not see bla

[2020-02-28 12:49] shartf commented on #2471
@dbogdanov On macOS, setting Monaco as font seems to solve the problem. Iosevka seems to work, too. A possibility to select fonts in Joplin's preferences would be of great help, since a wrong Font name will cause fallback to default which cannot handle cyrillic text.

[2020-02-28 12:58] laurent22 opened #2605 "Implement font picker in desktop application"
It is already possible to set the font used in the editor from the config screen:

<img width="387" alt="image" src="https://user-images.githubusercontent.com/1285584/75550299-89c88400-5a29-11ea-892b-ae517b7bf8c2.png">

However, the user has to manually type the name of the font, which is not convenient.

We would like to add a font picker to make this process easier. It would work like so:

- The

[2020-02-28 13:59] lord-aerion commented on #15
But Joplin _is_ on F-Droid if you add IzzySoft's repo. See this [comment](https://github.com/laurent22/joplin/issues/15#issuecomment-482801981).

[2020-02-28 14:25] alexanderadam commented on #15
These are two different things:

IzzySoft is basically including _everything_ he can find. As far as I know, he does **not** follow an inclusion policy. Meaning that there is no policy that ensures the applications included in it, have only free components or don't track users etc.

The _official_, F-Droid repository [exclusively includes FOSS applications](https://f-droid.org/en/docs/Inclusion_Po

[2020-02-28 14:33] daukadolt commented on #2605
Can I take the issue?

[2020-02-28 14:40] laurent22 commented on #1731
I think there's no other way than create a custom dialog, because we need special behaviour when ticking/unticking the checkbox, and when the dialog loads.

The problem is that there's no proper framework for dialogs in Joplin at the moment. This is the same problem as [this pull request](https://github.com/laurent22/joplin/pull/2450). So the first step would be to refactor the existing dialogs so

[2020-02-28 15:06] Rishgod commented on #1731
All right @laurent22 , thanks for your input, I can make a custom modal-prompt-dialogue by refactoring the code of [smalltalk ](https://github.com/coderaiser/smalltalk) if you approve of it, with multiple text entries and checkbox functionality, so that it will be consistent with UI,  what do you think about it?

[2020-02-28 15:26] taw00 opened #2607 "side menus stop working"
joplin 1.0.179 -- my builds (see https://github.com/taw00/joplin-rpm)
fedora 31
Kernel: Linux localhost.localdomain 5.5.6-201.fc31.x86_64 #1 SMP Mon Feb 24 20:24:13 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

The sidebar menus sporadically cease to function. I am still investigating, but I figured I would log it as an issue. If I find out more, I will add to this issue. I have not found a pattern yet

[2020-02-28 15:27] laurent22 commented on #1731
No what I mean is that there are already several dialogs in Joplin: ShareNoteDialog, NotePropertiesDialog, NoteContentPropertiesDialog, etc. All of them share some code, but also duplicate functionalities. They need to be cleaned up and refactored so that there's one way to create them, etc.

I'd also prefer if they were called like `const result = await someDialog()` so that all the plumbing we a

[2020-02-28 15:53] Rishgod commented on #1731
Alright, @laurent22 !

[2020-02-28 16:08] Rishgod commented on #2605
Looks good I'd like to work on it!

[2020-02-28 16:19] bedwardly-down commented on #2518
Slightly bad news. I had to do a full reinstall this morning. Something in my system got corrupted after an update and it ended up breaking quite a bit but luckily most of my important stuff was backed up elsewhere and it didn't take too long to get back up and running. I'm heading to work, so it'll be later before i can resume my tests.

[2020-02-28 16:34] duarteocarmo commented on #2604
I’m gonna go ahead and say it’s probably because of some icon asset having transparency.

Reference: https://stackoverflow.com/questions/26014461/black-border-on-my-ios-icon

[2020-02-28 17:19] laurent22 commented on #2607
Maybe try to always keep the console open to see if there's any error or warning when it happens. https://joplinapp.org/debugging

[2020-02-28 17:24] duarteocarmo commented on #2604
Yeah, definitely has https://fotoforensics.com/analysis.php?id=2633261c933e7934408991413711802323184780.11938&show=ela

[2020-02-28 17:26] duarteocarmo commented on #2604
Would love to pull request if someone can confirm issue!

[2020-02-28 17:37] Runo-saduwa opened #2608 "ctrl + L and toggle editor layout button is not disabled in empty notebook"
## Environment

Joplin version: Joplin 1.0.178
Platform:  Windows
OS specifics: Windows 10

I'm not sure if this was deliberately designed to do this,  **but ctrl + L and  toggle layout button is not disabled in an empty notebook** (notebook without notes), the Pane toggle icon is disabled when a notebook is empty and i believe this should also apply to the shortcut associated with this functional

[2020-02-28 17:38] Runo-saduwa commented on #2608
I would like to work on this if it is indeed a bug

[2020-02-28 18:35] Rishgod commented on #2605
Suggestion rather than incorporating a button incorporate a drop-down button which has all the monospace fonts.
<br>
![slider](https://user-images.githubusercontent.com/54576074/75577010-0e95bb00-5a87-11ea-8315-97e3015e8204.gif)

What do you think about it?

[2020-02-28 20:35] wedvjin opened #2611 "Back button iOS"
## Environment

Joplin version: 10.0.43
Platform: iOS
OS specifics: iPhone SE

## Steps to reproduce

1. Open the note
2. Edit it
3. Go back
4. Pop up message to keep changes
5. Staying on the same note, as in not going back to the list of notes

## Describe what you expected to happen

You go back to the list of notes

## Logfile

[2020-02-28 23:25] EL-SHREIF commented on #375
Is this still available as GSoC project?

[2020-02-29 00:47] ChALkeR commented on #2507
Electron 7.1.14 is out, it fixes this specific issue.
Note that #2518 likely is still present there.

I highly suggest updating to 7.1.14 though to get at least this specific issue out of equation.

[2020-02-29 01:39] laurent22 commented on #2605
Dropdown lists with type-in introduce all kind of problems so I prefer a separate button for now.

[2020-02-29 02:38] bedwardly-down commented on #2518
For anyone else that wants to do kernel tests in the future, clang and ccache are amazing at speeding up test builds drastically. They're not recommended at all for main usage but i made enough today i can spend tomorrow cracking down further on it. We'll figure this all out. ☺️

[2020-02-29 04:49] Liuhaai commented on #2528
I build a portable program from latest code (https://drive.google.com/file/d/1yMjc_8h1krFgxbf7vtVlYnxcPgwP2lBm/view?usp=sharing). Could you test on it?

[2020-02-29 06:23] mhimanshu712 opened #2614 "Uneven Behavior of List Elements"
An issue with ElectronClient.

After adding a few elements in a list item ( NumberList, BulletedList ), if we **press the Enter key**, the **last unused row should get deleted automatically** which doesn't happen in Joplin.<br><br>

Here is how it behaves:<br>
![jopnote](https://user-images.githubusercontent.com/41316051/75602267-87c5fa00-5ae9-11ea-907f-09f769e20d19.gif)

Here is how it should beh

[2020-02-29 06:24] mhimanshu712 commented on #2614
Also, I would like to work on it.

[2020-02-29 06:45] rabeehrz opened #2615 "Desktop: Header Bar title disappears on switching themes"
While switching themes, the title for menu bar items ( Toggle Sidebar, New Notebook etc.)
The titles come back when I restart the App.

[![bugc9d94c3b9de67ad0.gif](https://s5.gifyu.com/images/bugc9d94c3b9de67ad0.gif)](https://gifyu.com/image/IzpE)

## Steps to reproduce

1. Open Joplin
2. Go to Appearance and change theme
3. Go back and see the bug

## Environment

Joplin version: Joplin 1.0.185 (

[2020-02-29 06:46] rabeehrz commented on #2615
I would like to work on this issue if this is a bug.

[2020-02-29 06:52] tessus opened #2616 "expand tree when cilcking on 'In: Folder ...' in search result"
## Environment

Joplin version: 1.0.179 and git master 6542a60d
Platform: macOS (but irrelevant)
OS specifics: 10.14.6

## Steps to reproduce

1. create a folder (`A`) with a sub-folder (`A.1`) and a sub-sub-folder (`A.1.1`)
2. create a note `xyz` in `A.1.1`
3. collapse the folders and sub-folder in `A`
4. global search: `xyz`
5. click on the folder icon `In: Folder A.1.1`
<img width="125" alt="im

[2020-02-29 06:59] rabeehrz commented on #2616
I will look into this.

[2020-02-29 07:47] mhimanshu712 opened #2617 "External File Button Not Working Properly"
### An ElectronClient Issue:

After clicking on "_Edit Text In External Editor_" button, the button text changes to "_watching..._" , but after closing the external editor, the text doesn't change back to "_Edit Text In External Editor_".

Here is a screenshot:<br><br>
![watch](https://user-images.githubusercontent.com/41316051/75603635-40923600-5af6-11ea-8627-7b3306810f77.gif)

[2020-02-29 07:52] mhimanshu712 commented on #2617
Also I would like to work on it.
@PackElend

[2020-02-29 09:02] vsimkus opened #2618 "Renaming a Tag adds it to SelectedNoteTags list regardless if such a NoteTag exists"
## Environment

Joplin version: 1.0.178
Platform: Linux
OS specifics: Debian Bullseye (Testing)

## Steps to reproduce

1. Create a note and attach a tag.
2. Create another note without tags.
3. Rename the tag using the sidebar context menu.

Renaming a tag adds it to the top editor bar even though the note is not tagged with this particular tag. The note is not actually tagged, it only shows up i

[2020-02-29 09:27] PackElend commented on #2617
please go ahead

[2020-02-29 09:29] PackElend commented on #2614
second is how I'm used to it in MS TEAMS,
go ahead

[2020-02-29 10:58] Runo-saduwa commented on #2608
@tessus can i go ahead with this?

[2020-02-29 10:59] laurent22 commented on #2618
Indeed there's a bug here.

[2020-02-29 11:00] laurent22 commented on #2617
It works as expected as we can tell when a file has been closed in an editor (they aren't all modal editors).

[2020-02-29 11:00] #2617 closed

[2020-02-29 11:07] PackElend commented on #2617
can't you watch local processes and listen to the one called by Joplin?

[2020-02-29 11:25] laurent22 commented on #2617
No, there are too many edge cases:

- Most editors aren't modal, so even if the file is closed, the process might still be open

- Some editors (like Sublime) starts a process to open the file, then open a second process and close the first one, so we wouldn't know what the second process is. And it doesn't matter what it is anyway because it won't tell you whether the file is still open or not.

[2020-02-29 12:02] Rishgod commented on #2618
@vsimkus I'll look into it, thanks for pointing it out

[2020-02-29 12:38] IzzySoft commented on #15
@lord-aerion Well, while that's true, inclusion criteria for my repo are less strict than those on f-droid.org. While I do my best to assure I don't "serve shit" (scanning via VirusTotal, checking contained libraries, etc), I do not compile myself from the code nor I'm a developer with "deep insight". So I understand when people trust my repo less (applies to my person as well: I prefer apps to go

[2020-02-29 17:59] tessus commented on #2608
Let's wait for Laurent's input.

[2020-02-29 18:51] tessus commented on #2615
As a matter of fact this also happens in other situations. I haven't been able to reproduce it, because it only happens intermittently. I guess the PR might fix those issues as well.

[2020-02-29 20:04] Runo-saduwa commented on #2608
Alright then

[2020-02-29 20:41] AkshatSachan commented on #2605
@laurent22  @PackElend  I would like to work on this issue. Can you assign it to me.

[2020-02-29 20:43] AkshatSachan commented on #2605
@laurent22 @PackElend , I would like to work on this issue.
Can you please assign it to me.

[2020-02-29 20:44] rabeehrz commented on #2605
@AkshatSachan Hey I think @Rishgod is working on this.

[2020-02-29 21:24] AkshatSachan commented on #2605
Ok , thats fine I will look into some other issue.

[2020-03-01 01:11] bedwardly-down commented on #2518
Alright, so I've found a faster, better way to test this and other similar bugs.

1. `rm -rfv ~/.config/joplin-desktop`
2. `mkdir -pv ~/Documents/Export`
3. Load joplin however you may (preferably with debug turned on)
4. Open Tools=>Options
5. Set Synchronization to Filesystem
6. Set filesystem to `/home/<your username>/Documents/Export`
7. Start duplicating the Welcome Notes / Notebook until the

[2020-03-01 01:33] LWF666 opened #2621 "On my ArchLinux"
I installed  joplin with "pacman -S joplin",then I open the joplin,It happened a Fatal Error，
this is the screenshot：
 [joplin-1](https://cdn.lovezy.online/joplin-1.png)
 [joplin-2](https://cdn.lovezy.online/joplin-2.png)
 [joplin-3](https://cdn.lovezy.online/joplin3.png)

Can who help me?Thanks!

[2020-03-01 05:01] tessus commented on #2621
⚠🚨⛔ The issue tracker is not for questions. ⛔🚨⚠

As it happens, support requests that are created as issues are likely to be closed. We want to make sure you are able to find the help you seek.

## Questions and Help

Please read the [documentation](https://joplinapp.org/) and [FAQ](https://joplinapp.org/faq/) first.

### https://discourse.joplinapp.org/

If you have still questions related to Jop

[2020-03-01 05:01] #2621 closed

[2020-03-01 08:35] daukadolt commented on #2605
@Rishgod can you comment on your status? Because I'm halfway there, and I thought that you were working on [this](https://github.com/laurent22/joplin/issues/2618) issue

[2020-03-01 10:03] Rishgod commented on #2605
@daukadolt you can go ahead with completing this, I'm just done 20% :)

[2020-03-01 10:07] daukadolt commented on #2605
thanks @Rishgod :)

[2020-03-01 10:32] ges7 opened #2622 "Rendering problem with matrices"
Hello,
There is an issue when rendering a matrix or column vector. The matrix renders like this :
![wrong_render](https://user-images.githubusercontent.com/1526152/75623975-17ce7700-5bb0-11ea-9af4-acb0bdd992cc.PNG)

## Environment

Joplin version: 1.0.179 (prod, win32)
Platform: win32
OS specifics: Windows 10

## Steps to reproduce

1. Create a markdown note
2. Write in it :
[code]
3. See the resu

[2020-03-01 11:12] #2615 closed

[2020-03-01 11:37] laurent22 commented on #2622
Should be fixed in next version.

[2020-03-01 11:37] #2622 closed

[2020-03-01 16:57] TheManchineel opened #2625 "Unexpected behavior when exporting from menu/window bar dropdown as opposed to secondary click context menu"
When I select a note to view it, then click on the "File" button in the menu bar and choose Export --> JEX, Joplin exports a JEX containing all of my notebooks, containing all of my notes. When I right click on an entry in the sidebar, instead, Joplin only exports the selected entry.
It seems weird for Joplin to behave like this and it might lead to a user accidentally sending confidential informa